.loading-indicator {
    height: 80px;
    width: 80px;
    z-index: 1000001 !important;
}

.loading-indicator-overlay {
    background-color: #FFFFFF;
    opacity: 0.6;
    filter: alpha(opacity = 60);
    z-index: 1000002 !important;
}

.bubblingG {
    text-align: center;
    width:60px;
    height:38px;
    z-index: 1000003 !important;
}

.bubblingG span {
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 8px;
    margin: 19px auto;
    background: #000000;
    -moz-border-radius: 38px;
    -moz-animation: bubblingG 1.1s infinite alternate;
    -webkit-border-radius: 38px;
    -webkit-animation: bubblingG 1.1s infinite alternate;
    -ms-border-radius: 38px;
    -ms-animation: bubblingG 1.1s infinite alternate;
    -o-border-radius: 38px;
    -o-animation: bubblingG 1.1s infinite alternate;
    border-radius: 38px;
    animation: bubblingG 1.1s infinite alternate;
}

#bubblingG_1 {
    -moz-animation-delay: 0s;
    -webkit-animation-delay: 0s;
    -ms-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
}

#bubblingG_2 {
    -moz-animation-delay: 0.33s;
    -webkit-animation-delay: 0.33s;
    -ms-animation-delay: 0.33s;
    -o-animation-delay: 0.33s;
    animation-delay: 0.33s;
}

#bubblingG_3 {
    -moz-animation-delay: 0.66s;
    -webkit-animation-delay: 0.66s;
    -ms-animation-delay: 0.66s;
    -o-animation-delay: 0.66s;
    animation-delay: 0.66s;
}

@-moz-keyframes bubblingG {
    0% {
        width: 8px;
        height: 8px;
        background-color:#000000;
        -moz-transform: translateY(0);
    }

    100% {
        width: 18px;
        height: 18px;
        background-color:#FFFFFF;
        -moz-transform: translateY(-16px);
    }
}

@-webkit-keyframes bubblingG {
    0% {
        width: 8px;
        height: 8px;
        background-color:#000000;
        -webkit-transform: translateY(0);
    }

    100% {
        width: 18px;
        height: 18px;
        background-color:#FFFFFF;
        -webkit-transform: translateY(-16px);
    }
}

@-ms-keyframes bubblingG {
    0% {
        width: 8px;
        height: 8px;
        background-color:#000000;
        -ms-transform: translateY(0);
    }

    100% {
        width: 18px;
        height: 18px;
        background-color:#FFFFFF;
        -ms-transform: translateY(-16px);
    }
}

@-o-keyframes bubblingG {
    0% {
        width: 8px;
        height: 8px;
        background-color:#000000;
        -o-transform: translateY(0);
    }

    100% {
        width: 18px;
        height: 18px;
        background-color:#FFFFFF;
        -o-transform: translateY(-16px);
    }
}

@keyframes bubblingG {
    0% {
        width: 8px;
        height: 8px;
        background-color:#000000;
        transform: translateY(0);
    }

    100% {
        width: 18px;
        height: 18px;
        background-color:#FFFFFF;
        transform: translateY(-16px);
    }
}
