{% extends "::base.html.twig" %}
{% set activePage = 'Busqueda' %}

{# content #}
{% block content %}

    <div id="content">
        <div class="page-header">
            <div class="pull-left">
                <h4><i class="icon-table"></i> Actividades de empresas</h4>
            </div>
            <div class="pull-right">
                <ul class="bread">
                    <li><a href="dashboard.html">Administración</a><span class="divider">/</span></li>
                    <li class='active'>Actividad de empresa</li>
                </ul>
            </div>
        </div>

        <div class="container-fluid" id="content-area">
            <div class="row-fluid">
                <div class="span12">
                    <div class="crm-box">
                        <div class="crm-box-head">
                            <i class="icon-table"></i>
                            <span>Lista de actividades de empresas</span>
                        </div>
                        <div class="crm-box-body crm-box-body-nopadding">
                            <div id="{{ ptwGridOptionsGenerator.containerId }}"></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <a href="#" class="button button-basic-green">Agregar</a>
                                    <a href="#" class="button button-basic-blue">Guardar cambios</a>
                                    <a href="#" class="button button-basic-red">Borrar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{# javascripts #}
{% block javascripts %}
    {{ parent() }}
    {% include 'ComponentsEJSTreeGridBundle::createGrid.js.twig' with {
        'gridContainerId' : ptwGridOptionsGenerator.containerId, 
        'gridOptions'     : ptwGridOptionsGenerator.options,
        'gridId'          : ptwGridOptionsGenerator.gridId         }
    %}
{% endblock javascripts %}