<div class="crm-box-body crm-box-body-nopadding crm-box-toolbar crm-box-pa" >
    <div class="row-fluid">
        <div class="container-fluid">
            <div class="pull-left">
                {% if ptwModulo is defined and ptwModulo == 'Matriculados' %}
                    {% if 'PROGRAMA_ACADEMICO_COPIAR_A_ACTI' in _USER_PERMITS %}
                    {# Copiar #}
                    <div class="btn-group">
                        <div class="dropdown">
                            <a href="#" class="button button-basic" data-toggle="dropdown"><i class="icon-copy"> </i> Copiar en <span class="caret"></span></a>
                            <ul class="dropdown-menu" style="top: inherit; bottom: 100%;">
                                <li>
                                    <a href="#" id="uiBtnCopyPAToActi" data-grid-id="{{ptwGridOptionsGenerator.gridId}}">ACTI</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                {% endif %}
                
                {# Ver #}
                <button 
                    id="uiVerInformacionPA" 
                    data-grid-id="{{ptwGridOptionsGenerator.gridId}}" 
                    class="button button-basic" 
                    title="Información del contacto" >
                    <i class="icon-search"></i> Ver
                </button>

                {% if ptwModulo is defined and ptwModulo != 'Eliminados' %}
                    {% if 'PROGRAMA_ACADEMICO_REGISTRAR' in _USER_PERMITS %}
                    {# Agregar #}
                    <button 
                        id="uiBtnRegistrarPA" 
                        data-grid-id="{{ptwGridOptionsGenerator.gridId}}" 
                        class="button button-basic-green" 
                        title="Agregar nuevo contacto de PA">
                        <i class="icon-plus-sign"></i> Agregar
                    </button>
                    {% endif %}
                
                    {% if 'PROGRAMA_ACADEMICO_MODIFICAR' in _USER_PERMITS %}
                    {# Modificar PA #}
                    <button 
                        id="uiBtnModificarPA" 
                        data-grid-id="{{ptwGridOptionsGenerator.gridId}}" 
                        class="button button-basic-blue" 
                        title="Modificar contacto de Programa Académico">
                        <i class="icon-edit"></i> Modificar
                    </button>
                    {% endif %}

                    {% if 'PROGRAMA_ACADEMICO_ELIMINAR' in _USER_PERMITS %}
                    {# Eliminar PA #}
                    <button 
                        id="uiBtnEliminarPA" 
                        data-grid-id="{{ptwGridOptionsGenerator.gridId}}" 
                        class="button button-basic-red" 
                        title="Eliminar contacto de Programa Académico">
                        <i class="icon-trash"></i> Eliminar
                    </button>
                    {% endif %}
                {% endif %}
            </div>
            <div class="pull-right">
                {# Seguimientos #}                    
                <div class="btn-group">
                    <div class="dropdown">
                        <a href="#" class="button button-basic" data-toggle="dropdown" ><i class="icon-edit"> </i> Seguimientos <span class="caret"></span></a>
                        <ul class="dropdown-menu" style="top: inherit; bottom: 100%;">
                            <li>
                                {# Ver #}
                                <a 
                                href="#" 
                                id="uiBtnVerSeguimientosPA" 
                                data-grid-id="{{ptwGridOptionsGenerator.gridId}}" 
                                data-loading-opening-to="#content-area" > 
                                    <i class="icon-search"></i> Ver
                                </a>
                            </li>
                            <li>
                                {# Agregar #}
                                <a 
                                href="#"
                                id="uiBtnAgregarSeguimientoPA"
                                title="Agregar seguimiento" 
                                data-grid-id="{{ptwGridOptionsGenerator.gridId}}" 
                                data-loading-opening-to="#content-area" 
                                data-alert-success-to="#content-area" >
                                    <i class="icon-plus-sign"></i> Agregar
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                    
                {# Matriculas #}
                <button id="uiBtnAdminMatriculaPA" data-grid-id="{{ptwGridOptionsGenerator.gridId}}" class="button button-basic" title="Administrar matriculas"><i class="icon-edit"></i> Matriculas</button>
            </div>
        </div>
    </div>
</div>