/* -----------------------------------------------------------------------*/
/* ---------------- "Borders" TreeGrid style definition ------------------*/
/* -----------------------------------------------------------------------*/

/* ------------- Base tags ------------- */

.GBImage { padding-bottom:100%; padding-bottom:256px!IE; }
.GBNone { display:none; }
.GBSection,.GBSectionFF3 { table-layout:fixed; width:0px; font-size:1px; }
.GBSectionFF3 { border-collapse:collapse; }

/* -------------- Sections ------------------ */

.GBMainTable { border-left:1px solid #A39282; border-right:1px solid #A39282; border-collapse:separate; text-align:left; background:white; line-height: normal; }
.GBBodyLeft,.GBBodyMid,.GBBodyRight,.GBHeadLeft,.GBHeadMid,.GBHeadRight,.GBFootLeft,.GBFootMid,.GBFootRight {
   border:1px solid #A39282; margin:5px; padding:5px; 
   }
.GBBodyLeft,.GBBodyMid,.GBBodyRight { border-top:1px solid #A39282; }
.GBHeadLeft,.GBHeadMid,.GBHeadRight { }
.GBFootLeft,.GBFootMid,.GBFootRight { border-top:1px solid #A39282; }
.GBHeadLeft,.GBBodyLeft,.GBFootLeft { }	
.GBHeadMid,.GBBodyMid,.GBFootMid {  }
.GBHeadRight,.GBBodyRight,.GBFootRight { }
.GBLeftSplitter,.GBRightSplitter,.GBLeftSplitterTouch,.GBRightSplitterTouch { width:3px; background:#A39282; overflow:hidden; cursor:e-resize; }
.GBLeftSplitterTouch,.GBRightSplitterTouch { width:15px; }
.GBLeftSplitter,.GBLeftSplitterTouch { }
.GBRightSplitter,.GBRightSplitterTouch { }
.GBSplitterDisabled { background:white; cursor:default }
.GBVScroll { margin:5px; padding:2px; border:1px solid #A39282; } 
.GBHScrollLeft,.GBHScrollMid,.GBHScrollRight,.GBHScrollWide,
.GBHScrollLeftResize,.GBHScrollRightResize,.GBHScrollMidLeftResize,.GBHScrollMidRightResize,
.GBHScrollLeftResizeTouch,.GBHScrollRightResizeTouch,.GBHScrollMidLeftResizeTouch,.GBHScrollMidRightResizeTouch {
   margin:5px; padding:2px; border:1px solid #A39282; cursor:default; 
   }
.GBHScrollLeftResize,.GBHScrollMidRightResize,.GBHScrollLeftResizeTouch,.GBHScrollMidRightResizeTouch { border-right:1px dotted red; }
.GBHScrollRightResize,.GBHScrollMidLeftResize,.GBHScrollRightResizeTouch,.GBHScrollMidLeftResizeTouch { border-left:1px dotted red; }
.GBHScrollHidden { background:#F4F4F4; }
.GBScrollSafariMac div::-webkit-scrollbar { -webkit-appearance: none; width: 11px; height: 11px; } 
.GBScrollSafariMac div::-webkit-scrollbar-thumb { border-radius: 8px; border: 2px solid white; background-color: rgba(0, 0, 0, .5); }
.GBXScroll { margin:8px; }
.GBPageFirst { padding-bottom:3px; border-top:1px solid #E8E4E2; }
.GBPage { border-top:1px dotted #A39282; padding-top:3px; padding-bottom:3px; }
.GBPageOne { border-top:1px solid #E8E4E2; }
.GBChildPart  { }

/* ------------- Round corners ------------- */

.GBTop { }
.GBTop1 { margin-left:5px; margin-right:5px; height:1px; background:#A39282; overflow:hidden; }
.GBTop2 { margin-left:3px; margin-right:3px; border-left:2px solid #A39282; border-right:2px solid #A39282; background:white; height:1px; overflow:hidden; }
.GBTop3 { margin-left:2px; margin-right:2px; border-left:1px solid #A39282; border-right:1px solid #A39282; background:white; height:1px; overflow:hidden; }
.GBTop4 { margin-left:1px; margin-right:1px; border-left:1px solid #A39282; border-right:1px solid #A39282; background:white; height:2px; overflow:hidden; }
.GBTop5 { display:none; }
.GBBottom { }
.GBBottom5 { margin-left:5px; margin-right:5px; height:1px; background:#A39282; overflow:hidden; }
.GBBottom4 { margin-left:3px; margin-right:3px; border-left:2px solid #A39282; border-right:2px solid #A39282; background:white; height:1px; overflow:hidden; }
.GBBottom3 { margin-left:2px; margin-right:2px; border-left:1px solid #A39282; border-right:1px solid #A39282; background:white; height:1px; overflow:hidden; }
.GBBottom2 { margin-left:1px; margin-right:1px; border-left:1px solid #A39282; border-right:1px solid #A39282; background:white; height:2px; overflow:hidden; }
.GBBottom1 { display:none; }

/* ------------- Rows ------------------ */
.GBSpaceRowHeight { height:21px; }
.GBRowHeight { height:18px; }
.GBRowHeightTouch { height:22px; }
.GBSpaceMargin { margin:0px; }
.GBSpaceMarginTouch { margin:5px; }

.GBSpaceRow {
   background:#F6F4F0; white-space:nowrap; font-size:1px; overflow:hidden; 
   padding-top:2px; padding-bottom:2px; padding-left:5px; padding-right:5px; margin:5px; border:1px solid #A39282; 
   }
.GBToolbarRow,.GBToolbar1Row,.GBToolbar2Row,.GBTopbarRow,.GBTopbar1Row,.GBTopbar2Row,.GBGroupRow,.GBSearchRow,.GBPagerRow {
   padding-left:11px; padding-right:5px; 
   background:url(Backgrounds.gif) repeat-x 0px -500px; white-space:nowrap;
   font-size:1px; padding-top:5px; padding-bottom:5px; overflow:hidden;
   }
.GBGroupRow,.GBPagerRow,.GBToolbar1Row,.GBTopbarRow,.GBTopbar1Row { background-position:0px -1751px; }
.GBToolbarRow { padding-left:3px; border-top:1px solid #A39282; }
.GBToolbar1Row, .GBToolbar2Row,.GBTopbar1Row,.GBTopbar2Row { padding-left:3px; }
.GBTopbarRow {  padding-left:3px; border-bottom:1px solid #A39282; }
.GBFillRow { }
.GBTabberRow { background: #F6F4F0; }
.GBRowAbove,.GBRowBelow { margin-left:5px; margin-right:5px; border-left:1px solid #BDB0A3; border-right:1px solid #BDB0A3; line-height: normal; }
.GBRowAbove { background:url(Backgrounds.gif) repeat-x 0px -1750px; margin-top:3px; overflow:hidden; }
.GBRowBelow { background:url(Backgrounds.gif) repeat-x 0px bottom; margin-bottom:3px; overflow:hidden; }
.GBNoDataRow { margin:5px; border:1px solid #A39282; padding:5px; color:gray; font-style:italic; }

/* ------------- Cell ------------- */

.GBCell,.GBCellPanel,.GBCellFilter,.GBCellFilterPanel,.GBHeaderDrag,.GBHeaderGroup,.GBCellUser { 
	border-bottom:1px solid #E8E4E2; border-right:1px solid #E8E4E2; border-left:0px none; border-top:0px none;
	vertical-align:top; white-space:nowrap; overflow:hidden; overflow:auto!IE; height:auto;
	}
.GBCellHeader,.GBCellHeaderPanel,.GBCellHeaderEmpty {
   vertical-align:top; white-space:nowrap; overflow:hidden; overflow:auto!IE; height:auto; 
   background:url(Backgrounds.gif) repeat-x 0px 0px;
   border-right:1px solid #e0e0ff; border-top:1px solid #EEF7FF; border-left:0px none; border-top:0px none;
   }
.GBCellHeaderPanel { padding-top:4px; }
.GBCellBorderFF3 { border-left:0px none; border-top:0px none; }

.GBCellSpace { vertical-align:top; padding-top:5px!important; }
.GBCellSpacePanel,.GBCellSpaceBool { vertical-align:top; }
.GBCellSpaceRadio { padding-top:3px!important;}
.GBCellSpaceEdit,.GBCellSpaceEditIcon  {
   vertical-align:top; padding-top:5px!important;
   background:white url(BackgroundsRight.gif) right 0px; border-bottom:1px solid #A39282; border-left:1px solid #A39282; border-top:none;
   }
.GBCellSpaceEditIcon  { padding-left:0px!important; }
.GBCellSpaceSelect  { vertical-align:top; background:url(BackgroundsRight.gif) right -250px!important; border-top:none; }
.GBSpaceSelectInner { border-left:1px solid #A39282; padding-top:5px!important; padding-bottom:3px!important; white-space:nowrap!important; }
.GBCellSpaceEditButton { vertical-align:top; padding-top:4px!important; border:1px solid #A39282!important; background-color:white!important; max-height:13px; }
.GBCellSpaceButtonButton { vertical-align:top; }
.GBCellSpaceButton { vertical-align:top; padding-top:5px!important; white-space:nowrap; }
.GBCellSpaceAbove { border-top:1px solid #A39282; }
.GBCellSpaceBelow { border-bottom:1px solid #A39282; }

.GBCellPanel { background:#E6E1DB url(Backgrounds.gif) no-repeat 0px -1000px; }
.GBCellPanel,.GBCellHeaderPanel { white-space:nowrap; direction:ltr; }
.GBCellFilterPanel { background:url(Backgrounds.gif) repeat-x 0px -505px; text-align:center; padding:0px; border-bottom:0px none; border-right:0px none; direction:ltr; }
.GBCellUser { background-color:#F0F0E0; }
.GBCellEmpty { }
.GBCellHeaderEmpty { }
.GBCellHidden { background:transparent!important; border-top:none!important; border-bottom:none!important; }

.GBHeaderButton { padding:0px; }
.GBHeaderGroup { font:13px "Microsoft Sans Serif",Verdana,Arial; background: #7FA9E6; color:White; padding-left:3px; }
.GBHeaderGroupFocus { background-color: #C0C0A0; }
.GBHeaderGroupDelete { background-color: #F0F0E0; color: #F0F0E0; }
.GBHeaderGroupCustom {
   font:italic 11px "Microsoft Sans Serif",Verdana,Arial;
   color:#BBB; padding-left:5px; cursor:default; white-space:nowrap; padding-top:3px;
   }
.GBHeaderDrag { background: #9FB9E9; cursor:default; overflow:hidden; }
.GBHeaderFocus { background: #9FB9E9; }
.GBPanel { padding-left:80px; }
.GBNoTreeLines1 { text-align:right; }
.GBNoTreeLines2 { text-align:right; vertical-align:middle; padding-top:0px; }
.GBNoTreeLines3 { text-align:left; }
.GBTree { padding-top:0px; white-space:nowrap; }
.GBSpannedTree { vertical-align:top; }
.GBCellClassInner { padding-top:0px; padding-bottom:0px; }

/* ------------- Inside cell ------------- */

.GBHtml,.GBText,.GBLines,.GBPass,.GBInt,.GBFloat,.GBDate,.GBLink,.GBImg,.GBRadio,.GBRadioText,.GBList,.GBEnum,.GBDropCols,.GBAbs,.GBPagerEdit,.GBUser,.GBChart {
   font-size:11px; font-family:"Microsoft Sans Serif",Verdana,Arial; white-space:nowrap;
   padding-left:3px; padding-right:3px; padding-top:2px; padding-bottom:2px;
   }
.GBInt,.GBFloat,.GBDate { text-align:right; }
.GBLines,.GBRadio,.GBHtml,.GBList { white-space:normal; }	
.GBImg,.GBHtml { padding-top:0px; padding-bottom:0px; }
.GBSelect { padding-top:2px; padding-bottom:2px; }
.GBChart { padding:5px!important; }
.GBPass { font-size:14px; padding:0px; padding-left:3px; }
.GBRadio,.GBRadioText { padding:0px; font-weight:normal!important; }
.GBBool { text-align:center; }
.GBIcon { background-repeat:no-repeat; }
.GBHidden { }
.GBHiddenSpace { display:none; }
.GBDropCols { padding-top:2px!important; }
.GBHeaderText { font:13px "Trebuchet MS", Tahoma, Arial; line-height:17px; color:#FFFFFF; padding-left:3px; padding-right:3px; padding-bottom:2px!important; padding-top:3px!important; }
.GBAbs { padding:0px; }
.GBUser { padding:0px; }
.GBPagerEdit { text-align:center; padding-top:3px; }
.GBRightButton { font:10px "Times New Roman"; padding:0px; height:17px; width:19px; margin:0px; }
.GBRightHtml { font:12px "Times New Roman"; }
.GBRightImg { font:12px "Times New Roman"; }
.GBMergedCellH { padding:0px; padding-right:5px; }
.GBMergedCellV { padding:0px; padding-bottom:1px; }

.GBWrap0 { white-space:nowrap; }
.GBWrap1 { white-space:normal; }
.GBAlignLeft { text-align:left; }
.GBAlignCenter { text-align:center; }
.GBAlignJustify { text-align:center; }
.GBAlignRight { text-align:right; }
.GBNoSpaceLeft { border-left:0px none; }
.GBNoSpaceRight { border-right:0px none; }
.GBCellRotate1 { vertical-align:bottom; padding-top:1px; padding-bottom:1px; text-align:left; }
.GBCellRotate2 { vertical-align:top; padding-top:1px; padding-bottom:1px; }
.GBCellRotate3 { vertical-align:middle; padding-top:1px; padding-bottom:1px; }
.GBRotate1IEHeader { background-color:#8D7A69; filter: progid:DXImageTransform.Microsoft.Chroma(color='#8D7A69') progid:DXImageTransform.Microsoft.BasicImage(rotation=3); overflow:hidden; }
.GBRotate1IE { background-color:#FFFFFF; filter: progid:DXImageTransform.Microsoft.Chroma(color='#FFFFFF') progid:DXImageTransform.Microsoft.BasicImage(rotation=3); overflow:hidden; }
.GBRotate1 { -ms-transform:rotate(-90deg); -moz-transform:rotate(-90deg); -webkit-transform: rotate(-90deg); -o-transform: rotate(-90deg); }
.GBRotate2 { text-align:left; writing-mode:tb-rl; -moz-transform:rotate(-270deg); -webkit-transform: rotate(-270deg); -o-transform: rotate(-270deg); }

/*--------------- Pages type cell ----------------- */

.GBPages { overflow:visible; padding-left:3px; padding-right:3px; padding:0px!important; }
.GBPagesLink,.GBPagesLinkActive {
   padding-left:2px; padding-right:1px; padding-top:2px; padding-bottom:2px; margin-top:2px; margin-bottom:2px;
   display:inline-block; font:11px "Microsoft Sans Serif",Verdana,Arial; cursor:pointer; _cursor:hand; color:blue;
   }
/* The :hover remarkably slows down every grid in IE strict mode   
.GBPagesLink:visited { color:blue; }
.GBPagesLink:hover { color:red; }*/
.GBPagesLinkActive { color:black; font-weight:bold; border:1px dotted black; margin-top:1px; margin-bottom:1px; }

/*--------------- Gantt type cell ----------------- */

.GBGantt { border:0px none; padding:0px; border-right:1px solid #e0e0ff; cursor:default; background:transparent; -webkit-user-select:none; -moz-user-select:none; }
.GBGantt0Out,.GBGantt10Out,.GBGantt90Out,.GBGantt100Out,.GBGanttNullOut,.GBGanttHtmlOut {
   border-top:1px solid white; border-left:1px solid white; border-bottom:2px solid #CCC; border-right:2px solid #CCC; 
   margin-top:2px; padding:1px; background:#A39282; overflow:hidden;
   }  
.GBGanttHtmlOut { margin-left:1px; margin-right:1px; }
.GBGanttHoverOut { margin-top:1px; padding:2px; background:#A00; margin-left:0px; margin-right:0px; overflow:hidden; }
.GBGantt10Out { padding-left:0px; border-left:0px none; }
.GBGantt90Out { padding-right:0px; border-right:0px none; }
.GBGantt0In,.GBGantt10In,.GBGantt90In,.GBGantt100In,.GBGanttNullIn,
.GBGantt0InErr,.GBGantt10InErr,.GBGantt90InErr,.GBGantt100InErr,.GBGanttNullInErr,
.GBGantt0InCrit,.GBGantt10InCrit,.GBGantt90InCrit,.GBGantt100InCrit,.GBGanttNullInCrit { height:9px; overflow:hidden; font-size:1px; }
.GBGantt0In { background:#08F; }
.GBGantt0InErr { background:#F00; }
.GBGantt0InCrit { background:#FA0; }
.GBGantt10In { background:#00F; }
.GBGantt10InErr { background:#B00; }
.GBGantt10InCrit { background:#D80; }
.GBGantt90In,.GBGantt90InErr,.GBGantt90InCrit { background:#0B0; }
.GBGantt100In,.GBGantt100InErr,.GBGantt100InCrit { background:#0F0; }
.GBGanttNullIn { background:#777; }
.GBGanttNullInErr { background:#F00; }
.GBGanttNullInCrit { background:#FA0; }
.GBGanttHtmlIn { background:#EEE; overflow:hidden; font-size:9px; font-family:"Microsoft Sans Serif",Verdana,Arial; white-space:nowrap; }
.GBGanttG0In { background:#FFF; }
.GBGanttG0InCrit { background:#FD8; }
.GBGanttG0InErr { background:#FCC; }
.GBGanttG10In { background:#EEE; }
.GBGanttG10InCrit { background:#FC6; }
.GBGanttG10InErr { background:#FAA; }
.GBGanttG90In,.GBGanttG90InErr,.GBGanttG90InCrit { background:#666; }
.GBGanttG100In,.GBGanttG100InErr,.GBGanttG100InCrit { background:#000; }
.GBGanttGNullIn { background:#FFF; }
.GBGanttGNullInErr { background:#F88; }
.GBGanttGNullInCrit { background:#FD8; }
.GBGanttRed0In,.GBGanttRed10In { background:white; } .GBGanttRed90In,.GBGanttRed100In,.GBGanttRedNullIn { background:red; }
.GBGanttBlue0In,.GBGanttBlue10In { background:white; } .GBGanttBlue90In,.GBGanttBlue100In,.GBGanttBlueNullIn { background:blue; }
.GBGanttGreen0In,.GBGanttGreen10In { background:white; } .GBGanttGreen90In,.GBGanttGreen100In,.GBGanttGreenNullIn { background:green; }
.GBGanttFuchsia0In,.GBGanttFuchsia10In { background:white; } .GBGanttFuchsia90In,.GBGanttFuchsia100In,.GBGanttFuchsiaNullIn { background:fuchsia; }
.GBGanttAqua0In,.GBGanttAqua10In { background:white; } .GBGanttAqua90In,.GBGanttAqua100In,.GBGanttAquaNullIn { background:aqua; }
.GBGanttLime0In,.GBGanttLime10In { background:white; } .GBGanttLime90In,.GBGanttLime100In,.GBGanttLimeNullIn { background:lime; }
.GBGanttMaroon0In,.GBGanttMaroon10In { background:white; } .GBGanttMaroon90In,.GBGanttMaroon100In,.GBGanttMaroonNullIn { background:maroon; }
.GBGanttNavy0In,.GBGanttNavy10In { background:white; } .GBGanttNavy90In,.GBGanttNavy100In,.GBGanttNavyNullIn { background:navy; }
.GBGanttOlive0In,.GBGanttOlive10In { background:white; } .GBGanttOlive90In,.GBGanttOlive100In,.GBGanttOliveNullIn { background:olive; }
.GBGanttOrange0In,.GBGanttOrange10In { background:white; } .GBGanttOrange90In,.GBGanttOrange100In,.GBGanttOrangeNullIn { background:orange; }
.GBGanttPurple0In,.GBGanttPurple10In { background:white; } .GBGanttPurple90In,.GBGanttPurple100In,.GBGanttPurpleNullIn { background:purple; }
.GBGanttSilver0In,.GBGanttSilver10In { background:white; } .GBGanttSilver90In,.GBGanttSilver100In,.GBGanttSilverNullIn { background:silver; }
.GBGanttTeal0In,.GBGanttTeal10In { background:white; } .GBGanttTeal90In,.GBGanttTeal100In,.GBGanttTealNullIn { background:teal; }
.GBGanttYellow0In,.GBGanttYellow10In { background:white; } .GBGanttYellow90In,.GBGanttYellow100In,.GBGanttYellowNullIn { background:yellow; }
.GBGanttBlack0In,.GBGanttBlack10In { background:white; } .GBGanttBlack90In,.GBGanttBlack100In,.GBGanttBlackNullIn { background:black; }
.GBGanttGray0In,.GBGanttGray10In { background:white; } .GBGanttGray90In,.GBGanttGray100In,.GBGanttGrayNullIn { background:gray; }
.GBGanttWhite0In,.GBGanttWhite10In,.GBGanttWhite90In,.GBGanttWhite100In,.GBGanttWhiteNullIn { background:white; } 
.GBGanttWhite90In { border-right:1px solid black; margin-right:1px; } .GBGanttWhite10In { border-left:1px solid black; }
.GBGanttOutLeft,.GBGanttOutRight,.GBGanttHtmlOutLeft,.GBGanttHtmlOutRight { background:url(Gantt.gif) no-repeat -293px 0px; width:20px; height:16px; overflow:hidden; }
.GBGanttOutRight { background-position: -353px 0px; }
.GBGanttHtmlOutLeft { background-position: -292px 0px; }
.GBGanttHtmlOutRight { background-position: -354px 0px; }
.GBGanttCustomOutLeft,.GBGanttCustomOutRight { height:16px; overflow:hidden; background-repeat:no-repeat; }

.GBGanttFlowOut,.GBGanttFlowHtmlOut { margin-top:6px; border:1px solid black; overflow:hidden; }
.GBGanttFlowHtmlOut { margin-left:1px; margin-right:1px; }
.GBGanttFlowHover { margin-top:5px; border:2px solid red; margin-left:0px; margin-right:0px; overflow:hidden; }  
.GBGanttFlowIn,.GBGanttFlowInCrit,.GBGanttFlowInErr { height:3px; overflow:hidden; background:yellow; font-size:1px; }
.GBGanttGFlowIn { background:white; }
.GBGanttFlowInErr { background:#F55; }
.GBGanttFlowInCrit { background:#FA0; }
.GBGanttFlowHtmlIn { background:yellow; overflow:hidden; font-size:9px; font-family:"Microsoft Sans Serif",Verdana,Arial; white-space:nowrap; }

.GBFGanttBase { height:11px; margin:1px; border:1px solid; padding:1px; padding-left:2px; padding-right:2px; overflow:hidden; }
.GBFGanttRunEmpty,.GBFGanttRunBox,.GBFGanttRunSolid,.GBFGanttRunLeft,.GBFGanttRunRight,.GBFGanttRunFixed,
.GBFGanttRunBound,.GBFGanttRunBoundStart,.GBFGanttRunEnd,.GBFGanttRunEndStart,.GBFGanttRunNbsp,.GBFGanttRunComplete {
   border:1px solid #A39282; padding:1px; padding-left:2px; padding-right:2px; 
   overflow:hidden; font:10px Arial; white-space:nowrap;
   }
.GBFGanttRunGroupHover { border:2px solid brown!important; padding:0px!important; padding-left:1px!important;padding-right:1px!important; overflow:hidden; }
.GBFGanttRunHover { border:2px solid red!important; padding:0px!important; padding-left:1px!important;padding-right:1px!important; overflow:hidden; }
.GBFGanttRunEmpty { border:none; padding:2px; padding-left:3px; padding-right:3px; }
.GBFGanttRunNbsp { border:none; border-top:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; padding-left:3px; padding-right:3px; }
.GBFGanttRunBox { background:#D0FFFF; }
.GBFGanttRunSolid { background:#FFFFD0; }
.GBFGanttRunFixed,.GBFGanttRunLeft,.GBFGanttRunBound,.GBFGanttRunBoundStart { border-left-style:solid!important; border-left-width:3px!important; border-left-color:black; padding-left:0px!important;}
.GBFGanttRunFixed,.GBFGanttRunRight,.GBFGanttRunBound,.GBFGanttRunBoundStart { border-right-style:solid!important; border-right-width:3px!important; border-right-color:black; padding-right:0px!important; }
.GBFGanttRunFixed,.GBFGanttRunLeft,.GBFGanttRunRight { background:#C0C0C0; }
.GBFGanttRunBound,.GBFGanttRunBoundStart,.GBFGanttRunEnd,.GBFGanttRunEndStart { background:#80FF80; }
.GBFGanttRunComplete { background:#0F0; }

.GBGanttRunGroupHover { margin:0px!important; border:2px solid brown!important; padding:0px!important; overflow:hidden; }
.GBGanttRunHover { margin:0px!important; border:2px solid red!important; padding:0px!important; overflow:hidden; }  
.GBGanttRunEmptyOut,.GBGanttRunBoxOut,.GBGanttRunSolidOut,.GBGanttRunLeftOut,.GBGanttRunRightOut,.GBGanttRunFixedOut,
.GBGanttRunBoundOut,.GBGanttRunBoundStartOut,.GBGanttRunEndOut,.GBGanttRunEndStartOut,.GBGanttRunNbspOut,.GBGanttRunCompleteOut {
   border-right:2px solid #ddd; border-bottom:2px solid #ddd;
   background:#A39282; padding:1px;
   margin-top:1px; margin-left:1px; margin-right:1px; overflow:hidden; 
   }
.GBGanttRunEmptyIn,.GBGanttRunBoxIn,.GBGanttRunSolidIn,.GBGanttRunLeftIn,.GBGanttRunRightIn,.GBGanttRunFixedIn,
.GBGanttRunBoundIn,.GBGanttRunBoundStartIn,.GBGanttRunEndIn,.GBGanttRunEndStartIn,.GBGanttRunNbspIn,.GBGanttRunCompleteIn {
   height:12px; overflow:hidden; font:10px Arial; padding-left:1px; width:100%!IE; white-space:nowrap;
   }
.GBGanttRunEmptyOut { border:none; background:none; }
.GBGanttRunEmptyIn { }
.GBGanttRunNbspOut { border:none;  background:none; border-top:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; margin-left:0px; margin-right:0px; }
.GBGanttRunNbspIn { }
.GBGanttRunBoxOut { }
.GBGanttRunBoxIn { background:#D0FFFF; }
.GBGanttRunSolidOut { }
.GBGanttRunSolidIn { background:#FFFFD0; }
.GBGanttRunFixedOut,.GBGanttRunLeftOut,.GBGanttRunBoundOut,.GBGanttRunBoundStartOut { border-left-style:solid!important; border-left-width:3px!important; border-left-color:black; margin-left:-1px;}
.GBGanttRunFixedOut,.GBGanttRunRightOut,.GBGanttRunBoundOut,.GBGanttRunBoundStartOut { border-right-style:solid!important; border-right-width:3px!important; border-right-color:black; padding-right:0px; }
.GBGanttRunFixedIn,.GBGanttRunLeftIn,.GBGanttRunRightIn { background:#C0C0C0; }
.GBGanttRunBoundOut,.GBGanttRunBoundStartOut,.GBGanttRunEndOut,.GBGanttRunEndStartOut { }
.GBGanttRunBoundIn,.GBGanttRunBoundStartIn,.GBGanttRunEndIn,.GBGanttRunEndStartIn { background:#80FF80; }
.GBGanttRunCompleteIn { background:#0F0; }
.GBGanttRunRedIn,.GBFGanttRunRed { background:red; }
.GBGanttRunBlueIn,.GBFGanttRunBlue { background:blue; color:white; }
.GBGanttRunGreenIn,.GBFGanttRunGreen { background:green; color:white; }
.GBGanttRunFuchsiaIn,.GBFGanttRunFuchsia { background:fuchsia; }
.GBGanttRunAquaIn,.GBFGanttRunAqua { background:aqua; }
.GBGanttRunLimeIn,.GBFGanttRunLime { background:lime; }
.GBGanttRunMaroonIn,.GBFGanttRunMaroon { background:maroon; color:white; }
.GBGanttRunNavyIn,.GBFGanttRunNavy { background:navy; color:white; }
.GBGanttRunOliveIn,.GBFGanttRunOlive { background:olive; color:white; }
.GBGanttRunOrangeIn,.GBFGanttRunOrange { background:orange; }
.GBGanttRunPurpleIn,.GBFGanttRunPurple { background:purple; color:white; }
.GBGanttRunSilverIn,.GBFGanttRunSilver { background:silver; }
.GBGanttRunTealIn,.GBFGanttRunTeal { background:teal; color:white; }
.GBGanttRunYellowIn,.GBFGanttRunYellow { background:yellow; }
.GBGanttRunBlackIn,.GBFGanttRunBlack { background:black; color:white; }
.GBGanttRunGrayIn,.GBFGanttRunGray { background:gray; color:white; }
.GBGanttRunWhiteIn,.GBFGanttRunWhite { background:white; }
.GBGanttRunErrorIn,.GBFGanttRunError,.GBFGanttRunErrorIE { background:#FFA0A0;  }
.GBGanttRunCritIn,.GBFGanttRunCrit { background:#FA0; }
.GBGanttRunErrIn,.GBFGanttRunErr { background:#F55; }
.GBGanttRunJoinLeft,.GBFGanttRunJoinLeft { border-left:1px solid white; padding-left:0px; }
.GBGanttRunJoinRight,.GBFGanttRunJoinRight { border-right:1px solid white; padding-right:0px; }
.GBGanttRunMoveOut { border:2px solid #DDD; margin:0px; padding:0px; }
.GBGanttRunMoveIn { background:#F0F0F0; color:black; }
.GBGanttRunRemoveOut { border:2px solid #DDD; margin:0px; padding:0px; }
.GBGanttRunRemoveIn { background:red; color:black; }
.GBGanttRunCopyOut { border:2px solid blue; margin:0px; padding:0px; }
.GBGanttRunCopyIn { }
.GBGanttRunUnknownIn,.GBFGanttRunUnknown { background:black; color:White; font:bold 12px verdana;}

.GBFGanttRunMove { border:2px solid #DDD; padding:0px; padding-left:1px; padding-right:1px; background:#F0F0F0; color:black; }
.GBFGanttRunRemove { border:2px solid #DDD; padding:0px; padding-left:1px; padding-right:1px; background:red; color:black; }
.GBFGanttRunCopy { border:2px solid blue; padding:0px; padding-left:1px; padding-right:1px; }

.GBGanttMilestone,.GBGanttMilestone0,.GBGanttMilestone100,
.GBGanttMilestoneCrit,.GBGanttMilestone0Crit,.GBGanttMilestone100Crit,
.GBGanttMilestoneErr,.GBGanttMilestone0Err,.GBGanttMilestone100Err { 
   background:url(Gantt.gif) no-repeat; width:17px; height:17px; overflow:hidden; 
   }
.GBGanttMilestone { background-position: -900px 0px; }
.GBGanttMilestoneHover { background-position: -950px 0px; }
.GBGanttMilestone0 { background-position: -1100px 0px; }
.GBGanttMilestone0Hover { background-position: -1150px 0px; }
.GBGanttMilestone100,.GBGanttMilestone100Crit,.GBGanttMilestone100Err { background-position: -1800px 0px; }
.GBGanttMilestone100Hover,.GBGanttMilestone100CritHover,.GBGanttMilestone100CritHover { background-position: -1850px 0px; }
.GBGanttMilestoneCrit,.GBGanttMilestone0Crit { background-position:-1700px 0px; }
.GBGanttMilestoneCritHover,.GBGanttMilestone0CritHover { background-position: -1750px 0px; }
.GBGanttMilestoneErr,.GBGanttMilestone0Err { background-position:-1000px 0px; }
.GBGanttMilestoneErrHover,.GBGanttMilestone0ErrHover { background-position: -1050px 0px; }
.GBGanttGMilestone,.GBGanttGMilestone100,.GBGanttGMilestone100Crit,.GBGanttGMilestone100Err { background-position: 0px 0px; }
.GBGanttGMilestoneHover,.GBGanttGMilestone100Hover,.GBGanttGMilestone100CritHover,.GBGanttGMilestone100ErrHover { background-position: -50px 0px; }
.GBGanttGMilestone0 { background-position: -1600px 0px; }
.GBGanttGMilestone0Hover { background-position: -1650px 0px; }
.GBGanttGMilestoneCrit,.GBGanttGMilestone0Crit { background-position:-1400px 0px; }
.GBGanttGMilestoneCritHover,.GBGanttGMilestone0CritHover { background-position: -1450px 0px; }
.GBGanttGMilestoneErr,.GBGanttGMilestone0Err { background-position:-1300px 0px; }
.GBGanttGMilestoneErrHover,.GBGanttGMilestoneErr0Hover { background-position: -1350px 0px; }

.GBGanttFlag { background:url(Gantt.gif) no-repeat -100px 0px; background-color:transparent!important; width:16px; height:15px; overflow:hidden; }
.GBGanttFlagCustom { background-position:0px 0px!important; background-repeat:no-repeat; width:16px; height:15px; overflow:hidden; }
.GBGanttFlagHover { background-position:-150px 0px; background-color:red; }
.GBGanttFlagMenu { padding-right:16px; padding-bottom:256px; font:15px Arial; background-repeat:no-repeat; }

.GBGanttPoint1,.GBGanttPoint2,.GBGanttPoint3,.GBGanttPoint4,.GBGanttPoint5,.GBGanttPoint6,.GBGanttPoint7,.GBGanttPoint8 {
   background:url(Gantt.gif) no-repeat; width:17px; height:17px; overflow:hidden; 
   }
.GBGanttPointCustom { background-position:0px 0px!important; background-repeat:no-repeat; width:17px; height:17px; overflow:hidden; }  
.GBGanttPointCustomHover { background-color:red; }
.GBGanttPoint1 { background-position:-900px 0px; }
.GBGanttPoint1Hover { background-position: -950px 0px; }
.GBGanttPoint2 { background-position:-1000px 0px; }
.GBGanttPoint2Hover { background-position:-1050px 0px; }
.GBGanttPoint3 { background-position:-1100px 0px; }
.GBGanttPoint3Hover { background-position:-1150px 0px; }
.GBGanttPoint4 { background-position:-1200px 0px; }
.GBGanttPoint4Hover { background-position:-1250px 0px; }
.GBGanttPoint5 { background-position:-1300px 0px; }
.GBGanttPoint5Hover { background-position:-1350px 0px; }
.GBGanttPoint6 { background-position:-1400px 0px; }
.GBGanttPoint6Hover { background-position:-1450px 0px; }
.GBGanttPoint7 { background-position:-1500px 0px; }
.GBGanttPoint7Hover { background-position:-1550px 0px; }
.GBGanttPoint8 { background-position:-1600px 0px; }
.GBGanttPoint8Hover { background-position:-1650px 0px; }

.GBGanttMark,.GBGanttMark1,.GBGanttMark2,.GBGanttMark3,.GBGanttMark4,.GBGanttMark5,.GBGanttMark15 { height:500px; overflow:hidden; background:#880; }
.GBGanttMark1 { background:red; }
.GBGanttMark2 { background:green; }
.GBGanttMark3 { background:yellow; }
.GBGanttMark4 { background:black; }
.GBGanttMark5 { background:silver; }
.GBGanttMark6 { background:#F8F; margin-top:14px!important; height:2px!important; margin-bottom:-16px!important; }
.GBGanttMark7 { background:#0F0; margin-top:14px!important; height:2px!important; margin-bottom:-16px!important; }
.GBGanttMark8 { background:silver; margin-top:14px!important; height:2px!important; margin-bottom:-16px!important; }
.GBGanttMark9 { background:#F8F; margin-top:1px!important; height:2px!important; margin-bottom:-3px!important; }
.GBGanttMark10 { background:#0F0; margin-top:1px!important; height:2px!important; margin-bottom:-3px!important; }
.GBGanttMark11 { background:silver; margin-top:1px!important; height:2px!important; margin-bottom:-3px!important; }
.GBGanttMark12 { background:#F8F; margin-top:8px!important; height:1px!important; margin-bottom:-9px!important; }
.GBGanttMark13 { background:#0F0; margin-top:8px!important; height:1px!important; margin-bottom:-9px!important; }
.GBGanttMark14 { background:silver; margin-top:8px!important; height:1px!important; margin-bottom:-9px!important; }
.GBGanttMark15 { background:#FF00FF; }

.GBGanttResource { font:bold 12px "Times New Roman"; margin-top:1px; }
.GBGanttResourceChar { width:6px; }

.GBGanttAvailability { height:500px; background:#ACF; border:1px solid #88F; border-bottom:0px none; }
.GBGanttAvailabilityNeg { height:500px; background:#FCA; border:1px solid #F88; border-top:0px none; }
.GBGanttAvailabilityText,.GBGanttAvailabilityTextNeg { color:blue; background:none!important; text-align:center; font:bold 12px Arial; overflow:visible!important; white-space:nowrap; }
.GBGanttAvailabilityTextNeg { color:red; }
.GBGanttAvailabilityAxis { background:#CCC; }
.GBGanttAvailabilityTransparent { opacity:0.7; filter:alpha(opacity=70); }
.GBGanttAvailabilityRed { color:red; background:#F88; border-color:red; }
.GBGanttAvailabilityMaroon { color:maroon; background:#B77; border-color:maroon; }
.GBGanttAvailabilityOrange { color:orange; background:#FD8; border-color:orange; }
.GBGanttAvailabilityYellow { color:#CC0; background:#FF6; border-color:#CC0; }
.GBGanttAvailabilityOlive { color:olive; background:#CC8; border-color:olive; }
.GBGanttAvailabilityLime { color:#0D0; background:#8F8; border-color:#0D0; }
.GBGanttAvailabilityGreen { color:green; background:#6C6; border-color:green; }
.GBGanttAvailabilityAqua { color:#8DD; background:#8FF; border-color:#8DD; }
.GBGanttAvailabilityTeal { color:teal; background:#6CC; border-color:teal; }
.GBGanttAvailabilityBlue { color:blue; background:#99F; border-color:blue; }
.GBGanttAvailabilityNavy { color:navy; background:#66C; border-color:navy; }
.GBGanttAvailabilityFuchsia { color:fuchsia; background:#F8F; border-color:fuchsia; }
.GBGanttAvailabilityPurple { color:purple; background:#C6C; border-color:purple; }
.GBGanttAvailabilityBlack { color:#AAA; background:black; border-color:#AAA; }
.GBGanttAvailabilityGray { color:gray; background:#AAA; border-color:gray; }
.GBGanttAvailabilitySilver { color:silver; background:#DDD; border-color:silver; }
.GBGanttAvailabilityWhite { color:#CCC; background:#F8F8F8; border-color:#CCC; }
.GBGanttAvailabilityNB { border-top:0px none; border-bottom:0px none; }

.GBGanttDepFirst { height:500px; overflow:hidden; }
.GBGanttDepVert,.GBGanttDepVertBottom,.GBGanttDepVertTop,.GBGanttDepVertBottom2,.GBGanttDepVertTop2,.GBGanttDepVertBottom3 {
   border-left:1px solid #DDF; border-right:1px solid #BBF; background:blue; width:1px; overflow:hidden;
   }
.GBGanttDepVert { margin-top:-500px; height:500px; }
.GBGanttDepVertTop { margin-top:-500px; height:8px; margin-bottom:492px; }
.GBGanttDepVertTop2 { margin-top:-499px; height:7px; margin-bottom:492px; }
.GBGanttDepVertBottom { margin-top:-491px; height:491px; }
.GBGanttDepVertBottom2 { margin-top:-491px; height:8px; margin-bottom:483px; }
.GBGanttDepVertBottom3 { margin-top:-482px; height:482px; }
.GBGanttDepHorzIn { border-top:1px solid #DDF; border-bottom:1px solid #BBF; background:blue; margin-top:7px; overflow:hidden; }
.GBGanttDepHorzInLag { border-top:1px dotted blue; margin-top:8px; overflow:hidden; }
.GBGanttDepHorzTop { border-bottom:1px solid #BBF; background:blue; overflow:hidden; }
.GBGanttDepHorzBottom { border-top:1px solid #DDF; background:blue; margin-top:16px; overflow:hidden; }
.GBGanttDepHorzOut { margin-top:-500px; height:18px; margin-bottom:482px; overflow:hidden; font-size:1px; line-height:1px; }
.GBGanttDepErr { border-top-color:#FDD; border-bottom-color:#FBB; border-left-color:#FDD; border-right-color:#FBB; background:red; }
.GBGanttDepLagErr { border-color:red; }
.GBGanttDepIcon { margin-top:-500px; height:500px; overflow:hidden; }
.GBGanttDepArrowLeft,.GBGanttDepArrowRight,.GBGanttDepArrowErrLeft,.GBGanttDepArrowErrRight,
.GBGanttDepArrowLeftRtl,.GBGanttDepArrowRightRtl,.GBGanttDepArrowErrLeftRtl,.GBGanttDepArrowErrRightRtl {
   height:500px; background:url(Gantt.gif) no-repeat; overflow:hidden; 
   }
.GBGanttDepArrowLeft { background-position:-200px 0px; width:12px; }
.GBGanttDepArrowRight { background-position:-250px 0px; width:12px; }
.GBGanttDepArrowErrLeft { background-position:-400px 0px; width:12px; }
.GBGanttDepArrowErrRight { background-position:-450px 0px; width:12px; }
.GBGanttDepArrowLeftRtl { background-position:-250px 0px; width:12px; }
.GBGanttDepArrowRightRtl { background-position:-201px 0px; width:12px; }
.GBGanttDepArrowErrLeftRtl { background-position:-450px 0px; width:12px; }
.GBGanttDepArrowErrRightRtl { background-position:-401px 0px; width:12px; }
.GBGanttDepStart { width:4px; overflow:hidden; }
.GBGanttDepEnd { width:10px; overflow:hidden; }

.GBGanttMinStart,.GBGanttMaxStart,.GBGanttMinEnd,.GBGanttMaxEnd { background:url(Gantt.gif) no-repeat; width:7px; height:17px; overflow:hidden; }
.GBGanttMinStart { background-position:-500px 0px; }
.GBGanttMaxStart { background-position:-550px 0px; }
.GBGanttMinEnd { background-position:-600px 0px; }
.GBGanttMaxEnd { background-position:-650px 0px; }
.GBGanttMinStartHover { background-position:-700px 0px; }
.GBGanttMaxStartHover { background-position:-750px 0px; }
.GBGanttMinEndHover { background-position:-800px 0px; }
.GBGanttMaxEndHover { background-position:-850px 0px; }

.GBGanttBack { }
.GBGanttBackRow { background:white; }
.GBGanttBack0,.GBGanttBack1,.GBGanttBack2,.GBGanttBack3,.GBGanttBack4,.GBGanttBack5 { 
   height:500px; overflow:hidden; margin-left:auto; margin-right:auto; 
   }
.GBGanttBack0 { background:#FFF; }
.GBGanttBack1 { background:#E8E8E8; }
.GBGanttBack2 { background:#DDD; }
.GBGanttBack3 { background:#BBB; }
.GBGanttBack4 { background:#C72; }
.GBGanttBack5 { background:#27C; }

.GBGanttExclude,.GBGanttExcludeHidden { height:500px; overflow:hidden; background:#F3E2D2; margin-left:auto; margin-right:auto; }
.GBGanttExcludeHidden { background:#D8F8D8; }

.GBGanttBase,.GBGanttBaseAuto,.GBGanttFinish,.GBGanttFinishAuto { height:500px; overflow:hidden; border-left:2px solid #B77109; width:2px; margin-left:auto; margin-right:auto; }
.GBGanttFinishAuto,.GBGanttBaseAuto { border-left:1px solid #B77109; }

.GBGanttHeader { margin-left:-2px; margin-right:-4px; }
.GBGanttHeader1,.GBGanttHeader2,.GBGanttHeader3,.GBGanttHeader4,.GBGanttHeader5 {
   font:12px "Trebuchet MS", Tahoma, Arial; color:#FFFFFF;
   border-right:1px solid white; text-align:center; padding-left:1px; padding-right:1px;
   }
 
/* ------------- Tree Img with lines ------------- */

.GB000,.GB010,.GB001,.GB011,.GB100,.GB110,.GB101,.GB111, 
.GB000T,.GB010T,.GB001T,.GB011T,.GB100T,.GB110T,.GB101T,.GB111T,
.GB00,.GB01,.GB10,.GB11,
.GB00T,.GB01T,.GB10T,.GB11T,
.GB0T,.GB1T,.GB0TL,.GB1TL,.GB0C,.GB1C,.GB0CL,.GB1CL,.GB0E,.GB1E,.GB0EL,.GB1EL,
.GB0,.GB1,
.GBT,.GBTL,.GBC,.GBCL,.GBE,.GBEL,.GBD0,.GBD1,.GBD2,.GBD3,.GBD4,.GBD0L,.GBD1L,.GBD2L,.GBD3L,.GBD4L {   
   font-size:10px; background-image:url(Tree.gif); vertical-align:top;
   }

u.GB000,u.GB010,u.GB001,u.GB011,u.GB100,u.GB110,u.GB101,u.GB111 { padding-left:63px; }
u.GB000T,u.GB010T,u.GB001T,u.GB011T,u.GB100T,u.GB110T,u.GB101T,u.GB111T { padding-left:89px; }
u.GB00,u.GB01,u.GB10,u.GB11 { padding-left:42px; }   
u.GB00T,u.GB01T,u.GB10T,u.GB11T { padding-left:68px; }   
u.GB0T,u.GB1T,u.GB0TL,u.GB1TL,u.GB0C,u.GB1C,u.GB0CL,u.GB1CL,u.GB0E,u.GB1E,u.GB0EL,u.GB1EL { padding-left:47px; }   
u.GB0,u.GB1 { padding-left:21px; }
u.GBT,u.GBTL,u.GBC,u.GBCL,u.GBE,u.GBEL,u.GBD0,u.GBD1,u.GBD2,u.GBD3,u.GBD4,u.GBD0L,u.GBD1L,u.GBD2L,u.GBD3L,u.GBD4L { padding-left:26px; }   

.GB000,.GB000T { background-position:0px 0px; }
.GB010,.GB010T { background-position:-128px 0px; }
.GB001,.GB001T { background-position:-256px 0px; }
.GB011,.GB011T { background-position:-384px 0px; }
.GB100,.GB100T { background-position:-512px 0px; }
.GB110,.GB110T { background-position:-640px 0px; }
.GB101,.GB101T { background-position:-768px 0px; }
.GB111,.GB111T { background-position:-896px 0px; }

.GB00,.GB00T { background-position:-21px 0px; }
.GB10,.GB10T { background-position:-149px 0px; }
.GB01,.GB01T { background-position:-277px 0px; }
.GB11,.GB11T { background-position:-405px 0px; }

.GB0,.GB0T { background-position:-42px 0px; }
.GB1,.GB1T { background-position:-298px 0px; }

.GBT { background-position:-63px 0px; }

.GB0TL { background-position:-1024px 0px; }
.GB1TL { background-position:-1088px 0px; }
.GB0C { background-position:-1152px 0px; }
.GB1C { background-position:-1216px 0px; }
.GB0CL { background-position:-1280px 0px; }
.GB1CL { background-position:-1344px 0px; }
.GB0E { background-position:-1408px 0px; }
.GB1E { background-position:-1472px 0px; }
.GB0EL { background-position:-1536px 0px; }
.GB1EL { background-position:-1600px 0px; }

.GBTL { background-position:-1045px 0px; }
.GBC { background-position:-1173px 0px; }
.GBCL { background-position:-1301px 0px; }
.GBE { background-position:-1429px 0px; }
.GBEL { background-position:-1557px 0px; }

.GBD0 { background-position:-1664px 0px; }
.GBD1 { background-position:-1696px 0px; }
.GBD2 { background-position:-1728px 0px; }
.GBD3 { background-position:-1760px 0px; }
.GBD0L { background-position:-1792px 0px; }
.GBD1L { background-position:-1824px 0px; }
.GBD2L { background-position:-1856px 0px; }
.GBD3L { background-position:-1888px 0px; }
.GBD4 { background-position:-1920px 0px; }
.GBD4L { background-position:-1952px 0px; }

/* ------------- Tree Img without lines ------------- */

.GBND0,.GBND1,.GBND2,.GBND3,.GBND4,.GBNC,.GBNE,.GBNCR,.GBNER { font-size:10px; background-image:url(TreeN.gif); background-repeat:no-repeat; vertical-align:top; }
u.GBND0,u.GBND1,u.GBND2,u.GBND3,u.GBND4,u.GBNC,u.GBNE,u.GBNCR,u.GBNER { padding-left:20px; }
.GBND0 { background-position: -6px 0px; }
.GBND1 { background-position: -56px 0px; }
.GBND2 { background-position: -106px 0px; }
.GBND3 { background-position: -156px 0px; }
.GBND4 { background-position: -206px 0px; }
.GBNC { background-position:right -50px;}
.GBNE { background-position:right -2000px;}
.GBNCR { background-position:-255px -50px;}
.GBNER { background-position:-255px -2000px;}
u.GBNL { padding-left:21px; }

/* ------------- Panel img ------------- */

.GBPanelImage,.GBPanelMove,.GBPanelMoveOff,.GBPanelSelect,.GBPanelSelectOn,.GBPanelSelectOff,.GBPanelDelete,.GBPanelDeleteOff,.GBPanelCopy,.GBPanelCopyOff,.GBPanelEmpty {
   font-size:10px; padding-left:16px; background-image:url(Panel.gif); background-repeat:no-repeat;
   }
.GBPanelEmpty { background:none; }      
.GBPanelMove { background-position: 0px 0px; }
.GBPanelMoveOff { background-position: -50px 0px; }
.GBPanelSelect { background-position: -100px 0px; }
.GBPanelSelectOn { background-position: -150px 0px; }
.GBPanelSelectOff { background-position: -200px 0px; }
.GBPanelDelete { background-position: -250px 0px; }
.GBPanelDeleteOff { background-position: -300px 0px; }
.GBPanelCopy { background-position: -350px 0px; }
.GBPanelCopyOff { background-position: -400px 0px; }
.GBPanelButton { font:10px "Microsoft Sans Serif",Verdana,Arial; padding:0px; height:17px; width:19px; margin:0px; cursor:pointer; _cursor:hand; }

/* ------------- Fast Panel img ------------- */

.GBP1111,.GBP1211,.GBP1011,.GBP1101,.GBP1201,.GBP1001,.GBP1110,.GBP1210,.GBP1010,.GBP1100,.GBP1200,.GBP1000,
.GBP0111,.GBP0211,.GBP0011,.GBP0101,.GBP0201,.GBP0001,.GBP0110,.GBP0210,.GBP0010,.GBP0100,.GBP0200,.GBP0000, 
.GBP111x,.GBP121x,.GBP101x,.GBP110x,.GBP120x,.GBP100x,.GBP011x,.GBP021x,.GBP001x,.GBP010x,.GBP020x,.GBP000x,
.GBP11xx,.GBP12xx,.GBP10xx,.GBP01xx,.GBP02xx,.GBP00xx,
.GBPx111,.GBPx211,.GBPx011,.GBPx101,.GBPx201,.GBPx001,.GBPx110,.GBPx210,.GBPx010,.GBPx100,.GBPx200,.GBPx000,
.GBPx11x,.GBPx21x,.GBPx01x,.GBPx10x,.GBPx20x,.GBPx00x,
.GBPxx11,.GBPxx10,.GBPxx01,.GBPxx00, 
.GBPxxx1,.GBPxxx0,.GBPxx1x,.GBPxx0x,.GBPx2xx,.GBPx1xx,.GBPx0xx,.GBP1xxx,.GBP0xxx {
   font-size:10px; background-image:url(FastPanel1.gif); background-repeat:no-repeat;
   }
.GBP1111,.GBP111x,.GBP11xx,.GBP1xxx { background-position:0px 0px; }
.GBP1211,.GBP121x,.GBP12xx { background-position:-80px 0px; }
.GBP1011,.GBP101x,.GBP10xx { background-position:-160px 0px; }
.GBP1101,.GBP110x { background-position:-240px 0px; }
.GBP1201,.GBP120x { background-position:-320px 0px; }
.GBP1001,.GBP100x { background-position:-400px 0px; }
.GBP1110 { background-position:-480px 0px; }
.GBP1210 { background-position:-560px 0px; }
.GBP1010 { background-position:-640px 0px; }
.GBP1100 { background-position:-720px 0px; }
.GBP1200 { background-position:-800px 0px; }
.GBP1000 { background-position:-880px 0px; }
.GBP0111,.GBP011x,.GBP01xx,.GBP0xxx { background-position:-960px 0px; }
.GBP0211,.GBP021x,.GBP02xx { background-position:-1040px 0px; }
.GBP0011,.GBP001x,.GBP00xx { background-position:-1120px 0px; }
.GBP0101,.GBP010x { background-position:-1200px 0px; }
.GBP0201,.GBP020x { background-position:-1280px 0px; }
.GBP0001,.GBP000x { background-position:-1360px 0px; }
.GBP0110 { background-position:-1440px 0px; }
.GBP0210 { background-position:-1520px 0px; }
.GBP0010 { background-position:-1600px 0px; }
.GBP0100 { background-position:-1680px 0px; }
.GBP0200 { background-position:-1760px 0px; }
.GBP0000 { background-position:-1840px 0px; }

.GBPx111,.GBPx11x,.GBPx1xx { background-position:-15px 0px; }
.GBPx211,.GBPx21x,.GBPx2xx { background-position:-95px 0px; }
.GBPx011,.GBPx01x,.GBPx0xx { background-position:-175px 0px; }
.GBPx101,.GBPx10x { background-position:-255px 0px; }
.GBPx201,.GBPx20x { background-position:-335px 0px; }
.GBPx001,.GBPx00x { background-position:-415px 0px; }
.GBPx110 { background-position:-495px 0px; }
.GBPx210 { background-position:-575px 0px; }
.GBPx010 { background-position:-655px 0px; }
.GBPx100 { background-position:-735px 0px; }
.GBPx200 { background-position:-815px 0px; }
.GBPx000 { background-position:-895px 0px; }

.GBPxx11,.GBPxx1x { background-position:-31px 0px; }
.GBPxx01,.GBPxx0x { background-position:-271px 0px; }
.GBPxx10{ background-position:-511px 0px; }
.GBPxx00 { background-position:-751px 0px; }

.GBPxxx1 { background-position:-48px 0px; }
.GBPxxx0 { background-position:-528px 0px; }

.GBP11x1,.GBP12x1,.GBP10x1,.GBP11x0,.GBP12x0,.GBP10x0,.GBP01x1,.GBP02x1,.GBP00x1,.GBP01x0,.GBP02x0,.GBP00x0,
.GBPx1x1,.GBPx2x1,.GBPx0x1,.GBPx1x0,.GBPx2x0,.GBPx0x0,
.GBP1x11,.GBP1x01,.GBP1x10,.GBP1x00,.GBP0x11,.GBP0x01,.GBP0x10,.GBP0x00,
.GBP1x1x,.GBP1x0x,.GBP0x1x,.GBP0x0x,
.GBP1xx1,.GBP1xx0,.GBP0xx1,.GBP0xx0 {
   font-size:11px; background-image:url(FastPanel2.gif); background-repeat:no-repeat;
   }
.GBP11x1 { background-position:0px 0px; }
.GBP12x1 { background-position:-80px 0px; }
.GBP10x1 { background-position:-160px 0px; }
.GBP11x0 { background-position:-240px 0px; }
.GBP12x0 { background-position:-320px 0px; }
.GBP10x0 { background-position:-400px 0px; }
.GBP01x1 { background-position:-480px 0px; }
.GBP02x1 { background-position:-560px 0px; }
.GBP00x1 { background-position:-640px 0px; }
.GBP01x0 { background-position:-720px 0px; }
.GBP02x0 { background-position:-800px 0px; }
.GBP00x0 { background-position:-880px 0px; }

.GBPx1x1 { background-position:-15px 0px; }
.GBPx2x1 { background-position:-95px 0px; }
.GBPx0x1 { background-position:-175px 0px; }
.GBPx1x0 { background-position:-255px 0px; }
.GBPx2x0 { background-position:-335px 0px; }
.GBPx0x0 { background-position:-415px 0px; }

.GBP1x11,.GBP1x1x { background-position:-960px 0px; }
.GBP1x01,.GBP1x0x { background-position:-1040px 0px; }
.GBP1x10 { background-position:-1120px 0px; }
.GBP1x00 { background-position:-1200px 0px; }
.GBP0x11,.GBP0x1x { background-position:-1280px 0px; }
.GBP0x01,.GBP0x0x { background-position:-1360px 0px; }
.GBP0x10 { background-position:-1440px 0px; }
.GBP0x00 { background-position:-1520px 0px; }

.GBP1xx1 { background-position:-1600px 0px; }
.GBP1xx0 { background-position:-1680px 0px; }
.GBP0xx1 { background-position:-1760px 0px; }
.GBP0xx0 { background-position:-1840px 0px; }

.GBPSpace1 { padding-left:15px; }
.GBPSpace2 { padding-left:31px; }
.GBPSpace3 { padding-left:47px; }
.GBPSpace4 { padding-left:63px; }
u.GBPSpace1 { padding-left:16px; }
u.GBPSpace2 { padding-left:30px; }
u.GBPSpace3 { padding-left:46px; }
u.GBPSpace4 { padding-left:62px; }

/* ------------- Button type ------------- */   
.GBTabHtml,.GBTabHtml1 {
	font:bold 11px "Microsoft Sans Serif",Verdana,Arial; white-space:nowrap;
	padding-left:5px; padding-right:5px; text-align:center;
	background:url(Backgrounds.gif) repeat-x left -1400px;
   }
.GBTabHtml1 { background-position:left -1450px; color:white; }
.GBTabSep,.GBTabSepLeft,.GBTabSepRight {
   padding-left:2px; background:white!important; border:none;
   border-left:1px solid #BDB0A3; border-right:1px solid #BDB0A3; 
   cursor:default!important;
   }
.GBTabSepRight,.GBTabSepLeft { padding-left:5px; }
.GBTabSepLast { padding-left:1px; background:white!important; border:none; border-left:1px solid #BDB0A3; cursor:default!important; }
.GBTabSepFirst { padding-left:1px; background:white!important; border:none; border-right:1px solid #BDB0A3; cursor:default!important; }

.GBToolHtml,.GBToolHtml1 {
   font:11px "Microsoft Sans Serif",Verdana,Arial; 
   padding-left:3px; padding-right:3px; text-align:center; padding-top:2px;
   }
.GBToolHtml1 { font-weight:bold; color:blue; }
.GBToolButton { text-align:center; padding-left:1px; padding-right:1px;}
.GBToolButtonButton,.GBToolButtonButton1,.GBToolSpaceButton,.GBToolSpaceButton1 {
 	font:11px "Microsoft Sans Serif",Verdana,Arial; height:19px; white-space:nowrap;
 	padding-left:0px; padding-right:0px; cursor:pointer; _cursor:hand; 
   }
.GBToolSpaceButton,.GBToolSpaceButton1 { height:21px; }
.GBToolButtonButton1,.GBToolSpaceButton1 { color:blue; font-weight:bold; }

.GBIconHtml { text-align:left; }
.GBDisabledButton { opacity:0.3; filter:alpha(opacity=30); }

.GBToolHeader { border:none!important; padding-bottom:100px; }
.GBToolMenuHeader { border:1px solid #e0e0ff!important; }    
.GBToolMenuItem { background:#F6F4F0!important; }
.GBToolMenuOuter { border:1px solid #e0e0ff!important; background:#F6F4F0!important; }
.GBToolMenuBody { background:#F6F4F0!important; }


/* ------------- Special Toolbar buttons ------------- */
.GBResizeGrid,.GBResizeGridRtl,.GBToolSave,.GBToolReload,.GBToolRepaint,.GBToolRepaint1,.GBToolAdd,.GBToolAddChild,.GBToolJoin,.GBToolSplit,.GBToolSort1,.GBToolSort,.GBToolCalc1,.GBToolCalc,
.GBToolExpandAll,.GBToolCollapseAll,.GBToolColumns,.GBToolCfg,.GBToolHelp,.GBToolPrint,.GBToolExport,.GBToolExportPDF,.GBToolDebug,.GBToolOutdent,.GBToolIndent, 
.GBToolUndo,.GBToolUndo1,.GBToolRedo,.GBToolRedo1,.GBToolCorrect,.GBToolCorrect1,.GBToolZoomIn,.GBToolZoomIn1,.GBToolZoomOut,.GBToolZoomOut1,.GBToolZoomFit,
.GBToolPagerFirst,.GBToolPagerFirst1,.GBToolPagerPrev,.GBToolPagerPrev1,.GBToolPagerNext,.GBToolPagerNext1,.GBToolPagerLast,.GBToolPagerLast1 {
   font-size:11px; background-image:url(Toolbar.png); -background-image:url(Toolbar.gif); background-repeat:no-repeat;
   padding-right:3px; padding-left:21px;
   }
.GBToolPagerFirst,.GBToolPagerFirst1,.GBToolPagerPrev,.GBToolPagerPrev1,.GBToolPagerNext,.GBToolPagerNext1,.GBToolPagerLast,.GBToolPagerLast1 {
   border:0px none;
   }   
.GBToolSave { background-position:0px 0px; }
.GBToolReload { background-position:-50px 0px; }
.GBToolRepaint1 { background-position:-100px 0px; }
.GBToolAdd { background-position:-150px 0px; }
.GBToolAddChild { background-position:-200px 0px; }
.GBToolSort1 { background-position:-250px 0px; }
.GBToolSort { background-position:-300px 0px; }
.GBToolCalc1 { background-position:-350px 0px; }
.GBToolCalc { background-position:-400px 0px; }
.GBToolExpandAll { background-position:-450px 0px; }
.GBToolCollapseAll { background-position:-500px 0px; }
.GBToolCfg { background-position:-550px 0px; }
.GBToolHelp { background-position:-600px 0px; }
.GBToolColumns { background-position:-650px 0px; }
.GBToolPrint { background-position:-750px 0px; }
.GBToolExport { background-position:-800px 0px; }
.GBToolPagerFirst1 { background-position:-850px 0px; }
.GBToolPagerFirst { background-position:-900px 0px; }
.GBToolPagerPrev1 { background-position:-950px 0px; }
.GBToolPagerPrev { background-position:-1000px 0px; }
.GBToolPagerNext1 { background-position:-1050px 0px; }
.GBToolPagerNext { background-position:-1100px 0px; }
.GBToolPagerLast1 { background-position:-1150px 0px; }
.GBToolPagerLast { background-position:-1200px 0px; }
.GBToolDebug { background-position:-1250px 0px; }
.GBToolUndo1 { background-position:-1350px 0px; }
.GBToolUndo { background-position:-1400px 0px; }
.GBToolRedo1 { background-position:-1450px 0px; }
.GBToolRedo { background-position:-1500px 0px; }
.GBToolCorrect1 { background-position:-1550px 0px; }
.GBToolCorrect { background-position:-1600px 0px; }
.GBToolZoomIn1 { background-position:-1800px 0px; }
.GBToolZoomIn { background-position:-1850px 0px; }
.GBToolZoomOut1 { background-position:-1700px 0px; }
.GBToolZoomOut { background-position:-1750px 0px; }
.GBToolZoomFit { background-position:-1900px 0px; }
.GBToolExportPDF { background-position:-1950px 0px; }
.GBToolJoin { background-position:-2000px 0px; }
.GBToolSplit { background-position:-2050px 0px; }
.GBToolRepaint { background-position:-2100px 0px; }
.GBToolOutdent { background-position:-2150px 0px; }
.GBToolIndent { background-position:-2200px 0px; }

.GBResizeGrid  {
   background-position:-704px -2px; 
   margin-left:auto; margin-right:0px; margin-top:-19px;
   height:19px; width:19px; overflow:hidden; padding:0px; cursor:nw-resize; 
   }
.GBResizeGridRtl {
   background-position:-1304px -2px; 
   margin-right:auto; margin-left:0px; margin-top:-19px;
   height:19px; width:19px; overflow:hidden; padding:0px; cursor:ne-resize;
   }

/* ------------- Cell images ------------- */
.GBIconLeft,.GBIconRight,.GBIconCenter { font-size:11px; background-repeat:no-repeat; }
.GBIconLeft { background-position:left 0px; padding-left:20px!important; }
.GBIconRight { background-position:right 0px; padding-right:20px!important; }
.GBIconCenter { background-position:center 0px; }

.GBDateLeft,.GBDatesLeft,.GBDefaultsLeft,.GBEnumLeft,.GBDateRight,.GBDatesRight,.GBDefaultsRight,.GBEnumRight,
.GBCollapseRight,.GBExpandRight,.GBCollapseLeft,.GBExpandLeft,.GBCollapseHeaderRight,.GBExpandHeaderRight,.GBCollapseHeaderLeft,.GBExpandHeaderLeft,
.GBRadio0Left,.GBRadio0Right,.GBRadio1Left,.GBRadio1Right,.GBRadio2Left,.GBRadio2Right,.GBRadio3Left,.GBRadio3Right, 
.GBBoolX,.GBBoolXRO,.GBBool0,.GBBool1,.GBBool0RO,.GBBool1RO,.GBBool2,.GBBool3,.GBBool2RO,.GBBool3RO {
   background-image:url(Button.gif); background-repeat:no-repeat; }
.GBBoolXSpace,.GBBoolXSpaceRO,.GBBool0Space,.GBBool1Space,.GBBool0SpaceRO,.GBBool1SpaceRO,
.GBDefaultsSpaceLeft,.GBDefaultsSpaceRight,.GBFilter0,.GBFilter1,.GBGroup0,.GBGroup1,.GBSearch0,.GBSearch1 {
   background-image:url(ButtonSpace.gif); background-repeat:no-repeat; }
.GBRadio0Left,.GBRadio0Right,.GBRadio1Left,.GBRadio1Right,.GBRadio2Left,.GBRadio2Right,.GBRadio3Left,.GBRadio3Right { font-size:11px; font-family:"Microsoft Sans Serif",Verdana,Arial; }   
.GBDateLeft,.GBDatesLeft,.GBDefaultsLeft,.GBDefaultsSpaceLeft,.GBExpandLeft,.GBCollapseLeft,.GBExpandHeaderLeft,.GBCollapseHeaderLeft { padding-left:20px!important; }
.GBDateRight,.GBDatesRight,.GBDefaultsRight,.GBDefaultsSpaceRight,.GBExpandRight,.GBCollapseRight,.GBExpandHeaderRight,.GBCollapseHeaderRight { padding-right:20px!important; }
u.GBDateRight,u.GBDatesRight,u.GBDefaultsRight,u.GBDefaultsSpaceRight,u.GBExpandRight,u.GBCollapseRight,u.GBExpandHeaderRight,u.GBCollapseHeaderRight { padding-right:0px!important; padding-left:17px; }
.GBDateLeft,.GBDatesLeft { background-position:left -250px; }
.GBDateRight,.GBDatesRight { background-position:right -250px; }
.GBDefaultsLeft { background-position:left 0px; }
.GBDefaultsRight { background-position:right 0px; }
.GBDefaultsSpaceLeft { background-position:left -250px; }
.GBDefaultsSpaceRight { background-position:right 0px; }
.GBEnumLeft { background-position:left -500px; padding-left:17px; }
.GBEnumRight { background-position:right -500px; padding-right:17px; }
u.GBEnumRight { padding-right:0px; padding-left:17px; }
.GBExpandLeft { background-position:left -2500px; }
.GBExpandRight { background-position:right -2500px; }
.GBExpandHeaderLeft { background-position:left -2498px; }
.GBExpandHeaderRight { background-position:right -2498px; }
.GBCollapseLeft { background-position:left -2250px;}
.GBCollapseRight { background-position:right -2250px;}
.GBCollapseHeaderLeft { background-position:left -2248px; }
.GBCollapseHeaderRight { background-position:right -2248px; }

.GBRadio0Left,.GBRadio1Left,.GBRadio2Left,.GBRadio3Left { padding-left:17px; padding-top:0px; padding-right:3px; line-height:17px; }
.GBRadio0Right,.GBRadio1Right,.GBRadio2Right,.GBRadio3Right { padding-right:17px; padding-top:0px; padding-left:3px; line-height:17px;}
.GBRadio0Left { background-position:left -1250px; } 
.GBRadio1Left { background-position:left -1500px;} 
.GBRadio2Left { background-position:left -750px; }
.GBRadio3Left { background-position:left -1000px;}
.GBRadio0Right { background-position:right -1250px; } 
.GBRadio1Right { background-position:right -1500px;} 
.GBRadio2Right { background-position:right -750px; }
.GBRadio3Right { background-position:right -1000px;}
.GBRadioInput { margin-top:0px; margin-bottom:0px; margin-top:-4px!IE; }
nobr.GBRadio0Left,nobr.GBRadio1Left,nobr.GBRadio2Left,nobr.GBRadio3Left,
nobr.GBRadio0Right,nobr.GBRadio1Right,nobr.GBRadio2Right,nobr.GBRadio3Right,
span.GBRadio0Left,span.GBRadio1Left,span.GBRadio2Left,span.GBRadio3Left,
span.GBRadio0Right,span.GBRadio1Right,span.GBRadio2Right,span.GBRadio3Right {
   padding-top:2px; padding-bottom:2px;
   }

u.GBBoolX,u.GBBoolXRO,u.GBBool0,u.GBBool1,u.GBBool0RO,u.GBBool1RO,u.GBBool2,u.GBBool3,u.GBBool2RO,u.GBBool3RO { padding-left:18px; }
u.GBBoolXSpace,u.GBBool0Space,u.GBBool1Space,u.GBBoolXSpaceRO,u.GBBool0SpaceRO,u.GBBool1SpaceRO { padding-left:18px; }
u.GBFilter0,u.GBFilter1 { padding-left:16px; }
.GBBoolXSpace { background-position:center -2000px; padding-left:18px; }
.GBBoolXSpaceRO { background-image:none; }
.GBBool0Space { background-position:center -750px; padding-left:18px; }
.GBBool1Space { background-position:center -1000px; padding-left:18px; }
.GBBool0SpaceRO { background-position:center -1250px; padding-left:18px; }
.GBBool1SpaceRO { background-position:center -1500px; padding-left:18px; }
.GBBoolX { background-position:center -1750px; background-image:url(ButtonSpace.gif); }
.GBBool0 { background-position:center -750px; }
.GBBoolXRO { background-image:none; }
.GBBool1 { background-position:center -1000px; }
.GBBool0RO { background-position:center -1750px; }
.GBBool1RO { background-position:center -2000px; }
.GBBool2,.GBBool2RO { background-position:center -1250px; }
.GBBool3,.GBBool3RO { background-position:center -1500px; }
.GBFilter0 { background-position:right -752px; }
.GBFilter1 { background-position:right -1002px; }
.GBGroup0 { background-position:center -750px; }
.GBGroup1 { background-position:center -1000px; }
.GBSearch0 { background-position:center -750px; }
.GBSearch1 { background-position:center -1000px; }
.GBBoolInput { margin-top:0px; margin-bottom:2px; padding:0px; margin-top:-2px!IE; margin-bottom:-6px!IE; }

.GBBoolChar0,.GBBoolChar1,.GBBoolChar2,.GBBoolChar0RO,.GBBoolChar1RO,.GBBoolChar2RO {
   border:2px ridge white; color:#704020; text-align:center;
   height:10px; width:8px; overflow:hidden;
   font:bold 9px Arial; margin:auto; margin-top:1px;
   }
.GBBoolChar2 { color:green; }
.GBBoolChar0RO,.GBBoolChar1RO,.GBBoolChar2RO { color:gray; }
.GBBoolCharIE { height:14px; width:12px; }

.GBPopupLeft,.GBPopupRight { font-size:11px; background-image:url(Menu.gif); background-repeat:no-repeat; }
.GBPopupLeft { background-position:-6px -250px; padding-left:14px;}
.GBPopupRight { background-position:right -250px; padding-right:14px;}
.GBPopupNone { padding-right:14px; }

.GBIconRotate { padding-left:2px!important; padding-top:20px!important; }
.GBIconRotateLeft { margin-left:0px; padding-top:20px!important; }
.GBIconRotateHeaderLeft { margin-left:5px; padding-top:20px!important; }
.GBIconRotateHeaderRight { margin-left:2px; padding-top:20px!important; }

/* ------------- Filter images ------------- */
.GBFilter0Left,.GBFilter1Left,.GBFilter2Left,.GBFilter3Left,.GBFilter4Left,.GBFilter5Left,.GBFilter6Left,.GBFilter7Left,.GBFilter8Left,.GBFilter9Left,.GBFilter10Left,.GBFilter11Left,.GBFilter12Left,
.GBFilter0Right,.GBFilter1Right,.GBFilter2Right,.GBFilter3Right,.GBFilter4Right,.GBFilter5Right,.GBFilter6Right,.GBFilter7Right,.GBFilter8Right,.GBFilter9Right,.GBFilter10Right,.GBFilter11Right,.GBFilter12Right {
   font-size:11px; background-image:url(Filter.gif); background-repeat:no-repeat;
   }
.GBFilter0Left,.GBFilter1Left,.GBFilter2Left,.GBFilter3Left,.GBFilter4Left,.GBFilter5Left,.GBFilter6Left,.GBFilter7Left,.GBFilter8Left,.GBFilter9Left,.GBFilter10Left,.GBFilter11Left,.GBFilter12Left {
   padding-left:17px;
   }
.GBFilter0Right,.GBFilter1Right,.GBFilter2Right,.GBFilter3Right,.GBFilter4Right,.GBFilter5Right,.GBFilter6Right,.GBFilter7Right,.GBFilter8Right,.GBFilter9Right,.GBFilter10Right,.GBFilter11Right,.GBFilter12Right {
   padding-right:17px;
   }
u.GBFilter0Right,u.GBFilter1Right,u.GBFilter2Right,u.GBFilter3Right,u.GBFilter4Right,u.GBFilter5Right,u.GBFilter6Right,u.GBFilter7Right,u.GBFilter8Right,u.GBFilter9Right,u.GBFilter10Right,u.GBFilter11Right,u.GBFilter12Right {  
   padding-right:0px; padding-left:17px;
   }
.GBFilter0Left,.GBFilter0Menu { background-position:left 0px; }   
.GBFilter1Left,.GBFilter1Menu { background-position:left -150px; }
.GBFilter2Left,.GBFilter2Menu { background-position:left -300px; }
.GBFilter3Left,.GBFilter3Menu { background-position:left -450px; }
.GBFilter4Left,.GBFilter4Menu { background-position:left -600px; }
.GBFilter5Left,.GBFilter5Menu { background-position:left -750px; }   
.GBFilter6Left,.GBFilter6Menu { background-position:left -900px; }
.GBFilter7Left,.GBFilter7Menu { background-position:left -1050px; }
.GBFilter8Left,.GBFilter8Menu { background-position:left -1200px; }
.GBFilter9Left,.GBFilter9Menu { background-position:left -1350px; }
.GBFilter10Left,.GBFilter10Menu { background-position:left -1500px; }
.GBFilter11Left,.GBFilter11Menu { background-position:left -1650px; }
.GBFilter12Left,.GBFilter12Menu { background-position:left -1800px; }
.GBFilter0Right { background-position:right 0px; }   
.GBFilter1Right { background-position:right -150px; }
.GBFilter2Right { background-position:right -300px; }
.GBFilter3Right { background-position:right -450px; }
.GBFilter4Right { background-position:right -600px; }
.GBFilter5Right { background-position:right -750px; }   
.GBFilter6Right { background-position:right -900px; }
.GBFilter7Right { background-position:right -1050px; }
.GBFilter8Right { background-position:right -1200px; }
.GBFilter9Right { background-position:right -1350px; }
.GBFilter10Right { background-position:right -1500px; }
.GBFilter11Right { background-position:right -1650px; }
.GBFilter12Right { background-position:right -1800px; }

.GBFilter0Menu,.GBFilter1Menu,.GBFilter2Menu,.GBFilter3Menu,.GBFilter4Menu,.GBFilter5Menu,.GBFilter6Menu,.GBFilter7Menu,.GBFilter8Menu,.GBFilter9Menu,.GBFilter10Menu,.GBFilter11Menu,.GBFilter12Menu {
   width:17px; height:17px; overflow:hidden; background-image:url(Filter.gif); background-repeat:no-repeat; margin-left:-1px;
   }
.GBFilterMenuHeader { padding-left:2px; border-bottom:0px none!important; }   

/* ------------- Sort images ------------- */
.GBSort0Left,.GBSort1Left,.GBSort2Left,.GBSort3Left,.GBSort4Left,.GBSort5Left,.GBSort6Left,
.GBSort0Right,.GBSort1Right,.GBSort2Right,.GBSort3Right,.GBSort4Right,.GBSort5Right,.GBSort6Right {
   font-size:11px; background-image:url(Sort.gif); background-repeat:no-repeat;  
   }
.GBSort0Left,.GBSort1Left,.GBSort2Left,.GBSort3Left,.GBSort4Left,.GBSort5Left,.GBSort6Left { padding-left:17px; }
.GBSort0Right,.GBSort1Right,.GBSort2Right,.GBSort3Right,.GBSort4Right,.GBSort5Right,.GBSort6Right{ padding-right:17px; }
u.GBSort0Right,u.GBSort1Right,u.GBSort2Right,u.GBSort3Right,u.GBSort4Right,u.GBSort5Right,u.GBSort6Right { padding-right:0px; padding-left:17px; }
.GBSort0Left { background-position:left 0px; }   
.GBSort1Left { background-position:left -250px; }
.GBSort2Left { background-position:left -500px; }
.GBSort3Left { background-position:left -750px; }
.GBSort4Left { background-position:left -1000px; }
.GBSort5Left { background-position:left -1250px; }
.GBSort6Left { background-position:left -1500px; }
.GBSort0Right { background-position:right 0px; }   
.GBSort1Right { background-position:right -250px; }
.GBSort2Right { background-position:right -500px; }
.GBSort3Right { background-position:right -750px; }
.GBSort4Right { background-position:right -1000px; }
.GBSort5Right { background-position:right -1250px; }
.GBSort6Right { background-position:right -1500px; }

/* -------------- Pager ------------------ */
.GBPagerMain { margin:5px; padding:5px; border:1px solid #A39282; }
.GBPagerBody { cursor:pointer; _cursor:hand; }
.GBPagerHeader {
   background:url(Backgrounds.gif) repeat-x; padding-bottom:2px; padding-top:3px; cursor:default;
   border-bottom:1px solid #d0d0c0; border-left:1px solid #a0a090; border-top:1px solid #EEF7FF;
   }
.GBPagerCaption {   
   font:12px "Trebuchet MS", Tahoma, Arial; color:#FFFFFF;
   padding-left:3px; padding-right:3px; white-space:nowrap; height:17px;
   }
.GBPagerItem {
   font:11px "Microsoft Sans Serif",Verdana,Arial; cursor:pointer; _cursor:hand; overflow:hidden;
   padding-left:3px; padding-right:3px; height:12px; overflow:hidden; white-space:nowrap;
   margin-top:2px; margin-bottom:2px; padding:2px; border:1px solid #A39282;
   }
.GBPagerItemTouch { padding-top:4px; padding-bottom:4px; }
.GBPagerFocus {
   position:relative; cursor:pointer; _cursor:hand; overflow:hidden;
   border:1px solid black; overflow:hidden; background:#663300; opacity:0.3; filter:alpha(opacity=30); 
   }
.GBPagerHover {
   position:relative; cursor:pointer; _cursor:hand; overflow:hidden;
   background:#666; opacity:0.3; filter:alpha(opacity=30); 
   }
.GBPagerSort1 { color: #006600; }
.GBPagerSort2 { color: #00AE00; }
.GBPagerSort3 { color: #00FF00; }
.GBPagerSortS { color: black; }

/* -------------- State classes ------------- */
/* The colors must be set by numbers not by names */

.GBColorDefault { background-color:#FFFFFF; }

.GBColorNoFocus { background-color:#F0E8E2; }
.GBColorReadOnly { background-color:#F4F4F4;}
.GBColorPreview { background-color:#FFFFFF; }
.GBColorEdit { background-color:#FFFFFF; }

.GBColorAlternate { background-color:#FFFFF0;}

.GBColorSelected { background-color:#FFFF80; }

.GBColorError { background-color:#FF6969; }
.GBColorDeleted { background-color:#FFCDCD; }
.GBClassDeleted { font-style:italic; }
.GBColorAdded { background-color:#CDFFCD; }
.GBClassAdded { font-weight:bold; }
.GBColorMoved1 { background-color:#FFFFFF; }
.GBColorMoved2 { background-color:#D7EBEB; }
.GBColorChanged { background-color:#EBEBFF; }
.GBColorChangedCell { background-color:#E1E1FF; }
.GBClassChangedCell { font-weight:bold; }

.GBColorMaxChildren { background-color:#FFFFF0; }

.GBColorDetail { background-color:#FFF0FF; }
.GBColorDetailSelected { background-color:#FFF0E0; }

.GBColorDragged { background-color:#E0E0C0; }

.GBColorFound1 { background-color:#FF87FF; }
.GBColorFound2 { background-color:#FFC387; }
.GBColorFound3 { background-color:#87FF87; }

.GBColorHovered { background-color:#F0F0FF; }
.GBColorHoveredCell { background-color:#C0C0FF; }
.GBColorHoveredCellReadOnly { background-color:#F0F0F0; }
.GBColorHoveredCellNoFocus { background-color:#F8F8F8; }
.GBClassHoveredCellHeader { background-position:0px -250px; }
.GBClassHoveredCellPanel { background-position:0px -1751px; background-repeat:repeat-x; }
.GBColorHoveredCellFastPanel { }
.GBColorHoveredCellSpace { background-color:#FFFFFF; }
.GBColorHoveredCellSpaceEdit { background-color:#C0C0FF; }
.GBColorHoveredCellSpaceBool { background-color:#FFFFFF; }
.GBColorHoveredCellButton { background-color:#FFFFFE; }
.GBClassHoveredCellButton { color:green; }
.GBColorHoveredCellButton1 { background-color:#FFFFFE; }
.GBClassHoveredCellButton1 { color:red; }
.GBColorHoveredCellTab { background-color:#FFFFFE; }
.GBClassHoveredCellTab { background-position:0px -1751px; color:green; }
.GBColorHoveredCellTab1 { background-color:#99bbcc; }
.GBClassHoveredCellTab1 { background-image:none; }

.GBColorFocused { background-color:#E6E6E6; }
.GBColorFocusedCell { background-color:#FFFFFE; }
.GBColorFocusedCellSafari { background-color:#B0A090; }
.GBColorFocusedCellSpace { background-color:#E6E6E6; }
.GBColorFocusedCellButton { background-color:#DCB; }
.GBColorFocusedCellHeader { background-color:#FFFFFE; }
.GBColorFocusedCellPanel { background-color:#FFFFFE; }
.GBColorEditedCell { background-color:#FFFFFF; }
.GBColorViewedCell { background-color:#FFFFFF; }

/* --------------- Hover, focus, edit cursors ----------------- */
.GBHoverPanelBackground { }
.GBHoverRowBackground { opacity:0.1; filter:alpha(opacity=10); background:#00F; }
.GBHoverRowBorder { z-index:1; border:1px solid #BBF; cursor:default; }
.GBHoverCellBorder { z-index:3; padding:1px; border:1px solid #A0A0F0; background:white; }
.GBFocusPanelBackground { }
.GBFocusRowBackground { opacity:0.1; filter:alpha(opacity=10); background:#000; }
.GBFocusRowBorder { z-index:2; border:1px solid black; }
.GBFocusCellBorder,.GBEditCellBorder { z-index:4; border:2px solid #6666FF; }
.GBFocusCellSpaceBorder,.GBEditCellSpaceBorder { z-index:4; }
.GBEditCellBorder { border-color:#FF6666; }
.GBEditCellInput { position:relative; border:1px solid #BBB; overflow:hidden; z-index:2; }

.GBCursorBackground { position:relative; border:none; padding:0px; overflow:hidden; }
.GBCursorBorderLeft { position:relative; padding-right:0px; padding-top:0px; padding-bottom:0px; border-right:none; border-top:none; border-bottom:none; overflow:hidden; width:0px; height:0px; }
.GBCursorBorderRight { position:relative; padding-left:0px; padding-top:0px; padding-bottom:0px; border-left:none; border-top:none; border-bottom:none; overflow:hidden; width:0px; height:0px; }
.GBCursorBorderTop { position:relative; padding-bottom:0px; padding-left:0px; padding-right:0px; border-bottom:none; border-left:none; border-right:none; overflow:hidden; width:0px; height:0px; }
.GBCursorBorderBottom { position:relative; padding-top:0px; padding-left:0px; padding-right:0px; border-top:none; border-left:none; border-right:none; overflow:hidden; width:0px; height:0px; }

/*--------------- Cell edges ----------------- */
.GBNoLeft { border-left:0px none; }
.GBNoRight { border-right:0px none; }

.GBEmpty { text-decoration:none; font-size:1px; line-height:1px;}

/*--------------- Dragging ----------------- */
.GBMouseObject { opacity:0.5; filter:alpha(opacity=50); z-index:300; overflow:hidden; }
.GBDragObject {
   z-index:300; margin-left:10px; margin-top:10px; 
   font:12px Arial; padding-left:3px; padding-right:3px;
   background:#E4E5F0 url(Backgrounds.gif) repeat-x 0px -750px; border:1px solid #777; 
   }
.GBDragColInsideTop,.GBDragColInsideBottom,.GBDragColOutsideTop,.GBDragColOutsideBottom,.GBDragGanttRunTop,.GBDragGanttRunBottom {
   position:absolute; background-image:url(Sort.gif); width:10px; height:11px; overflow:hidden; z-index:258;
   }
.GBDragColInsideTop  { background-position:0px -1750px;  }
.GBDragColInsideBottom  { background-position:0px -1770px;  }
.GBDragColOutsideTop  { background-position:0px -1790px;  }
.GBDragColOutsideBottom  { background-position:0px -1810px;  }
.GBDragGanttRunTop  { background-position:0px -1752px;  }
.GBDragGanttRunBottom  { background-position:0px -1772px;  }

/*--------------- Messages ----------------- */
.GBDisabled { position:absolute; z-index:264; background:white; opacity:0.5; filter:alpha(opacity=50); } 
.GBMessage {
	background:#F6F4F0; border:1px solid #A39282; padding:10px; white-space:nowrap; text-align:center;
	font:13px "Microsoft Sans Serif",Verdana,Arial;
   position: absolute; left:0px; top:0px; visibility:hidden; z-index:266;
	}
.GBMessageShadow {
   position:absolute; margin-left:3px; margin-top:3px; z-index:265;
   background:#888; opacity:0.5; filter:alpha(opacity=50);
   left:0px; top:0px; visibility:hidden;
   }	
.GBPageMessage { background:#FAFAFA; border:1px solid #A39282; padding:10px; font:13px "Microsoft Sans Serif",Verdana,Arial; }

.GBProgressMain { font:13px "Microsoft Sans Serif",Verdana,Arial; }
.GBProgressCaption { font-weight:bold; margin-bottom:15px; }
.GBProgressText { margin-bottom:15px; }
.GBProgressOuter { text-align:left; width:200px; border:1px solid #A39282; padding:2px; margin-bottom:15px; }
.GBProgressInner { height:10px; background:green; }
.GBProgressButton,.GBMessageButton { font-size:11px; background:white; text-align:center; border:1px solid #8a8fb5; }
.GBProgressButton { margin:2px; margin-top:5px; margin-bottom:0px; white-space:nowrap; padding-left:10px; padding-right:10px; }
.GBMessageButton { margin-top:10px; width:50px; }
.GBProgressButtonHover,.GBMessageButtonHover { background:#ffeeaa; border:1px solid #aaaadd; }

     
/*--------------- Other ----------------- */
/* !!! No .GB style prefix here !!! */
.GridTmpTag { position:absolute; left:5px; top:5px; visibility:hidden; }

/*--------------- Debug print ----------------- */
/* !!! No .GB style prefix here !!! */
.GridDebugTag,.GridDebugTagMax { overflow:auto; overflow-y:scroll; border:1px solid black; background:#DDD; }
.GridDebugTag,.GridDebugTagMax,.GridDebugButtons,.GridDebugButtonsMax {
   position:fixed; z-index:256; left:5px; right:5px; bottom:5px; height:200px; padding:4px;
   position:absolute!IE;
   left:expression((5+(document.compatMode=="CSS1Compat"?document.documentElement.scrollLeft:document.body.scrollLeft))+"px")!IE;
   width:expression((-10+(document.compatMode=="CSS1Compat"?document.documentElement.clientWidth-8:document.body.clientWidth))+"px")!IE;
   top:expression((-205+(document.compatMode=="CSS1Compat"?document.documentElement.scrollTop+document.documentElement.clientHeight-8:document.body.scrollTop+document.body.clientHeight))+"px")!IE;
   }
.GridDebugTagMax,.GridDebugButtonsMax {
   top:5px; height:auto; 
   top:expression((5+(document.compatMode=="CSS1Compat"?document.documentElement.scrollTop:document.body.scrollTop))+"px")!IE;
   height:expression((-10+(document.compatMode=="CSS1Compat"?document.documentElement.clientHeight-8:document.body.clientHeight))+"px")!IE;
   }
.GridDebugButtons,.GridDebugButtonsMax {
   text-align:right; margin-right:25px; width:130px; left:auto;
   left:expression((-155+(document.compatMode=="CSS1Compat"?document.documentElement.clientWidth-8:document.body.clientWidth))+"px")!IE;
   }
.GridDebugButton { font-size:10px; width:40px; padding:0px; }
.GridDebugTitle { font-size:10px; color:blue; font-style:normal;font-weight:normal; }
.GridDebugMark { font-weight:bold; }
.GridDebugStop { font-size:18px; font-weight:bold; color:red; }
.GridDebugError { font-size:12px; color:red; }
.GridDebugWarning { font-size:12px; color:#A60;}
.GridDebugList { font-size:10px; color:#888;}
.GridDebugInfo { font-size:12px; }

/* ------------------- Popup menus, TGLib ------------------- */

.GBMenuMain { position:absolute; left:0px; top:0px; z-index:258; }
.GBMenuStatic { }
.GBMenuOuter { overflow:hidden; border:1px solid #A39282; padding:1px; background:white; }
.GBMenuHeader {
   overflow:hidden; position:absolute; z-index:258;
   border:1px solid #b0b0c0; background:white; cursor:pointer; _cursor:hand;
   }
.GBMenuHead {
   background:#183873 url(Backgrounds.gif) repeat-x 0px -2px;
   font:10px Verdana,Arial; color:white; cursor:default;
   text-align:center; padding-top:5px; padding-bottom:4px;
   }
.GBMenuClose {
   float:right; width:14px; cursor:pointer; _cursor:hand; display:none;
   background:url(Menu.gif) no-repeat right -354px;
   }
.GBMenuBody { cursor:default; background:white; padding-top:1px; padding-bottom:1px; }
.GBMenuShadow {
   position:absolute; margin-left:3px; margin-top:3px; z-index:257;
   background:#888; opacity:0.5; filter:alpha(opacity=50);
   }

.GBMenuCheckedIconLeft { background:url(Menu.gif) no-repeat -2px -51px; padding-left:17px; }
.GBMenuCheckedIconRight { background:url(Menu.gif) no-repeat right -51px; padding-right:17px; }
.GBMenuUncheckedIconLeft { background:url(Menu.gif) no-repeat -2px -1px; padding-left:17px; }
.GBMenuUncheckedIconRight { background:url(Menu.gif) no-repeat right -1px; padding-right:17px; }
.GBMenuCheckedRadioLeft { background:url(Menu.gif) no-repeat -2px -751px; padding-left:17px; }
.GBMenuCheckedRadioRight { background:url(Menu.gif) no-repeat right -751px; padding-right:17px; }
.GBMenuUncheckedRadioLeft { background:url(Menu.gif) no-repeat -2px -701px; padding-left:17px; }   
.GBMenuUncheckedRadioRight { background:url(Menu.gif) no-repeat right -701px; padding-right:17px; }   
.GBMenuCursorIcon { background:url(Menu.gif) no-repeat -6px -150px; }
.GBMenuHoverIcon { background:url(Menu.gif) no-repeat -6px -100px; }   
.GBMenuCursorIconRtl { background:url(Menu.gif) no-repeat right -1000px; }
.GBMenuHoverIconRtl { background:url(Menu.gif) no-repeat right -950px; }   
.GBMenuExpandedIcon { background:url(Menu.gif) no-repeat -6px -200px; }
.GBMenuCollapsedIcon { background:url(Menu.gif) no-repeat -6px -250px; }
.GBMenuNextIcon { background:url(Menu.gif) no-repeat right -300px; padding-right:14px; }
.GBMenuNextIconRtl { background:url(Menu.gif) no-repeat left -900px; padding-left:10px; }

.GBMenuItemText,.GBMenuItemIcon,.GBMenuEnum,.GBMenuEnumHeader,.GBMenuEdit { font:11px "Microsoft Sans Serif",Arial; padding-bottom:1px; white-space:nowrap; overflow:hidden; }
.GBMenuItemDisabled { opacity:0.50; filter:alpha(opacity=30); overflow:hidden; }
.GBMenuLevel { color:blue; text-align:center; }  
.GBMenuEnumParent,.GBMenuEditParent { padding-left:5px; padding-right:2px;}
.GBMenuItemIcon { background-repeat:no-repeat; }
.GBMenuEnum {
   border:1px solid #DDD; border-top:1px solid #666; border-left:1px solid #666;
   background:url(Menu.gif) no-repeat left -800px; padding-left:15px; overflow:hidden;
   }
.GBMenuEnumHeader  {
   padding-left:16px; padding-top:1px; cursor:default; padding-bottom:2px;
   background:url(Menu.gif) no-repeat 1px -799px;
   }   
.GBMenuEdit {
   border:1px solid #DDD; border-top:1px solid #666; border-left:1px solid #666;
   background:white; padding-left:2px; padding-right:2px; overflow:hidden; 
   white-space:nowrap;
   }
.GBMenuEditInput,.GBMenuEditTextarea {
   margin:0px; margin:-1px!IE; border:0px none; background:#FDD; 
   padding:0px; padding-right:1px!IE; padding-left:1px!IE; font:11px "Microsoft Sans Serif",Arial;
   }   
.GBMenuEditTextarea { line-height:13px;  }   
.GBMenuEditInt,.GBMenuEditFloat,.GBMenuEditDate { text-align:right; } 
.GBMenuEditText { }
.GBMenuEditMulti { white-space:normal; }

.GBMenuItem { padding-top:2px; padding-bottom:2px; padding-left:2px; padding-right:2px; background:white; }   
.GBMenuItemTouch { padding-top:5px; padding-bottom:5px; }
.GBMenuItemHover {
   margin-left:1px; margin-right:1px; padding-top:1px; padding-bottom:1px; 
   background:#ffeeaa; border:1px solid #aaaadd;
   }
.GBMenuFocus {
   margin-left:1px; margin-right:1px; padding-top:1px; padding-bottom:1px;
   border:1px solid #aaaadd;
   background:#CAE1F3 url(Backgrounds.gif) repeat-x 0px -1250px;
   }
.GBMenuFocusTouch { padding-top:4px; padding-bottom:4px; }   
.GBMenuFocusHover {
   margin-left:1px; margin-right:1px; padding-top:1px; padding-bottom:1px;
   background:#CAE1F3; border:1px solid black;
   }
.GBMenuSeparator {
   margin-top:1px; margin-right:3px; margin-left:3px; height:1px;   
   border-top:1px solid #aaaadd; overflow:hidden;
   }
.GBMenuCaption { padding-top:2px; padding-bottom:2px; padding-left:2px; padding-right:2px; background:white; color:blue; text-align:center; }
.GBMenuVSeparator { border-right:1px solid #DDD; }
.GBMenuSection  { }

.GBMenuFoot { border-top:none; text-align:center; background:url(Backgrounds.gif) repeat-x 0px -1367px; white-space:nowrap; }  
.GBMenuButton {
   font-size:11px;background:white; text-align:center; border:1px solid #8a8fb5; 
   width:48px; margin:2px; margin-top:5px; margin-bottom:4px; white-space:nowrap; padding-left:0px; padding-right:0px;
   }
.GBMenuButtonHover { background:#ffeeaa; border:1px solid #aaaadd; }

/*--------------- Grid configuration menus ----------------- */

.GBCfgMenuOuter,.GBColumnsMenuOuter { border:1px solid #A39282; }
.GBCfgMenuHead,.GBColumnsMenuHead { padding-left:3px; }
.GBCfgMenuBody,.GBColumnsMenuBody { padding-left:4px; padding-right:4px; }
.GBCfgMenuFoot,.GBColumnsMenuFoot { padding-right:3px; padding-left:3px; }
.GBCfgMenuButton { width:70px; } 
.GBCfgMenuItemText,.GBColumnsMenuItemText { padding-left:3px; }
.GBColumnsMenuItemText { white-space:nowrap; }
.GBCfgMenuItem,.GBColumnsMenuItem { padding-top:3px; padding-bottom:3px; }
.GBCfgMenuItemTouch,.GBColumnsMenuItemTouch { padding-top:6px; padding-bottom:6px; }
.GBCfgMenuItemHover,.GBCfgMenuFocus,.GBCfgMenuFocusHover,
.GBColumnsMenuItemHover,.GBColumnsMenuFocus,.GBColumnsMenuFocusHover { padding-top:2px; padding-bottom:2px; }
.GBCfgMenuFocusTouch,.GBColumnsMenuFocusTouch { padding-top:5px; padding-bottom:5px; }

/*--------------- Popup grid dialog ----------------- */

.GBPopupGridOuter { border:0px none; background:none; overflow:visible; }
.GBPopupGridHead { padding:0px; }
.GBPopupGridBody { padding:0px; background:none; }
.GBPopupGridFoot { padding:0px; }
.GBPopupGridButton { width:50px; margin-top:-2px; margin-bottom:3px; } 

/* ------------------- Calendar, TGLib ------------------- */

.GBPickMain { position:absolute; left:0px; top:0px; z-index:258; }
.GBPickOuter { overflow:hidden; background:white; padding:1px; border:1px solid #426b8c; }
.GBPickHeader {
   overflow:hidden; position:absolute; z-index:258;
   border:1px solid #A39282; background:white; cursor:pointer; _cursor:hand;
   }
.GBPickHeaderBottom { border-bottom:0px none; padding-bottom:1px; }
.GBPickHeaderTop { border-top:0px none; padding-bottom:1px; }

.GBPickHead {
   background:#5c8397; font:10px Verdana,Arial; color:white; cursor:default;
   padding-left:5px; padding-top:1px; padding-bottom:1px;
   border-bottom:1px solid white;
   }
.GBPickClose {
   float:right; width:14px; cursor:pointer; _cursor:hand; display:none;
   background:url(Menu.gif) no-repeat right -354px;
   }
.GBPickBody { cursor:default; padding:0px; }
.GBPickShadow {
   position:absolute; background:#888; z-index:257; margin-left:3px; margin-top:3px;
   opacity:0.5; filter:alpha(opacity=50);
   }   
.GBPickFooter,.GBPick2Footer {
   text-align:center; padding-top:1px; cursor:default;
   background:url(Backgrounds.gif) repeat-x 0px -1367px;
   }
.GBPickMY {
   background:#183873 url(Backgrounds.gif) repeat-x 0px -2px;
   font:10px Verdana,Arial; color:white; cursor:default;
   text-align:center; padding-top:2px; padding-bottom:4px;
   }   
.GBPickMYDown { padding-right:13px; background:url(Menu.gif) no-repeat right -400px; cursor:pointer; _cursor:hand; }
.GBPickMYUp { padding-right:13px; background:url(Menu.gif) no-repeat right -450px; cursor:pointer; _cursor:hand; }
.GBPickMYRtl { padding-right:0px; padding-left:13px; }
.GBPickBL,.GBPickBR { padding-top:3px; cursor:pointer; _cursor:hand; width:16px; height:14px; overflow:hidden; }
.GBPickBL { float:left; background:url(Menu.gif) no-repeat left -500px; display:none; }
.GBPickBR { float:right; background:url(Menu.gif) no-repeat right -550px; display:none; }

.GBPickTable {  table-layout:fixed; width:0px; }
.GBPickRow { background:white; }
.GBPickRowW { background:url(Backgrounds.gif) repeat-x 0px -1350px; }
.GBPickCell { width:22px; }
.GBPickCellTouch { width:32px; }
.GBPickWDN {
   background:transparent; color:#333333;
   padding:1px; font:10px Arial; text-align:center; cursor:default;
   margin-left:3px; margin-right:3px; margin-top:2px; margin-bottom:2px;
   }
.GBPickHover,.GBPickSelHover,.GBPickWD,.GBPickSa,.GBPickSu,.GBPickSel,.GBPickNow,.GBPickWDNE,.GBPickSaNE,.GBPickSuNE,.GBPickSelNE,.GBPickNowNE,.GBPickOM,.GBPickOMNE {
   text-align:center; border:1px solid white;
   font:10px "Microsoft Sans Serif",Arial; cursor:pointer; _cursor:hand;
   margin-left:3px; margin-right:3px; margin-top:2px; margin-bottom:2px;
   }
.GBPickWN,.GBPickWNE { 
   text-align:center; font:10px "Microsoft Sans Serif",Arial; cursor:pointer; _cursor:hand;
   padding-left:4px; padding-right:4px; padding-top:3px; padding-bottom:3px;
   border-right:1px solid #B4A698; background:url(Backgrounds.gif) no-repeat -25px -1000px;
   }
.GBPickWN,.GBPickWNE { color:#A40; }
.GBPickWDNE,.GBPickSaNE,.GBPickSuNE,.GBPickSelNE,.GBPickNowNE,.GBPickWNE { cursor:default; }
.GBPickWD { background-color:#ffffff;   }
.GBPickSa { background-color:#ffffff;   }
.GBPickSu { background-color:#ffffff;   }
.GBPickSel { background-color:#fbea54; border:1px solid #dad1d1;}
.GBPickSelNE { background-color:#fbea54; border:1px solid #dad1d1;}
.GBPickNow { background-color:#c0f3ff; border:1px solid #dad1d1;}
.GBPickNowNE { background-color:#c0f3ff; border:1px solid #dad1d1;}
.GBPickHover { background-color:#ddd; border:1px solid #ddd; }
.GBPickSelHover { background-color:#eeeeaa; border:1px solid #ddd;}
.GBPickOM { background-color:white; color:#aaaaaa; }
.GBPickOMNE { color:#aaaaaa; }
.GBPickEmpty { background:url(Menu.gif) no-repeat center -1050px; cursor:pointer; _cursor:hand; }
.GBPickTouch { font-size:14px; }

.GBPickTimeCell {
   text-align:right; padding-bottom:4px; padding-top:6px; padding-right:5px; 
   border-top:1px solid #adf; background:#f0f6ff;
   }
.GBPickTime {
   font:11px "Microsoft Sans Serif",Arial;
   border:0px none; white-space:nowrap; text-align:right; background:#f0f6ff;
   }
.GBPickButton {
   font-size:11px;background:white; text-align:center; border:1px solid #8a8fb5; 
   width:53px; margin:2px; margin-top:5px; margin-bottom:4px; padding-left:0px; padding-right:0px;
   }
.GBPickButtonHover { background:#ffeeaa; border:1px solid #aaaadd; }

.GBPick2Table { table-layout:fixed; width:0px; }
.GBPick2CellM { height:22px; width:55px; }
.GBPick2CellMTouch { height:26px; width:75px; }
.GBPick2CellY { height:22px; width:30px; }
.GBPick2CellYTouch { height:26px; width:45px; }
.GBPick2CellSep { height:22px; width:5px; }
.GBPick2M,.GBPick2Y,.GBPick2MSel,.GBPick2YSel,.GBPick2MHover,.GBPick2YHover,.GBPick2MSelHover,.GBPick2YSelHover {
   font:11px "Microsoft Sans Serif",Arial; cursor:pointer; _cursor:hand; text-align:center;
   margin-left:1px; margin-right:1px; padding-left:1px; padding-right:1px; overflow:hidden;
   }
.GBPick2MSel,.GBPick2YSel { background:#c0f3ff; border:1px solid #dad1d1; margin-left:0px; margin-right:0px; }
.GBPick2MHover,.GBPick2YHover { background:#DDD; border:1px solid white; margin-left:0px; margin-right:0px; }
.GBPick2MSelHover,.GBPick2YSelHover { background:#80e0f0; border:1px solid white; margin-left:0px; margin-right:0px; }   
.GBPick2SepH { width:1px; height:1px; overflow:hidden; }
.GBPick2SepHTouch { height:5px; }
.GBPick2Sep { width:1px; background:#777; overflow:hidden; margin-left:2px; margin-right:2px; height:22px; }
.GBPick2SepTouch { height:26px; }

.GBPick2BL,.GBPick2BR { width:30px; cursor:pointer; _cursor:hand; }
.GBPick2BL { background:url(Menu.gif) no-repeat center -598px; }
.GBPick2BR { background:url(Menu.gif) no-repeat center -648px; }

/* ------------------- Edit controls, TGLib ------------------- */
.GBEdit,.GBEditInline {
   font:11px "Microsoft Sans Serif",Arial;
   padding-left:4px; padding-right:4px; padding-top:2px; padding-bottom:2px;
   border:1px solid #DDD; border-top:1px solid #666; border-left:1px solid #666;
   background:white; white-space:nowrap; overflow:hidden;
   }
.GBEditInline { display:inline-block; vertical-align:bottom; }
.GBEditInput,.GBEditTextarea {
   font:11px "Microsoft Sans Serif",Arial;
   border:0px none; margin:0px; margin-top:-1px!IE;
   padding:0px; padding-left:1px!IE; padding-right:1px!IE; vertical-align:top;
   }
.GBEditTextarea { line-height:13px; }
.GBEditSpaceInput { vertical-align:middle; }
.GBEditNormalInput,.GBEditNormalTextarea,.GBEditSpaceTextarea { background-color:#FFDCFF; }
.GBEditInt,.GBEditFloat,.GBEditDate { text-align:right; }
.GBEditText { }
.GBEditMulti { white-space:normal; }
.GBEditReadOnly { background-color:#FFEEFF; }
.GBEditParent { position:absolute; z-index:258; overflow:hidden; }

.GBEnumHeaderLeft,.GBEnumHeaderRight,.GBEnumHeaderNone {
   background:white; font:11px "Microsoft Sans Serif",Arial; cursor:pointer; _cursor:hand;
   padding-left:2px; padding-right:4px; padding-top:2px; padding-bottom:2px; white-space:nowrap;
   }
.GBEnumHeaderLeft { background:white url(Menu.gif) no-repeat 1px -798px; padding-left:17px; }
.GBEnumHeaderRight { background:white url(Menu.gif) no-repeat right -798px; padding-right:17px;}
.GBEnumMenuHeader { background:white; }

.GBEnumControl,.GBEnumInline {
   font:11px "Microsoft Sans Serif",Arial; cursor:pointer; _cursor:hand;
   padding-left:15px; padding-right:4px; padding-top:2px; padding-bottom:2px;
   border:1px solid #DDD; border-top:1px solid #666; border-left:1px solid #666;
   background:white url(Menu.gif) no-repeat left -797px; overflow:hidden;
   }
.GBEnumInline { display:inline-block; vertical-align:bottom; }
.GBEnumHeader {
   background:white url(Menu.gif) no-repeat left -798px; 
   font:11px "Microsoft Sans Serif",Arial; cursor:pointer; _cursor:hand;
   padding-left:15px; padding-right:4px; padding-top:2px; padding-bottom:2px;
   }

/* ------------------- Line chart, TGLib ------------------- */

.GBChartInner { width:100%; }
.GBChartLayer { overflow:hidden; height:1000px; }
.GBChartAxisY { background:black; height:1px; overflow:hidden; }
.GBChartAxisYLabel { overflow:hidden; }
.GBChartAxisYText { margin-right:5px; margin-top:12px; text-align:right; font:12px Arial; }
.GBChartAxisX { width:1px; overflow:hidden; background:black; }
.GBChartAxisXLabel { overflow:hidden; }
.GBChartAxisXText { text-align:center; font:12px Arial; }
.GBChartCaption { text-align:center; font:12px Arial; margin-top:3px; }

.GBChartPoint1,.GBChartPoint2,.GBChartPoint3,.GBChartPoint4,.GBChartPoint5,.GBChartPoint6,.GBChartPoint7,.GBChartPoint8 {
   background:url(Gantt.gif) no-repeat; width:32px; height:32px; overflow:hidden; 
   }
.GBChartPoint1 { background-position:-892px 7px; }
.GBChartPoint1Hover { background-position: -942px 7px; }
.GBChartPoint2 { background-position:-992px 7px; }
.GBChartPoint2Hover { background-position:-1042px 7px; }
.GBChartPoint3 { background-position:-1092px 7px; }
.GBChartPoint3Hover { background-position:-1142px 7px; }
.GBChartPoint4 { background-position:-1192px 7px; }
.GBChartPoint4Hover { background-position:-1242px 7px; }
.GBChartPoint5 { background-position:-1292px 7px; }
.GBChartPoint5Hover { background-position:-1342px 7px; }
.GBChartPoint6 { background-position:-1392px 7px; }
.GBChartPoint6Hover { background-position:-1442px 7px; }
.GBChartPoint7 { background-position:-1492px 7px; }
.GBChartPoint7Hover { background-position:-1542px 7px; }
.GBChartPoint8 { background-position:-1592px 7px; }
.GBChartPoint8Hover { background-position:-1642px 7px; }

/* -------------- Custom scrollbars ------------------ */

.GBCustScroll1RightHidden { background:url(VScroll.gif) left -108px; height:18px; overflow:hidden; }
.GBCustScroll1Right { padding-right:18px; background:url(VScroll.gif) right 0px; }
.GBCustScroll1RightHover { padding-right:18px; background:url(VScroll.gif) right -18px; }
.GBCustScroll1Left { padding-left:18px;  background:url(VScroll.gif) left 0px; }
.GBCustScroll1LeftHover { padding-left:18px;  background:url(VScroll.gif) left -18px; }
.GBCustScroll1SliderRight { padding-right:3px; background:url(VScroll.gif) right -36px; }
.GBCustScroll1SliderLeft { padding-left:3px; background:url(VScroll.gif) left -36px; }
.GBCustScroll1SliderHIn { height:18px; overflow:hidden; background:url(VScroll.gif) center -54px; }
.GBCustScroll1SliderRightHover { padding-right:3px; background:url(VScroll.gif) right -72px; }
.GBCustScroll1SliderLeftHover { padding-left:3px; background:url(VScroll.gif) left -72px; }
.GBCustScroll1SliderHInHover { height:18px; overflow:hidden; background:url(VScroll.gif) center -90px; }
.GBCustScroll1X { background:white; }

.GBCustScroll2RightHidden { background:url(VScroll.gif) left -364px; height:36px; overflow:hidden; }
.GBCustScroll2Right { padding-right:36px; background:url(VScroll.gif) right -148px; }
.GBCustScroll2RightHover { padding-right:36px; background:url(VScroll.gif) right -184px; }
.GBCustScroll2Left { padding-left:36px;  background:url(VScroll.gif) left -148px; }
.GBCustScroll2LeftHover { padding-left:36px;  background:url(VScroll.gif) left -184px; }
.GBCustScroll2SliderRight { padding-right:6px; background:url(VScroll.gif) right -220px; }
.GBCustScroll2SliderLeft { padding-left:6px; background:url(VScroll.gif) left -220px; }
.GBCustScroll2SliderHIn { height:36px; overflow:hidden; background:url(VScroll.gif) center -256px; }
.GBCustScroll2SliderRightHover { padding-right:6px; background:url(VScroll.gif) right -292px; }
.GBCustScroll2SliderLeftHover { padding-left:6px; background:url(VScroll.gif) left -292px; }
.GBCustScroll2SliderHInHover { height:36px; overflow:hidden; background:url(VScroll.gif) center -328px; }
.GBCustScroll2X { background:white; }

.GBCustScroll3Right,.GBCustScroll3RightHidden { background:white; height:9px; overflow:hidden; }
.GBCustScroll3SliderRight,.GBCustScroll3SliderRightHover { padding-right:3px; height:9px; background:url(VScroll.gif) right -126px; }
.GBCustScroll3SliderLeft,.GBCustScroll3SliderLeftHover { height:9px; background:url(VScroll.gif) left -126px; }
.GBCustScroll3SliderRightHover { background-position:right -135px; }
.GBCustScroll3SliderLeftHover { background-position:left -135px; }
.GBCustScroll3X { background:white; }

.GBCustScroll4Right,.GBCustScroll4RightHidden,.GBCustScroll4SliderRight,.GBCustScroll4SliderRightHover { height:1px; overflow:hidden; }
.GBCustScroll4X { }

.GBCustScroll1DownHidden { background:url(HScroll.png) -108px top; width:18px; overflow:hidden; }
.GBCustScroll1Down { padding-bottom:18px; background:url(HScroll.png) 0px bottom; cursor:default; width:18px; overflow:hidden; }
.GBCustScroll1DownHover { padding-bottom:18px; background:url(HScroll.png) -18px bottom; width:18px; overflow:hidden; }
.GBCustScroll1Up { padding-top:18px; background:url(HScroll.png) 0px top; width:18px; overflow:hidden; }
.GBCustScroll1UpHover { padding-top:18px;  background:url(HScroll.png) -18px top; width:18px; overflow:hidden; }
.GBCustScroll1SliderDown { padding-bottom:3px; background:url(HScroll.png) -36px bottom; width:18px; overflow:hidden; }
.GBCustScroll1SliderUp { padding-top:3px; background:url(HScroll.png) -36px top; width:18px; overflow:hidden; }
.GBCustScroll1SliderVIn { background:url(HScroll.png) -54px center; width:18px; overflow:hidden; }
.GBCustScroll1SliderDownHover { padding-bottom:3px; background:url(HScroll.png) -72px bottom; width:18px; overflow:hidden; }
.GBCustScroll1SliderUpHover { padding-top:3px; background:url(HScroll.png) -72px top; width:18px; overflow:hidden; }
.GBCustScroll1SliderVInHover { background:url(HScroll.png) -90px center; width:18px; overflow:hidden; }

.GBCustScroll2DownHidden { background:url(HScroll.png) -364px top; width:36px; overflow:hidden; }
.GBCustScroll2Down { padding-bottom:36px; background:url(HScroll.png) -148px bottom; cursor:default; width:36px; overflow:hidden; }
.GBCustScroll2DownHover { padding-bottom:36px; background:url(HScroll.png) -184px bottom; width:36px; overflow:hidden; }
.GBCustScroll2Up { padding-top:36px; background:url(HScroll.png) -148px top; width:36px; overflow:hidden; }
.GBCustScroll2UpHover { padding-top:36px;  background:url(HScroll.png) -184px top; width:36px; overflow:hidden; }
.GBCustScroll2SliderDown { padding-bottom:6px; background:url(HScroll.png) -220px bottom; width:36px; overflow:hidden; }
.GBCustScroll2SliderUp { padding-top:6px; background:url(HScroll.png) -220px top; width:36px; overflow:hidden; }
.GBCustScroll2SliderVIn { background:url(HScroll.png) -256px center; width:36px; overflow:hidden; }
.GBCustScroll2SliderDownHover { padding-bottom:6px; background:url(HScroll.png) -292px bottom; width:36px; overflow:hidden; }
.GBCustScroll2SliderUpHover { padding-top:6px; background:url(HScroll.png) -292px top; width:36px; overflow:hidden; }
.GBCustScroll2SliderVInHover { background:url(HScroll.png) -328px center; width:36px; overflow:hidden; }

.GBCustScroll3Down,.GBCustScroll3DownHidden { background:white; width:9px; overflow:hidden; cursor:default; }
.GBCustScroll3SliderDown,.GBCustScroll3SliderDownHover { padding-bottom:3px; width:9px; background:url(HScroll.png) -126px bottom; }
.GBCustScroll3SliderUp,.GBCustScroll3SliderUpHover { width:9px; background:url(HScroll.png) -126px top; cursor:default; }
.GBCustScroll3SliderDownHover { background-position:-135px bottom; }
.GBCustScroll3SliderUpHover { background-position:-135px top; cursor:default; }

.GBCustScroll4Down,.GBCustScroll4DownHidden,.GBCustScroll4SliderDown,.GBCustScroll4SliderDownHover { width:1px; overflow:hidden; }


/* ------------------- Other messages, TGLib ------------------- */

.GBHintMain {
   position:absolute; margin-left:-2px; margin-top:-2px; padding-left:1px; padding-top:1px; left:0px; top:0px; z-index:260; 
   background:white; cursor:default; border:1px solid #A39282; 
   }
.GBHintSpaceMain { margin:0px; padding:0px; overflow:hidden; }
.GBHintOuter { overflow:hidden; background:white; color:black; text-align:left; border-color:white; }
.GBHintSpaceOuter { background:white!important; margin-left:-1px; margin-top:-1px; margin-bottom:-1px; }
.GBHintHeaderOuter { background:url(Backgrounds.gif) repeat-x 0px 0px!important; color:white; border: 1px solid white; }
.GBHintShadow {
   position:absolute; margin-left:2px; margin-top:2px; z-index:259;
   background:#888; opacity:0.3; filter:alpha(opacity=30);
   }
.GBHintSpaceShadow { margin-left:4px; margin-top:4px; }

.GBTipMain { position:absolute; left:0px; top:0px; z-index:262; visibility:hidden; }
.GBTipOuter  {
   overflow:hidden; cursor:default; font:12px Arial; padding-left:3px; padding-right:3px;
   background:#E4E5F0 url(Backgrounds.gif) repeat-x 0px -750px; border:1px solid #777; 
   }
.GBTipBody { background:#E4E5F0 url(Backgrounds.gif) repeat-x 0px -750px; white-space:nowrap; }   
.GBTipShadow {
   position:absolute; margin-left:3px; margin-top:3px; z-index:261;
   background:#888; opacity:0.3; filter:alpha(opacity=30);
   visibility:hidden;
   }

.GBMouseOrig { background:yellow!important; opacity:0.5; filter:alpha(opacity=50); }
.GBMouseDragObject { position:absolute; z-index:260; background:#888; opacity:0.5; filter:alpha(opacity=50); }

.GBFocus { border:1px solid #AAF; border-top:1px solid #00F; border-left:1px solid #00F; background-color:#EEE; } 

.GBBodyPrint { margin:0px!important; padding:0px!important; border:0px none!important; background:none!important; }

.GridDisabled { position:absolute; z-index:256; background:white; opacity:0.5; filter:alpha(opacity=50); } 
.GridMain { z-index:255; }

/* Do not change, marks the style loaded */
.GBLoaded { border:1px solid black!important; }