{% extends "::base.html.twig" %}
{% set activePage = 'Principal' %}

{# content #}
{% block content %}
    <div id="content">
        <div class="page-header">
            <div class="pull-left">
                <h4><i class="icon-home"></i> Administrador de excepciones</h4>
            </div>
            <div class="pull-right">
                <ul class="bread">
                    <li><span class="divider">/</span></li>
                    <li class='active'>Excepciones</li>
                </ul>
            </div>
        </div>
        <div class="container-fluid" id="content-area">
            <div class="row-fluid">
                <div class="span12">
                    <div class="crm-box">
                        <div class="crm-box-head">
                            <i class="icon-table"></i>
                            <span>Lista de excepciones</span>
                        </div>
                        <div class="crm-box-body crm-box-body-nopadding">
                            <div id="{{ ptwGridOptionsGenerator.containerId }}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% include 'ComponentsEJSTreeGridBundle::createGrid.js.twig' with {
        'gridContainerId' : ptwGridOptionsGenerator.containerId, 
        'gridOptions'     : ptwGridOptionsGenerator.options,
        'gridId'          : ptwGridOptionsGenerator.gridId         }
    %}
{% endblock javascripts %}