/* -----------------------------------------------------------------------*/
/* ----------------- "Robust" TreeGrid style definition ------------------*/
/* -----------------------------------------------------------------------*/

/* ------------- Base tags ------------- */

.GRImage { padding-bottom:100%; padding-bottom:256px!IE; }
.GRNone { display:none; }
.GRSection,.GRSectionFF3 { table-layout:fixed; width:0px; font-size:1px; }
.GRSectionFF3 { border-collapse:collapse; }

/* -------------- Sections ------------------ */

.GRMainTable { border:1px solid #d0d0d0; border-collapse:separate; text-align:left; line-height: normal; }
.GRBodyLeft,.GRBodyMid,.GRBodyRight,.GRHeadLeft,.GRHeadMid,.GRHeadRight,.GRFootLeft,.GRFootMid,.GRFootRight { }
.GRBodyLeft,.GRBodyMid,.GRBodyRight { }
.GRHeadLeft,.GRHeadMid,.GRHeadRight { }
.GRFootLeft,.GRFootMid,.GRFootRight { border-top:1px solid #d0d0d0; }
.GRHeadLeft,.GRBodyLeft,.GRFootLeft,.GRHScrollLeft { border-right:1px solid #d0d0d0; }	
.GRHeadMid,.GRBodyMid,.GRFootMid,.GRHScrollMid {  }
.GRHeadRight,.GRBodyRight,.GRFootRight,.GRHScrollRight { border-left:1px solid #d0d0d0; }	
.GRLeftSplitter,.GRRightSplitter,.GRLeftSplitterTouch,.GRRightSplitterTouch { width:7px;background:#F0F0E0; overflow:hidden; cursor:e-resize; }
.GRLeftSplitterTouch,.GRRightSplitterTouch { width:18px; }
.GRLeftSplitter,.GRLeftSplitterTouch { border-right:1px solid #d0d0d0; }
.GRRightSplitter,.GRRightSplitterTouch { border-left:1px solid #d0d0d0; }
.GRSplitterDisabled { background:white; cursor:default }
.GRVScroll { padding-top:1px; padding-bottom:1px; } 
.GRHScrollLeft,.GRHScrollMid,.GRHScrollRight,.GRHScrollLeftResize,.GRHScrollRightResize { padding-left:1px; padding-right:1px; cursor:default; }
.GRHScrollLeftResize { border-right:2px solid #777; padding-right:5px; background:#F4F4F4; }
.GRHScrollRightResize { border-left:2px solid #777; padding-left:5px; background:#F4F4F4; }
.GRHScrollMidLeftResize { border-left:1px solid #777; padding-left:5px; background:#F4F4F4; }
.GRHScrollMidRightResize { border-right:1px solid #777; padding-right:5px; background:#F4F4F4; }
.GRHScrollLeftResizeTouch { border-right:2px solid #777; padding-right:18px; background:#F4F4F4; }
.GRHScrollRightResizeTouch { border-left:2px solid #777; padding-left:18px; background:#F4F4F4; }
.GRHScrollMidLeftResizeTouch { border-left:1px solid #777; padding-left:19px; background:#F4F4F4; }
.GRHScrollMidRightResizeTouch { border-right:1px solid #777; padding-right:19px; background:#F4F4F4; }
.GRHScrollWide { padding-right:1px; }
.GRHScrollHidden { overflow:visible!important; background:#F4F4F4; }
.GRXScroll { background:#F4F4F4; }
.GRScrollSafariMac div::-webkit-scrollbar { -webkit-appearance: none; width: 11px; height: 11px; } 
.GRScrollSafariMac div::-webkit-scrollbar-thumb { border-radius: 8px; border: 2px solid white; background-color: rgba(0, 0, 0, .5); }
.GRPageFirst { }
.GRPage { border-top:1px solid #E0E0E0;}
.GRPageOne { }
.GRChildPart { }

/* ------------- Rows ------------------ */
.GRSpaceRowHeight { height:21px; }
.GRRowHeight { height:23px; }
.GRRowHeightTouch { height:27px; }
.GRSpaceMargin { margin:0px; }
.GRSpaceMarginTouch { margin:5px; }

.GRToolbarRow,.GRToolbar1Row,.GRToolbar2Row,.GRTopbarRow,.GRTopbar1Row,.GRTopbar2Row,.GRSpaceRow,.GRGroupRow,.GRSearchRow,.GRPagerRow {
   font-size:1px; border-top:1px solid #ffffff; border-bottom:1px solid #e0e0ff; 
   background-color:#F0F0E0; overflow:hidden; padding-bottom:3px; padding-top:3px; 
   }
.GRToolbarRow,.GRToolbar2Row { border-bottom:0px none; }
.GRFillRow { background-color:#F0F0E0; }
.GRTabberRow { background: #F0F0E0; }
.GRRowAbove,.GRRowBelow { border-left:1px solid #e0e0ff; border-right:1px solid #e0e0ff; background-color:#F0F0E0; line-height: normal; }
.GRRowAbove { margin-top:3px; background:url(Backgrounds.gif) 0px 0px; overflow:hidden; }
.GRRowBelow { margin-bottom:3px; background:url(Backgrounds.gif) 0px bottom; overflow:hidden; }
.GRNoDataRow { padding-left:5px; padding-top:5px; padding-bottom:5px; color:gray; font-style:italic; background:#FAFAFA; }

/* ------------- Cell ------------- */

.GRCell,.GRCellPanel,.GRCellFilter,.GRCellFilterPanel,.GRCellHeader,.GRCellHeaderPanel,.GRCellFilterPanel,
.GRHeaderDrag,.GRHeaderGroup,.GRCellUser,.GRCellEmpty,.GRCellHeaderEmpty { 
	border-top:1px solid #ffffff; border-bottom:1px solid #e0e0ff; border-left:1px solid #ffffff; border-right:1px solid #e0e0ff;
	vertical-align:top; white-space:nowrap; overflow:hidden; overflow:auto!IE; height:auto;
	}
.GRCellHeaderPanel { padding-top:0px; }

.GRCellSpace,.GRCellSpaceEdit,.GRCellSpaceSelect,.GRCellSpaceEditIcon,.GRCellSpaceEditButton,
.GRCellSpaceButton,.GRCellSpaceButtonButton {
   vertical-align:top; white-space:nowrap;
   border-left:1px solid #ffffff; border-right:1px solid #e0e0ff;
   padding-top:2px!important;
   }
.GRCellSpacePanel,.GRCellSpaceBool { border-left:1px solid #ffffff; border-right:1px solid #e0e0ff; vertical-align:top; text-align:center; }
.GRCellSpaceRadio { }
.GRCellSpaceEdit,.GRCellSpaceSelect,.GRCellSpaceEditIcon,.GRCellSpaceEditButton { background-color:white; }     
.GRCellSpaceEditIcon { padding-left:0px!important; }
.GRSpaceSelectInner { white-space:nowrap!important; }
.GRCellSpaceButtonButton { padding-top:0px!important; }
.GRCellSpaceAbove { border-top:1px solid #e0e0ff; }
.GRCellSpaceBelow { border-bottom:1px solid #e0e0ff; }

.GRCellFilterPanel { background-color:#F0F0E0; text-align:center; padding-top:0px; }
.GRCellHeader,.GRCellHeaderEmpty { background-color:#F0F0E0; border-top:1px solid #ffffff; }
.GRCellPanel,.GRCellHeaderPanel { background-color:#F0F0E0; white-space:nowrap; direction:ltr; }
.GRCellFilterPanel { direction:ltr; }
.GRCellUser { background-color:#F0F0E0; }
.GRCellEmpty { background:#F0F0E0; border:0px none;}
.GRCellHeaderEmpty { border:0px none; border-top:1px solid #ffffff; }
.GRCellHidden { background:transparent!important; border-top:none!important; border-bottom:none!important; }

.GRHeaderButton { padding:0px; }
.GRHeaderGroup { font:15px Arial; padding-left:3px; }
.GRHeaderGroupFocus { background-color: #DEDFD8; }
.GRHeaderGroupDelete { background-color: #F0F0E0; color: #F0F0E0; }
.GRHeaderGroupCustom {
   font:italic 15px Arial;
   color:#BBB; padding-left:5px; cursor:default; white-space:nowrap;
   }
.GRHeaderDrag { background-color: #C0C0B0; cursor:default; overflow:hidden; }
.GRHeaderFocus { background-color: #DEDFD8; }
.GRPanel { padding-left:80px; }
.GRNoTreeLines1 { text-align:right; }
.GRNoTreeLines2 { text-align:right; vertical-align:middle; padding-top:0px; }
.GRNoTreeLines3 { text-align:left; }
.GRTree { padding-top:0px; white-space:nowrap; }
.GRSpannedTree { vertical-align:top; }
.GRCellBorderFF3 { border-left:0px none; border-top:0px none; }
.GRCellClassInner { padding-top:0px; padding-bottom:0px; }

/* ------------- Inside cell ------------- */

.GRHtml,.GRText,.GRLines,.GRPass,.GRInt,.GRFloat,.GRDate,.GRLink,.GRImg,.GRRadio,.GRRadioText,.GRList,.GREnum,.GRDropCols,.GRAbs,.GRPagerEdit,.GRUser,.GRChart {
   font-size:15px; font-family:"Microsoft Sans Serif",Verdana,Arial; white-space:nowrap;
   padding-left:3px; padding-right:3px; padding-top:2px; padding-bottom:2px;
   }
.GRInt,.GRFloat,.GRDate { text-align:right; }
.GRLines,.GRRadio,.GRHtml,.GRList { white-space:normal; }	
.GRImg,.GRHtml { padding-top:0px; padding-bottom:0px; }
.GRSelect { padding-top:2px; padding-bottom:2px; }
.GRChart { padding:5px; }
.GRPass { font-size:15px; padding:0px; padding-left:3px; }
.GRRadio,.GRRadioText { padding:0px; font-weight:normal!important; }
.GRBool { text-align:center; }
.GRIcon { background-repeat:no-repeat; }
.GRHidden { }
.GRHiddenSpace { display:none; }
.GRHeaderText { font:bold 15px Arial; padding-left:3px; padding-right:3px; padding-bottom:1px; padding-top:1px; }
.GRAbs { padding:0px; }
.GRUser { padding:0px; }
.GRPagerEdit {
   vertical-align:top; text-align:center; background:white;
   padding-top:2px; padding-bottom:1px; border:0px none;
   }
.GRRightButton { font:13px Arial; padding:0px; height:17px; width:19px; margin:0px; }
.GRRightHtml { font:15px Arial; }
.GRRightImg { font:15px Arial; }
.GRMergedCellH { padding:0px; padding-right:5px; }
.GRMergedCellV { padding:0px; padding-bottom:1px; }

.GRWrap0 { white-space:nowrap; }
.GRWrap1 { white-space:normal; }
.GEAlignLeft { text-align:left; }
.GRAlignCenter { text-align:center; }
.GRAlignJustify { text-align:center; }
.GRAlignRight { text-align:right; }
.GRNoSpaceLeft { border-left:0px none; padding-left:0px; }
.GRNoSpaceRight { border-right:0px none; padding-right:0px; }
.GRCellRotate1 { vertical-align:bottom; padding-top:1px; padding-bottom:1px; text-align:left; }
.GRCellRotate2 { vertical-align:top; padding-top:1px; padding-bottom:1px; }
.GRCellRotate3 { vertical-align:middle; padding-top:1px; padding-bottom:1px; }
.GRRotate1IEHeader { background-color:#F0F0E0; filter: progid:DXImageTransform.Microsoft.Chroma(color='#F0F0E0') progid:DXImageTransform.Microsoft.BasicImage(rotation=3); overflow:hidden; }
.GRRotate1IE { background-color:#FFFFFF; filter: progid:DXImageTransform.Microsoft.Chroma(color='#FFFFFF') progid:DXImageTransform.Microsoft.BasicImage(rotation=3); overflow:hidden; }
.GRRotate1 { -ms-transform:rotate(-90deg); -moz-transform:rotate(-90deg); -webkit-transform: rotate(-90deg); -o-transform: rotate(-90deg); }
.GRRotate2 { text-align:left; writing-mode:tb-rl; -moz-transform:rotate(-270deg); -webkit-transform: rotate(-270deg); -o-transform: rotate(-270deg); }

/*--------------- Pages type cell ----------------- */

.GRPages { overflow:visible; padding-left:3px; padding-right:3px;}
.GRPagesLink,.GRPagesLinkActive {
   padding-left:2px; padding-right:1px; padding-top:2px; padding-bottom:2px; margin-top:2px; margin-bottom:2px;
   display:inline-block; font:15px Arial; cursor:pointer; _cursor:hand; color:blue;
   }
/* The :hover remarkably slows down every grid in IE strict mode
.GRPagesLink:visited { color:blue; }
.GRPagesLink:hover { color:red; }*/
.GRPagesLinkActive { color:black; font-weight:bold; border:1px dotted black; margin-top:1px; margin-bottom:1px; }

/*--------------- Gantt ----------------- */

.GRGantt { border:0px none; padding:0px; border-left:1px solid #ffffff; border-right:1px solid #e0e0ff; cursor:default; background:transparent; -webkit-user-select:none; -moz-user-select:none; }

.GRGantt0Out,.GRGantt10Out,.GRGantt90Out,.GRGantt100Out,.GRGanttNullOut,.GRGanttHtmlOut {
   margin-top:3px; padding:1px; background:white; border:1px solid black; overflow:hidden;
   }
.GRGanttHtmlOut { margin-left:1px; margin-right:1px; }
.GRGanttHoverOut { border:2px solid red; margin-top:2px; margin-left:0px; margin-right:0px; }  
.GRGantt10Out { padding-left:0px; border-left:0px none; }
.GRGantt90Out { padding-right:0px; border-right:0px none; }
.GRGantt0In,.GRGantt10In,.GRGantt90In,.GRGantt100In,.GRGanttNullIn,
.GRGantt0InErr,.GRGantt10InErr,.GRGantt90InErr,.GRGantt100InErr,.GRGanttNullInErr,
.GRGantt0InCrit,.GRGantt10InCrit,.GRGantt90InCrit,.GRGantt100InCrit,.GRGanttNullInCrit { height:5px; overflow:hidden; font-size:1px; }
.GRGantt0In { background:#08F; }
.GRGantt0InErr { background:#F00; }
.GRGantt0InCrit { background:#FA0; }
.GRGantt10In { background:#00F; }
.GRGantt10InErr { background:#B00; }
.GRGantt10InCrit { background:#D80; }
.GRGantt90In,.GRGantt90InErr,.GRGantt90InCrit { background:#0B0; }
.GRGantt100In,.GRGantt100InErr,.GRGantt100InCrit { background:#0F0; }
.GRGanttNullIn { background:#777; }
.GRGanttNullInErr { background:#F00; }
.GRGanttNullInCrit { background:#FA0; }
.GRGanttHtmlIn { background:#EEE; overflow:hidden; font-size:11px; font-family:"Microsoft Sans Serif",Verdana,Arial; white-space:nowrap; }
.GRGanttG0In { background:#FFF; }
.GRGanttG0InCrit { background:#FD8; }
.GRGanttG0InErr { background:#FCC; }
.GRGanttG10In { background:#EEE; }
.GRGanttG10InCrit { background:#FC6; }
.GRGanttG10InErr { background:#FAA; }
.GRGanttG90In,.GRGanttG90InErr,.GRGanttG90InCrit { background:#666; }
.GRGanttG100In,.GRGanttG100InErr,.GRGanttG100InCrit { background:#000; }
.GRGanttGNullIn { background:#FFF; }
.GRGanttGNullInErr { background:#F88; }
.GRGanttGNullInCrit { background:#FD8; }
.GRGanttRed0In,.GRGanttRed10In { background:white; } .GRGanttRed90In,.GRGanttRed100In,.GRGanttRedNullIn { background:red; }
.GRGanttBlue0In,.GRGanttBlue10In { background:white; } .GRGanttBlue90In,.GRGanttBlue100In,.GRGanttBlueNullIn { background:blue; }
.GRGanttGreen0In,.GRGanttGreen10In { background:white; } .GRGanttGreen90In,.GRGanttGreen100In,.GRGanttGreenNullIn { background:green; }
.GRGanttFuchsia0In,.GRGanttFuchsia10In { background:white; } .GRGanttFuchsia90In,.GRGanttFuchsia100In,.GRGanttFuchsiaNullIn { background:fuchsia; }
.GRGanttAqua0In,.GRGanttAqua10In { background:white; } .GRGanttAqua90In,.GRGanttAqua100In,.GRGanttAquaNullIn { background:aqua; }
.GRGanttLime0In,.GRGanttLime10In { background:white; } .GRGanttLime90In,.GRGanttLime100In,.GRGanttLimeNullIn { background:lime; }
.GRGanttMaroon0In,.GRGanttMaroon10In { background:white; } .GRGanttMaroon90In,.GRGanttMaroon100In,.GRGanttMaroonNullIn { background:maroon; }
.GRGanttNavy0In,.GRGanttNavy10In { background:white; } .GRGanttNavy90In,.GRGanttNavy100In,.GRGanttNavyNullIn { background:navy; }
.GRGanttOlive0In,.GRGanttOlive10In { background:white; } .GRGanttOlive90In,.GRGanttOlive100In,.GRGanttOliveNullIn { background:olive; }
.GRGanttOrange0In,.GRGanttOrange10In { background:white; } .GRGanttOrange90In,.GRGanttOrange100In,.GRGanttOrangeNullIn { background:orange; }
.GRGanttPurple0In,.GRGanttPurple10In { background:white; } .GRGanttPurple90In,.GRGanttPurple100In,.GRGanttPurpleNullIn { background:purple; }
.GRGanttSilver0In,.GRGanttSilver10In { background:white; } .GRGanttSilver90In,.GRGanttSilver100In,.GRGanttSilverNullIn { background:silver; }
.GRGanttTeal0In,.GRGanttTeal10In { background:white; } .GRGanttTeal90In,.GRGanttTeal100In,.GRGanttTealNullIn { background:teal; }
.GRGanttYellow0In,.GRGanttYellow10In { background:white; } .GRGanttYellow90In,.GRGanttYellow100In,.GRGanttYellowNullIn { background:yellow; }
.GRGanttBlack0In,.GRGanttBlack10In { background:white; } .GRGanttBlack90In,.GRGanttBlack100In,.GRGanttBlackNullIn { background:black; }
.GRGanttGray0In,.GRGanttGray10In { background:white; } .GRGanttGray90In,.GRGanttGray100In,.GRGanttGrayNullIn { background:gray; }
.GRGanttWhite0In,.GRGanttWhite10In,.GRGanttWhite90In,.GRGanttWhite100In,.GRGanttWhiteNullIn { background:white; } 
.GRGanttWhite90In { border-right:1px solid black; margin-right:1px; } .GRGanttWhite10In { border-left:1px solid black; }
.GRGanttOutLeft,.GRGanttOutRight { background:url(Gantt.gif) no-repeat -293px 0px; width:20px; height:16px; overflow:hidden; }
.GRGanttOutRight { background-position: -353px 0px; }
.GRGanttHtmlOutLeft,.GRGanttHtmlOutRight { }
.GRGanttCustomOutLeft,.GRGanttCustomOutRight { height:16px; overflow:hidden; background-repeat:no-repeat; }

.GRGanttFlowOut,.GRGanttFlowHtmlOut { margin-top:14px; border:1px solid black; overflow:hidden; }
.GRGanttFlowHtmlOut { margin-left:1px; margin-right:1px; }
.GRGanttFlowHover { border:2px solid red; margin-top:13px; overflow:hidden; margin-left:0px; margin-right:0px; }
.GRGanttFlowIn,.GRGanttFlowInErr,.GRGanttFlowInCrit { height:4px; overflow:hidden; background:yellow; font-size:1px; }
.GRGanttGFlowIn { background:white; }
.GRGanttFlowInErr { background:#F55; }
.GRGanttFlowInCrit { background:#FA0; }
.GRGanttFlowHtmlIn { background:#FFA; overflow:hidden; font-size:11px; font-family:"Microsoft Sans Serif",Verdana,Arial; white-space:nowrap; }

.GRFGanttBase { height:15px; margin:1px; border:1px solid; padding:1px; padding-left:2px; padding-right:2px; overflow:hidden; }
.GRFGanttRunEmpty,.GRFGanttRunBox,.GRFGanttRunSolid,.GRFGanttRunLeft,.GRFGanttRunRight,.GRFGanttRunFixed,
.GRFGanttRunBound,.GRFGanttRunBoundStart,.GRFGanttRunEnd,.GRFGanttRunEndStart,.GRFGanttRunNbsp,.GRFGanttRunComplete {
   border:1px solid black; padding:1px; padding-left:2px; padding-right:2px; overflow:hidden; font:12px Arial; white-space:nowrap;
   }
.GRFGanttRunGroupHover { border:2px solid brown!important; padding:0px!important; padding-left:1px!important;padding-right:1px!important; overflow:hidden; }
.GRFGanttRunHover { border:2px solid red!important; padding:0px!important; padding-left:1px!important;padding-right:1px!important; overflow:hidden; }
.GRFGanttRunEmpty { border:none; padding:2px; padding-left:3px; padding-right:3px; }
.GRFGanttRunNbsp { border:none; border-top:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; padding-left:3px; padding-right:3px; }
.GRFGanttRunBox { background:#F0F0E0; }
.GRFGanttRunSolid { background:url(Backgrounds.gif) left -1539px; }
.GRFGanttRunFixed,.GRFGanttRunLeft,.GRFGanttRunBound,.GRFGanttRunBoundStart { border-left-style:solid!important; border-left-width:3px!important; border-left-color:blue; padding-left:0px!important;}
.GRFGanttRunFixed,.GRFGanttRunRight,.GRFGanttRunBound,.GRFGanttRunBoundStart { border-right-style:solid!important; border-right-width:3px!important; border-right-color:blue; padding-right:0px!important; }
.GRFGanttRunFixed,.GRFGanttRunLeft,.GRFGanttRunRight { background:#C0C0C0; }
.GRFGanttRunBound,.GRFGanttRunEnd { background:#b04080; color:white; }
.GRFGanttRunEndStart,.GRFGanttRunBoundStart { background:#30a030; color:white; }
.GRFGanttRunComplete { background:#0F0; }

.GRGanttRunGroupHover { margin:0px!important; border:2px solid brown!important; padding:1px!important; overflow:hidden; }  
.GRGanttRunHover { margin:0px!important; border:2px solid red!important; padding:1px!important; overflow:hidden; }  
.GRGanttRunEmptyOut,.GRGanttRunBoxOut,.GRGanttRunSolidOut,.GRGanttRunLeftOut,.GRGanttRunRightOut,.GRGanttRunFixedOut,
.GRGanttRunBoundOut,.GRGanttRunBoundStartOut,.GRGanttRunEndOut,.GRGanttRunEndStartOut,.GRGanttRunNbspOut,.GRGanttRunCompleteOut {
   margin-top:1px; border:1px solid black; margin-left:1px; margin-right:1px; padding:1px; overflow:hidden; 
   }
.GRGanttRunEmptyIn,.GRGanttRunBoxIn,.GRGanttRunSolidIn,.GRGanttRunLeftIn,.GRGanttRunRightIn,.GRGanttRunFixedIn,
.GRGanttRunBoundIn,.GRGanttRunBoundStartIn,.GRGanttRunEndIn,.GRGanttRunEndStartIn,.GRGanttRunNbspIn,.GRGanttRunCompleteIn {
   height:15px; overflow:hidden; font:12px Arial; padding-left:1px; width:100%!IE; white-space:nowrap; 
   }
.GRGanttRunEmptyOut { border:none; }
.GRGanttRunEmptyIn { }
.GRGanttRunNbspOut { border:none; border-top:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; margin-left:0px; margin-right:0px; }
.GRGanttRunNbspIn { }
.GRGanttRunBoxOut { }
.GRGanttRunBoxIn { background:#F0F0E0; }
.GRGanttRunSolidOut { }
.GRGanttRunSolidIn { background:#FFFF00; }
.GRGanttRunFixedOut,.GRGanttRunLeftOut,.GRGanttRunBoundOut,.GRGanttRunBoundStartOut { border-left-style:solid!important; border-left-width:3px!important; border-left-color:blue; margin-left:0px;}
.GRGanttRunFixedOut,.GRGanttRunRightOut,.GRGanttRunBoundOut,.GRGanttRunBoundStartOut { border-right-style:solid!important; border-right-width:3px!important; border-right-color:blue; }
.GRGanttRunFixedIn,.GRGanttRunLeftIn,.GRGanttRunRightIn { background:#C0C0C0; }
.GRGanttRunBoundOut,.GRGanttRunBoundStartOut,.GRGanttRunEndOut,.GRGanttRunEndStartOut { color:white; }
.GRGanttRunBoundIn,.GRGanttRunEndIn { background:#b04080; }
.GRGanttRunBoundStartIn,.GRGanttRunEndStartIn { background:#30a030; }
.GRGanttRunCompleteIn { background:#0F0; }
.GRGanttRunRedIn,.GRFGanttRunRed { background:red; }
.GRGanttRunBlueIn,.GRFGanttRunBlue { background:blue; color:white; }
.GRGanttRunGreenIn,.GRFGanttRunGreen { background:green; color:white; }
.GRGanttRunFuchsiaIn,.GRFGanttRunFuchsia { background:fuchsia; }
.GRGanttRunAquaIn,.GRFGanttRunAqua { background:aqua; }
.GRGanttRunLimeIn,.GRFGanttRunLime { background:lime; }
.GRGanttRunMaroonIn,.GRFGanttRunMaroon { background:maroon; color:white; }
.GRGanttRunNavyIn,.GRFGanttRunNavy { background:navy; color:white; }
.GRGanttRunOliveIn,.GRFGanttRunOlive { background:olive; color:white; }
.GRGanttRunOrangeIn,.GRFGanttRunOrange { background:orange; }
.GRGanttRunPurpleIn,.GRFGanttRunPurple { background:purple; color:white; }
.GRGanttRunSilverIn,.GRFGanttRunSilver { background:silver; }
.GRGanttRunTealIn,.GRFGanttRunTeal { background:teal; color:white; }
.GRGanttRunYellowIn,.GRFGanttRunYellow { background:yellow; }
.GRGanttRunBlackIn,.GRFGanttRunBlack { background:black; color:white; }
.GRGanttRunGrayIn,.GRFGanttRunGray { background:gray; color:white; }
.GRGanttRunWhiteIn,.GRFGanttRunWhite { background:white; }
.GRGanttRunErrorIn,.GRFGanttRunError { background:#FFA0A0; opacity:0.9; filter:alpha(opacity=90); }
.GRFGanttRunErrorIE { background:#FFA0A0; filter:alpha(opacity=90); }
.GRGanttRunCritIn,.GRFGanttRunCrit { background:#FA0; }
.GRGanttRunErrIn,.GRFGanttRunErr { background:#F55; }
.GRGanttRunJoinLeft,.GRFGanttRunJoinLeft { border-left-style:dotted; border-left-color:red; }
.GRGanttRunJoinRight,.GRFGanttRunJoinRight { border-right-style:dotted; border-right-color:red; }
.GRGanttRunMoveOut { border:2px solid #DDD; margin:0px; padding:0px; }
.GRGanttRunMoveIn { background:#F0F0F0; color:black; }
.GRGanttRunRemoveOut { border:2px solid #DDD; margin:0px; padding:0px; }
.GRGanttRunRemoveIn { background:red; color:black; }
.GRGanttRunCopyOut { border:2px solid blue; margin:0px; padding:0px; }
.GRGanttRunCopyIn { }
.GRGanttRunUnknownIn,.GRFGanttRunUnknown { background:black; color:White; font:bold 12px verdana;}

.GRFGanttRunMove { border:2px solid #DDD; padding:0px; padding-left:1px; padding-right:1px; background:#F0F0F0; color:black; }
.GRFGanttRunRemove { border:2px solid #DDD; padding:0px; padding-left:1px; padding-right:1px; background:red; color:black; }
.GRFGanttRunCopy { border:2px solid blue; padding:0px; padding-left:1px; padding-right:1px; }

.GRGanttMilestone,.GRGanttMilestone0,.GRGanttMilestone100,
.GRGanttMilestoneCrit,.GRGanttMilestone0Crit,.GRGanttMilestone100Crit,
.GRGanttMilestoneErr,.GRGanttMilestone0Err,.GRGanttMilestone100Err { 
   background:url(Gantt.gif) no-repeat; width:18px; height:17px; overflow:hidden; 
   }
.GRGanttMilestone { background-position: -900px -1px; }
.GRGanttMilestoneHover { background-position: -950px -1px; }
.GRGanttMilestone0 { background-position: -1100px -1px; }
.GRGanttMilestone0Hover { background-position: -1150px -1px; }
.GRGanttMilestone100,.GRGanttMilestone100Crit,.GRGanttMilestone100Err { background-position: -1800px -1px; }
.GRGanttMilestone100Hover,.GRGanttMilestone100CritHover,.GRGanttMilestone100CritHover { background-position: -1850px -1px; }
.GRGanttMilestoneCrit,.GRGanttMilestone0Crit { background-position:-1700px -1px; }
.GRGanttMilestoneCritHover,.GRGanttMilestone0CritHover { background-position: -1750px -1px; }
.GRGanttMilestoneErr,.GRGanttMilestone0Err { background-position:-1000px -1px; }
.GRGanttMilestoneErrHover,.GRGanttMilestone0ErrHover { background-position: -1050px -1px; }
.GRGanttGMilestone,.GRGanttGMilestone100,.GRGanttGMilestone100Crit,.GRGanttGMilestone100Err { background-position: 0px -1px; }
.GRGanttGMilestoneHover,.GRGanttGMilestone100Hover,.GRGanttGMilestone100CritHover,.GRGanttGMilestone100ErrHover { background-position: -50px -1px; }
.GRGanttGMilestone0 { background-position: -1600px -1px; }
.GRGanttGMilestone0Hover { background-position: -1650px -1px; }
.GRGanttGMilestoneCrit,.GRGanttGMilestone0Crit { background-position:-1400px -1px; }
.GRGanttGMilestoneCritHover,.GRGanttGMilestone0CritHover { background-position: -1450px -1px; }
.GRGanttGMilestoneErr,.GRGanttGMilestone0Err { background-position:-1300px -1px; }
.GRGanttGMilestoneErrHover,.GRGanttGMilestoneErr0Hover { background-position: -1350px -1px; }

.GRGanttFlag { background:url(Gantt.gif) no-repeat -100px 0px; background-color:transparent!important; width:17px; height:15px; overflow:hidden; }
.GRGanttFlagCustom { background-position:0px 0px!important; background-repeat:no-repeat; width:16px; height:15px; overflow:hidden; }
.GRGanttFlagHover { background-position:-150px 0px; background-color:red; }
.GRGanttFlagMenu { padding-right:16px; padding-bottom:256px; font:15px Arial; background-repeat:no-repeat; }

.GRGanttPoint1,.GRGanttPoint2,.GRGanttPoint3,.GRGanttPoint4,.GRGanttPoint5,.GRGanttPoint6,.GRGanttPoint7,.GRGanttPoint8 {
   background:url(Gantt.gif) no-repeat; width:17px; height:17px; overflow:hidden; 
   }
.GRGanttPointCustom { background-position:0px 0px!important; background-repeat:no-repeat; width:17px; height:17px; overflow:hidden; }  
.GRGanttPointCustomHover { background-color:red; }
.GRGanttPoint1 { background-position:-900px 0px; }
.GRGanttPoint1Hover { background-position: -950px 0px; }
.GRGanttPoint2 { background-position:-1000px 0px; }
.GRGanttPoint2Hover { background-position:-1050px 0px; }
.GRGanttPoint3 { background-position:-1100px 0px; }
.GRGanttPoint3Hover { background-position:-1150px 0px; }
.GRGanttPoint4 { background-position:-1200px 0px; }
.GRGanttPoint4Hover { background-position:-1250px 0px; }
.GRGanttPoint5 { background-position:-1300px 0px; }
.GRGanttPoint5Hover { background-position:-1350px 0px; }
.GRGanttPoint6 { background-position:-1400px 0px; }
.GRGanttPoint6Hover { background-position:-1450px 0px; }
.GRGanttPoint7 { background-position:-1500px 0px; }
.GRGanttPoint7Hover { background-position:-1550px 0px; }
.GRGanttPoint8 { background-position:-1600px 0px; }
.GRGanttPoint8Hover { background-position:-1650px 0px; }

.GRGanttMark,.GRGanttMark1,.GRGanttMark2,.GRGanttMark3,.GRGanttMark4,.GRGanttMark5,.GRGanttMark15 { height:500px; overflow:hidden; background:#880; }
.GRGanttMark1 { background:red; }
.GRGanttMark2 { background:green; }
.GRGanttMark3 { background:yellow; }
.GRGanttMark4 { background:black; }
.GRGanttMark5 { background:silver; }
.GRGanttMark6 { background:#F8F; margin-top:20px!important; height:2px!important; margin-bottom:-22px!important; }
.GRGanttMark7 { background:#0F0; margin-top:20px!important; height:2px!important; margin-bottom:-22px!important; }
.GRGanttMark8 { background:silver; margin-top:20px!important; height:2px!important; margin-bottom:-22px!important; }
.GRGanttMark9 { background:#F8F; margin-top:1px!important; height:2px!important; margin-bottom:-3px!important; }
.GRGanttMark10 { background:#0F0; margin-top:1px!important; height:2px!important; margin-bottom:-3px!important; }
.GRGanttMark11 { background:silver; margin-top:1px!important; height:2px!important; margin-bottom:-3px!important; }
.GRGanttMark12 { background:#F8F; margin-top:12px!important; height:2px!important; margin-bottom:-14px!important; }
.GRGanttMark13 { background:#0F0; margin-top:12px!important; height:2px!important; margin-bottom:-14px!important; }
.GRGanttMark14 { background:silver; margin-top:12px!important; height:2px!important; margin-bottom:-14px!important; }
.GRGanttMark15 { background:#FF00FF; }

.GRGanttResource { font:15px Arial; margin-top:-1px; }
.GRGanttResourceChar { width:8px; }

.GRGanttAvailability { height:500px; background:#ACF; border:1px solid #88F; border-bottom:0px none; }
.GRGanttAvailabilityNeg { height:500px; background:#FCA; border:1px solid #F88; border-top:0px none; }
.GRGanttAvailabilityText,.GRGanttAvailabilityTextNeg { color:blue; background:none!important; text-align:center; font:bold 12px Arial; overflow:visible!important; white-space:nowrap; }
.GRGanttAvailabilityTextNeg { color:red; }
.GRGanttAvailabilityAxis { background:#CCC; }
.GRGanttAvailabilityTransparent { opacity:0.7; filter:alpha(opacity=70); }
.GRGanttAvailabilityRed { color:red; background:#F88; border-color:red; }
.GRGanttAvailabilityMaroon { color:maroon; background:#B77; border-color:maroon; }
.GRGanttAvailabilityOrange { color:orange; background:#FD8; border-color:orange; }
.GRGanttAvailabilityYellow { color:#CC0; background:#FF6; border-color:#CC0; }
.GRGanttAvailabilityOlive { color:olive; background:#CC8; border-color:olive; }
.GRGanttAvailabilityLime { color:#0D0; background:#8F8; border-color:#0D0; }
.GRGanttAvailabilityGreen { color:green; background:#6C6; border-color:green; }
.GRGanttAvailabilityAqua { color:#8DD; background:#8FF; border-color:#8DD; }
.GRGanttAvailabilityTeal { color:teal; background:#6CC; border-color:teal; }
.GRGanttAvailabilityBlue { color:blue; background:#99F; border-color:blue; }
.GRGanttAvailabilityNavy { color:navy; background:#66C; border-color:navy; }
.GRGanttAvailabilityFuchsia { color:fuchsia; background:#F8F; border-color:fuchsia; }
.GRGanttAvailabilityPurple { color:purple; background:#C6C; border-color:purple; }
.GRGanttAvailabilityBlack { color:#AAA; background:black; border-color:#AAA; }
.GRGanttAvailabilityGray { color:gray; background:#AAA; border-color:gray; }
.GRGanttAvailabilitySilver { color:silver; background:#DDD; border-color:silver; }
.GRGanttAvailabilityWhite { color:#CCC; background:#F8F8F8; border-color:#CCC; }
.GRGanttAvailabilityNB { border-top:0px none; border-bottom:0px none; }

.GRGanttDepFirst { height:500px; overflow:hidden; }
.GRGanttDepVert,.GRGanttDepVertBottom,.GRGanttDepVertTop,.GRGanttDepVertBottom2,.GRGanttDepVertTop2,.GRGanttDepVertBottom3  {
   border-left:1px solid #DDF; border-right:1px solid #BBF; background:blue; width:1px; overflow:hidden;
   }
.GRGanttDepVert { margin-top:-500px; height:500px; }
.GRGanttDepVertTop { margin-top:-500px; height:7px; margin-bottom:493px; }
.GRGanttDepVertTop2 { margin-top:-499px; height:6px; margin-bottom:493px; }
.GRGanttDepVertBottom { margin-top:-492px; height:492px; }
.GRGanttDepVertBottom2 { margin-top:-492px; height:14px; margin-bottom:478px; }
.GRGanttDepVertBottom3 { margin-top:-477px; height:477px; }
.GRGanttDepHorzIn { border-top:1px solid #DDF; border-bottom:1px solid #BBF; background:blue; margin-top:6px; overflow:hidden; }
.GRGanttDepHorzInLag { border-top:1px dotted blue; margin-top:7px; overflow:hidden; }
.GRGanttDepHorzTop { border-bottom:1px solid #BBF; background:blue; overflow:hidden; }
.GRGanttDepHorzBottom { border-top:1px solid #DDF; background:blue; margin-top:21px; overflow:hidden; }
.GRGanttDepHorzOut { margin-top:-500px; height:23px; margin-bottom:477px; font-size:1px; line-height:1px; overflow:hidden; }
.GRGanttDepErr { border-top-color:#FDD; border-bottom-color:#FBB; border-left-color:#FDD; border-right-color:#FBB; background:red; }
.GRGanttDepLagErr { border-color:red; }
.GRGanttDepIcon { margin-top:-500px; height:500px; }
.GRGanttDepArrowLeft,.GRGanttDepArrowRight,.GRGanttDepArrowErrLeft,.GRGanttDepArrowErrRight,
.GRGanttDepArrowLeftRtl,.GRGanttDepArrowRightRtl,.GRGanttDepArrowErrLeftRtl,.GRGanttDepArrowErrRightRtl {
   height:500px; background:url(Gantt.gif) no-repeat; overflow:hidden; 
   }
.GRGanttDepArrowLeft { background-position:-200px 0px; width:12px; }
.GRGanttDepArrowRight { background-position:-250px 0px; width:12px; }
.GRGanttDepArrowErrLeft { background-position:-400px 0px; width:12px; }
.GRGanttDepArrowErrRight { background-position:-450px 0px; width:12px; }
.GRGanttDepArrowLeftRtl { background-position:-251px 0px; width:12px; }
.GRGanttDepArrowRightRtl { background-position:-202px 0px; width:12px; }
.GRGanttDepArrowErrLeftRtl { background-position:-451px 0px; width:12px; }
.GRGanttDepArrowErrRightRtl { background-position:-402px 0px; width:12px; }
.GRGanttDepStart { width:4px; overflow:hidden; }
.GRGanttDepEnd { width:10px; overflow:hidden; }

.GRGanttMinStart,.GRGanttMaxStart,.GRGanttMinEnd,.GRGanttMaxEnd { background:url(Gantt.gif) no-repeat; width:7px; height:17px; overflow:hidden; }
.GRGanttMinStart { background-position:-500px 0px; }
.GRGanttMaxStart { background-position:-550px 0px; }
.GRGanttMinEnd { background-position:-600px 0px; }
.GRGanttMaxEnd { background-position:-650px 0px; }
.GRGanttMinStartHover { background-position:-700px 0px; }
.GRGanttMaxStartHover { background-position:-750px 0px; }
.GRGanttMinEndHover { background-position:-800px 0px; }
.GRGanttMaxEndHover { background-position:-850px 0px; }

.GRGanttBack { background:white; }
.GRGanttBackRow { background:white; }
.GRGanttBack0,.GRGanttBack1,.GRGanttBack2,.GRGanttBack3,.GRGanttBack4,.GRGanttBack5 { 
   overflow:hidden; height:500px; margin-left:auto; margin-right:auto; 
   }
.GRGanttBack0 { background:#FFF; }
.GRGanttBack1 { background:#E8E8E8; }
.GRGanttBack2 { background:#DDD; }
.GRGanttBack3 { background:#BBB; }
.GRGanttBack4 { background:#C72; }
.GRGanttBack5 { background:#27C; }

.GRGanttExclude,.GRGanttExcludeHidden { height:500px; overflow:hidden; background:#F0F0E0; margin-left:auto; margin-right:auto; }
.GRGanttExcludeHidden { }

.GRGanttBase,.GRGanttBaseAuto,.GRGanttFinish,.GRGanttFinishAuto { height:500px; overflow:hidden; border-left:2px solid #FF9E0C; width:2px; margin-left:auto; margin-right:auto; }
.GRGanttFinishAuto,.GRGanttBaseAuto { border-left:1px solid #FF9E0C; }

.GRGanttHeader { margin-left:-4px; margin-right:-4px; margin-top:-2px; }
.GRGanttHeader1,.GRGanttHeader2,.GRGanttHeader3,.GRGanttHeader4,.GRGanttHeader5 {
   font:bold 15px Arial; text-align:center;
   border-top:1px solid #ffffff; border-left:1px solid #ffffff; 
   border-bottom:1px solid #e0e0ff; border-right:1px solid #e0e0ff;
   }

/* ------------- Tree Img with lines ------------- */

.GR000,.GR010,.GR001,.GR011,.GR100,.GR110,.GR101,.GR111, 
.GR000T,.GR010T,.GR001T,.GR011T,.GR100T,.GR110T,.GR101T,.GR111T,
.GR00,.GR01,.GR10,.GR11,
.GR00T,.GR01T,.GR10T,.GR11T,
.GR0T,.GR1T,.GR0TL,.GR1TL,.GR0C,.GR1C,.GR0CL,.GR1CL,.GR0E,.GR1E,.GR0EL,.GR1EL,
.GR0,.GR1,
.GRT,.GRTL,.GRC,.GRCL,.GRE,.GREL,.GRD0,.GRD1,.GRD2,.GRD3,.GRD4,.GRD0L,.GRD1L,.GRD2L,.GRD3L,.GRD4L {   
   font-size:15px; background-image:url(Tree.gif); vertical-align:top;
   }

u.GR000,u.GR010,u.GR001,u.GR011,u.GR100,u.GR110,u.GR101,u.GR111 { padding-left:63px; }
u.GR000T,u.GR010T,u.GR001T,u.GR011T,u.GR100T,u.GR110T,u.GR101T,u.GR111T { padding-left:89px; }
u.GR00,u.GR01,u.GR10,u.GR11 { padding-left:42px; }   
u.GR00T,u.GR01T,u.GR10T,u.GR11T { padding-left:68px; }   
u.GR0T,u.GR1T,u.GR0TL,u.GR1TL,u.GR0C,u.GR1C,u.GR0CL,u.GR1CL,u.GR0E,u.GR1E,u.GR0EL,u.GR1EL { padding-left:47px; }   
u.GR0,u.GR1 { padding-left:21px; }
u.GRT,u.GRTL,u.GRC,u.GRCL,u.GRE,u.GREL,u.GRD0,u.GRD1,u.GRD2,u.GRD3,u.GRD4,u.GRD0L,u.GRD1L,u.GRD2L,u.GRD3L,u.GRD4L { padding-left:26px; }   

.GR000,.GR000T { background-position:0px 0px; }
.GR010,.GR010T { background-position:-128px 0px; }
.GR001,.GR001T { background-position:-256px 0px; }
.GR011,.GR011T { background-position:-384px 0px; }
.GR100,.GR100T { background-position:-512px 0px; }
.GR110,.GR110T { background-position:-640px 0px; }
.GR101,.GR101T { background-position:-768px 0px; }
.GR111,.GR111T { background-position:-896px 0px; }

.GR00,.GR00T { background-position:-21px 0px; }
.GR10,.GR10T { background-position:-149px 0px; }
.GR01,.GR01T { background-position:-277px 0px; }
.GR11,.GR11T { background-position:-405px 0px; }

.GR0,.GR0T { background-position:-42px 0px; }
.GR1,.GR1T { background-position:-298px 0px; }

.GRT { background-position:-63px 0px; }

.GR0TL { background-position:-1024px 0px; }
.GR1TL { background-position:-1088px 0px; }
.GR0C { background-position:-1152px 0px; }
.GR1C { background-position:-1216px 0px; }
.GR0CL { background-position:-1280px 0px; }
.GR1CL { background-position:-1344px 0px; }
.GR0E { background-position:-1408px 0px; }
.GR1E { background-position:-1472px 0px; }
.GR0EL { background-position:-1536px 0px; }
.GR1EL { background-position:-1600px 0px; }

.GRTL { background-position:-1045px 0px; }
.GRC { background-position:-1173px 0px; }
.GRCL { background-position:-1301px 0px; }
.GRE { background-position:-1429px 0px; }
.GREL { background-position:-1557px 0px; }

.GRD0 { background-position:-1664px 0px; }
.GRD1 { background-position:-1696px 0px; }
.GRD2 { background-position:-1728px 0px; }
.GRD3 { background-position:-1760px 0px; }
.GRD0L { background-position:-1792px 0px; }
.GRD1L { background-position:-1824px 0px; }
.GRD2L { background-position:-1856px 0px; }
.GRD3L { background-position:-1888px 0px; }
.GRD4 { background-position:-1920px 0px; }
.GRD4L { background-position:-1952px 0px; }

/* ------------- Tree Img without lines ------------- */

.GRND0,.GRND1,.GRND2,.GRND3,.GRND4,.GRNC,.GRNE,.GRNCR,.GRNER { font-size:15px; background-image:url(TreeN.gif); background-repeat:no-repeat; vertical-align:top; }
u.GRND0,u.GRND1,u.GRND2,u.GRND3,u.GRND4,u.GRNC,u.GRNE,u.GRNCR,u.GRNER { padding-left:20px; }
.GRND0 { background-position: -6px 0px; }
.GRND1 { background-position: -56px 0px; }
.GRND2 { background-position: -106px 0px; }
.GRND3 { background-position: -156px 0px; }
.GRND4 { background-position: -206px 0px; }
.GRNC { background-position:right -50px;}
.GRNE { background-position:right -2000px;}
.GRNCR { background-position:-255px -50px;}
.GRNER { background-position:-255px -2000px;}
u.GRNL { padding-left:21px; }

/* ------------- Panel img ------------- */

.GRPanelImage,.GRPanelMove,.GRPanelMoveOff,.GRPanelSelect,.GRPanelSelectOn,.GRPanelSelectOff,.GRPanelDelete,.GRPanelDeleteOff,.GRPanelCopy,.GRPanelCopyOff,.GRPanelEmpty {
   font-size:15px; padding-left:17px; background-image:url(Panel.gif); background-repeat:no-repeat;
   }
.GRPanelEmpty { background:none; }   
.GRPanelMove { background-position: 0px 0px; }
.GRPanelMoveOff { background-position: -50px 0px; }
.GRPanelSelect { background-position: -100px 0px; }
.GRPanelSelectOn { background-position: -150px 0px; }
.GRPanelSelectOff { background-position: -200px 0px; }
.GRPanelDelete { background-position: -250px 0px; }
.GRPanelDeleteOff { background-position: -300px 0px; }
.GRPanelCopy { background-position: -350px 0px; }
.GRPanelCopyOff { background-position: -400px 0px; }
.GRPanelButton { font:15px Arial; padding:0px; height:21px; width:19px; margin:0px; cursor:pointer; _cursor:hand; }

/* ------------- Fast Panel img ------------- */

.GRP1111,.GRP1211,.GRP1011,.GRP1101,.GRP1201,.GRP1001,.GRP1110,.GRP1210,.GRP1010,.GRP1100,.GRP1200,.GRP1000,
.GRP0111,.GRP0211,.GRP0011,.GRP0101,.GRP0201,.GRP0001,.GRP0110,.GRP0210,.GRP0010,.GRP0100,.GRP0200,.GRP0000, 
.GRP111x,.GRP121x,.GRP101x,.GRP110x,.GRP120x,.GRP100x,.GRP011x,.GRP021x,.GRP001x,.GRP010x,.GRP020x,.GRP000x,
.GRP11xx,.GRP12xx,.GRP10xx,.GRP01xx,.GRP02xx,.GRP00xx,
.GRPx111,.GRPx211,.GRPx011,.GRPx101,.GRPx201,.GRPx001,.GRPx110,.GRPx210,.GRPx010,.GRPx100,.GRPx200,.GRPx000,
.GRPx11x,.GRPx21x,.GRPx01x,.GRPx10x,.GRPx20x,.GRPx00x,
.GRPxx11,.GRPxx10,.GRPxx01,.GRPxx00, 
.GRPxxx1,.GRPxxx0,.GRPxx1x,.GRPxx0x,.GRPx2xx,.GRPx1xx,.GRPx0xx,.GRP1xxx,.GRP0xxx {
   font-size:15px; background-image:url(FastPanel1.gif); background-repeat:no-repeat;
   }
.GRP1111,.GRP111x,.GRP11xx,.GRP1xxx { background-position:0px 0px; }
.GRP1211,.GRP121x,.GRP12xx { background-position:-80px 0px; }
.GRP1011,.GRP101x,.GRP10xx { background-position:-160px 0px; }
.GRP1101,.GRP110x { background-position:-240px 0px; }
.GRP1201,.GRP120x { background-position:-320px 0px; }
.GRP1001,.GRP100x { background-position:-400px 0px; }
.GRP1110 { background-position:-480px 0px; }
.GRP1210 { background-position:-560px 0px; }
.GRP1010 { background-position:-640px 0px; }
.GRP1100 { background-position:-720px 0px; }
.GRP1200 { background-position:-800px 0px; }
.GRP1000 { background-position:-880px 0px; }
.GRP0111,.GRP011x,.GRP01xx,.GRP0xxx { background-position:-960px 0px; }
.GRP0211,.GRP021x,.GRP02xx { background-position:-1040px 0px; }
.GRP0011,.GRP001x,.GRP00xx { background-position:-1120px 0px; }
.GRP0101,.GRP010x { background-position:-1200px 0px; }
.GRP0201,.GRP020x { background-position:-1280px 0px; }
.GRP0001,.GRP000x { background-position:-1360px 0px; }
.GRP0110 { background-position:-1440px 0px; }
.GRP0210 { background-position:-1520px 0px; }
.GRP0010 { background-position:-1600px 0px; }
.GRP0100 { background-position:-1680px 0px; }
.GRP0200 { background-position:-1760px 0px; }
.GRP0000 { background-position:-1840px 0px; }

.GRPx111,.GRPx11x,.GRPx1xx { background-position:-17px 0px; }
.GRPx211,.GRPx21x,.GRPx2xx { background-position:-97px 0px; }
.GRPx011,.GRPx01x,.GRPx0xx { background-position:-177px 0px; }
.GRPx101,.GRPx10x { background-position:-257px 0px; }
.GRPx201,.GRPx20x { background-position:-337px 0px; }
.GRPx001,.GRPx00x { background-position:-417px 0px; }
.GRPx110 { background-position:-497px 0px; }
.GRPx210 { background-position:-577px 0px; }
.GRPx010 { background-position:-657px 0px; }
.GRPx100 { background-position:-737px 0px; }
.GRPx200 { background-position:-817px 0px; }
.GRPx000 { background-position:-897px 0px; }

.GRPxx11,.GRPxx1x { background-position:-34px 0px; }
.GRPxx01,.GRPxx0x { background-position:-274px 0px; }
.GRPxx10{ background-position:-514px 0px; }
.GRPxx00 { background-position:-754px 0px; }

.GRPxxx1 { background-position:-51px 0px; }
.GRPxxx0 { background-position:-531px 0px; }

.GRP11x1,.GRP12x1,.GRP10x1,.GRP11x0,.GRP12x0,.GRP10x0,.GRP01x1,.GRP02x1,.GRP00x1,.GRP01x0,.GRP02x0,.GRP00x0,
.GRPx1x1,.GRPx2x1,.GRPx0x1,.GRPx1x0,.GRPx2x0,.GRPx0x0,
.GRP1x11,.GRP1x01,.GRP1x10,.GRP1x00,.GRP0x11,.GRP0x01,.GRP0x10,.GRP0x00,
.GRP1x1x,.GRP1x0x,.GRP0x1x,.GRP0x0x,
.GRP1xx1,.GRP1xx0,.GRP0xx1,.GRP0xx0 {
   font-size:15px; background-image:url(FastPanel2.gif); background-repeat:no-repeat;
   }
.GRP11x1 { background-position:0px 0px; }
.GRP12x1 { background-position:-80px 0px; }
.GRP10x1 { background-position:-160px 0px; }
.GRP11x0 { background-position:-240px 0px; }
.GRP12x0 { background-position:-320px 0px; }
.GRP10x0 { background-position:-400px 0px; }
.GRP01x1 { background-position:-480px 0px; }
.GRP02x1 { background-position:-560px 0px; }
.GRP00x1 { background-position:-640px 0px; }
.GRP01x0 { background-position:-720px 0px; }
.GRP02x0 { background-position:-800px 0px; }
.GRP00x0 { background-position:-880px 0px; }

.GRPx1x1 { background-position:-17px 0px; }
.GRPx2x1 { background-position:-97px 0px; }
.GRPx0x1 { background-position:-177px 0px; }
.GRPx1x0 { background-position:-257px 0px; }
.GRPx2x0 { background-position:-337px 0px; }
.GRPx0x0 { background-position:-417px 0px; }

.GRP1x11,.GRP1x1x { background-position:-960px 0px; }
.GRP1x01,.GRP1x0x { background-position:-1040px 0px; }
.GRP1x10 { background-position:-1120px 0px; }
.GRP1x00 { background-position:-1200px 0px; }
.GRP0x11,.GRP0x1x { background-position:-1280px 0px; }
.GRP0x01,.GRP0x0x { background-position:-1360px 0px; }
.GRP0x10 { background-position:-1440px 0px; }
.GRP0x00 { background-position:-1520px 0px; }

.GRP1xx1 { background-position:-1600px 0px; }
.GRP1xx0 { background-position:-1680px 0px; }
.GRP0xx1 { background-position:-1760px 0px; }
.GRP0xx0 { background-position:-1840px 0px; }

.GRPSpace1 { padding-left:16px; }
.GRPSpace2 { padding-left:33px; }
.GRPSpace3 { padding-left:50px; }
.GRPSpace4 { padding-left:67px; }
u.GRPSpace1 { padding-left:14px; }
u.GRPSpace2 { padding-left:31px; }
u.GRPSpace3 { padding-left:48px; }
u.GRPSpace4 { padding-left:65px; }

/* ------------- Button type ------------- */   

.GRTabHtml,.GRTabHtml1 {
	font:15px Arial; white-space:nowrap;
	padding-left:5px; padding-right:5px; text-align:center; border-left:none;
   }
.GRTabHtml1 { background:#BBBBBB; color:white; }
.GRTabSep,.GRTabSepLeft,.GRTabSepRight { padding-left:2px; background:white!important; cursor:default!important; border:none; border-right:1px solid #e0e0ff; }
.GRTabSepRight,.GRTabSepLeft { padding-left:5px; }
.GRTabSepLast { padding-left:1px; background:white!important; cursor:default!important; border:none; }
.GRTabSepFirst { padding-left:1px; background:white!important; cursor:default!important; border:none; border-right:1px solid #e0e0ff;  }

.GRToolHtml,.GRToolHtml1 { font:15px Arial; padding-left:3px; padding-right:3px; border-right:1px solid #d0d0c0; }
.GRToolHtml1 { font-weight:bold; color:blue; }
.GRToolButton { text-align:center; padding-left:1px; padding-right:1px; }
.GRToolButtonButton,.GRToolButtonButton1,.GRToolSpaceButton,.GRToolSpaceButton1 {
 	font:13px Arial; height:22px;
 	padding-left:0px; padding-right:0px; cursor:pointer; _cursor:hand; margin-top:-1px; margin-bottom:-1px;
   }
.GRToolButtonButton1,.GRToolSpaceButton1 { color:blue; font-weight:bold; }

.GRIconHtml { text-align:left; }
.GRDisabledButton { opacity:0.3; filter:alpha(opacity=30); }

.GRToolHeader { border:none!important; padding-bottom:100px; }
.GRToolMenuHeader { }    
.GRToolMenuItem { background:#F0F0E0!important; }
.GRToolMenuOuter { background:#F0F0E0!important; }
.GRToolMenuBody { background:#F0F0E0!important; border:1px solid #e0e0ff!important;}

/* ------------- Special Toolbar buttons ------------- */   
.GRResizeGrid,.GRResizeGridRtl,.GRToolSave,.GRToolReload,.GRToolRepaint,.GRToolRepaint1,.GRToolAdd,.GRToolAddChild,.GRToolJoin,.GRToolSplit,.GRToolSort1,.GRToolSort,.GRToolCalc1,.GRToolCalc,
.GRToolExpandAll,.GRToolCollapseAll,.GRToolColumns,.GRToolCfg,.GRToolHelp,.GRToolPrint,.GRToolExport,.GRToolExportPDF,.GRToolDebug,.GRToolOutdent,.GRToolIndent, 
.GRToolUndo,.GRToolUndo1,.GRToolRedo,.GRToolRedo1,.GRToolCorrect,.GRToolCorrect1,.GRToolZoomIn,.GRToolZoomIn1,.GRToolZoomOut,.GRToolZoomOut1,.GRToolZoomFit,
.GRToolPagerFirst,.GRToolPagerFirst1,.GRToolPagerPrev,.GRToolPagerPrev1,.GRToolPagerNext,.GRToolPagerNext1,.GRToolPagerLast,.GRToolPagerLast1 {
   font-size:15px; background-image:url(Toolbar.gif); background-repeat:no-repeat;
   padding-right:2px; border-right:1px solid #d0d0c0; padding-left:21px;
   }
.GRToolPagerFirst,.GRToolPagerFirst1,.GRToolPagerPrev,.GRToolPagerPrev1,.GRToolPagerNext,.GRToolPagerNext1,.GRToolPagerLast,.GRToolPagerLast1 {
   border:0px none;
   }   
.GRToolSave { background-position:0px 0px; }
.GRToolReload { background-position:-50px 0px; }
.GRToolRepaint1 { background-position:-100px 0px; }
.GRToolAdd { background-position:-150px 0px; }
.GRToolAddChild { background-position:-200px 0px; }
.GRToolSort1 { background-position:-250px 0px; }
.GRToolSort { background-position:-300px 0px; }
.GRToolCalc1 { background-position:-350px 0px; }
.GRToolCalc { background-position:-400px 0px; }
.GRToolExpandAll { background-position:-450px 0px; }
.GRToolCollapseAll { background-position:-500px 0px; }
.GRToolCfg { background-position:-550px 0px; }
.GRToolHelp { background-position:-600px 0px; }
.GRToolColumns { background-position:-650px 0px; }
.GRToolPrint { background-position:-750px 0px; }
.GRToolExport { background-position:-800px 0px; }
.GRToolPagerFirst1 { background-position:-850px 0px; }
.GRToolPagerFirst { background-position:-900px 0px; }
.GRToolPagerPrev1 { background-position:-950px 0px; }
.GRToolPagerPrev { background-position:-1000px 0px; }
.GRToolPagerNext1 { background-position:-1050px 0px; }
.GRToolPagerNext { background-position:-1100px 0px; }
.GRToolPagerLast1 { background-position:-1150px 0px; }
.GRToolPagerLast { background-position:-1200px 0px; }
.GRToolDebug { background-position:-1250px 0px; }
.GRToolUndo1 { background-position:-1350px 0px; }
.GRToolUndo { background-position:-1400px 0px; }
.GRToolRedo1 { background-position:-1450px 0px; }
.GRToolRedo { background-position:-1500px 0px; }
.GRToolCorrect1 { background-position:-1550px 0px; }
.GRToolCorrect { background-position:-1600px 0px; }
.GRToolZoomIn1 { background-position:-1800px 0px; }
.GRToolZoomIn { background-position:-1850px 0px; }
.GRToolZoomOut1 { background-position:-1700px 0px; }
.GRToolZoomOut { background-position:-1750px 0px; }
.GRToolZoomFit { background-position:-1900px 0px; }
.GRToolExportPDF { background-position:-1950px 0px; }
.GRToolJoin { background-position:-2000px 0px; }
.GRToolSplit { background-position:-2050px 0px; }
.GRToolRepaint { background-position:-2100px 0px; }
.GRToolOutdent { background-position:-2150px 0px; }
.GRToolIndent { background-position:-2200px 0px; }

.GRResizeGrid  {
   background-position:-704px -5px; border:none; 
   margin-left:auto; margin-right:0px; margin-top:-16px;
   height:19px; width:17px; overflow:hidden; padding:0px; cursor:nw-resize; 
   }

.GRResizeGridRtl {
   background-position:-1304px -5px; border:none; 
   margin-right:auto; margin-left:0px; margin-top:-16px;
   height:19px; width:17px; overflow:hidden; padding:0px; cursor:ne-resize;
   }

/* ------------- Cell images ------------- */

.GRIconLeft,.GRIconRight,.GRIconCenter { font-size:15px; background-repeat:no-repeat; }
.GRIconLeft { background-position:left 0px; padding-left:20px!important; }
.GRIconRight { background-position:right 0px; padding-right:20px!important; }
.GRIconCenter { background-position:center 0px; }

.GRDateLeft,.GRDatesLeft,.GRDefaultsLeft,.GRDefaultsSpaceLeft,.GREnumLeft,.GRDateRight,.GRDatesRight,.GRDefaultsRight,.GRDefaultsSpaceRight,.GREnumRight,
.GRCollapseRight,.GRExpandRight,.GRCollapseLeft,.GRExpandLeft,.GRCollapseHeaderRight,.GRExpandHeaderRight,.GRCollapseHeaderLeft,.GRExpandHeaderLeft,
.GRRadio0Left,.GRRadio0Right,.GRRadio1Left,.GRRadio1Right,.GRRadio2Left,.GRRadio2Right,.GRRadio3Left,.GRRadio3Right, 
.GRBoolXSpace,.GRBoolXSpaceRO,.GRBool0Space,.GRBool1Space,.GRBool0SpaceRO,.GRBool1SpaceRO,
.GRBoolX,.GRBoolXRO,.GRBool0,.GRBool1,.GRBool0RO,.GRBool1RO,.GRBool2,.GRBool3,.GRBool2RO,.GRBool3RO,
.GRFilter0,.GRFilter1,.GRGroup0,.GRGroup1,.GRSearch0,.GRSearch1 {
   background-image:url(Button.gif); background-repeat:no-repeat; }
.GRRadio0Left,.GRRadio0Right,.GRRadio1Left,.GRRadio1Right,.GRRadio2Left,.GRRadio2Right,.GRRadio3Left,.GRRadio3Right { font-size:15px; font-family:"Microsoft Sans Serif",Verdana,Arial; }  
.GRDateLeft,.GRDatesLeft,.GRDefaultsLeft,.GRDefaultsSpaceLeft,.GRExpandLeft,.GRCollapseLeft,.GRExpandHeaderLeft,.GRCollapseHeaderLeft { padding-left:20px!important; }
.GRDateRight,.GRDatesRight,.GRDefaultsRight,.GRDefaultsSpaceRight,.GRExpandRight,.GRCollapseRight,.GRExpandHeaderRight,.GRCollapseHeaderRight { padding-right:20px!important; }
u.GRDateRight,u.GRDatesRight,u.GRDefaultsRight,u.GRDefaultsSpaceRight,u.GRExpandRight,u.GRCollapseRight,u.GRExpandHeaderRight,u.GRCollapseHeaderRight { padding-right:0px!important; padding-left:20px; }
.GRDateLeft,.GRDatesLeft { background-position:left -250px; }
.GRDateRight,.GRDatesRight { background-position:right -250px; }
.GRDefaultsLeft { background-position:left 0px; }
.GRDefaultsRight { background-position:right 0px; }
.GRDefaultsSpaceLeft { background-position:left 0px; }
.GRDefaultsSpaceRight { background-position:right 0px; }
.GREnumLeft { background-position:left -500px; padding-left:20px; }
.GREnumRight { background-position:right -500px; padding-right:20px; }
u.GREnumRight { padding-right:0px; padding-left:20px; }
.GRExpandLeft { background-position:left -2499px; }
.GRExpandRight { background-position:right -2499px; }
.GRExpandHeaderLeft { background-position:left -2499px; }
.GRExpandHeaderRight { background-position:right -2499px; }
.GRCollapseLeft { background-position:left -2249px;}
.GRCollapseRight { background-position:right -2249px;}
.GRCollapseHeaderLeft { background-position:left -2249px; }
.GRCollapseHeaderRight { background-position:right -2298px; }

.GRRadio0Left,.GRRadio1Left,.GRRadio2Left,.GRRadio3Left { padding-left:20px; padding-top:0px; padding-right:3px; line-height:20px; }
.GRRadio0Right,.GRRadio1Right,.GRRadio2Right,.GRRadio3Right { padding-right:20px; padding-top:0px; padding-left:3px; line-height:20px;}
.GRRadio0Left { background-position:left -1250px; } 
.GRRadio1Left { background-position:left -1500px;} 
.GRRadio2Left { background-position:left -750px; }
.GRRadio3Left { background-position:left -1000px;}
.GRRadio0Right { background-position:right -1250px; } 
.GRRadio1Right { background-position:right -1500px;} 
.GRRadio2Right { background-position:right -750px; }
.GRRadio3Right { background-position:right -1000px;}
.GRRadioInput { margin-top:0px; margin-bottom:0px; margin-top:-4px!IE; }
nobr.GRRadio0Left,nobr.GRRadio1Left,nobr.GRRadio2Left,nobr.GRRadio3Left,
nobr.GRRadio0Right,nobr.GRRadio1Right,nobr.GRRadio2Right,nobr.GRRadio3Right,
span.GRRadio0Left,span.GRRadio1Left,span.GRRadio2Left,span.GRRadio3Left,
span.GRRadio0Right,span.GRRadio1Right,span.GRRadio2Right,span.GRRadio3Right {
   padding-top:1px; padding-bottom:2px;
   }

u.GRBoolXSpace,u.GRBool0Space,u.GRBool1Space,u.GRBoolXSpaceRO,u.GRBool0SpaceRO,u.GRBool1SpaceRO,
u.GRBoolX,u.GRBoolRO,u.GRBool0,u.GRBool1,u.GRBool0RO,u.GRBool1RO,u.GRBool2,u.GRBool3,u.GRBool2RO,u.GRBool3RO,
u.GRFilter0,u.GRFilter1 { padding-left:20px; }
.GRBoolXSpace { background-position:center -2000px; padding-left:20px; background-image:url(Filter.gif);}
.GRBoolXSpaceRO { background-image:none; }
.GRBool0Space { background-position:center -750px; padding-left:20px; }
.GRBool1Space { background-position:center -1000px; padding-left:20px; }
.GRBool0SpaceRO { background-position:center -1750px; padding-left:20px; }
.GRBool1SpaceRO { background-position:center -2000px; padding-left:20px; }
.GRBoolX { background-position:center -2000px; background-image:url(Filter.gif);}
.GRBoolXRO { background-image:none; }
.GRBool0 { background-position:center -750px; }
.GRBool1 { background-position:center -1000px; }
.GRBool0RO { background-position:center -1750px; }
.GRBool1RO { background-position:center -2000px; }
.GRBool2,.GRBool2RO { background-position:center -1250px; }
.GRBool3,.GRBool3RO { background-position:center -1500px; }
.GRFilter0 { background-position:center -750px; }
.GRFilter1 { background-position:center -1000px; }
.GRGroup0 { background-position:center -750px; }
.GRGroup1 { background-position:center -1000px; }
.GRSearch0 { background-position:center -750px; }
.GRSearch1 { background-position:center -1000px; }
.GRBoolInput { margin-top:4px; margin-bottom:0px; padding:0px; margin-top:-0px!IE;margin-bottom:-4px!IE; }

.GRBoolChar0,.GRBoolChar1,.GRBoolChar2,.GRBoolChar0RO,.GRBoolChar1RO,.GRBoolChar2RO {
   border:2px ridge white; color:blue; text-align:center;
   height:10px; width:10px; overflow:hidden;
   font:bold 9px Arial; margin:auto; margin-top:3px;
   }
.GRBoolChar2 { color:green; }
.GRBoolChar0RO,.GRBoolChar1RO,.GRBoolChar2RO { color:gray; }
.GRBoolCharIE { height:14px; width:14px; }

.GRPopupLeft,.GRPopupRight { font-size:15px; background-image:url(Menu.gif); background-repeat:no-repeat; }
.GRPopupLeft { background-position:-6px -250px; padding-left:14px; }
.GRPopupRight { background-position:right -250px; padding-right:14px; }
.GRPopupNone { padding-right:14px; }

.GRIconRotate { padding-left:2px!important; padding-top:20px!important; }
.GRIconRotateLeft { margin-left:0px; padding-top:20px!important; }
.GRIconRotateHeaderLeft { margin-left:5px; padding-top:20px!important; }
.GRIconRotateHeaderRight { margin-left:2px; padding-top:20px!important; }

/* ------------- Filter images ------------- */
.GRFilter0Left,.GRFilter1Left,.GRFilter2Left,.GRFilter3Left,.GRFilter4Left,.GRFilter5Left,.GRFilter6Left,.GRFilter7Left,.GRFilter8Left,.GRFilter9Left,.GRFilter10Left,.GRFilter11Left,.GRFilter12Left,
.GRFilter0Right,.GRFilter1Right,.GRFilter2Right,.GRFilter3Right,.GRFilter4Right,.GRFilter5Right,.GRFilter6Right,.GRFilter7Right,.GRFilter8Right,.GRFilter9Right,.GRFilter10Right,.GRFilter11Right,.GRFilter12Right {
   font-size:15px; background-image:url(Filter.gif); background-repeat:no-repeat;
   }
.GRFilter0Left,.GRFilter1Left,.GRFilter2Left,.GRFilter3Left,.GRFilter4Left,.GRFilter5Left,.GRFilter6Left,.GRFilter7Left,.GRFilter8Left,.GRFilter9Left,.GRFilter10Left,.GRFilter11Left,.GRFilter12Left {
   padding-left:20px;
   }
.GRFilter0Right,.GRFilter1Right,.GRFilter2Right,.GRFilter3Right,.GRFilter4Right,.GRFilter5Right,.GRFilter6Right,.GRFilter7Right,.GRFilter8Right,.GRFilter9Right,.GRFilter10Right,.GRFilter11Right,.GRFilter12Right {
   padding-right:20px;
   }
u.GRFilter0Right,u.GRFilter1Right,u.GRFilter2Right,u.GRFilter3Right,u.GRFilter4Right,u.GRFilter5Right,u.GRFilter6Right,u.GRFilter7Right,u.GRFilter8Right,u.GRFilter9Right,u.GRFilter10Right,u.GRFilter11Right,u.GRFilter12Right {  
   padding-right:0px; padding-left:20px;
   }
.GRFilter0Left,.GRFilter0Menu { background-position:left 0px; }   
.GRFilter1Left,.GRFilter1Menu { background-position:left -150px; }
.GRFilter2Left,.GRFilter2Menu { background-position:left -300px; }
.GRFilter3Left,.GRFilter3Menu { background-position:left -450px; }
.GRFilter4Left,.GRFilter4Menu { background-position:left -600px; }
.GRFilter5Left,.GRFilter5Menu { background-position:left -750px; }   
.GRFilter6Left,.GRFilter6Menu { background-position:left -900px; }
.GRFilter7Left,.GRFilter7Menu { background-position:left -1050px; }
.GRFilter8Left,.GRFilter8Menu { background-position:left -1200px; }
.GRFilter9Left,.GRFilter9Menu { background-position:left -1350px; }
.GRFilter10Left,.GRFilter10Menu { background-position:left -1500px; }
.GRFilter11Left,.GRFilter11Menu { background-position:left -1650px; }
.GRFilter12Left,.GRFilter12Menu { background-position:left -1800px; }
.GRFilter0Right { background-position:right 0px; }   
.GRFilter1Right { background-position:right -150px; }
.GRFilter2Right { background-position:right -300px; }
.GRFilter3Right { background-position:right -450px; }
.GRFilter4Right { background-position:right -600px; }
.GRFilter5Right { background-position:right -750px; }   
.GRFilter6Right { background-position:right -900px; }
.GRFilter7Right { background-position:right -1050px; }
.GRFilter8Right { background-position:right -1200px; }
.GRFilter9Right { background-position:right -1350px; }
.GRFilter10Right { background-position:right -1500px; }
.GRFilter11Right { background-position:right -1650px; }
.GRFilter12Right { background-position:right -1800px; }

.GRFilter0Menu,.GRFilter1Menu,.GRFilter2Menu,.GRFilter3Menu,.GRFilter4Menu,.GRFilter5Menu,.GRFilter6Menu,.GRFilter7Menu,.GRFilter8Menu,.GRFilter9Menu,.GRFilter10Menu,.GRFilter11Menu,.GRFilter12Menu {
   width:20px; height:20px; overflow:hidden; background-image:url(Filter.gif); background-repeat:no-repeat; margin-left:-1px;
   }
.GRFilterMenuHeader { padding-left:2px; border-bottom:0px none!important; }   

/* ------------- Sort images ------------- */
.GRSort0Left,.GRSort1Left,.GRSort2Left,.GRSort3Left,.GRSort4Left,.GRSort5Left,.GRSort6Left,
.GRSort0Right,.GRSort1Right,.GRSort2Right,.GRSort3Right,.GRSort4Right,.GRSort5Right,.GRSort6Right {
   font-size:15px; background-image:url(Sort.gif); background-repeat:no-repeat;  
   }
.GRSort0Left,.GRSort1Left,.GRSort2Left,.GRSort3Left,.GRSort4Left,.GRSort5Left,.GRSort6Left { padding-left:18px; }
.GRSort0Right,.GRSort1Right,.GRSort2Right,.GRSort3Right,.GRSort4Right,.GRSort5Right,.GRSort6Right{ padding-right:18px; }
u.GRSort0Right,u.GRSort1Right,u.GRSort2Right,u.GRSort3Right,u.GRSort4Right,u.GRSort5Right,u.GRSort6Right { padding-right:0px; padding-left:18px; }
.GRSort0Left { background-position:left 0px; }   
.GRSort1Left { background-position:left -250px; }
.GRSort2Left { background-position:left -500px; }
.GRSort3Left { background-position:left -750px; }
.GRSort4Left { background-position:left -1000px; }
.GRSort5Left { background-position:left -1250px; }
.GRSort6Left { background-position:left -1500px; }
.GRSort0Right { background-position:right 0px; }   
.GRSort1Right { background-position:right -250px; }
.GRSort2Right { background-position:right -500px; }
.GRSort3Right { background-position:right -750px; }
.GRSort4Right { background-position:right -1000px; }
.GRSort5Right { background-position:right -1250px; }
.GRSort6Right { background-position:right -1500px; }

/* -------------- Pager ------------------ */
.GRPagerMain { }
.GRPagerBody { border-left:1px solid #d0d0d0; background: #F0F0E0; }
.GRPagerBodyLeft { border-right:1px solid #d0d0d0; border-left:0px none; }
.GRPagerBodyRight {  }
.GRPagerHeader {
	border-left:1px solid #e0e0ff; border-top:1px solid #ffffff; border-bottom:1px solid #e0e0ff; border-right:1px solid #e0e0ff;
	vertical-align:top; padding-bottom:1px; background: #F0F0E0; cursor:default;
	}
.GRPagerCaption { font:bold 15px Arial; padding-left:3px; padding-right:3px; padding-top:1px; padding-bottom:1px; white-space:nowrap; }
.GRPagerItem {
	font:15px Arial; cursor:pointer; _cursor:hand; overflow:hidden;
	padding-left:3px; padding-right:3px; height:17px; overflow:hidden; white-space:nowrap;
	border-bottom:1px solid #e0e0ff; border-top:1px solid #ffffff;	background:#f8f8f8;
	}
.GRPagerItemTouch { padding-top:4px; padding-bottom:4px; }
.GRPagerFocus {
   position:relative; cursor:pointer; _cursor:hand; overflow:hidden;
   border:1px solid black; border-left:none; border-right:none; overflow:hidden; background:#AFAF00; opacity:0.3; filter:alpha(opacity=30); 
   }
.GRPagerHover {
   position:relative; cursor:pointer; _cursor:hand; overflow:hidden;
   opacity:0.1; filter:alpha(opacity=10); background:#00F;
   }
.GRPagerSort1 { color: #006600; }
.GRPagerSort2 {	color: #00AE00; }
.GRPagerSort3 {	color: #00FF00; }
.GRPagerSortS {	color: black; }

/* -------------- State classes ------------- */
/* The colors must be set by numbers not by names */

.GRColorDefault { background-color:#FAFAFA; }

.GRColorNoFocus { background-color:#F6F6E6; }
.GRColorReadOnly { background-color:#F4F4F4;}
.GRColorPreview { background-color:#FFFFFF; }
.GRColorEdit { background-color:#FFFFFF; }

.GRColorAlternate { background-color:#EBFFFF; }

.GRColorSelected { background-color:#FFFF80; }
.GRClassSelected { color:red; }


.GRColorError { background-color:#FF6969; }
.GRColorDeleted { background-color:#FFCDCD; }
.GRColorAdded { background-color:#CDFFCD; }
.GRColorMoved1 { background-color:#FFFFFF; }
.GRColorMoved2 { background-color:#D7EBEB; }
.GRColorChanged { background-color:#EBEBFF; }
.GRColorChangedCell { background-color:#E1E1FF; }

.GRColorMaxChildren { background-color:#FFFFF0; }

.GRColorDetail { background-color:#FFF0FF; }
.GRColorDetailSelected { background-color:#FFF0E0; }

.GRColorDragged { background-color:#E0E0C0; }

.GRColorFound1 { background-color:#FF87FF; }
.GRColorFound2 { background-color:#FFC387; }
.GRColorFound3 { background-color:#87FF87; }

.GRColorHovered { background-color:#F0F0FF; }

.GRColorHoveredCell { background-color:#C0C0FF; }
.GRColorHoveredCellReadOnly { background-color:#F0F0F0; }
.GRColorHoveredCellNoFocus { background-color:#F8F8F8; }
.GRColorHoveredCellHeader { background-color:#FFFFFE; }
.GRColorHoveredCellPanel { background-color:#FFFFFE; }
.GRColorHoveredCellFastPanel { background-color:#FFFFFE; }
.GRColorHoveredCellSpace { background-color:#FFFFFF; }
.GRColorHoveredCellSpaceEdit { background-color:#C0C0FF; }
.GRColorHoveredCellSpaceBool { background-color:#FFFFFF; }
.GRColorHoveredCellButton { background-color:#FFFFFE; }
.GRClassHoveredCellButton { color:green; }
.GRColorHoveredCellButton1 { background-color:#FFFFFE; }
.GRClassHoveredCellButton1 { color:red; }
.GRColorHoveredCellTab { background-color:#FFFFFE; }
.GRClassHoveredCellTab { background-position:0px -1751px; color:green; }
.GRColorHoveredCellTab1 { background-color:#CCCCCC; }
.GRClassHoveredCellTab1 { background-image:none; }

.GRColorFocused { background-color:#E6E6E6; }
.GRColorFocusedCell { background-color:#FFFFFE; }
.GRColorFocusedCellSafari { background-color:#A0A0FF; }
.GRColorFocusedCellSpace { background-color:#FFFFFE; }
.GRColorFocusedCellButton { background-color:#FFFFFE; }
.GRColorFocusedCellHeader { background-color:#FFFFFE; }
.GRColorFocusedCellPanel { background-color:#FFFFFE; }
.GRColorEditedCell { background-color:#FFFFFF; }
.GRColorViewedCell { background-color:#FFFFFF; }

/* --------------- Hover, focus, edit cursors ----------------- */
.GRHoverPanelBackground { }
.GRHoverRowBackground { opacity:0.05; filter:alpha(opacity=5); background:#00F; }
.GRHoverRowBorder { z-index:1; cursor:default; }
.GRHoverCellBorder { z-index:3; padding:1px; border:1px solid #A0A0F0; background:white; }
.GRFocusPanelBackground { }
.GRFocusRowBackground { opacity:0.1; filter:alpha(opacity=10); background:#000; }
.GRFocusRowBorder { z-index:2; border:1px solid #AAAAAA; background:white; padding:1px; padding-left:0px; }
.GRFocusCellBorder,.GREditCellBorder,.GRFocusCellSpaceBorder,.GREditCellSpaceBorder { z-index:4; border:2px solid #6666FF; }
.GREditCellBorder,.GREditCellSpaceBorder { border-color:#FF6666; }
.GREditCellInput { position:relative; border:1px solid #BBB; overflow:hidden; z-index:2; }

.GRCursorBackground { position:relative; border:none; padding:0px; overflow:hidden; }
.GRCursorBorderLeft { position:relative; padding-right:0px; padding-top:0px; padding-bottom:0px; border-right:none; border-top:none; border-bottom:none; overflow:hidden; width:0px; height:0px; }
.GRCursorBorderRight { position:relative; padding-left:0px; padding-top:0px; padding-bottom:0px; border-left:none; border-top:none; border-bottom:none; overflow:hidden; width:0px; height:0px; }
.GRCursorBorderTop { position:relative; padding-bottom:0px; padding-left:0px; padding-right:0px; border-bottom:none; border-left:none; border-right:none; overflow:hidden; width:0px; height:0px; }
.GRCursorBorderBottom { position:relative; padding-top:0px; padding-left:0px; padding-right:0px; border-top:none; border-left:none; border-right:none; overflow:hidden; width:0px; height:0px; }

/*--------------- Cell edges ----------------- */
.GRNoLeft { border-left:0px none; }
.GRNoRight { border-right:0px none; }

.GREmpty { text-decoration:none; font-size:1px; line-height:1px;}

/*--------------- Dragging ----------------- */
.GRMouseObject { opacity:0.5; filter:alpha(opacity=50); z-index:300; overflow:hidden; }
.GRDragObject {
   z-index:300; margin-left:10px; margin-top:10px; 
   font:15px Arial;
   background:#f4f4f4; border:1px solid #d0d0d0; padding:3px;
   }
.GRDragColInsideTop,.GRDragColInsideBottom,.GRDragColOutsideTop,.GRDragColOutsideBottom,.GRDragGanttRunTop,.GRDragGanttRunBottom {
   position:absolute; background-image:url(Sort.gif); width:15px; height:11px; overflow:hidden; z-index:258;
   }
.GRDragColInsideTop  { background-position:0px -1750px;  }
.GRDragColInsideBottom  { background-position:0px -1770px;  }
.GRDragColOutsideTop  { background-position:0px -1790px;  }
.GRDragColOutsideBottom  { background-position:0px -1810px;  }
.GRDragGanttRunTop  { background-position:0px -1750px;  }
.GRDragGanttRunBottom  { background-position:0px -1770px;  }

/*--------------- Messages ----------------- */
.GRDisabled { position:absolute; z-index:264; background:white; opacity:0.5; filter:alpha(opacity=50); } 
.GRMessage {
	background:#F0F0E0; border:1px solid #d0d0d0; padding:10px; white-space:nowrap; text-align:center;
	font:18px Arial;
   position: absolute; left:0px; top:0px; visibility:hidden; z-index:266;
	}
.GRMessageShadow {
   position:absolute; margin-left:3px; margin-top:3px; z-index:265;
   background:#888; opacity:0.5; filter:alpha(opacity=50);
   left:0px; top:0px; visibility:hidden;
   }	
.GRPageMessage { background:#FAFAFA; border:1px solid #f77; padding:10px; font:18px Arial; }

.GRProgressMain { font:18px Arial; }
.GRProgressCaption { font-weight:bold; margin-bottom:15px; }
.GRProgressText { margin-bottom:15px; }
.GRProgressOuter { text-align:left; width:300px; border:1px solid #d0d0d0; padding:2px; margin-bottom:15px; }
.GRProgressInner { height:15px;background:green; }
.GRProgressButton,.GRMessageButton { font:15px "Microsoft Sans Serif",Verdana,Arial; }
.GRProgressButton { margin:2px; margin-top:5px; margin-bottom:0px; white-space:nowrap; padding-left:10px; padding-right:10px; }
.GRMessageButton { margin-top:10px; width:50px; }
   
/*--------------- Other ----------------- */
/* !!! No.Grid style prefix here !!! */
.GridTmpTag { position:absolute; left:5px; top:5px; visibility:hidden; }

/*--------------- Other ----------------- */
/* !!! No .GR style prefix here !!! */
.GridTmpTag { position:absolute; left:5px; top:5px; visibility:hidden; }

/*--------------- Debug print ----------------- */
/* !!! No .GR style prefix here !!! */
.GridDebugTag,.GridDebugTagMax { overflow:auto; overflow-y:scroll; border:1px solid black; background:#DDD; }
.GridDebugTag,.GridDebugTagMax,.GridDebugButtons,.GridDebugButtonsMax {
   position:fixed; z-index:256; left:5px; right:5px; bottom:5px; height:200px; padding:4px;
   position:absolute!IE;
   left:expression((5+(document.compatMode=="CSS1Compat"?document.documentElement.scrollLeft:document.body.scrollLeft))+"px")!IE;
   width:expression((-10+(document.compatMode=="CSS1Compat"?document.documentElement.clientWidth-8:document.body.clientWidth))+"px")!IE;
   top:expression((-205+(document.compatMode=="CSS1Compat"?document.documentElement.scrollTop+document.documentElement.clientHeight-8:document.body.scrollTop+document.body.clientHeight))+"px")!IE;
   }
.GridDebugTagMax,.GridDebugButtonsMax {
   top:5px; height:auto; 
   top:expression((5+(document.compatMode=="CSS1Compat"?document.documentElement.scrollTop:document.body.scrollTop))+"px")!IE;
   height:expression((-10+(document.compatMode=="CSS1Compat"?document.documentElement.clientHeight-8:document.body.clientHeight))+"px")!IE;
   }
.GridDebugButtons,.GridDebugButtonsMax {
   text-align:right; margin-right:25px; width:130px; left:auto;
   left:expression((-155+(document.compatMode=="CSS1Compat"?document.documentElement.clientWidth-8:document.body.clientWidth))+"px")!IE;
   }
.GridDebugButton { font-size:10px; width:40px; padding:0px; }
.GridDebugTitle { font-size:10px; color:blue; font-style:normal;font-weight:normal; }
.GridDebugMark { font-weight:bold; }
.GridDebugStop { font-size:18px; font-weight:bold; color:red; }
.GridDebugError { font-size:12px; color:red; }
.GridDebugWarning { font-size:12px; color:#A60;}
.GridDebugList { font-size:10px; color:#888;}
.GridDebugInfo { font-size:12px; }

/* ------------------- Popup menus, TGLib ------------------- */

.GRMenuMain { position:absolute; left:0px; top:0px; z-index:258; }
.GRMenuStatic { }
.GRMenuOuter { overflow:hidden; background:#eeeeee; }
.GRMenuHeader {
   overflow:hidden; position:absolute; z-index:258;
   border:1px solid #aaaadd; background:#eeeeee; cursor:pointer; _cursor:hand;
   }
.GRMenuHead {
   border:1px solid #aaaadd; border-bottom:none; text-align:center; padding-top:3px; padding-bottom:4px;
   background:#E7F4FF; font:bold 15px Arial; 
   }
.GRMenuClose {
   float:right; width:14px; cursor:pointer; _cursor:hand; display:none;
   background:url(Menu.gif) no-repeat right -352px;
   }
.GRMenuBody {
   cursor:default; border:1px solid #aaaadd; background:#eeeeee; padding-top:1px; padding-bottom:1px;
   }
.GRMenuShadow {
   position:absolute; margin-left:3px; margin-top:3px; z-index:257;
   background:#888; opacity:0.5; filter:alpha(opacity=50);
   }

.GRMenuCheckedIconLeft { background:url(Menu.gif) no-repeat -2px -48px; padding-left:17px; }
.GRMenuCheckedIconRight { background:url(Menu.gif) no-repeat right -48px; padding-right:17px; }
.GRMenuUncheckedIconLeft { background:url(Menu.gif) no-repeat -2px 2px; padding-left:17px; }
.GRMenuUncheckedIconRight { background:url(Menu.gif) no-repeat right 2px; padding-right:17px; }
.GRMenuCheckedRadioLeft { background:url(Menu.gif) no-repeat -2px -747px; padding-left:17px; }
.GRMenuCheckedRadioRight { background:url(Menu.gif) no-repeat right -747px; padding-right:17px; }
.GRMenuUncheckedRadioLeft { background:url(Menu.gif) no-repeat -2px -697px; padding-left:17px; }
.GRMenuUncheckedRadioRight { background:url(Menu.gif) no-repeat right -697px; padding-right:17px; }
.GRMenuCursorIcon { background:url(Menu.gif) no-repeat -6px -149px; }
.GRMenuHoverIcon { background:url(Menu.gif) no-repeat -6px -99px; }   
.GRMenuCursorIconRtl { background:url(Menu.gif) no-repeat right -1000px; }
.GRMenuHoverIconRtl { background:url(Menu.gif) no-repeat right -950px; }   
.GRMenuExpandedIcon { background:url(Menu.gif) no-repeat -6px -199px; }
.GRMenuCollapsedIcon { background:url(Menu.gif) no-repeat -6px -249px; }
.GRMenuNextIcon { background:url(Menu.gif) no-repeat right -299px; padding-right:14px; }
.GRMenuNextIconRtl { background:url(Menu.gif) no-repeat left -900px; padding-left:14px; }

.GRMenuItemText,.GRMenuItemIcon,.GRMenuEnum,.GRMenuEnumHeader,.GRMenuEdit { font:15px Arial; white-space:nowrap; overflow:hidden; }
.GRMenuItemDisabled { opacity:0.50; filter:alpha(opacity=30); overflow:hidden; }
.GRMenuLevel { color:blue; text-align:center; }  
.GRMenuEnumParent,.GRMenuEditParent { padding-left:5px; padding-right:2px;}
.GRMenuItemIcon { background-repeat:no-repeat; }
.GRMenuEnum {
   border:1px solid #DDD; border-top:1px solid #666; border-left:1px solid #666;
   background:white url(Menu.gif) no-repeat left -800px; padding-left:15px; padding-bottom:2px;
   }
.GRMenuEnumHeader  {
   padding-left:16px; padding-top:1px; cursor:default;
   background:white url(Menu.gif) no-repeat 1px -799px; padding-bottom:2px;
   }   
.GRMenuEdit {
   border:1px solid #DDD; border-top:1px solid #666; border-left:1px solid #666;
   background:white; padding-left:2px; padding-right:2px; overflow:hidden; 
   white-space:nowrap; padding-bottom:1px;
   }
.GRMenuEditInput,.GRMenuEditTextarea {
   margin:0px; margin:-1px!IE; border:0px none; background:#FDD; 
   padding:0px; padding-right:1px!IE; padding-left:1px!IE; font:15px Arial;
   }   
.GRMenuEditTextarea { line-height:13px;  }   
.GRMenuEditInt,.GRMenuEditFloat,.GRMenuEditDate { text-align:right; } 
.GRMenuEditText { }
.GRMenuEditMulti { white-space:normal; }


.GRMenuItem { padding-top:2px; padding-bottom:2px; padding-left:2px; padding-right:2px; background:#eeeeee; }   
.GRMenuItemTouch { padding-top:3px; padding-bottom:3px; }
.GRMenuItemHover {
   margin-left:1px; margin-right:1px; padding-top:1px; padding-bottom:1px; 
   background:#ffeeaa; border:1px solid #aaaadd;
   }
.GRMenuFocus {
   margin-left:1px; margin-right:1px; padding-top:1px; padding-bottom:1px;
   background:#fff; border:1px solid #aaaadd;
   }
.GRMenuFocusTouch { padding-top:2px; padding-bottom:2px; }     
.GRMenuFocusHover {
   margin-left:1px; margin-right:1px; padding-top:1px; padding-bottom:1px;
   background:#fff5e0; border:1px solid #aaaadd;
   }   
.GRMenuSeparator {
   margin-top:1px; margin-right:3px; margin-left:3px; height:1px;   
   border-top:1px solid #aaaadd; overflow:hidden;
   }
.GRMenuCaption { padding-top:2px; padding-bottom:2px; padding-left:2px; padding-right:2px; background:#ddd; color:blue; text-align:center; }
.GRMenuVSeparator { border-right:1px solid #DDD; }
.GRMenuSection  { }

.GRMenuFoot { border:1px solid #aaaadd; border-top:none; text-align:center; background:white; white-space:nowrap; }  
.GRMenuButton { font:15px Arial; height:25px; width:48px; margin:2px; white-space:nowrap; padding-left:0px; padding-right:0px; } 

/*--------------- Grid configuration menus ----------------- */

.GRCfgMenuOuter,.GRColumnsMenuOuter { border:1px solid black; padding:6px; background:#F0F0E0; }
.GRCfgMenuHead,.GRColumnsMenuHead { padding-left:4px; padding-top:4px; padding-bottom:6px; }
.GRCfgMenuBody,.GRColumnsMenuBody { padding-left:4px; padding-right:4px; }
.GRCfgMenuFoot,.GRColumnsMenuFoot { padding-left:4px; padding-right:4px; padding-top:2px; padding-bottom:2px; }
.GRCfgMenuButton { width:70px; } 
.GRColumnsMenuButton { width:57px; } 
.GRCfgMenuItemText,.GRColumnsMenuItemText { padding-left:3px; }
.GRColumnsMenuItemText { white-space:nowrap; }
.GRCfgMenuItem,.GRColumnsMenuItem { padding-top:3px; padding-bottom:3px; }
.GRCfgMenuItemTouch,.GRColumnsMenuItemTouch { padding-top:4px; padding-bottom:4px; }
.GRCfgMenuItemHover,.GRCfgMenuFocus,.GRCfgMenuFocusHover,
.GRColumnsMenuItemHover,.GRColumnsMenuFocus,.GRColumnsMenuFocusHover { padding-top:2px; padding-bottom:2px; }
.GRCfgMenuFocusTouch,.GRColumnsMenuFocusTouch { padding-top:3px; padding-bottom:3px; }

/*--------------- Popup grid dialog ----------------- */

.GRPopupGridOuter { border:0px none; overflow:visible; }
.GRPopupGridHead { padding:0px; }
.GRPopupGridBody { padding:0px; border:0px none; }
.GRPopupGridFoot { padding:0px; }
.GRPopupGridButton { width:55px; margin-top:-2px; margin-bottom:0px; } 

/* ------------------- Date picker, TGLib ------------------- */

.GRPickMain { position:absolute; left:0px; top:0px; z-index:258; }
.GRPickOuter { overflow:hidden; border:1px solid black; background:#eeeeee; }
.GRPickHeader {
   overflow:hidden; position:absolute; z-index:258;
   border:1px solid black; background:white; cursor:pointer; _cursor:hand;
   }
.GRPickHeaderBottom { border-bottom:0px none; padding-bottom:1px; }
.GRPickHeaderTop { border-top:0px none; padding-bottom:1px; }
.GRPickHead {
   background:#E7F4FF; font:bold 15px Arial; cursor:default;
   padding-left:5px; padding-top:3px; padding-bottom:4px;
   }
.GRPickClose {
   float:right; width:14px; cursor:pointer; _cursor:hand; display:none;
   background:url(Menu.gif) no-repeat right -353px;
   }
.GRPickBody { cursor:default; border:none; }
.GRPickShadow {
   position:absolute; background:#888; z-index:257; margin-left:3px; margin-top:3px;
   opacity:0.5; filter:alpha(opacity=50);
   }   
.GRPickFooter,.GRPick2Footer {
   background:white; color:blue; cursor:default;
   font:15px Arial;
   padding-top:2px; padding-bottom:2px;
   text-align:center;
   }
.GRPickMY {
   font:bold 15px Arial;
   background:white; color:black;
   text-align:center; padding-top:4px; padding-bottom:4px;
   }   
.GRPickMYDown { padding-right:13px; background:url(Menu.gif) no-repeat right -400px; cursor:pointer; _cursor:hand; }   
.GRPickMYUp { padding-right:13px; background:url(Menu.gif) no-repeat right -450px; cursor:pointer; _cursor:hand; }
.GRPickMYRtl { padding-right:0px; padding-left:13px; }
.GRPickBL,.GRPickBR { margin-top:2px; padding-top:3px; cursor:pointer; _cursor:hand; width:24px; height:14px; overflow:hidden; }
.GRPickBL { float:left; background:url(Menu.gif) no-repeat left -500px; display:none;}
.GRPickBR { float:right; background:url(Menu.gif) no-repeat right -550px; display:none; }

.GRPickTableParent { padding-left:3px; padding-right:3px; padding-bottom:5px; padding-top:5px; }
.GRPickTable { table-layout:fixed; width:0px; }
.GRPickRow { background:#EEE; }
.GRPickRowW { background:#EEE; }   
.GRPickCell { width:32px; }
.GRPickWDN {
   background:#888; color:white; text-align:center; padding:1px;
   font:15px Arial; cursor:default;
   margin-left:3px; margin-right:3px; margin-top:2px; margin-bottom:2px;
   }
.GRPickHover,.GRPickSelHover,.GRPickWD,.GRPickSa,.GRPickSu,.GRPickSel,.GRPickNow,.GRPickWDNE,.GRPickSaNE,.GRPickSuNE,.GRPickSelNE,.GRPickNowNE,.GRPickOM,.GRPickOMNE,.GRPickWN,.GRPickWNE {
   text-align:center; border:1px solid #DDD;
   font:15px Arial; cursor:pointer; _cursor:hand;
   margin-left:3px; margin-right:3px; margin-top:2px; margin-bottom:2px;
   }
.GRPickWN,.GRPickWNE { background:#888; color:white; }
.GRPickWDNE,.GRPickSaNE,.GRPickSuNE,.GRPickSelNE,.GRPickNowNE,.GRPickWNE { cursor:default; }
.GRPickWD { background-color:#ffffff; }
.GRPickSa { background-color:#ddddff; }
.GRPickSu { background-color:#aaaaff; }
.GRPickSel { background-color:#ffff77; }
.GRPickSelNE { background-color:#ffffdd;	}
.GRPickNow { background-color:#dd44dd; }
.GRPickNowNE { background-color:#ffe0ff; }
.GRPickOM { background-color:inherit; color:black; }
.GRPickOMNE { color:#aaaaaa; }
.GRPickEmpty { background:url(Menu.gif) no-repeat center -1050px; cursor:pointer; _cursor:hand; }
.GRPickHover { background-color:#DDD; border:1px solid #AAA; }
.GRPickSelHover { background-color:#eeee77; border:1px solid #AAA; }

.GRPickTimeCell { text-align:right; background-color:white; padding-bottom:4px; padding-top:6px; padding-right:5px; }
.GRPickTime { font:15px Arial; border:0px none; white-space:nowrap; text-align:right; }
.GRPickButton { width:76px; font-size:15px; margin:2px; margin-left:5px; margin-right:5px; text-align:center; padding-left:0px; padding-right:0px; }

.GRPick2TableParent { padding-left:3px; padding-right:3px; padding-bottom:1px; padding-top:1px; text-align:center; }
.GRPick2Table { table-layout:fixed; width:0px; }
.GRPick2CellM { height:28px; width:82px; }
.GRPick2CellY { height:28px; width:44px; }
.GRPick2CellSep { height:28px; width:6px; }
.GRPick2M,.GRPick2Y,.GRPick2MSel,.GRPick2YSel,.GRPick2MHover,.GRPick2YHover,.GRPick2MSelHover,.GRPick2YSelHover {
   font:15px Arial; overflow:hidden;
   margin-left:2px; margin-right:2px;
   border:1px solid #DDD; background-color:white; cursor:pointer; _cursor:hand; text-align:center;
   }
.GRPick2MSel,.GRPick2YSel { background-color:#c0f3ff; }
.GRPick2MHover,.GRPick2YHover { background-color:#DDD; border:1px solid #AAA; }
.GRPick2MSelHover,.GRPick2YSelHover { background-color:#80e0f0; border:1px solid #AAA; }   
.GRPick2SepH { width:1px; height:1px; overflow:hidden; }
.GRPick2Sep { width:1px; background:#777; overflow:hidden; margin-left:3px; margin-right:2px; height:28px; }    
.GRPick2BL,.GRPick2BR { width:55px; cursor:pointer; _cursor:hand; }
.GRPick2BL { background:url(Menu.gif) no-repeat center -598px; }
.GRPick2BR { background:url(Menu.gif) no-repeat center -648px; }

/* ------------------- Edit controls, TGLib ------------------- */

.GREdit,.GREditInline {
   font:15px Arial;
   padding-left:4px; padding-right:4px; padding-top:2px; padding-bottom:2px;
   overflow:hidden; border:1px solid #CCC; background:#EEE;
   }
.GREditInline { display:inline-block; vertical-align:bottom; }
.GREditInput,.GREditTextarea {
   font:15px Arial;
   vertical-align:top; border:0px none; margin:0px; 
   padding:0px; padding-left:1px!IE; padding-right:1px!IE;
   }
.GREditTextarea { line-height:17px; }
.GREditNormalInput,.GREditNormalTextarea,.GREditSpaceInput,.GREditSpaceTextarea { background-color:#FFDCFF; }
.GREditInt,.GREditFloat,.GREditDate { text-align:right; }
.GREditText { }
.GREditMulti { white-space:normal; }
.GREditReadOnly { background-color:#FFEEFF; }
.GREditParent { position:absolute; z-index:258; overflow:hidden;}

.GREnumHeaderLeft,.GREnumHeaderRight,.GREnumHeaderNone {
   background:white; font:15px Arial; cursor:pointer; _cursor:hand;
   padding-left:3px; padding-right:4px; padding-top:3px; padding-bottom:2px; white-space:nowrap;
   }
.GREnumHeaderLeft { background:white url(Menu.gif) no-repeat 3px -798px; padding-left:20px; }
.GREnumHeaderRight { background:white url(Menu.gif) no-repeat right -798px; padding-right:20px;}
.GREnumMenuHeader { background:white; }   

.GREnumControl,.GREnumInline {
   font:15px Arial; cursor:pointer; _cursor:hand;
   padding-left:15px; padding-right:4px; padding-top:2px; padding-bottom:2px;
   border:1px solid #CCC; background:#EEE url(Menu.gif) no-repeat left -800px; overflow:hidden;
   }
.GREnumInline { display:inline-block; vertical-align:bottom; }
.GREnumHeader {
   background:white url(Menu.gif) no-repeat left -798px; 
   font:15px Arial; cursor:pointer; _cursor:hand;
   padding-left:15px; padding-right:4px; padding-top:2px; padding-bottom:2px;
   }

/* ------------------- Line chart, TGLib ------------------- */

.GRChartInner { background:white; width:100%; }
.GRChartLayer { overflow:hidden; height:1000px; }
.GRChartAxisY { background:black; height:1px; overflow:hidden; }
.GRChartAxisYLabel { overflow:hidden; }
.GRChartAxisYText { margin-right:5px; margin-top:12px; text-align:right; font:12px Arial; }
.GRChartAxisX { width:1px; overflow:hidden; background:black; }
.GRChartAxisXLabel { overflow:hidden; }
.GRChartAxisXText { text-align:center; font:12px Arial; }
.GRChartCaption { text-align:center; font:12px Arial; margin-top:3px; }

.GRChartPoint1,.GRChartPoint2,.GRChartPoint3,.GRChartPoint4,.GRChartPoint5,.GRChartPoint6,.GRChartPoint7,.GRChartPoint8 {
   background:url(Gantt.gif) no-repeat; width:32px; height:32px; overflow:hidden; 
   }
.GRChartPoint1 { background-position:-892px 7px; }
.GRChartPoint1Hover { background-position: -942px 7px; }
.GRChartPoint2 { background-position:-992px 7px; }
.GRChartPoint2Hover { background-position:-1042px 7px; }
.GRChartPoint3 { background-position:-1092px 7px; }
.GRChartPoint3Hover { background-position:-1142px 7px; }
.GRChartPoint4 { background-position:-1192px 7px; }
.GRChartPoint4Hover { background-position:-1242px 7px; }
.GRChartPoint5 { background-position:-1292px 7px; }
.GRChartPoint5Hover { background-position:-1342px 7px; }
.GRChartPoint6 { background-position:-1392px 7px; }
.GRChartPoint6Hover { background-position:-1442px 7px; }
.GRChartPoint7 { background-position:-1492px 7px; }
.GRChartPoint7Hover { background-position:-1542px 7px; }
.GRChartPoint8 { background-position:-1592px 7px; }
.GRChartPoint8Hover { background-position:-1642px 7px; }

/* -------------- Custom scrollbars ------------------ */

.GRCustScroll1RightHidden { background:url(VScroll.gif) left -108px; height:18px; overflow:hidden; }
.GRCustScroll1Right { padding-right:18px; background:url(VScroll.gif) right 0px; }
.GRCustScroll1RightHover { padding-right:18px; background:url(VScroll.gif) right -18px; }
.GRCustScroll1Left { padding-left:18px;  background:url(VScroll.gif) left 0px; }
.GRCustScroll1LeftHover { padding-left:18px;  background:url(VScroll.gif) left -18px; }
.GRCustScroll1SliderRight { padding-right:3px; background:url(VScroll.gif) right -36px; }
.GRCustScroll1SliderLeft { padding-left:3px; background:url(VScroll.gif) left -36px; }
.GRCustScroll1SliderHIn { height:18px; overflow:hidden; background:url(VScroll.gif) center -54px; }
.GRCustScroll1SliderRightHover { padding-right:3px; background:url(VScroll.gif) right -72px; }
.GRCustScroll1SliderLeftHover { padding-left:3px; background:url(VScroll.gif) left -72px; }
.GRCustScroll1SliderHInHover { height:18px; overflow:hidden; background:url(VScroll.gif) center -90px; }
.GRCustScroll1X { background:#F4F4F4; }

.GRCustScroll2RightHidden { background:url(VScroll.gif) left -364px; height:36px; overflow:hidden; }
.GRCustScroll2Right { padding-right:36px; background:url(VScroll.gif) right -148px; }
.GRCustScroll2RightHover { padding-right:36px; background:url(VScroll.gif) right -184px; }
.GRCustScroll2Left { padding-left:36px;  background:url(VScroll.gif) left -148px; }
.GRCustScroll2LeftHover { padding-left:36px;  background:url(VScroll.gif) left -184px; }
.GRCustScroll2SliderRight { padding-right:6px; background:url(VScroll.gif) right -220px; }
.GRCustScroll2SliderLeft { padding-left:6px; background:url(VScroll.gif) left -220px; }
.GRCustScroll2SliderHIn { height:36px; overflow:hidden; background:url(VScroll.gif) center -256px; }
.GRCustScroll2SliderRightHover { padding-right:6px; background:url(VScroll.gif) right -292px; }
.GRCustScroll2SliderLeftHover { padding-left:6px; background:url(VScroll.gif) left -292px; }
.GRCustScroll2SliderHInHover { height:36px; overflow:hidden; background:url(VScroll.gif) center -328px; }
.GRCustScroll2X { background:#F4F4F4; }

.GRCustScroll3Right,.GRCustScroll3RightHidden { background:white; height:9px; overflow:hidden; }
.GRCustScroll3SliderRight,.GRCustScroll3SliderRightHover { padding-right:3px; height:9px; background:url(VScroll.gif) right -126px; }
.GRCustScroll3SliderLeft,.GRCustScroll3SliderLeftHover { height:9px; background:url(VScroll.gif) left -126px; }
.GRCustScroll3SliderRightHover { background-position:right -135px; }
.GRCustScroll3SliderLeftHover { background-position:left -135px; }
.GRCustScroll3X { background:white; }

.GRCustScroll4Right,.GRCustScroll4RightHidden,.GRCustScroll4SliderRight,.GRCustScroll4SliderRightHover { height:1px; overflow:hidden; }
.GRCustScroll4X { }

.GRCustScroll1DownHidden { background:url(HScroll.png) -108px top; width:18px; overflow:hidden; }
.GRCustScroll1Down { padding-bottom:18px; background:url(HScroll.png) 0px bottom; cursor:default; width:18px; overflow:hidden; }
.GRCustScroll1DownHover { padding-bottom:18px; background:url(HScroll.png) -18px bottom; width:18px; overflow:hidden; }
.GRCustScroll1Up { padding-top:18px; background:url(HScroll.png) 0px top; width:18px; overflow:hidden; }
.GRCustScroll1UpHover { padding-top:18px;  background:url(HScroll.png) -18px top; width:18px; overflow:hidden; }
.GRCustScroll1SliderDown { padding-bottom:3px; background:url(HScroll.png) -36px bottom; width:18px; overflow:hidden; }
.GRCustScroll1SliderUp { padding-top:3px; background:url(HScroll.png) -36px top; width:18px; overflow:hidden; }
.GRCustScroll1SliderVIn { background:url(HScroll.png) -54px center; width:18px; overflow:hidden; }
.GRCustScroll1SliderDownHover { padding-bottom:3px; background:url(HScroll.png) -72px bottom; width:18px; overflow:hidden; }
.GRCustScroll1SliderUpHover { padding-top:3px; background:url(HScroll.png) -72px top; width:18px; overflow:hidden; }
.GRCustScroll1SliderVInHover { background:url(HScroll.png) -90px center; width:18px; overflow:hidden; }

.GRCustScroll2DownHidden { background:url(HScroll.png) -364px top; width:36px; overflow:hidden; }
.GRCustScroll2Down { padding-bottom:36px; background:url(HScroll.png) -148px bottom; cursor:default; width:36px; overflow:hidden; }
.GRCustScroll2DownHover { padding-bottom:36px; background:url(HScroll.png) -184px bottom; width:36px; overflow:hidden; }
.GRCustScroll2Up { padding-top:36px; background:url(HScroll.png) -148px top; width:36px; overflow:hidden; }
.GRCustScroll2UpHover { padding-top:36px;  background:url(HScroll.png) -184px top; width:36px; overflow:hidden; }
.GRCustScroll2SliderDown { padding-bottom:6px; background:url(HScroll.png) -220px bottom; width:36px; overflow:hidden; }
.GRCustScroll2SliderUp { padding-top:6px; background:url(HScroll.png) -220px top; width:36px; overflow:hidden; }
.GRCustScroll2SliderVIn { background:url(HScroll.png) -256px center; width:36px; overflow:hidden; }
.GRCustScroll2SliderDownHover { padding-bottom:6px; background:url(HScroll.png) -292px bottom; width:36px; overflow:hidden; }
.GRCustScroll2SliderUpHover { padding-top:6px; background:url(HScroll.png) -292px top; width:36px; overflow:hidden; }
.GRCustScroll2SliderVInHover { background:url(HScroll.png) -328px center; width:36px; overflow:hidden; }

.GRCustScroll3Down,.GRCustScroll3DownHidden { background:white; width:9px; overflow:hidden; cursor:default; }
.GRCustScroll3SliderDown,.GRCustScroll3SliderDownHover { padding-bottom:3px; width:9px; background:url(HScroll.png) -126px bottom; }
.GRCustScroll3SliderUp,.GRCustScroll3SliderUpHover { width:9px; background:url(HScroll.png) -126px top; cursor:default; }
.GRCustScroll3SliderDownHover { background-position:-135px bottom; }
.GRCustScroll3SliderUpHover { background-position:-135px top; cursor:default; }

.GRCustScroll4Down,.GRCustScroll4DownHidden,.GRCustScroll4SliderDown,.GRCustScroll4SliderDownHover { width:1px; overflow:hidden; }

/* ------------------- Other messages, TGLib ------------------- */
   
.GRHintMain {
   position:absolute; margin-left:-2px; margin-top:-2px; padding-left:1px; padding-top:1px; left:0px; top:0px; z-index:260; 
   background:white; cursor:default; border: 1px solid #A0A0F0; 
   }
.GRHintSpaceMain { padding:2px; padding-left:1px; padding-top:1px; }
.GRHintOuter { overflow:hidden; background:white; text-align:left; border-color:white; }
.GRHintShadow {
   position:absolute; margin-left:1px; margin-top:1px; z-index:259;
   background:#888; opacity:0.5; filter:alpha(opacity=50);
   }

.GRTipMain { position:absolute; left:0px; top:0px; z-index:262; visibility:hidden; }
.GRTipOuter  {
   overflow:hidden; cursor:default; font:15px Arial;
   background:#f4f4f4; border:1px solid #d0d0d0; padding:3px;
   }
.GRTipBody { background:#f4f4f4; white-space:nowrap; }     
.GRTipShadow {
   position:absolute; margin-left:3px; margin-top:3px; z-index:261;
   background:#888; opacity:0.5; filter:alpha(opacity=50);
   visibility:hidden;
   }

.GRMouseOrig { background:yellow!important; opacity:0.5; filter:alpha(opacity=50); }
.GRMouseDragObject { position:absolute; z-index:260; background:#888; opacity:0.5; filter:alpha(opacity=50); }

.GRFocus { border:1px solid blue; background-color:white; }    

.GRBodyPrint { margin:0px!important; padding:0px!important; border:0px none!important; background:none!important; }

.GridDisabled { position:absolute; z-index:256; background:white; opacity:0.5; filter:alpha(opacity=50); } 
.GridMain { z-index:255; }

/* Do not change, marks the style loaded */
.GRLoaded { border:1px solid black!important; }