{% extends "::base.html.twig" %}
{% set activePage = 'Telemercadeo' %}

{# content #}
{% block content %}

    <div id="content">
        <div class="page-header">
            <div class="pull-left">
                <h4 id="page-header-title"><i class="icon-table"></i> Telemercadeo</h4>
            </div>
            <div class="pull-right">
                <ul class="bread">
                    <li><a href="dashboard.html">Telemercadeo</a><span class="divider">/</span></li>
                    <li class='active'>Pendientes</li>
                </ul>
            </div>
        </div>
        <div class="container-fluid" id="content-area">
            <div class="row-fluid">
                <div class="span8">
                    <div class="crm-box">
                        <div class="crm-box-head">
                            <i class="icon-table"></i>
                            <span>Telemercadeo</span>
                        </div>
                        <div class="crm-box-body crm-box-body-nopadding">
                            {% if app.session.hasFlash('notice') %}
                                <div class="alert alert-info fade in">
                                    <button type="button" class="close" data-dismiss="alert">×</button>
                                    <strong>Mensaje</strong> 
                                    <p>{{ app.session.flash('notice') }}</p>
                                </div>
                            {% endif %}
                            <div class="highlight-toolbar">
                                <div class="pull-left">
                                    <div class="btn-toolbar">
                                        <a href="#" tipo-contacto="ProgAcademico" class="button button-basic button-icon" rel="tooltip" title="" data-original-title="Pendiente telemercadeo Prospectos">
                                            <i class="icon-group"></i> Prog. Académico <span class="badge badge-important">21</span>
                                        </a>
                                        <a href="#" tipo-contacto="ACTI" class="button button-basic button-icon" rel="tooltip" title="" data-original-title="Pendiente telemercadeo ACTI">
                                            <i class="icon-group"></i> ACTI <span class="badge badge-important">10</span>
                                        </a>
                                        <a href="#" tipo-contacto="POS" class="button button-basic button-icon" rel="tooltip" title="" data-original-title="Pendiente telemercadeo Posgrado">
                                            <i class="icon-group"></i> Posgrado <span class="badge badge-important">100</span>
                                        </a>
                                        <a href="#" tipo-contacto="Empresa" class="button button-basic button-icon" rel="tooltip" title="" data-original-title="Pendiente telemercadeo Empresa">
                                            <i class="icon-group"></i> Empresa <span class="badge badge-important">5</span>
                                        </a>
                                        <a href="#" tipo-contacto="Colegio" class="button button-basic button-icon" rel="tooltip" title="" data-original-title="Pendiente telemercadeo Colegio">
                                            <i class="icon-group"></i> Colegio <span class="badge badge-important">20</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div id="{{ gridOptionsGenerator.containerId }}"></div>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="crm-box">
                        <div class="crm-box-head">
                            <i class="icon-table"></i>
                            <span>Telemercadeo</span>
                        </div>
                        <div class="crm-box-body crm-box-body-nopadding">
                            <div class="row-fluid">
                                <form action="#" method="POST" class="form-horizontal form-bordered form-column">
                                    <div class="span12">
                                        <div class="control-group">
                                            <label for="uiTxtNombreContacto" class="control-label">Nombres del contacto</label>
                                            <div class="controls">
                                                Carlos Dominguez
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label for="uiTxtTelefonoContacto" class="control-label">Telefonos del contacto</label>
                                            <div class="controls">
                                                Tel 234234234 Ext 234
                                                Cel 834343343
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label for="uiRbtStatusLlamada" class="control-label">Estado llamada</label>
                                            <div class="controls">
                                                <label class="radio-uniformed">
                                                    <div class="uni-radio"><input type="radio" name="uiRbtStatusLlamada" class="uniform-me"></div> Contesto y no le interoso
                                                </label>
                                                <label class="radio-uniformed">
                                                    <div class="uni-radio"><input type="radio" name="uiRbtStatusLlamada" class="uniform-me"></div> Contesto y le interoso
                                                </label>
                                                <label class="radio-uniformed">
                                                    <div class="uni-radio"><input type="radio" name="uiRbtStatusLlamada" class="uniform-me"></div> No contesto
                                                </label>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label for="uiTxaComentario" class="control-label">Comentarios</label>
                                            <div class="controls">
                                                <textarea name="uiTxaComentario" id="uiTxaComentario" rows="5" class="input-block-level"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <a href="{{ path('cenfo_acti_form_modificar') }}" class="button button-basic-green">Guardar</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{# javascripts #}
{% block javascripts %}
    {{ parent() }}
    {% include 'ComponentsEJSTreeGridBundle::createGrid.js.twig' with {
        'gridContainerId' : gridOptionsGenerator.containerId, 
        'gridOptions'     : gridOptionsGenerator.options,
        'gridId'          : gridOptionsGenerator.gridId         }
    %}
    <script type="text/javascript">
        var _global = {
            'urls' : {
                'dataUrlProgAcademico'   : '{{ path('cenfo_prog_academico_grid_data', {'pflagTelemercadeoPendiente':1}) }}',
                'layoutUrlProgAcademico' : '{{ path('cenfo_prog_academico_grid_layout', {'pflagTelemercadeoPendiente':1}) }}',
                'dataUrlACTI'            : '{{ path('cenfo_acti_grid_data', {'pflagTelemercadeoPendiente':1}) }}',
                'layoutUrlACTI'          : '{{ path('cenfo_acti_grid_layout', {'pflagTelemercadeoPendiente':1}) }}',
                'dataUrlPosgrado'        : '{{ path('cenfo_posgrado_grid_data', {'pflagTelemercadeoPendiente':1}) }}',
                'layoutUrlPosgrado'      : '{{ path('cenfo_posgrado_grid_layout', {'pflagTelemercadeoPendiente':1}) }}',
                'dataUrlEmpresa'         : '{{ path('cenfo_empresa_grid_data', {'pflagTelemercadeoPendiente':1}) }}',
                'layoutUrlEmpresa'       : '{{ path('cenfo_empresa_grid_layout', {'pflagTelemercadeoPendiente':1}) }}',
                'dataUrlColegio'         : '{{ path('cenfo_colegio_grid_data', {'pflagTelemercadeoPendiente':1}) }}',
                'layoutUrlColegio'       : '{{ path('cenfo_colegio_grid_layout', {'pflagTelemercadeoPendiente':1}) }}'
            }
        };
    </script>
    <script src="{{ asset('bundles/cenfoteccrm/js/telemercadeo.js') }}" type="text/javascript"></script>
{% endblock javascripts %}