{% spaceless %}
<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40">
    <head><meta http-equiv=Content-Type content="text/html; charset=utf-8"></head>
    <body>
        <style>
                td {white-space:nowrap; background:#F6F6F6;} br {mso-data-placement:same-cell;} .sd {mso-number-format:"Short Date";} .st {mso-number-format:"Short Time";} .gd {mso-number-format:"General Date";}
                .celfirst{
                    border-style: solid;
                    border-width: 1px 0 1px 1px;
                    border-color: black;
                    text-align: center;
                }
                .celcenter{
                    border-style: solid;
                    border-width: 1px 0;
                    border-color: black;
                    text-align: center;
                }
                .cellast{
                    border-style: solid;
                    border-width: 1px 1px 1px 0;
                    border-color: black;
                    text-align: center;
                }
        </style>
        <!--[if gte mso 9]><xml><o:OfficeDocumentSettings><o:Colors><o:Color><o:Index>37</o:Index><o:RGB>#F0F0E0</o:RGB></o:Color><o:Color><o:Index>38</o:Index><o:RGB>#F6F6F6</o:RGB></o:Color></o:Colors></o:OfficeDocumentSettings></xml><![endif]--><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>Contactos</x:Name><x:WorksheetOptions><x:NoSummaryRowsBelowDetail/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]-->
        <table border='1' bordercolor='silver' style='table-layout:fixed;border-collapse:collapse;border:1px solid black'>
            <col width='50'> {#ID#}
            <col width='50'> {#Género#}
            <col width='100'> {#Nombre#}
            <col width='100'> {#Primer apellido#}
            <col width='100'> {#Segundo apellido#}
            <col width='105'> {#Tipo identificacion#}
            <col width='80'> {#Identificacion#}    
            <col width='105'> {#Pais de residencia#}  
            <col width='80'> {#Provincia#}  
            <col width='80'> {#Canton#}  
            <col width='100'> {#Direccion#}  
            
            {% if ptwTipoContacto == 'PA' %}
                <col width='100'> {#Colegio#}  
                <col width='100'> {#Nivel Colegio#}
            {% endif %}  
                    
            <col width='100'> {#Convenio#}
            <col width='100'> {#Profesion#}
            <col width='100'> {#Empresa#}
            <col width='100'> {#Puesto#}    
                
            <col width='80'> {#Cantidad de Correos#} 
            {% for i in 0..cantCorreos %}
                <col width='200'> {#Correos#} 
            {% endfor %}
            
            <col width='100'> {#Cantidad de Numeros#} 
            {% for i in 0..cantNumeros %}
                <col width='100'> {#Numeros#} 
            {% endfor %}        
            
            <col width='100'> {#Cantidad de Intereses#}
            {% for i in 0..cantIntereses %}
                <col width='100'> {#Interes#} 
            {% endfor %}        
                    
            <col width='100'> {#Nivel Interes#} 
            <col width='100'> {#Horario#} 
            <col width='100'> {#Fecha contactó#} 
            <col width='200'> {#¿Cómo se enteró? (referencia)#}     
            <col width='200'> {#¿Cómo se contactó? (1er contacto)#} 
            <col width='100'> {#Comentarios#}
            
            <col width='150'> {#Cantidad de Seguimientos#}
            {% for i in 0..cantSeguimientos %}
                <col width='100'> {#Seguimientos#} 
            {% endfor %}   
              
            <col width='100'> {#Cantidad de Matriculas#}
            {% for i in 0..cantMatriculas %}
                <col width='100'> {#Matriculas#} 
            {% endfor %}  
            <tr>
                <td style='background:#F0F0E0;font-weight:bold;border-bottom:1px solid black;white-space:normal;'>ID</td>
                <td style='background:#F0F0E0;font-weight:bold;border-bottom:1px solid black;white-space:normal;'>Género</td>
                <td style='background:#F0F0E0;font-weight:bold;border-bottom:1px solid black;white-space:normal;'>Nombre</td>
                <td style='background:#F0F0E0;font-weight:bold;border-bottom:1px solid black;white-space:normal;'>Primer apellido</td>
                <td style='background:#F0F0E0;font-weight:bold;border-bottom:1px solid black;white-space:normal;'>Segundo apellido</td>
                <td style='background:#F0F0E0;font-weight:bold;border-bottom:1px solid black;white-space:normal;'>Tipo identificación</td>
                <td style='background:#F0F0E0;font-weight:bold;border-bottom:1px solid black;white-space:normal;'>Identificación</td>
                <td style='background:#F0F0E0;font-weight:bold;border-bottom:1px solid black;white-space:normal;'>País de residencia</td>
                <td style='background:#F0F0E0;font-weight:bold;border-bottom:1px solid black;white-space:normal;'>Provincia</td>
                <td style='background:#F0F0E0;font-weight:bold;border-bottom:1px solid black;white-space:normal;'>Cantón</td>
                <td style='background:#F0F0E0;font-weight:bold;border-bottom:1px solid black;white-space:normal;'>Dirección</td>
                
                {% if ptwTipoContacto == 'PA' %}
                    <td style='background:#F0F0E0;font-weight:bold;border-bottom:1px solid black;white-space:normal;'>Colegio</td>
                    <td style='background:#F0F0E0;font-weight:bold;border-bottom:1px solid black;white-space:normal;'>Nivel colegio</td>
                {% endif %}  
                
                <td style='background:#F0F0E0;font-weight:bold;border-bottom:1px solid black;white-space:normal;'>Convenio</td>
                <td style='background:#F0F0E0;font-weight:bold;border-bottom:1px solid black;white-space:normal;'>Profesión</td>
                <td style='background:#F0F0E0;font-weight:bold;border-bottom:1px solid black;white-space:normal;'>Empresa</td>
                <td style='background:#F0F0E0;font-weight:bold;border-bottom:1px solid black;white-space:normal;'>Puesto</td>
                <td style='background:#F0F0E0;font-weight:bold;border-bottom:1px solid black;white-space:normal;'>CantCorreos</td>
                {% for i in 0..cantCorreos %}
                    <td style='background:#F0F0E0;font-weight:bold;border-bottom:1px solid black;white-space:normal;'>Correo{{i+1}}</td>
                {% endfor %}
                <td style='background:#F0F0E0;font-weight:bold;border-bottom:1px solid black;white-space:normal;'>CantNumeros</td>
                {% for i in 0..cantNumeros %}
                    <td style='background:#F0F0E0;font-weight:bold;border-bottom:1px solid black;white-space:normal;'>Numero{{i+1}}</td>
                {% endfor %}
                <td style='background:#F0F0E0;font-weight:bold;border-bottom:1px solid black;white-space:normal;'>CantInteres</td>
                {% for i in 0..cantIntereses %}
                    <td style='background:#F0F0E0;font-weight:bold;border-bottom:1px solid black;white-space:normal;'>Interes{{i+1}}</td>
                {% endfor %}
                    
                <td style='background:#F0F0E0;font-weight:bold;border-bottom:1px solid black;white-space:normal;'>Nivel Interes</td>
                <td style='background:#F0F0E0;font-weight:bold;border-bottom:1px solid black;white-space:normal;'>Horario</td>
                <td style='background:#F0F0E0;font-weight:bold;border-bottom:1px solid black;white-space:normal;'>Fecha contactó</td>
                <td style='background:#F0F0E0;font-weight:bold;border-bottom:1px solid black;white-space:normal;'>¿Cómo se enteró? (referencia)</td>
                <td style='background:#F0F0E0;font-weight:bold;border-bottom:1px solid black;white-space:normal;'>¿Cómo se contactó? (1er contacto)</td>
                <td style='background:#F0F0E0;font-weight:bold;border-bottom:1px solid black;white-space:normal;'>Comentarios</td>
                
                <td style='background:#F0F0E0;font-weight:bold;border-bottom:1px solid black;white-space:normal;'>CantSeguimientos</td>
                {% for i in 0..cantSeguimientos %}
                    <td style='background:#F0F0E0;font-weight:bold;border-bottom:1px solid black;white-space:normal;'>Seguimiento{{i+1}}</td>
                {% endfor %}
                    
                <td style='background:#F0F0E0;font-weight:bold;border-bottom:1px solid black;white-space:normal;'>CantMatriculas</td>
                {% for i in 0..cantMatriculas %}
                    <td style='background:#F0F0E0;font-weight:bold;border-bottom:1px solid black;white-space:normal;'>Matricula{{i+1}}</td>
                {% endfor %}
            </tr>
            {% for row in contactos %}
                <tr style='mso-outline-level:undefined;'>
                    <td>{{row['contacto_crm_id']}}</td>
                    <td>{{row['genero']}}</td>
                    <td>{{row['nombre']}}</td>
                    <td>{{row['apellido1']}}</td>
                    <td>{{row['apellido2']}}</td>
                    <td>{{row['tipo_identificacion']}}</td>
                    <td>{{row['identificacion']}}</td>
                    <td>{{row['pais_residencia']}}</td>
                    <td>{{row['provincia']}}</td>
                    <td>{{row['canton']}}</td>
                    <td>{{row['direccion']}}</td>
                    
                    {% if ptwTipoContacto == 'PA' %}
                        <td>{{row['colegio']}}</td>
                        <td>{{row['nivel_colegio']}}</td>
                    {% endif %}
                    
                    <td>{{row['convenio']}}</td>
                    <td>{{row['profesion']}}</td>
                    <td>{{row['empresa']}}</td>
                    <td>{{row['puesto']}}</td>
                    
                    {%set correos = row['correos']|getArrayFromString %}
                    <td>{{correos|length}}</td>
                    {% for i in 0..cantCorreos %}
                        {% if correos[i] is defined %}
                            <td>{{correos[i]}}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% endfor %}
                    
                    {%set numeros = row['numeros']|getArrayFromString %}
                    <td>{{numeros|length}}</td>
                    {% for i in 0..cantNumeros %}
                        {% if numeros[i] is defined %}
                            <td>{{numeros[i]}}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% endfor %}
                        
                    {%set intereses = row['intereses']|getArrayFromString %}
                    <td>{{intereses|length}}</td>
                    {% for i in 0..cantIntereses %}
                        {% if intereses[i] is defined %}
                            <td>{{intereses[i]}}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% endfor %}
                            
                    <td>{{row['nivel_interes']}}</td>
                    <td>{{row['horario']}}</td>
                    
                    {% if row['fecha_contacto'] != '0000-00-00' %}
                        <td>{{row['fecha_contacto']}}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    
                    <td>{{row['referencia']}}</td>
                    <td>{{row['primer_contacto']}}</td>
                    <td>{{row['comentarios']}}</td>
                    
                    {%set seguimientos = row['seguimientos']|getArrayFromString %}
                    <td>{{seguimientos|length}}</td>
                    {% for i in 0..cantSeguimientos %}
                        {% if seguimientos[i] is defined %}
                            <td>{{seguimientos[i]}}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% endfor %}
                            
                    {%set matriculas = row['matriculas']|getArrayFromString %}
                    <td>{{matriculas|length}}</td>
                    {% for i in 0..cantMatriculas %}
                        {% if matriculas[i] is defined %}
                            <td>{{matriculas[i]}}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            <tr><td>** Fin del archivo **</td></tr>
        </table>
    </body>
</html>
{% endspaceless %}