{% extends "::base.html.twig" %}
{% set activePage = 'Principal' %}

{# content #}
{% block content %}
    <div id="content">
        <div class="page-header">
            <div class="pull-left">
                <h4><i class="icon-home"></i> Principal</h4>
            </div>
            <div class="pull-right">
                <ul class="bread">
                    <li><span class="divider">/</span></li>
                    <li class='active'>Principal</li>
                </ul>
            </div>
        </div>
        <div class="content-highlighted">
            <ul class="quick" data-collapse="collapse">
                {% if 'PROGRAMA_ACADEMICO_REGISTRAR' in _USER_PERMITS %}
                <li>
                    <a href="{{ path('cenfo_prog_academico_form_registrar') }}" onclick="$(this).showLoading()"><img src="{{ asset('img/icons/user.png') }}" alt="" /><span><i class="icon-plus"></i> Prog. Académico</span></a>
                </li>
                {% endif %}
                {% if 'ACTI_REGISTRAR' in _USER_PERMITS %}
                <li>
                    <a href="{{ path('cenfo_acti_form_registrar') }}" onclick="$(this).showLoading()"><img src="{{ asset('img/icons/business-contact.png') }}" alt="" /><span><i class="icon-plus"></i> ACTI</span></a>
                </li>
                {% endif %}
                {% if 'POSGRADO_REGISTRAR' in _USER_PERMITS %}
                <li>
                    <a href="{{ path('cenfo_posgrado_form_registrar') }}" onclick="$(this).showLoading()"><img src="{{ asset('img/icons/business-contact.png') }}" alt="" /><span><i class="icon-plus"></i> Posgrado</span></a>
                </li>
                {% endif %}
                {% if 'EMPRESA_REGISTRAR' in _USER_PERMITS %}
                <li>
                    <a href="{{ path('cenfo_empresa_form_registrar') }}" onclick="$(this).showLoading()"><img src="{{ asset('img/icons/customers.png') }}" alt="" /><span><i class="icon-plus"></i> Empresa</span></a>
                </li>
                {% endif %}
                {% if 'COLEGIO_REGISTRAR' in _USER_PERMITS %}
                <li>
                    <a href="{{ path('cenfo_colegio_form_registrar') }}" onclick="$(this).showLoading()"><img src="{{ asset('img/icons/user.png') }}" alt="" /><span><i class="icon-plus"></i> Colegio</span></a>
                </li>
                {% endif %}
                {% if 'BITACORA' in _USER_PERMITS %}
                <li>
                    <a href="{{ path('cenfo_bitacora_index') }}" onclick="$(this).showLoading()"><img src="{{ asset('img/icons/order-149.png') }}" alt="" /><span>Bitacora de eventos</span></a>
                </li>
                {% endif %}
            </ul>
        </div>

        <div class="container-fluid" id="content-area">
            <div class="row-fluid">
                <div class="span12">
                    <div class="crm-box">
                        <div class="crm-box-head">
                            <i class="icon-list-ul"></i>
                            <span>Filtros para el gráfico</span>
                        </div>
                        <div class="crm-box-body crm-box-body-nopadding">
                            <form action="" id="frmBuscarContacto" method="POST" class="form-horizontal form-bordered form-column form-validate">
                                <div class="span6">
                                    {# Intereses #}
                                    <div class="control-group">
                                        <label for="uiSelTipoContacto" class="control-label">Tipo Contacto </label>
                                        <div class="controls" style="height: 30px;">
                                            <div class="input-large">
                                                <select id="uiSelTipoContacto" name="uiSelTipoContacto" data-placeholder="Seleccionar tipo..." >
                                                    <option value="TODOS" {%if ptwTipoContacto == 'TODOS'%}selected="true"{%endif%}>Todos</option>
                                                    <option value="PA" {%if ptwTipoContacto == 'PA'%}selected="true"{%endif%}>Programa Académico</option>
                                                    <option value="ACTI" {%if ptwTipoContacto == 'ACTI'%}selected="true"{%endif%}>ACTI</option>
                                                    <option value="POS" {%if ptwTipoContacto == 'POS'%}selected="true"{%endif%}>Posgrado</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="span6">
                                    {# Checkbox eliminados #}
                                    <div class="control-group">
                                        <label for="textfield" class="control-label">Eliminados</label>
                                        <div class="controls" style="height: 30px;">
                                            <label class="checkbox-uniformed">
                                                <div class="checker">
                                                    <input id="ckbEliminado" name="ckb" type="checkbox" class="uniform-me" {%if ptwFlagEliminado %}checked="true"{%endif%}>
                                                </div> 
                                                Mostrar eliminados
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="crm-box">
                        <div class="crm-box-head crm-box-tabs">
                            <ul class="tabs">
                                <li>
                                    <a href="#registrados" chart-id="{{ ptwDataChartRegistrados['idContainer'] }}" class="btnRegistradosXMes" data-toggle="tab">
                                        <i class="icon-bar-chart"></i>
                                        Registrados por mes
                                    </a>
                                </li>
                                <li>
                                    <a href="#referencia" chart-id="{{ ptwDataChartTopReferencias['idContainer'] }}" data-toggle="tab">
                                        <i class="icon-bar-chart"></i>
                                        Top 25 Referencia
                                    </a>
                                </li>
                                <li>
                                    <a href="#primerContacto" chart-id="{{ ptwDataChartTopPrimerContacto['idContainer'] }}" data-toggle="tab">
                                        Top 10 Primer contacto
                                    </a>
                                </li>
                                <li>
                                    <a href="#intereses" chart-id="{{ ptwDataChartTopIntereses['idContainer'] }}" data-toggle="tab">
                                        Top 25 Intereses
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="crm-box-body crm-box-body-bigpadding">
                            <div class="tab-content" style="width: 100%;">
                                <div class="tab-pane active" id="registrados">
                                    <div id="{{ ptwDataChartRegistrados['idContainer'] }}" style="height: 500px; width: 100%;"></div>
                                </div>
                                <div class="tab-pane active" id="referencia" >
                                    <div id="{{ ptwDataChartTopReferencias['idContainer'] }}" style="height: 500px; width: 100%;"></div>
                                </div>
                                <div class="tab-pane active" id="primerContacto" >
                                    <div id="{{ ptwDataChartTopPrimerContacto['idContainer'] }}" style="height: 500px; width: 100%;"></div>
                                </div>
                                <div class="tab-pane active" id="intereses" >
                                    <div id="{{ ptwDataChartTopIntereses['idContainer'] }}" style="height: 500px; width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'bundles/componentshighcharts/highcharts.js'
        'bundles/componentshighcharts/themes/grid.js'
        'bundles/componentshighcharts/modules/exporting.js'
        output='dump-files-2014-02-23/crm-index.js'
    %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
    {% include 'CenfotecCRMBundle::Reporte/createChart.js.twig' with {
        'ptwDataChart' : ptwDataChartRegistrados
    } %}
    {% include 'CenfotecCRMBundle::Reporte/createChart.js.twig' with {
        'ptwDataChart' : ptwDataChartTopReferencias
    } %}
    {% include 'CenfotecCRMBundle::Reporte/createChart.js.twig' with {
        'ptwDataChart' : ptwDataChartTopPrimerContacto
    } %}
    {% include 'CenfotecCRMBundle::Reporte/createChart.js.twig' with {
        'ptwDataChart' : ptwDataChartTopIntereses
    } %}
    <script type="text/javascript">
        $('#{{ ptwDataChartRegistrados['idContainer'] }}').one('inview', function(){
            $('.btnRegistradosXMes').click();

            //Recalcular el tamaño para cada Chart
            $('[chart-id]').each(function(){
                var $el      = $(this);
                var idChart  = $el.attr('chart-id');
                //var objChart = _GLOBAL.chars[idChart];
                var $resizeEl = $('#' + idChart);
                
                _GLOBAL.resizeElements.push({
                    fnResize : function(){
                        $resizeEl.width($('.tab-content').width());
                        //objChart.setSize($('.tab-content').width());
                    }
                });
            });
        });
        $('#uiSelTipoContacto,#ckbEliminado').change(function(){
            var url = window.location.pathname;
            url = $.addToQueryString(url, 'ptipoContacto', $('#uiSelTipoContacto').val());
            url = $.addToQueryString(url, 'pflagEliminado', $('#ckbEliminado').is(':checked'));
            window.location.href = url;
            $("#content-area").showLoading();
        });
    </script>
{% endblock javascripts %}
    