<div class="row-fluid">
    <div class="span12">
        <div class="crm-box crm-box-listar-seg">
            <div class="crm-box-head">
                <i class="icon-list-ul"></i>
                <span>Contactos con información similar</span>
                <div class="actions">
                    <a href="#" rel="tooltip" title="" data-original-title="Cerrar" data-dismiss="modal"><i class="icon-remove-sign"></i></a>
                </div>
            </div>
            <div class="crm-box-body">
                <div class="alert alert-info fade in">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Mensaje</strong> 
                    <p>Se encontró registros con información similar, selecciona el contacto en donde quieras combinar la información ó hacer click en "Continuar con la operación" si no desea combinar los datos.</p>
                </div>
                <div id="{{ ptwGridOptionsGenerator.containerId }}"></div>
            </div>
            <div class="crm-box-body crm-box-body-nopadding crm-box-toolbar crm-box-duplicados" >
                <div class="row-fluid">
                    <div class="container-fluid">
                        {# Combinar #}
                        <button 
                            id="uiBtnCombinar" 
                            data-grid-id="{{ptwGridOptionsGenerator.gridId}}" 
                            data-alert-select-row="#{{ptwGridOptionsGenerator.containerId}}" 
                            class="button button-basic-blue" 
                            title="Combinar información de los contactos">
                            <i class="icon-random"></i> Combinar información
                        </button>
                        
                        {# Proceder con registro #}
                        <button 
                            id="uiBtnContinuarRegistro" 
                            data-grid-id="{{ptwGridOptionsGenerator.gridId}}" 
                            class="button button-basic-green" 
                            title="Continar con la operación">
                            <i class="icon-signout"></i> Continuar con la operación
                        </button>
                        
                        {# Ver #}
                        <button 
                            id="uiVerInformacion" 
                            data-grid-id="{{ptwGridOptionsGenerator.gridId}}" 
                            data-loading-to="#{{ptwGridOptionsGenerator.containerId}}" 
                            class="button button-basic" 
                            title="Información del contacto" >
                            <i class="icon-search"></i> Ver
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'ComponentsEJSTreeGridBundle::createGrid.js.twig' with {
    'gridContainerId' : ptwGridOptionsGenerator.containerId, 
    'gridOptions'     : ptwGridOptionsGenerator.options,
    'gridId'          : ptwGridOptionsGenerator.gridId         }
%}
<script type="text/javascript">  
    //Toolbar listar duplicados: Este script se llama desde registrar PA, ACTI, POS 
    //------------------------------------------------------------------------------
    
    //La variable _apiPA se define por default en la vista "formAdministrar.html.twig" de programa academico.
    if(typeof _apiPA != 'undefined'){
        _apiCRM.vars.actionModificarUrl = "cenfo_prog_academico_modificar";
    }
    //La variable _apiActi se define por default en la vista "formAdministrar.html.twig" de acti.
    if(typeof _apiActi != 'undefined'){
        _apiCRM.vars.actionModificarUrl = "cenfo_acti_modificar";
    }
    //La variable _apiPosgrado se define por default en la vista "formAdministrar.html.twig" de posgrado.
    if(typeof _apiPosgrado != 'undefined'){
        _apiCRM.vars.actionModificarUrl = "cenfo_posgrado_modificar";
    }
    //La variable _apiColegio se define por default en la vista "formAdministrar.html.twig" de colegio.
    if(typeof _apiColegio != 'undefined'){
        _apiCRM.vars.actionModificarUrl = "cenfo_colegio_modificar";
    }
    //La variable _apiEmpresa se define por default en la vista "formAdministrar.html.twig" de empresa.
    if(typeof _apiEmpresa != 'undefined'){
        _apiCRM.vars.actionModificarUrl = "cenfo_empresa_modificar";
    }
    
    //Ver informacion del contacto
    $("#uiVerInformacion").on("click", _apiCRM.verPerfil.event);

    //Combinar información
    $("#uiBtnCombinar").on("click", _apiCRM.combinarInformacion.event);

    //Continuar con la operación
    $("#uiBtnContinuarRegistro").on("click", _apiCRM.continuarOperacion.event);
</script>