<div class="row-fluid">
    <div class="span12">
        <div class="span8">
            <div class="crm-box">
                <div class="crm-box-head">
                    <i class="icon-list-ul"></i>
                    <span>Información del contacto</span>
                    <div class="actions">
                        <a href="#" rel="tooltip" title="" data-original-title="Cerrar" data-dismiss="modal"><i class="icon-remove-sign"></i></a>
                    </div>
                </div>
                <div class="crm-box-body crm-box-body-nopadding">
                    <form action="#" method="POST" class="form-horizontal form-bordered form-column">
                        <div class="row-fluid">
                            <div class="span12">
                                {% set camposQueFaltan = "" %}

                                {# Contacto en #}
                                <div class="control-group">
                                    <label for="uiTxtTipoContacto" class="control-label">Contacto en</label>
                                    <div class="controls">
                                        {% if ptwObjContacto.programaAcademico is not empty %}
                                            Programa Académico <br>
                                        {% endif %}
                                        {% if ptwObjContacto.acti is not empty %}
                                            ACTI <br>
                                        {% endif %}
                                        {% if ptwObjContacto.posgrado is not empty %}
                                            Posgrado <br>
                                        {% endif %}
                                    </div>
                                </div>
                                
                                {# Genero #}
                                {%if ptwObjContacto.genero is not empty%}
                                    <div class="control-group">
                                        <label for="uiRbtGenero" class="control-label">Género</label>
                                        <div class="controls">
                                            {%if ptwObjContacto.genero == 'M'%}
                                                Masculino
                                            {%elseif ptwObjContacto.genero == 'F'%}
                                                Femenino
                                            {% endif %}
                                        </div>
                                    </div>
                                {% else %}
                                    {% set camposQueFaltan = camposQueFaltan ~ "<li>Genero</li>" %}
                                {% endif %}

                                {# Nombre #}
                                {%if ptwObjContacto.nombre is not empty%}
                                    <div class="control-group">
                                        <label for="uiTxtNombre" class="control-label">Nombre</label>
                                        <div class="controls">{{ ptwObjContacto.nombre }}</div>
                                    </div>
                                {% else %}
                                    {% set camposQueFaltan = camposQueFaltan ~ "<li>Nombre</li>" %}
                                {% endif %}  

                                {# Apellido 1 #}
                                {% if ptwObjContacto.apellido1 is not empty %}
                                    <div class="control-group">
                                        <label for="uiTxtApellido1" class="control-label">Apellido 1</label>
                                        <div class="controls">{{ ptwObjContacto.apellido1 }}</div>
                                    </div>
                                {% else %}
                                    {% set camposQueFaltan = camposQueFaltan ~ "<li>Primer apellido</li>" %}
                                {% endif %}

                                {# Apellido 2 #}
                                {% if ptwObjContacto.apellido2 is not empty %}
                                    <div class="control-group">
                                        <label for="uiTxtApellido2" class="control-label">Apellido 2</label>
                                        <div class="controls">{{ ptwObjContacto.apellido2 }}</div> 
                                    </div>
                                {% else %}
                                    {% set camposQueFaltan = camposQueFaltan ~ "<li>Segundo apellido</li>" %}
                                {% endif %}

                                {# País Residencia #}
                                {% if ptwObjContacto.paisResidencia is not empty %}
                                    <div class="control-group">
                                        <label for="uiSelPaisResidencia" class="control-label">País de residencia</label>
                                        <div class="controls">{{ ptwObjContacto.paisResidencia.nombre }}</div>
                                    </div>
                                {% else %}
                                    {% set camposQueFaltan = camposQueFaltan ~ "<li>País residencia</li>" %}
                                {% endif %}

                                {# Canton #}
                                {% if ptwObjContacto.canton is not empty %}
                                <div class="control-group">
                                    <label for="uiSelCanton" class="control-label">Provincia / Cantón</label>
                                    <div class="controls">
                                        {{ ptwObjContacto.canton.provincia.nombre }} / {{ ptwObjContacto.canton.nombre }}
                                    </div>
                                </div>
                                {% else %}
                                    {% set camposQueFaltan = camposQueFaltan ~ "<li>Cantón</li>" %}
                                {% endif %}

                                {# Dirección #}
                                {% if ptwObjContacto.direccion is not empty %}
                                    <div class="control-group">
                                        <label for="uiTxaDireccion" class="control-label">Dirección</label>
                                        <div class="controls">{{ ptwObjContacto.direccion }}</div>
                                    </div>
                                {% else %}
                                    {% set camposQueFaltan = camposQueFaltan ~ "<li>Dirección</li>" %}
                                {% endif %}

                                {# Tipo de identificacion #}
                                {% if ptwObjContacto.tipoIdentificacion is not empty %}
                                    <div class="control-group">
                                        <label for="uiSelTipoIdentificacion" class="control-label">Tipo de identificación</label>
                                        <div class="controls">
                                            {% if ptwObjContacto.tipoIdentificacion is not empty %}
                                                {{ ptwObjContacto.tipoIdentificacion.nombre }}
                                            {% endif %}
                                        </div>
                                    </div> 
                                {% else %}
                                    {% set camposQueFaltan = camposQueFaltan ~ "<li>Tipo de identificación</li>" %}
                                {% endif %}

                                {# Identificacion #}
                                {% if ptwObjContacto.identificacion is not empty %}
                                    <div class="control-group">
                                        <label for="uiTxtIdentificacion" class="control-label">Identificación</label>
                                        <div class="controls">{{ ptwObjContacto.identificacion }}</div>
                                    </div>
                                {% else %}
                                    {% set camposQueFaltan = camposQueFaltan ~ "<li>Identificación</li>" %}
                                {% endif %}

                                {% if ptwObjContacto.programaAcademico is not empty %}
                                    {# Colegio #}    
                                    {% if ptwObjContacto.programaAcademico.colegio is not empty %}
                                        <div class="control-group">
                                            <label for="uiSelColegio" class="control-label">Colegio</label>
                                            <div class="controls">
                                                {% if ptwObjContacto.programaAcademico.colegio is not empty %}
                                                    {{ ptwObjContacto.programaAcademico.colegio.nombre }}
                                                {% endif %}
                                            </div>
                                        </div> 
                                    {% else %}
                                        {% set camposQueFaltan = camposQueFaltan ~ "<li>Colegio</li>" %}
                                    {% endif %}

                                    {# Nivel de Colegio #}
                                    {% if ptwObjContacto.programaAcademico.nivelColegio is not empty %}
                                        <div class="control-group">
                                            <label for="uiSelNivel" class="control-label">Nivel de colegio</label>
                                            <div class="controls">
                                                {% if ptwObjContacto.programaAcademico.nivelColegio is not empty %}
                                                    {{ ptwObjContacto.programaAcademico.nivelColegio.nombre }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% else %}
                                        {% set camposQueFaltan = camposQueFaltan ~ "<li>Nivel de colegio</li>" %}
                                    {% endif %}
                                {%endif%}
                                
                                {% if ptwObjContacto.acti is not empty %}
                                
                                {%endif%}
                                
                                {% if ptwObjContacto.posgrado is not empty %}
                                
                                {%endif%}
                                
                                {# Convenio #}
                                {% if ptwObjContacto.convenio is not empty %}
                                    <div class="control-group">
                                        <label for="uiSelConvenio" class="control-label">Convenio</label>
                                        <div class="controls">
                                            {% if ptwObjContacto.convenio is not empty %}
                                                {{ ptwObjContacto.convenio.nombre }}
                                            {% endif %}
                                        </div>
                                    </div>
                                {% else %}
                                    {% set camposQueFaltan = camposQueFaltan ~ "<li>Convenio</li>" %}
                                {% endif %}

                                {# Correos #}
                                {% if ptwObjContacto.getCorreos()|length > 0 %}
                                    <div class="control-group">
                                        <label for="uiTxtCorreo" class="control-label">
                                            Correos
                                        </label>
                                        <div class="controls">
                                            {% for objCorreo in ptwObjContacto.getCorreos() %}
                                                {{objCorreo.correo}}<br>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% else %}
                                    {% set camposQueFaltan = camposQueFaltan ~ "<li>Correo</li>" %}
                                {% endif %}

                                {# Números #}
                                {% if ptwObjContacto.getNumeros()|length > 0 %}
                                    <div class="control-group">
                                        <label for="uiTxtNumero" class="control-label">
                                            Números
                                        </label>
                                        <div class="controls">
                                            {% for objNumero in ptwObjContacto.getNumeros() %}
                                                {{objNumero.tipo.nombre}} {{objNumero.numero}} {{objNumero.ext}}<br>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% else %}
                                    {% set camposQueFaltan = camposQueFaltan ~ "<li>Número</li>" %}
                                {% endif %}

                                {# Empresa #}    
                                {% if ptwObjContacto.empresa is not empty %}
                                    <div class="control-group">
                                        <label for="uiSelEmpresa" class="control-label">Empresa</label>
                                        <div class="controls">
                                            {% if ptwObjContacto.empresa is not empty %}
                                                {{ ptwObjContacto.empresa.nombre }}
                                            {% endif %}
                                        </div>
                                    </div>
                                {% else %}
                                    {% set camposQueFaltan = camposQueFaltan ~ "<li>Empresa</li>" %}
                                {% endif %}

                                {# Interes #}
                                {% if ptwObjContacto.getIntereses()|length > 0 %}
                                    <div class="control-group">
                                        <label for="uiSelInteres" class="control-label">
                                            Interes
                                        </label>
                                        <div class="controls">
                                            {% for objInteres in ptwObjContacto.getIntereses() %}
                                                {{objInteres.nombre}}<br>
                                            {% endfor %}
                                        </div>
                                    </div>  
                                {% else %}
                                    {% set camposQueFaltan = camposQueFaltan ~ "<li>Interes</li>" %}
                                {% endif %}

                                {# Nivel de Interés #}
                                {% if ptwObjContacto.nivelInteres is not empty %}
                                    <div class="control-group">
                                        <label for="uiSelNivelInteres" class="control-label">Nivel de interés</label>
                                        <div class="controls">
                                            {% if ptwObjContacto.nivelInteres is not empty %}
                                                {{ ptwObjContacto.nivelInteres.nombre }}
                                            {% endif %}
                                        </div>
                                    </div>    
                                {% else %}
                                    {% set camposQueFaltan = camposQueFaltan ~ "<li>Nivel Interés</li>" %}
                                {% endif %}

                                {# Fecha contacto #}
                                {% if ptwObjContacto.fechaContacto is not empty %}
                                    <div class="control-group">
                                        <label for="uiDtpFechaContacto" class="control-label">
                                            Fecha contacto
                                        </label>
                                        <div class="controls">
                                            {% if ptwObjContacto.fechaContacto is not empty %}
                                                {{ptwObjContacto.fechaContacto|date("d/m/Y")}}
                                            {% endif %}
                                        </div>
                                    </div>
                                {% else %}
                                    {% set camposQueFaltan = camposQueFaltan ~ "<li>Fecha contacto</li>" %}
                                {% endif %}

                                {# Referencia #}
                                {% if ptwObjContacto.referencia is not empty %}
                                    <div class="control-group">
                                        <label for="uiSelReferencia" class="control-label">
                                            ¿Cómo se enteró? (referencia)
                                        </label>
                                        <div class="controls">
                                            {% if ptwObjContacto.referencia is not empty %}
                                                {{ ptwObjContacto.referencia.nombre }}
                                            {% endif %}
                                        </div>
                                    </div> 
                                {% else %}
                                    {% set camposQueFaltan = camposQueFaltan ~ "<li>Referencia</li>" %}
                                {% endif %}

                                {# Primer contacto #}    
                                {% if ptwObjContacto.primerContacto is not empty %}
                                    <div class="control-group">
                                        <label for="uiSelPrimerContacto" class="control-label">
                                            ¿Cómo se contactó? (1er contacto)
                                        </label>
                                        <div class="controls">
                                            {% if ptwObjContacto.primerContacto is not empty %}
                                                {{ ptwObjContacto.primerContacto.nombre }}
                                            {% endif %}
                                        </div>
                                    </div>
                                {% else %}
                                    {% set camposQueFaltan = camposQueFaltan ~ "<li>Primer contacto</li>" %}
                                {% endif %}

                                {# Comentario #}
                                {% if ptwObjContacto.comentario is not empty %}
                                    <div class="control-group">
                                        <label for="uiTxaCommentarios" class="control-label">Comentarios</label>
                                        <div class="controls">{{ ptwObjContacto.comentario }}</div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% if camposQueFaltan is not empty %}
            <div class="span4">
                <div class="crm-box">
                    <div class="crm-box-head">
                        <i class="icon-list-ul"></i>
                        <span>Campos pendientes</span>
                        <div class="actions">
                            <a href="#" rel="tooltip" title="" ></a>
                        </div>
                    </div>
                    <div class="crm-box-body crm-box-body-nopadding">
                        <div class="row-fluid">
                            <div class="span12" style="border-bottom: 1px solid #e5e5e5;">
                                <ul class="custom-list">
                                    {{camposQueFaltan|raw}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>