{% if app.user is defined and app.user is not empty %}
    {% set tempId             = app.user.id %}
    {% set tempNombreCompleto = app.user.nombreCompleto %}
    {% set tempCorreo         = app.user.correo %}
{% else %}
    {% set tempNombreCompleto = 'Anonimo' %}
    {% set tempCorreo         = 'Anonimo' %}
    {% set tempId             = 'Anonimo' %}
{% endif %}
{% set _GLOBAL = {
    'usuario' : {
        'nombreCompleto' : tempNombreCompleto,
        'correo'         : tempCorreo,
        'id'             : tempId,
    }
} %}
{% set _USER_PERMITS = app.user.permisos %}
{% spaceless %}
<!doctype html>
<html>
    <head>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />

        {% block stylesheets %}
            {% stylesheets 
                'css/bootstrap.min.css'
                'css/bootstrap-responsive.min.css'
                'css/datepicker.css'
                'css/chosen.css'
                'css/jquery.gritter.css'
                'plugins/showLoading/css/showLoading.css'
                'plugins/cdAjaxModal/css/cd-ajax-modal-0.1.css'
                'plugins/simpleTable/simple-table-plugin.css'
                'css/style.css'
                'css/bootstrap-timepicker.min.css'
                filter='cssrewrite' 
                output='dump-files-2014-02-23/assets.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
            <link rel="stylesheet" href="{{ asset('css/uniform.default.min.css') }}" />
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <link rel="apple-touch-icon-precomposed" href="{{ asset('apple-touch-icon-precomposed.png') }}" />
        <title>Cenfo CRM</title>
    </head>

    <body data-layout="fixed">
        <div id="overlay">
            <ul>
                <li class="li1"></li>
                <li class="li2"></li>
                <li class="li3"></li>
                <li class="li4"></li>
                <li class="li5"></li>
                <li class="li6"></li>
            </ul>
        </div>
        {# top #}
        {% block top %}
            {% include '::top.html.twig' %}
        {% endblock %}
            
        {# main #}
        {% block main %}
            <div id="main">                    
                {# navigation #}
                {% block navigation %}
                    {% include '::navigation.html.twig' %}
                {% endblock %}
                    
                {# content #}
                {% block content %}
                {% endblock %}
            </div>
        {% endblock %}
            
        {# navi-functions #}
        {% block naviFunctions %}
            <div class="navi-functions">
                <div class="btn-group btn-group-custom">
                    <a href="#" class="button button-square notify notify-inverse layout-no-nav" rel="tooltip" title="Esconder navegador" data-notify-message="El navegador esta :state" data-notify-title="Esconder navegador">
                        <i class="icon-arrow-left"></i>
                    </a>
                </div>
            </div>
        {% endblock %}
            
        {% block javascripts %}
             {% javascripts
                'js/jquery.min.js'
                'js/jquery.easing.min.js'
                'js/bootstrap.min.js'
                'js/jquery.nicescroll.min.js'
                'js/jquery.gritter.min.js'
                'js/chosen.jquery.min.js'
                'js/demonstration.min.js'
                'js/application.min.js'
                'js/eakroko.min.js'
                'js/jquery.migrate.min.js'
                'js/bootstrap-datepicker.min.js'
                'js/bootstrap-alerts.js'
                'plugins/showLoading/js/jquery.showLoading.js'
                'plugins/blockUI/jquery.blockUI.js'
                'plugins/cdAjaxModal/js/bootstrap-modal.js'
                'plugins/cdAjaxModal/js/cd-ajax-modal-0.1.js'
                'plugins/simpleTable/simple-table-plugin.js'
                'plugins/simpleTable/simple-accordion-plugin.js'
                'plugins/inview/jquery.inview.js'
                'plugins/downloadPlugin/jquery.cookie.js'
                'plugins/downloadPlugin/jquery.fileDownload.js'
                'js/jquery.uniform.min.js'
                'js/jquery.validate.min.js'
                'js/jquery.form.min.js'
                'js/jquery.maskedinput.min.js'
                'js/utils.js'
                output='dump-files-2014-02-23/assets.js'
            %}
                <script src="{{ asset_url }}" type="text/javascript"></script>
            {% endjavascripts %}
                
            {# Fos Routing #}    
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
            
            {# JSTreeGrid plugin #}
            <script type="text/javascript" src="{{ asset('bundles/componentsejstreegrid/Grid/GridE.js') }}" ></script>
            <script type="text/javascript" src="{{ asset('bundles/componentsejstreegrid/js/gridExtension.js') }}" ></script>

            <script type="text/javascript">
                {# Variables globales en la aplicacion #}
                var _GLOBAL = {
                    baseUrl        : "{{app.request.server.get('REQUEST_SCHEME')}}://{{ app.request.server.get('HTTP_HOST') }}{{ app.request.baseUrl }}".replace('app_dev.php', ''),
                    resizeElements : [],
                    chars          : {}
                };
                
                {# Google Analytics #}
                (function(i, s, o, g, r, a, m) {
                    i['GoogleAnalyticsObject'] = r;
                    i[r] = i[r] || function() {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
                    a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                    a.async = 1;
                    a.src = g;
                    m.parentNode.insertBefore(a, m)
                })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

                ga('create', 'UA-23907243-10', 'dominguezprojects.com');
                ga('send', 'pageview');
            </script>
        {% endblock %}
    </body>
</html>
{% endspaceless %}