{# navigation #}
{% block navigation %}
<div id="navigation" style="overflow: visible;">
    
    {# search #}
    {% block search %}
    <div class="search">
        <i class="icon-search icon-white"></i>
        <form action="{{path('cenfo_busqueda_index')}}" target="_blank" method="GET">
            <input type="text" name="pcriterio" placeholder="Buscar" >
            <input type="hidden" name="ptipoContacto" id="uiTxtBusquedaTipo" value="">
        </form>
        <div class="dropdown">
            <a href="#" class='search-settings dropdown-toggle' data-toggle="dropdown"><i class="icon-cog icon-white"></i></a>
            <ul class="dropdown-menu">
                <li class='sort-by'>
                    Buscar por <span class='filter'> Tipo de contacto</span> 
                </li>
                <li class="heading">
                    Seleccionar tipo
                </li>
                {% if 'PROGRAMA_ACADEMICO' in _USER_PERMITS %}
                <li class='filter'>
                    Programa Académico
                </li>
                {% endif %}
                {% if 'ACTI' in _USER_PERMITS %}
                <li class="filter">
                    ACTI
                </li>
                {% endif %}
                {% if 'POSGRADO' in _USER_PERMITS %}
                <li class="filter">
                    Posgrado
                </li>
                {% endif %}
                {% if 'EMPRESA' in _USER_PERMITS %}
                <li class="filter">
                    Empresa
                </li>
                {% endif %}
                {% if 'COLEGIO' in _USER_PERMITS %}
                <li class="filter">
                    Colegio
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% endblock %}
       
    {# mainNav #}
    {% block mainNav %}
    <ul class="mainNav" data-open-subnavs="multi">
        <li {% if activePage == 'PRINCIPAL' %}class='active'{% endif %}>
            <a href="{{path('cenfo_index')}}"><i class="icon-home icon-white"></i><span>Principal</span></a>
        </li>
        {% if 'PROGRAMA_ACADEMICO' in _USER_PERMITS %}
        <li {% if activePage == 'PA' %}class='active'{% endif %}>
            <a href="#"><i class="icon-group icon-white"></i><span>Prog. Académico</span></a>
            <ul class="subnav">
                {% if 'PROGRAMA_ACADEMICO_REGISTRAR' in _USER_PERMITS %}
                <li>
                    <a href="{{path('cenfo_prog_academico_form_registrar')}}">Registrar nuevo</a>
                </li>
                {% endif %}
                {% if 'PROGRAMA_ACADEMICO_LISTAR' in _USER_PERMITS %}
                <li>
                    <a href="{{path('cenfo_prog_academico_listar')}}">Administrar</a>
                </li>
                {% endif %}
                {% if 'PROGRAMA_ACADEMICO_LISTAR_MATRICULADOS' in _USER_PERMITS %}
                <li>
                    <a href="{{path('cenfo_prog_academico_listar_matriculados')}}">Matriculados</a>
                </li>
                {% endif %}
                {% if 'PROGRAMA_ACADEMICO_LISTAR_ELIMINADOS' in _USER_PERMITS %}
                <li>
                    <a href="{{path('cenfo_prog_academico_listar_eliminados')}}">Eliminados</a>
                </li>
                {% endif %}
            </ul>
        </li>
        {% endif %}
        {% if 'ACTI' in _USER_PERMITS %}
        <li {% if activePage == 'ACTI' %}class='active'{% endif %}>
            <a href="#"><i class="icon-group icon-white"></i><span>ACTI</span></a>
            <ul class="subnav">
                {% if 'ACTI_REGISTRAR' in _USER_PERMITS %}
                <li>
                    <a href="{{path('cenfo_acti_form_registrar')}}">Registrar nuevo</a>
                </li>
                {% endif %}
                {% if 'ACTI_LISTAR' in _USER_PERMITS %}
                <li>
                    <a href="{{path('cenfo_acti_listar')}}">Administrar</a>
                </li>
                {% endif %}
                {% if 'ACTI_LISTAR_ELIMINADOS' in _USER_PERMITS %}
                <li>
                    <a href="{{path('cenfo_acti_listar_eliminados')}}">Eliminados</a>
                </li>
                {% endif %}
            </ul>
        </li>
        {% endif %}
        {% if 'POSGRADO' in _USER_PERMITS %}
        <li {% if activePage == 'POS' %}class='active'{% endif %}>
            <a href="#"><i class="icon-group icon-white"></i><span>Posgrado</span></a>
            <ul class="subnav">
                {% if 'POSGRADO_REGISTRAR' in _USER_PERMITS %}
                <li>
                    <a href="{{path('cenfo_posgrado_form_registrar')}}">Registrar nuevo</a>
                </li>
                {% endif %}
                {% if 'POSGRADO_LISTAR' in _USER_PERMITS %}
                <li>
                    <a href="{{path('cenfo_posgrado_listar')}}">Administrar</a>
                </li>
                {% endif %}
                {% if 'POSGRADO_LISTAR_ELIMINADOS' in _USER_PERMITS %}
                <li>
                    <a href="{{path('cenfo_posgrado_listar_eliminados')}}">Eliminados</a>
                </li>
                {% endif %}
            </ul>
        </li>
        {% endif %}
        {% if 'EMPRESA' in _USER_PERMITS %}
        <li {% if activePage == 'EM' %}class='active'{% endif %}>
            <a href="#"><i class="icon-group icon-white"></i><span>Empresa</span></a>
            <ul class="subnav">
                {% if 'EMPRESA_REGISTRAR' in _USER_PERMITS %}
                <li>
                    <a href="{{path('cenfo_empresa_form_registrar')}}">Registrar nueva</a>
                </li>
                {% endif %}
                {% if 'EMPRESA_LISTAR' in _USER_PERMITS %}
                <li>
                    <a href="{{path('cenfo_empresa_listar')}}">Administrar</a>
                </li>
                {% endif %}
            </ul>
        </li>
        {% endif %}
        {% if 'COLEGIO' in _USER_PERMITS %}
        <li {% if activePage == 'CO' %}class='active'{% endif %}>
            <a href="#"><i class="icon-group icon-white"></i><span>Colegio</span></a>
            <ul class="subnav">
                {% if 'COLEGIO_REGISTRAR' in _USER_PERMITS %}
                <li>
                    <a href="{{path('cenfo_colegio_form_registrar')}}">Registrar nuevo</a>
                </li>
                {% endif %}
                {% if 'COLEGIO_LISTAR' in _USER_PERMITS %}
                <li>
                    <a href="{{path('cenfo_colegio_listar')}}">Administrar</a>
                </li>
                {% endif %}
            </ul>
        </li>
        {% endif %}
        {% if 'ADMINISTRACION' in _USER_PERMITS %}
        <li {% if activePage == 'ADMIN' %}class='active'{% endif %}>
            <a href="#"><i class="icon-cogs icon-white"></i><span>Administración</span></a>
            <ul class="subnav">
                {% if 'ADMINISTRACION_INTERES' in _USER_PERMITS %}
                <li><a tabindex="-1" href="{{ path('cenfo_admin_interes') }}"><i class="icon-dashboard"></i> Interes</a></li>
                {% endif %}
                {% if 'ADMINISTRACION_INTERES_MODALIDAD' in _USER_PERMITS %}
                <li><a tabindex="-1" href="{{ path('cenfo_admin_modalidad') }}"><i class="icon-group"></i> Modalidad</a></li>
                {% endif %}
                {% if 'ADMINISTRACION_TIPO_SEGUIMIENTO' in _USER_PERMITS %}
                <li><a tabindex="-1" href="{{ path('cenfo_admin_tipo_seguimiento') }}"><i class="icon-beaker"></i> Tipos de seguimiento</a></li>
                {% endif %}
                {% if 'ADMINISTRACION_PRIMER_CONTACTO' in _USER_PERMITS %}
                <li><a tabindex="-1" href="{{ path('cenfo_admin_primer_contacto') }}"><i class="icon-ok-circle"></i> Primer contacto</a></li>
                {% endif %}
                {% if 'ADMINISTRACION_TIPO_REFERENCIA' in _USER_PERMITS %}
                <li><a tabindex="-1" href="{{ path('cenfo_admin_tipo_referencia') }}"><i class="icon-music"></i> Tipo Referencia</a></li>
                {% endif %}
                {% if 'ADMINISTRACION_REFERENCIA' in _USER_PERMITS %}
                <li><a tabindex="-1" href="{{ path('cenfo_admin_referencia') }}"><i class="icon-folder-close"></i> Referencia</a></li>
                {% endif %}
                {% if 'ADMINISTRACION_CONVENIO' in _USER_PERMITS %}
                <li><a tabindex="-1" href="{{ path('cenfo_admin_convenio') }}"><i class="icon-pencil"></i> Convenios</a></li>
                {% endif %}
                {% if 'ADMINISTRACION_HORARIO' in _USER_PERMITS %}
                <li><a tabindex="-1" href="{{ path('cenfo_admin_horario') }}"><i class="icon-external-link"></i> Preferencia de horario</a></li>
                {% endif %}
                {% if 'ADMINISTRACION_PROFESION' in _USER_PERMITS %}
                <li><a tabindex="-1" href="{{ path('cenfo_admin_profesion') }}"><i class="icon-random"></i> Profesión</a></li>
                {% endif %}
                {% if 'ADMINISTRACION_PUESTO' in _USER_PERMITS %}
                <li><a tabindex="-1" href="{{ path('cenfo_admin_puesto') }}"><i class="icon-random"></i> Puesto</a></li>
                {% endif %}
                {% if 'ADMINISTRACION_CARGO' in _USER_PERMITS %}
                <li><a tabindex="-1" href="{{ path('cenfo_admin_puesto') }}"><i class="icon-random"></i> Puesto</a></li>
                {% endif %}
                {% if 'ADMINISTRACION_ACTIVIDAD_EMPRESA' in _USER_PERMITS %}
                <li><a tabindex="-1" href="{{ path('cenfo_admin_actividad_empresa') }}"><i class="icon-group"></i> Actividades empresas</a></li>
                {% endif %}
            </ul> 
        </li>
        {% endif %}
        {% if 'REPORTES' in _USER_PERMITS %}
        <li {% if activePage == 'REPORTES' %}class='active'{% endif %}>
            <a href="#"><i class="icon-bar-chart icon-white"></i><span>Reportes</span></a>
            <ul class="subnav">
                <li>
                    <a href="{{ path('cenfo_reporte_complex_table') }}">Complex Table</a>
                </li>
            </ul>
        </li>
        {% endif %}
        {% if 'SEGURIDAD' in _USER_PERMITS %}
        <li {% if activePage == 'SEGURIDAD' %}class='active'{% endif %}>
            <a href="#"><i class="icon-key icon-white"></i><span>Seguridad</span></a>
            <ul class="subnav">
                {% if 'SEGURIDAD_USUARIOS' in _USER_PERMITS %}
                <li>
                    <a href="{{ path('cenfo_usuario_administrar') }}">Administrar Usuarios</a>
                </li>
                {% endif %}
                {% if 'SEGURIDAD_ROLES' in _USER_PERMITS %}
                <li>
                    <a href="{{ path('cenfo_rol_listar') }}">Administrar Roles</a>
                </li>
                {% endif %}
                {% if 'SEGURIDAD_PERMISOS' in _USER_PERMITS %}
                <li>
                    <a href="{{ path('cenfo_permiso_listar') }}">Ver permisos</a>
                </li>
                {% endif %}
            </ul>
        </li>
        {% endif %}
        {% if 'BITACORA' in _USER_PERMITS %}
        <li>
            <a href="{{ path('cenfo_bitacora_index') }}"><i class="icon-list-alt icon-white"></i><span>Bitacora</span></a>
        </li>
        {% endif %}
    </ul>
    {% endblock %}
</div>
{% endblock %}