<div id="top"> 
    <div class="container-fluid">
        <div class="pull-left">
            <a href="{{path('cenfo_index')}}" id="brand">
                <img src="{{ asset('img/logo2.jpg') }}" alt="" style="width: 135px; height: 42px;"/>
                CRM
            </a>
        </div>
        <div class="pull-right">
            <div class="btn-group">
                <a href="#" class="button dropdown-toggle" data-toggle="dropdown"><i class="icon-white icon-user"></i>{{ _GLOBAL['usuario']['nombreCompleto'] }}<span class="caret"></span></a>
                <div class="dropdown-menu pull-right">
                    <div class="right-details">
                        <h6>Usuario</h6>
                        <span class="name">{{ _GLOBAL['usuario']['nombreCompleto'] }} </span>
                        <span class="email">{{ _GLOBAL['usuario']['correo'] }}</span>
                        <a href="#" class="highlighted-link">¿Necesita ayuda?</a>
                        <ul>
                            <li>
                                <a href="{{ path('cenfo_usuario_form_modificar',{'pidUsuario':_GLOBAL['usuario']['id']}) }}">Mi cuenta</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <a href="{{ path('cenfo_seguridad_sesion_terminar') }}" class="button">
                <i class="icon-signout"></i>
                Salir
            </a>
        </div>
    </div>
    <div class="chosen-nav-container alert alert-info" >
        <div class="chosen-nav"  ></div>
    </div>
</div>
