/* -----------------------------------------------------------------------*/
/* ------------------ "Plain" TreeGrid style definition ------------------*/
/* -----------------------------------------------------------------------*/

/* ------------- Base tags ------------- */

.GPImage { padding-bottom:100%; padding-bottom:256px!IE; }
.GPNone { display:none; }
.GPSection,.GPSectionFF3 { table-layout:fixed; width:0px; font-size:1px; }
.GPSectionFF3 { border-collapse:collapse; }
.GPNothing { height:0px; width:0px; overflow:hidden; }

/* -------------- Sections ------------------ */

.GPMainTable { border-collapse:separate; text-align:left; line-height: normal; }
.GPBodyLeft,.GPBodyMid,.GPBodyRight,.GPHeadLeft,.GPHeadMid,.GPHeadRight,.GPFootLeft,.GPFootMid,.GPFootRight { }
.GPBodyLeft,.GPBodyMid,.GPBodyRight { border-top:1px solid black; margin-top:5px; padding-top:5px; }
.GPHeadLeft,.GPHeadMid,.GPHeadRight { }
.GPFootLeft,.GPFootMid,.GPFootRight { border-top:1px solid black; margin-top:5px; padding-top:5px; }
.GPHeadLeft,.GPBodyLeft,.GPFootLeft { }	
.GPHeadMid,.GPBodyMid,.GPFootMid {  }
.GPHeadRight,.GPBodyRight,.GPFootRight { }	
.GPLeftSplitter,.GPRightSplitter,.GPLeftSplitterTouch,.GPRightSplitterTouch { width:7px;background:white; overflow:hidden; cursor:e-resize; }
.GPLeftSplitterTouch,.GPRightSplitterTouch { width:15px; }
.GPLeftSplitter,.GPLeftSplitterTouch,.GPRightSplitter,.GPRightSplitterTouch { border-right:1px solid black; border-left:1px solid black; }
.GPSplitterDisabled { cursor:default; border-color:white; }
.GPVScroll { } 
.GPHScrollLeft { padding-right:1px; cursor:default; }
.GPHScrollMid { cursor:default; }
.GPHScrollRight { padding-left:1px; cursor:default; }
.GPHScrollLeftResize { border-right:2px solid black; padding-right:5px; background:white; }
.GPHScrollRightResize { border-left:2px solid black; padding-left:5px; background:white; }
.GPHScrollMidLeftResize { border-left:1px solid black; padding-left:5px; background:white; }
.GPHScrollMidRightResize { border-right:1px solid black; padding-right:5px; background:white; }
.GPHScrollLeftResizeTouch { border-right:2px solid black; padding-right:18px; background:white; }
.GPHScrollRightResizeTouch { border-left:2px solid black; padding-left:18px; background:white; }
.GPHScrollMidLeftResizeTouch { border-left:1px solid black; padding-left:19px; background:white; }
.GPHScrollMidRightResizeTouch { border-right:1px solid black; padding-right:19px; background:white; }
.GPHScrollHidden { overflow:visible!important; cursor:default; }
.GPHScrollWide { }
.GPXScroll { }
.GPScrollSafariMac div::-webkit-scrollbar { -webkit-appearance: none; width: 11px; height: 11px; } 
.GPScrollSafariMac div::-webkit-scrollbar-thumb { border-radius: 8px; border: 2px solid white; background-color: rgba(0, 0, 0, .5); }
.GPPageFirst { }
.GPPage { }
.GPPageOne { }
.GPChildPart { }

/* ------------- Rows ------------------ */
.GPSpaceRowHeight { height:23px; }
.GPRowHeight { height:26px; }
.GPRowHeightTouch { height:30px; }
.GPSpaceMargin { margin:0px; }
.GPSpaceMarginTouch { margin:5px; }

.GPToolbarRow,.GPToolbar1Row,.GPToolbar2Row,.GPTopbarRow,.GPTopbar1Row,.GPTopbar2Row,.GPSpaceRow,.GPGroupRow,.GPSearchRow,.GPPagerRow {
   font-size:1px; overflow:hidden; padding-top:3px; padding-bottom:3px;
   }
.GPFillRow { }
.GPTabberRow { }
.GPRowAbove,.GPRowBelow { margin-left:5px; margin-right:5px; line-height: normal; }
.GPRowAbove { margin-top:3px; overflow:hidden; }
.GPRowBelow { margin-bottom:3px; overflow:hidden; }
.GPNoDataRow { border-top:1px solid black; padding-left:5px; padding-top:5px; padding-bottom:5px; color:gray; font-style:italic; }

/* ------------- Cell ------------- */

.GPCell,.GPCellPanel,.GPCellFilter,.GPCellFilterPanel,.GPCellHeader,.GPCellHeaderPanel,
.GPHeaderDrag,.GPHeaderGroup,.GPCellUser,.GPCellEmpty,.GPCellHeaderEmpty { 
	vertical-align:top; white-space:nowrap; overflow:hidden; overflow:auto!IE; height:auto; border: 0px none;
	}
.GPCellHeaderPanel { padding-top:2px; padding-bottom:5px; }
.GPCellBorderFF3 { border-left:0px none; border-top:0px none; }

.GPCellSpace,.GPCellSpaceEdit,.GPCellSpaceSelect,.GPCellSpaceEditIcon,.GPCellSpaceEditButton,
.GPCellSpaceButton,.GPCellSpaceButtonButton {
   vertical-align:top; white-space:nowrap;
   padding-top:2px!important;
   }
.GPCellSpacePanel,.GPCellSpaceBool { vertical-align:top; }
.GPCellSpaceRadio { }
.GPCellPanel,.GPCellHeaderPanel { white-space:nowrap; direction:ltr; }
.GPCellSpaceEdit,.GPCellSpaceSelect,.GPCellSpaceEditIcon,.GPCellSpaceEditButton { background-color:white; }   
.GPCellSpaceEditIcon { border:1px solid #d0d0d0; padding-left:0px!important; }
.GPCellSpaceEdit { border:1px solid #d0d0d0; }
.GPCellSpaceSelect { border:1px solid #d0d0d0; }
.GPSpaceSelectInner { white-space:nowrap!important; }
.GPCellSpaceButtonButton { padding-top:0px!important; }
.GPCellSpaceAbove { }
.GPCellSpaceBelow { }

.GPCellHeader,.GPCellHeaderEmpty { background-color:black; color:white; }
.GPCellHeaderPanel { background-color:#F0F0E0; background-color:black; }
.GPCellFilterPanel { text-align:center; padding-top:0px; padding-left:1px; direction:ltr; }
.GPCellUser { }
.GPCellEmpty { }
.GPCellHeaderEmpty { }
.GPCellHidden { background:transparent!important; border-top:none!important; border-bottom:none!important; }

.GPHeaderButton { padding:0px; }
.GPHeaderGroup { font:bold 15px Verdana, Arial, Helvetica, sans-serif; padding-left:3px; }
.GPHeaderGroupFocus { background-color: #A0A0A0; }
.GPHeaderGroupDelete { background-color: white; color: #F0F0F0; }
.GPHeaderGroupCustom {
   font:italic 15px "Microsoft Sans Serif",Verdana,Arial;
   color:#BBB; padding-left:5px; cursor:default; white-space:nowrap;
   }
.GPHeaderDrag { background-color: #C0C0C0; cursor:default; overflow:hidden; }
.GPHeaderFocus { background-color: #A0A0A0; }
.GPPanel { padding-left:80px; }
.GPNoTreeLines1 { text-align:right; }
.GPNoTreeLines2 { text-align:right; vertical-align:middle; padding-top:0px; }
.GPNoTreeLines3 { text-align:left; }
.GPTree { padding-top:0px; white-space:nowrap; }
.GPSpannedTree { vertical-align:top; }
.GPCellClassInner { padding-top:0px; padding-bottom:0px; }

/* ------------- Inside cell ------------- */

.GPHtml,.GPText,.GPLines,.GPPass,.GPInt,.GPFloat,.GPDate,.GPLink,.GPImg,.GPRadio,.GPRadioText,.GPList,.GPEnum,.GPDropCols,.GPAbs,.GPPagerEdit,.GPUser,.GPChart {
   font-size:15px; font-family:"Microsoft Sans Serif",Verdana,Arial; white-space:nowrap;
   padding-left:3px; padding-right:3px; padding-top:5px; padding-bottom:2px;
   }
.GPInt,.GPFloat,.GPDate { text-align:right; }
.GPLines,.GPRadio,.GPHtml,.GPList { white-space:normal; }	
.GPImg,.GPHtml { padding-top:0px; padding-bottom:0px; }
.GPSelect { padding-top:5px; padding-bottom:2px; }
.GPChart { padding:5px; }
.GPPass { font-size:15px; padding:0px; padding-left:3px; }
.GPRadio,.GPRadioText { padding:0px; font-weight:normal!important; }
.GPBool { text-align:center; }
.GPIcon { background-repeat:no-repeat; }
.GPHidden { }
.GPHiddenSpace { display:none; }
.GPHeaderText { font:bold 15px Verdana, Arial, Helvetica, sans-serif; padding-left:3px; padding-right:3px; padding-bottom:1px; padding-top:6px; }
.GPAbs { padding:0px; }
.GPUser { padding:0px; }
.GPPagerEdit  {
   vertical-align:top; text-align:center; background:white;
   padding-top:2px; padding-bottom:1px; border:0px none;
   }
.GPRightButton { font:14px "Times New Roman"; padding:0px; height:17px; width:19px; margin:0px; }
.GPRightHtml { font:15px "Times New Roman"; }
.GPRightImg { font:15px "Times New Roman"; }
.GPMergedCellH { padding:0px; padding-right:5px; }
.GPMergedCellV { padding:0px; padding-bottom:1px; }

.GPWrap0 { white-space:nowrap; }
.GPWrap1 { white-space:normal; }
.GPAlignLeft { text-align:left; }
.GPAlignCenter { text-align:center; }
.GPAlignJustify { text-align:center; }
.GPAlignRight { text-align:right; }
.GPNoSpaceLeft { border-left:0px none; }
.GPNoSpaceRight { border-right:0px none; }
.GPCellRotate1 { vertical-align:bottom; padding-top:1px; padding-bottom:1px; text-align:left; }
.GPCellRotate2 { vertical-align:top; padding-top:1px; padding-bottom:1px; }
.GPCellRotate3 { vertical-align:middle; padding-top:1px; padding-bottom:1px; }
.GPRotate1IEHeader { background-color:#000000; filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000') progid:DXImageTransform.Microsoft.BasicImage(rotation=3); overflow:hidden; }
.GPRotate1IE { background-color:#FFFFFF; filter: progid:DXImageTransform.Microsoft.Chroma(color='#FFFFFF') progid:DXImageTransform.Microsoft.BasicImage(rotation=3); overflow:hidden; }
.GPRotate1 { -ms-transform:rotate(-90deg); -moz-transform:rotate(-90deg); -webkit-transform: rotate(-90deg); -o-transform: rotate(-90deg); }
.GPRotate2 { text-align:left; writing-mode:tb-rl; -moz-transform:rotate(-270deg); -webkit-transform: rotate(-270deg); -o-transform: rotate(-270deg); }


/*--------------- Pages type cell ----------------- */

.GPPages { overflow:visible; padding-left:3px; padding-right:3px;}
.GPPagesLink,.GPPagesLinkActive {
   padding-left:2px; padding-right:1px; padding-top:2px; padding-bottom:2px; margin-top:2px; margin-bottom:2px;
   display:inline-block; font:15px "Microsoft Sans Serif",Verdana,Arial; cursor:pointer; _cursor:hand; color:blue;
   }
/* The :hover remarkably slows down every grid in IE strict mode
.GPPagesLink:visited { color:blue; }
.GPPagesLink:hover { color:red; }*/
.GPPagesLinkActive { color:black; font-weight:bold; border:1px dotted black; margin-top:1px; margin-bottom:1px; }

/*--------------- Gantt type cell ----------------- */

.GPGantt { border:0px none; padding:0px; border-right:1px solid #e0e0ff; cursor:default; background:transparent; -webkit-user-select:none; -moz-user-select:none; }

.GPGantt0Out,.GPGantt10Out,.GPGantt90Out,.GPGantt100Out,.GPGanttNullOut,.GPGanttHtmlOut {
   margin-top:2px; padding:1px; background:white; overflow:hidden;
   }
.GPGanttHtmlOut { margin-left:2px; margin-right:2px; }
.GPGanttHoverOut { border:2px solid red; margin-top:0px; margin-left:0px; margin-right:0px; background:white; overflow:hidden; }  
.GPGantt10Out { padding-left:0px; border-left:0px none; }
.GPGantt90Out { padding-right:0px; border-right:0px none; }
.GPGantt0In,.GPGantt10In,.GPGantt90In,.GPGantt100In,.GPGanttNullIn,
.GPGantt0InErr,.GPGantt10InErr,.GPGantt90InErr,.GPGantt100InErr,.GPGanttNullInErr,
.GPGantt0InCrit,.GPGantt10InCrit,.GPGantt90InCrit,.GPGantt100InCrit,.GPGanttNullInCrit { height:11px; overflow:hidden; font-size:1px; }
.GPGantt0In { background:#08F; }
.GPGantt0InErr { background:#F00; }
.GPGantt0InCrit { background:#FA0; }
.GPGantt10In { background:#00F; }
.GPGantt10InErr { background:#B00; }
.GPGantt10InCrit { background:#D80; }
.GPGantt90In,.GPGantt90InErr,.GPGantt90InCrit { background:#0B0; }
.GPGantt100In,.GPGantt100InErr,.GPGantt100InCrit { background:#0F0; }
.GPGanttNullIn { background:#777; }
.GPGanttNullInErr { background:#F00; }
.GPGanttNullInCrit { background:#FA0; }
.GPGanttHtmlIn { background:#DDD; overflow:hidden; font-size:11px; font-family:"Microsoft Sans Serif",Verdana,Arial; white-space:nowrap; }
.GPGanttG0In { background:#000; }
.GPGanttG0InCrit { background:#FD8; }
.GPGanttG0InErr { background:#FCC; }
.GPGanttG10In { background:#EEE; }
.GPGanttG10InCrit { background:#FC6; }
.GPGanttG10InErr { background:#FAA; }
.GPGanttG90In,.GPGanttG90InErr,.GPGanttG90InCrit { background:#666; }
.GPGanttG100In,.GPGanttG100InErr,.GPGanttG100InCrit { background:#000; }
.GPGanttGNullIn { background:#000; }
.GPGanttGNullInErr { background:#F88; }
.GPGanttGNullInCrit { background:#FD8; }
.GPGanttRed0In,.GPGanttRed10In { background:white; } .GPGanttRed90In,.GPGanttRed100In,.GPGanttRedNullIn { background:red; }
.GPGanttBlue0In,.GPGanttBlue10In { background:white; } .GPGanttBlue90In,.GPGanttBlue100In,.GPGanttBlueNullIn { background:blue; }
.GPGanttGreen0In,.GPGanttGreen10In { background:white; } .GPGanttGreen90In,.GPGanttGreen100In,.GPGanttGreenNullIn { background:green; }
.GPGanttFuchsia0In,.GPGanttFuchsia10In { background:white; } .GPGanttFuchsia90In,.GPGanttFuchsia100In,.GPGanttFuchsiaNullIn { background:fuchsia; }
.GPGanttAqua0In,.GPGanttAqua10In { background:white; } .GPGanttAqua90In,.GPGanttAqua100In,.GPGanttAquaNullIn { background:aqua; }
.GPGanttLime0In,.GPGanttLime10In { background:white; } .GPGanttLime90In,.GPGanttLime100In,.GPGanttLimeNullIn { background:lime; }
.GPGanttMaroon0In,.GPGanttMaroon10In { background:white; } .GPGanttMaroon90In,.GPGanttMaroon100In,.GPGanttMaroonNullIn { background:maroon; }
.GPGanttNavy0In,.GPGanttNavy10In { background:white; } .GPGanttNavy90In,.GPGanttNavy100In,.GPGanttNavyNullIn { background:navy; }
.GPGanttOlive0In,.GPGanttOlive10In { background:white; } .GPGanttOlive90In,.GPGanttOlive100In,.GPGanttOliveNullIn { background:olive; }
.GPGanttOrange0In,.GPGanttOrange10In { background:white; } .GPGanttOrange90In,.GPGanttOrange100In,.GPGanttOrangeNullIn { background:orange; }
.GPGanttPurple0In,.GPGanttPurple10In { background:white; } .GPGanttPurple90In,.GPGanttPurple100In,.GPGanttPurpleNullIn { background:purple; }
.GPGanttSilver0In,.GPGanttSilver10In { background:white; } .GPGanttSilver90In,.GPGanttSilver100In,.GPGanttSilverNullIn { background:silver; }
.GPGanttTeal0In,.GPGanttTeal10In { background:white; } .GPGanttTeal90In,.GPGanttTeal100In,.GPGanttTealNullIn { background:teal; }
.GPGanttYellow0In,.GPGanttYellow10In { background:white; } .GPGanttYellow90In,.GPGanttYellow100In,.GPGanttYellowNullIn { background:yellow; }
.GPGanttBlack0In,.GPGanttBlack10In { background:white; } .GPGanttBlack90In,.GPGanttBlack100In,.GPGanttBlackNullIn { background:black; }
.GPGanttGray0In,.GPGanttGray10In { background:white; } .GPGanttGray90In,.GPGanttGray100In,.GPGanttGrayNullIn { background:gray; }
.GPGanttWhite0In,.GPGanttWhite10In,.GPGanttWhite90In,.GPGanttWhite100In,.GPGanttWhiteNullIn { background:white; } 
.GPGanttWhite90In { border-right:1px solid black; margin-right:1px; } .GPGanttWhite10In { border-left:1px solid black; }
.GPGanttOutLeft,.GPGanttOutRight,.GPGanttHtmlOutLeft,.GPGanttHtmlOutRight { background:url(Gantt.gif) no-repeat -293px 0px; width:20px; height:16px; overflow:hidden; }
.GPGanttOutRight { background-position: -353px 0px; }
.GPGanttHtmlOutLeft { background-position: -292px 0px; }
.GPGanttHtmlOutRight { background-position: -354px 0px; }
.GPGanttCustomOutLeft,.GPGanttCustomOutRight { height:16px; overflow:hidden; background-repeat:no-repeat; }

.GPGanttFlowOut,.GPGanttFlowHtmlOut { margin-top:17px; border:1px solid white; overflow:hidden; }
.GPGanttFlowHtmlOut { margin-left:2px; margin-right:2px; }
.GPGanttFlowHover { border:2px solid red; padding:1px; margin-left:0px; margin-right:0px; background:white; margin-top:15px; overflow:hidden; }  
.GPGanttFlowIn,.GPGanttFlowInErr,.GPGanttFlowInCrit { height:5px; overflow:hidden; background:#048; font-size:1px; }
.GPGanttGFlowIn { background:#AAA; }
.GPGanttFlowInErr { background:#F55; }
.GPGanttFlowInCrit { background:#FA0; }
.GPGanttFlowHtmlIn { background:#CCC; overflow:hidden; font-size:11px; font-family:"Microsoft Sans Serif",Verdana,Arial; white-space:nowrap; }

.GPFGanttBase { height:16px; margin:2px; border:1px solid; padding:1px; padding-left:2px; padding-right:2px; overflow:hidden; }
.GPFGanttRunEmpty,.GPFGanttRunBox,.GPFGanttRunSolid,.GPFGanttRunLeft,.GPFGanttRunRight,.GPFGanttRunFixed,
.GPFGanttRunBound,.GPFGanttRunBoundStart,.GPFGanttRunEnd,.GPFGanttRunEndStart,.GPFGanttRunNbsp,.GPFGanttRunComplete {
   border:1px solid white; padding:1px; padding-left:2px; padding-right:2px; overflow:hidden; font:bold 13px Arial; white-space:nowrap;
   }
.GPFGanttRunGroupHover { border:2px solid brown!important; padding:0px!important; padding-left:1px!important;padding-right:1px!important; overflow:hidden; }
.GPFGanttRunHover { border:2px solid red!important; padding:0px!important; padding-left:1px!important;padding-right:1px!important; overflow:hidden; }
.GPFGanttRunEmpty { border:none; padding:2px; padding-left:3px; padding-right:3px; }
.GPFGanttRunNbsp { border:none; border-top:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; padding-left:3px; padding-right:3px; }
.GPFGanttRunBox { background:#C0C0A0; }
.GPFGanttRunSolid { background:#EE0; }
.GPFGanttRunFixed,.GPFGanttRunLeft,.GPFGanttRunBound,.GPFGanttRunBoundStart { border-left-style:solid!important; border-left-width:3px!important; border-left-color:black; padding-left:0px!important;}
.GPFGanttRunFixed,.GPFGanttRunRight,.GPFGanttRunBound,.GPFGanttRunBoundStart { border-right-style:solid!important; border-right-width:3px!important; border-right-color:black; padding-right:0px!important; }
.GPFGanttRunFixed,.GPFGanttRunLeft,.GPFGanttRunRight { background:#C0C0C0; }
.GPFGanttRunBound,.GPFGanttRunEnd,.GPFGanttRunEndStart,.GPFGanttRunBoundStart { background:#80E080; }
.GPFGanttRunComplete { background:#0F0; }
 
.GPGanttRunEmptyOut,.GPGanttRunBoxOut,.GPGanttRunSolidOut,.GPGanttRunLeftOut,.GPGanttRunRightOut,.GPGanttRunFixedOut,
.GPGanttRunBoundOut,.GPGanttRunBoundStartOut,.GPGanttRunEndOut,.GPGanttRunEndStartOut,.GPGanttRunNbspOut,.GPGanttRunCompleteOut {
   border:1px solid white; margin-top:3px; margin-left:2px; margin-right:2px; overflow:hidden; 
   }
.GPGanttRunEmptyIn,.GPGanttRunBoxIn,.GPGanttRunSolidIn,.GPGanttRunLeftIn,.GPGanttRunRightIn,.GPGanttRunFixedIn,
.GPGanttRunBoundIn,.GPGanttRunBoundStartIn,.GPGanttRunEndIn,.GPGanttRunEndStartIn,.GPGanttRunNbspIn,.GPGanttRunCompleteIn {
   height:18px; overflow:hidden; font:bold 13px Arial; padding-left:1px; width:100%!IE;
   }
.GPGanttRunEmptyOut { border:none; }
.GPGanttRunEmptyIn { }
.GPGanttRunNbspOut { border:none; border-top:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; margin-left:0px; margin-right:0px; }
.GPGanttRunNbspIn { }
.GPGanttRunBoxOut { }
.GPGanttRunBoxIn { background:#C0C0A0; }
.GPGanttRunSolidOut { }
.GPGanttRunSolidIn { background:#EE0; }
.GPGanttRunFixedOut,.GPGanttRunLeftOut,.GPGanttRunBoundOut,.GPGanttRunBoundStartOut { border-left-style:solid!important; border-left-width:3px!important; border-left-color:black; margin-left:1px;}
.GPGanttRunFixedOut,.GPGanttRunRightOut,.GPGanttRunBoundOut,.GPGanttRunBoundStartOut { border-right-style:solid!important; border-right-width:3px!important; border-right-color:black; }
.GPGanttRunFixedIn,.GPGanttRunLeftIn,.GPGanttRunRightIn { background:#C0C0C0; }
.GPGanttRunBoundOut,.GPGanttRunBoundStartOut,.GPGanttRunEndOut,.GPGanttRunEndStartOut { }
.GPGanttRunBoundIn,.GPGanttRunBoundStartIn,.GPGanttRunEndIn,.GPGanttRunEndStartIn { background:#80E080; }
.GPGanttRunCompleteIn { background:#0F0; }
.GPGanttRunRedIn,.GPFGanttRunRed { background:red; }
.GPGanttRunBlueIn,.GPFGanttRunBlue { background:blue; color:white; }
.GPGanttRunGreenIn,.GPFGanttRunGreen { background:green; color:white; }
.GPGanttRunFuchsiaIn,.GPFGanttRunFuchsia { background:fuchsia; }
.GPGanttRunAquaIn,.GPFGanttRunAqua { background:aqua; }
.GPGanttRunLimeIn,.GPFGanttRunLime { background:lime; }
.GPGanttRunMaroonIn,.GPFGanttRunMaroon { background:maroon; color:white; }
.GPGanttRunNavyIn,.GPFGanttRunNavy { background:navy; color:white; }
.GPGanttRunOliveIn,.GPFGanttRunOlive { background:olive; color:white; }
.GPGanttRunOrangeIn,.GPFGanttRunOrange { background:orange; }
.GPGanttRunPurpleIn,.GPFGanttRunPurple { background:purple; color:white; }
.GPGanttRunSilverIn,.GPFGanttRunSilver { background:silver; }
.GPGanttRunTealIn,.GPFGanttRunTeal { background:teal; color:white; }
.GPGanttRunYellowIn,.GPFGanttRunYellow { background:yellow; }
.GPGanttRunBlackIn,.GPFGanttRunBlack { background:black; color:white; }
.GPGanttRunGrayIn,.GPFGanttRunGray { background:gray; color:white; }
.GPGanttRunWhiteIn,.GPFGanttRunWhite { background:white; }
.GPGanttRunErrorIn,.GPFGanttRunError { background:#FFA0A0; opacity:0.5; filter:alpha(opacity=50); }
.GPFGanttRunErrorIE { background:#FFA0A0; filter:alpha(opacity=50); }
.GPGanttRunCritIn,.GPFGanttRunCrit { background:#FA0; }
.GPGanttRunErrIn,.GPFGanttRunErr { background:#F55; }
.GPGanttRunJoinLeft,.GPFGanttRunJoinLeft { border-left-color:red; }
.GPGanttRunJoinRight,.GPFGanttRunJoinRight { border-right-color:red; }
.GPGanttRunGroupHover { margin:0px; margin-top:2px; margin-left:1px; border:2px solid brown; padding:0px; overflow:hidden; }  
.GPGanttRunHover { margin:0px; margin-top:2px; margin-left:1px; border:2px solid red; padding:0px; overflow:hidden; }  
.GPGanttRunMoveOut { border:2px solid #DDD; margin:0px; padding:0px; }
.GPGanttRunMoveIn { background:#F0F0F0; color:black; }
.GPGanttRunRemoveOut { border:2px solid #DDD; margin:0px; padding:0px; }
.GPGanttRunRemoveIn { background:red; color:black; }
.GPGanttRunCopyOut { border:2px solid blue; margin:0px; padding:0px; }
.GPGanttRunCopyIn { }
.GPGanttRunUnknownIn,.GPFGanttRunUnknown { background:black; color:White; font:bold 12px verdana;}

.GPFGanttRunMove { border:2px solid #DDD; padding:0px; padding-left:1px; padding-right:1px; background:#F0F0F0; color:black; }
.GPFGanttRunRemove { border:2px solid #DDD; padding:0px; padding-left:1px; padding-right:1px; background:red; color:black; }
.GPFGanttRunCopy { border:2px solid blue; padding:0px; padding-left:1px; padding-right:1px; }

.GPGanttMilestone,.GPGanttMilestone0,.GPGanttMilestone100,
.GPGanttMilestoneCrit,.GPGanttMilestone0Crit,.GPGanttMilestone100Crit,
.GPGanttMilestoneErr,.GPGanttMilestone0Err,.GPGanttMilestone100Err { 
   background:url(Gantt.gif) no-repeat; width:17px; height:17px; overflow:hidden; 
   }
.GPGanttMilestone { background-position: -900px 0px; }
.GPGanttMilestoneHover { background-position: -950px 0px; }
.GPGanttMilestone0 { background-position: -1100px 0px; }
.GPGanttMilestone0Hover { background-position: -1150px 0px; }
.GPGanttMilestone100,.GPGanttMilestone100Crit,.GPGanttMilestone100Err { background-position: -1800px 0px; }
.GPGanttMilestone100Hover,.GPGanttMilestone100CritHover,.GPGanttMilestone100CritHover { background-position: -1850px 0px; }
.GPGanttMilestoneCrit,.GPGanttMilestone0Crit { background-position:-1700px 0px; }
.GPGanttMilestoneCritHover,.GPGanttMilestone0CritHover { background-position: -1750px 0px; }
.GPGanttMilestoneErr,.GPGanttMilestone0Err { background-position:-1000px 0px; }
.GPGanttMilestoneErrHover,.GPGanttMilestone0ErrHover { background-position: -1050px 0px; }
.GPGanttGMilestone,.GPGanttGMilestone100,.GPGanttGMilestone100Crit,.GPGanttGMilestone100Err { background-position: 0px 0px; }
.GPGanttGMilestoneHover,.GPGanttGMilestone100Hover,.GPGanttGMilestone100CritHover,.GPGanttGMilestone100ErrHover { background-position: -50px 0px; }
.GPGanttGMilestone0 { background-position: -1600px 0px; }
.GPGanttGMilestone0Hover { background-position: -1650px 0px; }
.GPGanttGMilestoneCrit,.GPGanttGMilestone0Crit { background-position:-1400px 0px; }
.GPGanttGMilestoneCritHover,.GPGanttGMilestone0CritHover { background-position: -1450px 0px; }
.GPGanttGMilestoneErr,.GPGanttGMilestone0Err { background-position:-1300px 0px; }
.GPGanttGMilestoneErrHover,.GPGanttGMilestoneErr0Hover { background-position: -1350px 0px; }

.GPGanttFlag { background:url(Gantt.gif) no-repeat -100px 0px; background-color:transparent!important; width:16px; height:15px; overflow:hidden; }
.GPGanttFlagCustom { background-position:0px 0px!important; background-repeat:no-repeat; width:16px; height:15px; overflow:hidden; }
.GPGanttFlagHover { background-position:-150px 0px; background-color:red; }
.GPGanttFlagMenu { padding-right:16px; padding-bottom:256px; font:15px Arial; background-repeat:no-repeat; }

.GPGanttPoint1,.GPGanttPoint2,.GPGanttPoint3,.GPGanttPoint4,.GPGanttPoint5,.GPGanttPoint6,.GPGanttPoint7,.GPGanttPoint8 {
   background:url(Gantt.gif) no-repeat; width:17px; height:17px; overflow:hidden; 
   }
.GPGanttPointCustom { background-position:0px 0px!important; background-repeat:no-repeat; width:17px; height:17px; overflow:hidden; }  
.GPGanttPointCustomHover { background-color:red; }
.GPGanttPoint1 { background-position:-900px 0px; }
.GPGanttPoint1Hover { background-position: -950px 0px; }
.GPGanttPoint2 { background-position:-1000px 0px; }
.GPGanttPoint2Hover { background-position:-1050px 0px; }
.GPGanttPoint3 { background-position:-1100px 0px; }
.GPGanttPoint3Hover { background-position:-1150px 0px; }
.GPGanttPoint4 { background-position:-1200px 0px; }
.GPGanttPoint4Hover { background-position:-1250px 0px; }
.GPGanttPoint5 { background-position:-1300px 0px; }
.GPGanttPoint5Hover { background-position:-1350px 0px; }
.GPGanttPoint6 { background-position:-1400px 0px; }
.GPGanttPoint6Hover { background-position:-1450px 0px; }
.GPGanttPoint7 { background-position:-1500px 0px; }
.GPGanttPoint7Hover { background-position:-1550px 0px; }
.GPGanttPoint8 { background-position:-1600px 0px; }
.GPGanttPoint8Hover { background-position:-1650px 0px; }

.GPGanttMark,.GPGanttMark1,.GPGanttMark2,.GPGanttMark3,.GPGanttMark4,.GPGanttMark5,.GPGanttMark15 { height:500px; overflow:hidden; background:#880; }
.GPGanttMark1 { background:red; }
.GPGanttMark2 { background:green; }
.GPGanttMark3 { background:yellow; }
.GPGanttMark4 { background:black; }
.GPGanttMark5 { background:silver; }
.GPGanttMark6 { background:#F8F; margin-top:15px!important; height:2px!important; margin-bottom:-17px!important; }
.GPGanttMark7 { background:#0F0; margin-top:15px!important; height:2px!important; margin-bottom:-17px!important; }
.GPGanttMark8 { background:silver; margin-top:15px!important; height:2px!important; margin-bottom:-17px!important; }
.GPGanttMark9 { background:#F8F; margin-top:6px!important; height:2px!important; margin-bottom:-8px!important; }
.GPGanttMark10 { background:#0F0; margin-top:6px!important; height:2px!important; margin-bottom:-8px!important; }
.GPGanttMark11 { background:silver; margin-top:6px!important; height:2px!important; margin-bottom:-8px!important; }
.GPGanttMark12 { background:#F8F; margin-top:20px!important; height:2px!important; margin-bottom:-22px!important; }
.GPGanttMark13 { background:#0F0; margin-top:20px!important; height:2px!important; margin-bottom:-22px!important; }
.GPGanttMark14 { background:silver; margin-top:20px!important; height:2px!important; margin-bottom:-22px!important; }
.GPGanttMark15 { background:#FF00FF; }

.GPGanttResource { font:bold 15px "Times New Roman"; margin-top:1px; }
.GPGanttResourceChar { width:6px; }

.GPGanttAvailability { height:500px; background:#ACF; border:1px solid #88F; border-bottom:0px none; }
.GPGanttAvailabilityNeg { height:500px; background:#FCA; border:1px solid #F88; border-top:0px none; }
.GPGanttAvailabilityText,.GPGanttAvailabilityTextNeg { color:blue; background:none!important; text-align:center; font:bold 12px Arial; overflow:visible!important; white-space:nowrap; }
.GPGanttAvailabilityTextNeg { color:red; }
.GPGanttAvailabilityAxis { background:#CCC; }
.GPGanttAvailabilityTransparent { opacity:0.7; filter:alpha(opacity=70); }
.GPGanttAvailabilityRed { color:red; background:#F88; border-color:red; }
.GPGanttAvailabilityMaroon { color:maroon; background:#B77; border-color:maroon; }
.GPGanttAvailabilityOrange { color:orange; background:#FD8; border-color:orange; }
.GPGanttAvailabilityYellow { color:#CC0; background:#FF6; border-color:#CC0; }
.GPGanttAvailabilityOlive { color:olive; background:#CC8; border-color:olive; }
.GPGanttAvailabilityLime { color:#0D0; background:#8F8; border-color:#0D0; }
.GPGanttAvailabilityGreen { color:green; background:#6C6; border-color:green; }
.GPGanttAvailabilityAqua { color:#8DD; background:#8FF; border-color:#8DD; }
.GPGanttAvailabilityTeal { color:teal; background:#6CC; border-color:teal; }
.GPGanttAvailabilityBlue { color:blue; background:#99F; border-color:blue; }
.GPGanttAvailabilityNavy { color:navy; background:#66C; border-color:navy; }
.GPGanttAvailabilityFuchsia { color:fuchsia; background:#F8F; border-color:fuchsia; }
.GPGanttAvailabilityPurple { color:purple; background:#C6C; border-color:purple; }
.GPGanttAvailabilityBlack { color:#AAA; background:black; border-color:#AAA; }
.GPGanttAvailabilityGray { color:gray; background:#AAA; border-color:gray; }
.GPGanttAvailabilitySilver { color:silver; background:#DDD; border-color:silver; }
.GPGanttAvailabilityWhite { color:#CCC; background:#F8F8F8; border-color:#CCC; }
.GPGanttAvailabilityNB { border-top:0px none; border-bottom:0px none; }

.GPGanttDepFirst { height:500px; overflow:hidden; }
.GPGanttDepVert,.GPGanttDepVertBottom,.GPGanttDepVertTop,.GPGanttDepVertBottom2,.GPGanttDepVertTop2,.GPGanttDepVertBottom3 {
   border-left:1px solid #DDF; border-right:1px solid #BBF; background:blue; width:1px; overflow:hidden;
   }
.GPGanttDepVert { margin-top:-500px; height:500px; }
.GPGanttDepVertTop { margin-top:-500px; height:8px; margin-bottom:492px; }
.GPGanttDepVertTop2 { margin-top:-499px; height:7px; margin-bottom:492px; }
.GPGanttDepVertBottom { margin-top:-491px; height:491px; }
.GPGanttDepVertBottom2 { margin-top:-491px; height:8px; margin-bottom:483px; }
.GPGanttDepVertBottom3 { margin-top:-482px; height:482px; }
.GPGanttDepHorzIn { border-top:1px solid #DDF; border-bottom:1px solid #BBF; background:blue; margin-top:7px; overflow:hidden; }
.GPGanttDepHorzInLag { border-top:1px dotted blue; margin-top:8px; overflow:hidden; }
.GPGanttDepHorzTop { border-bottom:1px solid #BBF; background:blue; overflow:hidden; }
.GPGanttDepHorzBottom { border-top:1px solid #DDF; background:blue; margin-top:16px; overflow:hidden; }
.GPGanttDepHorzOut { margin-top:-500px; height:18px; margin-bottom:482px; overflow:hidden; font-size:1px; line-height:1px; }
.GPGanttDepErr { border-top-color:#FDD; border-bottom-color:#FBB; border-left-color:#FDD; border-right-color:#FBB; background:red; }
.GPGanttDepLagErr { border-color:red; }
.GPGanttDepIcon { margin-top:-500px; height:500px; overflow:hidden; }
.GPGanttDepArrowLeft,.GPGanttDepArrowRight,.GPGanttDepArrowErrLeft,.GPGanttDepArrowErrRight,
.GPGanttDepArrowLeftRtl,.GPGanttDepArrowRightRtl,.GPGanttDepArrowErrLeftRtl,.GPGanttDepArrowErrRightRtl {
   height:500px; background:url(Gantt.gif) no-repeat; overflow:hidden; 
   }
.GPGanttDepArrowLeft { background-position:-200px 0px; width:12px; }
.GPGanttDepArrowRight { background-position:-250px 0px; width:12px; }
.GPGanttDepArrowErrLeft { background-position:-400px 0px; width:12px; }
.GPGanttDepArrowErrRight { background-position:-450px 0px; width:12px; }
.GPGanttDepArrowLeftRtl { background-position:-250px 0px; width:12px; }
.GPGanttDepArrowRightRtl { background-position:-202px 0px; width:12px; }
.GPGanttDepArrowErrLeftRtl { background-position:-450px 0px; width:12px; }
.GPGanttDepArrowErrRightRtl { background-position:-401px 0px; width:12px; }
.GPGanttDepStart { width:4px; overflow:hidden; }
.GPGanttDepEnd { width:10px; overflow:hidden; }

.GPGanttMinStart,.GPGanttMaxStart,.GPGanttMinEnd,.GPGanttMaxEnd { background:url(Gantt.gif) no-repeat; width:7px; height:17px; overflow:hidden; }
.GPGanttMinStart { background-position:-500px 0px; }
.GPGanttMaxStart { background-position:-550px 0px; }
.GPGanttMinEnd { background-position:-600px 0px; }
.GPGanttMaxEnd { background-position:-650px 0px; }
.GPGanttMinStartHover { background-position:-700px 0px; }
.GPGanttMaxStartHover { background-position:-750px 0px; }
.GPGanttMinEndHover { background-position:-800px 0px; }
.GPGanttMaxEndHover { background-position:-850px 0px; }

.GPGanttBack { }
.GPGanttBackRow { background:white; }
.GPGanttBack0,.GPGanttBack1,.GPGanttBack2,.GPGanttBack3,.GPGanttBack4,.GPGanttBack5 { 
   height:500px; overflow:hidden; margin-left:auto; margin-right:auto; 
   }
.GPGanttBack0 { background:#FFF; }
.GPGanttBack1 { background:#E8E8E8; }
.GPGanttBack2 { background:#DDD; }
.GPGanttBack3 { background:#BBB; }
.GPGanttBack4 { background:#C72; }
.GPGanttBack5 { background:#27C; }

.GPGanttExclude,.GPGanttExcludeHidden { height:500px; overflow:hidden; background:#E8E8E8; margin-left:auto; margin-right:auto; }
.GPGanttExcludeHidden { }

.GPGanttBase,.GPGanttBaseAuto,.GPGanttFinish,.GPGanttFinishAuto { height:500px; overflow:hidden; border-left:2px solid #FF9E0C; width:2px; margin-left:auto; margin-right:auto; }
.GPGanttFinishAuto,.GPGanttBaseAuto { border-left:1px solid #FF9E0C; }

.GPGanttHeader { margin-left:-4px; margin-right:-4px; margin-top:-2px; }
.GPGanttHeader1,.GPGanttHeader2,.GPGanttHeader3,.GPGanttHeader4,.GPGanttHeader5 {
   font:15px "Times New Roman"; text-align:center; color:white;
   }   
.GPGanttHeader1 { border-right:1px solid #444444; }

/* ------------- Tree Img with lines ------------- */

.GP000,.GP010,.GP001,.GP011,.GP100,.GP110,.GP101,.GP111, 
.GP000T,.GP010T,.GP001T,.GP011T,.GP100T,.GP110T,.GP101T,.GP111T,
.GP00,.GP01,.GP10,.GP11,
.GP00T,.GP01T,.GP10T,.GP11T,
.GP0T,.GP1T,.GP0TL,.GP1TL,.GP0C,.GP1C,.GP0CL,.GP1CL,.GP0E,.GP1E,.GP0EL,.GP1EL,
.GP0,.GP1,
.GPT,.GPTL,.GPC,.GPCL,.GPE,.GPEL,.GPD0,.GPD1,.GPD2,.GPD3,.GPD4,.GPD0L,.GPD1L,.GPD2L,.GPD3L,.GPD4L {   
   font-size:14px; background-image:url(Tree.gif); vertical-align:top;
   }

u.GP000,u.GP010,u.GP001,u.GP011,u.GP100,u.GP110,u.GP101,u.GP111 { padding-left:63px; }
u.GP000T,u.GP010T,u.GP001T,u.GP011T,u.GP100T,u.GP110T,u.GP101T,u.GP111T { padding-left:89px; }
u.GP00,u.GP01,u.GP10,u.GP11 { padding-left:42px; }   
u.GP00T,u.GP01T,u.GP10T,u.GP11T { padding-left:68px; }   
u.GP0T,u.GP1T,u.GP0TL,u.GP1TL,u.GP0C,u.GP1C,u.GP0CL,u.GP1CL,u.GP0E,u.GP1E,u.GP0EL,u.GP1EL { padding-left:47px; }   
u.GP0,u.GP1 { padding-left:21px; }
u.GPT,u.GPTL,u.GPC,u.GPCL,u.GPE,u.GPEL,u.GPD0,u.GPD1,u.GPD2,u.GPD3,u.GPD4,u.GPD0L,u.GPD1L,u.GPD2L,u.GPD3L,u.GPD4L { padding-left:26px; }

.GP000,.GP000T { background-position:0px 0px; }
.GP010,.GP010T { background-position:-128px 0px; }
.GP001,.GP001T { background-position:-256px 0px; }
.GP011,.GP011T { background-position:-384px 0px; }
.GP100,.GP100T { background-position:-512px 0px; }
.GP110,.GP110T { background-position:-640px 0px; }
.GP101,.GP101T { background-position:-768px 0px; }
.GP111,.GP111T { background-position:-896px 0px; }

.GP00,.GP00T { background-position:-21px 0px; }
.GP10,.GP10T { background-position:-149px 0px; }
.GP01,.GP01T { background-position:-277px 0px; }
.GP11,.GP11T { background-position:-405px 0px; }

.GP0,.GP0T { background-position:-42px 0px; }
.GP1,.GP1T { background-position:-298px 0px; }

.GPT { background-position:-63px 0px; }

.GP0TL { background-position:-1024px 0px; }
.GP1TL { background-position:-1088px 0px; }
.GP0C { background-position:-1152px 0px; }
.GP1C { background-position:-1216px 0px; }
.GP0CL { background-position:-1280px 0px; }
.GP1CL { background-position:-1344px 0px; }
.GP0E { background-position:-1408px 0px; }
.GP1E { background-position:-1472px 0px; }
.GP0EL { background-position:-1536px 0px; }
.GP1EL { background-position:-1600px 0px; }

.GPTL { background-position:-1045px 0px; }
.GPC { background-position:-1173px 0px; }
.GPCL { background-position:-1301px 0px; }
.GPE { background-position:-1429px 0px; }
.GPEL { background-position:-1557px 0px; }

.GPD0 { background-position:-1664px 0px; }
.GPD1 { background-position:-1696px 0px; }
.GPD2 { background-position:-1728px 0px; }
.GPD3 { background-position:-1760px 0px; }
.GPD0L { background-position:-1792px 0px; }
.GPD1L { background-position:-1824px 0px; }
.GPD2L { background-position:-1856px 0px; }
.GPD3L { background-position:-1888px 0px; }
.GPD4 { background-position:-1920px 0px; }
.GPD4L { background-position:-1952px 0px; }

/* ------------- Tree Img without lines ------------- */

.GPND0,.GPND1,.GPND2,.GPND3,.GPND4,.GPNC,.GPNE,.GPNCR,.GPNER { font-size:14px; background-image:url(TreeN.gif); background-repeat:no-repeat; vertical-align:top; }
u.GPND0,u.GPND1,u.GPND2,u.GPND3,u.GPND4,u.GPNC,u.GPNE,u.GPNCR,u.GPNER { padding-left:20px; }
.GPND0 { background-position: -6px 0px; }
.GPND1 { background-position: -56px 0px; }
.GPND2 { background-position: -106px 0px; }
.GPND3 { background-position: -156px 0px; }
.GPND4 { background-position: -206px 0px; }
.GPNC { background-position:right -50px;}
.GPNE { background-position:right -2000px;}
.GPNCR { background-position:-255px -50px;}
.GPNER { background-position:-255px -2000px;}
u.GPNL { padding-left:21px; }

/* ------------- Panel img ------------- */

.GPPanelImage,.GPPanelMove,.GPPanelMoveOff,.GPPanelSelect,.GPPanelSelectOn,.GPPanelSelectOff,.GPPanelDelete,.GPPanelDeleteOff,.GPPanelCopy,.GPPanelCopyOff,.GPPanelEmpty {
   font-size:14px; padding-left:16px; background-image:url(Panel.gif); background-repeat:no-repeat;
   }
.GPPanelEmpty { background:none; }   
.GPPanelMove { background-position: 0px 0px; }
.GPPanelMoveOff { background-position: -50px 0px; }
.GPPanelSelect { background-position: -100px 0px; }
.GPPanelSelectOn { background-position: -150px 0px; }
.GPPanelSelectOff { background-position: -200px 0px; }
.GPPanelDelete { background-position: -250px 0px; }
.GPPanelDeleteOff { background-position: -300px 0px; }
.GPPanelCopy { background-position: -350px 0px; }
.GPPanelCopyOff { background-position: -400px 0px; }
.GPPanelButton { font:14px "Microsoft Sans Serif",Verdana,Arial; padding:0px; height:18px; width:19px; margin:0px; cursor:pointer; _cursor:hand; }

/* ------------- Fast Panel img ------------- */

.GPP1111,.GPP1211,.GPP1011,.GPP1101,.GPP1201,.GPP1001,.GPP1110,.GPP1210,.GPP1010,.GPP1100,.GPP1200,.GPP1000,
.GPP0111,.GPP0211,.GPP0011,.GPP0101,.GPP0201,.GPP0001,.GPP0110,.GPP0210,.GPP0010,.GPP0100,.GPP0200,.GPP0000, 
.GPP111x,.GPP121x,.GPP101x,.GPP110x,.GPP120x,.GPP100x,.GPP011x,.GPP021x,.GPP001x,.GPP010x,.GPP020x,.GPP000x,
.GPP11xx,.GPP12xx,.GPP10xx,.GPP01xx,.GPP02xx,.GPP00xx,
.GPPx111,.GPPx211,.GPPx011,.GPPx101,.GPPx201,.GPPx001,.GPPx110,.GPPx210,.GPPx010,.GPPx100,.GPPx200,.GPPx000,
.GPPx11x,.GPPx21x,.GPPx01x,.GPPx10x,.GPPx20x,.GPPx00x,
.GPPxx11,.GPPxx10,.GPPxx01,.GPPxx00, 
.GPPxxx1,.GPPxxx0,.GPPxx1x,.GPPxx0x,.GPPx2xx,.GPPx1xx,.GPPx0xx,.GPP1xxx,.GPP0xxx {
   font-size:14px; background-image:url(FastPanel1.gif); background-repeat:no-repeat;
   }
.GPP1111,.GPP111x,.GPP11xx,.GPP1xxx { background-position:0px 0px; }
.GPP1211,.GPP121x,.GPP12xx { background-position:-80px 0px; }
.GPP1011,.GPP101x,.GPP10xx { background-position:-160px 0px; }
.GPP1101,.GPP110x { background-position:-240px 0px; }
.GPP1201,.GPP120x { background-position:-320px 0px; }
.GPP1001,.GPP100x { background-position:-400px 0px; }
.GPP1110 { background-position:-480px 0px; }
.GPP1210 { background-position:-560px 0px; }
.GPP1010 { background-position:-640px 0px; }
.GPP1100 { background-position:-720px 0px; }
.GPP1200 { background-position:-800px 0px; }
.GPP1000 { background-position:-880px 0px; }
.GPP0111,.GPP011x,.GPP01xx,.GPP0xxx { background-position:-960px 0px; }
.GPP0211,.GPP021x,.GPP02xx { background-position:-1040px 0px; }
.GPP0011,.GPP001x,.GPP00xx { background-position:-1120px 0px; }
.GPP0101,.GPP010x { background-position:-1200px 0px; }
.GPP0201,.GPP020x { background-position:-1280px 0px; }
.GPP0001,.GPP000x { background-position:-1360px 0px; }
.GPP0110 { background-position:-1440px 0px; }
.GPP0210 { background-position:-1520px 0px; }
.GPP0010 { background-position:-1600px 0px; }
.GPP0100 { background-position:-1680px 0px; }
.GPP0200 { background-position:-1760px 0px; }
.GPP0000 { background-position:-1840px 0px; }

.GPPx111,.GPPx11x,.GPPx1xx { background-position:-16px 0px; }
.GPPx211,.GPPx21x,.GPPx2xx { background-position:-96px 0px; }
.GPPx011,.GPPx01x,.GPPx0xx { background-position:-176px 0px; }
.GPPx101,.GPPx10x { background-position:-256px 0px; }
.GPPx201,.GPPx20x { background-position:-336px 0px; }
.GPPx001,.GPPx00x { background-position:-416px 0px; }
.GPPx110 { background-position:-496px 0px; }
.GPPx210 { background-position:-576px 0px; }
.GPPx010 { background-position:-656px 0px; }
.GPPx100 { background-position:-736px 0px; }
.GPPx200 { background-position:-816px 0px; }
.GPPx000 { background-position:-896px 0px; }

.GPPxx11,.GPPxx1x { background-position:-32px 0px; }
.GPPxx01,.GPPxx0x { background-position:-272px 0px; }
.GPPxx10{ background-position:-512px 0px; }
.GPPxx00 { background-position:-752px 0px; }

.GPPxxx1 { background-position:-48px 0px; }
.GPPxxx0 { background-position:-528px 0px; }

.GPP11x1,.GPP12x1,.GPP10x1,.GPP11x0,.GPP12x0,.GPP10x0,.GPP01x1,.GPP02x1,.GPP00x1,.GPP01x0,.GPP02x0,.GPP00x0,
.GPPx1x1,.GPPx2x1,.GPPx0x1,.GPPx1x0,.GPPx2x0,.GPPx0x0,
.GPP1x11,.GPP1x01,.GPP1x10,.GPP1x00,.GPP0x11,.GPP0x01,.GPP0x10,.GPP0x00,
.GPP1x1x,.GPP1x0x,.GPP0x1x,.GPP0x0x,
.GPP1xx1,.GPP1xx0,.GPP0xx1,.GPP0xx0 {
   font-size:15px; background-image:url(FastPanel2.gif); background-repeat:no-repeat;
   }
.GPP11x1 { background-position:0px 0px; }
.GPP12x1 { background-position:-80px 0px; }
.GPP10x1 { background-position:-160px 0px; }
.GPP11x0 { background-position:-240px 0px; }
.GPP12x0 { background-position:-320px 0px; }
.GPP10x0 { background-position:-400px 0px; }
.GPP01x1 { background-position:-480px 0px; }
.GPP02x1 { background-position:-560px 0px; }
.GPP00x1 { background-position:-640px 0px; }
.GPP01x0 { background-position:-720px 0px; }
.GPP02x0 { background-position:-800px 0px; }
.GPP00x0 { background-position:-880px 0px; }

.GPPx1x1 { background-position:-16px 0px; }
.GPPx2x1 { background-position:-96px 0px; }
.GPPx0x1 { background-position:-176px 0px; }
.GPPx1x0 { background-position:-256px 0px; }
.GPPx2x0 { background-position:-336px 0px; }
.GPPx0x0 { background-position:-416px 0px; }

.GPP1x11,.GPP1x1x { background-position:-960px 0px; }
.GPP1x01,.GPP1x0x { background-position:-1040px 0px; }
.GPP1x10 { background-position:-1120px 0px; }
.GPP1x00 { background-position:-1200px 0px; }
.GPP0x11,.GPP0x1x { background-position:-1280px 0px; }
.GPP0x01,.GPP0x0x { background-position:-1360px 0px; }
.GPP0x10 { background-position:-1440px 0px; }
.GPP0x00 { background-position:-1520px 0px; }

.GPP1xx1 { background-position:-1600px 0px; }
.GPP1xx0 { background-position:-1680px 0px; }
.GPP0xx1 { background-position:-1760px 0px; }
.GPP0xx0 { background-position:-1840px 0px; }

.GPPSpace1 { padding-left:15px; }
.GPPSpace2 { padding-left:31px; }
.GPPSpace3 { padding-left:47px; }
.GPPSpace4 { padding-left:63px; }
u.GPPSpace1 { padding-left:16px; }
u.GPPSpace2 { padding-left:32px; }
u.GPPSpace3 { padding-left:48px; }
u.GPPSpace4 { padding-left:64px; }

/* ------------- Button type ------------- */   

.GPTabHtml,.GPTabHtml1 {
	font:bold 15px "Microsoft Sans Serif",Verdana,Arial; white-space:nowrap;
	padding-left:5px; padding-right:5px; text-align:center;
   }
.GPTabHtml1 { background:black; border-bottom:1px solid white; color:white; }
.GPTabSep,.GPTabSepLeft,.GPTabSepRight { padding-left:2px; cursor:default!important; }
.GPTabSepRight,.GPTabSepLeft { padding-left:5px; }
.GPTabSepLast { padding-left:1px; background:white!important; cursor:default!important; }
.GPTabSepFirst { padding-left:1px; background:white!important; cursor:default!important; }

.GPToolHtml,.GPToolHtml1 { font:15px "Microsoft Sans Serif",Verdana,Arial; padding-left:3px; padding-right:3px; }
.GPToolHtml1 { font-weight:bold; color:blue; }
.GPToolButton { text-align:center; padding-left:1px; padding-right:1px;}
.GPToolButtonButton,.GPToolButtonButton1,.GPToolSpaceButton,.GPToolSpaceButton1 {
 	font:13px "Microsoft Sans Serif",Verdana,Arial; height:24px;
 	padding-left:0px; padding-right:0px; cursor:pointer; _cursor:hand;
   }
.GPToolButtonButton1,.GPToolSpaceButton1 { color:blue; font-weight:bold; }

.GPIconHtml { text-align:left; }
.GPDisabledButton { opacity:0.3; filter:alpha(opacity=30); }

.GPToolHeader { border:none!important; padding-bottom:100px; }
.GPToolMenuHeader { }    
.GPToolMenuItem { background:#F0F0E0!important; }
.GPToolMenuOuter { background:#F0F0E0!important; }
.GPToolMenuBody { background:#F0F0E0!important; border:1px solid #e0e0ff!important;}

/* ------------- Special Toolbar buttons ------------- */   
.GPResizeGrid,.GPResizeGridRtl,.GPToolSave,.GPToolReload,.GPToolRepaint,.GPToolRepaint1,.GPToolAdd,.GPToolAddChild,.GPToolJoin,.GPToolSplit,.GPToolSort1,.GPToolSort,.GPToolCalc1,.GPToolCalc,
.GPToolExpandAll,.GPToolCollapseAll,.GPToolColumns,.GPToolCfg,.GPToolHelp,.GPToolPrint,.GPToolExport,.GPToolExportPDF,.GPToolDebug,.GPToolOutdent,.GPToolIndent, 
.GPToolUndo,.GPToolUndo1,.GPToolRedo,.GPToolRedo1,.GPToolCorrect,.GPToolCorrect1,.GPToolZoomIn,.GPToolZoomIn1,.GPToolZoomOut,.GPToolZoomOut1,.GPToolZoomFit,
.GPToolPagerFirst,.GPToolPagerFirst1,.GPToolPagerPrev,.GPToolPagerPrev1,.GPToolPagerNext,.GPToolPagerNext1,.GPToolPagerLast,.GPToolPagerLast1 {
   font-size:15px; background-image:url(Toolbar.gif); background-repeat:no-repeat;
   padding-right:1px; padding-left:20px;
   }
.GPToolPagerFirst,.GPToolPagerFirst1,.GPToolPagerPrev,.GPToolPagerPrev1,.GPToolPagerNext,.GPToolPagerNext1,.GPToolPagerLast,.GPToolPagerLast1 {
   border:0px none;
   }   
.GPToolSave { background-position:0px 0px; }
.GPToolReload { background-position:-50px 0px; }
.GPToolRepaint1 { background-position:-100px 0px; }
.GPToolAdd { background-position:-150px 0px; }
.GPToolAddChild { background-position:-200px 0px; }
.GPToolSort1 { background-position:-250px 0px; }
.GPToolSort { background-position:-300px 0px; }
.GPToolCalc1 { background-position:-350px 0px; }
.GPToolCalc { background-position:-400px 0px; }
.GPToolExpandAll { background-position:-450px 0px; }
.GPToolCollapseAll { background-position:-500px 0px; }
.GPToolCfg { background-position:-550px 0px; }
.GPToolHelp { background-position:-600px 0px; }
.GPToolColumns { background-position:-650px 0px; }
.GPToolPrint { background-position:-750px 0px; }
.GPToolExport { background-position:-800px 0px; }
.GPToolPagerFirst1 { background-position:-850px 0px; }
.GPToolPagerFirst { background-position:-900px 0px; }
.GPToolPagerPrev1 { background-position:-950px 0px; }
.GPToolPagerPrev { background-position:-1000px 0px; }
.GPToolPagerNext1 { background-position:-1050px 0px; }
.GPToolPagerNext { background-position:-1100px 0px; }
.GPToolPagerLast1 { background-position:-1150px 0px; }
.GPToolPagerLast { background-position:-1200px 0px; }
.GPToolDebug { background-position:-1250px 0px; }
.GPToolUndo1 { background-position:-1350px 0px; }
.GPToolUndo { background-position:-1400px 0px; }
.GPToolRedo1 { background-position:-1450px 0px; }
.GPToolRedo { background-position:-1500px 0px; }
.GPToolCorrect1 { background-position:-1550px 0px; }
.GPToolCorrect { background-position:-1600px 0px; }
.GPToolZoomIn1 { background-position:-1800px 0px; }
.GPToolZoomIn { background-position:-1850px 0px; }
.GPToolZoomOut1 { background-position:-1700px 0px; }
.GPToolZoomOut { background-position:-1750px 0px; }
.GPToolZoomFit { background-position:-1900px 0px; }
.GPToolExportPDF { background-position:-1950px 0px; }
.GPToolJoin { background-position:-2000px 0px; }
.GPToolSplit { background-position:-2050px 0px; }
.GPToolRepaint { background-position:-2100px 0px; }
.GPToolOutdent { background-position:-2150px 0px; }
.GPToolIndent { background-position:-2200px 0px; }

.GPResizeGrid  {
   background-position:-705px -5px; 
   margin-left:auto; margin-right:0px; margin-top:-11px;
   height:19px; width:12px; overflow:hidden; padding:0px; cursor:nw-resize; 
   }  
.GPResizeGridRtl {
   background-position:-1305px -5px; 
   margin-right:auto; margin-left:0px; margin-top:-11px;
   height:19px; width:12px; overflow:hidden; padding:0px; cursor:ne-resize;
   }


/* ------------- Cell images ------------- */
.GPIconLeft,.GPIconRight,.GPIconCenter { font-size:15px; background-repeat:no-repeat; }
.GPIconLeft { background-position:left 0px; padding-left:20px!important; }
.GPIconRight { background-position:right 0px; padding-right:20px!important; }
.GPIconCenter { background-position:center 0px; }

.GPDateLeft,.GPDatesLeft,.GPDefaultsLeft,.GPDefaultsSpaceLeft,.GPEnumLeft,.GPDateRight,.GPDatesRight,.GPDefaultsRight,.GPDefaultsSpaceRight,.GPEnumRight,
.GPCollapseRight,.GPExpandRight,.GPCollapseLeft,.GPExpandLeft,.GPCollapseHeaderRight,.GPExpandHeaderRight,.GPCollapseHeaderLeft,.GPExpandHeaderLeft,
.GPRadio0Left,.GPRadio0Right,.GPRadio1Left,.GPRadio1Right,.GPRadio2Left,.GPRadio2Right,.GPRadio3Left,.GPRadio3Right, 
.GPBoolXSpace,.GPBoolXSpaceRO,.GPBool0Space,.GPBool1Space,.GPBool0SpaceRO,.GPBool1SpaceRO,
.GPBoolX,.GPBoolXRO,.GPBool0,.GPBool1,.GPBool0RO,.GPBool1RO,.GPBool2,.GPBool3,.GPBool2RO,.GPBool3RO {
   background-image:url(Button.gif); background-repeat:no-repeat; }
.GPFilter0,.GPFilter1,.GPGroup0,.GPGroup1,.GPSearch0,.GPSearch1 {
   background-image:url(Filter.gif); background-repeat:no-repeat; }   
.GPRadio0Left,.GPRadio0Right,.GPRadio1Left,.GPRadio1Right,.GPRadio2Left,.GPRadio2Right,.GPRadio3Left,.GPRadio3Right { font-size:15px; font-family:"Microsoft Sans Serif",Verdana,Arial; }  
.GPDateLeft,.GPDatesLeft,.GPDefaultsLeft,.GPDefaultsSpaceLeft,.GPExpandLeft,.GPCollapseLeft,.GPExpandHeaderLeft,.GPCollapseHeaderLeft { padding-left:20px!important; }
.GPDateRight,.GPDatesRight,.GPDefaultsRight,.GPDefaultsSpaceRight,.GPExpandRight,.GPCollapseRight,.GPExpandHeaderRight,.GPCollapseHeaderRight { padding-right:20px!important; }
u.GPDateRight,u.GPDatesRight,u.GPDefaultsRight,u.GPDefaultsSpaceRight,u.GPExpandRight,u.GPCollapseRight,u.GPExpandHeaderRight,u.GPCollapseHeaderRight { padding-right:0px!important; padding-left:17px; }
.GPDateLeft,.GPDatesLeft { background-position:left -249px; }
.GPDateRight,.GPDatesRight { background-position:right -249px; }
.GPDefaultsLeft { background-position:left 3px; }
.GPDefaultsRight { background-position:right 3px; }
.GPDefaultsSpaceLeft { background-position:left 0px; }
.GPDefaultsSpaceRight { background-position:right 0px; }
.GPEnumLeft { background-position:left -500px; padding-left:17px; }
.GPEnumRight { background-position:right -500px; padding-right:17px; }
u.GPEnumRight { padding-right:0px; padding-left:17px; }
.GPExpandLeft { background-position:left -2494px; }
.GPExpandRight { background-position:right -2494px; }
.GPExpandHeaderLeft { background-position:left -2494px; }
.GPExpandHeaderRight { background-position:right -2494px; }
.GPCollapseLeft { background-position:left -2244px;}
.GPCollapseRight { background-position:right -2244px;}
.GPCollapseHeaderLeft { background-position:left -2244px; }
.GPCollapseHeaderRight { background-position:right -2244px; }

.GPRadio0Left,.GPRadio1Left,.GPRadio2Left,.GPRadio3Left { padding-left:17px; padding-top:4px; padding-right:3px; line-height:17px; }
.GPRadio0Right,.GPRadio1Right,.GPRadio2Right,.GPRadio3Right { padding-right:17px; padding-top:4px; padding-left:3px; line-height:17px;}
.GPRadio0Left { background-position:left -1250px; } 
.GPRadio1Left { background-position:left -1500px;} 
.GPRadio2Left { background-position:left -750px; }
.GPRadio3Left { background-position:left -1000px;}
.GPRadio0Right { background-position:right -1250px; } 
.GPRadio1Right { background-position:right -1500px;} 
.GPRadio2Right { background-position:right -750px; }
.GPRadio3Right { background-position:right -1000px;}
.GPRadioInput { margin-top:0px; margin-bottom:0px; margin-top:-4px!IE; }
nobr.GPRadio0Left,nobr.GPRadio1Left,nobr.GPRadio2Left,nobr.GPRadio3Left,
nobr.GPRadio0Right,nobr.GPRadio1Right,nobr.GPRadio2Right,nobr.GPRadio3Right,
span.GPRadio0Left,span.GPRadio1Left,span.GPRadio2Left,span.GPRadio3Left,
span.GPRadio0Right,span.GPRadio1Right,span.GPRadio2Right,span.GPRadio3Right {
   padding-top:4px; padding-bottom:2px;
   }

u.GPBoolXSpace,u.GPBool0Space,u.GPBool1Space,u.GPBoolXSpaceRO,u.GPBool0SpaceRO,u.GPBool1SpaceRO,
u.GPBoolX,u.GPBoolXRO,u.GPBool0,u.GPBool1,u.GPBool0RO,u.GPBool1RO,u.GPBool2,u.GPBool3,u.GPBool2RO,u.GPBool3RO,
u.GPFilter0,u.GPFilter1 { padding-left:18px; }
.GPBoolXSpace { background-position:center -2003px; padding-left:18px; background-image:url(Sort.gif); }
.GPBoolXSpaceRO { background-image:none; }
.GPBool0Space { background-position:center -753px; padding-left:18px; }
.GPBool1Space { background-position:center -1003px; padding-left:18px; }
.GPBool0SpaceRO { background-position:center -1753px; padding-left:18px; }
.GPBool1SpaceRO { background-position:center -2003px; padding-left:18px; }
.GPBoolX { background-position:center -2000px; padding-left:18px; background-image:url(Sort.gif); }
.GPBoolXRO { background-image:none; }
.GPBool0 { background-position:center -750px; }
.GPBool1 { background-position:center -1000px; }
.GPBool0RO { background-position:center -1750px; }
.GPBool1RO { background-position:center -2000px; }
.GPBool2,.GPBool2RO { background-position:center -1250px; }
.GPBool3,.GPBool3RO { background-position:center -1500px; }
.GPFilter0 { background-position:center -1900px; }
.GPFilter1 { background-position:center -2000px; }
.GPGroup0 { background-position:center -1900px; }
.GPGroup1 { background-position:center -2000px; }
.GPSearch0 { background-position:center -1900px; }
.GPSearch1 { background-position:center -2000px; }
.GPBoolInput { margin-top:6px; margin-bottom:0px; padding:0px; margin-top:2px!IE; margin-bottom:0px!IE; }

.GPBoolChar0,.GPBoolChar1,.GPBoolChar2,.GPBoolChar0RO,.GPBoolChar1RO,.GPBoolChar2RO {
   border:1px solid black; border-bottom:1px solid #DDD; border-right:1px solid #DDD; color:blue; text-align:center;
   height:10px; width:10px; overflow:hidden;
   font:bold 9px Arial; margin:auto; margin-top:8px;
   }
.GPBoolChar2 { color:green; }
.GPBoolChar0RO,.GPBoolChar1RO,.GPBoolChar2RO { color:gray; }
.GPBoolCharIE { height:14px; width:14px; }

.GPPopupLeft,.GPPopupRight { font-size:15px; background-image:url(Menu.gif); background-repeat:no-repeat; }
.GPPopupLeft { background-position:-6px -250px; padding-left:14px;}
.GPPopupRight { background-position:right -250px; padding-right:14px;}
.GPPopupNone { padding-right:14px; }

.GPIconRotate { padding-left:2px!important; padding-top:20px!important; }
.GPIconRotateLeft { margin-left:0px; padding-top:20px!important; }
.GPIconRotateHeaderLeft { margin-left:5px; padding-top:20px!important; }
.GPIconRotateHeaderRight { margin-left:2px; padding-top:20px!important; }

/* ------------- Filter images ------------- */
.GPFilter0Left,.GPFilter1Left,.GPFilter2Left,.GPFilter3Left,.GPFilter4Left,.GPFilter5Left,.GPFilter6Left,.GPFilter7Left,.GPFilter8Left,.GPFilter9Left,.GPFilter10Left,.GPFilter11Left,.GPFilter12Left,
.GPFilter0Right,.GPFilter1Right,.GPFilter2Right,.GPFilter3Right,.GPFilter4Right,.GPFilter5Right,.GPFilter6Right,.GPFilter7Right,.GPFilter8Right,.GPFilter9Right,.GPFilter10Right,.GPFilter11Right,.GPFilter12Right {
   font-size:15px; background-image:url(Filter.gif); background-repeat:no-repeat;
   }
.GPFilter0Left,.GPFilter1Left,.GPFilter2Left,.GPFilter3Left,.GPFilter4Left,.GPFilter5Left,.GPFilter6Left,.GPFilter7Left,.GPFilter8Left,.GPFilter9Left,.GPFilter10Left,.GPFilter11Left,.GPFilter12Left {
   padding-left:17px;
   }
.GPFilter0Right,.GPFilter1Right,.GPFilter2Right,.GPFilter3Right,.GPFilter4Right,.GPFilter5Right,.GPFilter6Right,.GPFilter7Right,.GPFilter8Right,.GPFilter9Right,.GPFilter10Right,.GPFilter11Right,.GPFilter12Right {
   padding-right:17px;
   }
u.GPFilter0Right,u.GPFilter1Right,u.GPFilter2Right,u.GPFilter3Right,u.GPFilter4Right,u.GPFilter5Right,u.GPFilter6Right,u.GPFilter7Right,u.GPFilter8Right,u.GPFilter9Right,u.GPFilter10Right,u.GPFilter11Right,u.GPFilter12Right {  
   padding-right:0px; padding-left:17px;
   }
.GPFilter0Left { background-position:left 0px; }   
.GPFilter1Left { background-position:left -150px; }
.GPFilter2Left { background-position:left -300px; }
.GPFilter3Left { background-position:left -450px; }
.GPFilter4Left { background-position:left -600px; }
.GPFilter5Left { background-position:left -750px; }   
.GPFilter6Left { background-position:left -900px; }
.GPFilter7Left { background-position:left -1050px; }
.GPFilter8Left { background-position:left -1200px; }
.GPFilter9Left { background-position:left -1350px; }
.GPFilter10Left { background-position:left -1500px; }
.GPFilter11Left { background-position:left -1650px; }
.GPFilter12Left { background-position:left -1800px; }
.GPFilter0Right { background-position:right 0px; }   
.GPFilter1Right { background-position:right -150px; }
.GPFilter2Right { background-position:right -300px; }
.GPFilter3Right { background-position:right -450px; }
.GPFilter4Right { background-position:right -600px; }
.GPFilter5Right { background-position:right -750px; }   
.GPFilter6Right { background-position:right -900px; }
.GPFilter7Right { background-position:right -1050px; }
.GPFilter8Right { background-position:right -1200px; }
.GPFilter9Right { background-position:right -1350px; }
.GPFilter10Right { background-position:right -1500px; }
.GPFilter11Right { background-position:right -1650px; }
.GPFilter12Right { background-position:right -1800px; }
.GPFilter0Menu { background-position:left -5px; }   
.GPFilter1Menu { background-position:left -155px; }
.GPFilter2Menu { background-position:left -305px; }
.GPFilter3Menu { background-position:left -455px; }
.GPFilter4Menu { background-position:left -605px; }
.GPFilter5Menu { background-position:left -755px; }   
.GPFilter6Menu { background-position:left -905px; }
.GPFilter7Menu { background-position:left -1055px; }
.GPFilter8Menu { background-position:left -1205px; }
.GPFilter9Menu { background-position:left -1355px; }
.GPFilter10Menu { background-position:left -1505px; }
.GPFilter11Menu { background-position:left -1655px; }
.GPFilter12Menu { background-position:left -1805px; }

.GPFilter0Menu,.GPFilter1Menu,.GPFilter2Menu,.GPFilter3Menu,.GPFilter4Menu,.GPFilter5Menu,.GPFilter6Menu,.GPFilter7Menu,.GPFilter8Menu,.GPFilter9Menu,.GPFilter10Menu,.GPFilter11Menu,.GPFilter12Menu {
   width:17px; height:18px; overflow:hidden; background-image:url(Filter.gif); background-repeat:no-repeat; margin-left:-1px;
   }
.GPFilterMenuHeader { padding-top:4px; padding-left:2px; border-bottom:0px none!important; }   

/* ------------- Sort images ------------- */
.GPSort0Left,.GPSort1Left,.GPSort2Left,.GPSort3Left,.GPSort4Left,.GPSort5Left,.GPSort6Left,
.GPSort0Right,.GPSort1Right,.GPSort2Right,.GPSort3Right,.GPSort4Right,.GPSort5Right,.GPSort6Right {
   font-size:15px; background-image:url(Sort.gif); background-repeat:no-repeat;  
   }
.GPSort0Left,.GPSort1Left,.GPSort2Left,.GPSort3Left,.GPSort4Left,.GPSort5Left,.GPSort6Left { padding-left:17px; }
.GPSort0Right,.GPSort1Right,.GPSort2Right,.GPSort3Right,.GPSort4Right,.GPSort5Right,.GPSort6Right{ padding-right:17px; }
u.GPSort0Right,u.GPSort1Right,u.GPSort2Right,u.GPSort3Right,u.GPSort4Right,u.GPSort5Right,u.GPSort6Right { padding-right:0px; padding-left:17px; }
.GPSort0Left { background-position:left 0px; }   
.GPSort1Left { background-position:left -250px; }
.GPSort2Left { background-position:left -500px; }
.GPSort3Left { background-position:left -750px; }
.GPSort4Left { background-position:left -1000px; }
.GPSort5Left { background-position:left -1250px; }
.GPSort6Left { background-position:left -1500px; }
.GPSort0Right { background-position:right 0px; }   
.GPSort1Right { background-position:right -250px; }
.GPSort2Right { background-position:right -500px; }
.GPSort3Right { background-position:right -750px; }
.GPSort4Right { background-position:right -1000px; }
.GPSort5Right { background-position:right -1250px; }
.GPSort6Right { background-position:right -1500px; }

/* -------------- Pager ------------------ */
.GPPagerMain { }
.GPPagerBody { margin-top:3px; }
.GPPagerHeader { padding-top:6px; padding-bottom:4px; background-color:black; color:white; cursor:default; }
.GPPagerCaption { font:bold 15px Verdana, Arial, Helvetica, sans-serif; padding-left:6px; padding-right:3px; white-space:nowrap; }
.GPPagerItem {
	font:15px "Microsoft Sans Serif",Verdana,Arial; cursor:pointer; _cursor:hand; overflow:hidden;
	padding-left:3px; padding-right:3px; padding-top:1px; padding-bottom:1px;
	height:18px; overflow:hidden; white-space:nowrap;
	}
.GPPagerItemTouch { padding-top:4px; padding-bottom:4px; }
.GPPagerFocus {
   position:relative; cursor:pointer; _cursor:hand; overflow:hidden;
   border:1px solid black; overflow:hidden; background:#70A080; opacity:0.5; filter:alpha(opacity=50); 
   }
.GPPagerHover {
   position:relative; cursor:pointer; _cursor:hand; overflow:hidden;
   border:1px solid black; background:#0FF; opacity:0.3; filter:alpha(opacity=30); 
   }
.GPPagerSort1 { color: #006600; }
.GPPagerSort2 {	color: #00AE00; }
.GPPagerSort3 {	color: #00FF00; }
.GPPagerSortS {	color: black; }

/* -------------- State classes ------------- */
/* The colors must be set by numbers not by names */

.GPColorDefault { background-color:#FFFFFF; }

.GPColorNoFocus { background-color:#FFFFFF; }
.GPClassReadOnly { color:gray; }
.GPColorPreview { background-color:#FFFFFF; }
.GPColorEdit { background-color:#FFFFFF; }

.GPColorAlternate { background-color:#F4F4F4; }

.GPColorSelected { background-color:#FFFF80; }

.GPColorError { background-color:#FF6969; }
.GPColorDeleted { background-color:#FFCDCD; }
.GPClassDeleted { font-style:italic; }
.GPColorAdded { background-color:#CDFFCD; }
.GPClassAdded { font-weight:bold; }
.GPColorMoved1 { background-color:#FFFFFF; }
.GPColorMoved2 { background-color:#D7EBEB; }
.GPColorChanged { background-color:#EBEBFF; }
.GPColorChangedCell { background-color:#E1E1FF; }
.GPClassChangedCell { font-weight:bold; }


.GPColorDetail { background-color:#FFF0FF; }
.GPColorDetailSelected { background-color:#FFF0E0; }

.GPColorDragged { background-color:#E0E0C0; }

.GPColorMaxChildren { background-color:#FFFFF0; }

.GPColorFound1 { background-color:#FF87FF; }
.GPColorFound2 { background-color:#FFC387; }
.GPColorFound3 { background-color:#87FF87; }

.GPColorHovered { background-color:#F0F0FF; }
.GPColorHoveredCell { background-color:#A0FFFF; }
.GPColorHoveredCellReadOnly { background-color:#E8FFFF; }
.GPColorHoveredCellNoFocus { background-color:#F8F8F8; }
.GPColorHoveredCellHeader { background-color:#888888; }
.GPColorHoveredCellPanel { background-color:#E8E8FF; }
.GPColorHoveredCellFastPanel { background-color:#F8F8F8; }
.GPColorHoveredCellSpace { background-color:#FFFFFF; }
.GPColorHoveredCellSpaceEdit { background-color:#D0D0FF; }
.GPColorHoveredCellSpaceBool { background-color:#FFFFFF; }
.GPColorHoveredCellButton { background-color:#E8E8FF; }
.GPClassHoveredCellButton { color:green; }
.GPColorHoveredCellButton1 { background-color:#E8E8FF; }
.GPClassHoveredCellButton1 { color:red; }
.GPColorHoveredCellTab { background-color:#E8E8FF; }
.GPColorHoveredCellTab1 { background-color:#888888; }

.GPColorFocused { background-color:#E8FFF2; }
.GPColorFocusedCell { background-color:#70A080; }
.GPClassFocusedCell { color:white; }
.GPColorFocusedCellSafari { background-color:#70A080; }
.GPColorFocusedCellSpace { background-color:#70A080; }
.GPClassFocusedCellSpace { color:white; }
.GPColorFocusedCellButton { background-color:#FFFFFE; }
.GPColorFocusedCellHeader { background-color:#FFFFFE; }
.GPColorFocusedCellPanel { background-color:#FFFFFE; }
.GPColorEditedCell { background-color:#A0F0C0; }
.GPColorViewedCell { background-color:#80D0A0; }

/* --------------- Hover, focus, edit cursors ----------------- */
.GPHoverPanelBackground { }
.GPHoverRowBackground { opacity:0.1; filter:alpha(opacity=10); background:#0FF; }
.GPHoverRowBorder { z-index:1; cursor:default; }
.GPHoverCellBorder { z-index:3; padding:1px; border:1px solid #A0A0F0; background:white; }
.GPFocusPanelBackground { }
.GPFocusRowBackground { opacity:0.1; filter:alpha(opacity=20); background:#000; }
.GPFocusRowBorder { z-index:2; border:1px solid #AAAAAA; padding-left:0px; }
.GPFocusCellBorder,.GPEditCellBorder,.GPFocusCellSpaceBorder,.GPEditCellSpaceBorder { z-index:4; border:2px solid #666666; }
.GPEditCellBorder,.GPEditCellSpaceBorder { border-color:#FF6666; }
.GPEditCellInput { position:relative; overflow:hidden; z-index:2; }

.GPCursorBackground { position:relative; border:none; padding:0px; overflow:hidden; }
.GPCursorBorderLeft { position:relative; padding-right:0px; padding-top:0px; padding-bottom:0px; border-right:none; border-top:none; border-bottom:none; overflow:hidden; width:0px; height:0px; }
.GPCursorBorderRight { position:relative; padding-left:0px; padding-top:0px; padding-bottom:0px; border-left:none; border-top:none; border-bottom:none; overflow:hidden; width:0px; height:0px; }
.GPCursorBorderTop { position:relative; padding-bottom:0px; padding-left:0px; padding-right:0px; border-bottom:none; border-left:none; border-right:none; overflow:hidden; width:0px; height:0px; }
.GPCursorBorderBottom { position:relative; padding-top:0px; padding-left:0px; padding-right:0px; border-top:none; border-left:none; border-right:none; overflow:hidden; width:0px; height:0px; }

/*--------------- Cell edges ----------------- */
.GPNoLeft { border-left:0px none; }
.GPNoRight { border-right:0px none; }

.GPEmpty { text-decoration:none; font-size:1px; line-height:1px;}

/*--------------- Dragging ----------------- */
.GPMouseObject { opacity:0.5; filter:alpha(opacity=50); z-index:300; overflow:hidden; }
.GPDragObject {
   z-index:300; margin-left:10px; margin-top:10px; 
   font:15px "Microsoft Sans Serif",Arial;
   background:#f4f4f4; border:1px solid #e0e0e0; padding:3px;
   }
.GPDragColInsideTop,.GPDragColInsideBottom,.GPDragColOutsideTop,.GPDragColOutsideBottom,.GPDragGanttRunTop,.GPDragGanttRunBottom {
   position:absolute; background-image:url(Sort.gif); width:15px; height:11px; overflow:hidden; z-index:258;
   }
.GPDragColInsideTop  { background-position:0px -1750px;  }
.GPDragColInsideBottom  { background-position:0px -1770px;  }
.GPDragColOutsideTop  { background-position:0px -1790px;  }
.GPDragColOutsideBottom  { background-position:0px -1810px;  }
.GPDragGanttRunTop  { background-position:0px -1749px;  }
.GPDragGanttRunBottom  { background-position:0px -1770px;  }

/*--------------- Messages ----------------- */
.GPDisabled { position:absolute; z-index:264; background:white; opacity:0.5; filter:alpha(opacity=50); } 
.GPMessage {
	background:#F0F0E0; border:1px solid #d0d0d0; padding:10px; white-space:nowrap; text-align:center;
	font:17px "Microsoft Sans Serif",Verdana,Arial;
   position: absolute; left:0px; top:0px; visibility:hidden; z-index:266;
	}
.GPMessageShadow {
   position:absolute; margin-left:3px; margin-top:3px; z-index:265;
   background:#888; opacity:0.5; filter:alpha(opacity=50);
   left:0px; top:0px; visibility:hidden;
   }	
.GPPageMessage { background:#FAFAFA; border:1px solid #f77; padding:10px; font:17px "Microsoft Sans Serif",Verdana,Arial; }

.GPProgressMain { font:17px "Microsoft Sans Serif",Verdana,Arial; }
.GPProgressCaption { font-weight:bold; margin-bottom:15px; }
.GPProgressText { margin-bottom:15px; }
.GPProgressOuter { text-align:left; width:200px; border:1px solid #d0d0d0; padding:2px; margin-bottom:15px; }
.GPProgressInner { height:10px;background:green; }
.GPProgressButton,.GPMessageButton { font:15px "Microsoft Sans Serif",Verdana,Arial; }
.GPProgressButton { margin:2px; margin-top:5px; margin-bottom:0px; white-space:nowrap; padding-left:10px; padding-right:10px; }
.GPMessageButton { margin-top:10px; width:50px; }
   
/*--------------- Other ----------------- */
/* !!! No .GP style prefix here !!! */
.GridTmpTag { position:absolute; left:5px; top:5px; visibility:hidden; }

/*--------------- Debug print ----------------- */
/* !!! No .GP style prefix here !!! */
.GridDebugTag,.GridDebugTagMax { overflow:auto; overflow-y:scroll; border:1px solid black; background:#DDD; }
.GridDebugTag,.GridDebugTagMax,.GridDebugButtons,.GridDebugButtonsMax {
   position:fixed; z-index:256; left:5px; right:5px; bottom:5px; height:200px; padding:4px;
   position:absolute!IE;
   left:expression((5+(document.compatMode=="CSS1Compat"?document.documentElement.scrollLeft:document.body.scrollLeft))+"px")!IE;
   width:expression((-10+(document.compatMode=="CSS1Compat"?document.documentElement.clientWidth-8:document.body.clientWidth))+"px")!IE;
   top:expression((-205+(document.compatMode=="CSS1Compat"?document.documentElement.scrollTop+document.documentElement.clientHeight-8:document.body.scrollTop+document.body.clientHeight))+"px")!IE;
   }
.GridDebugTagMax,.GridDebugButtonsMax {
   top:5px; height:auto; 
   top:expression((5+(document.compatMode=="CSS1Compat"?document.documentElement.scrollTop:document.body.scrollTop))+"px")!IE;
   height:expression((-10+(document.compatMode=="CSS1Compat"?document.documentElement.clientHeight-8:document.body.clientHeight))+"px")!IE;
   }
.GridDebugButtons,.GridDebugButtonsMax {
   text-align:right; margin-right:25px; width:130px; left:auto;
   left:expression((-155+(document.compatMode=="CSS1Compat"?document.documentElement.clientWidth-8:document.body.clientWidth))+"px")!IE;
   }
.GridDebugButton { font-size:10px; width:40px; padding:0px; }
.GridDebugTitle { font-size:10px; color:blue; font-style:normal;font-weight:normal; }
.GridDebugMark { font-weight:bold; }
.GridDebugStop { font-size:18px; font-weight:bold; color:red; }
.GridDebugError { font-size:12px; color:red; }
.GridDebugWarning { font-size:12px; color:#A60;}
.GridDebugList { font-size:10px; color:#888;}
.GridDebugInfo { font-size:12px; }

/* ------------------- Popup menus, TGLib ------------------- */

.GPMenuMain { position:absolute; left:0px; top:0px; z-index:258; }
.GPMenuStatic { }
.GPMenuOuter { overflow:hidden; background:white; }
.GPMenuHeader {
   overflow:hidden; position:absolute; z-index:258;
   border:1px solid #aaaaaa; background:white; cursor:pointer; _cursor:hand;
   }
.GPMenuHead {
   border:1px solid #aaaadd; border-bottom:none; text-align:center; padding-top:3px; padding-bottom:4px;
   background:#E7F4FF; font:bold 16px Verdana,Arial; 
   }
.GPMenuClose {
   float:right; width:14px; cursor:pointer; _cursor:hand; display:none;
   background:url(Menu.gif) no-repeat right -352px;
   }
.GPMenuBody {
   cursor:default; border:1px solid #aaaadd; background:white; padding-top:1px; padding-bottom:1px;
   }
.GPMenuShadow {
   position:absolute; margin-left:3px; margin-top:3px; z-index:257;
   background:#888; opacity:0.5; filter:alpha(opacity=50);
   }

.GPMenuCheckedIconLeft { background:url(Menu.gif) no-repeat -2px -48px; padding-left:17px; }
.GPMenuCheckedIconRight { background:url(Menu.gif) no-repeat right -48px; padding-right:17px; }
.GPMenuUncheckedIconLeft { background:url(Menu.gif) no-repeat -2px 2px; padding-left:17px; }
.GPMenuUncheckedIconRight { background:url(Menu.gif) no-repeat right 2px; padding-right:17px; }
.GPMenuCheckedRadioLeft { background:url(Menu.gif) no-repeat -2px -746px; padding-left:17px; }
.GPMenuCheckedRadioRight { background:url(Menu.gif) no-repeat right -746px; padding-right:17px; }
.GPMenuUncheckedRadioLeft { background:url(Menu.gif) no-repeat -2px -696px; padding-left:17px; }
.GPMenuUncheckedRadioRight { background:url(Menu.gif) no-repeat right -696px; padding-right:17px; }
.GPMenuCursorIcon { background:url(Menu.gif) no-repeat -6px -148px; }
.GPMenuHoverIcon { background:url(Menu.gif) no-repeat -6px -98px; }   
.GPMenuCursorIconRtl { background:url(Menu.gif) no-repeat right -1000px; }
.GPMenuHoverIconRtl { background:url(Menu.gif) no-repeat right -950px; }   
.GPMenuExpandedIcon { background:url(Menu.gif) no-repeat -6px -198px; }
.GPMenuCollapsedIcon { background:url(Menu.gif) no-repeat -6px -248px; }
.GPMenuNextIcon { background:url(Menu.gif) no-repeat right -298px; padding-right:14px; }
.GPMenuNextIconRtl { background:url(Menu.gif) no-repeat left -900px; padding-left:14px; }

.GPMenuItemText,.GPMenuItemIcon,.GPMenuEnum,.GPMenuEnumHeader,.GPMenuEdit { font:15px "Microsoft Sans Serif",Arial; white-space:nowrap; overflow:hidden; }
.GPMenuItemDisabled { opacity:0.50; filter:alpha(opacity=30); overflow:hidden; }
.GPMenuLevel { color:blue; text-align:center; }  
.GPMenuEnumParent,.GPMenuEditParent { padding-left:5px; padding-right:2px;}
.GPMenuItemIcon { background-repeat:no-repeat; }
.GPMenuEnum {
   border:1px solid #DDD; border-top:1px solid #666; border-left:1px solid #666;
   background:white url(Menu.gif) no-repeat left -800px; padding-left:15px; padding-bottom:2px;
   }
.GPMenuEnumHeader  {
   padding-left:16px; padding-top:1px; cursor:default;
   background:white url(Menu.gif) no-repeat 1px -799px; padding-bottom:2px;
   }   
.GPMenuEdit {
   border:1px solid #DDD; border-top:1px solid #666; border-left:1px solid #666;
   background:white; padding-left:2px; padding-right:2px; overflow:hidden; 
   white-space:nowrap; padding-bottom:1px;
   }
.GPMenuEditInput,.GPMenuEditTextarea {
   margin:0px; margin:-1px!IE; border:0px none; background:#FDD; 
   padding:0px; padding-right:1px!IE; padding-left:1px!IE; font:15px "Microsoft Sans Serif",Arial;
   }   
.GPMenuEditTextarea { line-height:13px;  }   
.GPMenuEditInt,.GPMenuEditFloat,.GPMenuEditDate { text-align:right; } 
.GPMenuEditText { }
.GPMenuEditMulti { white-space:normal; }


.GPMenuItem { padding-top:2px; padding-bottom:2px; background:#fff; padding-left:2px; padding-right:2px; }   
.GPMenuItemTouch { padding-top:3px; padding-bottom:3px; }
.GPMenuItemHover { padding-top:2px; padding-bottom:2px; background:#ffeeaa; margin-left:2px; margin-right:2px; }
.GPMenuFocus { padding-top:2px; padding-bottom:2px; margin-left:2px; margin-right:2px; background:#ddd; }
.GPMenuFocusTouch { padding-top:3px; padding-bottom:3px; }   
.GPMenuFocusHover { padding-top:2px; padding-bottom:2px; margin-left:2px; margin-right:2px; background:#ddcc77; }   
.GPMenuSeparator {
   margin-top:1px; margin-right:3px; margin-left:3px; height:1px;   
   border-top:1px solid #aaaadd; overflow:hidden;
   }
.GPMenuCaption { padding-top:2px; padding-bottom:2px; padding-left:2px; padding-right:2px; background:#ddd; color:blue; text-align:center; }
.GPMenuVSeparator { border-right:1px solid #DDD; }
.GPMenuSection  { }

.GPMenuFoot { border:1px solid #aaaadd; border-top:none; text-align:center; background:white; white-space:nowrap; }  
.GPMenuButton { font:15px "Microsoft Sans Serif",Arial; height:24px; width:48px; margin:2px; white-space:nowrap; padding-left:0px; padding-right:0px; } 

/*--------------- Grid configuration menus ----------------- */
.GPCfgMenuOuter,.GPColumnsMenuOuter { border:1px solid #E0E0E0; padding:6px; background:#F0F0E0; }
.GPCfgMenuHead,.GPColumnsMenuHead { background:#F0F0E0; border:none; font-size:15px; padding-bottom:5px; }
.GPCfgMenuBody,.GPColumnsMenuBody { padding:0px; border:none; padding-bottom:3px; padding-top:3px; border-top:1px solid white; background:#F0F0E0; }
.GPCfgMenuFoot,.GPColumnsMenuFoot { padding-top:5px; background:#F0F0E0; border:none; border-top:1px solid white; }
.GPCfgMenuButton { width:70px; } 
.GPColumnsMenuButton { width:58px; } 
.GPCfgMenuItemText,.GPColumnsMenuItemText { padding-left:3px; font-size:15px; }
.GPColumnsMenuItemText { white-space:nowrap; }
.GPCfgMenuItem,.GPColumnsMenuItem { padding-top:2px; padding-bottom:2px; background:#F0F0E0; }
.GPCfgMenuItemTouch,.GPColumnsMenuItemTouch { padding-top:3px; padding-bottom:3px; }
.GPCfgMenuItemHover,.GPCfgMenuFocus,.GPCfgMenuFocusHover,
.GPColumnsMenuItemHover,.GPColumnsMenuFocus,.GPColumnsMenuFocusHover { padding-top:2px; padding-bottom:2px; }
.GPCfgMenuFocusTouch,.GPColumnsMenuFocusTouch { padding-top:3px; padding-bottom:3px; }
.GPCfgMenuSeparator,.GPColumnsMenuSeparator {
   margin-top:3px; margin-bottom:3px; margin-right:3px; margin-left:3px; height:1px;   
   overflow:hidden; border:none; background:white;
   }

/*--------------- Popup grid dialog ----------------- */

.GPPopupGridOuter { border:0px none; overflow:visible; }
.GPPopupGridHead { padding:0px; }
.GPPopupGridBody { padding:0px; }
.GPPopupGridFoot { padding:0px; }
.GPPopupGridButton { width:55px; margin-top:-2px; margin-bottom:0px; } 

/* ------------------- Date picker, TGLib ------------------- */

.GPPickMain { position:absolute; left:0px; top:0px; z-index:258; }
.GPPickOuter { overflow:hidden; border:1px solid black; background:white; }
.GPPickHeader {
   overflow:hidden; position:absolute; z-index:258;
   border:1px solid black; background:white; cursor:pointer; _cursor:hand;
   }
.GPPickHeaderBottom { border-bottom:0px none; padding-bottom:1px; }
.GPPickHeaderTop { border-top:0px none; padding-bottom:1px; }
.GPPickHead {
   background:white; font:bold 13px "Microsoft Sans Serif",Arial; cursor:default;
   padding-left:5px; padding-top:3px; padding-bottom:4px;
   }
.GPPickClose {
   float:right; width:14px; cursor:pointer; _cursor:hand; display:none;
   background:url(Menu.gif) no-repeat right -353px;
   }
.GPPickBody { cursor:default; border:none; }
.GPPickShadow {
   position:absolute; background:#888; z-index:257; margin-left:3px; margin-top:3px;
   opacity:0.5; filter:alpha(opacity=50);
   }   
.GPPickFooter,.GPPick2Footer {
   background:white; color:blue; cursor:default;
   font:13px "Microsoft Sans Serif",Arial;
   padding-top:2px; padding-bottom:2px;
   text-align:center;
   }
.GPPickMY {
   font:bold 13px "Microsoft Sans Serif",Arial;
   background:black; color:white;
   text-align:center; padding-top:4px; padding-bottom:4px;
   }   
.GPPickMYDown { padding-right:13px; background:url(Menu.gif) no-repeat right -400px; cursor:pointer; _cursor:hand; }   
.GPPickMYUp { padding-right:13px; background:url(Menu.gif) no-repeat right -450px; cursor:pointer; _cursor:hand; }
.GPPickMYRtl { padding-right:0px; padding-left:13px; }
.GPPickBL,.GPPickBR { margin-top:2px; padding-top:3px; cursor:pointer; _cursor:hand; width:24px; height:14px; }
.GPPickBL { float:left; background:url(Menu.gif) no-repeat left -500px; display:none;}
.GPPickBR { float:right; background:url(Menu.gif) no-repeat right -550px; display:none; }

.GPPickTableParent { padding-left:3px; padding-right:3px; padding-bottom:5px; padding-top:5px; }
.GPPickTable { table-layout:fixed; width:0px; }
.GPPickRow { background:white; }
.GPPickRowW { background:#488; }   
.GPPickCell { width:30px; }
.GPPickWDN {
   background:#488; text-align:center; width:20px; padding:1px; color:white;
   margin-left:3px; margin-right:3px; margin-top:2px; margin-bottom:2px;
   font:15px "Microsoft Sans Serif",Arial; cursor:default;
   }
.GPPickHover,.GPPickSelHover,.GPPickWD,.GPPickSa,.GPPickSu,.GPPickSel,.GPPickNow,.GPPickWDNE,.GPPickSaNE,.GPPickSuNE,.GPPickSelNE,.GPPickNowNE,.GPPickOM,.GPPickOMNE {
   text-align:center; padding-top:2px; padding-bottom:2px; padding-left:3px; padding-right:3px;
   margin-left:3px; margin-right:3px; margin-top:2px; margin-bottom:2px;
   font:15px "Microsoft Sans Serif",Arial; cursor:pointer; _cursor:hand;
   }
.GPPickWN,.GPPickWNE { 
   text-align:center; font:15px "Microsoft Sans Serif",Arial; cursor:pointer; _cursor:hand;
   padding-left:4px; padding-right:4px; padding-top:4px; padding-bottom:4px;
   background:#488; color:white;
   }
.GPPickWDNE,.GPPickSaNE,.GPPickSuNE,.GPPickSelNE,.GPPickNowNE,.GPPickWNE { cursor:default; }
.GPPickWD { background-color:#ffffff; }
.GPPickSa { background-color:#ddddff; }
.GPPickSu { background-color:#aaaaff; }
.GPPickSel { background-color:#ffff77; }
.GPPickSelNE { background-color:#ffffdd;	}
.GPPickNow { background-color:#dd44dd; }
.GPPickNowNE { background-color:#ffe0ff; }
.GPPickOM { background-color:inherit; color:black; }
.GPPickOMNE { color:#aaaaaa; }
.GPPickEmpty { background:url(Menu.gif) no-repeat center -1050px; cursor:pointer; _cursor:hand; }
.GPPickHover { background-color:#DDD; }
.GPPickSelHover { background-color:#eeee77; }

.GPPickTimeCell { text-align:right; background-color:white; padding-bottom:4px; padding-top:6px; padding-right:5px; }
.GPPickTime { font:13px Verdana,Arial; border:0px none; white-space:nowrap; text-align:right; }
.GPPickButton { width:72px; font-size:13px; margin:2px;  margin-left:5px; margin-right:5px; text-align:center; padding-left:0px; padding-right:0px; }

.GPPick2TableParent { padding-left:3px; padding-right:3px; padding-bottom:1px; padding-top:2px; text-align:center; }
.GPPick2Table { table-layout:fixed; width:0px; }
.GPPick2Row { background:white; }
.GPPick2CellM { height:31px; width:76px; }
.GPPick2CellY { height:31px; width:40px; }
.GPPick2CellSep { height:31px; width:10px; }
.GPPick2M,.GPPick2Y,.GPPick2MSel,.GPPick2YSel,.GPPick2MHover,.GPPick2YHover,.GPPick2MSelHover,.GPPick2YSelHover {
   font:14px "Microsoft Sans Serif",Arial; overflow:hidden;
   margin-left:2px; margin-right:2px;
   background-color:white; cursor:pointer; _cursor:hand; text-align:center;
   }
.GPPick2MSel,.GPPick2YSel { background-color:#c0f3ff; }
.GPPick2MHover,.GPPick2YHover { background-color:#DDD; border:1px solid #AAA; }
.GPPick2MSelHover,.GPPick2YSelHover { background-color:#80e0f0; border:1px solid #AAA; }   
.GPPick2SepH { width:1px; height:1px; overflow:hidden; }
.GPPick2Sep { width:1px; background:#777; overflow:hidden; margin-left:4px; margin-right:5px; height:31px;
   }    
.GPPick2BL,.GPPick2BR { width:45px; cursor:pointer; _cursor:hand; }
.GPPick2BL { background:url(Menu.gif) no-repeat center -600px; }
.GPPick2BR { background:url(Menu.gif) no-repeat center -650px; }

/* ------------------- Edit controls, TGLib ------------------- */

.GPEdit,.GPEditInline {
   font:15px "Microsoft Sans Serif",Arial;
   padding-left:4px; padding-right:4px; padding-top:2px; padding-bottom:2px;
   overflow:hidden; border:1px solid #CCC; background:#EEE;
   }
.GPEditInline { display:inline-block; vertical-align:bottom; }
.GPEditInput,.GPEditTextarea {
   font:15px "Microsoft Sans Serif",Verdana,Arial;
   vertical-align:top; border:0px none; margin:0px; 
   padding:0px; padding-left:1px!IE; padding-right:1px!IE; xmargin-top:-1px!important;
   }
.GPEditTextarea { line-height:18px; }
.GPEditNormalInput,.GPEditNormalTextarea,.GPEditSpaceInput,.GPEditSpaceTextarea { background-color:#A0F0C0; }
.GPEditInt,.GPEditFloat,.GPEditDate { text-align:right; }
.GPEditText { }
.GPEditMulti { white-space:normal; }
.GPEditParent { position:absolute; z-index:258; overflow:hidden;}
.GPEditReadOnly { background-color:#80D0A0; }

.GPEnumHeaderLeft,.GPEnumHeaderRight,.GPEnumHeaderNone {
   background:white; font:15px "Microsoft Sans Serif",Arial; cursor:pointer; _cursor:hand;
   padding-left:2px; padding-right:4px; padding-top:5px; padding-bottom:2px; white-space:nowrap;
   }
.GPEnumHeaderLeft { background:white url(Menu.gif) no-repeat left -795px; padding-left:17px; }
.GPEnumHeaderRight { background:white url(Menu.gif) no-repeat right -795px; padding-right:17px;}
.GPEnumMenuHeader { background:white; }

.GPEnumControl,.GPEnumInline {
   font:15px "Microsoft Sans Serif",Arial; cursor:pointer; _cursor:hand;
   padding-left:15px; padding-right:4px; padding-top:2px; padding-bottom:2px;
   border:1px solid #CCC; background:#EEE url(Menu.gif) no-repeat left -800px; overflow:hidden;   }
.GPEnumInline { display:inline-block; vertical-align:bottom; }
.GPEnumHeader {
   background:white url(Menu.gif) no-repeat left -798px; 
   font:15px "Microsoft Sans Serif",Arial; cursor:pointer; _cursor:hand;
   padding-left:15px; padding-right:4px; padding-top:2px; padding-bottom:2px;
   }

/* ------------------- Line chart, TGLib ------------------- */

.GPChartInner { width:100%; }
.GPChartLayer { overflow:hidden; height:1000px; }
.GPChartAxisY { background:black; height:1px; overflow:hidden; }
.GPChartAxisYLabel { overflow:hidden; }
.GPChartAxisYText { margin-right:5px; margin-top:12px; text-align:right; font:12px Arial; }
.GPChartAxisX { width:1px; overflow:hidden; background:black; }
.GPChartAxisXLabel { overflow:hidden; }
.GPChartAxisXText { text-align:center; font:12px Arial; }
.GPChartCaption { text-align:center; font:12px Arial; margin-top:3px; }

.GPChartPoint1,.GPChartPoint2,.GPChartPoint3,.GPChartPoint4,.GPChartPoint5,.GPChartPoint6,.GPChartPoint7,.GPChartPoint8 {
   background:url(Gantt.gif) no-repeat; width:32px; height:32px; overflow:hidden; 
   }
.GPChartPoint1 { background-position:-892px 7px; }
.GPChartPoint1Hover { background-position: -942px 7px; }
.GPChartPoint2 { background-position:-992px 7px; }
.GPChartPoint2Hover { background-position:-1042px 7px; }
.GPChartPoint3 { background-position:-1092px 7px; }
.GPChartPoint3Hover { background-position:-1142px 7px; }
.GPChartPoint4 { background-position:-1192px 7px; }
.GPChartPoint4Hover { background-position:-1242px 7px; }
.GPChartPoint5 { background-position:-1292px 7px; }
.GPChartPoint5Hover { background-position:-1342px 7px; }
.GPChartPoint6 { background-position:-1392px 7px; }
.GPChartPoint6Hover { background-position:-1442px 7px; }
.GPChartPoint7 { background-position:-1492px 7px; }
.GPChartPoint7Hover { background-position:-1542px 7px; }
.GPChartPoint8 { background-position:-1592px 7px; }
.GPChartPoint8Hover { background-position:-1642px 7px; }

/* -------------- Custom scrollbars ------------------ */

.GPCustScroll1RightHidden { background:url(VScroll.gif) left -108px; height:18px; overflow:hidden; }
.GPCustScroll1Right { padding-right:18px; background:url(VScroll.gif) right 0px; }
.GPCustScroll1RightHover { padding-right:18px; background:url(VScroll.gif) right -18px; }
.GPCustScroll1Left { padding-left:18px;  background:url(VScroll.gif) left 0px; }
.GPCustScroll1LeftHover { padding-left:18px;  background:url(VScroll.gif) left -18px; }
.GPCustScroll1SliderRight { padding-right:3px; background:url(VScroll.gif) right -36px; }
.GPCustScroll1SliderLeft { padding-left:3px; background:url(VScroll.gif) left -36px; }
.GPCustScroll1SliderHIn { height:18px; overflow:hidden; background:url(VScroll.gif) center -54px; }
.GPCustScroll1SliderRightHover { padding-right:3px; background:url(VScroll.gif) right -72px; }
.GPCustScroll1SliderLeftHover { padding-left:3px; background:url(VScroll.gif) left -72px; }
.GPCustScroll1SliderHInHover { height:18px; overflow:hidden; background:url(VScroll.gif) center -90px; }
.GPCustScroll1X { background:white; }

.GPCustScroll2RightHidden { background:url(VScroll.gif) left -364px; height:36px; overflow:hidden; }
.GPCustScroll2Right { padding-right:36px; background:url(VScroll.gif) right -148px; }
.GPCustScroll2RightHover { padding-right:36px; background:url(VScroll.gif) right -184px; }
.GPCustScroll2Left { padding-left:36px;  background:url(VScroll.gif) left -148px; }
.GPCustScroll2LeftHover { padding-left:36px;  background:url(VScroll.gif) left -184px; }
.GPCustScroll2SliderRight { padding-right:6px; background:url(VScroll.gif) right -220px; }
.GPCustScroll2SliderLeft { padding-left:6px; background:url(VScroll.gif) left -220px; }
.GPCustScroll2SliderHIn { height:36px; overflow:hidden; background:url(VScroll.gif) center -256px; }
.GPCustScroll2SliderRightHover { padding-right:6px; background:url(VScroll.gif) right -292px; }
.GPCustScroll2SliderLeftHover { padding-left:6px; background:url(VScroll.gif) left -292px; }
.GPCustScroll2SliderHInHover { height:36px; overflow:hidden; background:url(VScroll.gif) center -328px; }
.GPCustScroll2X { background:white; }

.GPCustScroll3Right,.GPCustScroll3RightHidden { background:white; height:9px; overflow:hidden; }
.GPCustScroll3SliderRight,.GPCustScroll3SliderRightHover { padding-right:3px; height:9px; background:url(VScroll.gif) right -126px; }
.GPCustScroll3SliderLeft,.GPCustScroll3SliderLeftHover { height:9px; background:url(VScroll.gif) left -126px; }
.GPCustScroll3SliderRightHover { background-position:right -135px; }
.GPCustScroll3SliderLeftHover { background-position:left -135px; }
.GPCustScroll3X { background:white; }

.GPCustScroll4Right,.GPCustScroll4RightHidden,.GPCustScroll4SliderRight,.GPCustScroll4SliderRightHover { height:1px; overflow:hidden; }
.GPCustScroll4X { }

.GPCustScroll1DownHidden { background:url(HScroll.png) -108px top; width:18px; overflow:hidden; }
.GPCustScroll1Down { padding-bottom:18px; background:url(HScroll.png) 0px bottom; cursor:default; width:18px; overflow:hidden; }
.GPCustScroll1DownHover { padding-bottom:18px; background:url(HScroll.png) -18px bottom; width:18px; overflow:hidden; }
.GPCustScroll1Up { padding-top:18px; background:url(HScroll.png) 0px top; width:18px; overflow:hidden; }
.GPCustScroll1UpHover { padding-top:18px;  background:url(HScroll.png) -18px top; width:18px; overflow:hidden; }
.GPCustScroll1SliderDown { padding-bottom:3px; background:url(HScroll.png) -36px bottom; width:18px; overflow:hidden; }
.GPCustScroll1SliderUp { padding-top:3px; background:url(HScroll.png) -36px top; width:18px; overflow:hidden; }
.GPCustScroll1SliderVIn { background:url(HScroll.png) -54px center; width:18px; overflow:hidden; }
.GPCustScroll1SliderDownHover { padding-bottom:3px; background:url(HScroll.png) -72px bottom; width:18px; overflow:hidden; }
.GPCustScroll1SliderUpHover { padding-top:3px; background:url(HScroll.png) -72px top; width:18px; overflow:hidden; }
.GPCustScroll1SliderVInHover { background:url(HScroll.png) -90px center; width:18px; overflow:hidden; }

.GPCustScroll2DownHidden { background:url(HScroll.png) -364px top; width:36px; overflow:hidden; }
.GPCustScroll2Down { padding-bottom:36px; background:url(HScroll.png) -148px bottom; cursor:default; width:36px; overflow:hidden; }
.GPCustScroll2DownHover { padding-bottom:36px; background:url(HScroll.png) -184px bottom; width:36px; overflow:hidden; }
.GPCustScroll2Up { padding-top:36px; background:url(HScroll.png) -148px top; width:36px; overflow:hidden; }
.GPCustScroll2UpHover { padding-top:36px;  background:url(HScroll.png) -184px top; width:36px; overflow:hidden; }
.GPCustScroll2SliderDown { padding-bottom:6px; background:url(HScroll.png) -220px bottom; width:36px; overflow:hidden; }
.GPCustScroll2SliderUp { padding-top:6px; background:url(HScroll.png) -220px top; width:36px; overflow:hidden; }
.GPCustScroll2SliderVIn { background:url(HScroll.png) -256px center; width:36px; overflow:hidden; }
.GPCustScroll2SliderDownHover { padding-bottom:6px; background:url(HScroll.png) -292px bottom; width:36px; overflow:hidden; }
.GPCustScroll2SliderUpHover { padding-top:6px; background:url(HScroll.png) -292px top; width:36px; overflow:hidden; }
.GPCustScroll2SliderVInHover { background:url(HScroll.png) -328px center; width:36px; overflow:hidden; }

.GPCustScroll3Down,.GPCustScroll3DownHidden { background:white; width:9px; overflow:hidden; cursor:default; }
.GPCustScroll3SliderDown,.GPCustScroll3SliderDownHover { padding-bottom:3px; width:9px; background:url(HScroll.png) -126px bottom; }
.GPCustScroll3SliderUp,.GPCustScroll3SliderUpHover { width:9px; background:url(HScroll.png) -126px top; cursor:default; }
.GPCustScroll3SliderDownHover { background-position:-135px bottom; }
.GPCustScroll3SliderUpHover { background-position:-135px top; cursor:default; }

.GPCustScroll4Down,.GPCustScroll4DownHidden,.GPCustScroll4SliderDown,.GPCustScroll4SliderDownHover { width:1px; overflow:hidden; }
   
/* ------------------- Other messages, TGLib ------------------- */
 
.GPHintMain {
   position:absolute; margin-left:-2px; margin-top:-2px; padding:2px; padding-bottom:3px; left:0px; top:0px; z-index:260; 
   background:#fff; cursor:default; 
   }
.GPHintSpaceMain { margin:0px; padding:0px; }
.GPHintOuter { overflow:hidden; background:#fff; text-align:left; border-color:white; }
.GPHintHeaderOuter { background:#888888; color:white; }
.GPHintShadow {
   position:absolute; margin-left:3px; margin-top:3px; z-index:259;
   background:#888; opacity:0.5; filter:alpha(opacity=50);
   }


.GPTipMain { position:absolute; left:0px; top:0px; z-index:262; visibility:hidden; }
.GPTipOuter  {
   overflow:hidden; cursor:default; font:15px "Microsoft Sans Serif",Arial;
   background:#f4f4f4; border:1px solid #e0e0e0; padding:3px;
   }
.GPTipBody { background:#f4f4f4; white-space:nowrap; }     
.GPTipShadow {
   position:absolute; margin-left:3px; margin-top:3px; z-index:261;
   background:#888; opacity:0.5; filter:alpha(opacity=50);
   visibility:hidden;
   }

.GPMouseOrig { background:yellow!important; opacity:0.5; filter:alpha(opacity=50); }
.GPMouseDragObject { position:absolute; z-index:260; background:#888; opacity:0.5; filter:alpha(opacity=50); }

.GPFocus { border:1px solid blue; background-color:white; }    

.GPBodyPrint { margin:0px!important; padding:0px!important; border:0px none!important; background:none!important; }

.GridDisabled { position:absolute; z-index:256; background:white; opacity:0.5; filter:alpha(opacity=50); } 
.GridMain { z-index:255; }

/* Do not change, marks the style loaded */
.GPLoaded { border:1px solid black!important; }