<div class="row-fluid">
    <div  id="modal-matricula" class="span12">
        <div class="crm-box">
            <div class="crm-box-head">
                <i class="icon-list-ul"></i>
                <span>Información de la matricula</span>
                <div class="actions">
                    <a href="#" rel="tooltip" title="" data-original-title="Cerrar" data-dismiss="modal"><i class="icon-remove-sign"></i></a>
                </div>
            </div>
            <div class="crm-box-body">
                <form id="frmRegistrarMatricula" action="{{path('cenfo_matricula_guardar', { pidContactoCRM : ptwIdContactoCRM })}}" method="POST" class="form-bordered form-column form-validate">
                    <div class="span12">
                        {# Matriculas del estudiante #}
                        <div class="control-group">
                            
                            {# Matriculas borradas #}
                            <input type="hidden" id="info-borrado-matricula" name="data[borrar]" value="">
                            
                            <label for="uiTxtMatricula" class="control-label">
                                Agregar matricula: 
                                <button class="btn-agregar-matricula button button-basic-green" simple-table-id="table-matriculas">+</button>
                            </label>
                            <div class="controls">
                                <table id="table-matriculas" style="width: 100%;">
                                    <tr>
                                        {% if ptwTipoContacto == 'PA' %}
                                            <td style="width: 45%;">Fecha Matricula</td>
                                            <td style="width: 45%;">Interes</td>
                                        {% else %}
                                            <td style="width: 35%;">Fecha Inicio</td>
                                            <td style="width: 35%;">Fecha Fin</td>
                                            <td style="width: 20%;">Interes</td>
                                        {% endif %}
                                        <td style="width: 10%;"></td>
                                    </tr>
                                    {% for objMatricula in ptwMatriculas %}
                                        <tr id="fila-tabla-matriculas{{objMatricula.id}}" data-db-id="{{objMatricula.id}}">
                                        {% if ptwTipoContacto == 'PA' %}
                                            <td>
                                                <input name="data[actualizar][{{objMatricula.id}}][fechaMatricula]" class="input-block-level datepick" type="text" value="{{objMatricula.fechaMatricula|date("Y-m-d")}}" data-rule-required="true" >
                                            </td>
                                        {% else %}
                                            <td>
                                                <input name="data[actualizar][{{objMatricula.id}}][fechaInicio]" class="input-block-level datepick" type="text" value="{{objMatricula.fechaInicio|date("Y-m-d")}}" data-rule-required="true" >
                                            </td>
                                            <td>
                                                <input name="data[actualizar][{{objMatricula.id}}][fechaFin]" class="input-block-level datepick" type="text" value="{{objMatricula.fechaFin|date("Y-m-d")}}" data-rule-required="true" >
                                            </td>
                                        {% endif %}
                                            <td>
                                                <select id="uiSelInteresMatricula{{objMatricula.id}}" name="data[actualizar][{{objMatricula.id}}][idInteres]" data-placeholder="Seleccionar intereses..."  class="chosen-select uiSelInteresMatricula" data-rule-required="true">
                                                    <option value=""></option>
                                                    {% for objTipo in ptwTiposContacto %}
                                                        {% for objArea in objTipo.getAreasInteres() %}
                                                            <optgroup label="{{objTipo.nombre ~ ' - ' ~ objArea.nombre}}">
                                                            {% for objInteres in objArea.getIntereses() %}
                                                                {% if objInteres.id == objMatricula.interes.id %}
                                                                    <option value="{{objInteres.id}}" selected="true">{{objInteres.nombre}}</option>
                                                                {% else %}
                                                                    <option value="{{objInteres.id}}">{{objInteres.nombre}}</option>
                                                                {% endif %}
                                                            {% endfor %}
                                                            </optgroup>
                                                        {% endfor %}
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <div class="btn-toolbar" style="margin: 1px;">
                                                    <div class="btn-group">
                                                        <button class="btn-borrar-matricula button button-basic-red" row-id="fila-tabla-matriculas{{objMatricula.id}}">-</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="form-actions">
                                <button type="submit" class="button button-basic-green">Guardar</button>
                                <button id="btnCancelar" class="button button-basic-red " data-dismiss="modal">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var rowTablaMatriculas = 
        '<tr>\n\
            {% if ptwTipoContacto == 'PA' %}
                <td>\n\
                    <input class="input-block-level datepick uiTxtFechaMatricula" type="text" value="{{"now"|date("Y-m-d")}}" data-rule-required="true" >\n\
                </td>\n\
            {% else %}
                <td>\n\
                    <input class="input-block-level datepick uiTxtFechaInicio" type="text" value="{{"now"|date("Y-m-d")}}" data-rule-required="true" >\n\
                </td>\n\
                <td>\n\
                    <input class="input-block-level datepick uiTxtFechaFin" type="text" value="{{"now"|date("Y-m-d")}}" data-rule-required="true" >\n\
                </td>\n\
            {% endif %}
            <td>\n\
                <select data-placeholder="Seleccionar los intereses..."  class="chosen-select uiSelInteresMatricula" data-rule-required="true" >\n\
                    <option value=""></option>\n\
                    {% for objTipo in ptwTiposContacto %}
                        {% for objArea in objTipo.getAreasInteres() %}
                            <optgroup label="{{objTipo.nombre ~ ' - ' ~ objArea.nombre}}">\n\
                                {% for objInteres in objArea.getIntereses() %}
                                    <option value="{{objInteres.id}}">{{objInteres.nombre}}</option>\n\
                                {% endfor %}
                            </optgroup>\n\
                        {% endfor %}
                    {% endfor %}
                </select>\n\
            </td>\n\
            <td>\n\
                <div class="btn-toolbar" style="margin: 1px;">\n\
                    <div class="btn-group">\n\
                        <button class="btn-borrar-matricula button button-basic-red" >-</button>\n\
                    </div>\n\
                </div>\n\
            </td>\n\
        </tr>';
        
    //Crear la tabla para manejar los numeros del contacto
    $.initSimpleTable({
        idTable     : '#table-matriculas',
        btnAgregar  : '.btn-agregar-matricula',
        btnBorrar   : '.btn-borrar-matricula',
        infoBorrado : '#info-borrado-matricula',
        rowTemplate : rowTablaMatriculas,
        prefixIdRow : 'fila-tabla-matricula',
        onRowAdded  : function($newRow, key, idRow){
            //Plugin para la fecha
            $newRow.find(".datepick").datepicker({
                language : 'es', 
                format   : 'yyyy-mm-dd'
            });
            
            //Plugin para el chosen
            $newRow.find(".chosen-select").chosen({
                allow_single_deselect: true
            });
            
            //Calcular el nuevo tamaño para el Chosen.
            resize_chosen();
            
            //Agregar el nuevo nombre y id solo cuando la fila no tenga el atributo
            //db-id ya que esto significa que ya ha sido configurado con 'data[actualizar]'.
            if(!$newRow.data('db-id')){
                {% if ptwTipoContacto == 'PA' %}
                    $newRow.find(".uiTxtFechaMatricula").attr("name", "data[registrar]["+key+"][fechaMatricula]").attr("id", "data[registrar]["+key+"][fechaMatricula]");
                    $newRow.find(".uiSelInteresMatricula").attr("name", "data[registrar]["+key+"][idInteres]").attr("id", "data[registrar]["+key+"][idInteres]");
                {% else %}
                    $newRow.find(".uiTxtFechaInicio").attr("name", "data[registrar]["+key+"][fechaInicio]").attr("id", "data[registrar]["+key+"][fechaInicio]");
                    $newRow.find(".uiTxtFechaFin").attr("name", "data[registrar]["+key+"][fechaFin]").attr("id", "data[registrar]["+key+"][fechaFin]");
                    $newRow.find(".uiSelInteresMatricula").attr("name", "data[registrar]["+key+"][idInteres]").attr("id", "data[registrar]["+key+"][idInteres]");
                {% endif %}
            }
        }
    }); 
    
    //Validar formulario.
    $("#frmRegistrarMatricula").validate({
        errorElement    : "span", 
        errorClass      : "help-block error", 
        ignore          : [],
        errorPlacement  : function(e, t) {
            t.parents(".controls")
             .append(e);
        }, 
        highlight       : function(e) {
            $(e).closest(".control-group")
                .removeClass("error success")
                .addClass("error");
        }, 
        success: function(e) {
            e.addClass("valid")
             .closest(".control-group")
             .removeClass("error success")
             .addClass("success");
        }
    });
    
    //Ajax Form para guardar los cambios de matricula.
    $('#frmRegistrarMatricula').ajaxForm({
        success : function(response) {
            var datos;
            
            if (response.indexOf("ok") >= 0) {
                datos = JSON.parse(response);
                $.showAlert({
                    type    : 'success',
                    showTo  : '#content-area', 
                    content : '<b>' + datos.msg + '</b> '
                });
                
                //Cantidad de matriculas que tiene el contacto
                $('#uiBtnMatricula').text(datos.cantMatriculas + ' Matriculas');
                
                //Ocultar el Loading
                $('#modal-matricula').hideLoading();
                
                //Cerrar el popup
                $('#btnCancelar').click();
            } else {
                $.showAlert({
                    type    : 'error',
                    showTo  : '#modal-matricula', 
                    content : '<b>Ocurrió un error, por favor trata de nuevo.</b> ' + response
                });
            }
            //Ocultar el Loading
            $('#modal-matricula').hideLoading();
        },
        beforeSubmit: function(arr, $form, options) {
            $('#modal-matricula').showLoading();
        },
        error: function(xhr, textStatus, thrownError) {
            //Ocultar el Loading
            $('#modal-matricula').hideLoading();
            
            if(xhr['responseText']){
                $.showAlert({
                    type    : 'error',
                    showTo  : '#modal-matricula',
                    content : '<b>Error.</b> ' + xhr['responseText']
                });
            }else{
                $.showAlert({
                    type    : 'error',
                    showTo  : '#modal-matricula',
                    content : '<b>Error.</b> ' + thrownError
                });
            }
        }
    });
</script>
