<script type="text/javascript">
$(function(){
    if (Grids['{{gridId}}']) {
        delete Grids['{{gridId}}'];
    }
    
    TreeGrid(
        {{ gridOptions|json_encode|raw }}, 
        {{ gridContainerId|json_encode|raw }}, 
        {{ gridId|json_encode|raw }}
    );
    removeTrialMessage(Grids, '{{gridId}}');
    
    if($('#{{gridContainerId}}').parent().is(":visible")){
        $('#{{gridContainerId}}').parent().showLoading();
    }else{
        //Si el Div no se ha mostrado, esperar hasta que paresca en la
        //interfaz, una vez que aparece mostrar el loading.
        $('#{{gridContainerId}}').parent().one('inview', function(){
            $('#{{gridContainerId}}').parent().showLoading();
        });
    }
    
    Grids.OnReady = function(TGrid, start) { 
        $('#{{gridContainerId}}').parent().hideLoading();
    };
    
    Grids.OnDataError = function(TGrid, Source, Result, Message, Data){
        if(Message && Data){
            $.showAlert({
                type    : 'error',
                content : '<b>Fallo al cargar el Grid de la pagina. "' + Message + '" : </b>' + Data,
                showTo  : '#content-area'
            });
        } else{
            $.showAlert({
                type    : 'error',
                content : '<b>Fallo al cargar el Grid de la pagina. La conexion se termino, trata refrescando con F5.</b> ' + Data,
                showTo  : '#content-area'
            });
        }
        //Si hay algun popup mostrandose hay que cerrarlo
        if($('[data-dismiss="modal"]').length > 0){
            $('[data-dismiss="modal"]').click();
        }
        
        $('#{{gridContainerId}}').parent().hideLoading();
    };
});
</script> 