<div class="row-fluid">
    <div id="modal-seguimiento" class="span12">
        <div class="crm-box">
            <div class="crm-box-head">
                <i class="icon-list-ul"></i>
                <span>Información de Seguimiento</span>
                <div class="actions">
                    <a href="#" rel="tooltip" title="" data-original-title="Cerrar" data-dismiss="modal"><i class="icon-remove-sign"></i></a>
                </div>
            </div>
            <div class="crm-box-body crm-box-body-nopadding">
                <form action="{{ ptwFormAction }}" method="POST" id="frmSeguimientos" class="form-horizontal form-bordered form-validate">
                    {# Tipo seguimiento #}
                    <div class="control-group">
                        <label for="uiSelTipoSeguimiento" class="control-label">
                            <span class="required-label">*</span>
                            Seleccionar tipo de seguimiento
                        </label>
                        <div class="controls">
                            <div class="input-block-level">
                                <select id="uiSelTipoSeguimiento" name="data[idTipoSeguimiento]" data-placeholder="Seleccionar" >
                                    <option value=""></option>
                                    {% if ptwObjSeguimiento is defined %}
                                        {# Modificar #}
                                        {% for objTipoSeguimiento in ptwTipoSeguimientos %}
                                            {% if objTipoSeguimiento.id == ptwObjSeguimiento.tipo.id %}
                                                <option value="{{objTipoSeguimiento.id}}" selected="true">{{objTipoSeguimiento.nombre}}</option>
                                            {% else %}
                                                <option value="{{objTipoSeguimiento.id}}">{{objTipoSeguimiento.nombre}}</option>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        {# Registrar #}
                                        {% for objTipoSeguimiento in ptwTipoSeguimientos %}
                                            <option value="{{objTipoSeguimiento.id}}">{{objTipoSeguimiento.nombre}}</option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                    </div> 
                    
                    {# Comentario #}
                    <div class="control-group">
                        <label for="uiTxaCommentarios" class="control-label">Comentarios</label>
                        <div class="controls">
                            <textarea name="data[comentario]" id="uiTxaCommentarios" rows="5" class="input-block-level">{%if ptwObjSeguimiento is defined%}{{ptwObjSeguimiento.comentario}}{%endif%}</textarea>
                        </div>
                    </div>
                        
                    {# Fecha seguimiento * #}
                    <div class="control-group">
                        <label for="uiDtpFechaSeguimiento" class="control-label">
                            <span class="required-label">*</span>
                            Fecha
                        </label>
                        <div class="controls">
                            {%if ptwObjSeguimiento is defined %}
                                {% if ptwObjSeguimiento.fechaSeguimiento is not empty %}
                                    <input value="{{ptwObjSeguimiento.fechaSeguimiento|date("Y-m-d")}}" type="text" name="data[fechaSeguimiento]" id="uiDtpFechaSeguimiento" class="input-small datepick"  data-rule-required="true">
                                {% else %}
                                    <input value="" type="text" name="data[fechaSeguimiento]" id="uiDtpFechaSeguimiento" class="input-small datepick"  data-rule-required="true">
                                {% endif %}
                            {%else%}
                                <input value="{{"now"|date("Y-m-d")}}" type="text" name="data[fechaSeguimiento]" id="uiDtpFechaSeguimiento" class="input-small datepick"  data-rule-required="true">
                            {%endif%}
                        </div>
                    </div>

                    {# Hora seguimiento * #}
                    <div class="control-group">
                        <label for="uiTpkHoraSeguimiento" class="control-label">
                            <span class="required-label">*</span>
                            Hora
                        </label>
                        <div class="controls">
                            <div class="bootstrap-timepicker">
                            {%if ptwObjSeguimiento is defined %}
                                {% if ptwObjSeguimiento.fechaSeguimiento is not empty %}
                                    <input value="{{ptwObjSeguimiento.fechaSeguimiento|date("h:i A")}}" type="text" name="data[horaSeguimiento]" id="uiTpkHoraSeguimiento" class="input-small timepick"  data-rule-required="true">
                                {% else %}
                                    <input value="" type="text" name="data[horaSeguimiento]" id="uiTpkHoraSeguimiento" class="input-small timepick"  data-rule-required="true">
                                {% endif %}
                            {%else%}
                                <input value="{{"now"|date("h:i A")}}" type="text" name="data[horaSeguimiento]" id="uiTpkHoraSeguimiento" class="input-small timepick"  data-rule-required="true">
                            {%endif%}
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="button button-basic-green">Guardar</button>
                        <button id="btnCancelar" class="button button-basic-red " data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{# jQuery #}
<script src="{{ asset('js/bootstrap-timepicker.min.js') }}"></script>
<script type="text/javascript">
    //Validar formulario.
    $("#frmSeguimientos").validate({
        errorElement    : "span", 
        errorClass      : "help-block error", 
        ignore          : [],
        errorPlacement  : function(e, t) {
            t.parents(".controls")
             .append(e);
        }, 
        highlight       : function(e) {
            $(e).closest(".control-group")
                .removeClass("error success")
                .addClass("error");
        }, 
        success: function(e) {
            e.addClass("valid")
             .closest(".control-group")
             .removeClass("error success")
             .addClass("success");
        }
    });
    
    //Ajax Form para guardar los cambios de seguimiento.
    $('#frmSeguimientos').ajaxForm({
        success      : _apiSeg.modalFormAdministrar.success,
        beforeSubmit : _apiSeg.modalFormAdministrar.beforeSubmit, 
        error        : _apiSeg.modalFormAdministrar.error
    });
</script>
