<div class="row-fluid">
    <div class="span12">
        <input type="hidden" id="idEntity" value="{{ptwIdEntity}}">
        <div class="crm-box crm-box-listar-seg">
            <div class="crm-box-head">
                <i class="icon-list-ul"></i>
                <span>Seguimientos</span>
                <div class="actions">
                    <a href="#" rel="tooltip" title="" data-original-title="Cerrar" data-dismiss="modal"><i class="icon-remove-sign"></i></a>
                </div>
            </div>
            <div class="crm-box-body">
                <div id="{{ ptwGridOptionsGenerator.containerId }}"></div>
            </div>
            {% include 'CenfotecCRMBundle::Seguimiento/toolbar.html.twig' %}
        </div>
    </div>
</div>
{% include 'ComponentsEJSTreeGridBundle::createGrid.js.twig' with {
    'gridContainerId' : ptwGridOptionsGenerator.containerId, 
    'gridOptions'     : ptwGridOptionsGenerator.options,
    'gridId'          : ptwGridOptionsGenerator.gridId         }
%}