<div class="crm-box-body crm-box-body-nopadding crm-box-seg-toolbar crm-box-pa" >
    <div class="row-fluid">
        <div class="span12">
            {# Agregar Seguimiento #}
            <button 
            class="button button-basic-green uiBtnRegistrarSeg" 
            title="Agregar seguimiento" 
            data-grid-id="{{ptwGridOptionsGenerator.gridId}}" 
            data-loading-opening-to=".crm-box-listar-seg" 
            data-alert-success-to=".crm-box-listar-seg" >
                <i class="icon-plus-sign"></i> Agregar
            </button>

            {# Modificar Seguimiento #}
            <button 
            class="button button-basic-blue uiBtnModificarSeg" 
            title="Modificar seguimiento" 
            data-grid-id="{{ptwGridOptionsGenerator.gridId}}" 
            data-loading-opening-to=".crm-box-listar-seg" 
            data-alert-success-to=".crm-box-listar-seg" 
            data-alert-sel-row=".crm-box-listar-seg" >
                <i class="icon-edit"></i> Modificar
            </button>

            {# Eliminar Seguimiento #}
            <button 
            class="button button-basic-red uiBtnEliminarSeg" 
            title="Eliminar seguimiento" 
            data-grid-id="{{ptwGridOptionsGenerator.gridId}}" 
            data-loading-opening-to=".crm-box-listar-seg" 
            data-alert-success-to=".crm-box-listar-seg" 
            data-loading-saving-to=".crm-box-listar-seg" 
            data-alert-error-to=".crm-box-listar-seg" 
            data-alert-sel-row=".crm-box-listar-seg" >
                <i class="icon-trash"></i> Eliminar
            </button>
        </div>
    </div>
</div>
<script type="text/javascript">
    //Agregar los eventos a los botones del toolbar

    //Registrar nuevo seguimiento
    $(".uiBtnRegistrarSeg").click(_apiSeg.modalFormRegistrar.event);
    
    //Modificar un seguimiento
    $(".uiBtnModificarSeg").click(_apiSeg.modalFormModificar.event);
    
    //Modificar un seguimiento
    $(".uiBtnEliminarSeg").click(_apiSeg.eliminar.event);
</script>