<html>
    <head>
        <title>
            Example 01!
        </title>
        <script type="text/javascript" src="{{ asset('bundles/basejqueryui/jquery-1.7.2.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/baseejstreegrid/Grid/GridE.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/baseejstreegrid/js/gridExtension.js') }}" ></script>
        {# Script para crear el Grid de Debts #}
        {% include 'ComponentsEJSTreeGridBundle::createGrid.js.twig' with {
            'gridContainerId' : gridOptionsGenerator.containerId, 
            'gridOptions'     : gridOptionsGenerator.options,
            'gridId'          : gridOptionsGenerator.gridId         }
        %}
    </head>
    <body>
        <div id="{{ gridOptionsGenerator.containerId }}"></div>
    </body>
</html>