<Grid>
<Body>
    <B>
        <I NAME='James' SURNAME='Jackson' AGE='24' MARRIED='0'>
            <I>
                <I ADDRESS='3703 Tenth Ave, New York, NY 10034'/>
                <I ADDRESS='201 Varick Street 4th Floor New York, NY 10014'/>
                <I ADDRESS='1419 Westwood Blvd, Los Angeles, CA 90024'/>
            </I>
        </I>
        <I NAME='Daniel' SURNAME='Moore' AGE='38' MARRIED='1' Expanded='1'>
            <I>
                <I ADDRESS='11525 Del Amo Blvd., Cerritos, CA 90703'/>
                <I ADDRESS='1419 Westwood Blvd, Los Angeles, CA 90024'/>
            </I>
        </I>
        <I NAME='Lisa' SURNAME='Moore' AGE='12' MARRIED='0'>
            <I>
                <I ADDRESS='11525 Del Amo Blvd., Cerritos, CA 90703' NOTE='Daniel&apos;s daughter'/>
            </I>
        </I>
        <I NAME='Nancy' SURNAME='Allen' AGE='65' MARRIED='1'>
            <I>
                <I ADDRESS='701 Howard Road SE, Washington, DC 20020'/>
            </I>
        </I>
    </B>
</Body>
</Grid>