<div class="row-fluid">
    <div id="modal-entidad" class="span12">
        <div class="crm-box">
            <div class="crm-box-head">
                <i class="icon-list-ul"></i>
                <span>Información de {{ ptwEntityName }}</span>
                <div class="actions">
                    <a href="#" rel="tooltip" title="" data-original-title="Cerrar" data-dismiss="modal"><i class="icon-remove-sign"></i></a>
                </div>
            </div>
            <div class="crm-box-body crm-box-body-nopadding">
                <form action="{{ ptwFormAction }}" method="POST" id="frmEntity" class="form-horizontal form-bordered form-validate">
                    
                    {# Nombre * #}
                    <div class="control-group">
                        <label for="uiTxtNombre" class="control-label">
                            <span class="required-label">*</span>
                            Nombre 
                        </label>
                        <div class="controls">
                            <input {%if ptwObjEntity is defined%}value="{{ptwObjEntity.nombre}}"{%endif%} type="text" name="data[nombre]" id="uiTxtNombre" placeholder="Ej: Nombre {{ptwEntityName}}" class="input-block-level" data-rule-required="true">
                        </div>
                    </div>
                        
                    <div class="form-actions">
                        <button type="submit" class="button button-basic-green">Guardar</button>
                        <button id="btnCancelar" class="button button-basic-red " data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{# jQuery #}
<script type="text/javascript">
    //Validar formulario.
    $("#frmEntity").validate({
        errorElement    : "span", 
        errorClass      : "help-block error", 
        ignore          : [],
        errorPlacement  : function(e, t) {
            t.parents(".controls")
             .append(e);
        }, 
        highlight       : function(e) {
            $(e).closest(".control-group")
                .removeClass("error success")
                .addClass("error");
        }, 
        success: function(e) {
            e.addClass("valid")
             .closest(".control-group")
             .removeClass("error success")
             .addClass("success");
        }
    });
    
    //Ajax Form para guardar los cambios de la entity
    $('#frmEntity').ajaxForm({
        success      : _apiAdminEntity.modalFormAdministrar.success,
        beforeSubmit : _apiAdminEntity.modalFormAdministrar.beforeSubmit, 
        error        : _apiAdminEntity.modalFormAdministrar.error
    });
</script>
