{% extends "::base.html.twig" %}
{% set activePage = 'ADMIN' %}

{# content #}
{% block content %}

    <div id="content">
        <div class="page-header">
            <div class="pull-left">
                <h4><i class="icon-table"></i> {{ ptwPageTitle }}</h4>
            </div>
            <div class="pull-right">
                <ul class="bread">
                    <li><a href="#">Administración</a><span class="divider">/</span></li>
                    <li class='active'>{{ ptwEntityName }}</li>
                </ul>
            </div>
        </div>

        <div class="container-fluid" id="content-area">
            <div class="row-fluid">
                <div class="span12">
                    <div class="crm-box">
                        <div class="crm-box-head">
                            <i class="icon-table"></i>
                            <span>Lista de {{ ptwEntityName }}</span>
                        </div>
                        <div class="crm-box-body crm-box-body-nopadding">
                            <div id="{{ ptwGridOptionsGenerator.containerId }}"></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    {# Agregar #}
                                    <button 
                                        id="uiBtnRegistrar" 
                                        data-grid-id="{{ptwGridOptionsGenerator.gridId}}" 
                                        class="button button-basic-green" 
                                        title="Agregar {{ptwEntityName}}">
                                        <i class="icon-plus-sign"></i> Agregar
                                    </button>

                                    {# Modificar #}
                                    <button 
                                        id="uiBtnModificar" 
                                        data-grid-id="{{ptwGridOptionsGenerator.gridId}}" 
                                        class="button button-basic-blue" 
                                        title="Modificar {{ptwEntityName}}">
                                        <i class="icon-edit"></i> Modificar
                                    </button>

                                    {# Eliminar #}
                                    <button 
                                        id="uiBtnEliminar" 
                                        data-grid-id="{{ptwGridOptionsGenerator.gridId}}" 
                                        class="button button-basic-red" 
                                        title="Eliminar {{ptwEntityName}}" >
                                        <i class="icon-trash"></i> Eliminar
                                    </button>
                                    
                                    {# Combinar #}
                                    <button 
                                        id="uiBtnCombinar" 
                                        data-grid-id="{{ptwGridOptionsGenerator.gridId}}" 
                                        class="button button-basic-darkblue" 
                                        title="Combinar datos" >
                                        <i class="icon-adjust"></i> Combinar datos
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{# javascripts #}
{% block javascripts %}
    {{ parent() }}
    {% include 'ComponentsEJSTreeGridBundle::createGrid.js.twig' with {
        'gridContainerId' : ptwGridOptionsGenerator.containerId, 
        'gridOptions'     : ptwGridOptionsGenerator.options,
        'gridId'          : ptwGridOptionsGenerator.gridId         }
    %}
    <script type="text/javascript">
        var _apiAdminEntityCfg = {
            IDGrid           : '{{ptwGridOptionsGenerator.gridId}}',
            IDGridContainer  : '{{ptwGridOptionsGenerator.containerId}}',
            entityActionName : '{{ptwEntityActionName}}',
            entityName       : '{{ptwEntityName}}'
        };
    </script>
    {% javascripts
        'bundles/cenfoteccrm/js/administracion/api.js'
        output='dump-files-2014-02-23/administrar-listar.js'
    %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        //Agregar
        $("#uiBtnRegistrar").on("click", _apiAdminEntity.modalFormRegistrar.event);

        //Modificar
        $("#uiBtnModificar").on("click", _apiAdminEntity.modalFormModificar.event);

        //Eliminar
        $("#uiBtnEliminar").on("click", _apiAdminEntity.eliminar.event);
        
        //Evento para mostrar el formulario de combinar filas
        $("#uiBtnCombinar").on("click", function(e){
            //Obtener las filas que se seleccionaron
            var $btn          = $(this);
            var grid          = Grids[$btn.data('grid-id')];
            var rows          = grid.GetSelRows();
            var datosCombinar = [];

            //Validar si seleccionaron filas
            if($(rows).size() != 0){
                $.each(rows, function(){
                    datosCombinar.push({
                        text  : this.Name,
                        value : this.id
                    });
                });

                $.cdAjaxModal({
                    url           : Routing.generate('cenfo_combinar_form',{
                        pentityName       : '{{ptwEntityName}}',
                        pentityClassName  : '{{ptwEntityClassName}}',
                        pentityActionName : '{{ptwEntityActionName}}',
                        pdatosCombinar    : datosCombinar
                    }),
                    showLoadingTo : '#uiBtnCombinar',
                    heigth        : 100,
                    success       : function($modal){
                        //Radio Buttons
                        $modal.find(".uniform-me").length > 0 && $(".uniform-me").uniform({radioClass: "uni-radio", buttonClass: "uni-button"});

                        //Plugin chosen
                        $modal.find("select").chosen({allow_single_deselect: true});

                        //Calcular el nuevo tamaño para el Chosen.
                        resize_chosen();
                    },
                    btnSave       : {
                        click : function($modal){
                        }
                    }
                });
            }else{
                $.showAlert({
                    type    : 'error',
                    content : 'Por favor seleccione al menos 1 fila para hacer la combinación.'
                });
            }
            e.preventDefault();
        });
    </script>
{% endblock javascripts %}