{% extends "::base.html.twig" %}
{% set activePage = 'Reporte' %}

{# content #}
{% block content %}

    <div id="content">
        <div class="page-header">
            <div class="pull-left">
                <h4 id="page-header-title"><i class="icon-table"></i> Reportes</h4>
            </div>
            <div class="pull-right">
                <ul class="bread">
                    <li><a href="dashboard.html">Reportes</a><span class="divider">/</span></li>
                    <li class='active'>ComplexTable</li>
                </ul>
            </div>
        </div>
        <div class="container-fluid" id="content-area">
            <div class="row-fluid">
                <div class="span12">
                    {# Filtro por fecha de ingreso #}
                    <div class="crm-box" id="crm-box-filter-prog-acadmico">
                        <div class="crm-box-head">
                            <i class="icon-list-ul"></i>
                            <span>Filtro por fecha de ingreso </span>
                        </div>
                        <div class="crm-box-body crm-box-body-nopadding">
                            <form action="#" id="frmFiltersPA" method="POST" class="form-horizontal form-bordered form-column form-validate">
                                <div class="span4">
                                    {# Fecha Inicio #}
                                    <div class="control-group">
                                        <label for="uiDtpFechaInicioPA" class="control-label">Fecha inicio</label>
                                        <div class="controls">
                                            <input type="text" name="uiDtpFechaInicioPA" value="{{"now"|date("Y-m-d")}}" id="uiDtpFechaInicioPA" class="input-block-level datepick">
                                        </div>
                                    </div>
                                </div>
                                <div class="span4">
                                    {# Fecha Fin #}
                                    <div class="control-group">
                                        <label for="uiDtpFechaFinPA" class="control-label">Fecha fin</label>
                                        <div class="controls">
                                            <input type="text" name="uiDtpFechaFinPA" value="{{"now"|date("Y-m-d")}}" id="uiDtpFechaFinPA" class="input-block-level datepick">
                                        </div>
                                    </div>
                                </div>
                                <div class="span4">
                                    {# Botones para buscar ó limpiar #}
                                    <div class="form-actions">
                                        <button type="button" id="uiBtnBuscarPA" class="button button-basic-green" >Filtrar</button>
                                        <button type="button" id="uiBtnLimpiarPA" class="button button-basic-red">Limpiar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                    {# Filtro por fecha de interes #}
                    <div class="crm-box" id="crm-box-acti">
                        <div class="crm-box-head">
                            <i class="icon-list-ul"></i>
                            <span>Filtro fecha de interes </span>
                        </div>
                        <div class="crm-box-body crm-box-body-nopadding">
                            <form action="#" id="frmFiltersACTIPos" method="POST" class="form-horizontal form-bordered form-column form-validate">
                                {# Fecha Inicio #}
                                <div class="span6">
                                    <div class="control-group">
                                        <label for="uiDtpFechaInicioACTIPos" class="control-label">Fecha inicio</label>
                                        <div class="controls">
                                            <input type="text" name="uiDtpFechaInicioACTIPos" value="{{"now"|date("Y-m-d")}}" id="uiDtpFechaInicioACTIPos" class="input-block-level datepick">
                                        </div>
                                    </div>
                                </div>
                                
                                {# Fecha Fin #}
                                <div class="span6">
                                    <div class="control-group">
                                        <label for="uiDtpFechaFinACTIPos" class="control-label">Fecha fin</label>
                                        <div class="controls">
                                            <input type="text" name="uiDtpFechaFinACTIPos" value="{{"now"|date("Y-m-d")}}" id="uiDtpFechaFinACTIPos" class="input-block-level datepick">
                                        </div>
                                    </div>
                                </div>
                                
                                {# Intereses #}
                                <div class="span6">
                                    <div class="control-group">
                                        <label for="uiSelInteresACTIPos" class="control-label">Interes </label>
                                        <div class="controls">
                                            <div class="input-large">
                                                <select id="uiSelInteresACTIPos" name="uiDataContacto[Interes][]" data-placeholder="Seleccionar los intereses..." multiple="" >
                                                    <option value=""></option>
                                                    {% for objTipo in ptwIntereses if objTipo.nombre in ["ACTI"] %}
                                                        {% for objArea in objTipo.getAreasInteres() %}
                                                            <optgroup label="{{objTipo.nombre ~ ' - ' ~ objArea.nombre}}">
                                                                {% for objInteres in objArea.getIntereses() %}
                                                                    <option value="{{objInteres.id}}">{{objInteres.nombre}}</option>
                                                                {% endfor %}
                                                            </optgroup>
                                                        {% endfor %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="span6">   
                                    {# Botones para buscar ó limpiar #}
                                    <div class="form-actions">
                                        <button type="button" id="uiBtnBuscarACTIPos" class="button button-basic-green" grid-data-url="{{ path('cenfo_acti_grid_data', {'pflagComplexTable':1}) }}">Filtrar</button>
                                        <button type="button" id="uiBtnLimpiarACTIPos" class="button button-basic-red">Limpiar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                    {# Complex table #} 
                    <div class="crm-box">
                        <div class="crm-box-head">
                            <i class="icon-table"></i>
                            <span>Reportes</span>
                        </div>
                        <div class="crm-box-body crm-box-body-nopadding">
                            {% if app.session.hasFlash('notice') %}
                                <div class="alert alert-info fade in">
                                    <button type="button" class="close" data-dismiss="alert">×</button>
                                    <strong>Mensaje</strong> 
                                    <p>{{ app.session.flash('notice') }}</p>
                                </div>
                            {% endif %}
                            <div class="highlight-toolbar">
                                <div class="pull-left">
                                    <div class="btn-toolbar">
                                        <div class="btn-group">
                                            <a href="#" tipo-contacto="ProgAcademico" class="button button-basic button-icon" rel="tooltip" title="" data-original-title="Ver Prospectos">
                                                <i class="icon-group"></i> Prog. Académico
                                            </a>
                                            <a href="#" tipo-contacto="ACTI" class="button button-basic button-icon" rel="tooltip" title="" data-original-title="Ver contactos de ACTI">
                                                <i class="icon-group"></i> ACTI
                                            </a>
                                            <a href="#" tipo-contacto="Posgrado" class="button button-basic button-icon" rel="tooltip" title="" data-original-title="Ver contactos de Posgrado">
                                                <i class="icon-group"></i> Posgrado
                                            </a>
                                            <a href="#" tipo-contacto="Empresa" class="button button-basic button-icon" rel="tooltip" title="" data-original-title="Ver Empresas">
                                                <i class="icon-group"></i> Empresa
                                            </a>
                                            <a href="#" tipo-contacto="Colegio" class="button button-basic button-icon" rel="tooltip" title="" data-original-title="Ver Colegios">
                                                <i class="icon-group"></i> Colegio
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="{{ gridOptionsGenerator.containerId }}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{# javascripts #}
{% block javascripts %}
    {{ parent() }}
    {% include 'ComponentsEJSTreeGridBundle::createGrid.js.twig' with {
        'gridContainerId' : gridOptionsGenerator.containerId, 
        'gridOptions'     : gridOptionsGenerator.options,
        'gridId'          : gridOptionsGenerator.gridId         }
    %}
    <script type="text/javascript">
        var _global = {
            'urls' : {
                'dataUrlProgAcademico'   : '{{ path('cenfo_prog_academico_grid_data', {'pflagComplexTable':1}) }}',
                'layoutUrlProgAcademico' : '{{ path('cenfo_prog_academico_grid_layout', {'pflagComplexTable':1}) }}',
                'dataUrlACTI'            : '{{ path('cenfo_acti_grid_data', {'pflagComplexTable':1}) }}',
                'layoutUrlACTI'          : '{{ path('cenfo_acti_grid_layout', {'pflagComplexTable':1}) }}',
                'dataUrlPosgrado'        : '{{ path('cenfo_posgrado_grid_data', {'pflagComplexTable':1}) }}',
                'layoutUrlPosgrado'      : '{{ path('cenfo_posgrado_grid_layout', {'pflagComplexTable':1}) }}',
                'dataUrlEmpresa'         : '{{ path('cenfo_empresa_grid_data', {'pflagComplexTable':1}) }}',
                'layoutUrlEmpresa'       : '{{ path('cenfo_empresa_grid_layout', {'pflagComplexTable':1}) }}',
                'dataUrlColegio'         : '{{ path('cenfo_colegio_grid_data', {'pflagComplexTable':1}) }}',
                'layoutUrlColegio'       : '{{ path('cenfo_colegio_grid_layout', {'pflagComplexTable':1}) }}'
            }
        };
    </script>
    {% javascripts
        'bundles/cenfoteccrm/js/reporte/complex-table.js'
        'bundles/cenfoteccrm/js/reporte/filter.js'
        output='dump-files-2014-02-23/complex-table.js'
    %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock javascripts %}