<script type="text/javascript">
    $(document).ready(function() {    
        $(function () {
            
            var newChar = new Highcharts.Chart({
                chart: {
                    renderTo: '{{ ptwDataChart['idContainer'] }}',
                    type: '{{ptwDataChart['tipoChart']}}',
                    margin: [ 50, 50, 100, 80]
                },
                title: {
                    text: '{{ptwDataChart['titulo']}}'
                },
                subtitle: {
                    text: '{{ptwDataChart['subtitulo']}}'
                },        
                xAxis: {
                    categories: [
                    {% for category in ptwDataChart['categories'] %}
                        {% if not loop.last %}
                            '{{category}}',
                        {%else%}
                            '{{category}}'
                        {%endif%}
                    {% endfor %}
                    ],
                    labels: {
                        rotation: -45,
                        align: 'right',
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Verdana, sans-serif'
                        }
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '{{ ptwDataChart['tituloLado'] }}'
                    }
                },
                legend: {
                {% if ptwDataChart['enableLengend'] is defined and ptwDataChart['enableLengend'] %}
                    enabled: true
                {%else%}
                    enabled: false
                {%endif%}
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.y} </b>',
                    useHTML: true
                },
                series: {{ptwDataChart['dataSeries']|json_encode|raw}}
            });
            
            _GLOBAL.chars['{{ptwDataChart['idContainer']}}'] = newChar;
        });
    });
</script>