<!doctype html>
<html>
    <head>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta names="apple-mobile-web-app-status-bar-style" content="black" />

        {% block stylesheets %}
            {% stylesheets 
                'css/bootstrap.min.css'
                'css/bootstrap-responsive.min.css'
                'css/style.css'
                filter='cssrewrite' 
                output='dump-files-2014-02-23/assets-login.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}

        {% block javascripts %}
             {% javascripts
                'js/jquery.min.js'
                'js/chosen.jquery.min.js'
                'js/bootstrap.min.js'
                'js/demonstration.min.js'
                'js/jquery.nicescroll.min.js'
                'js/application.min.js'
                output='dump-files-2014-02-23/assets-login.js'
            %}
                <script src="{{ asset_url }}" type="text/javascript"></script>
            {% endjavascripts %}
                
            <script type="text/javascript">
                var _GLOBAL = {
                    baseUrl        : "{{app.request.server.get('REQUEST_SCHEME')}}://{{ app.request.server.get('HTTP_HOST') }}{{ app.request.baseUrl }}".replace('app_dev.php', ''),
                    resizeElements : [],
                    chars          : {}
                };
                
                {# Google Analytics #}
                (function(i, s, o, g, r, a, m) {
                    i['GoogleAnalyticsObject'] = r;
                    i[r] = i[r] || function() {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
                    a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                    a.async = 1;
                    a.src = g;
                    m.parentNode.insertBefore(a, m)
                })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

                ga('create', 'UA-23907243-10', 'dominguezprojects.com');
                ga('send', 'pageview');
            </script>
        {% endblock %}
                
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <link rel="apple-touch-icon-precomposed" href="{{ asset('apple-touch-icon-precomposed.png') }}" />
        <title>Cenfo CRM</title>
    </head>
    <body class='login-body'>
        <div class="login-wrap">
            <h2>Cenfo CRM</h2>
            <div class="login">
                {% if error %}
                    <div class="error">{{ error.message }}</div>
                {% endif %}
                <form action="{{ path('cenfo_seguridad_sesion_validar') }}" method="post" id="login"> 
                    <div class="sep"></div>
                    <div class="email">
                        <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Nombre de usuario" class='input-block-level'>
                    </div>
                    <div class="pw">
                        <input type="password" id="password" name="_password" placeholder="Contraseña" class='input-block-level'>
                    </div>
                    <button type="submit" value="Ingresar" class='button button-basic-darkblue btn-block'>Ingresar</button>
                </form>
            </div>
            <a href="#" class='pw-link'>¿Olvido su <span>contraseña</span>? <i class="icon-arrow-right"></i></a>
        </div>
    </body>
</html>