{% extends "::base.html.twig" %}
{% set activePage = 'Administracion' %}

{# content #}
{% block content %}

    <div id="content">
        <div class="page-header">
            <div class="pull-left">
                <h4><i class="icon-table"></i> Administración de intereses</h4>
            </div>
            <div class="pull-right">
                <ul class="bread">
                    <li><a href="dashboard.html">Administración</a><span class="divider">/</span></li>
                    <li class='active'>Interes</li>
                </ul>
            </div>
        </div>

        <div class="container-fluid" id="content-area">
            <div class="row-fluid">
                <div class="span12">
                    <div class="crm-box">
                        <div class="crm-box-head">
                            <i class="icon-table"></i>
                            <span>Lista de interes</span>
                        </div>
                        <div class="crm-box-body crm-box-body-nopadding">
                            <div id="{{ ptwGridOptionsGenerator.containerId }}"></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <button id="uiBtnGuardar" class="button button-basic-blue" onclick="Grids.{{ptwGridOptionsGenerator.gridId}}.Save();">Guardar cambios</button>
                                    <input type="button" id="uiBtnCombinar" class="button button-basic-darkblue" grid-id="{{ptwGridOptionsGenerator.gridId}}" value="Combinar">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{# javascripts #}
{% block javascripts %}
    {{ parent() }}
    {% include 'ComponentsEJSTreeGridBundle::createGrid.js.twig' with {
        'gridContainerId' : ptwGridOptionsGenerator.containerId, 
        'gridOptions'     : ptwGridOptionsGenerator.options,
        'gridId'          : ptwGridOptionsGenerator.gridId         }
    %}
    <script type="text/javascript" src="{{ asset('bundles/cenfoteccrm/js/administracion/interes/index.js') }}" ></script>
{% endblock javascripts %}