/* -----------------------------------------------------------------------*/
/* ----------------- "Modern" TreeGrid style definition ------------------*/
/* -----------------------------------------------------------------------*/

/* ------------- Base tags ------------- */

.GMImage { padding-bottom:100%; padding-bottom:256px!IE; }
.GMNone { display:none; }
.GMSection,.GMSectionFF3 { table-layout:fixed; width:0px; font-size:1px; }
.GMSectionFF3 { border-collapse:collapse; }

/* -------------- Sections ------------------ */

.GMMainTable { border:1px solid black; border-collapse:separate; text-align:left; background:white; padding-right:1px; padding-left:1px; line-height: normal; }
.GMBodyLeft,.GMBodyMid,.GMBodyRight,.GMHeadLeft,.GMHeadMid,.GMHeadRight,.GMFootLeft,.GMFootMid,.GMFootRight { }
.GMBodyLeft,.GMBodyMid,.GMBodyRight { border-top:1px solid black; }
.GMHeadLeft,.GMHeadMid,.GMHeadRight { }
.GMFootLeft,.GMFootMid,.GMFootRight { border-top:1px solid black; }
.GMHeadLeft,.GMBodyLeft,.GMFootLeft,.GMHScrollLeft { border-right:1px solid #c0c0ff; }	
.GMHeadMid,.GMBodyMid,.GMFootMid {  }
.GMHeadRight,.GMBodyRight,.GMFootRight,.GMHScrollRight { border-left:1px solid #c0c0ff; }	
.GMLeftSplitter,.GMRightSplitter,.GMLeftSplitterTouch,.GMRightSplitterTouch { width:5px; background:#E1F1FF; overflow:hidden; cursor:e-resize; }
.GMLeftSplitterTouch,.GMRightSplitterTouch { width:15px; }
.GMLeftSplitter,.GMLeftSplitterTouch { border-right:1px solid #c0c0ff; }
.GMRightSplitter,.GMRightSplitterTouch { border-left:1px solid #c0c0ff; }
.GMSplitterDisabled { background:white; cursor:default }
.GMVScroll { padding-top:1px; padding-bottom:1px; } 
.GMHScrollLeft,.GMHScrollMid,.GMHScrollRight,.GMHScrollLeftResize,.GMHScrollRightResize,.GMHScrollLeftResizeTouch,.GMHScrollRightResizeTouch { 
   padding-left:1px; padding-right:1px; cursor:default; 
   }
.GMHScrollLeftResize { border-right:2px solid black; padding-right:5px; background:#F4F4F4; }
.GMHScrollRightResize { border-left:2px solid black; padding-left:5px; background:#F4F4F4; }
.GMHScrollMidLeftResize { border-left:1px solid black; padding-left:5px; background:#F4F4F4; }
.GMHScrollMidRightResize { border-right:1px solid black; padding-right:5px; background:#F4F4F4; }
.GMHScrollLeftResizeTouch { border-right:2px solid black; padding-right:18px; background:#F4F4F4; }
.GMHScrollRightResizeTouch { border-left:2px solid black; padding-left:18px; background:#F4F4F4; }
.GMHScrollMidLeftResizeTouch { border-left:1px solid black; padding-left:19px; background:#F4F4F4; }
.GMHScrollMidRightResizeTouch { border-right:1px solid black; padding-right:19px; background:#F4F4F4; }
.GMHScrollWide { padding-right:1px; }
.GMHScrollHidden { overflow:visible!important; background:#F4F4F4; cursor:default; }
.GMXScroll { background:#F4F4F4; }
.GMScrollSafariMac div::-webkit-scrollbar { -webkit-appearance: none; width: 11px; height: 11px; } 
.GMScrollSafariMac div::-webkit-scrollbar-thumb { border-radius: 8px; border: 2px solid white; background-color: rgba(0, 0, 0, .5); }
.GMPageFirst { }
.GMPage { border-top:1px solid #E0E0E0;}
.GMPageOne { }
.GMChildPart {  }
 
/* ------------- Rows ------------------ */

.GMSpaceRowHeight { height:21px; }
.GMRowHeight { height:18px; }
.GMRowHeightTouch { height:22px; }
.GMSpaceMargin { margin:0px; }
.GMSpaceMarginTouch { margin:5px; }

.GMSpaceRow { background:#E8F4FF; white-space:nowrap; font-size:1px; overflow:hidden; padding-top:2px; padding-bottom:2px; }
.GMToolbarRow,.GMToolbar1Row,.GMToolbar2Row,.GMTopbarRow,.GMTopbar1Row,.GMTopbar2Row,.GMGroupRow,.GMSearchRow,.GMPagerRow {
   background:url(Backgrounds.gif) repeat-x 0px -500px; white-space:nowrap;
   font-size:1px; padding-top:5px; padding-bottom:5px; overflow:hidden;
   }
.GMGroupRow,.GMPagerRow,.GMToolbar1Row,.GMTopbarRow,.GMTopbar1Row { background-position:0px -1801px; }
.GMToolbarRow,.GMToolbar1Row { padding-left:3px; border-top:1px solid black; }
.GMToolbar2Row,.GMTopbar1Row { padding-left:3px; }
.GMTopbarRow,.GMTopbar2Row {  padding-left:3px; border-bottom:1px solid black; }
.GMFillRow { background: #E8F4FF; }
.GMTabberRow { background: #E8F4FF; }
.GMRowAbove,.GMRowBelow { border-left:1px solid #9cb6c8; border-right:1px solid #9cb6c8; line-height: normal; }
.GMRowAbove { background:url(Backgrounds.gif) repeat-x 0px -1800px; margin-top:3px; overflow:hidden; }
.GMRowBelow { background:url(Backgrounds.gif) repeat-x 0px bottom; margin-bottom:3px; overflow:hidden; }
.GMNoDataRow { border-top:1px solid black; padding-left:5px; padding-top:5px; padding-bottom:5px; color:gray; font-style:italic; }

/* ------------- Cell ------------- */

.GMCell,.GMCellPanel,.GMCellFilter,.GMCellFilterPanel,.GMHeaderDrag,.GMHeaderGroup,.GMCellUser { 
	border-bottom:1px solid #e0e0ff; border-right:1px solid #e0e0ff; border-left:0px none; border-top:0px none;
	vertical-align:top; overflow:hidden; overflow:auto!IE; height:auto;
	}
.GMCellHeader,.GMCellHeaderPanel,.GMCellHeaderEmpty {
   vertical-align:top; overflow:hidden; overflow:auto!IE; height:auto; 
   background:url(Backgrounds.gif) repeat-x 0px 0px;
   border-right:1px solid #e0e0ff; border-top:1px solid #EEF7FF; border-left:0px none; border-top:0px none;
   }
.GMCellBorderFF3 { border-left:0px none; border-top:0px none; }
.GMCellHeaderPanel { padding-top:4px; }
.GMCellSpace { vertical-align:top; padding-top:5px!important; }
.GMCellSpacePanel,.GMCellSpaceBool { vertical-align:top; }
.GMCellSpaceRadio { padding-top:3px!important;}
.GMCellSpaceEdit,.GMCellSpaceEditIcon  {
   vertical-align:top; padding-top:5px!important;
   background:white url(BackgroundsRight.gif) right 0px; border-bottom:1px solid #696969; border-left:1px solid #696969; border-top:none;
   }
.GMCellSpaceEditIcon  { padding-left:0px!important; }
.GMCellSpaceSelect {
   vertical-align:top; background:url(BackgroundsRight.gif) right -250px!important; 
   border-bottom:1px solid transparent; border-bottom:1px none!IE; border-top:none;
   }
.GMSpaceSelectInner { border-left:1px solid #696969; padding-top:5px!important; padding-bottom:3px!important; white-space:nowrap!important; max-height:12px; }
.GMCellSpaceEditButton { vertical-align:top; padding-top:4px!important; border:1px solid black!important; background-color:white!important; }
.GMCellSpaceButtonButton { vertical-align:top; }
.GMCellSpaceButton { vertical-align:top; padding-top:5px!important; white-space:nowrap; }
.GMCellSpaceAbove { border-top:1px solid #9cb6c8; }
.GMCellSpaceBelow { border-bottom:1px solid #9cb6c8; }

.GMCellPanel { background:#D5EAFE url(Backgrounds.gif) no-repeat 0px -1000px; }
.GMCellPanel,.GMCellHeaderPanel { white-space:nowrap; direction:ltr; }
.GMCellFilterPanel { background:url(Backgrounds.gif) repeat-x 0px -505px; text-align:center; padding:0px; border-bottom:0px none; border-right:0px none; direction:ltr; }
.GMCellUser { background-color:#F0F0E0; }
.GMCellEmpty { background: white; border-right:1px solid #e0e0ff; }
.GMCellHeaderEmpty { }
.GMCellHidden { background:transparent!important; border-top:none!important; border-bottom:none!important; }

.GMHeaderButton { padding:0px; }
.GMHeaderGroup { font:13px "Microsoft Sans Serif",Verdana,Arial; background: #7FA9E6; color:White; padding-left:3px; }
.GMHeaderGroupFocus { background-color: #C0C0A0; }
.GMHeaderGroupDelete { background-color: #F0F0E0; color: #F0F0E0; }
.GMHeaderGroupCustom {
   font:italic 11px "Microsoft Sans Serif",Verdana,Arial;
   color:#BBB; padding-left:5px; cursor:default; white-space:nowrap; padding-top:3px;
   }
.GMHeaderDrag { background: #9FB9E9; cursor:default; overflow:hidden; }
.GMHeaderFocus { background: #9FB9E9; }
.GMPanel { padding-left:80px; }
.GMNoTreeLines1 { text-align:right; }
.GMNoTreeLines2 { text-align:right; vertical-align:middle; padding-top:0px; }
.GMNoTreeLines3 { text-align:left; }
.GMTree { padding-top:0px; white-space:nowrap; }
.GMSpannedTree { vertical-align:top; }
.GMCellClassInner { padding-top:0px; padding-bottom:0px; }

/* ------------- Inside cell ------------- */

.GMHtml,.GMText,.GMLines,.GMPass,.GMInt,.GMFloat,.GMDate,.GMLink,.GMImg,.GMRadio,.GMRadioText,.GMList,.GMEnum,.GMDropCols,.GMAbs,.GMPagerEdit,.GMUser,.GMChart {
   font-size:11px; font-family:"Microsoft Sans Serif",Verdana,Arial; white-space:nowrap;
   padding-left:3px; padding-right:3px; padding-top:2px; padding-bottom:2px;
   }  
.GMInt,.GMFloat,.GMDate { text-align:right; }
.GMLines,.GMRadio,.GMHtml,.GMList { white-space:normal; }	
.GMImg,.GMHtml { padding-top:0px; padding-bottom:0px; }
.GMSelect { padding-top:2px; padding-bottom:2px; }
.GMChart { padding:5px!important; }
.GMPass { font-size:14px; padding:0px; padding-left:3px; }
.GMRadio,.GMRadioText { padding:0px; font-weight:normal!important; }
.GMBool { text-align:center; }
.GMIcon { background-repeat:no-repeat; }
.GMHidden { }
.GMHiddenSpace { display:none; }
.GMDropCols { padding-top:2px!important; }
.GMHeaderText { font:13px "Trebuchet MS", Tahoma, Arial; line-height:17px; color:#FFFFFF; padding-left:3px; padding-right:3px; padding-bottom:2px!important; padding-top:3px!important; }
.GMAbs { padding:0px; }
.GMUser { padding:0px; }
.GMPagerEdit { text-align:center; padding-top:3px; }
.GMRightButton { font:10px "Times New Roman"; padding:0px; height:17px; width:19px; margin:0px; }
.GMRightHtml { font:12px "Times New Roman"; }
.GMRightImg { font:12px "Times New Roman"; }
.GMMergedCellH { padding:0px; padding-right:5px; }
.GMMergedCellV { padding:0px; padding-bottom:1px; }

.GMWrap0 { white-space:nowrap; }
.GMWrap1 { white-space:normal; }
.GMAlignLeft { text-align:left; }
.GMAlignCenter { text-align:center; }
.GMAlignJustify { text-align:center; }
.GMAlignRight { text-align:right; }
.GMNoSpaceLeft { border-left:0px none; }
.GMNoSpaceRight { border-right:0px none; }
.GMCellRotate1 { vertical-align:bottom; padding-top:1px; padding-bottom:1px; text-align:left; }
.GMCellRotate2 { vertical-align:top; padding-top:1px; padding-bottom:1px; }
.GMCellRotate3 { vertical-align:middle; padding-top:1px; padding-bottom:1px; }
.GMRotate1IEHeader { background-color:#3780C5; filter: progid:DXImageTransform.Microsoft.Chroma(color='#3780C5') progid:DXImageTransform.Microsoft.BasicImage(rotation=3); overflow:hidden; }
.GMRotate1IE { background-color:#FFFFFF; filter: progid:DXImageTransform.Microsoft.Chroma(color='#FFFFFF') progid:DXImageTransform.Microsoft.BasicImage(rotation=3); overflow:hidden; }
.GMRotate1 { -ms-transform:rotate(-90deg); -moz-transform:rotate(-90deg); -webkit-transform: rotate(-90deg); -o-transform: rotate(-90deg); }
.GMRotate2 { text-align:left; writing-mode:tb-rl; -moz-transform:rotate(-270deg); -webkit-transform: rotate(-270deg); -o-transform: rotate(-270deg); }

/*--------------- Pages type cell ----------------- */

.GMPages { overflow:visible; padding-left:3px; padding-right:3px; padding:0px!important; }
.GMPagesLink,.GMPagesLinkActive {
   padding-left:2px; padding-right:1px; padding-top:2px; padding-bottom:2px; margin-top:2px; margin-bottom:2px;
   display:inline-block; font:11px "Microsoft Sans Serif",Verdana,Arial; cursor:pointer; _cursor:hand; color:blue;
   }
/* The :hover remarkably slows down every grid in IE strict mode
.GMPagesLink:visited { color:blue; } 
.GMPagesLink:hover { color:red; }*/
.GMPagesLinkActive { color:black; font-weight:bold; border:1px dotted black; margin-top:1px; margin-bottom:1px; }

/*--------------- Gantt type cell ----------------- */

.GMGantt { border:0px none; padding:0px; border-right:1px solid #e0e0ff; cursor:default; background:transparent; -webkit-user-select:none; -moz-user-select:none; }
.GMGantt0Out,.GMGantt10Out,.GMGantt90Out,.GMGantt100Out,.GMGanttNullOut,.GMGanttHtmlOut {
   border:1px solid black; margin-top:2px; padding:1px; background:white; overflow:hidden;
   }  
.GMGanttHtmlOut { margin-left:1px; margin-right:1px; }
.GMGanttHoverOut { border:2px solid red; margin-top:1px; margin-left:0px; margin-right:0px; padding:1px; background:white; overflow:hidden; }
.GMGantt10Out { padding-left:0px; border-left:0px none; }
.GMGantt90Out { padding-right:0px; border-right:0px none; }
.GMGantt0In,.GMGantt10In,.GMGantt90In,.GMGantt100In,.GMGanttNullIn,
.GMGantt0InErr,.GMGantt10InErr,.GMGantt90InErr,.GMGantt100InErr,.GMGanttNullInErr, 
.GMGantt0InCrit,.GMGantt10InCrit,.GMGantt90InCrit,.GMGantt100InCrit,.GMGanttNullInCrit { height:9px; overflow:hidden; font-size:1px; background:url(Backgrounds.gif) }
.GMGantt0In {  background-position: 0px -1709px; }
.GMGantt0InErr {  background-position: 0px -1578px; }
.GMGantt0InCrit {  background-position: 0px -1682px; }
.GMGantt10In { background-position: 0px -1695px; }
.GMGantt10InErr { background-position: 0px -1565px; }
.GMGantt10InCrit { background-position: 0px -1669px; }
.GMGantt90In,.GMGantt90InErr,.GMGantt90InCrit { background-position: 0px -1591px; }
.GMGantt100In,.GMGantt100InErr,.GMGantt100InCrit { background-position: 0px -1604px; }
.GMGanttNullIn { background-position: 0px -1643px; }
.GMGanttNullInErr { background-position: 0px -1565px; }
.GMGanttNullInCrit { background-position: 0px -1669px; }
.GMGanttHtmlIn { background:url(Backgrounds.gif) 0px -1617px; overflow:hidden; font-size:9px; font-family:"Microsoft Sans Serif",Verdana,Arial; white-space:nowrap; }
.GMGanttG0In { background-position: 0px -1656px; }
.GMGanttG0InErr { background-position: 0px -1734px; }
.GMGanttG0InCrit { background-position: 0px -1721px; }
.GMGanttG10In { background-position: 0px -1617px; }
.GMGanttG10InErr { background-position: 0px -1734px; }
.GMGanttG10InCrit { background-position: 0px -1721px; }
.GMGanttG90In,.GMGanttG90InErr,.GMGanttG90InCrit { background-position: 0px -1630px; }
.GMGanttG100In,.GMGanttG100InErr,.GMGanttG100InCrit { background-position: 0px -1643px; }
.GMGanttGNullIn { background-position: 0px -1643px; }
.GMGanttGNullInErr { background-position: 0px -1734px; }
.GMGanttGNullInCrit { background-position: 0px -1721px; }
.GMGanttRed0In,.GMGanttRed10In { background:white; } .GMGanttRed90In,.GMGanttRed100In,.GMGanttRedNullIn { background:red; }
.GMGanttBlue0In,.GMGanttBlue10In { background:white; } .GMGanttBlue90In,.GMGanttBlue100In,.GMGanttBlueNullIn { background:blue; }
.GMGanttGreen0In,.GMGanttGreen10In { background:white; } .GMGanttGreen90In,.GMGanttGreen100In,.GMGanttGreenNullIn { background:green; }
.GMGanttFuchsia0In,.GMGanttFuchsia10In { background:white; } .GMGanttFuchsia90In,.GMGanttFuchsia100In,.GMGanttFuchsiaNullIn { background:fuchsia; }
.GMGanttAqua0In,.GMGanttAqua10In { background:white; } .GMGanttAqua90In,.GMGanttAqua100In,.GMGanttAquaNullIn { background:aqua; }
.GMGanttLime0In,.GMGanttLime10In { background:white; } .GMGanttLime90In,.GMGanttLime100In,.GMGanttLimeNullIn { background:lime; }
.GMGanttMaroon0In,.GMGanttMaroon10In { background:white; } .GMGanttMaroon90In,.GMGanttMaroon100In,.GMGanttMaroonNullIn { background:maroon; }
.GMGanttNavy0In,.GMGanttNavy10In { background:white; } .GMGanttNavy90In,.GMGanttNavy100In,.GMGanttNavyNullIn { background:navy; }
.GMGanttOlive0In,.GMGanttOlive10In { background:white; } .GMGanttOlive90In,.GMGanttOlive100In,.GMGanttOliveNullIn { background:olive; }
.GMGanttOrange0In,.GMGanttOrange10In { background:white; } .GMGanttOrange90In,.GMGanttOrange100In,.GMGanttOrangeNullIn { background:orange; }
.GMGanttPurple0In,.GMGanttPurple10In { background:white; } .GMGanttPurple90In,.GMGanttPurple100In,.GMGanttPurpleNullIn { background:purple; }
.GMGanttSilver0In,.GMGanttSilver10In { background:white; } .GMGanttSilver90In,.GMGanttSilver100In,.GMGanttSilverNullIn { background:silver; }
.GMGanttTeal0In,.GMGanttTeal10In { background:white; } .GMGanttTeal90In,.GMGanttTeal100In,.GMGanttTealNullIn { background:teal; }
.GMGanttYellow0In,.GMGanttYellow10In { background:white; } .GMGanttYellow90In,.GMGanttYellow100In,.GMGanttYellowNullIn { background:yellow; }
.GMGanttBlack0In,.GMGanttBlack10In { background:white; } .GMGanttBlack90In,.GMGanttBlack100In,.GMGanttBlackNullIn { background:black; }
.GMGanttGray0In,.GMGanttGray10In { background:white; } .GMGanttGray90In,.GMGanttGray100In,.GMGanttGrayNullIn { background:gray; }
.GMGanttWhite0In,.GMGanttWhite10In,.GMGanttWhite90In,.GMGanttWhite100In,.GMGanttWhiteNullIn { background:white; } 
.GMGanttWhite90In { border-right:1px solid black; margin-right:1px; } .GMGanttWhite10In { border-left:1px solid black; }
.GMGanttOutLeft,.GMGanttOutRight,.GMGanttHtmlOutLeft,.GMGanttHtmlOutRight { background:url(Gantt.gif) no-repeat -293px 0px; width:20px; height:16px; overflow:hidden; }
.GMGanttOutRight { background-position: -353px 0px; }
.GMGanttHtmlOutLeft { background-position: -292px 0px; }
.GMGanttHtmlOutRight { background-position: -354px 0px; }
.GMGanttCustomOutLeft,.GMGanttCustomOutRight { height:16px; overflow:hidden; background-repeat:no-repeat; }

.GMGanttFlowOut,.GMGanttFlowHtmlOut { margin-top:6px; border:1px solid black; overflow:hidden; }
.GMGanttFlowHtmlOut { margin-left:1px; margin-right:1px; }
.GMGanttFlowHover { margin-top:5px; border:2px solid red; margin-left:0px; margin-right:0px; overflow:hidden; }  
.GMGanttFlowIn,.GMGanttFlowInErr,.GMGanttFlowInCrit { height:3px; overflow:hidden; background:yellow; font-size:1px; }
.GMGanttGFlowIn { background:white; }
.GMGanttFlowInErr { background:#F55; }
.GMGanttFlowInCrit { background:#FA0; }
.GMGanttFlowHtmlIn { background:yellow; overflow:hidden; font-size:9px; font-family:"Microsoft Sans Serif",Verdana,Arial; white-space:nowrap; }

.GMFGanttBase { height:11px; margin:1px; border:1px solid; padding:1px; padding-left:2px; padding-right:2px; overflow:hidden; }
.GMFGanttRunEmpty,.GMFGanttRunBox,.GMFGanttRunSolid,.GMFGanttRunLeft,.GMFGanttRunRight,.GMFGanttRunFixed,.GMFGanttRunComplete,
.GMFGanttRunBound,.GMFGanttRunBoundStart,.GMFGanttRunEnd,.GMFGanttRunEndStart,.GMFGanttRunNbsp {
   border:1px solid black; padding:1px; padding-left:2px; padding-right:2px; overflow:hidden; font:10px Arial; white-space:nowrap;
   }
.GMFGanttRunGroupHover { border:2px solid #fa4 !important; padding:0px!important; padding-left:1px!important;padding-right:1px!important; overflow:hidden; }
.GMFGanttRunHover { border:2px solid red!important; padding:0px!important; padding-left:1px!important;padding-right:1px!important; overflow:hidden; }
.GMFGanttRunEmpty { border:none; padding:2px; padding-left:3px; padding-right:3px; }
.GMFGanttRunNbsp { border:none; border-top:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; padding-left:3px; padding-right:3px; }
.GMFGanttRunBox { background:url(Backgrounds.gif) left -1500px; }
.GMFGanttRunSolid { background:url(Backgrounds.gif) left -1539px; }
.GMFGanttRunFixed,.GMFGanttRunLeft,.GMFGanttRunBound,.GMFGanttRunBoundStart { border-left-style:solid!important; border-left-width:3px!important; padding-left:0px!important;}
.GMFGanttRunFixed,.GMFGanttRunRight,.GMFGanttRunBound,.GMFGanttRunBoundStart { border-right-style:solid!important; border-right-width:3px!important; padding-right:0px!important; }
.GMFGanttRunFixed,.GMFGanttRunLeft,.GMFGanttRunRight { background:url(Backgrounds.gif) left -1526px; }
.GMFGanttRunBound,.GMFGanttRunBoundStart,.GMFGanttRunEnd,.GMFGanttRunEndStart { background:url(Backgrounds.gif) left -1747px; }
.GMFGanttRunComplete { background:url(Backgrounds.gif) left -1513px; }

.GMGanttRunGroupHover { margin:0px!important; border:2px solid #fa4!important; padding:1px!important; overflow:hidden; }  
.GMGanttRunHover { margin:0px!important; border:2px solid red!important; padding:1px!important; overflow:hidden; }  
.GMGanttRunEmptyOut,.GMGanttRunBoxOut,.GMGanttRunSolidOut,.GMGanttRunLeftOut,.GMGanttRunRightOut,.GMGanttRunFixedOut,.GMGanttRunCompleteOut,
.GMGanttRunBoundOut,.GMGanttRunBoundStartOut,.GMGanttRunEndOut,.GMGanttRunEndStartOut,.GMGanttRunNbspOut {
   margin-top:1px; border:1px solid black; margin-left:1px; margin-right:1px; overflow:hidden; padding:1px;
   }
.GMGanttRunEmptyIn,.GMGanttRunBoxIn,.GMGanttRunSolidIn,.GMGanttRunLeftIn,.GMGanttRunRightIn,.GMGanttRunFixedIn,
.GMGanttRunBoundIn,.GMGanttRunBoundStartIn,.GMGanttRunEndIn,.GMGanttRunEndStartIn,.GMGanttRunNbspIn,.GMGanttRunCompleteIn {
   height:11px; overflow:hidden; font:10px Arial; padding-left:1px; width:100%!IE; white-space:nowrap;
   }
.GMGanttRunEmptyOut { border:none; }
.GMGanttRunEmptyIn { }
.GMGanttRunNbspOut { border:none; border-top:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; margin-left:0px; margin-right:0px; }
.GMGanttRunNbspIn { }
.GMGanttRunBoxOut { }
.GMGanttRunBoxIn { background:url(Backgrounds.gif) left -1500px; }
.GMGanttRunSolidOut { }
.GMGanttRunSolidIn { background:url(Backgrounds.gif) left -1539px; }
.GMGanttRunFixedOut,.GMGanttRunLeftOut,.GMGanttRunBoundOut,.GMGanttRunBoundStartOut { border-left-style:solid!important; border-left-width:3px!important; margin-left:0px;}
.GMGanttRunFixedOut,.GMGanttRunRightOut,.GMGanttRunBoundOut,.GMGanttRunBoundStartOut { border-right-style:solid!important; border-right-width:3px!important; }
.GMGanttRunFixedIn,.GMGanttRunLeftIn,.GMGanttRunRightIn { background:url(Backgrounds.gif) left -1526px; }
.GMGanttRunBoundOut,.GMGanttRunBoundStartOut,.GMGanttRunEndOut,.GMGanttRunEndStartOut { }
.GMGanttRunBoundIn,.GMGanttRunBoundStartIn,.GMGanttRunEndIn,.GMGanttRunEndStartIn { background:url(Backgrounds.gif) left -1747px; }
.GMGanttRunCompleteOut { }
.GMGanttRunCompleteIn { background:url(Backgrounds.gif) left -1513px; }
.GMGanttRunRedIn,.GMGanttRunBlueIn,.GMGanttRunGreenIn,.GMGanttRunFuchsiaIn,.GMGanttRunAquaIn,.GMGanttRunLimeIn,.GMGanttRunMaroonIn,
.GMGanttRunNavyIn,.GMGanttRunOliveIn,.GMGanttRunOrangeIn,.GMGanttRunPurpleIn,.GMGanttRunSilverIn,.GMGanttRunTealIn,.GMGanttRunYellowIn,
.GMGanttRunBlackIn,.GMGanttRunGrayIn,.GMGanttRunWhiteIn { }
.GMGanttRunRedIn,.GMFGanttRunRed { background:red; }
.GMGanttRunBlueIn,.GMFGanttRunBlue { background:blue; color:white; }
.GMGanttRunGreenIn,.GMFGanttRunGreen { background:green; color:white; }
.GMGanttRunFuchsiaIn,.GMFGanttRunFuchsia { background:fuchsia; }
.GMGanttRunAquaIn,.GMFGanttRunAqua { background:aqua; }
.GMGanttRunLimeIn,.GMFGanttRunLime { background:lime; }
.GMGanttRunMaroonIn,.GMFGanttRunMaroon { background:maroon; color:white; }
.GMGanttRunNavyIn,.GMFGanttRunNavy { background:navy; color:white; }
.GMGanttRunOliveIn,.GMFGanttRunOlive { background:olive; color:white; }
.GMGanttRunOrangeIn,.GMFGanttRunOrange { background:orange; }
.GMGanttRunPurpleIn,.GMFGanttRunPurple { background:purple; color:white; }
.GMGanttRunSilverIn,.GMFGanttRunSilver { background:silver; }
.GMGanttRunTealIn,.GMFGanttRunTeal { background:teal; color:white; }
.GMGanttRunYellowIn,.GMFGanttRunYellow { background:yellow; }
.GMGanttRunBlackIn,.GMFGanttRunBlack { background:black; color:white; }
.GMGanttRunGrayIn,.GMFGanttRunGray { background:gray; color:white; }
.GMGanttRunWhiteIn,.GMFGanttRunWhite { background:white; }
.GMGanttRunErrorIn,.GMFGanttRunError { background:url(Backgrounds.gif) left -1552px; opacity:0.7; filter:alpha(opacity=70); }
.GMFGanttRunErrorIE { background:url(Backgrounds.gif) left -1552px; filter:alpha(opacity=70); }
.GMGanttRunCritIn,.GMFGanttRunCrit { background:url(Backgrounds.gif) left -1760px;  }
.GMGanttRunErrIn,.GMFGanttRunErr { background:url(Backgrounds.gif) left -1773px;  }
.GMGanttRunJoinLeft,.GMFGanttRunJoinLeft { border-left-style:dotted; border-left-color:red; }
.GMGanttRunJoinRight,.GMFGanttRunJoinRight { border-right-style:dotted; border-right-color:red; }
.GMGanttRunMoveOut { border:2px solid #DDD; margin:0px; padding:0px; }
.GMGanttRunMoveIn { background:#F0F0F0; color:black; }
.GMGanttRunRemoveOut { border:2px solid #DDD; margin:0px; padding:0px; }
.GMGanttRunRemoveIn { background:red; color:black; }
.GMGanttRunCopyOut { border:2px solid blue; margin:0px; padding:0px; }
.GMGanttRunCopyIn { }
.GMGanttRunUnknownIn,.GMFGanttRunUnknown { background:black; color:White; font:bold 12px verdana;}

.GMFGanttRunMove { border:2px solid #DDD; padding:0px; padding-left:1px; padding-right:1px; background:#F0F0F0; color:black; }
.GMFGanttRunRemove { border:2px solid #DDD; padding:0px; padding-left:1px; padding-right:1px; background:red; color:black; }
.GMFGanttRunCopy { border:2px solid blue; padding:0px; padding-left:1px; padding-right:1px; }

.GMGanttMilestone,.GMGanttMilestone0,.GMGanttMilestone100,
.GMGanttMilestoneCrit,.GMGanttMilestone0Crit,.GMGanttMilestone100Crit,
.GMGanttMilestoneErr,.GMGanttMilestone0Err,.GMGanttMilestone100Err { 
   background:url(Gantt.gif) no-repeat; width:17px; height:17px; overflow:hidden; 
   }
.GMGanttMilestone { background-position: -900px 0px; }
.GMGanttMilestoneHover { background-position: -950px 0px; }
.GMGanttMilestone0 { background-position: -1100px 0px; }
.GMGanttMilestone0Hover { background-position: -1150px 0px; }
.GMGanttMilestone100,.GMGanttMilestone100Crit,.GMGanttMilestone100Err { background-position: -1800px 0px; }
.GMGanttMilestone100Hover,.GMGanttMilestone100CritHover,.GMGanttMilestone100CritHover { background-position: -1850px 0px; }
.GMGanttMilestoneCrit,.GMGanttMilestone0Crit { background-position:-1700px 0px; }
.GMGanttMilestoneCritHover,.GMGanttMilestone0CritHover { background-position: -1750px 0px; }
.GMGanttMilestoneErr,.GMGanttMilestone0Err { background-position:-1000px 0px; }
.GMGanttMilestoneErrHover,.GMGanttMilestone0ErrHover { background-position: -1050px 0px; }
.GMGanttGMilestone,.GMGanttGMilestone100,.GMGanttGMilestone100Crit,.GMGanttGMilestone100Err { background-position: 0px 0px; }
.GMGanttGMilestoneHover,.GMGanttGMilestone100Hover,.GMGanttGMilestone100CritHover,.GMGanttGMilestone100ErrHover { background-position: -50px 0px; }
.GMGanttGMilestone0 { background-position: -1600px 0px; }
.GMGanttGMilestone0Hover { background-position: -1650px 0px; }
.GMGanttGMilestoneCrit,.GMGanttGMilestone0Crit { background-position:-1400px 0px; }
.GMGanttGMilestoneCritHover,.GMGanttGMilestone0CritHover { background-position: -1450px 0px; }
.GMGanttGMilestoneErr,.GMGanttGMilestone0Err { background-position:-1300px 0px; }
.GMGanttGMilestoneErrHover,.GMGanttGMilestoneErr0Hover { background-position: -1350px 0px; }

.GMGanttFlag { background:url(Gantt.gif) no-repeat -100px 0px; background-color:transparent!important; width:16px; height:15px; overflow:hidden; }
.GMGanttFlagCustom { background-position:0px 0px!important; background-repeat:no-repeat; width:16px; height:15px; overflow:hidden; }
.GMGanttFlagHover { background-position:-150px 0px; background-color:red; }
.GMGanttFlagMenu { padding-right:16px; padding-bottom:256px; font:15px Arial; background-repeat:no-repeat; }

.GMGanttMark,.GMGanttMark1,.GMGanttMark2,.GMGanttMark3,.GMGanttMark4,.GMGanttMark5,.GMGanttMark15 { height:500px; overflow:hidden; background:#880; }
.GMGanttMarkImg { height:500px; overflow:hidden; }
.GMGanttMark1 { background:red; }
.GMGanttMark2 { background:green; }
.GMGanttMark3 { background:yellow; }
.GMGanttMark4 { background:black; }
.GMGanttMark5 { background:silver; }
.GMGanttMark6 { background:#F8F; margin-top:14px!important; height:2px!important; margin-bottom:-16px!important; }
.GMGanttMark7 { background:#0F0; margin-top:14px!important; height:2px!important; margin-bottom:-16px!important; }
.GMGanttMark8 { background:silver; margin-top:14px!important; height:2px!important; margin-bottom:-16px!important; }
.GMGanttMark9 { background:#F8F; margin-top:2px!important; height:2px!important; margin-bottom:-4px!important; }
.GMGanttMark10 { background:#0F0; margin-top:2px!important; height:2px!important; margin-bottom:-4px!important; }
.GMGanttMark11 { background:silver; margin-top:2px!important; height:2px!important; margin-bottom:-4px!important; }
.GMGanttMark12 { background:#F8F; margin-top:8px!important; height:1px!important; margin-bottom:-9px!important; }
.GMGanttMark13 { background:#0F0; margin-top:8px!important; height:1px!important; margin-bottom:-9px!important; }
.GMGanttMark14 { background:silver; margin-top:8px!important; height:1px!important; margin-bottom:-9px!important; }
.GMGanttMark15 { background:#FF00FF; }

.GMGanttPoint1,.GMGanttPoint2,.GMGanttPoint3,.GMGanttPoint4,.GMGanttPoint5,.GMGanttPoint6,.GMGanttPoint7,.GMGanttPoint8 {
   background:url(Gantt.gif) no-repeat; width:17px; height:17px; overflow:hidden; 
   }
.GMGanttPointCustom { background-position:0px 0px!important; background-repeat:no-repeat; width:17px; height:17px; overflow:hidden; }  
.GMGanttPointCustomHover { background-color:red; }
.GMGanttPoint1 { background-position:-900px 0px; }
.GMGanttPoint1Hover { background-position: -950px 0px; }
.GMGanttPoint2 { background-position:-1000px 0px; }
.GMGanttPoint2Hover { background-position:-1050px 0px; }
.GMGanttPoint3 { background-position:-1100px 0px; }
.GMGanttPoint3Hover { background-position:-1150px 0px; }
.GMGanttPoint4 { background-position:-1200px 0px; }
.GMGanttPoint4Hover { background-position:-1250px 0px; }
.GMGanttPoint5 { background-position:-1300px 0px; }
.GMGanttPoint5Hover { background-position:-1350px 0px; }
.GMGanttPoint6 { background-position:-1400px 0px; }
.GMGanttPoint6Hover { background-position:-1450px 0px; }
.GMGanttPoint7 { background-position:-1500px 0px; }
.GMGanttPoint7Hover { background-position:-1550px 0px; }
.GMGanttPoint8 { background-position:-1600px 0px; }
.GMGanttPoint8Hover { background-position:-1650px 0px; }

.GMGanttResource { font:bold 12px "Times New Roman"; margin-top:1px; }
.GMGanttResourceChar { width:6px; }

.GMGanttAvailability { height:500px; background:#ACF; border:1px solid #88F; border-bottom:0px none; }
.GMGanttAvailabilityNeg { height:500px; background:#FCA; border:1px solid #F88; border-top:0px none; }
.GMGanttAvailabilityText,.GMGanttAvailabilityTextNeg { color:blue; background:none!important; text-align:center; font:bold 12px Arial; overflow:visible!important; white-space:nowrap; }
.GMGanttAvailabilityTextNeg { color:red; }
.GMGanttAvailabilityAxis { background:#CCC; }
.GMGanttAvailabilityTransparent { opacity:0.7; filter:alpha(opacity=70); }
.GMGanttAvailabilityRed { color:red; background:#F88; border-color:red; }
.GMGanttAvailabilityMaroon { color:maroon; background:#B77; border-color:maroon; }
.GMGanttAvailabilityOrange { color:orange; background:#FD8; border-color:orange; }
.GMGanttAvailabilityYellow { color:#CC0; background:#FF6; border-color:#CC0; }
.GMGanttAvailabilityOlive { color:olive; background:#CC8; border-color:olive; }
.GMGanttAvailabilityLime { color:#0D0; background:#8F8; border-color:#0D0; }
.GMGanttAvailabilityGreen { color:green; background:#6C6; border-color:green; }
.GMGanttAvailabilityAqua { color:#8DD; background:#8FF; border-color:#8DD; }
.GMGanttAvailabilityTeal { color:teal; background:#6CC; border-color:teal; }
.GMGanttAvailabilityBlue { color:blue; background:#99F; border-color:blue; }
.GMGanttAvailabilityNavy { color:navy; background:#66C; border-color:navy; }
.GMGanttAvailabilityFuchsia { color:fuchsia; background:#F8F; border-color:fuchsia; }
.GMGanttAvailabilityPurple { color:purple; background:#C6C; border-color:purple; }
.GMGanttAvailabilityBlack { color:#AAA; background:black; border-color:#AAA; }
.GMGanttAvailabilityGray { color:gray; background:#AAA; border-color:gray; }
.GMGanttAvailabilitySilver { color:silver; background:#DDD; border-color:silver; }
.GMGanttAvailabilityWhite { color:#CCC; background:#F8F8F8; border-color:#CCC; }
.GMGanttAvailabilityNB { border-top:0px none; border-bottom:0px none; }

.GMGanttDepFirst { height:500px; overflow:hidden; }
.GMGanttDepVert,.GMGanttDepVertBottom,.GMGanttDepVertTop,.GMGanttDepVertBottom2,.GMGanttDepVertTop2,.GMGanttDepVertBottom3 {
   border-left:1px solid #DDF; border-right:1px solid #BBF; background:blue; width:1px; overflow:hidden;
   }
.GMGanttDepVert { margin-top:-500px; height:500px; }
.GMGanttDepVertTop { margin-top:-500px; height:8px; margin-bottom:492px; }
.GMGanttDepVertTop2 { margin-top:-499px; height:7px; margin-bottom:492px; }
.GMGanttDepVertBottom { margin-top:-491px; height:491px; }
.GMGanttDepVertBottom2 { margin-top:-491px; height:8px; margin-bottom:483px; }
.GMGanttDepVertBottom3 { margin-top:-482px; height:482px; }
.GMGanttDepHorzIn { border-top:1px solid #DDF; border-bottom:1px solid #BBF; background:blue; margin-top:7px; overflow:hidden; }
.GMGanttDepHorzInLag { border-top:1px dotted blue; margin-top:8px; overflow:hidden; }
.GMGanttDepHorzTop { border-bottom:1px solid #BBF; background:blue; overflow:hidden; }
.GMGanttDepHorzBottom { border-top:1px solid #DDF; background:blue; margin-top:16px; overflow:hidden; }
.GMGanttDepHorzOut { margin-top:-500px; height:18px; margin-bottom:482px; overflow:hidden; font-size:1px; line-height:1px; }
.GMGanttDepErr { border-top-color:#FDD; border-bottom-color:#FBB; border-left-color:#FDD; border-right-color:#FBB; background:red; }
.GMGanttDepLagErr { border-color:red; }
.GMGanttDepIcon { margin-top:-500px; height:500px; overflow:hidden; }
.GMGanttDepArrowLeft,.GMGanttDepArrowRight,.GMGanttDepArrowErrLeft,.GMGanttDepArrowErrRight,
.GMGanttDepArrowLeftRtl,.GMGanttDepArrowRightRtl,.GMGanttDepArrowErrLeftRtl,.GMGanttDepArrowErrRightRtl {
   height:500px; background:url(Gantt.gif) no-repeat; overflow:hidden; 
   }
.GMGanttDepArrowLeft { background-position:-200px 0px; width:12px; }
.GMGanttDepArrowRight { background-position:-250px 0px; width:12px; }
.GMGanttDepArrowErrLeft { background-position:-400px 0px; width:12px; }
.GMGanttDepArrowErrRight { background-position:-450px 0px; width:12px; }
.GMGanttDepArrowLeftRtl { background-position:-250px 0px; width:12px; }
.GMGanttDepArrowRightRtl { background-position:-201px 0px; width:12px; }
.GMGanttDepArrowErrLeftRtl { background-position:-450px 0px; width:12px; }
.GMGanttDepArrowErrRightRtl { background-position:-401px 0px; width:12px; }

.GMGanttDepStart { width:4px; overflow:hidden; }
.GMGanttDepEnd { width:10px; overflow:hidden; }

.GMGanttMinStart,.GMGanttMaxStart,.GMGanttMinEnd,.GMGanttMaxEnd { background:url(Gantt.gif) no-repeat; width:7px; height:17px; overflow:hidden; }
.GMGanttMinStart { background-position:-500px 0px; }
.GMGanttMaxStart { background-position:-550px 0px; }
.GMGanttMinEnd { background-position:-600px 0px; }
.GMGanttMaxEnd { background-position:-650px 0px; }
.GMGanttMinStartHover { background-position:-700px 0px; }
.GMGanttMaxStartHover { background-position:-750px 0px; }
.GMGanttMinEndHover { background-position:-800px 0px; }
.GMGanttMaxEndHover { background-position:-850px 0px; }

.GMGanttBack { }
.GMGanttBackRow { background:white; }
.GMGanttBack0,.GMGanttBack1,.GMGanttBack2,.GMGanttBack3,.GMGanttBack4,.GMGanttBack5 { 
   height:500px; overflow:hidden; margin-left:auto; margin-right:auto; 
   }
.GMGanttBack0 { background:#FFF; }
.GMGanttBack1 { background:#E8E8E8; }
.GMGanttBack2 { background:#DDD; }
.GMGanttBack3 { background:#BBB; }
.GMGanttBack4 { background:#C72; }
.GMGanttBack5 { background:#27C; }

.GMGanttExclude,.GMGanttExcludeHidden { height:500px; overflow:hidden; background:#E8F8E8; margin-left:auto; margin-right:auto; }
.GMGanttExcludeHidden { background:#D8F8D8; }

.GMGanttBase,.GMGanttBaseAuto,.GMGanttFinish,.GMGanttFinishAuto { height:500px; overflow:hidden; border-left:2px solid #FF9E0C; width:2px; margin-left:auto; margin-right:auto; }
.GMGanttFinishAuto,.GMGanttBaseAuto { border-left:1px solid #FF9E0C; }

.GMGanttHeader {  margin-left:-2px; margin-right:-4px; }
.GMGanttHeader1,.GMGanttHeader2,.GMGanttHeader3,.GMGanttHeader4,.GMGanttHeader5 {
   font:12px "Trebuchet MS", Tahoma, Arial; color:#FFFFFF; white-space:nowrap;
   border-right:1px solid white; text-align:center; padding-left:1px; padding-right:1px;
   }

/* ------------- Tree Img with lines ------------- */

.GM000,.GM010,.GM001,.GM011,.GM100,.GM110,.GM101,.GM111, 
.GM000T,.GM010T,.GM001T,.GM011T,.GM100T,.GM110T,.GM101T,.GM111T,
.GM00,.GM01,.GM10,.GM11,
.GM00T,.GM01T,.GM10T,.GM11T,
.GM0T,.GM1T,.GM0TL,.GM1TL,.GM0C,.GM1C,.GM0CL,.GM1CL,.GM0E,.GM1E,.GM0EL,.GM1EL,
.GM0,.GM1,
.GMT,.GMTL,.GMC,.GMCL,.GME,.GMEL,.GMD0,.GMD1,.GMD2,.GMD3,.GMD4,.GMD0L,.GMD1L,.GMD2L,.GMD3L,.GMD4L {   
   font-size:10px; background-image:url(Tree.gif); vertical-align:top;
   }

u.GM000,u.GM010,u.GM001,u.GM011,u.GM100,u.GM110,u.GM101,u.GM111 { padding-left:63px; }
u.GM000T,u.GM010T,u.GM001T,u.GM011T,u.GM100T,u.GM110T,u.GM101T,u.GM111T { padding-left:89px; }
u.GM00,u.GM01,u.GM10,u.GM11 { padding-left:42px; }   
u.GM00T,u.GM01T,u.GM10T,u.GM11T { padding-left:68px; }   
u.GM0T,u.GM1T,u.GM0TL,u.GM1TL,u.GM0C,u.GM1C,u.GM0CL,u.GM1CL,u.GM0E,u.GM1E,u.GM0EL,u.GM1EL { padding-left:47px; }   
u.GM0,u.GM1 { padding-left:21px; }
u.GMT,u.GMTL,u.GMC,u.GMCL,u.GME,u.GMEL,u.GMD0,u.GMD1,u.GMD2,u.GMD3,u.GMD4,u.GMD0L,u.GMD1L,u.GMD2L,u.GMD3L,u.GMD4L { padding-left:26px; }   

.GM000,.GM000T { background-position:0px 0px; }
.GM010,.GM010T { background-position:-128px 0px; }
.GM001,.GM001T { background-position:-256px 0px; }
.GM011,.GM011T { background-position:-384px 0px; }
.GM100,.GM100T { background-position:-512px 0px; }
.GM110,.GM110T { background-position:-640px 0px; }
.GM101,.GM101T { background-position:-768px 0px; }
.GM111,.GM111T { background-position:-896px 0px; }

.GM00,.GM00T { background-position:-21px 0px; }
.GM10,.GM10T { background-position:-149px 0px; }
.GM01,.GM01T { background-position:-277px 0px; }
.GM11,.GM11T { background-position:-405px 0px; }

.GM0,.GM0T { background-position:-42px 0px; }
.GM1,.GM1T { background-position:-298px 0px; }

.GMT { background-position:-63px 0px; }

.GM0TL { background-position:-1024px 0px; }
.GM1TL { background-position:-1088px 0px; }
.GM0C { background-position:-1152px 0px; }
.GM1C { background-position:-1216px 0px; }
.GM0CL { background-position:-1280px 0px; }
.GM1CL { background-position:-1344px 0px; }
.GM0E { background-position:-1408px 0px; }
.GM1E { background-position:-1472px 0px; }
.GM0EL { background-position:-1536px 0px; }
.GM1EL { background-position:-1600px 0px; }

.GMTL { background-position:-1045px 0px; }
.GMC { background-position:-1173px 0px; }
.GMCL { background-position:-1301px 0px; }
.GME { background-position:-1429px 0px; }
.GMEL { background-position:-1557px 0px; }

.GMD0 { background-position:-1664px 0px; }
.GMD1 { background-position:-1696px 0px; }
.GMD2 { background-position:-1728px 0px; }
.GMD3 { background-position:-1760px 0px; }
.GMD0L { background-position:-1792px 0px; }
.GMD1L { background-position:-1824px 0px; }
.GMD2L { background-position:-1856px 0px; }
.GMD3L { background-position:-1888px 0px; }
.GMD4 { background-position:-1920px 0px; }
.GMD4L { background-position:-1952px 0px; }

/* ------------- Tree Img without lines ------------- */

.GMND0,.GMND1,.GMND2,.GMND3,.GMND4,.GMNC,.GMNE,.GMNCR,.GMNER { font-size:10px; background-image:url(TreeN.gif); background-repeat:no-repeat; vertical-align:top; }
u.GMND0,u.GMND1,u.GMND2,u.GMND3,u.GMND4,u.GMNC,u.GMNE,u.GMNCR,u.GMNER { padding-left:20px; }
.GMND0 { background-position: -6px 0px; }
.GMND1 { background-position: -56px 0px; }
.GMND2 { background-position: -106px 0px; }
.GMND3 { background-position: -156px 0px; }
.GMND4 { background-position: -206px 0px; }
.GMNC { background-position:right -50px;}
.GMNE { background-position:right -2000px;}
.GMNCR { background-position:-255px -50px;}
.GMNER { background-position:-255px -2000px;}
u.GMNL { padding-left:21px; }

/* ------------- Panel img ------------- */

.GMPanelImage,.GMPanelMove,.GMPanelMoveOff,.GMPanelSelect,.GMPanelSelectOn,.GMPanelSelectOff,.GMPanelDelete,.GMPanelDeleteOff,.GMPanelCopy,.GMPanelCopyOff,.GMPanelEmpty {
   font-size:10px; padding-left:16px; background-image:url(Panel.gif); background-repeat:no-repeat;
   }
.GMPanelEmpty { background:none; }   
.GMPanelMove { background-position: 0px 0px; }
.GMPanelMoveOff { background-position: -50px 0px; }
.GMPanelSelect { background-position: -100px 0px; }
.GMPanelSelectOn { background-position: -150px 0px; }
.GMPanelSelectOff { background-position: -200px 0px; }
.GMPanelDelete { background-position: -250px 0px; }
.GMPanelDeleteOff { background-position: -300px 0px; }
.GMPanelCopy { background-position: -350px 0px; }
.GMPanelCopyOff { background-position: -400px 0px; }
.GMPanelButton { font:10px "Microsoft Sans Serif",Verdana,Arial; padding:0px; height:17px; width:19px; margin:0px; cursor:pointer; _cursor:hand; }

/* ------------- Fast Panel img ------------- */

.GMP1111,.GMP1211,.GMP1011,.GMP1101,.GMP1201,.GMP1001,.GMP1110,.GMP1210,.GMP1010,.GMP1100,.GMP1200,.GMP1000,
.GMP0111,.GMP0211,.GMP0011,.GMP0101,.GMP0201,.GMP0001,.GMP0110,.GMP0210,.GMP0010,.GMP0100,.GMP0200,.GMP0000, 
.GMP111x,.GMP121x,.GMP101x,.GMP110x,.GMP120x,.GMP100x,.GMP011x,.GMP021x,.GMP001x,.GMP010x,.GMP020x,.GMP000x,
.GMP11xx,.GMP12xx,.GMP10xx,.GMP01xx,.GMP02xx,.GMP00xx,
.GMPx111,.GMPx211,.GMPx011,.GMPx101,.GMPx201,.GMPx001,.GMPx110,.GMPx210,.GMPx010,.GMPx100,.GMPx200,.GMPx000,
.GMPx11x,.GMPx21x,.GMPx01x,.GMPx10x,.GMPx20x,.GMPx00x,
.GMPxx11,.GMPxx10,.GMPxx01,.GMPxx00, 
.GMPxxx1,.GMPxxx0,.GMPxx1x,.GMPxx0x,.GMPx2xx,.GMPx1xx,.GMPx0xx,.GMP1xxx,.GMP0xxx {
   font-size:10px; background-image:url(FastPanel1.gif); background-repeat:no-repeat;
   }
.GMP1111,.GMP111x,.GMP11xx,.GMP1xxx { background-position:0px 0px; }
.GMP1211,.GMP121x,.GMP12xx { background-position:-80px 0px; }
.GMP1011,.GMP101x,.GMP10xx { background-position:-160px 0px; }
.GMP1101,.GMP110x { background-position:-240px 0px; }
.GMP1201,.GMP120x { background-position:-320px 0px; }
.GMP1001,.GMP100x { background-position:-400px 0px; }
.GMP1110 { background-position:-480px 0px; }
.GMP1210 { background-position:-560px 0px; }
.GMP1010 { background-position:-640px 0px; }
.GMP1100 { background-position:-720px 0px; }
.GMP1200 { background-position:-800px 0px; }
.GMP1000 { background-position:-880px 0px; }
.GMP0111,.GMP011x,.GMP01xx,.GMP0xxx { background-position:-960px 0px; }
.GMP0211,.GMP021x,.GMP02xx { background-position:-1040px 0px; }
.GMP0011,.GMP001x,.GMP00xx { background-position:-1120px 0px; }
.GMP0101,.GMP010x { background-position:-1200px 0px; }
.GMP0201,.GMP020x { background-position:-1280px 0px; }
.GMP0001,.GMP000x { background-position:-1360px 0px; }
.GMP0110 { background-position:-1440px 0px; }
.GMP0210 { background-position:-1520px 0px; }
.GMP0010 { background-position:-1600px 0px; }
.GMP0100 { background-position:-1680px 0px; }
.GMP0200 { background-position:-1760px 0px; }
.GMP0000 { background-position:-1840px 0px; }

.GMPx111,.GMPx11x,.GMPx1xx { background-position:-15px 0px; }
.GMPx211,.GMPx21x,.GMPx2xx { background-position:-95px 0px; }
.GMPx011,.GMPx01x,.GMPx0xx { background-position:-175px 0px; }
.GMPx101,.GMPx10x { background-position:-255px 0px; }
.GMPx201,.GMPx20x { background-position:-335px 0px; }
.GMPx001,.GMPx00x { background-position:-415px 0px; }
.GMPx110 { background-position:-495px 0px; }
.GMPx210 { background-position:-575px 0px; }
.GMPx010 { background-position:-655px 0px; }
.GMPx100 { background-position:-735px 0px; }
.GMPx200 { background-position:-815px 0px; }
.GMPx000 { background-position:-895px 0px; }

.GMPxx11,.GMPxx1x { background-position:-31px 0px; }
.GMPxx01,.GMPxx0x { background-position:-271px 0px; }
.GMPxx10{ background-position:-511px 0px; }
.GMPxx00 { background-position:-751px 0px; }

.GMPxxx1 { background-position:-48px 0px; }
.GMPxxx0 { background-position:-528px 0px; }

.GMP11x1,.GMP12x1,.GMP10x1,.GMP11x0,.GMP12x0,.GMP10x0,.GMP01x1,.GMP02x1,.GMP00x1,.GMP01x0,.GMP02x0,.GMP00x0,
.GMPx1x1,.GMPx2x1,.GMPx0x1,.GMPx1x0,.GMPx2x0,.GMPx0x0,
.GMP1x11,.GMP1x01,.GMP1x10,.GMP1x00,.GMP0x11,.GMP0x01,.GMP0x10,.GMP0x00,
.GMP1x1x,.GMP1x0x,.GMP0x1x,.GMP0x0x,
.GMP1xx1,.GMP1xx0,.GMP0xx1,.GMP0xx0 {
   font-size:11px; background-image:url(FastPanel2.gif); background-repeat:no-repeat;
   }
.GMP11x1 { background-position:0px 0px; }
.GMP12x1 { background-position:-80px 0px; }
.GMP10x1 { background-position:-160px 0px; }
.GMP11x0 { background-position:-240px 0px; }
.GMP12x0 { background-position:-320px 0px; }
.GMP10x0 { background-position:-400px 0px; }
.GMP01x1 { background-position:-480px 0px; }
.GMP02x1 { background-position:-560px 0px; }
.GMP00x1 { background-position:-640px 0px; }
.GMP01x0 { background-position:-720px 0px; }
.GMP02x0 { background-position:-800px 0px; }
.GMP00x0 { background-position:-880px 0px; }

.GMPx1x1 { background-position:-15px 0px; }
.GMPx2x1 { background-position:-95px 0px; }
.GMPx0x1 { background-position:-175px 0px; }
.GMPx1x0 { background-position:-255px 0px; }
.GMPx2x0 { background-position:-335px 0px; }
.GMPx0x0 { background-position:-415px 0px; }

.GMP1x11,.GMP1x1x { background-position:-960px 0px; }
.GMP1x01,.GMP1x0x { background-position:-1040px 0px; }
.GMP1x10 { background-position:-1120px 0px; }
.GMP1x00 { background-position:-1200px 0px; }
.GMP0x11,.GMP0x1x { background-position:-1280px 0px; }
.GMP0x01,.GMP0x0x { background-position:-1360px 0px; }
.GMP0x10 { background-position:-1440px 0px; }
.GMP0x00 { background-position:-1520px 0px; }

.GMP1xx1 { background-position:-1600px 0px; }
.GMP1xx0 { background-position:-1680px 0px; }
.GMP0xx1 { background-position:-1760px 0px; }
.GMP0xx0 { background-position:-1840px 0px; }

.GMPSpace1 { padding-left:15px; }
.GMPSpace2 { padding-left:31px; }
.GMPSpace3 { padding-left:47px; }
.GMPSpace4 { padding-left:63px; }
u.GMPSpace1 { padding-left:16px; }
u.GMPSpace2 { padding-left:30px; }
u.GMPSpace3 { padding-left:46px; }
u.GMPSpace4 { padding-left:62px; }

/* ------------- Button type ------------- */   

.GMTabHtml,.GMTabHtml1 {
	font:bold 11px "Microsoft Sans Serif",Verdana,Arial; white-space:nowrap;
	padding-left:5px; padding-right:5px; text-align:center;
	background:url(Backgrounds.gif) repeat-x left -1400px;
   }
.GMTabHtml1 { background-position:left -1450px; color:white; }
.GMTabSep,.GMTabSepLeft,.GMTabSepRight {
   padding-left:2px; background:white!important; border:none; 
   border-left:1px solid #9cb6c8; border-right:1px solid #9cb6c8; 
   cursor:default!important;
   }
.GMTabSepRight,.GMTabSepLeft { padding-left:5px; }
.GMTabSepLast { padding-left:1px; background:white!important; border:none; border-left:1px solid #9cb6c8; cursor:default!important; }
.GMTabSepFirst { padding-left:1px; background:white!important; border:none; border-right:1px solid #9cb6c8; cursor:default!important; }

.GMToolHtml,.GMToolHtml1 {
   font:11px "Microsoft Sans Serif",Verdana,Arial; 
   padding-left:3px; padding-right:3px; text-align:center; padding-top:2px;
   }
.GMToolHtml1 { font-weight:bold; color:blue; }
.GMToolButton { text-align:center; padding-left:1px; padding-right:1px;}
.GMToolButtonButton,.GMToolButtonButton1,.GMToolSpaceButton,.GMToolSpaceButton1 {
 	font:11px "Microsoft Sans Serif",Verdana,Arial; height:19px; white-space:nowrap;
 	padding-left:0px; padding-right:0px; cursor:pointer; _cursor:hand; 
   }
.GMToolSpaceButton,.GMToolSpaceButton1 { height:21px; }
.GMToolButtonButton1,.GMToolSpaceButton1 { color:blue; font-weight:bold; }

.GMIconHtml { text-align:left; }
.GMDisabledButton { opacity:0.3; filter:alpha(opacity=30); }

.GMToolHeader { border:none!important; padding-bottom:100px; }
.GMToolMenuHeader { border:1px solid #e0e0ff!important; }    
.GMToolMenuItem { background:#E8F4FF!important; }
.GMToolMenuOuter { border:1px solid #e0e0ff!important; background:#E8F4FF!important; }
.GMToolMenuBody { background:#E8F4FF!important; }

/* ------------- Special Toolbar buttons ------------- */   

.GMResizeGrid,.GMResizeGridRtl,.GMToolSave,.GMToolReload,.GMToolRepaint,.GMToolRepaint1,.GMToolAdd,.GMToolAddChild,.GMToolJoin,.GMToolSplit,.GMToolSort1,.GMToolSort,.GMToolCalc1,.GMToolCalc,
.GMToolExpandAll,.GMToolCollapseAll,.GMToolColumns,.GMToolCfg,.GMToolHelp,.GMToolPrint,.GMToolExport,.GMToolExportPDF,.GMToolDebug,.GMToolOutdent,.GMToolIndent,
.GMToolUndo,.GMToolUndo1,.GMToolRedo,.GMToolRedo1,.GMToolCorrect,.GMToolCorrect1,.GMToolZoomIn,.GMToolZoomIn1,.GMToolZoomOut,.GMToolZoomOut1,.GMToolZoomFit,
.GMToolPagerFirst,.GMToolPagerFirst1,.GMToolPagerPrev,.GMToolPagerPrev1,.GMToolPagerNext,.GMToolPagerNext1,.GMToolPagerLast,.GMToolPagerLast1 {
   font-size:11px; background-image:url(Toolbar.png); -background-image:url(Toolbar.gif); background-repeat:no-repeat;
   padding-right:3px; padding-left:21px;
   }
.GMToolPagerFirst,.GMToolPagerFirst1,.GMToolPagerPrev,.GMToolPagerPrev1,.GMToolPagerNext,.GMToolPagerNext1,.GMToolPagerLast,.GMToolPagerLast1 {
   border:0px none;
   }   
.GMToolSave { background-position:0px 0px; }
.GMToolReload { background-position:-50px 0px; }
.GMToolRepaint1 { background-position:-100px 0px; }
.GMToolAdd { background-position:-150px 0px; }
.GMToolAddChild { background-position:-200px 0px; }
.GMToolSort1 { background-position:-250px 0px; }
.GMToolSort { background-position:-300px 0px; }
.GMToolCalc1 { background-position:-350px 0px; }
.GMToolCalc { background-position:-400px 0px; }
.GMToolExpandAll { background-position:-450px 0px; }
.GMToolCollapseAll { background-position:-500px 0px; }
.GMToolCfg { background-position:-550px 0px; }
.GMToolHelp { background-position:-600px 0px; }
.GMToolColumns { background-position:-650px 0px; }
.GMToolPrint { background-position:-750px 0px; }
.GMToolExport { background-position:-800px 0px; }
.GMToolPagerFirst1 { background-position:-850px 0px; }
.GMToolPagerFirst { background-position:-900px 0px; }
.GMToolPagerPrev1 { background-position:-950px 0px; }
.GMToolPagerPrev { background-position:-1000px 0px; }
.GMToolPagerNext1 { background-position:-1050px 0px; }
.GMToolPagerNext { background-position:-1100px 0px; }
.GMToolPagerLast1 { background-position:-1150px 0px; }
.GMToolPagerLast { background-position:-1200px 0px; }
.GMToolDebug { background-position:-1250px 0px; }
.GMToolUndo1 { background-position:-1350px 0px; }
.GMToolUndo { background-position:-1400px 0px; }
.GMToolRedo1 { background-position:-1450px 0px; }
.GMToolRedo { background-position:-1500px 0px; }
.GMToolCorrect1 { background-position:-1550px 0px; }
.GMToolCorrect { background-position:-1600px 0px; }
.GMToolZoomIn1 { background-position:-1800px 0px; }
.GMToolZoomIn { background-position:-1850px 0px; }
.GMToolZoomOut1 { background-position:-1700px 0px; }
.GMToolZoomOut { background-position:-1750px 0px; }
.GMToolZoomFit { background-position:-1900px 0px; }
.GMToolExportPDF { background-position:-1950px 0px; }
.GMToolJoin { background-position:-2000px 0px; }
.GMToolSplit { background-position:-2050px 0px; }
.GMToolRepaint { background-position:-2100px 0px; }
.GMToolOutdent { background-position:-2150px 0px; }
.GMToolIndent { background-position:-2200px 0px; }

.GMResizeGrid  {
   background-position:-704px -2px; 
   margin-left:auto; margin-right:0px; margin-top:-19px;
   height:19px; width:19px; overflow:hidden; padding:0px; cursor:nw-resize; 
   }
.GMResizeGridRtl {
   background-position:-1304px -2px; 
   margin-right:auto; margin-left:0px; margin-top:-19px;
   height:19px; width:19px; overflow:hidden; padding:0px; cursor:ne-resize;
   }

/* ------------- Cell images ------------- */

.GMIconLink { text-decoration:none; width:1000px; display:inline-block; }
.GMIconLeft,.GMIconRight,.GMIconCenter { font-size:11px; background-repeat:no-repeat; }
.GMIconLeft { background-position:left 0px; padding-left:20px!important; }
.GMIconRight { background-position:right 0px; padding-right:20px!important; }
.GMIconCenter { background-position:center 0px; }

.GMDateLeft,.GMDatesLeft,.GMDefaultsLeft,.GMEnumLeft,.GMDateRight,.GMDatesRight,.GMDefaultsRight,.GMEnumRight,
.GMCollapseRight,.GMExpandRight,.GMCollapseLeft,.GMExpandLeft,.GMCollapseHeaderRight,.GMExpandHeaderRight,.GMCollapseHeaderLeft,.GMExpandHeaderLeft,
.GMRadio0Left,.GMRadio0Right,.GMRadio1Left,.GMRadio1Right,.GMRadio2Left,.GMRadio2Right,.GMRadio3Left,.GMRadio3Right, 
.GMBoolX,.GMBoolXRO,.GMBool0,.GMBool1,.GMBool0RO,.GMBool1RO,.GMBool2,.GMBool3,.GMBool2RO,.GMBool3RO {
   background-image:url(Button.gif); background-repeat:no-repeat; }
.GMDefaultsSpaceLeft,.GMDefaultsSpaceRight,.GMFilter0,.GMFilter1,.GMGroup0,.GMGroup1,.GMSearch0,.GMSearch1,
.GMBoolXSpace,.GMBoolXSpaceRO,.GMBool0Space,.GMBool1Space,.GMBool0SpaceRO,.GMBool1SpaceRO {
   background-image:url(ButtonSpace.gif); background-repeat:no-repeat; }
.GMRadio0Left,.GMRadio0Right,.GMRadio1Left,.GMRadio1Right,.GMRadio2Left,.GMRadio2Right,.GMRadio3Left,.GMRadio3Right { font-size:11px; font-family:"Microsoft Sans Serif",Verdana,Arial; }   
.GMDateLeft,.GMDatesLeft,.GMDefaultsLeft,.GMDefaultsSpaceLeft,.GMExpandLeft,.GMCollapseLeft,.GMExpandHeaderLeft,.GMCollapseHeaderLeft { padding-left:20px!important; }
.GMDateRight,.GMDatesRight,.GMDefaultsRight,.GMDefaultsSpaceRight,.GMExpandRight,.GMCollapseRight,.GMExpandHeaderRight,.GMCollapseHeaderRight { padding-right:20px!important; }
u.GMDateRight,u.GMDatesRight,u.GMDefaultsRight,u.GMDefaultsSpaceRight,u.GMExpandRight,u.GMCollapseRight,u.GMExpandHeaderRight,u.GMCollapseHeaderRight { padding-right:0px!important; padding-left:17px; }
.GMDateLeft,.GMDatesLeft { background-position:left -250px; }
.GMDateRight,.GMDatesRight { background-position:right -250px; }
.GMDefaultsLeft { background-position:left 0px; }
.GMDefaultsRight { background-position:right 0px; }
.GMDefaultsSpaceLeft { background-position:left -250px; }
.GMDefaultsSpaceRight { background-position:right 0px; }
.GMEnumLeft { background-position:left -500px; padding-left:17px; }
.GMEnumRight { background-position:right -500px; padding-right:17px; }
u.GMEnumRight { padding-right:0px; padding-left:17px; }
.GMExpandLeft { background-position:left -2500px; }
.GMExpandRight { background-position:right -2500px; }
.GMExpandHeaderLeft { background-position:left -2498px; }
.GMExpandHeaderRight { background-position:right -2498px; }
.GMCollapseLeft { background-position:left -2250px;}
.GMCollapseRight { background-position:right -2250px;}
.GMCollapseHeaderLeft { background-position:left -2248px; }
.GMCollapseHeaderRight { background-position:right -2248px; }

.GMRadio0Left,.GMRadio1Left,.GMRadio2Left,.GMRadio3Left { padding-left:17px; padding-right:3px; line-height:17px; }
.GMRadio0Right,.GMRadio1Right,.GMRadio2Right,.GMRadio3Right { padding-right:17px; padding-left:3px; line-height:17px;}
.GMRadio0Left { background-position:left -1250px; } 
.GMRadio1Left { background-position:left -1500px;} 
.GMRadio2Left { background-position:left -750px; }
.GMRadio3Left { background-position:left -1000px;}
.GMRadio0Right { background-position:right -1250px; } 
.GMRadio1Right { background-position:right -1500px;} 
.GMRadio2Right { background-position:right -750px; }
.GMRadio3Right { background-position:right -1000px;}
.GMRadioInput { margin-top:0px; margin-bottom:0px; margin-top:-4px!IE; }
nobr.GMRadio0Left,nobr.GMRadio1Left,nobr.GMRadio2Left,nobr.GMRadio3Left,
nobr.GMRadio0Right,nobr.GMRadio1Right,nobr.GMRadio2Right,nobr.GMRadio3Right,
span.GMRadio0Left,span.GMRadio1Left,span.GMRadio2Left,span.GMRadio3Left,
span.GMRadio0Right,span.GMRadio1Right,span.GMRadio2Right,span.GMRadio3Right {
   padding-top:2px; padding-bottom:2px;
   }

u.GMBoolX,u.GMBoolXRO,u.GMBool0,u.GMBool1,u.GMBool0RO,u.GMBool1RO,u.GMBool2,u.GMBool3,u.GMBool2RO,u.GMBool3RO { padding-left:18px; }
u.GMBoolXSpace,u.GMBool0Space,u.GMBool1Space,u.GMBoolXSpaceRO,u.GMBool0SpaceRO,u.GMBool1SpaceRO { padding-left:18px; }
u.GMFilter0,u.GMFilter1 { padding-left:16px; }
.GMBoolXSpace { background-position:center -2000px; padding-left:18px; }
.GMBoolXSpaceRO { background-image:none; }
.GMBool0Space { background-position:center -750px; padding-left:18px; }
.GMBool1Space { background-position:center -1000px; padding-left:18px; }
.GMBool0SpaceRO { background-position:center -1250px; padding-left:18px; }
.GMBool1SpaceRO { background-position:center -1500px; padding-left:18px; }
.GMBoolX { background-position:center -1750px; background-image:url(ButtonSpace.gif); }
.GMBoolXRO { background-image:none; }
.GMBool0 { background-position:center -750px; }
.GMBool1 { background-position:center -1000px; }
.GMBool2,.GMBool2RO { background-position:center -1250px; }
.GMBool3,.GMBool3RO { background-position:center -1500px; }
.GMBool0RO { background-position:center -1750px; }
.GMBool1RO { background-position:center -2000px; }
.GMFilter0 { background-position:right -752px; }
.GMFilter1 { background-position:right -1002px; }
.GMGroup0 { background-position:center -750px; }
.GMGroup1 { background-position:center -1000px; }
.GMSearch0 { background-position:center -750px; }
.GMSearch1 { background-position:center -1000px; }
.GMBoolInput { margin-top:2px; margin-bottom:0px; padding:0px; margin-top:-2px!IE;margin-bottom:-6px!IE; }

.GMBoolChar0,.GMBoolChar1,.GMBoolChar2,.GMBoolChar0RO,.GMBoolChar1RO,.GMBoolChar2RO {
   border:2px ridge white; color:blue; text-align:center;
   height:10px; width:8px; overflow:hidden;
   font:bold 9px Arial; margin:auto; margin-top:1px;
   }
.GMBoolChar2 { color:green; }
.GMBoolChar0RO,.GMBoolChar1RO,.GMBoolChar2RO { color:gray; }
.GMBoolCharIE { height:14px; width:12px; }

.GMPopupLeft,.GMPopupRight { font-size:11px; background-image:url(Menu.gif); background-repeat:no-repeat; }
.GMPopupLeft { background-position:-6px -250px; padding-left:14px;}
.GMPopupRight { background-position:right -250px; padding-right:14px;}
.GMPopupNone { padding-right:14px; }

.GMIconRotate { padding-left:2px!important; padding-top:20px!important; }
.GMIconRotateLeft { margin-left:0px; padding-top:20px!important; }
.GMIconRotateHeaderLeft { margin-left:5px; padding-top:20px!important; }
.GMIconRotateHeaderRight { margin-left:2px; padding-top:20px!important; }

/* ------------- Filter images ------------- */
.GMFilter0Left,.GMFilter1Left,.GMFilter2Left,.GMFilter3Left,.GMFilter4Left,.GMFilter5Left,.GMFilter6Left,.GMFilter7Left,.GMFilter8Left,.GMFilter9Left,.GMFilter10Left,.GMFilter11Left,.GMFilter12Left,
.GMFilter0Right,.GMFilter1Right,.GMFilter2Right,.GMFilter3Right,.GMFilter4Right,.GMFilter5Right,.GMFilter6Right,.GMFilter7Right,.GMFilter8Right,.GMFilter9Right,.GMFilter10Right,.GMFilter11Right,.GMFilter12Right {
   font-size:11px; background-image:url(Filter.gif); background-repeat:no-repeat;
   }
.GMFilter0Left,.GMFilter1Left,.GMFilter2Left,.GMFilter3Left,.GMFilter4Left,.GMFilter5Left,.GMFilter6Left,.GMFilter7Left,.GMFilter8Left,.GMFilter9Left,.GMFilter10Left,.GMFilter11Left,.GMFilter12Left {
   padding-left:17px;
   }
.GMFilter0Right,.GMFilter1Right,.GMFilter2Right,.GMFilter3Right,.GMFilter4Right,.GMFilter5Right,.GMFilter6Right,.GMFilter7Right,.GMFilter8Right,.GMFilter9Right,.GMFilter10Right,.GMFilter11Right,.GMFilter12Right {
   padding-right:17px;
   }
u.GMFilter0Right,u.GMFilter1Right,u.GMFilter2Right,u.GMFilter3Right,u.GMFilter4Right,u.GMFilter5Right,u.GMFilter6Right,u.GMFilter7Right,u.GMFilter8Right,u.GMFilter9Right,u.GMFilter10Right,u.GMFilter11Right,u.GMFilter12Right {  
   padding-right:0px; padding-left:17px;
   }
.GMFilter0Left,.GMFilter0Menu { background-position:left 0px; }   
.GMFilter1Left,.GMFilter1Menu { background-position:left -150px; }
.GMFilter2Left,.GMFilter2Menu { background-position:left -300px; }
.GMFilter3Left,.GMFilter3Menu { background-position:left -450px; }
.GMFilter4Left,.GMFilter4Menu { background-position:left -600px; }
.GMFilter5Left,.GMFilter5Menu { background-position:left -750px; }   
.GMFilter6Left,.GMFilter6Menu { background-position:left -900px; }
.GMFilter7Left,.GMFilter7Menu { background-position:left -1050px; }
.GMFilter8Left,.GMFilter8Menu { background-position:left -1200px; }
.GMFilter9Left,.GMFilter9Menu { background-position:left -1350px; }
.GMFilter10Left,.GMFilter10Menu { background-position:left -1500px; }
.GMFilter11Left,.GMFilter11Menu { background-position:left -1650px; }
.GMFilter12Left,.GMFilter12Menu { background-position:left -1800px; }
.GMFilter0Right { background-position:right 0px; }   
.GMFilter1Right { background-position:right -150px; }
.GMFilter2Right { background-position:right -300px; }
.GMFilter3Right { background-position:right -450px; }
.GMFilter4Right { background-position:right -600px; }
.GMFilter5Right { background-position:right -750px; }   
.GMFilter6Right { background-position:right -900px; }
.GMFilter7Right { background-position:right -1050px; }
.GMFilter8Right { background-position:right -1200px; }
.GMFilter9Right { background-position:right -1350px; }
.GMFilter10Right { background-position:right -1500px; }
.GMFilter11Right { background-position:right -1650px; }
.GMFilter12Right { background-position:right -1800px; }

.GMFilter0Menu,.GMFilter1Menu,.GMFilter2Menu,.GMFilter3Menu,.GMFilter4Menu,.GMFilter5Menu,.GMFilter6Menu,.GMFilter7Menu,.GMFilter8Menu,.GMFilter9Menu,.GMFilter10Menu,.GMFilter11Menu,.GMFilter12Menu {
   width:17px; height:17px; overflow:hidden; background-image:url(Filter.gif); background-repeat:no-repeat; margin-left:-1px;
   }
.GMFilterMenuHeader { padding-left:2px; border-bottom:0px none!important; }   

/* ------------- Sort images ------------- */
.GMSort0Left,.GMSort1Left,.GMSort2Left,.GMSort3Left,.GMSort4Left,.GMSort5Left,.GMSort6Left,
.GMSort0Right,.GMSort1Right,.GMSort2Right,.GMSort3Right,.GMSort4Right,.GMSort5Right,.GMSort6Right {
   font-size:11px; background-image:url(Sort.gif); background-repeat:no-repeat;  
   }
.GMSort0Left,.GMSort1Left,.GMSort2Left,.GMSort3Left,.GMSort4Left,.GMSort5Left,.GMSort6Left { padding-left:17px; }
.GMSort0Right,.GMSort1Right,.GMSort2Right,.GMSort3Right,.GMSort4Right,.GMSort5Right,.GMSort6Right{ padding-right:17px; }
u.GMSort0Right,u.GMSort1Right,u.GMSort2Right,u.GMSort3Right,u.GMSort4Right,u.GMSort5Right,u.GMSort6Right { padding-right:0px; padding-left:17px; }
.GMSort0Left { background-position:left 0px; }   
.GMSort1Left { background-position:left -250px; }
.GMSort2Left { background-position:left -500px; }
.GMSort3Left { background-position:left -750px; }
.GMSort4Left { background-position:left -1000px; }
.GMSort5Left { background-position:left -1250px; }
.GMSort6Left { background-position:left -1500px; }
.GMSort0Right { background-position:right 0px; }   
.GMSort1Right { background-position:right -250px; }
.GMSort2Right { background-position:right -500px; }
.GMSort3Right { background-position:right -750px; }
.GMSort4Right { background-position:right -1000px; }
.GMSort5Right { background-position:right -1250px; }
.GMSort6Right { background-position:right -1500px; }

/* -------------- Pager ------------------ */
.GMPagerMain {  }
.GMPagerBody {  border-left:1px solid #c0c0ff; background: #E8F4FF; }
.GMPagerBodyLeft { border-right:1px solid #c0c0ff; border-left:0px none; }
.GMPagerBodyRight { }
.GMPagerHeader {
   background:url(Backgrounds.gif) repeat-x; padding-bottom:2px; padding-top:2px;
   border-bottom:1px solid #E8F4FF; cursor:default;
   }
.GMPagerHeaderLeft { border-right:1px solid #d0d0c0; }   
.GMPagerHeaderRight { border-left:1px solid #d0d0c0; }
.GMPagerCaption {   
   font:12px "Trebuchet MS", Tahoma, Arial; color:#FFFFFF;
   padding-left:3px; padding-right:3px; white-space:nowrap;
   }
.GMPagerItem {
   font:11px "Microsoft Sans Serif",Verdana,Arial; cursor:pointer; _cursor:hand; overflow:hidden;
   border-top:1px solid #ffffff; border-bottom:1px solid #e0e0ff; padding-left:3px; padding-right:3px;
   height:13px; overflow:hidden; white-space:nowrap;
   }
.GMPagerItemTouch { padding-top:4px; padding-bottom:4px; }
.GMPagerFocus {
   position:relative; cursor:pointer; _cursor:hand; overflow:hidden;
   border:1px solid black; overflow:hidden; background:#0FF; opacity:0.3; filter:alpha(opacity=30); 
   }
.GMPagerHover {
   position:relative; cursor:pointer; _cursor:hand; overflow:hidden;
   background:#66F; opacity:0.2; filter:alpha(opacity=20); 
   }
.GMPagerSort1 { color: #006600; }
.GMPagerSort2 { color: #00AE00; }
.GMPagerSort3 { color: #00FF00; }
.GMPagerSortS { color: black; }

/* -------------- State classes ------------- */
/* The colors must be set by numbers not by names */

.GMColorDefault { background-color:#FFFFFF; }

.GMColorNoFocus { background-color:#E8F4FF; }
.GMColorReadOnly { background-color:#F4F4F4;}
.GMColorPreview { background-color:#FFFFFF; }
.GMColorEdit { background-color:#FFFFFF; }

.GMColorAlternate { background-color:#EBFFFF; }

.GMColorSelected { background-color:#FFFF80; }
.GMClassSelected { color:red; }

.GMColorError { background-color:#FF6969; }
.GMColorDeleted { background-color:#FFCDCD; }
.GMClassDeleted { font-style:italic; }
.GMColorAdded { background-color:#CDFFCD; }
.GMClassAdded { font-weight:bold; }
.GMColorMoved1 { background-color:#FFFFFF; }
.GMColorMoved2 { background-color:#D7EBEB; }
.GMColorChanged { background-color:#EBEBFF; }
.GMColorChangedCell { background-color:#E1E1FF; }
.GMClassChangedCell { font-weight:bold; }

.GMColorMaxChildren { background-color:#FFFFF0; }

.GMColorDetail { background-color:#FFF0FF; }
.GMColorDetailSelected { background-color:#FFF0E0; }

.GMColorDragged { background-color:#E0E0C0; }

.GMColorFound1 { background-color:#FF87FF; }
.GMColorFound2 { background-color:#FFC387; }
.GMColorFound3 { background-color:#87FF87; }

.GMColorHovered { background-color:#F0F0FF; }
.GMColorHoveredCell { background-color:#C0C0FF; }
.GMColorHoveredCellReadOnly { background-color:#F0F0F0; }
.GMColorHoveredCellNoFocus { background-color:#F8F8F8; }
.GMClassHoveredCellHeader { background-position:0px -250px; }
.GMClassHoveredCellPanel { background-position:0px -1801px; background-repeat:repeat-x; }
.GMColorHoveredCellFastPanel { }
.GMColorHoveredCellSpace { background-color:#FFFFFF; }
.GMColorHoveredCellSpaceEdit { background-color:#C0C0FF; }
.GMColorHoveredCellSpaceBool { background-color:#FFFFFF; }
.GMColorHoveredCellButton { background-color:#FFFFFE; }
.GMClassHoveredCellButton { color:green; }
.GMColorHoveredCellButton1 { background-color:#FFFFFE; }
.GMClassHoveredCellButton1 { color:red; }
.GMColorHoveredCellTab { background-color:#FFFFFE; }
.GMClassHoveredCellTab { background-position:0px -1801px; color:green; }
.GMColorHoveredCellTab1 { background-color:#99bbcc; }
.GMClassHoveredCellTab1 { background-image:none; }

.GMColorFocused { background-color:#E6E6E6; }
.GMColorFocusedCell { background-color:#FFFFFE; }
.GMColorFocusedCellSafari { background-color:#A0A0FF; }
.GMColorFocusedCellSpace { background-color:#E6E6E6; }
.GMColorFocusedCellButton { background-color:#BCD; }
.GMColorFocusedCellHeader { background-color:#FFFFFE; }
.GMColorFocusedCellPanel { background-color:#FFFFFE; }
.GMColorEditedCell { background-color:#FFFFFF; }
.GMColorViewedCell { background-color:#FFFFFF; }

/* --------------- Hover, focus, edit cursors ----------------- */
.GMHoverPanelBackground { }
.GMHoverRowBackground { opacity:0.1; filter:alpha(opacity=10); background:#00F; }
.GMHoverRowBorder { z-index:1; border-top:1px solid #BBF; border-bottom:1px solid #BBF; cursor:default; }
.GMHoverCellBorder { z-index:3; padding:1px; border:1px solid #A0A0F0; background:white; }
.GMFocusPanelBackground { }
.GMFocusRowBackground { opacity:0.1; filter:alpha(opacity=10); background:#000; }
.GMFocusRowBorder { z-index:2; border:1px solid black; }
.GMFocusCellBorder,.GMEditCellBorder { z-index:4; border:2px solid #6666FF; }
.GMFocusCellSpaceBorder,.GMEditCellSpaceBorder { z-index:4; }
.GMEditCellBorder { border-color:#FF6666; }
.GMEditCellInput { position:relative; border:1px solid #BBB; overflow:hidden; z-index:2; }

.GMCursorBackground { position:relative; border:none; padding:0px; overflow:hidden; }
.GMCursorBorderLeft { position:relative; padding-right:0px; padding-top:0px; padding-bottom:0px; border-right:none; border-top:none; border-bottom:none; overflow:hidden; width:0px; height:0px; }
.GMCursorBorderRight { position:relative; padding-left:0px; padding-top:0px; padding-bottom:0px; border-left:none; border-top:none; border-bottom:none; overflow:hidden; width:0px; height:0px; }
.GMCursorBorderTop { position:relative; padding-bottom:0px; padding-left:0px; padding-right:0px; border-bottom:none; border-left:none; border-right:none; overflow:hidden; width:0px; height:0px; }
.GMCursorBorderBottom { position:relative; padding-top:0px; padding-left:0px; padding-right:0px; border-top:none; border-left:none; border-right:none; overflow:hidden; width:0px; height:0px; }

/*--------------- Cell edges ----------------- */
.GMNoLeft { border-left:0px none; }
.GMNoRight { border-right:0px none; }

.GMEmpty { text-decoration:none; font-size:1px; line-height:1px;}

/*--------------- Dragging ----------------- */
.GMMouseObject { opacity:0.5; filter:alpha(opacity=50); z-index:300; overflow:hidden; }
.GMDragObject {
   z-index:300; margin-left:10px; margin-top:10px; 
   font:12px Arial; padding-left:3px; padding-right:3px;
   background:#E4E5F0 url(Backgrounds.gif) repeat-x 0px -750px; border:1px solid #777; 
   }
.GMDragColInsideTop,.GMDragColInsideBottom,.GMDragColOutsideTop,.GMDragColOutsideBottom,.GMDragGanttRunTop,.GMDragGanttRunBottom {
   position:absolute; background-image:url(Sort.gif); width:10px; height:11px; overflow:hidden; z-index:258;
   }
.GMDragColInsideTop  { background-position:0px -1750px;  }
.GMDragColInsideBottom  { background-position:0px -1770px;  }
.GMDragColOutsideTop  { background-position:0px -1790px;  }
.GMDragColOutsideBottom  { background-position:0px -1810px;  }
.GMDragGanttRunTop  { background-position:0px -1752px;  }
.GMDragGanttRunBottom  { background-position:0px -1772px;  }

/*--------------- Messages ----------------- */
.GMDisabled { position:absolute; z-index:264; background:white; opacity:0.5; filter:alpha(opacity=50); } 
.GMMessage {
	background:#E2F0FF; border:1px solid black; padding:10px; white-space:nowrap; text-align:center;
	font:13px "Microsoft Sans Serif",Verdana,Arial;
   position: absolute; left:0px; top:0px; visibility:hidden; z-index:266;
	}
.GMMessageShadow {
   position:absolute; margin-left:3px; margin-top:3px; z-index:265;
   background:#888; opacity:0.5; filter:alpha(opacity=50);
   left:0px; top:0px; visibility:hidden;
   }	
.GMPageMessage { background:#FAFAFA; border:1px solid black; padding:10px; font:13px "Microsoft Sans Serif",Verdana,Arial; }

.GMProgressMain { font:13px "Microsoft Sans Serif",Verdana,Arial; }
.GMProgressCaption { font-weight:bold; margin-bottom:15px; }
.GMProgressText { margin-bottom:15px; }
.GMProgressOuter { text-align:left; width:200px; border:1px solid black; padding:2px; margin-bottom:15px; }
.GMProgressInner { height:10px; background:green; }
.GMProgressButton,.GMMessageButton { font-size:11px; background:#EEE; text-align:center; border:1px solid #8a8fb5; }
.GMProgressButton { margin:2px; margin-top:5px; margin-bottom:0px; white-space:nowrap; padding-left:10px; padding-right:10px; }
.GMMessageButton { margin-top:10px; width:50px; }
.GMMessageButtonHover,.GMProgressButtonHover { background:#ffeeaa; border:1px solid #aaaadd; }

      
/*--------------- Other ----------------- */
/* !!! No .GM style prefix here !!! */
.GridTmpTag { position:absolute; left:5px; top:5px; visibility:hidden; }

/*--------------- Debug print ----------------- */
/* !!! No .GM style prefix here !!! */
.GridDebugTag,.GridDebugTagMax { overflow:auto; overflow-y:scroll; border:1px solid black; background:#DDD; }
.GridDebugTag,.GridDebugTagMax,.GridDebugButtons,.GridDebugButtonsMax {
   position:fixed; z-index:256; left:5px; right:5px; bottom:5px; height:200px; padding:4px;
   position:absolute!IE;
   left:expression((5+(document.compatMode=="CSS1Compat"?document.documentElement.scrollLeft:document.body.scrollLeft))+"px")!IE;
   width:expression((-10+(document.compatMode=="CSS1Compat"?document.documentElement.clientWidth-8:document.body.clientWidth))+"px")!IE;
   top:expression((-205+(document.compatMode=="CSS1Compat"?document.documentElement.scrollTop+document.documentElement.clientHeight-8:document.body.scrollTop+document.body.clientHeight))+"px")!IE;
   }
.GridDebugTagMax,.GridDebugButtonsMax {
   top:5px; height:auto; 
   top:expression((5+(document.compatMode=="CSS1Compat"?document.documentElement.scrollTop:document.body.scrollTop))+"px")!IE;
   height:expression((-10+(document.compatMode=="CSS1Compat"?document.documentElement.clientHeight-8:document.body.clientHeight))+"px")!IE;
   }
.GridDebugButtons,.GridDebugButtonsMax {
   text-align:right; margin-right:25px; width:130px; left:auto;
   left:expression((-155+(document.compatMode=="CSS1Compat"?document.documentElement.clientWidth-8:document.body.clientWidth))+"px")!IE;
   }
.GridDebugButton { font-size:10px; width:40px; padding:0px; }
.GridDebugTitle { font-size:10px; color:blue; font-style:normal;font-weight:normal; }
.GridDebugMark { font-weight:bold; }
.GridDebugStop { font-size:18px; font-weight:bold; color:red; }
.GridDebugError { font-size:12px; color:red; }
.GridDebugWarning { font-size:12px; color:#A60;}
.GridDebugList { font-size:10px; color:#888;}
.GridDebugInfo { font-size:12px; }

/* ------------------- Popup menus, TGLib ------------------- */

.GMMenuMain { position:absolute; left:0px; top:0px; z-index:258; }
.GMMenuStatic { }
.GMMenuOuter { overflow:hidden; border:1px solid black; padding:1px; background:white; }
.GMMenuHeader {
   overflow:hidden; position:absolute; z-index:258;
   border:1px solid #b0b0c0; background:white; cursor:pointer; _cursor:hand;
   }
.GMMenuHead {
   background:#183873 url(Backgrounds.gif) repeat-x 0px -2px;
   font:10px Verdana,Arial; color:white; cursor:default;
   text-align:center; padding-top:5px; padding-bottom:4px;
   }
.GMMenuClose {
   float:right; width:14px; cursor:pointer; _cursor:hand; display:none;
   background:url(Menu.gif) no-repeat right -354px;
   }
.GMMenuBody { cursor:default; background:white; padding-top:1px; padding-bottom:1px; }
.GMMenuShadow {
   position:absolute; margin-left:3px; margin-top:3px; z-index:257;
   background:#888; opacity:0.5; filter:alpha(opacity=50);
   }

.GMMenuCheckedIconLeft { background:url(Menu.gif) no-repeat -2px -51px; padding-left:17px; }
.GMMenuCheckedIconRight { background:url(Menu.gif) no-repeat right -51px; padding-right:17px; }
.GMMenuUncheckedIconLeft { background:url(Menu.gif) no-repeat -2px -1px; padding-left:17px; }
.GMMenuUncheckedIconRight { background:url(Menu.gif) no-repeat right -1px; padding-right:17px; }
.GMMenuCheckedRadioLeft { background:url(Menu.gif) no-repeat -2px -751px; padding-left:17px; }
.GMMenuCheckedRadioRight { background:url(Menu.gif) no-repeat right -751px; padding-right:17px; }
.GMMenuUncheckedRadioLeft { background:url(Menu.gif) no-repeat -2px -701px; padding-left:17px; }
.GMMenuUncheckedRadioRight { background:url(Menu.gif) no-repeat right -701px; padding-right:17px; }
.GMMenuCursorIcon { background:url(Menu.gif) no-repeat -6px -150px; }
.GMMenuHoverIcon { background:url(Menu.gif) no-repeat -6px -100px; }   
.GMMenuCursorIconRtl { background:url(Menu.gif) no-repeat right -1000px; }
.GMMenuHoverIconRtl { background:url(Menu.gif) no-repeat right -950px; }   
.GMMenuExpandedIcon { background:url(Menu.gif) no-repeat -6px -200px; }
.GMMenuCollapsedIcon { background:url(Menu.gif) no-repeat -6px -250px; }
.GMMenuNextIcon { background:url(Menu.gif) no-repeat right -300px; padding-right:10px; }
.GMMenuNextIconRtl { background:url(Menu.gif) no-repeat left -900px; padding-left:10px; }

.GMMenuItemText,.GMMenuItemIcon,.GMMenuEnum,.GMMenuEnumHeader,.GMMenuEdit { font:11px "Microsoft Sans Serif",Arial; white-space:nowrap; overflow:hidden; }
.GMMenuItemDisabled { opacity:0.50; filter:alpha(opacity=30); overflow:hidden; }
.GMMenuLevel { color:blue; text-align:center; }  
.GMMenuEnumParent,.GMMenuEditParent { padding-left:5px; padding-right:2px;}
.GMMenuItemIcon { background-repeat:no-repeat; }
.GMMenuEnum {
   border:1px solid #DDD; border-top:1px solid #666; border-left:1px solid #666;
   background:url(Menu.gif) no-repeat left -800px; padding-left:15px; overflow:hidden;
   }
.GMMenuEnumHeader  {
   padding-left:16px; padding-top:1px; cursor:default; padding-bottom:2px;
   background:url(Menu.gif) no-repeat 1px -799px;
   }   
.GMMenuEdit {
   border:1px solid #DDD; border-top:1px solid #666; border-left:1px solid #666;
   background:white; padding-left:2px; padding-right:2px; overflow:hidden; 
   white-space:nowrap;
   }
.GMMenuEditInput,.GMMenuEditTextarea {
   margin:0px; margin:-1px!IE; border:0px none; background:#FDD; 
   padding:0px; padding-right:1px!IE; padding-left:1px!IE; font:11px "Microsoft Sans Serif",Arial;
   }   
.GMMenuEditTextarea { line-height:13px;  }   
.GMMenuEditInt,.GMMenuEditFloat,.GMMenuEditDate { text-align:right; } 
.GMMenuEditText { }
.GMMenuEditMulti { white-space:normal; }

.GMMenuItem { padding-top:2px; padding-bottom:2px; padding-left:2px; padding-right:2px; background:white; }   
.GMMenuItemTouch { padding-top:5px; padding-bottom:5px; }
.GMMenuItemHover {
   margin-left:1px; margin-right:1px; padding-top:1px; padding-bottom:1px; 
   background:#ffeeaa; border:1px solid #aaaadd;
   }
.GMMenuFocus {
   margin-left:1px; margin-right:1px; padding-top:1px; padding-bottom:1px;
   border:1px solid #aaaadd;
   background:#CAE1F3 url(Backgrounds.gif) repeat-x 0px -1250px;
   }
.GMMenuFocusTouch { padding-top:4px; padding-bottom:4px; }   
.GMMenuFocusHover {
   margin-left:1px; margin-right:1px; padding-top:1px; padding-bottom:1px;
   background:#CAE1F3; border:1px solid black;
   }
.GMMenuSeparator {
   margin-top:1px; margin-right:3px; margin-left:3px; height:1px;   
   border-top:1px solid #aaaadd; overflow:hidden;
   }
.GMMenuCaption { padding-top:2px; padding-bottom:2px; padding-left:2px; padding-right:2px; background:white; color:blue; text-align:center; }
.GMMenuVSeparator { border-right:1px solid #DDD; }
.GMMenuSection  { }

.GMMenuFoot { border-top:none; text-align:center; background:url(Backgrounds.gif) repeat-x 0px -1367px; white-space:nowrap; }  
.GMMenuButton {
   font-size:11px;background:#dcecf8; text-align:center; border:1px solid #8a8fb5; 
   width:48px; margin:2px; margin-top:5px; margin-bottom:4px; white-space:nowrap; padding-left:0px; padding-right:0px;
   }
.GMMenuButtonHover { background:#ffeeaa; border:1px solid #aaaadd; }

/*--------------- Grid configuration menus ----------------- */

.GMCfgMenuOuter,.GMColumnsMenuOuter { border:1px solid black; }
.GMCfgMenuHead,.GMColumnsMenuHead { padding-left:3px; }
.GMCfgMenuBody,.GMColumnsMenuBody { padding-left:4px; padding-right:4px; }
.GMCfgMenuFoot,.GMColumnsMenuFoot { padding-right:3px; padding-left:3px; }
.GMCfgMenuButton { width:70px; } 
.GMCfgMenuItemText,.GMColumnsMenuItemText { padding-left:3px; }
.GMColumnsMenuItemText { white-space:nowrap; }
.GMCfgMenuItem,.GMColumnsMenuItem { padding-top:3px; padding-bottom:3px; }
.GMCfgMenuItemTouch,.GMColumnsMenuItemTouch { padding-top:6px; padding-bottom:6px; }
.GMCfgMenuItemHover,.GMCfgMenuFocus,.GMCfgMenuFocusHover,
.GMColumnsMenuItemHover,.GMColumnsMenuFocus,.GMColumnsMenuFocusHover { padding-top:2px; padding-bottom:2px; }
.GMCfgMenuFocusTouch,.GMColumnsMenuFocusTouch { padding-top:5px; padding-bottom:5px; }

/*--------------- Popup grid dialog ----------------- */

.GMPopupGridOuter { border:0px none; overflow:visible; }
.GMPopupGridHead { padding:0px; }
.GMPopupGridBody { padding:0px; }
.GMPopupGridFoot { padding:0px; }
.GMPopupGridButton { width:50px; margin-top:-2px; margin-bottom:3px; } 

/* ------------------- Calendar, TGLib ------------------- */

.GMPickMain { position:absolute; left:0px; top:0px; z-index:258; }
.GMPickOuter { overflow:hidden; background:white; padding:1px; border:1px solid #426b8c; }
.GMPickHeader {
   overflow:hidden; position:absolute; z-index:258;
   border:1px solid black; background:white; cursor:pointer; _cursor:hand;
   }
.GMPickHeaderBottom { border-bottom:0px none; padding-bottom:1px; }
.GMPickHeaderTop { border-top:0px none; padding-bottom:1px; }

.GMPickHead {
   background:#5c8397; font:10px Verdana,Arial; color:white; cursor:default;
   padding-left:5px; padding-top:1px; padding-bottom:1px;
   border-bottom:1px solid white;
   }
.GMPickClose {
   float:right; width:14px; cursor:pointer; _cursor:hand; display:none;
   background:url(Menu.gif) no-repeat right -354px;
   }
.GMPickBody { cursor:default; padding:0px; }
.GMPickShadow {
   position:absolute; background:#888; z-index:257; margin-left:3px; margin-top:3px;
   opacity:0.5; filter:alpha(opacity=50);
   }   
.GMPickFooter,.GMPick2Footer {
   text-align:center; padding-top:1px; cursor:default;
   background:url(Backgrounds.gif) repeat-x 0px -1367px;
   }
.GMPickMY {
   background:#183873 url(Backgrounds.gif) repeat-x 0px -2px;
   font:10px Verdana,Arial; color:white; cursor:default;
   text-align:center; padding-top:2px; padding-bottom:4px;
   }   
.GMPickMYDown { padding-right:13px; background:url(Menu.gif) no-repeat right -400px; cursor:pointer; _cursor:hand; }
.GMPickMYUp { padding-right:13px; background:url(Menu.gif) no-repeat right -450px; cursor:pointer; _cursor:hand; }
.GMPickMYRtl { padding-right:0px; padding-left:13px; }
.GMPickBL,.GMPickBR { padding-top:3px; cursor:pointer; _cursor:hand; width:16px; height:14px; overflow:hidden; }
.GMPickBL { float:left; background:url(Menu.gif) no-repeat left -500px; display:none; }
.GMPickBR { float:right; background:url(Menu.gif) no-repeat right -550px; display:none; }

.GMPickTable { table-layout:fixed; width:0px; }
.GMPickRow { background:white; }
.GMPickRowW { background:url(Backgrounds.gif) repeat-x 0px -1350px; }
.GMPickCell { width:22px; }
.GMPickCellTouch { width:32px; }
.GMPickWDN {
   background:transparent; color:#333333;
   padding:1px; font:10px Arial; text-align:center; cursor:default;
   margin-left:3px; margin-right:3px; margin-top:2px; margin-bottom:2px;
   }
.GMPickHover,.GMPickSelHover,.GMPickWD,.GMPickSa,.GMPickSu,.GMPickSel,.GMPickNow,.GMPickWDNE,.GMPickSaNE,.GMPickSuNE,.GMPickSelNE,.GMPickNowNE,.GMPickOM,.GMPickOMNE {
   text-align:center; border:1px solid white;
   font:10px "Microsoft Sans Serif",Arial; cursor:pointer; _cursor:hand;
   margin-left:3px; margin-right:3px; margin-top:2px; margin-bottom:2px;
   }
.GMPickWN,.GMPickWNE { 
   text-align:center; font:10px "Microsoft Sans Serif",Arial; cursor:pointer; _cursor:hand;
   padding-left:4px; padding-right:4px; padding-top:3px; padding-bottom:3px;
   border-right:1px solid #8CA9E1; background:url(Backgrounds.gif) no-repeat -25px -1000px;
   }
.GMPickWDNE,.GMPickSaNE,.GMPickSuNE,.GMPickSelNE,.GMPickNowNE,.GMPickWNE { cursor:default; }
.GMPickWD { background-color:#ffffff;   }
.GMPickSa { background-color:#ffffff;   }
.GMPickSu { background-color:#ffffff;   }
.GMPickSel { background-color:#fbea54; border:1px solid #dad1d1;}
.GMPickSelNE { background-color:#fbea54; border:1px solid #dad1d1;}
.GMPickNow { background-color:#c0f3ff; border:1px solid #dad1d1;}
.GMPickNowNE { background-color:#c0f3ff; border:1px solid #dad1d1;}
.GMPickHover { background-color:#ddd; border:1px solid #ddd; }
.GMPickSelHover { background-color:#eeeeaa; border:1px solid #ddd;}
.GMPickOM { background-color:white; color:#aaaaaa; }
.GMPickOMNE { color:#aaaaaa; }
.GMPickEmpty { background:url(Menu.gif) no-repeat center -1050px; cursor:pointer; _cursor:hand; }
.GMPickTouch { font-size:14px; }

.GMPickTimeCell {
   text-align:right; padding-bottom:4px; padding-top:6px; padding-right:5px; 
   border-top:1px solid #adf; background:#f0f6ff;
   }
.GMPickTime {
   font:11px "Microsoft Sans Serif",Arial;
   border:0px none; white-space:nowrap; text-align:right; background:#f0f6ff;
   }
.GMPickButton {
   font-size:11px; background:#dcecf8; text-align:center; border:1px solid #8a8fb5; 
   width:53px; margin:2px; margin-top:5px; margin-bottom:4px; padding-left:0px; padding-right:0px;
   }
.GMPickButtonHover { background:#ffeeaa; border:1px solid #aaaadd; }

.GMPick2Table { table-layout:fixed; width:0px; }
.GMPick2CellM { height:22px; width:55px; }
.GMPick2CellMTouch { height:26px; width:75px; }
.GMPick2CellY { height:22px; width:30px; }
.GMPick2CellYTouch { height:26px; width:45px; }
.GMPick2CellSep { height:22px; width:5px; }
.GMPick2M,.GMPick2Y,.GMPick2MSel,.GMPick2YSel,.GMPick2MHover,.GMPick2YHover,.GMPick2MSelHover,.GMPick2YSelHover {
   font:11px "Microsoft Sans Serif",Arial; cursor:pointer; _cursor:hand; text-align:center;
   margin-left:1px; margin-right:1px; padding-left:1px; padding-right:1px; overflow:hidden;
   }
.GMPick2MSel,.GMPick2YSel { background:#c0f3ff; border:1px solid #dad1d1; margin-left:0px; margin-right:0px; }
.GMPick2MHover,.GMPick2YHover { background:#DDD; border:1px solid white; margin-left:0px; margin-right:0px; }
.GMPick2MSelHover,.GMPick2YSelHover { background:#80e0f0; border:1px solid white; margin-left:0px; margin-right:0px; }   
.GMPick2SepH { width:1px; height:1px; overflow:hidden; }
.GMPick2SepHTouch { height:5px; }
.GMPick2Sep { width:1px; background:#777; overflow:hidden; margin-left:2px; margin-right:2px; height:22px; }
.GMPick2SepTouch { height:26px; }

.GMPick2BL,.GMPick2BR { width:30px; cursor:pointer; _cursor:hand; }
.GMPick2BL { background:url(Menu.gif) no-repeat center -598px; }
.GMPick2BR { background:url(Menu.gif) no-repeat center -648px; }

/* ------------------- Edit controls, TGLib ------------------- */
.GMEdit,.GMEditInline {
   font:11px "Microsoft Sans Serif",Arial;
   padding-left:4px; padding-right:4px; padding-top:2px; padding-bottom:2px;
   border:1px solid #DDD; border-top:1px solid #666; border-left:1px solid #666;
   background:white; white-space:nowrap; overflow:hidden;
   }
.GMEditInline { display:inline-block; vertical-align:bottom; }
.GMEditInput,.GMEditTextarea {
   font:11px "Microsoft Sans Serif",Arial;
   border:0px none; margin:0px; margin-top:-1px!IE;
   padding:0px; padding-left:1px!IE; padding-right:1px!IE; vertical-align:top;
   }
.GMEditTextarea { line-height:13px; }
.GMEditSpaceInput { vertical-align:middle; }
.GMEditNormalInput,.GMEditNormalTextarea,.GMEditSpaceTextarea { background-color:#FFDCFF; }
.GMEditInt,.GMEditFloat,.GMEditDate { text-align:right; }
.GMEditText { }
.GMEditMulti { white-space:normal; }
.GMEditReadOnly { background-color:#FFEEFF; }   
.GMEditParent { position:absolute; z-index:258; overflow:hidden; }

.GMEnumHeaderLeft,.GMEnumHeaderRight,.GMEnumHeaderNone {
   background:white; font:11px "Microsoft Sans Serif",Arial; cursor:pointer; _cursor:hand;
   padding-left:2px; padding-right:4px; padding-top:2px; padding-bottom:2px; white-space:nowrap;
   }
.GMEnumHeaderLeft { background:white url(Menu.gif) no-repeat 1px -798px; padding-left:17px; }
.GMEnumHeaderRight { background:white url(Menu.gif) no-repeat right -798px; padding-right:17px;}
.GMEnumMenuHeader { background:white; }

.GMEnumControl,.GMEnumInline {
   font:11px "Microsoft Sans Serif",Arial; cursor:pointer; _cursor:hand;
   padding-left:15px; padding-right:4px; padding-top:2px; padding-bottom:2px;
   border:1px solid #DDD; border-top:1px solid #666; border-left:1px solid #666;
   background:white url(Menu.gif) no-repeat left -797px; overflow:hidden;
   }
.GMEnumInline { display:inline-block; vertical-align:bottom; }
.GMEnumHeader {
   background:white url(Menu.gif) no-repeat left -798px; 
   font:11px "Microsoft Sans Serif",Arial; cursor:pointer; _cursor:hand;
   padding-left:15px; padding-right:4px; padding-top:2px; padding-bottom:2px;
   }

/* ------------------- Line chart, TGLib ------------------- */

.GMChartInner { background:white; width:100%; }
.GMChartLayer { overflow:hidden; height:1000px; }
.GMChartAxisY { background:black; height:1px; overflow:hidden; }
.GMChartAxisYLabel { overflow:hidden; }
.GMChartAxisYText { margin-right:5px; margin-top:12px; text-align:right; font:12px Arial; }
.GMChartAxisX { width:1px; overflow:hidden; background:black; }
.GMChartAxisXLabel { overflow:hidden; }
.GMChartAxisXText { text-align:center; font:12px Arial; }
.GMChartCaption { text-align:center; font:12px Arial; margin-top:3px; }

.GMChartPoint1,.GMChartPoint2,.GMChartPoint3,.GMChartPoint4,.GMChartPoint5,.GMChartPoint6,.GMChartPoint7,.GMChartPoint8 {
   background:url(Gantt.gif) no-repeat; width:32px; height:32px; overflow:hidden; 
   }
.GMChartPoint1 { background-position:-892px 7px; }
.GMChartPoint1Hover { background-position: -942px 7px; }
.GMChartPoint2 { background-position:-992px 7px; }
.GMChartPoint2Hover { background-position:-1042px 7px; }
.GMChartPoint3 { background-position:-1092px 7px; }
.GMChartPoint3Hover { background-position:-1142px 7px; }
.GMChartPoint4 { background-position:-1192px 7px; }
.GMChartPoint4Hover { background-position:-1242px 7px; }
.GMChartPoint5 { background-position:-1292px 7px; }
.GMChartPoint5Hover { background-position:-1342px 7px; }
.GMChartPoint6 { background-position:-1392px 7px; }
.GMChartPoint6Hover { background-position:-1442px 7px; }
.GMChartPoint7 { background-position:-1492px 7px; }
.GMChartPoint7Hover { background-position:-1542px 7px; }
.GMChartPoint8 { background-position:-1592px 7px; }
.GMChartPoint8Hover { background-position:-1642px 7px; }

/* -------------- Custom scrollbars ------------------ */

.GMCustScroll1RightHidden { background:url(VScroll.gif) left -108px; height:18px; overflow:hidden; }
.GMCustScroll1Right { padding-right:18px; background:url(VScroll.gif) right 0px; }
.GMCustScroll1RightHover { padding-right:18px; background:url(VScroll.gif) right -18px; }
.GMCustScroll1Left { padding-left:18px;  background:url(VScroll.gif) left 0px; }
.GMCustScroll1LeftHover { padding-left:18px;  background:url(VScroll.gif) left -18px; }
.GMCustScroll1SliderRight { padding-right:3px; background:url(VScroll.gif) right -36px; }
.GMCustScroll1SliderLeft { padding-left:3px; background:url(VScroll.gif) left -36px; }
.GMCustScroll1SliderHIn { height:18px; overflow:hidden; background:url(VScroll.gif) center -54px; }
.GMCustScroll1SliderRightHover { padding-right:3px; background:url(VScroll.gif) right -72px; }
.GMCustScroll1SliderLeftHover { padding-left:3px; background:url(VScroll.gif) left -72px; }
.GMCustScroll1SliderHInHover { height:18px; overflow:hidden; background:url(VScroll.gif) center -90px; }
.GMCustScroll1X { background:#F4F4F4; }

.GMCustScroll2RightHidden { background:url(VScroll.gif) left -364px; height:36px; overflow:hidden; }
.GMCustScroll2Right { padding-right:36px; background:url(VScroll.gif) right -148px; }
.GMCustScroll2RightHover { padding-right:36px; background:url(VScroll.gif) right -184px; }
.GMCustScroll2Left { padding-left:36px;  background:url(VScroll.gif) left -148px; }
.GMCustScroll2LeftHover { padding-left:36px;  background:url(VScroll.gif) left -184px; }
.GMCustScroll2SliderRight { padding-right:6px; background:url(VScroll.gif) right -220px; }
.GMCustScroll2SliderLeft { padding-left:6px; background:url(VScroll.gif) left -220px; }
.GMCustScroll2SliderHIn { height:36px; overflow:hidden; background:url(VScroll.gif) center -256px; }
.GMCustScroll2SliderRightHover { padding-right:6px; background:url(VScroll.gif) right -292px; }
.GMCustScroll2SliderLeftHover { padding-left:6px; background:url(VScroll.gif) left -292px; }
.GMCustScroll2SliderHInHover { height:36px; overflow:hidden; background:url(VScroll.gif) center -328px; }
.GMCustScroll2X { background:#F4F4F4; }

.GMCustScroll3Right,.GMCustScroll3RightHidden { background:white; height:9px; overflow:hidden; }
.GMCustScroll3SliderRight,.GMCustScroll3SliderRightHover { padding-right:3px; height:9px; background:url(VScroll.gif) right -126px; }
.GMCustScroll3SliderLeft,.GMCustScroll3SliderLeftHover { height:9px; background:url(VScroll.gif) left -126px; }
.GMCustScroll3SliderRightHover { background-position:right -135px; }
.GMCustScroll3SliderLeftHover { background-position:left -135px; }
.GMCustScroll3X { background:white; }

.GMCustScroll4Right,.GMCustScroll4RightHidden,.GMCustScroll4SliderRight,.GMCustScroll4SliderRightHover { height:1px; overflow:hidden; }
.GMCustScroll4X { }

.GMCustScroll1DownHidden { background:url(HScroll.png) -108px top; width:18px; overflow:hidden; }
.GMCustScroll1Down { padding-bottom:18px; background:url(HScroll.png) 0px bottom; cursor:default; width:18px; overflow:hidden; }
.GMCustScroll1DownHover { padding-bottom:18px; background:url(HScroll.png) -18px bottom; width:18px; overflow:hidden; }
.GMCustScroll1Up { padding-top:18px; background:url(HScroll.png) 0px top; width:18px; overflow:hidden; }
.GMCustScroll1UpHover { padding-top:18px;  background:url(HScroll.png) -18px top; width:18px; overflow:hidden; }
.GMCustScroll1SliderDown { padding-bottom:3px; background:url(HScroll.png) -36px bottom; width:18px; overflow:hidden; }
.GMCustScroll1SliderUp { padding-top:3px; background:url(HScroll.png) -36px top; width:18px; overflow:hidden; }
.GMCustScroll1SliderVIn { background:url(HScroll.png) -54px center; width:18px; overflow:hidden; }
.GMCustScroll1SliderDownHover { padding-bottom:3px; background:url(HScroll.png) -72px bottom; width:18px; overflow:hidden; }
.GMCustScroll1SliderUpHover { padding-top:3px; background:url(HScroll.png) -72px top; width:18px; overflow:hidden; }
.GMCustScroll1SliderVInHover { background:url(HScroll.png) -90px center; width:18px; overflow:hidden; }

.GMCustScroll2DownHidden { background:url(HScroll.png) -364px top; width:36px; overflow:hidden; }
.GMCustScroll2Down { padding-bottom:36px; background:url(HScroll.png) -148px bottom; cursor:default; width:36px; overflow:hidden; }
.GMCustScroll2DownHover { padding-bottom:36px; background:url(HScroll.png) -184px bottom; width:36px; overflow:hidden; }
.GMCustScroll2Up { padding-top:36px; background:url(HScroll.png) -148px top; width:36px; overflow:hidden; }
.GMCustScroll2UpHover { padding-top:36px;  background:url(HScroll.png) -184px top; width:36px; overflow:hidden; }
.GMCustScroll2SliderDown { padding-bottom:6px; background:url(HScroll.png) -220px bottom; width:36px; overflow:hidden; }
.GMCustScroll2SliderUp { padding-top:6px; background:url(HScroll.png) -220px top; width:36px; overflow:hidden; }
.GMCustScroll2SliderVIn { background:url(HScroll.png) -256px center; width:36px; overflow:hidden; }
.GMCustScroll2SliderDownHover { padding-bottom:6px; background:url(HScroll.png) -292px bottom; width:36px; overflow:hidden; }
.GMCustScroll2SliderUpHover { padding-top:6px; background:url(HScroll.png) -292px top; width:36px; overflow:hidden; }
.GMCustScroll2SliderVInHover { background:url(HScroll.png) -328px center; width:36px; overflow:hidden; }

.GMCustScroll3Down,.GMCustScroll3DownHidden { background:white; width:9px; overflow:hidden; cursor:default; }
.GMCustScroll3SliderDown,.GMCustScroll3SliderDownHover { padding-bottom:3px; width:9px; background:url(HScroll.png) -126px bottom; }
.GMCustScroll3SliderUp,.GMCustScroll3SliderUpHover { width:9px; background:url(HScroll.png) -126px top; cursor:default; }
.GMCustScroll3SliderDownHover { background-position:-135px bottom; }
.GMCustScroll3SliderUpHover { background-position:-135px top; cursor:default; }

.GMCustScroll4Down,.GMCustScroll4DownHidden,.GMCustScroll4SliderDown,.GMCustScroll4SliderDownHover { width:1px; overflow:hidden; }

/* ------------------- Other messages, TGLib ------------------- */

.GMHintMain {
   position:absolute; margin-left:-2px; margin-top:-2px; padding-left:1px; padding-top:1px; left:0px; top:0px; z-index:260; 
   background:white; cursor:default; border:1px solid black; 
   }
.GMHintSpaceMain { margin:0px; padding:0px; overflow:hidden; }
.GMHintOuter { overflow:hidden; background:white; color:black; text-align:left; border-color:white; }
.GMHintSpaceOuter { background:white!important; margin-left:-1px; margin-top:-1px; margin-bottom:-1px; }
.GMHintHeaderOuter { background:url(Backgrounds.gif) repeat-x 0px 0px!important; color:white; border: 1px solid white; }
.GMHintShadow {
   position:absolute; margin-left:2px; margin-top:2px; z-index:259;
   background:#888; opacity:0.3; filter:alpha(opacity=30);
   }
.GMHintSpaceShadow { margin-left:4px; margin-top:4px; }

.GMTipMain { position:absolute; left:0px; top:0px; z-index:262; visibility:hidden; }
.GMTipOuter  {
   overflow:hidden; cursor:default; font:12px Arial; padding-left:3px; padding-right:3px;
   background:#E4E5F0 url(Backgrounds.gif) repeat-x 0px -750px; border:1px solid #777; 
   }
.GMTipBody { background:#E4E5F0 url(Backgrounds.gif) repeat-x 0px -750px; white-space:nowrap; }   
.GMTipShadow {
   position:absolute; margin-left:3px; margin-top:3px; z-index:261;
   background:#888; opacity:0.3; filter:alpha(opacity=30);
   visibility:hidden;
   }

.GMMouseOrig { background:yellow!important; opacity:0.5; filter:alpha(opacity=50); }
.GMMouseDragObject { position:absolute; z-index:260; background:#888; opacity:0.5; filter:alpha(opacity=50); }

.GMFocus { border:1px solid #AAF; border-top:1px solid #00F; border-left:1px solid #00F; background-color:#EEE; } 

.GMBodyPrint { margin:0px!important; padding:0px!important; border:0px none!important; background:none!important; }

.GridDisabled { position:absolute; z-index:256; background:white; opacity:0.5; filter:alpha(opacity=50); } 
.GridMain { z-index:255; }

/* Do not change, marks the style loaded */
.GMLoaded { border:1px solid black!important; }