{% extends "::base.html.twig" %}
{% set activePage = 'CO' %}

{# content #}
{% block content %}
    <div id="content">
        <div class="page-header">
            <div class="pull-left">
                <h4><i class="icon-table"></i> {{ ptwTituloPagina }}</h4>
            </div>
            <div class="pull-right">
                <ul class="bread">
                    <li><a href="{{path('cenfo_colegio_listar')}}">Colegio</a><span class="divider">/</span></li>
                    <li class='active'>{{ ptwAction }}</li>
                </ul>
            </div>
        </div>

        <div class="container-fluid" id="content-area">
            {% if app.session.hasFlash('notice') %}
                <div id="alert" class="alert alert-block alert-success fade in" style="">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <h4 class="alert-heading">Mensaje</h4>
                    <p>{{ app.session.flash('notice') }}</p>
                </div>
            {% endif %}
            <form action="{{ ptwFormAction }}" method="POST" id="frmAdministrar" class="form-horizontal form-bordered form-column form-validate">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="crm-box">
                            <div class="crm-box-head">
                                <i class="icon-list-ul"></i>
                                <span>Información del contacto</span>
                            </div>
                            <div class="crm-box-body crm-box-body-nopadding">
                                <div class="span6">
                                    {%if ptwObjColegio is defined %}
                                        {# Input hidden #}
                                        <input type="hidden" id="uiTxtIdColegio" name="data[idColegio]" value="{{ ptwObjColegio.id }}" >
                                    {%endif%}
                                    
                                    {# Nombre * #}
                                    <div class="control-group">
                                        <label for="uiTxtNombre" class="control-label">
                                            <span class="required-label">*</span>
                                            Nombre 
                                        </label>
                                        <div class="controls">
                                            <input {%if ptwObjColegio is defined%}value="{{ptwObjColegio.nombre}}"{%endif%} type="text" name="data[nombre]" id="uiTxtNombre" placeholder="Ej: Cenfotec" class="input-block-level" data-rule-required="true">
                                        </div>
                                    </div>

                                    {# Canton #}
                                    <div id="cgSelCanton" class="control-group">
                                        <label for="uiSelCanton" class="control-label">
                                            
                                            Provincia / Cantón
                                        </label>
                                        <div class="controls">
                                            <div class="input-block-level">
                                                <select id="uiSelCanton" name="data[canton]" data-placeholder="Seleccionar"  >
                                                    <option value=""></option>
                                                    {% if ptwObjColegio is defined %}
                                                        {# Modificar #}
                                                        {% for objProvincia in ptwProvincias %}
                                                            <optgroup label="{{objProvincia.nombre}}">
                                                                {% for objCanton in objProvincia.getCantones() %}
                                                                    {% if ptwObjColegio.canton is not empty and objCanton.id == ptwObjColegio.canton.id %}
                                                                        <option value="{{objCanton.id}}" selected="true">{{objProvincia.nombre}} - {{objCanton.nombre}}</option>
                                                                    {% else %}
                                                                        <option value="{{objCanton.id}}">{{objProvincia.nombre}} - {{objCanton.nombre}}</option>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </optgroup>
                                                        {% endfor %}
                                                    {% else %}
                                                        {# Registrar #}
                                                        {% for objProvincia in ptwProvincias %}
                                                            <optgroup label="{{objProvincia.nombre}}">
                                                                {% for objCanton in objProvincia.getCantones() %}
                                                                    <option value="{{objCanton.id}}">{{objProvincia.nombre}} - {{objCanton.nombre}}</option>
                                                                {% endfor %}
                                                            </optgroup>
                                                        {% endfor %}
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    {# Direccion #}
                                    <div class="control-group">
                                        <label for="uiTxaDireccion" class="control-label">Dirección</label>
                                        <div class="controls">
                                            <textarea name="data[direccion]" id="uiTxaDireccion" rows="5" class="input-block-level">{%if ptwObjColegio is defined%}{{ptwObjColegio.direccion}}{%endif%}</textarea>
                                        </div>
                                    </div>

                                    {# Tipo Colegio * #}
                                    <div class="control-group">
                                        <label for="uiRbtTipo" class="control-label">
                                            
                                            Tipo 
                                        </label>
                                        <div class="controls">
                                            {% if ptwObjColegio is defined %}
                                                {# Modificar #}
                                                {% for objTipo in ptwTiposColegio %}
                                                    {% if ptwObjColegio.tipo is not empty and objTipo.id == ptwObjColegio.tipo.id %}
                                                        <label class="radio-uniformed">
                                                            <div class="uni-radio"><input value="{{objTipo.id}}" checked="true" type="radio" name="data[tipo]" class="uniform-me" ></div> {{objTipo.nombre}}
                                                        </label>
                                                    {% else %}
                                                        <label class="radio-uniformed">
                                                            <div class="uni-radio"><input value="{{objTipo.id}}" type="radio" name="data[tipo]" class="uniform-me" ></div> {{objTipo.nombre}}
                                                        </label>
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                {# Registrar #}
                                                {% for objTipo in ptwTiposColegio %}
                                                    <label class="radio-uniformed">
                                                        <div class="uni-radio"><input value="{{objTipo.id}}" type="radio" name="data[tipo]" class="uniform-me" ></div> {{objTipo.nombre}}
                                                    </label>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>

                                    {# Clase * #}
                                    <div class="control-group cgClasesColegio">
                                        <label for="uiRbtClase" class="control-label">
                                            
                                            Clase 
                                        </label>
                                        <div class="controls">
                                            {% if ptwObjColegio is defined %}
                                                {# Modificar #}
                                                {% for objClase in ptwClases %}
                                                    {% if ptwObjColegio.clase is not empty and objClase.id == ptwObjColegio.clase.id %}
                                                        <label class="radio-uniformed">
                                                            <div class="uni-radio"><input value="{{objClase.id}}" checked="true" type="radio" name="data[clase]" class="uniform-me" ></div> {{objClase.nombre}}
                                                        </label>
                                                    {% else %}
                                                        <label class="radio-uniformed">
                                                            <div class="uni-radio"><input value="{{objClase.id}}" type="radio" name="data[clase]" class="uniform-me" ></div> {{objClase.nombre}}
                                                        </label>
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                {# Registrar #}
                                                {% for objClase in ptwClases %}
                                                    <label class="radio-uniformed">
                                                        <div class="uni-radio"><input value="{{objClase.id}}" type="radio" name="data[clase]" class="uniform-me" ></div> {{objClase.nombre}}
                                                    </label>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                        
                                    {# Especialidad #}
                                    <div class="control-group cgEspecialidadColegio">
                                        <label for="uiSelEspecialidad" class="control-label">Seleccionar especialidad</label>
                                        <div class="controls">
                                            <div class="input-block-level">
                                                <select id="uiSelEspecialidad" name="data[especialidad]" data-placeholder="Seleccionar"  >
                                                    <option value=""></option>
                                                    {% if ptwObjColegio is defined %}
                                                        {# Modificar #}
                                                        {% for objEspecialidad in ptwEspecialidades %}
                                                            {% if ptwObjColegio.especialidad is not empty and objEspecialidad.id == ptwObjColegio.especialidad.id %}
                                                                <option value="{{objEspecialidad.id}}" selected="true">{{objEspecialidad.nombre}}</option>
                                                            {% else %}
                                                                <option value="{{objEspecialidad.id}}">{{objEspecialidad.nombre}}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% else %}
                                                        {# Registrar #}
                                                        {% for objEspecialidad in ptwEspecialidades %}
                                                            <option value="{{objEspecialidad.id}}">{{objEspecialidad.nombre}}</option>
                                                        {% endfor %}
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                    </div> 

                                    {# Director * #}
                                    <div class="control-group">
                                        <label for="uiTxtDirector" class="control-label">
                                            
                                            Director 
                                        </label>
                                        <div class="controls">
                                            <input {%if ptwObjColegio is defined%}value="{{ptwObjColegio.director}}"{%endif%} type="text" name="data[director]" id="uiTxtDirector" placeholder="Ej: Carmene Ledezma Ramírez" class="input-block-level" >
                                        </div>
                                    </div>

                                    {# Población Total * #}
                                    <div class="control-group">
                                        <label for="uiTxtPoblacionTotal" class="control-label">
                                            
                                            Población Total 
                                        </label>
                                        <div class="controls">
                                            <input {%if ptwObjColegio is defined%}value="{{ptwObjColegio.poblacionTotal}}"{%endif%} type="text" name="data[poblacionTotal]" id="uiTxtPoblacionTotal" placeholder="Ej: 2349" class="input-block-level" >
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="span6">
                                    
                                    {# Población último nivel * #}
                                    <div class="control-group">
                                        <label for="uiTxtPoblacionUltimoNivel" class="control-label">
                                            
                                            Población último nivel
                                        </label>
                                        <div class="controls">
                                            <input {%if ptwObjColegio is defined%}value="{{ptwObjColegio.poblacionUltimoNivel}}"{%endif%} type="text" name="data[poblacionUltimoNivel]" id="uiTxtPoblacionUltimoNivel" placeholder="Ej: 300" class="input-block-level" >
                                        </div>
                                    </div>
                                    
                                    {# Interes * #}
                                    <div class="control-group">
                                        <label for="uiSelInteres" class="control-label">
                                            
                                            Interes
                                        </label>
                                        <div class="controls">
                                            <div class="input-block-level">
                                                <select id="uiSelInteres" name="data[intereses][]" data-placeholder="Seleccionar los intereses..." multiple=""  >
                                                    <option value=""></option>
                                                    {% if ptwObjColegio is defined %}
                                                        {# Modificar #}
                                                        {% for objTipo in ptwTiposContacto %}
                                                            {% for objArea in objTipo.getAreasInteres() %}
                                                                <optgroup label="{{objTipo.nombre ~ ' - ' ~ objArea.nombre}}">
                                                                    {% for objInteres in objArea.getIntereses() %}
                                                                        {% if ptwObjColegio.intereses is not empty and objInteres in ptwObjColegio.intereses %}
                                                                            <option value="{{objInteres.id}}" selected="true">{{objInteres.nombre}}</option>
                                                                        {% else %}
                                                                            <option value="{{objInteres.id}}">{{objInteres.nombre}}</option>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </optgroup>
                                                            {% endfor %}
                                                        {% endfor %}
                                                    {% else %}
                                                        {# Registrar #}
                                                        {% for objTipo in ptwTiposContacto %}
                                                            {% for objArea in objTipo.getAreasInteres() %}
                                                                <optgroup label="{{objTipo.nombre ~ ' - ' ~ objArea.nombre}}">
                                                                    {% for objInteres in objArea.getIntereses() %}
                                                                        <option value="{{objInteres.id}}">{{objInteres.nombre}}</option>
                                                                    {% endfor %}
                                                                </optgroup>
                                                            {% endfor %}
                                                        {% endfor %}
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>   

                                    {# Números #}
                                    <div class="control-group">
                                        <input id="info-numeros-eliminados" type="hidden" value="" name="data[numeros][eliminar]" >
                                        <label for="uiTxtNumero" class="control-label">
                                            Números: 
                                            <button class="btn-agregar-numero button button-basic-green" simple-table-id="table-numeros">+</button>
                                        </label>
                                        <div class="controls">
                                            <table class="simple-table-plugin" id="table-numeros" data-cant-numeros="1" style="width: 100%;">
                                                <tr>
                                                    <td style="width: 34%;">Tipo</td>
                                                    <td style="width: 35%;">Número</td>
                                                    <td style="width: 20%;">Ext</td>
                                                    <td style="width: 11%;"></td>
                                                </tr>
                                                {% if ptwObjColegio is defined %}
                                                    {# Modificar #}
                                                    {% for objNumero in ptwObjColegio.getNumeros() %}
                                                        <tr id="fila-tabla-numeros{{objNumero.id}}" data-db-id="{{objNumero.id}}">
                                                            <td>
                                                                <select data-placeholder="Seleccionar"  style="width: 100%;" class="chzn-done uiSelTipoNumero" row-id="fila-tabla-numeros{{objNumero.id}}">
                                                                    <option {% if objNumero.tipoId == 2 %}selected="true"{% endif %} value="2">Celular</option>
                                                                    <option {% if objNumero.tipoId == 1 %}selected="true"{% endif %} value="1">Teléfono</option>
                                                                    <option {% if objNumero.tipoId == 3 %}selected="true"{% endif %} value="3">Fax</option>
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <input value="{{objNumero.numero}}" type="text" style="width: 86%;" placeholder="Ej: 2245-2046" class="input-large uiTxtNumero" >
                                                            </td>
                                                            <td>
                                                                <input value="{{objNumero.ext}}" type="text" style="width: 77%;" placeholder="Ej: 546" class="input-large uiTxtExt" disabled="true">
                                                            </td>
                                                            <td>
                                                                <div class="btn-toolbar" style="margin: 1px;">
                                                                    <div class="btn-group">
                                                                        <button class="btn-borrar-numero button button-basic-red" row-id="fila-tabla-numeros{{objNumero.id}}">-</button>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                {% endif %}
                                            </table>
                                        </div>
                                    </div>
                                    
                                    {# Referencia #}
                                    <div class="control-group">
                                        <label for="uiSelReferencia" class="control-label">
                                            ¿Cómo se enteró? (referencia)
                                        </label>
                                        <div class="controls">
                                            <div class="input-block-level">
                                                <select id="uiSelReferencia" name="data[referencia]" data-placeholder="Seleccionar" >
                                                    <option value=""></option>
                                                    {% if ptwObjColegio is defined %}
                                                        {# Modificar #}
                                                        {% for objTipoReferencia in ptwTiposReferencia %}
                                                            <optgroup label="{{objTipoReferencia.nombre}}">
                                                            {% for objReferencia in objTipoReferencia.getReferencias() %}
                                                                {% if ptwObjColegio.referencia is not empty and objReferencia.id == ptwObjColegio.referencia.id %}
                                                                    <option value="{{objReferencia.id}}" selected="true">{{objReferencia.nombre}}</option>
                                                                {% else %}
                                                                    <option value="{{objReferencia.id}}">{{objReferencia.nombre}}</option>
                                                                {% endif %}
                                                            {% endfor %}
                                                            </optgroup>
                                                        {% endfor %}
                                                    {% else %}
                                                        {# Registrar #}
                                                        {% for objTipoReferencia in ptwTiposReferencia %}
                                                            <optgroup label="{{objTipoReferencia.nombre}}">
                                                            {% for objReferencia in objTipoReferencia.getReferencias() %}
                                                                <option value="{{objReferencia.id}}">{{objReferencia.nombre}}</option>
                                                            {% endfor %}
                                                            </optgroup>
                                                        {% endfor %}
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                    </div> 

                                    {# Primer contacto * #}
                                    <div class="control-group">
                                        <label for="uiSelPrimerContacto" class="control-label">
                                            
                                            ¿Cómo se contactó? (1er contacto)
                                        </label>
                                        <div class="controls">
                                            <div class="input-block-level">
                                                <select id="uiSelPrimerContacto" name="data[primerContacto]" data-placeholder="Seleccionar"  >
                                                    <option value=""></option>
                                                    {% if ptwObjColegio is defined %}
                                                        {# Modificar #}
                                                        {% for objPrimerContacto in ptwPrimerosContacto %}
                                                            {% if ptwObjColegio.primerContacto is not empty and objPrimerContacto.id == ptwObjColegio.primerContacto.id %}
                                                                <option value="{{objPrimerContacto.id}}" selected="true">{{objPrimerContacto.nombre}}</option>
                                                            {% else %}
                                                                <option value="{{objPrimerContacto.id}}">{{objPrimerContacto.nombre}}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% else %}
                                                        {# Registrar #}
                                                        {% for objPrimerContacto in ptwPrimerosContacto %}
                                                            <option value="{{objPrimerContacto.id}}">{{objPrimerContacto.nombre}}</option>
                                                        {% endfor %}
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    {# Fecha contacto * #}
                                    <div class="control-group">
                                        <label for="uiDtpFechaContacto" class="control-label">
                                            
                                            Fecha contacto
                                        </label>
                                        <div class="controls">
                                            {%if ptwObjColegio is defined %}
                                                {% if ptwObjColegio.fechaContacto is not empty %}
                                                    <input value="{{ptwObjColegio.fechaContacto|date("Y-m-d")}}" type="text" name="data[fechaContacto]" id="uiDtpFechaContacto" class="input-block-level datepick"  >
                                                {% else %}
                                                    <input value="" type="text" name="data[fechaContacto]" id="uiDtpFechaContacto" class="input-block-level datepick"  >
                                                {% endif %}
                                            {%else%}
                                                <input value="{{"now"|date("Y-m-d")}}" type="text" name="data[fechaContacto]" id="uiDtpFechaContacto" class="input-block-level datepick"  >
                                            {%endif%}
                                        </div>
                                    </div>

                                    {# Comentario #}
                                    <div class="control-group">
                                        <label for="uiTxaCommentarios" class="control-label">Comentarios</label>
                                        <div class="controls">
                                            <textarea name="data[comentario]" id="uiTxaCommentarios" rows="5" class="input-block-level">{%if ptwObjColegio is defined%}{{ptwObjColegio.comentario}}{%endif%}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="crm-box-head">
                                <i class="icon-reorder"></i>
                                <span>Contactos del colegio</span>
                                <div class="actions">
                                    <button class="sap-cfg-btn-agregar-contacto button button-basic"><i class="icon-cog"></i> Agregar</button>
                                </div>
                            </div>
                            <div class="crm-box-body crm-box-body-nopadding">
                                <input type="hidden" value="" id="sap-cfg-info-contactos-eliminados" name="data[contactos][eliminar]">
                                <div class="accordion" id="sap-accordion-contactos">
                                    {% if ptwObjColegio is defined %}
                                        {% for objContacto in ptwObjColegio.contactos %}
                                            <div class="accordion-group sap-fila-accordion-contacto" data-db-id="{{objContacto.id}}"> 
                                                <div class="accordion-heading"> 
                                                    <button class="button button-basic sap-cfg-btn-borrar-contacto" ><i class="icon-remove"></i></button> 
                                                    <a class="accordion-toggle collapsed sap-field-nombre-completo" data-toggle="collapse" data-parent="#accordion-contactos" href="#collapseOne"> 
                                                        {{objContacto.nombreCompleto}}
                                                    </a> 
                                                </div> 
                                                <div id="collapseOne" class="accordion-body collapse" style="height: 0px;"> 
                                                    <div class="accordion-inner"> 
                                                        <div class="span6"> 
                                                            
                                                            {# Nombre * #} 
                                                            <div class="control-group"> 
                                                                <label class="control-label"> 
                                                                     
                                                                    Nombre  
                                                                </label> 
                                                                <div class="controls"> 
                                                                    <input value="{{objContacto.nombre}}" type="text" placeholder="Ej: Carlos" class="input-block-level sap-field-nombre" > 
                                                                </div> 
                                                            </div> 
                                                            
                                                            {# Apellido 1 * #} 
                                                            <div class="control-group"> 
                                                                <label class="control-label"> 
                                                                     
                                                                    Primer apellido  
                                                                </label> 
                                                                <div class="controls"> 
                                                                    <input value="{{objContacto.apellido2}}" type="text" placeholder="Ej: Domínguez" class="input-block-level sap-field-apellido1" > 
                                                                </div> 
                                                            </div> 
                                                            
                                                            {# Apellido 2 * #} 
                                                            <div class="control-group"> 
                                                                <label class="control-label"> 
                                                                     
                                                                    Segundo apellido  
                                                                </label> 
                                                                <div class="controls"> 
                                                                    <input value="{{objContacto.apellido2}}" type="text" placeholder="Ej: Lara" class="input-block-level sap-field-apellido2" > 
                                                                </div> 
                                                            </div> 
                                                        </div> 
                                                        <div class="span6">  
                                                            
                                                            {# Puesto en la colegio #} 
                                                            <div class="control-group"> 
                                                                <label class="control-label">Puesto en la colegio</label> 
                                                                <div class="controls"> 
                                                                    <div class="input-block-level"> 
                                                                        <select data-placeholder="Seleccionar"   class="sap-field-puesto"> 
                                                                            <option value=""></option> 
                                                                            {# Modificar #} 
                                                                            {% for objPuesto in ptwPuestos %}
                                                                                {% if objContacto.puesto is not empty and objPuesto.id == objContacto.puesto.id %}
                                                                                    <option value="{{objPuesto.id}}" selected="true">{{objPuesto.nombre}}</option>
                                                                                {% else %}
                                                                                    <option value="{{objPuesto.id}}">{{objPuesto.nombre}}</option>
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        </select> 
                                                                    </div> 
                                                                </div> 
                                                            </div>  
                                                            
                                                            {# Correos * #} 
                                                            <div class="control-group"> 
                                                                <input class="sap-stp-id-borrados-correo" name="data[contactos][actualizar][{{objContacto.id}}][correos][eliminar]" type="hidden" value="" > 
                                                                <label class="control-label"> 
                                                                    Correos:  
                                                                    <button class="sap-stp-btn-agregar-correo button button-basic-green" >+</button> 
                                                                </label> 
                                                                <div class="controls"> 
                                                                    <table class="simple-table-plugin sap-stp-table-correos" data-cant-numeros="1" style="width: 100%;"> 
                                                                        <tr> 
                                                                            <td style="width: 89%;">@</td> 
                                                                            <td style="width: 11%;"></td> 
                                                                        </tr>
                                                                        {# Modificar #}
                                                                        {% for objCorreo in objContacto.getCorreos() %}
                                                                            <tr id="fila-tabla-correos-{{objContacto.id}}-{{objCorreo.id}}" data-db-id="{{objCorreo.id}}">
                                                                                <td>
                                                                                    <input value="{{objCorreo.correo}}" type="text" style="width: 86%;" placeholder="Ej: alguien@ejemplo.com" class="input-large uiTxtCorreo"  data-rule-email="true">
                                                                                </td>
                                                                                <td>
                                                                                    <div class="btn-toolbar" style="margin: 1px;">
                                                                                        <div class="btn-group">
                                                                                            <button class="sap-stp-btn-borrar-correo button button-basic-red" row-id="fila-tabla-correos-{{objContacto.id}}-{{objCorreo.id}}" >-</button>
                                                                                        </div>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        {% endfor %}
                                                                    </table> 
                                                                </div> 
                                                            </div> 
                                                            
                                                            {# Números #} 
                                                            <div class="control-group"> 
                                                                <input class="sap-stp-id-borrados-numero" name="data[contactos][actualizar][{{objContacto.id}}][numeros][eliminar]" type="hidden" value="" > 
                                                                <label class="control-label"> 
                                                                    Números:  
                                                                    <button class="sap-stp-btn-agregar-numero button button-basic-green" >+</button> 
                                                                </label> 
                                                                <div class="controls"> 
                                                                    <table class="simple-table-plugin sap-stp-table-numeros" data-cant-numeros="1" style="width: 100%;"> 
                                                                        <tr> 
                                                                            <td style="width: 34%;">Tipo</td> 
                                                                            <td style="width: 35%;">Número</td> 
                                                                            <td style="width: 20%;">Ext</td> 
                                                                            <td style="width: 11%;"></td> 
                                                                        </tr>
                                                                        {# Modificar #}
                                                                        {% for objNumero in objContacto.getNumeros() %}
                                                                            <tr id="fila-tabla-numeros-{{objContacto.id}}-{{objNumero.id}}" data-db-id="{{objNumero.id}}">
                                                                                <td>
                                                                                    <select data-placeholder="Seleccionar"  style="width: 100%;" class="chzn-done sap-stp-sel-tipo-numero uiSelTipoNumero" row-id="fila-tabla-numeros-{{objContacto.id}}-{{objNumero.id}}">
                                                                                        <option {% if objNumero.tipoId == 2 %}selected="true"{% endif %} value="2">Celular</option>
                                                                                        <option {% if objNumero.tipoId == 1 %}selected="true"{% endif %} value="1">Teléfono</option>
                                                                                        <option {% if objNumero.tipoId == 3 %}selected="true"{% endif %} value="3">Fax</option>
                                                                                    </select>
                                                                                </td>
                                                                                <td>
                                                                                    <input value="{{objNumero.numero}}" type="text" style="width: 86%;" placeholder="Ej: 2245-2046" class="input-large uiTxtNumero" >
                                                                                </td>
                                                                                <td>
                                                                                    <input value="{{objNumero.ext}}" type="text" style="width: 77%;" placeholder="Ej: 546" class="input-large uiTxtExt" disabled="true">
                                                                                </td>
                                                                                <td>
                                                                                    <div class="btn-toolbar" style="margin: 1px;">
                                                                                        <div class="btn-group">
                                                                                            <button class="sap-stp-id-borrados-numero button button-basic-red" row-id="fila-tabla-numeros-{{objContacto.id}}-{{objNumero.id}}">-</button>
                                                                                        </div>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        {% endfor %}
                                                                    </table> 
                                                                </div> 
                                                            </div> 
                                                        </div> 
                                                        <div style="clear: both;"></div> 
                                                    </div> 
                                                </div> 
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <div class="form-actions">
                            <div onclick="_formAdministrarBase.validarFormularioMostrarDuplicados()" class="button button-basic-green">Guardar</div>
                            <a href="{{ path('cenfo_colegio_listar') }}" class="button button-basic-red">Cancelar</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{# javascripts #}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var rowTablaNumeros =   
        '<tr>\n\
            <td>\n\
                <select data-placeholder="Seleccionar"  style="width: 100%;" class="chzn-done sap-stp-sel-tipo-numero uiSelTipoNumero" row-id="nuevo-numero-1">\n\
                    <option value="2">Celular</option>\n\
                    <option value="1">Teléfono</option>\n\
                    <option value="3">Fax</option>\n\
                </select>\n\
            </td>\n\
            <td>\n\
                <input type="text" style="width: 86%;" placeholder="Ej: 22452046" class="input-large uiTxtNumero" >\n\
            </td>\n\
            <td>\n\
                <input type="text" style="width: 77%;" placeholder="Ej: 546" class="input-large uiTxtExt" disabled="true">\n\
            </td>\n\
            <td>\n\
                <div class="btn-toolbar" style="margin: 1px;">\n\
                    <div class="btn-group">\n\
                        <button class="sap-stp-id-borrados-numero btn-borrar-numero button button-basic-red" style="display: none;">-</button>\n\
                    </div>\n\
                </div>\n\
            </td>\n\
        </tr>';
    
        var rowTablaCorreos =   
        '<tr>\n\
            <td>\n\
                <input type="text" style="width: 86%;" placeholder="Ej: alguien@ejemplo.com" class="input-large uiTxtCorreo"  data-rule-email="true">\n\
            </td>\n\
            <td>\n\
                <div class="btn-toolbar" style="margin: 1px;">\n\
                    <div class="btn-group">\n\
                        <button class="sap-stp-btn-borrar-correo button button-basic-red" style="display: none;">-</button>\n\
                    </div>\n\
                </div>\n\
            </td>\n\
        </tr>'; 
    
        var rowTablaInteres =   
        '<tr>\n\
            <td>\n\
                 <input class="uiDtpFecha input-block-level datepick" type="text" value="{{"now"|date("d/m/Y")}}" >\n\
            </td>\n\
            <td>\n\
                <select data-placeholder="Seleccionar los intereses..."  class="uiSelInteres chosen-select">\n\
                    <option value=""></option>\n\
                    {% for objTipo in ptwTiposContacto %}\n\
                        {% for objArea in objTipo.getAreasInteres() %}\n\
                            <optgroup label="{{objTipo.nombre ~ ' - ' ~ objArea.nombre}}">\n\
                                {% for objInteres in objArea.getIntereses() %}\n\
                                    <option value="{{objInteres.id}}">{{objInteres.nombre}}</option>\n\
                                {% endfor %}\n\
                            </optgroup>\n\
                        {% endfor %}\n\
                    {% endfor %}\n\
                </select>\n\
            </td>\n\
            <td>\n\
                <div class="btn-toolbar" style="margin: 1px;">\n\
                    <div class="btn-group">\n\
                        <button class="btn-borrar-interes button button-basic-red" style="display: none;">-</button>\n\
                    </div>\n\
                </div>\n\
            </td>\n\
        </tr>';

        var rowAccordionContactos = 
                '<div class="accordion-group">\n\
                    <div class="accordion-heading">\n\
                        <button class="button button-basic sap-cfg-btn-borrar-contacto"><i class="icon-remove"></i></button>\n\
                        <a class="accordion-toggle collapsed sap-field-nombre-completo" data-toggle="collapse" data-parent="#accordion-contactos" href="#collapseOne">\n\
                        </a>\n\
                    </div>\n\
                    <div id="collapseOne" class="accordion-body collapse" style="height: 0px;">\n\
                        <div class="accordion-inner">\n\
                            <div class="span6">\n\
                                {# Nombre * #}\n\
                                <div class="control-group">\n\
                                    <label class="control-label">\n\
                                        \n\
                                        Nombre \n\
                                    </label>\n\
                                    <div class="controls">\n\
                                        <input value="" type="text" placeholder="Ej: Carlos" class="input-block-level sap-field-nombre" >\n\
                                    </div>\n\
                                </div>\n\
                                {# Apellido 1 * #}\n\
                                <div class="control-group">\n\
                                    <label class="control-label">\n\
                                        \n\
                                        Primer apellido \n\
                                    </label>\n\
                                    <div class="controls">\n\
                                        <input value="" type="text" placeholder="Ej: Domínguez" class="input-block-level sap-field-apellido1" >\n\
                                    </div>\n\
                                </div>\n\
                                {# Apellido 2 * #}\n\
                                <div class="control-group">\n\
                                    <label class="control-label">\n\
                                        \n\
                                        Segundo apellido \n\
                                    </label>\n\
                                    <div class="controls">\n\
                                        <input value="" type="text" placeholder="Ej: Lara" class="input-block-level sap-field-apellido2" >\n\
                                    </div>\n\
                                </div>\n\
                            </div>\n\
                            <div class="span6"> \n\
                                {# Puesto en la colegio #}\n\
                                <div class="control-group">\n\
                                    <label class="control-label">Puesto en la colegio</label>\n\
                                    <div class="controls">\n\
                                        <div class="input-block-level">\n\
                                            <select data-placeholder="Seleccionar"   class="sap-field-puesto">\n\
                                                <option value=""></option>\n\
                                                {# Modificar #}\n\
                                                {% for objPuesto in ptwPuestos %}\n\
                                                    <option value="{{objPuesto.id}}">{{objPuesto.nombre}}</option>\n\
                                                {% endfor %}\n\
                                            </select>\n\
                                        </div>\n\
                                    </div>\n\
                                </div> \n\
                                {# Correos * #}\n\
                                <div class="control-group">\n\
                                    <input class="sap-stp-id-borrados-correo" type="hidden" value="" >\n\
                                    <label class="control-label">\n\
                                        \n\
                                        Correos: \n\
                                        <button class="sap-stp-btn-agregar-correo button button-basic-green" >+</button>\n\
                                    </label>\n\
                                    <div class="controls">\n\
                                        <table class="simple-table-plugin sap-stp-table-correos" data-cant-numeros="1" style="width: 100%;">\n\
                                            <tr>\n\
                                                <td style="width: 89%;">@</td>\n\
                                                <td style="width: 11%;"></td>\n\
                                            </tr>\n\
                                        </table>\n\
                                    </div>\n\
                                </div>\n\
                                {# Números #}\n\
                                <div class="control-group">\n\
                                    <input class="sap-stp-id-borrados-numero" type="hidden" value="" >\n\
                                    <label class="control-label">\n\
                                        Números: \n\
                                        <button class="sap-stp-btn-agregar-numero button button-basic-green" >+</button>\n\
                                    </label>\n\
                                    <div class="controls">\n\
                                        <table class="simple-table-plugin sap-stp-table-numeros" data-cant-numeros="1" style="width: 100%;">\n\
                                            <tr>\n\
                                                <td style="width: 34%;">Tipo</td>\n\
                                                <td style="width: 35%;">Número</td>\n\
                                                <td style="width: 20%;">Ext</td>\n\
                                                <td style="width: 11%;"></td>\n\
                                            </tr>\n\
                                        </table>\n\
                                    </div>\n\
                                </div>\n\
                            </div>\n\
                            <div style="clear: both;"></div>\n\
                        </div>\n\
                    </div>\n\
                </div>';
    
        var ptwAction = '{{ptwAction}}';
    </script>
    {% javascripts
        'bundles/cenfoteccrm/js/form-administrar-base.js'
        'bundles/cenfoteccrm/js/colegio/form-administrar.js'
        'bundles/cenfoteccrm/js/colegio/api.js'
        'bundles/cenfoteccrm/js/crm/api.js'
        output='dump-files-2014-02-23/colegio-form-administrar.js'
    %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock javascripts %}                         