<div class="row-fluid">
    <div class="span12">
        <div class="span8">
            <div class="crm-box">
                <div class="crm-box-head">
                    <i class="icon-list-ul"></i>
                    <span>Información del contacto</span>
                    <div class="actions">
                        <a href="#" rel="tooltip" title="" data-original-title="Cerrar" data-dismiss="modal"><i class="icon-remove-sign"></i></a>
                    </div>
                </div>
                <div class="crm-box-body crm-box-body-nopadding">
                    <form action="#" method="POST" class="form-horizontal form-bordered form-column">
                        <div class="row-fluid">
                            <div class="span12">
                                {% set camposQueFaltan = "" %}

                                {# Nombre #}
                                {%if ptwObjColegio.nombre is not empty%}
                                    <div class="control-group">
                                        <label for="uiTxtNombre" class="control-label">Nombre</label>
                                        <div class="controls">{{ ptwObjColegio.nombre }}</div>
                                    </div>
                                {% else %}
                                    {% set camposQueFaltan = camposQueFaltan ~ "<li>Nombre</li>" %}
                                {% endif %}  

                                {# Canton #}
                                {% if ptwObjColegio.canton is not empty %}
                                <div class="control-group">
                                    <label for="uiSelCanton" class="control-label">Provincia / Cantón</label>
                                    <div class="controls">
                                        {{ ptwObjColegio.canton.provincia.nombre }} / {{ ptwObjColegio.canton.nombre }}
                                    </div>
                                </div>
                                {% else %}
                                    {% set camposQueFaltan = camposQueFaltan ~ "<li>Cantón</li>" %}
                                {% endif %}

                                {# Dirección #}
                                {% if ptwObjColegio.direccion is not empty %}
                                    <div class="control-group">
                                        <label for="uiTxaDireccion" class="control-label">Dirección</label>
                                        <div class="controls">{{ ptwObjColegio.direccion }}</div>
                                    </div>
                                {% else %}
                                    {% set camposQueFaltan = camposQueFaltan ~ "<li>Dirección</li>" %}
                                {% endif %}

                                {# Tipo #}
                                {%if ptwObjColegio.tipo is not empty%}
                                    <div class="control-group">
                                        <label for="uiRbtTipo" class="control-label">Tipo</label>
                                        <div class="controls">
                                            {{ptwObjColegio.tipo.nombre}}
                                        </div>
                                    </div>
                                {% else %}
                                    {% set camposQueFaltan = camposQueFaltan ~ "<li>Tipo</li>" %}
                                {% endif %}
                                
                                {# Clase #}
                                {%if ptwObjColegio.clase is not empty%}
                                    <div class="control-group">
                                        <label for="uiRbtClase" class="control-label">Clase</label>
                                        <div class="controls">
                                            {{ptwObjColegio.clase.nombre}}
                                        </div>
                                    </div>
                                {% else %}
                                    {% set camposQueFaltan = camposQueFaltan ~ "<li>Clase</li>" %}
                                {% endif %}
                                
                                {# Director #}
                                {%if ptwObjColegio.director is not empty%}
                                    <div class="control-group">
                                        <label for="uiTxtDirector" class="control-label">Director</label>
                                        <div class="controls">{{ ptwObjColegio.director }}</div>
                                    </div>
                                {% else %}
                                    {% set camposQueFaltan = camposQueFaltan ~ "<li>Director</li>" %}
                                {% endif %}  
                                
                                {# PoblacionTotal #}
                                {%if ptwObjColegio.poblacionTotal is not empty%}
                                    <div class="control-group">
                                        <label for="uiTxtPoblacionTotal" class="control-label">Población Total</label>
                                        <div class="controls">{{ ptwObjColegio.poblacionTotal }}</div>
                                    </div>
                                {% else %}
                                    {% set camposQueFaltan = camposQueFaltan ~ "<li>Población Total</li>" %}
                                {% endif %}  
                                
                                {# PoblacionUltimoNivel #}
                                {%if ptwObjColegio.poblacionUltimoNivel is not empty%}
                                    <div class="control-group">
                                        <label for="uiTxtPoblacionUltimoNivel" class="control-label">Población último nivel</label>
                                        <div class="controls">{{ ptwObjColegio.poblacionUltimoNivel }}</div>
                                    </div>
                                {% else %}
                                    {% set camposQueFaltan = camposQueFaltan ~ "<li>Población último nivel</li>" %}
                                {% endif %} 

                                {# Interes #}
                                {% if ptwObjColegio.getIntereses()|length > 0 %}
                                    <div class="control-group">
                                        <label for="uiSelInteres" class="control-label">
                                            Interes
                                        </label>
                                        <div class="controls">
                                            {% for objInteres in ptwObjColegio.getIntereses() %}
                                                {{objInteres.nombre}}<br>
                                            {% endfor %}
                                        </div>
                                    </div>  
                                {% else %}
                                    {% set camposQueFaltan = camposQueFaltan ~ "<li>Interes</li>" %}
                                {% endif %}
                                
                                {# Números #}
                                {% if ptwObjColegio.getNumeros()|length > 0 %}
                                    <div class="control-group">
                                        <label for="uiTxtNumero" class="control-label">
                                            Números
                                        </label>
                                        <div class="controls">
                                            {% for objNumero in ptwObjColegio.getNumeros() %}
                                                {{objNumero.tipo.nombre}} {{objNumero.numero}} {{objNumero.ext}}<br>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% else %}
                                    {% set camposQueFaltan = camposQueFaltan ~ "<li>Número</li>" %}
                                {% endif %}

                                {# Referencia #}
                                {% if ptwObjColegio.referencia is not empty %}
                                    <div class="control-group">
                                        <label for="uiSelReferencia" class="control-label">
                                            ¿Cómo se enteró? (referencia)
                                        </label>
                                        <div class="controls">
                                            {% if ptwObjColegio.referencia is not empty %}
                                                {{ ptwObjColegio.referencia.nombre }}
                                            {% endif %}
                                        </div>
                                    </div> 
                                {% else %}
                                    {% set camposQueFaltan = camposQueFaltan ~ "<li>Referencia</li>" %}
                                {% endif %}

                                {# Primer contacto #}    
                                {% if ptwObjColegio.primerContacto is not empty %}
                                    <div class="control-group">
                                        <label for="uiSelPrimerContacto" class="control-label">
                                            ¿Cómo se contactó? (1er contacto)
                                        </label>
                                        <div class="controls">
                                            {% if ptwObjColegio.primerContacto is not empty %}
                                                {{ ptwObjColegio.primerContacto.nombre }}
                                            {% endif %}
                                        </div>
                                    </div>
                                {% else %}
                                    {% set camposQueFaltan = camposQueFaltan ~ "<li>Primer contacto</li>" %}
                                {% endif %}
                                
                                {# Fecha contacto #}
                                {% if ptwObjColegio.fechaContacto is not empty %}
                                    <div class="control-group">
                                        <label for="uiDtpFechaContacto" class="control-label">
                                            Fecha contacto
                                        </label>
                                        <div class="controls">
                                            {% if ptwObjColegio.fechaContacto is not empty %}
                                                {{ptwObjColegio.fechaContacto|date("d/m/Y")}}
                                            {% endif %}
                                        </div>
                                    </div>
                                {% else %}
                                    {% set camposQueFaltan = camposQueFaltan ~ "<li>Fecha contacto</li>" %}
                                {% endif %}

                                {# Comentario #}
                                {% if ptwObjColegio.comentario is not empty %}
                                    <div class="control-group">
                                        <label for="uiTxaCommentarios" class="control-label">Comentarios</label>
                                        <div class="controls">{{ ptwObjColegio.comentario }}</div>
                                    </div>
                                {% endif %}
                                
                                {# Contacto #}
                                {% if ptwObjColegio.getContactos()|length > 0 %}
                                    <div class="control-group">
                                        <label for="uiSelContacto" class="control-label">
                                            Contactos:
                                        </label>
                                        <div class="controls">
                                            {% for objContacto in ptwObjColegio.getContactos() %}
                                                {{objContacto.nombreCompleto}}<br>
                                            {% endfor %}
                                        </div>
                                    </div>  
                                {% else %}
                                    {% set camposQueFaltan = camposQueFaltan ~ "<li>Contactos</li>" %}
                                {% endif %}
                                
                                {# Estado #}
                                {% if ptwObjColegio.getEstado() is not empty %}
                                    <div class="control-group">
                                        <label for="uiTxaEstado" class="control-label">Estado</label>
                                        <div class="controls">{{ ptwObjColegio.getEstado() }}</div>
                                    </div>
                                {% endif %}
                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% if camposQueFaltan is not empty %}
            <div class="span4">
                <div class="crm-box">
                    <div class="crm-box-head">
                        <i class="icon-list-ul"></i>
                        <span>Campos pendientes</span>
                        <div class="actions">
                            <a href="#" rel="tooltip" title="" ></a>
                        </div>
                    </div>
                    <div class="crm-box-body crm-box-body-nopadding">
                        <div class="row-fluid">
                            <div class="span12" style="border-bottom: 1px solid #e5e5e5;">
                                <ul class="custom-list">
                                    {{camposQueFaltan|raw}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>