/* -----------------------------------------------------------------------*/
/* ----------------- "Office" TreeGrid style definition ------------------*/
/* -----------------------------------------------------------------------*/

/* ------------- Base tags ------------- */

.GOImage { padding-bottom:100%; padding-bottom:256px!IE; }
.GONone { display:none; }
.GOSection,.GOSectionFF3 { table-layout:fixed; width:0px; font-size:1px; }
.GOSectionFF3 { border-collapse:collapse; }

/* -------------- Sections ------------------ */
.GOMainTable { background:white; border:1px solid white; border-collapse:separate; text-align:left; line-height: normal; }
.GOBodyLeft,.GOBodyMid,.GOBodyRight,.GOHeadLeft,.GOHeadMid,.GOHeadRight,.GOFootLeft,.GOFootMid,.GOFootRight { }
.GOBodyLeft,.GOHeadLeft,.GOFootLeft { border-right:1px solid #e9e9e9; }
.GOBodyRight,.GOHeadRight,.GOFootRight { border-left:1px solid #e9e9e9; }
.GOBodyLeft,.GOBodyMid,.GOBodyRight {  }
.GOHeadLeft,.GOHeadMid,.GOHeadRight { border-top:1px solid #e9e9e9; border-bottom:1px solid #fff; }
.GOFootLeft,.GOFootMid,.GOFootRight { border-top:1px solid #CBCBCB; }
.GOLeftSplitter,.GORightSplitter,.GOLeftSplitterTouch,.GORightSplitterTouch { width:5px;background:#f4f4f4; overflow:hidden; cursor:e-resize; }
.GOLeftSplitterTouch,.GORightSplitterTouch { width:15px; }
.GOLeftSplitter,.GOLeftSplitterTouch { border-right:1px solid #e9e9e9; }
.GORightSplitter,.GORightSplitterTouch { border-left:1px solid #e9e9e9; }
.GOSplitterDisabled { background:white; cursor:default }
.GOVScroll { border-top:1px solid #e9e9e9; border-right:1px solid #e9e9e9; padding-top:1px; }
.GOHScrollLeft { padding-right:1px; cursor:default; }
.GOHScrollMid { cursor:default; }
.GOHScrollRight { padding-left:1px; cursor:default; }
.GOHScrollLeftResize { margin-right:1px; border-right:1px dotted black; padding-right:5px; background:#F4F4F4; }
.GOHScrollRightResize { margin-left:1px; border-left:1px dotted black; padding-left:5px; background:#F4F4F4; }
.GOHScrollMidLeftResize { border-left:1px dotted black; padding-left:5px; background:#F4F4F4; }
.GOHScrollMidRightResize { border-right:1px dotted black; padding-right:5px; background:#F4F4F4; }
.GOHScrollLeftResizeTouch { margin-right:1px; border-right:1px dotted black; padding-right:18px; background:#F4F4F4; }
.GOHScrollRightResizeTouch { margin-left:1px; border-left:1px dotted black; padding-left:18px; background:#F4F4F4; }
.GOHScrollMidLeftResizeTouch { border-left:1px dotted black; padding-left:19px; background:#F4F4F4; }
.GOHScrollMidRightResizeTouch { border-right:1px dotted black; padding-right:19px; background:#F4F4F4; }
.GOHScrollHidden { }
.GOHScrollWide { }
.GOXScroll { background:#FFF; border-right:1px solid #e9e9e9; }
.GOScrollSafariMac div::-webkit-scrollbar { -webkit-appearance: none; width: 11px; height: 11px; } 
.GOScrollSafariMac div::-webkit-scrollbar-thumb { border-radius: 8px; border: 2px solid white; background-color: rgba(0, 0, 0, .5); }
.GOPageFirst { }
.GOPage { border-top:1px solid #D4D4D4;}
.GOPageOne { }
.GOChildPart { }

/* ------------- Rows ------------------ */
.GOSpaceRowHeight { height:17px; }
.GORowHeight { height:19px; }
.GORowHeightTouch { height:23px; }
.GOSpaceMargin { margin:0px; }
.GOSpaceMarginTouch { margin:5px; }

.GOHeaderRow { background:#E9E9E9 url(Backgrounds.gif) repeat-x 0px -80px;  }
.GOSpaceRow,.GOGroupRow,.GOSearchRow,.GOPagerRow,.GOToolbar1Row,.GOTopbar2Row {
   overflow:hidden; white-space:nowrap; background:#e9e9e9 url(Backgrounds.gif) repeat-x 0px -80px;
   border:1px solid #e9e9e9; border-top:1px solid #F4F4F4; border-bottom:1px solid #CBCBCB;
   margin-top:0px; margin-bottom:2px; margin-top:1px; padding-top:2px; padding-bottom:2px;
   }
.GOToolbar1Row { margin-top:3px; margin-bottom:1px; }
.GOToolbarRow,.GOToolbar2Row,.GOTopbarRow,.GOTopbar1Row { 
   padding-top:5px; padding-bottom:2px; padding-left:2px; background:white; overflow:hidden; 
   }
.GOFillRow { background:white; }
.GOTabberRow { background:white; }
.GORowAbove,.GORowBelow { border-left:1px solid #e0e0ff; border-right:1px solid #e0e0ff; margin-left:1px; margin-right:1px; line-height: normal; }
.GORowAbove { margin-top:3px; background:url(Backgrounds.gif) 0px -320px; overflow:hidden; }
.GORowBelow { margin-bottom:3px; border-top:1px solid #e9e9e9; overflow:hidden; }
.GONoDataRow { padding-left:5px; padding-top:5px; padding-bottom:5px; color:gray; font-style:italic; background:#FAFAFA; }

/* ------------- Cell ------------- */

.GOCell,.GOCellPanel,.GOCellFilter,.GOCellFilterPanel,.GOCellHeader,.GOCellHeaderPanel,.GOCellFilterPanel,
.GOHeaderDrag,.GOHeaderGroup,.GOCellUser,.GOCellHeaderEmpty { 
	border:1px solid white; border-bottom:1px dotted #CBCBCB; border-right:1px solid #D4D4D4;
	vertical-align:top; white-space:nowrap; overflow:hidden; overflow:auto!IE; height:auto;
	}
.GOCellFilterPanel,.GOCellHeader,.GOCellPanel,.GOCellHeaderPanel {
   border-bottom:1px solid #CBCBCB; border-right:1px solid #D4D4D4; 
   } 
.GOCellHeaderPanel { padding-top:1px; padding-bottom:3px; }
.GOCellFilterPanel { text-align:center; padding-top:0px; padding-left:1px; }
.GOCellUser { background-color:#E9E9E9; }
.GOCellEmpty { }
.GOCellHeaderEmpty { background:white; border:none; padding:0px; }
.GOCellFilterPanel,.GOCellPanel { background:#E9E9E9 url(Backgrounds.gif) repeat-x 0px -80px; direction:ltr; }
.GOCellPanel,.GOCellHeaderPanel { white-space:nowrap; direction:ltr; }
.GOCellHidden { background:transparent!important; border-top:none!important; border-bottom:none!important; }

.GOCellSpace,.GOCellSpaceEdit,.GOCellSpaceSelect,.GOCellSpaceEditIcon,.GOCellSpaceEditButton,
.GOCellSpaceButton,.GOCellSpaceButtonButton {
   vertical-align:top; white-space:nowrap;
   border-left:1px solid #ffffff; border-right:1px solid #D4D4D4;
   padding-top:2px!important;
   }
.GOCellSpacePanel,.GOCellSpaceBool{ border-left:1px solid #ffffff; border-right:1px solid #D4D4D4; vertical-align:top; }
.GOCellSpaceRadio { }
.GOCellSpaceEdit,.GOCellSpaceSelect,.GOCellSpaceEditIcon,.GOCellSpaceEditButton { background-color:white; }     
.GOCellSpaceEditIcon { padding-left:0px!important; }
.GOSpaceSelectInner { white-space:nowrap!important; }
.GOCellSpaceButtonButton { padding-top:0px!important; }
.GOCellSpaceAbove { border-top:1px solid #e0e0ff; }
.GOCellSpaceBelow { border-bottom:1px solid #e0e0ff; }

.GOHeaderGroup { font:11px Verdana, Arial, Helvetica, sans-serif; padding-left:3px; }
.GOHeaderGroupFocus { background-color: #DEDFD8; }
.GOHeaderGroupDelete { background-color: #F0F0E0; color: #F0F0E0; }
.GOHeaderGroupCustom {
   font:italic 11px Verdana, Arial, Helvetica, sans-serif;
   color:#BBB; padding-left:5px; cursor:default; white-space:nowrap;
   }
.GOHeaderButton { padding:0px; }
.GOHeaderDrag { background-color: #C0C0B0; cursor:default; overflow:hidden; }
.GOHeaderFocus { background-color: #DEDFD8; }
.GOPanel { padding-left:80px; }
.GONoTreeLines1 { text-align:right; }
.GONoTreeLines2 { text-align:right; vertical-align:middle; padding-top:0px; }
.GONoTreeLines3 { text-align:left; }
.GOTree { padding-top:0px; white-space:nowrap; }
.GOSpannedTree { vertical-align:top; }
.GOCellBorderFF3 { border-left:0px none; border-top:0px none; }
.GOCellClassInner { padding-top:0px; padding-bottom:0px; }

/* ------------- Inside cell ------------- */

.GOHtml,.GOText,.GOLines,.GOPass,.GOInt,.GOFloat,.GODate,.GOLink,.GOImg,.GORadio,.GORadioText,.GOList,.GOEnum,.GODropCols,.GOAbs,.GOPagerEdit,.GOUser,.GOChart {
   font-size:11px; font-family:Verdana, Arial, Helvetica, sans-serif; white-space:nowrap;
   padding-left:3px; padding-right:3px; padding-top:2px; padding-bottom:2px;
   }
.GOInt,.GOFloat,.GODate { text-align:right; }
.GOLines,.GORadio { white-space:normal; }	
.GOImg,.GOHtml,.GOHtml,.GOList { padding-top:0px; padding-bottom:0px; }
.GOSelect { padding-top:2px; padding-bottom:2px; }
.GOChart { padding:5px; }
.GOPass { font-size:14px; padding:0px; padding-left:3px; }
.GORadio,.GORadioText { padding:0px; font-weight:normal!important; }
.GOBool { text-align:center; }
.GOIcon { background-repeat:no-repeat; }
.GOHidden { }
.GOHiddenSpace { display:none; }
.GOHeaderText { font:11px Verdana, Arial, Helvetica, sans-serif; padding-left:3px; padding-right:3px; padding-bottom:1px; padding-top:1px; }
.GOAbs { padding:0px; }
.GOUser { padding:0px; }
.GOPagerEdit  {
   vertical-align:top; text-align:center; background:white;
   padding-top:2px; padding-bottom:1px; border:0px none;
   }
.GORightButton { font:10px "Times New Roman"; padding:0px; height:17px; width:19px; margin:0px; }
.GORightHtml { font:12px "Times New Roman"; }
.GORightImg { font:12px "Times New Roman"; }
.GOMergedCellH { padding:0px; padding-right:5px; }
.GOMergedCellV { padding:0px; padding-bottom:1px; }

.GOWrap0 { white-space:nowrap; }
.GOWrap1 { white-space:normal; }
.GOAlignLeft { text-align:left; }
.GOAlignCenter { text-align:center; }
.GOAlignJustify { text-align:center; }
.GOAlignRight { text-align:right; }
.GONoSpaceLeft { border-left:0px none; padding-left:0px; }
.GONoSpaceRight { border-right:0px none; padding-right:0px; }
.GOCellRotate1 { vertical-align:bottom; padding-top:1px; padding-bottom:1px; text-align:left; }
.GOCellRotate2 { vertical-align:top; padding-top:1px; padding-bottom:1px; }
.GOCellRotate3 { vertical-align:middle; padding-top:1px; padding-bottom:1px; }
.GORotate1IEHeader { background-color:#E9E9E9; filter: progid:DXImageTransform.Microsoft.Chroma(color='#E9E9E9') progid:DXImageTransform.Microsoft.BasicImage(rotation=3); overflow:hidden; }
.GORotate1IE { background-color:#FFFFFF; filter: progid:DXImageTransform.Microsoft.Chroma(color='#FFFFFF') progid:DXImageTransform.Microsoft.BasicImage(rotation=3); overflow:hidden; }
.GORotate1 { -ms-transform:rotate(-90deg); -moz-transform:rotate(-90deg); -webkit-transform: rotate(-90deg); -o-transform: rotate(-90deg); }
.GORotate2 { text-align:left; writing-mode:tb-rl; -moz-transform:rotate(-270deg); -webkit-transform: rotate(-270deg); -o-transform: rotate(-270deg); }

/*--------------- Pages type cell ----------------- */

.GOPages { overflow:visible; padding-left:3px; padding-right:3px; }
.GOPagesLink,.GOPagesLinkActive {
   padding-left:2px; padding-right:1px; padding-top:2px; padding-bottom:2px; margin-top:2px; margin-bottom:2px;
   display:inline-block; font:11px Verdana, Arial, Helvetica, sans-serif; cursor:pointer; _cursor:hand; color:black;
   }
/* The :hover remarkably slows down every grid in IE strict mode
.GOPagesLink:visited { color:#818181; }
.GOPagesLink:hover { color:#09C; }*/
.GOPagesLinkActive { color:black; font-weight:bold; border:1px dotted black; margin-top:1px; margin-bottom:1px; }

/*--------------- Gantt ----------------- */

.GOGantt { border:0px none; padding:0px; border-right:1px solid #D4D4D4; cursor:default; background:transparent; -webkit-user-select:none; -moz-user-select:none; }

.GOGantt0Out,.GOGantt10Out,.GOGantt90Out,.GOGantt100Out,.GOGanttNullOut,.GOGanttHtmlOut {
   margin-top:2px; padding:1px; background:white; border:1px solid black; overflow:hidden;
   }
.GOGanttHtmlOut { margin-left:1px; margin-right:1px; }
.GOGanttHoverOut { border:2px solid red; margin-top:1px; margin-left:0px; margin-right:0px; }
.GOGantt10Out { padding-left:0px; border-left:0px none; }
.GOGantt90Out { padding-right:0px; border-right:0px none; }
.GOGantt0In,.GOGantt10In,.GOGantt90In,.GOGantt100In,.GOGanttNullIn,
.GOGantt0InErr,.GOGantt10InErr,.GOGantt90InErr,.GOGantt100InErr,.GOGanttNullInErr,
.GOGantt0InCrit,.GOGantt10InCrit,.GOGantt90InCrit,.GOGantt100InCrit,.GOGanttNullInCrit { height:4px; overflow:hidden; font-size:1px; }
.GOGantt0In { background:#08F; }
.GOGantt0InErr { background:#F00; }
.GOGantt0InCrit { background:#FA0; }
.GOGantt10In { background:#00F; }
.GOGantt10InErr { background:#B00; }
.GOGantt10InCrit { background:#D80; }
.GOGantt90In,.GOGantt90InErr,.GOGantt90InCrit { background:#0B0; }
.GOGantt100In,.GOGantt100InErr,.GOGantt100InCrit { background:#0F0; }
.GOGanttNullIn { background:#777; }
.GOGanttNullInErr { background:#F00; }
.GOGanttNullInCrit { background:#FA0; }
.GOGanttHtmlIn { background:#EEE; overflow:hidden; font-size:9px; font-family:"Microsoft Sans Serif",Verdana,Arial; white-space:nowrap; }
.GOGanttG0In { background:#FFF; }
.GOGanttG0InCrit { background:#FD8; }
.GOGanttG0InErr { background:#FCC; }
.GOGanttG10In { background:#EEE; }
.GOGanttG10InCrit { background:#FC6; }
.GOGanttG10InErr { background:#FAA; }
.GOGanttG90In,.GOGanttG90InErr,.GOGanttG90InCrit { background:#AAA; }
.GOGanttG100In,.GOGanttG100InErr,.GOGanttG100InCrit { background:#888; }
.GOGanttGNullIn { background:#FFF; }
.GOGanttGNullInErr { background:#F88; }
.GOGanttGNullInCrit { background:#FD8; }
.GOGanttRed0In,.GOGanttRed10In { background:white; } .GOGanttRed90In,.GOGanttRed100In,.GOGanttRedNullIn { background:red; }
.GOGanttBlue0In,.GOGanttBlue10In { background:white; } .GOGanttBlue90In,.GOGanttBlue100In,.GOGanttBlueNullIn { background:blue; }
.GOGanttGreen0In,.GOGanttGreen10In { background:white; } .GOGanttGreen90In,.GOGanttGreen100In,.GOGanttGreenNullIn { background:green; }
.GOGanttFuchsia0In,.GOGanttFuchsia10In { background:white; } .GOGanttFuchsia90In,.GOGanttFuchsia100In,.GOGanttFuchsiaNullIn { background:fuchsia; }
.GOGanttAqua0In,.GOGanttAqua10In { background:white; } .GOGanttAqua90In,.GOGanttAqua100In,.GOGanttAquaNullIn { background:aqua; }
.GOGanttLime0In,.GOGanttLime10In { background:white; } .GOGanttLime90In,.GOGanttLime100In,.GOGanttLimeNullIn { background:lime; }
.GOGanttMaroon0In,.GOGanttMaroon10In { background:white; } .GOGanttMaroon90In,.GOGanttMaroon100In,.GOGanttMaroonNullIn { background:maroon; }
.GOGanttNavy0In,.GOGanttNavy10In { background:white; } .GOGanttNavy90In,.GOGanttNavy100In,.GOGanttNavyNullIn { background:navy; }
.GOGanttOlive0In,.GOGanttOlive10In { background:white; } .GOGanttOlive90In,.GOGanttOlive100In,.GOGanttOliveNullIn { background:olive; }
.GOGanttOrange0In,.GOGanttOrange10In { background:white; } .GOGanttOrange90In,.GOGanttOrange100In,.GOGanttOrangeNullIn { background:orange; }
.GOGanttPurple0In,.GOGanttPurple10In { background:white; } .GOGanttPurple90In,.GOGanttPurple100In,.GOGanttPurpleNullIn { background:purple; }
.GOGanttSilver0In,.GOGanttSilver10In { background:white; } .GOGanttSilver90In,.GOGanttSilver100In,.GOGanttSilverNullIn { background:silver; }
.GOGanttTeal0In,.GOGanttTeal10In { background:white; } .GOGanttTeal90In,.GOGanttTeal100In,.GOGanttTealNullIn { background:teal; }
.GOGanttYellow0In,.GOGanttYellow10In { background:white; } .GOGanttYellow90In,.GOGanttYellow100In,.GOGanttYellowNullIn { background:yellow; }
.GOGanttBlack0In,.GOGanttBlack10In { background:white; } .GOGanttBlack90In,.GOGanttBlack100In,.GOGanttBlackNullIn { background:black; }
.GOGanttGray0In,.GOGanttGray10In { background:white; } .GOGanttGray90In,.GOGanttGray100In,.GOGanttGrayNullIn { background:gray; }
.GOGanttWhite0In,.GOGanttWhite10In,.GOGanttWhite90In,.GOGanttWhite100In,.GOGanttWhiteNullIn { background:white; } 
.GOGanttWhite90In { border-right:1px solid black; margin-right:1px; } .GOGanttWhite10In { border-left:1px solid black; }
.GOGanttOutLeft,.GOGanttOutRight { background:url(Gantt.gif) no-repeat -293px 0px; width:20px; height:16px; overflow:hidden; }
.GOGanttOutRight { background-position: -353px 0px; }
.GOGanttHtmlOutLeft,.GOGanttHtmlOutRight { }
.GOGanttCustomOutLeft,.GOGanttCustomOutRight { height:16px; overflow:hidden; background-repeat:no-repeat; }

.GOGanttFlowOut,.GOGanttFlowHtmlOut { margin-top:11px; border:1px solid black; overflow:hidden; }
.GOGanttFlowHtmlOut { margin-left:1px; margin-right:1px; }
.GOGanttFlowHover { margin-top:10px; border:2px solid red; margin-left:0px; margin-right:0px; overflow:hidden; }  
.GOGanttFlowIn,.GOGanttFlowInErr,.GOGanttFlowInCrit { height:3px; overflow:hidden; background:#DDD; font-size:1px; }
.GOGanttGFlowIn { background:white; }
.GOGanttFlowInErr { background:#F88; }
.GOGanttFlowInCrit { background:#FA0; }
.GOGanttFlowHtmlIn { background:#DDD; overflow:hidden; font-size:9px; font-family:"Microsoft Sans Serif",Verdana,Arial; white-space:nowrap; }

.GOFGanttBase { height:11px; margin:1px; border:1px solid; padding:1px; padding-left:2px; padding-right:2px; overflow:hidden; }
.GOFGanttRunEmpty,.GOFGanttRunBox,.GOFGanttRunSolid,.GOFGanttRunLeft,.GOFGanttRunRight,.GOFGanttRunFixed,
.GOFGanttRunBound,.GOFGanttRunBoundStart,.GOFGanttRunEnd,.GOFGanttRunEndStart,.GOFGanttRunNbsp,.GOFGanttRunComplete {
   border:1px solid #889; padding:1px; padding-left:2px; padding-right:2px; overflow:hidden; font:10px Arial; white-space:nowrap;
   }
.GOFGanttRunGroupHover { border:2px solid brown!important; padding:0px!important; padding-left:1px!important;padding-right:1px!important; overflow:hidden; }
.GOFGanttRunHover { border:2px solid red!important; padding:0px!important; padding-left:1px!important;padding-right:1px!important; overflow:hidden; }
.GOFGanttRunEmpty { border:none; padding:2px; padding-left:3px; padding-right:3px; }
.GOFGanttRunNbsp { border:none; border-top:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; padding-left:3px; padding-right:3px; }
.GOFGanttRunBox { background:white; }
.GOFGanttRunSolid { background:#E0E0E0; }
.GOFGanttRunFixed,.GOFGanttRunLeft,.GOFGanttRunBound,.GOFGanttRunBoundStart { border-left-style:solid!important; border-left-width:3px!important; padding-left:0px!important;}
.GOFGanttRunFixed,.GOFGanttRunRight,.GOFGanttRunBound,.GOFGanttRunBoundStart { border-right-style:solid!important; border-right-width:3px!important; padding-right:0px!important; }
.GOFGanttRunFixed,.GOFGanttRunLeft,.GOFGanttRunRight { background:#E0E0E0; }
.GOFGanttRunBound,.GOFGanttRunEnd { background:#FFE0C0; }
.GOFGanttRunBoundStart,.GOFGanttRunEndStart { background:#C0FFC0; }
.GOFGanttRunComplete { background:#0F0; }

.GOGanttRunGroupHover { margin:0px!important; border:2px solid brown!important; padding:0px!important; overflow:hidden; }  
.GOGanttRunHover { margin:0px!important; border:2px solid red!important; padding:0px!important; overflow:hidden; }  
.GOGanttRunEmptyOut,.GOGanttRunBoxOut,.GOGanttRunSolidOut,.GOGanttRunLeftOut,.GOGanttRunRightOut,.GOGanttRunFixedOut,
.GOGanttRunBoundOut,.GOGanttRunBoundStartOut,.GOGanttRunEndOut,.GOGanttRunEndStartOut,.GOGanttRunNbspOut,.GOGanttRunCompleteOut {
   margin-top:1px; border:1px solid #889; margin-left:1px; margin-right:1px; overflow:hidden; 
   }
.GOGanttRunEmptyIn,.GOGanttRunBoxIn,.GOGanttRunSolidIn,.GOGanttRunLeftIn,.GOGanttRunRightIn,.GOGanttRunFixedIn,
.GOGanttRunBoundIn,.GOGanttRunBoundStartIn,.GOGanttRunEndIn,.GOGanttRunEndStartIn,.GOGanttRunNbspIn,.GOGanttRunCompleteIn {
   height:13px; overflow:hidden; font:10px Arial; padding-left:1px; width:100%!IE; white-space:nowrap;
   }
.GOGanttRunEmptyOut { border:none; }
.GOGanttRunEmptyIn { }
.GOGanttRunNbspOut { border:none; border-top:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; margin-left:0px; margin-right:0px; }
.GOGanttRunNbspIn { }
.GOGanttRunBoxOut { }
.GOGanttRunBoxIn { background:white; }
.GOGanttRunSolidOut { }
.GOGanttRunSolidIn { background:#E0E0E0; }
.GOGanttRunFixedOut,.GOGanttRunLeftOut,.GOGanttRunBoundOut,.GOGanttRunBoundStartOut { border-left-style:solid!important; border-left-width:3px!important; margin-left:0px;}
.GOGanttRunFixedOut,.GOGanttRunRightOut,.GOGanttRunBoundOut,.GOGanttRunBoundStartOut { border-right-style:solid!important; border-right-width:3px!important; }
.GOGanttRunFixedIn,.GOGanttRunLeftIn,.GOGanttRunRightIn { background:#E0E0E0; }
.GOGanttRunBoundOut,.GOGanttRunBoundStartOut,.GOGanttRunEndOut,.GOGanttRunEndStartOut { }
.GOGanttRunBoundIn,.GOGanttRunEndIn { background:#FFE0C0; }
.GOGanttRunCompleteIn { background:#0F0; }
.GOGanttRunBoundStartIn,.GOGanttRunEndStartIn { background:#C0FFC0; }
.GOGanttRunRedIn,.GOFGanttRunRed { background:red; }
.GOGanttRunBlueIn,.GOFGanttRunBlue { background:blue; color:white; }
.GOGanttRunGreenIn,.GOFGanttRunGreen { background:green; color:white; }
.GOGanttRunFuchsiaIn,.GOFGanttRunFuchsia { background:fuchsia; }
.GOGanttRunAquaIn,.GOFGanttRunAqua { background:aqua; }
.GOGanttRunLimeIn,.GOFGanttRunLime { background:lime; }
.GOGanttRunMaroonIn,.GOFGanttRunMaroon { background:maroon; color:white; }
.GOGanttRunNavyIn,.GOFGanttRunNavy { background:navy; color:white; }
.GOGanttRunOliveIn,.GOFGanttRunOlive { background:olive; color:white; }
.GOGanttRunOrangeIn,.GOFGanttRunOrange { background:orange; }
.GOGanttRunPurpleIn,.GOFGanttRunPurple { background:purple; color:white; }
.GOGanttRunSilverIn,.GOFGanttRunSilver { background:silver; }
.GOGanttRunTealIn,.GOFGanttRunTeal { background:teal; color:white; }
.GOGanttRunYellowIn,.GOFGanttRunYellow { background:yellow; }
.GOGanttRunBlackIn,.GOFGanttRunBlack { background:black; color:white; }
.GOGanttRunGrayIn,.GOFGanttRunGray { background:gray; color:white; }
.GOGanttRunWhiteIn,.GOFGanttRunWhite { background:white; }
.GOGanttRunErrorIn,.GOFGanttRunError { background:#FFA0A0; opacity:0.7; filter:alpha(opacity=70); }
.GOFGanttRunErrorIE { background:#FFA0A0; filter:alpha(opacity=70); }
.GOGanttRunCritIn,.GOFGanttRunCrit { background:#FA0; }
.GOGanttRunErrIn,.GOFGanttRunErr { background:#F88; }
.GOGanttRunJoinLeft,.GOFGanttRunJoinLeft { border-left-style:dotted; border-left-color:red; }
.GOGanttRunJoinRight,.GOFGanttRunJoinRight { border-right-style:dotted; border-right-color:red; }
.GOGanttRunMoveOut { border:2px solid #DDD; margin:0px; padding:0px; }
.GOGanttRunMoveIn { background:#F0F0F0; color:black; }
.GOGanttRunRemoveOut { border:2px solid #DDD; margin:0px; padding:0px; }
.GOGanttRunRemoveIn { background:red; color:black; }
.GOGanttRunCopyOut { border:2px solid blue; margin:0px; padding:0px; }
.GOGanttRunCopyIn { }
.GOGanttRunUnknownIn,.GOFGanttRunUnknown { background:black; color:White; font:bold 12px verdana;}

.GOFGanttRunMove { border:2px solid #DDD; padding:0px; padding-left:1px; padding-right:1px; background:#F0F0F0; color:black; }
.GOFGanttRunRemove { border:2px solid #DDD; padding:0px; padding-left:1px; padding-right:1px; background:red; color:black; }
.GOFGanttRunCopy { border:2px solid blue; padding:0px; padding-left:1px; padding-right:1px; }

.GOGanttMilestone,.GOGanttMilestone0,.GOGanttMilestone100,
.GOGanttMilestoneCrit,.GOGanttMilestone0Crit,.GOGanttMilestone100Crit,
.GOGanttMilestoneErr,.GOGanttMilestone0Err,.GOGanttMilestone100Err { 
   background:url(Gantt.gif) no-repeat; width:17px; height:17px; overflow:hidden; 
   }
.GOGanttMilestone { background-position: -900px -3px; }
.GOGanttMilestoneHover { background-position: -950px -3px; }
.GOGanttMilestone0 { background-position: -1100px -3px; }
.GOGanttMilestone0Hover { background-position: -1150px -3px; }
.GOGanttMilestone100,.GOGanttMilestone100Crit,.GOGanttMilestone100Err { background-position: -1800px -3px; }
.GOGanttMilestone100Hover,.GOGanttMilestone100CritHover,.GOGanttMilestone100CritHover { background-position: -1850px -3px; }
.GOGanttMilestoneCrit,.GOGanttMilestone0Crit { background-position:-1700px -3px; }
.GOGanttMilestoneCritHover,.GOGanttMilestone0CritHover { background-position: -1750px -3px; }
.GOGanttMilestoneErr,.GOGanttMilestone0Err { background-position:-1000px -3px; }
.GOGanttMilestoneErrHover,.GOGanttMilestone0ErrHover { background-position: -1050px -3px; }
.GOGanttGMilestone,.GOGanttGMilestone100,.GOGanttGMilestone100Crit,.GOGanttGMilestone100Err { background-position: 0px -3px; }
.GOGanttGMilestoneHover,.GOGanttGMilestone100Hover,.GOGanttGMilestone100CritHover,.GOGanttGMilestone100ErrHover { background-position: -50px -3px; }
.GOGanttGMilestone0 { background-position: -1600px -3px; }
.GOGanttGMilestone0Hover { background-position: -1650px -3px; }
.GOGanttGMilestoneCrit,.GOGanttGMilestone0Crit { background-position:-1400px -3px; }
.GOGanttGMilestoneCritHover,.GOGanttGMilestone0CritHover { background-position: -1450px -3px; }
.GOGanttGMilestoneErr,.GOGanttGMilestone0Err { background-position:-1300px -3px; }
.GOGanttGMilestoneErrHover,.GOGanttGMilestoneErr0Hover { background-position: -1350px -3px; }

.GOGanttFlag { background:url(Gantt.gif) no-repeat -100px 0px; background-color:transparent!important; width:14px; height:15px; overflow:hidden; }
.GOGanttFlagCustom { background-position:0px 0px!important; background-repeat:no-repeat; width:16px; height:15px; overflow:hidden; }
.GOGanttFlagHover { background-position:-150px 0px; background-color:red; }
.GOGanttFlagMenu { padding-right:16px; padding-bottom:256px; font:15px Arial; background-repeat:no-repeat; }

.GOGanttMark,.GOGanttMark1,.GOGanttMark2,.GOGanttMark3,.GOGanttMark4,.GOGanttMark5,.GOGanttMark15 { height:500px; overflow:hidden; background:#888; }
.GOGanttMark1 { background:red; }
.GOGanttMark2 { background:green; }
.GOGanttMark3 { background:yellow; }
.GOGanttMark4 { background:black; }
.GOGanttMark5 { background:silver; }
.GOGanttMark6 { background:#F8F; margin-top:9px!important; height:2px!important; margin-bottom:-11px!important; }
.GOGanttMark7 { background:#0F0; margin-top:9px!important; height:2px!important; margin-bottom:-11px!important; }
.GOGanttMark8 { background:silver; margin-top:9px!important; height:2px!important; margin-bottom:-11px!important; }
.GOGanttMark9 { background:#F8F; margin-top:5px!important; height:2px!important; margin-bottom:-7px!important; }
.GOGanttMark10 { background:#0F0; margin-top:5px!important; height:2px!important; margin-bottom:-7px!important; }
.GOGanttMark11 { background:silver; margin-top:5px!important; height:2px!important; margin-bottom:-7px!important; }
.GOGanttMark12 { background:#F8F; margin-top:13px!important; height:1px!important; margin-bottom:-14px!important; }
.GOGanttMark13 { background:#0F0; margin-top:13px!important; height:1px!important; margin-bottom:-14px!important; }
.GOGanttMark14 { background:silver; margin-top:13px!important; height:1px!important; margin-bottom:-14px!important; }
.GOGanttMark15 { background:#FF0000; }

.GOGanttPoint1,.GOGanttPoint2,.GOGanttPoint3,.GOGanttPoint4,.GOGanttPoint5,.GOGanttPoint6,.GOGanttPoint7,.GOGanttPoint8 {
   background:url(Gantt.gif) no-repeat; width:15px; height:15px; overflow:hidden; 
   }
.GOGanttPointCustom { background-position:0px 0px!important; background-repeat:no-repeat; width:17px; height:17px; overflow:hidden; }  
.GOGanttPointCustomHover { background-color:red; }
.GOGanttPoint1 { background-position:-900px 0px; }
.GOGanttPoint1Hover { background-position: -950px 0px; }
.GOGanttPoint2 { background-position:-1000px 0px; }
.GOGanttPoint2Hover { background-position:-1050px 0px; }
.GOGanttPoint3 { background-position:-1100px 0px; }
.GOGanttPoint3Hover { background-position:-1150px 0px; }
.GOGanttPoint4 { background-position:-1200px 0px; }
.GOGanttPoint4Hover { background-position:-1250px 0px; }
.GOGanttPoint5 { background-position:-1300px 0px; }
.GOGanttPoint5Hover { background-position:-1350px 0px; }
.GOGanttPoint6 { background-position:-1400px 0px; }
.GOGanttPoint6Hover { background-position:-1450px 0px; }
.GOGanttPoint7 { background-position:-1500px 0px; }
.GOGanttPoint7Hover { background-position:-1550px 0px; }
.GOGanttPoint8 { background-position:-1600px 0px; }
.GOGanttPoint8Hover { background-position:-1650px 0px; }

.GOGanttResource { font:bold 11px "Times New Roman"; margin-top:-1px; }
.GOGanttResourceChar { width:6px; }

.GOGanttAvailability { height:500px; background:#ACF; border:1px solid #88F; border-bottom:0px none; }
.GOGanttAvailabilityNeg { height:500px; background:#FCA; border:1px solid #F88; border-top:0px none; }
.GOGanttAvailabilityText,.GOGanttAvailabilityTextNeg { color:blue; background:none!important; text-align:center; font:bold 12px Arial; overflow:visible!important; white-space:nowrap; }
.GOGanttAvailabilityTextNeg { color:red; }
.GOGanttAvailabilityAxis { background:#CCC; }
.GOGanttAvailabilityTransparent { opacity:0.7; filter:alpha(opacity=70); }
.GOGanttAvailabilityRed { color:red; background:#F88; border-color:red; }
.GOGanttAvailabilityMaroon { color:maroon; background:#B77; border-color:maroon; }
.GOGanttAvailabilityOrange { color:orange; background:#FD8; border-color:orange; }
.GOGanttAvailabilityYellow { color:#CC0; background:#FF6; border-color:#CC0; }
.GOGanttAvailabilityOlive { color:olive; background:#CC8; border-color:olive; }
.GOGanttAvailabilityLime { color:#0D0; background:#8F8; border-color:#0D0; }
.GOGanttAvailabilityGreen { color:green; background:#6C6; border-color:green; }
.GOGanttAvailabilityAqua { color:#8DD; background:#8FF; border-color:#8DD; }
.GOGanttAvailabilityTeal { color:teal; background:#6CC; border-color:teal; }
.GOGanttAvailabilityBlue { color:blue; background:#99F; border-color:blue; }
.GOGanttAvailabilityNavy { color:navy; background:#66C; border-color:navy; }
.GOGanttAvailabilityFuchsia { color:fuchsia; background:#F8F; border-color:fuchsia; }
.GOGanttAvailabilityPurple { color:purple; background:#C6C; border-color:purple; }
.GOGanttAvailabilityBlack { color:#AAA; background:black; border-color:#AAA; }
.GOGanttAvailabilityGray { color:gray; background:#AAA; border-color:gray; }
.GOGanttAvailabilitySilver { color:silver; background:#DDD; border-color:silver; }
.GOGanttAvailabilityWhite { color:#CCC; background:#F8F8F8; border-color:#CCC; }
.GOGanttAvailabilityNB { border-top:0px none; border-bottom:0px none; }

.GOGanttDepFirst { height:500px; overflow:hidden; }
.GOGanttDepVert,.GOGanttDepVertBottom,.GOGanttDepVertTop,.GOGanttDepVertBottom2,.GOGanttDepVertTop2,.GOGanttDepVertBottom3  {
   border-left:1px solid #EEDDBB; border-right:1px solid #DDBB88; background:#BB8855; width:1px; overflow:hidden;
   }
.GOGanttDepVert { margin-top:-500px; height:500px; }
.GOGanttDepVertTop { margin-top:-500px; height:5px; margin-bottom:495px; }
.GOGanttDepVertTop2 { margin-top:-499px; height:4px; margin-bottom:495px; }
.GOGanttDepVertBottom { margin-top:-494px; height:494px; }
.GOGanttDepVertBottom2 { margin-top:-494px; height:12px; margin-bottom:482px; }
.GOGanttDepVertBottom3 { margin-top:-481px; height:481px; }
.GOGanttDepHorzIn { border-top:1px solid #EEDDBB; border-bottom:1px solid #DDBB88; background:#DDBB88; margin-top:4px; overflow:hidden; }
.GOGanttDepHorzInLag { border-top:1px dotted #DDBB88; margin-top:5px; overflow:hidden; }
.GOGanttDepHorzTop { border-bottom:1px solid #DDBB88; background:#DDBB88; overflow:hidden; }
.GOGanttDepHorzBottom { border-top:1px solid #EEDDBB; background:#DDBB88; margin-top:17px; overflow:hidden; }
.GOGanttDepHorzOut { margin-top:-500px; height:19px; margin-bottom:481px; font-size:1px; line-height:1px; overflow:hidden; }
.GOGanttDepErr { border-top-color:#FDF; border-bottom-color:#FBF; border-left-color:#FDF; border-right-color:#FBB; background:#F0F; }
.GOGanttDepLagErr { border-color:#F0F; }
.GOGanttDepIcon { margin-top:-500px; height:500px; }
.GOGanttDepArrowLeft,.GOGanttDepArrowRight,.GOGanttDepArrowErrLeft,.GOGanttDepArrowErrRight,
.GOGanttDepArrowLeftRtl,.GOGanttDepArrowRightRtl,.GOGanttDepArrowErrLeftRtl,.GOGanttDepArrowErrRightRtl {
   height:500px; background:url(Gantt.gif) no-repeat; overflow:hidden; 
   }
.GOGanttDepArrowLeft { background-position:-200px 0px; width:12px; }
.GOGanttDepArrowRight { background-position:-250px 0px; width:12px; }
.GOGanttDepArrowErrLeft { background-position:-400px 0px; width:12px; }
.GOGanttDepArrowErrRight { background-position:-450px 0px; width:12px; }
.GOGanttDepArrowLeftRtl { background-position:-251px 0px; width:12px; }
.GOGanttDepArrowRightRtl { background-position:-203px 0px; width:12px; }
.GOGanttDepArrowErrLeftRtl { background-position:-451px 0px; width:12px; }
.GOGanttDepArrowErrRightRtl { background-position:-402px 0px; width:12px; }
.GOGanttDepStart { width:4px; overflow:hidden; }
.GOGanttDepEnd { width:10px; overflow:hidden; }

.GOGanttBack { background:white; }
.GOGanttBackRow { background:white; }
.GOGanttBack0,.GOGanttBack1,.GOGanttBack2,.GOGanttBack3,.GOGanttBack4,.GOGanttBack5 { 
   overflow:hidden; height:500px; margin-left:auto; margin-right:auto; 
   }
.GOGanttBack0 { background:#FFF; }
.GOGanttBack1 { background:#E8E8E8; }
.GOGanttBack2 { background:#DDD; }
.GOGanttBack3 { background:#BBB; }
.GOGanttBack4 { background:#C72; }
.GOGanttBack5 { background:#27C; }

.GOGanttMinStart,.GOGanttMaxStart,.GOGanttMinEnd,.GOGanttMaxEnd { background:url(Gantt.gif) no-repeat; width:7px; height:17px; overflow:hidden; }
.GOGanttMinStart { background-position:-500px 0px; }
.GOGanttMaxStart { background-position:-550px 0px; }
.GOGanttMinEnd { background-position:-600px 0px; }
.GOGanttMaxEnd { background-position:-650px 0px; }
.GOGanttMinStartHover { background-position:-700px 0px; }
.GOGanttMaxStartHover { background-position:-750px 0px; }
.GOGanttMinEndHover { background-position:-800px 0px; }
.GOGanttMaxEndHover { background-position:-850px 0px; }

.GOGanttExclude,.GOGanttExcludeHidden { height:500px; overflow:hidden; background:#e9e9e9; margin-left:auto; margin-right:auto; }
.GOGanttExcludeHidden { }

.GOGanttBase,.GOGanttBaseAuto,.GOGanttFinish,.GOGanttFinishAuto { height:500px; overflow:hidden; border-left:2px solid #35CFFF; width:2px; margin-left:auto; margin-right:auto; }
.GOGanttFinishAuto,.GOGanttBaseAuto { border-left:1px solid #35CFFF; }

.GOGanttHeader { margin-left:-4px; margin-right:-4px; margin-top:-2px; }
.GOGanttHeader1,.GOGanttHeader2,.GOGanttHeader3,.GOGanttHeader4,.GOGanttHeader5 {
   font:13px "Times New Roman"; text-align:center;
   border-top:1px solid #ffffff; border-left:1px solid #ffffff; 
   border-bottom:1px solid #e0e0ff; border-right:1px solid #e0e0ff;
   }

/* ------------- Tree Img with lines ------------- */

.GO000,.GO010,.GO001,.GO011,.GO100,.GO110,.GO101,.GO111, 
.GO000T,.GO010T,.GO001T,.GO011T,.GO100T,.GO110T,.GO101T,.GO111T,
.GO00,.GO01,.GO10,.GO11,
.GO00T,.GO01T,.GO10T,.GO11T,
.GO0T,.GO1T,.GO0TL,.GO1TL,.GO0C,.GO1C,.GO0CL,.GO1CL,.GO0E,.GO1E,.GO0EL,.GO1EL,
.GO0,.GO1,
.GOT,.GOTL,.GOC,.GOCL,.GOE,.GOEL,.GOD0,.GOD1,.GOD2,.GOD3,.GOD4,.GOD0L,.GOD1L,.GOD2L,.GOD3L,.GOD4L {   
   font-size:10px; background-image:url(Tree.gif); vertical-align:top;
   }

u.GO000,u.GO010,u.GO001,u.GO011,u.GO100,u.GO110,u.GO101,u.GO111 { padding-left:63px; }
u.GO000T,u.GO010T,u.GO001T,u.GO011T,u.GO100T,u.GO110T,u.GO101T,u.GO111T { padding-left:89px; }
u.GO00,u.GO01,u.GO10,u.GO11 { padding-left:42px; }   
u.GO00T,u.GO01T,u.GO10T,u.GO11T { padding-left:68px; }   
u.GO0T,u.GO1T,u.GO0TL,u.GO1TL,u.GO0C,u.GO1C,u.GO0CL,u.GO1CL,u.GO0E,u.GO1E,u.GO0EL,u.GO1EL { padding-left:47px; }   
u.GO0,u.GO1 { padding-left:21px; }
u.GOT,u.GOTL,u.GOC,u.GOCL,u.GOE,u.GOEL,u.GOD0,u.GOD1,u.GOD2,u.GOD3,u.GOD4,u.GOD0L,u.GOD1L,u.GOD2L,u.GOD3L,u.GOD4L { padding-left:26px; }   

.GO000,.GO000T { background-position:0px 0px; }
.GO010,.GO010T { background-position:-128px 0px; }
.GO001,.GO001T { background-position:-256px 0px; }
.GO011,.GO011T { background-position:-384px 0px; }
.GO100,.GO100T { background-position:-512px 0px; }
.GO110,.GO110T { background-position:-640px 0px; }
.GO101,.GO101T { background-position:-768px 0px; }
.GO111,.GO111T { background-position:-896px 0px; }

.GO00,.GO00T { background-position:-21px 0px; }
.GO10,.GO10T { background-position:-149px 0px; }
.GO01,.GO01T { background-position:-277px 0px; }
.GO11,.GO11T { background-position:-405px 0px; }

.GO0,.GO0T { background-position:-42px 0px; }
.GO1,.GO1T { background-position:-298px 0px; }

.GOT { background-position:-63px 0px; }

.GO0TL { background-position:-1024px 0px; }
.GO1TL { background-position:-1088px 0px; }
.GO0C { background-position:-1152px 0px; }
.GO1C { background-position:-1216px 0px; }
.GO0CL { background-position:-1280px 0px; }
.GO1CL { background-position:-1344px 0px; }
.GO0E { background-position:-1408px 0px; }
.GO1E { background-position:-1472px 0px; }
.GO0EL { background-position:-1536px 0px; }
.GO1EL { background-position:-1600px 0px; }

.GOTL { background-position:-1045px 0px; }
.GOC { background-position:-1173px 0px; }
.GOCL { background-position:-1301px 0px; }
.GOE { background-position:-1429px 0px; }
.GOEL { background-position:-1557px 0px; }

.GOD0 { background-position:-1664px 0px; }
.GOD1 { background-position:-1696px 0px; }
.GOD2 { background-position:-1728px 0px; }
.GOD3 { background-position:-1760px 0px; }
.GOD0L { background-position:-1792px 0px; }
.GOD1L { background-position:-1824px 0px; }
.GOD2L { background-position:-1856px 0px; }
.GOD3L { background-position:-1888px 0px; }
.GOD4 { background-position:-1920px 0px; }
.GOD4L { background-position:-1952px 0px; }

/* ------------- Tree Img without lines ------------- */

.GOND0,.GOND1,.GOND2,.GOND3,.GOND4,.GONC,.GONE,.GONCR,.GONER { font-size:10px; background-image:url(TreeN.gif); background-repeat:no-repeat; vertical-align:top; }
u.GOND0,u.GOND1,u.GOND2,u.GOND3,u.GOND4,u.GONC,u.GONE,u.GONCR,u.GONER { padding-left:20px; }
.GOND0 { background-position: -6px 0px; }
.GOND1 { background-position: -56px 0px; }
.GOND2 { background-position: -106px 0px; }
.GOND3 { background-position: -156px 0px; }
.GOND4 { background-position: -206px 0px; }
.GONCR { background-position:-255px -50px;}
.GONER { background-position:-255px -2000px;}
.GONC { background-position:right -50px;}
.GONE { background-position:right -2000px;}
u.GONL { padding-left:21px; }

/* ------------- Panel img ------------- */

.GOPanelImage,.GOPanelMove,.GOPanelMoveOff,.GOPanelSelect,.GOPanelSelectOn,.GOPanelSelectOff,.GOPanelDelete,.GOPanelDeleteOff,.GOPanelCopy,.GOPanelCopyOff,.GOPanelEmpty {
   font-size:10px; padding-left:13px; background-image:url(Panel.gif); background-repeat:no-repeat;
   }
.GOPanelEmpty { background:none; }   
.GOPanelMove { background-position: 0px 0px; }
.GOPanelMoveOff { background-position: -50px 0px; }
.GOPanelSelect { background-position: -100px 0px; }
.GOPanelSelectOn { background-position: -150px 0px; }
.GOPanelSelectOff { background-position: -200px 0px; }
.GOPanelDelete { background-position: -250px 0px; }
.GOPanelDeleteOff { background-position: -300px 0px; }
.GOPanelCopy { background-position: -350px 0px; }
.GOPanelCopyOff { background-position: -400px 0px; }
.GOPanelButton { font:10px "Microsoft Sans Serif",Verdana,Arial; padding:0px; height:17px; width:19px; margin:0px; cursor:pointer; _cursor:hand; }

/* ------------- Fast Panel img ------------- */

.GOP1111,.GOP1211,.GOP1011,.GOP1101,.GOP1201,.GOP1001,.GOP1110,.GOP1210,.GOP1010,.GOP1100,.GOP1200,.GOP1000,
.GOP0111,.GOP0211,.GOP0011,.GOP0101,.GOP0201,.GOP0001,.GOP0110,.GOP0210,.GOP0010,.GOP0100,.GOP0200,.GOP0000, 
.GOP111x,.GOP121x,.GOP101x,.GOP110x,.GOP120x,.GOP100x,.GOP011x,.GOP021x,.GOP001x,.GOP010x,.GOP020x,.GOP000x,
.GOP11xx,.GOP12xx,.GOP10xx,.GOP01xx,.GOP02xx,.GOP00xx,
.GOPx111,.GOPx211,.GOPx011,.GOPx101,.GOPx201,.GOPx001,.GOPx110,.GOPx210,.GOPx010,.GOPx100,.GOPx200,.GOPx000,
.GOPx11x,.GOPx21x,.GOPx01x,.GOPx10x,.GOPx20x,.GOPx00x,
.GOPxx11,.GOPxx10,.GOPxx01,.GOPxx00, 
.GOPxxx1,.GOPxxx0,.GOPxx1x,.GOPxx0x,.GOPx2xx,.GOPx1xx,.GOPx0xx,.GOP1xxx,.GOP0xxx {
   font-size:10px; background-image:url(FastPanel1.gif); background-repeat:no-repeat;
   }
.GOP1111,.GOP111x,.GOP11xx,.GOP1xxx { background-position:0px 0px; }
.GOP1211,.GOP121x,.GOP12xx { background-position:-80px 0px; }
.GOP1011,.GOP101x,.GOP10xx { background-position:-160px 0px; }
.GOP1101,.GOP110x { background-position:-240px 0px; }
.GOP1201,.GOP120x { background-position:-320px 0px; }
.GOP1001,.GOP100x { background-position:-400px 0px; }
.GOP1110 { background-position:-480px 0px; }
.GOP1210 { background-position:-560px 0px; }
.GOP1010 { background-position:-640px 0px; }
.GOP1100 { background-position:-720px 0px; }
.GOP1200 { background-position:-800px 0px; }
.GOP1000 { background-position:-880px 0px; }
.GOP0111,.GOP011x,.GOP01xx,.GOP0xxx { background-position:-960px 0px; }
.GOP0211,.GOP021x,.GOP02xx { background-position:-1040px 0px; }
.GOP0011,.GOP001x,.GOP00xx { background-position:-1120px 0px; }
.GOP0101,.GOP010x { background-position:-1200px 0px; }
.GOP0201,.GOP020x { background-position:-1280px 0px; }
.GOP0001,.GOP000x { background-position:-1360px 0px; }
.GOP0110 { background-position:-1440px 0px; }
.GOP0210 { background-position:-1520px 0px; }
.GOP0010 { background-position:-1600px 0px; }
.GOP0100 { background-position:-1680px 0px; }
.GOP0200 { background-position:-1760px 0px; }
.GOP0000 { background-position:-1840px 0px; }

.GOPx111,.GOPx11x,.GOPx1xx { background-position:-13px 0px; }
.GOPx211,.GOPx21x,.GOPx2xx { background-position:-93px 0px; }
.GOPx011,.GOPx01x,.GOPx0xx { background-position:-173px 0px; }
.GOPx101,.GOPx10x { background-position:-253px 0px; }
.GOPx201,.GOPx20x { background-position:-333px 0px; }
.GOPx001,.GOPx00x { background-position:-413px 0px; }
.GOPx110 { background-position:-493px 0px; }
.GOPx210 { background-position:-573px 0px; }
.GOPx010 { background-position:-653px 0px; }
.GOPx100 { background-position:-733px 0px; }
.GOPx200 { background-position:-813px 0px; }
.GOPx000 { background-position:-893px 0px; }

.GOPxx11,.GOPxx1x { background-position:-26px 0px; }
.GOPxx01,.GOPxx0x { background-position:-266px 0px; }
.GOPxx10{ background-position:-506px 0px; }
.GOPxx00 { background-position:-746px 0px; }

.GOPxxx1 { background-position:-39px 0px; }
.GOPxxx0 { background-position:-519px 0px; }

.GOP11x1,.GOP12x1,.GOP10x1,.GOP11x0,.GOP12x0,.GOP10x0,.GOP01x1,.GOP02x1,.GOP00x1,.GOP01x0,.GOP02x0,.GOP00x0,
.GOPx1x1,.GOPx2x1,.GOPx0x1,.GOPx1x0,.GOPx2x0,.GOPx0x0,
.GOP1x11,.GOP1x01,.GOP1x10,.GOP1x00,.GOP0x11,.GOP0x01,.GOP0x10,.GOP0x00,
.GOP1x1x,.GOP1x0x,.GOP0x1x,.GOP0x0x,
.GOP1xx1,.GOP1xx0,.GOP0xx1,.GOP0xx0 {
   font-size:11px; background-image:url(FastPanel2.gif); background-repeat:no-repeat;
   }
.GOP11x1 { background-position:0px 0px; }
.GOP12x1 { background-position:-80px 0px; }
.GOP10x1 { background-position:-160px 0px; }
.GOP11x0 { background-position:-240px 0px; }
.GOP12x0 { background-position:-320px 0px; }
.GOP10x0 { background-position:-400px 0px; }
.GOP01x1 { background-position:-480px 0px; }
.GOP02x1 { background-position:-560px 0px; }
.GOP00x1 { background-position:-640px 0px; }
.GOP01x0 { background-position:-720px 0px; }
.GOP02x0 { background-position:-800px 0px; }
.GOP00x0 { background-position:-880px 0px; }

.GOPx1x1 { background-position:-13px 0px; }
.GOPx2x1 { background-position:-93px 0px; }
.GOPx0x1 { background-position:-173px 0px; }
.GOPx1x0 { background-position:-253px 0px; }
.GOPx2x0 { background-position:-333px 0px; }
.GOPx0x0 { background-position:-413px 0px; }

.GOP1x11,.GOP1x1x { background-position:-960px 0px; }
.GOP1x01,.GOP1x0x { background-position:-1040px 0px; }
.GOP1x10 { background-position:-1120px 0px; }
.GOP1x00 { background-position:-1200px 0px; }
.GOP0x11,.GOP0x1x { background-position:-1280px 0px; }
.GOP0x01,.GOP0x0x { background-position:-1360px 0px; }
.GOP0x10 { background-position:-1440px 0px; }
.GOP0x00 { background-position:-1520px 0px; }

.GOP1xx1 { background-position:-1600px 0px; }
.GOP1xx0 { background-position:-1680px 0px; }
.GOP0xx1 { background-position:-1760px 0px; }
.GOP0xx0 { background-position:-1840px 0px; }

.GOPSpace1 { padding-left:12px; }
.GOPSpace2 { padding-left:25px; }
.GOPSpace3 { padding-left:38px; }
.GOPSpace4 { padding-left:51px; }
u.GOPSpace1 { padding-left:13px; }
u.GOPSpace2 { padding-left:23px; }
u.GOPSpace3 { padding-left:36px; }
u.GOPSpace4 { padding-left:49px; }

/* ------------- Button type ------------- */   

.GOTabHtml,.GOTabHtml1 {
	font:11px Verdana, Arial, Helvetica, sans-serif; white-space:nowrap;
	padding-left:5px; padding-right:5px; text-align:center; border-left:none;
   }
.GOTabHtml1 { background:#BBBBBB; color:white; }
.GOTabSep,.GOTabSepLeft,.GOTabSepRight { padding-left:2px; background:white!important; cursor:default!important; border:none; border-right:1px solid #D4D4D4; }
.GOTabSepRight,.GOTabSepLeft { padding-left:5px; }
.GOTabSepLast { padding-left:1px; background:white!important; cursor:default!important; border:none; }
.GOTabSepFirst { padding-left:1px; background:white!important; cursor:default!important; border:none; border-right:1px solid #D4D4D4; }

.GOToolHtml,.GOToolHtml1 { font:11px Verdana, Arial, Helvetica, sans-serif; padding-left:3px; padding-right:3px; }
.GOToolHtml1 { font-weight:bold; color:#09C; }
.GOToolButton { text-align:center; padding-left:1px; padding-right:1px; }
.GOToolButtonButton,.GOToolButtonButton1,.GOToolSpaceButton,.GOToolSpaceButton1 {
 	font:11px Verdana, Arial, Helvetica, sans-serif; height:19px;
 	padding-left:0px; padding-right:0px; cursor:pointer; _cursor:hand;
 	border:none; background:transparent;
   }
.GOToolButtonButton1,.GOToolSpaceButton1 { color:#09C; font-weight:bold; }

.GOIconHtml { text-align:left; }
.GODisabledButton { opacity:0.3; filter:alpha(opacity=30); }

.GOToolHeader { border:none!important; padding-bottom:100px; }
.GOToolMenuHeader { }    
.GOToolMenuItem { background:#F0F0E0!important; }
.GOToolMenuOuter { background:#F0F0E0!important; }
.GOToolMenuBody { background:#F0F0E0!important; border:1px solid #e0e0ff!important;}

/* ------------- Special Toolbar buttons ------------- */   
.GOResizeGrid,.GOResizeGridRtl,.GOToolSave,.GOToolReload,.GOToolRepaint,.GOToolRepaint1,.GOToolAdd,.GOToolAddChild,.GOToolJoin,.GOToolSplit,.GOToolSort1,.GOToolSort,.GOToolCalc1,.GOToolCalc,
.GOToolExpandAll,.GOToolCollapseAll,.GOToolColumns,.GOToolCfg,.GOToolHelp,.GOToolPrint,.GOToolExport,.GOToolExportPDF,.GOToolDebug,.GOToolOutdent,.GOToolIndent, 
.GOToolUndo,.GOToolUndo1,.GOToolRedo,.GOToolRedo1,.GOToolCorrect,.GOToolCorrect1,.GOToolZoomIn,.GOToolZoomIn1,.GOToolZoomOut,.GOToolZoomOut1,.GOToolZoomFit,
.GOToolPagerFirst,.GOToolPagerFirst1,.GOToolPagerPrev,.GOToolPagerPrev1,.GOToolPagerNext,.GOToolPagerNext1,.GOToolPagerLast,.GOToolPagerLast1 {
   font-size:11px; background-image:url(Toolbar.gif); background-repeat:no-repeat; padding-right:2px; padding-left:18px; border:none;
   }
.GOToolPagerFirst,.GOToolPagerFirst1,.GOToolPagerPrev,.GOToolPagerPrev1,.GOToolPagerNext,.GOToolPagerNext1,.GOToolPagerLast,.GOToolPagerLast1 {
   border:0px none;
   }   
.GOToolSave { background-position:0px 0px; }
.GOToolReload { background-position:-50px 0px; }
.GOToolRepaint1 { background-position:-100px 0px; }
.GOToolAdd { background-position:-150px 0px; }
.GOToolAddChild { background-position:-200px 0px; }
.GOToolSort1 { background-position:-250px 0px; }
.GOToolSort { background-position:-300px 0px; }
.GOToolCalc1 { background-position:-350px 0px; }
.GOToolCalc { background-position:-400px 0px; }
.GOToolExpandAll { background-position:-450px 0px; }
.GOToolCollapseAll { background-position:-500px 0px; }
.GOToolCfg { background-position:-550px 0px; }
.GOToolHelp { background-position:-600px 0px; }
.GOToolColumns { background-position:-650px 0px; }
.GOToolPrint { background-position:-750px 0px; }
.GOToolExport { background-position:-800px 0px; }
.GOToolPagerFirst1 { background-position:-850px 0px; }
.GOToolPagerFirst { background-position:-900px 0px; }
.GOToolPagerPrev1 { background-position:-950px 0px; }
.GOToolPagerPrev { background-position:-1000px 0px; }
.GOToolPagerNext1 { background-position:-1050px 0px; }
.GOToolPagerNext { background-position:-1100px 0px; }
.GOToolPagerLast1 { background-position:-1150px 0px; }
.GOToolPagerLast { background-position:-1200px 0px; }
.GOToolDebug { background-position:-1250px 0px; }
.GOToolUndo1 { background-position:-1350px 0px; }
.GOToolUndo { background-position:-1400px 0px; }
.GOToolRedo1 { background-position:-1450px 0px; }
.GOToolRedo { background-position:-1500px 0px; }
.GOToolCorrect1 { background-position:-1550px 0px; }
.GOToolCorrect { background-position:-1600px 0px; }
.GOToolZoomIn1 { background-position:-1800px 0px; }
.GOToolZoomIn { background-position:-1850px 0px; }
.GOToolZoomOut1 { background-position:-1700px 0px; }
.GOToolZoomOut { background-position:-1750px 0px; }
.GOToolZoomFit { background-position:-1900px 0px; }
.GOToolExportPDF { background-position:-1950px 0px; }
.GOToolJoin { background-position:-2000px 0px; }
.GOToolSplit { background-position:-2050px 0px; }
.GOToolRepaint { background-position:-2100px 0px; }
.GOToolOutdent { background-position:-2150px 0px; }
.GOToolIndent { background-position:-2200px 0px; }

.GOResizeGrid  {
   background-position:-703px 0px; border:none; 
   margin-left:auto; margin-right:0px; margin-top:-20px; background-color:white;
   height:20px; width:20px; overflow:hidden; padding:0px; cursor:nw-resize; 
   }

.GOResizeGridRtl {
   background-position:-1303px -0px; border:none;
   margin-right:auto; margin-left:0px; margin-top:-20px; background-color:white;
   height:20px; width:20px; overflow:hidden; padding:0px; cursor:ne-resize;
   }

/* ------------- Cell images ------------- */

.GOIconLeft,.GOIconRight,.GOIconCenter { font-size:11px; background-repeat:no-repeat; }
.GOIconLeft { background-position:left 0px; padding-left:20px!important; }
.GOIconRight { background-position:right 0px; padding-right:20px!important; }
.GOIconCenter { background-position:center 0px; }

.GODateLeft,.GODatesLeft,.GODefaultsLeft,.GODefaultsSpaceLeft,.GOEnumLeft,.GODateRight,.GODatesRight,.GODefaultsRight,.GODefaultsSpaceRight,.GOEnumRight,
.GOCollapseRight,.GOExpandRight,.GOCollapseLeft,.GOExpandLeft,.GOCollapseHeaderRight,.GOExpandHeaderRight,.GOCollapseHeaderLeft,.GOExpandHeaderLeft,
.GORadio0Left,.GORadio0Right,.GORadio1Left,.GORadio1Right,.GORadio2Left,.GORadio2Right,.GORadio3Left,.GORadio3Right, 
.GOBoolXSpace,.GOBoolXSpaceRO,.GOBool0Space,.GOBool1Space,.GOBool0SpaceRO,.GOBool1SpaceRO,
.GOBoolX,.GOBoolXRO,.GOBool0,.GOBool1,.GOBool0RO,.GOBool1RO,.GOBool2,.GOBool3,.GOBool2RO,.GOBool3RO {
   background-image:url(Button.gif); background-repeat:no-repeat; }
.GOFilter0,.GOFilter1,.GOGroup0,.GOGroup1,.GOSearch0,.GOSearch1 {
   background-image:url(Filter.gif); background-repeat:no-repeat;
   }
.GORadio0Left,.GORadio0Right,.GORadio1Left,.GORadio1Right,.GORadio2Left,.GORadio2Right,.GORadio3Left,.GORadio3Right { font-size:11px; font-family:"Microsoft Sans Serif",Verdana,Arial; }
.GODateLeft,.GODatesLeft,.GODefaultsLeft,.GODefaultsSpaceLeft,.GOExpandLeft,.GOCollapseLeft,.GOExpandHeaderLeft,.GOCollapseHeaderLeft { padding-left:20px!important; }
.GODateRight,.GODatesRight,.GODefaultsRight,.GODefaultsSpaceRight,.GOExpandRight,.GOCollapseRight,.GOExpandHeaderRight,.GOCollapseHeaderRight { padding-right:20px!important; }
u.GODateRight,u.GODatesRight,u.GODefaultsRight,u.GODefaultsSpaceRight,u.GOExpandRight,u.GOCollapseRight,u.GOExpandHeaderRight,u.GOCollapseHeaderRight { padding-right:0px!important; padding-left:17px; }
.GODateLeft,.GODatesLeft { background-position:left -250px; }
.GODateRight,.GODatesRight { background-position:right -250px; }
.GODefaultsLeft { background-position:left 0px; }
.GODefaultsRight { background-position:right 0px; }
.GODefaultsSpaceLeft { background-position:left 0px; }
.GODefaultsSpaceRight { background-position:right 0px; }
.GOEnumLeft { background-position:left -500px; padding-left:17px; }
.GOEnumRight { background-position:right -500px; padding-right:17px; }
u.GOEnumRight { padding-right:0px; padding-left:17px; }
.GOExpandLeft { background-position:left -2499px; }
.GOExpandRight { background-position:right -2499px; }
.GOExpandHeaderLeft { background-position:left -2498px; }
.GOExpandHeaderRight { background-position:right -2498px; }
.GOCollapseLeft { background-position:left -2249px;}
.GOCollapseRight { background-position:right -2249px;}
.GOCollapseHeaderLeft { background-position:left -2248px; }
.GOCollapseHeaderRight { background-position:right -2248px; }

.GORadio0Left,.GORadio1Left,.GORadio2Left,.GORadio3Left { padding-left:17px; padding-top:2px; padding-right:3px; line-height:12px; }
.GORadio0Right,.GORadio1Right,.GORadio2Right,.GORadio3Right { padding-right:17px; padding-top:2px; padding-left:3px; line-height:12px;}
.GORadio0Left { background-position:left -1250px; } 
.GORadio1Left { background-position:left -1500px;} 
.GORadio2Left { background-position:left -750px; }
.GORadio3Left { background-position:left -1000px;}
.GORadio0Right { background-position:right -1250px; } 
.GORadio1Right { background-position:right -1500px;} 
.GORadio2Right { background-position:right -750px; }
.GORadio3Right { background-position:right -1000px;}
.GORadioInput { margin-top:0px; margin-bottom:0px; margin-top:-4px!IE; }
nobr.GORadio0Left,nobr.GORadio1Left,nobr.GORadio2Left,nobr.GORadio3Left,
nobr.GORadio0Right,nobr.GORadio1Right,nobr.GORadio2Right,nobr.GORadio3Right,
span.GORadio0Left,span.GORadio1Left,span.GORadio2Left,span.GORadio3Left,
span.GORadio0Right,span.GORadio1Right,span.GORadio2Right,span.GORadio3Right {
   padding-top:1px; padding-bottom:2px;
   }

u.GOBoolXSpace,u.GOBool0Space,u.GOBool1Space,u.GOBoolXSpaceRO,u.GOBool0SpaceRO,u.GOBool1SpaceRO,
u.GOBoolX,u.GOBoolXRO,u.GOBool0,u.GOBool1,u.GOBool0RO,u.GOBool1RO,u.GOBool2,u.GOBool3,u.GOBool2RO,u.GOBool3RO,
u.GOFilter0,u.GOFilter1 { padding-left:18px; }
.GOBoolXSpace { background-position:center -2000px; padding-left:18px; background-image:url(Sort.gif); }
.GOBoolXSpaceRO { background-image:none; }
.GOBool0Space { background-position:center -750px; padding-left:18px; }
.GOBool1Space { background-position:center -1000px; padding-left:18px; }
.GOBool0SpaceRO { background-position:center -1750px; padding-left:18px; }
.GOBool1SpaceRO { background-position:center -2000px; padding-left:18px; }
.GOBoolX { background-position:center -2000px; padding-left:18px; background-image:url(Sort.gif); }
.GOBoolXRO { background-image:none; }
.GOBool0 { background-position:center -750px; }
.GOBool1 { background-position:center -1000px; }
.GOBool0RO { background-position:center -1750px; }
.GOBool1RO { background-position:center -2000px; }
.GOBool2,.GOBool2RO { background-position:center -1250px; }
.GOBool3,.GOBool3RO { background-position:center -1500px; }
.GOFilter0 { background-position:center -1900px; }
.GOFilter1 { background-position:center -2000px; }
.GOGroup0 { background-position:center -1900px; }
.GOGroup1 { background-position:center -2000px; }
.GOSearch0 { background-position:center -1900px; }
.GOSearch1 { background-position:center -2000px; }
.GOBoolInput { margin-top:2px; margin-bottom:0px; padding:0px; margin-top:-2px!IE;margin-bottom:-6px!IE; }

.GOBoolChar0,.GOBoolChar1,.GOBoolChar2,.GOBoolChar0RO,.GOBoolChar1RO,.GOBoolChar2RO {
   border:1px solid black; color:blue; text-align:center;
   height:8px; width:8px; overflow:hidden;
   font:bold 9px Arial; margin:auto; margin-top:2px;
   }
.GOBoolChar2 { color:green; }
.GOBoolChar0RO,.GOBoolChar1RO,.GOBoolChar2RO { color:gray; }
.GOBoolCharIE { height:12px; width:12px; }

.GOPopupLeft,.GOPopupRight { font-size:11px; background-image:url(Menu.gif); background-repeat:no-repeat; }
.GOPopupLeft { background-position:-6px -250px; padding-left:14px;}
.GOPopupRight { background-position:right -250px; padding-right:14px;}
.GOPopupNone { padding-right:14px; }

.GOIconRotate { padding-left:2px!important; padding-top:20px!important; }
.GOIconRotateLeft { margin-left:0px; padding-top:20px!important; }
.GOIconRotateHeaderLeft { margin-left:5px; padding-top:20px!important; }
.GOIconRotateHeaderRight { margin-left:2px; padding-top:20px!important; }

/* ------------- Filter images ------------- */
.GOFilter0Left,.GOFilter1Left,.GOFilter2Left,.GOFilter3Left,.GOFilter4Left,.GOFilter5Left,.GOFilter6Left,.GOFilter7Left,.GOFilter8Left,.GOFilter9Left,.GOFilter10Left,.GOFilter11Left,.GOFilter12Left,
.GOFilter0Right,.GOFilter1Right,.GOFilter2Right,.GOFilter3Right,.GOFilter4Right,.GOFilter5Right,.GOFilter6Right,.GOFilter7Right,.GOFilter8Right,.GOFilter9Right,.GOFilter10Right,.GOFilter11Right,.GOFilter12Right {
   font-size:11px; background-image:url(Filter.gif); background-repeat:no-repeat;
   }
.GOFilter0Left,.GOFilter1Left,.GOFilter2Left,.GOFilter3Left,.GOFilter4Left,.GOFilter5Left,.GOFilter6Left,.GOFilter7Left,.GOFilter8Left,.GOFilter9Left,.GOFilter10Left,.GOFilter11Left,.GOFilter12Left {
   padding-left:17px;
   }
.GOFilter0Right,.GOFilter1Right,.GOFilter2Right,.GOFilter3Right,.GOFilter4Right,.GOFilter5Right,.GOFilter6Right,.GOFilter7Right,.GOFilter8Right,.GOFilter9Right,.GOFilter10Right,.GOFilter11Right,.GOFilter12Right {
   padding-right:17px;
   }
u.GOFilter0Right,u.GOFilter1Right,u.GOFilter2Right,u.GOFilter3Right,u.GOFilter4Right,u.GOFilter5Right,u.GOFilter6Right,u.GOFilter7Right,u.GOFilter8Right,u.GOFilter9Right,u.GOFilter10Right,u.GOFilter11Right,u.GOFilter12Right {  
   padding-right:0px; padding-left:17px;
   }
.GOFilter0Left,.GOFilter0Menu { background-position:left 0px; }   
.GOFilter1Left,.GOFilter1Menu { background-position:left -150px; }
.GOFilter2Left,.GOFilter2Menu { background-position:left -300px; }
.GOFilter3Left,.GOFilter3Menu { background-position:left -450px; }
.GOFilter4Left,.GOFilter4Menu { background-position:left -600px; }
.GOFilter5Left,.GOFilter5Menu { background-position:left -750px; }   
.GOFilter6Left,.GOFilter6Menu { background-position:left -900px; }
.GOFilter7Left,.GOFilter7Menu { background-position:left -1050px; }
.GOFilter8Left,.GOFilter8Menu { background-position:left -1200px; }
.GOFilter9Left,.GOFilter9Menu { background-position:left -1350px; }
.GOFilter10Left,.GOFilter10Menu { background-position:left -1500px; }
.GOFilter11Left,.GOFilter11Menu { background-position:left -1650px; }
.GOFilter12Left,.GOFilter12Menu { background-position:left -1800px; }
.GOFilter0Right { background-position:right 0px; }   
.GOFilter1Right { background-position:right -150px; }
.GOFilter2Right { background-position:right -300px; }
.GOFilter3Right { background-position:right -450px; }
.GOFilter4Right { background-position:right -600px; }
.GOFilter5Right { background-position:right -750px; }   
.GOFilter6Right { background-position:right -900px; }
.GOFilter7Right { background-position:right -1050px; }
.GOFilter8Right { background-position:right -1200px; }
.GOFilter9Right { background-position:right -1350px; }
.GOFilter10Right { background-position:right -1500px; }
.GOFilter11Right { background-position:right -1650px; }
.GOFilter12Right { background-position:right -1800px; }

.GOFilter0Menu,.GOFilter1Menu,.GOFilter2Menu,.GOFilter3Menu,.GOFilter4Menu,.GOFilter5Menu,.GOFilter6Menu,.GOFilter7Menu,.GOFilter8Menu,.GOFilter9Menu,.GOFilter10Menu,.GOFilter11Menu,.GOFilter12Menu {
   width:17px; height:17px; overflow:hidden; background-image:url(Filter.gif); background-repeat:no-repeat; margin-left:-1px;
   }
.GOFilterMenuHeader { padding-left:1px; border-bottom:0px none!important; }   

/* ------------- Sort images ------------- */
.GOSort0Left,.GOSort1Left,.GOSort2Left,.GOSort3Left,.GOSort4Left,.GOSort5Left,.GOSort6Left,
.GOSort0Right,.GOSort1Right,.GOSort2Right,.GOSort3Right,.GOSort4Right,.GOSort5Right,.GOSort6Right {
   font-size:11px; background-image:url(Sort.gif); background-repeat:no-repeat;  
   }
.GOSort0Left,.GOSort1Left,.GOSort2Left,.GOSort3Left,.GOSort4Left,.GOSort5Left,.GOSort6Left { padding-left:14px; }
.GOSort0Right,.GOSort1Right,.GOSort2Right,.GOSort3Right,.GOSort4Right,.GOSort5Right,.GOSort6Right{ padding-right:14px; }
u.GOSort0Right,u.GOSort1Right,u.GOSort2Right,u.GOSort3Right,u.GOSort4Right,u.GOSort5Right,u.GOSort6Right { padding-right:0px; padding-left:14px; }
.GOSort0Left { background-position:left 0px; }   
.GOSort1Left { background-position:left -250px; }
.GOSort2Left { background-position:left -500px; }
.GOSort3Left { background-position:left -750px; }
.GOSort4Left { background-position:left -1000px; }
.GOSort5Left { background-position:left -1250px; }
.GOSort6Left { background-position:left -1500px; }
.GOSort0Right { background-position:right 0px; }   
.GOSort1Right { background-position:right -250px; }
.GOSort2Right { background-position:right -500px; }
.GOSort3Right { background-position:right -750px; }
.GOSort4Right { background-position:right -1000px; }
.GOSort5Right { background-position:right -1250px; }
.GOSort6Right { background-position:right -1500px; }

/* -------------- Pager ------------------ */
.GOPagerMain { }
.GOPagerBody { border-left:1px solid #e9e9e9; border-right:1px solid #e9e9e9; background: #fff; }
.GOPagerHeader { background: #fff url(Backgrounds.gif) 0px -80px; border:1px solid  #e9e9e9; vertical-align:top; cursor:default; }
.GOPagerItem,.GOPagerHover,.GOPagerCaption {
   font:11px Verdana, Arial, Helvetica, sans-serif;
   border:1px solid #fff; border-bottom:1px solid #CBCBCB; border-right:1px solid #D4D4D4; overflow:hidden;
   padding-left:3px; padding-right:3px;
   background:#e9e9e9 url(Backgrounds.gif) repeat-x 0px -80px;
   }
.GOPagerCaption { padding-top:1px; padding-bottom:3px; cursor:default; }
.GOPagerItem  {
   cursor:pointer; _cursor:hand; background:#FFF; 
   border-bottom:dotted 1px #CBCBCB; height:14px; overflow:hidden; white-space:nowrap;
   }
.GOPagerItemTouch { padding-top:4px; padding-bottom:4px; } 
.GOPagerFocus {
   position:relative; cursor:pointer; _cursor:hand; overflow:hidden;
   border:1px solid black; overflow:hidden; background:#888; opacity:0.3; filter:alpha(opacity=30); 
   }
.GOPagerHover {
   position:relative; cursor:pointer; _cursor:hand; overflow:hidden;
   background:#66F; opacity:0.2; filter:alpha(opacity=20); 
   background:#888;
   }

.GOPagerSort1 { color: #000; }
.GOPagerSort2 { color: #737373; }
.GOPagerSort3 { color: #9b9b9b; }
.GOPagerSortS { color: black; }


/* -------------- State classes ------------- */
/* The colors must be set by numbers not by names */

.GOColorDefault { background-color:#FFFFFF; }

.GOColorNoFocus { background-color:#F0F0F0; }
.GOColorReadOnly { background-color:#F4F4F4;}
.GOColorPreview { background-color:#FFFFFF; }
.GOColorEdit { background-color:#FFFFFF; }

.GOColorAlternate { background-color:#EBFFFF; }

.GOColorSelected { background-color:#DEEFFF; }

.GOColorError { background-color:#FF6969; }
.GOColorDeleted { background-color:#FFEBEB; }
.GOColorAdded { background-color:#FFFFFF; }
.GOColorMoved1 { background-color:#FFFFFF; }
.GOColorMoved2 { background-color:#FFFFFF; }
.GOColorChanged { background-color:#F4F4F4; }
.GOColorChangedCell { background-color:#E1E1E1; }

.GOColorMaxChildren { background-color:#FFFFF0; }

.GOColorDetail { background-color:#FFF0FF; }
.GOColorDetailSelected { background-color:#FFF0E0; }

.GOColorDragged { background-color:#E0E0C0; }

.GOColorFound1 { background-color:#FF87FF; }
.GOColorFound2 { background-color:#FFC387; }
.GOColorFound3 { background-color:#87FF87; }

.GOColorHovered { background-color:#F4F4F4; }

.GOColorHoveredCell { background-color:#EBEBEB; }
.GOColorHoveredCellReadOnly { background-color:#EBEBEB; }
.GOColorHoveredCellNoFocus { background-color:#EBEBEB; }
.GOColorHoveredCellHeader { background-color:#FFFFFF; }
.GOColorHoveredCellPanel { background-color:#FFFFFF; }
.GOColorHoveredCellFastPanel { background-color:#FFFFFF; }
.GOColorHoveredCellSpace { background-color:#FFFFFF; }
.GOColorHoveredCellSpaceEdit { background-color:#EBEBEB; }
.GOColorHoveredCellSpaceBool { background-color:#FFFFFF; }
.GOColorHoveredCellButton { background-color:#FFFFFE; }
.GOColorHoveredCellButton1 { background-color:#FFFFFE; }
.GOColorHoveredCellTab { background-color:#EBEBEB; }
.GOClassHoveredCellTab { background-position:0px -1751px; }
.GOColorHoveredCellTab1 { background-color:#CCCCCC; }
.GOClassHoveredCellTab1 { background-image:none; }

.GOColorFocused { background-color:#E6E6E6; }
.GOColorFocusedCell { background-color:#FFFF80; }
.GOColorFocusedCellSafari { background-color:#FFFF80; }
.GOColorFocusedCellSpace { background-color:#FFFF80; }
.GOColorFocusedCellButton { background-color:#FFFFFE; }
.GOColorFocusedCellHeader { background-color:#FFFFFE; }
.GOColorFocusedCellPanel { background-color:#FFFFFE; }
.GOColorEditedCell { background-color:#FFE0A0; }
.GOColorViewedCell { background-color:#FFF0C0; }

/* --------------- Hover, focus, edit cursors ----------------- */
.GOHoverPanelBackground { }
.GOHoverRowBackground { opacity:0.1; filter:alpha(opacity=10); background:#00F; }
.GOHoverRowBorder { z-index:1; cursor:default; }
.GOHoverCellBorder { z-index:3; padding:1px; border:1px solid #A0A0A0; background:white; }
.GOFocusPanelBackground { }
.GOFocusRowBackground { opacity:0.1; filter:alpha(opacity=10); background:#000; }
.GOFocusRowBorder { z-index:2; border:1px solid #AAAAAA; }
.GOFocusCellBorder,.GOEditCellBorder,.GOFocusCellSpaceBorder,.GOEditCellSpaceBorder { z-index:4; border:1px solid black; }
.GOEditCellBorder,.GOEditCellSpaceBorder { border-color:red; }
.GOEditCellInput { position:relative; overflow:hidden; z-index:2; }

.GOCursorBackground { position:relative; border:none; padding:0px; overflow:hidden; }
.GOCursorBorderLeft { position:relative; padding-right:0px; padding-top:0px; padding-bottom:0px; border-right:none; border-top:none; border-bottom:none; overflow:hidden; width:0px; height:0px; }
.GOCursorBorderRight { position:relative; padding-left:0px; padding-top:0px; padding-bottom:0px; border-left:none; border-top:none; border-bottom:none; overflow:hidden; width:0px; height:0px; }
.GOCursorBorderTop { position:relative; padding-bottom:0px; padding-left:0px; padding-right:0px; border-bottom:none; border-left:none; border-right:none; overflow:hidden; width:0px; height:0px; }
.GOCursorBorderBottom { position:relative; padding-top:0px; padding-left:0px; padding-right:0px; border-top:none; border-left:none; border-right:none; overflow:hidden; width:0px; height:0px; }

/*--------------- Cell edges ----------------- */
.GONoLeft { border-left:0px none; }
.GONoRight { border-right:0px none; }

.GOEmpty { text-decoration:none; font-size:1px; line-height:1px;}

/*--------------- Dragging ----------------- */
.GOMouseObject { opacity:0.5; filter:alpha(opacity=50); z-index:300; overflow:hidden; }
.GODragObject {
   z-index:300; margin-left:10px; margin-top:10px; 
   font:11px Verdana, Arial, Helvetica, sans-serif;
   background:#f4f4f4; border:1px solid #d0d0d0; padding:3px;
   }
.GODragColInsideTop,.GODragColInsideBottom,.GODragColOutsideTop,.GODragColOutsideBottom,.GODragGanttRunTop,.GODragGanttRunBottom {
   position:absolute; background-image:url(Sort.gif); width:15px; height:11px; overflow:hidden; z-index:258;
   }
.GODragColInsideTop  { background-position:0px -1750px;  }
.GODragColInsideBottom  { background-position:0px -1770px;  }
.GODragColOutsideTop  { background-position:0px -1790px;  }
.GODragColOutsideBottom  { background-position:0px -1810px;  }
.GODragGanttRunTop  { background-position:0px -1750px;  }
.GODragGanttRunBottom  { background-position:0px -1770px;  }

/*--------------- Messages ----------------- */
.GODisabled { position:absolute; z-index:264; background:white; opacity:0.5; filter:alpha(opacity=50); } 
.GOMessage {
	background:#F4F4F4; border:1px solid #CBCBCB; padding:10px; white-space:nowrap; text-align:center;
	font:13px Verdana, Arial, Helvetica, sans-serif;
   position: absolute; left:0px; top:0px; visibility:hidden; z-index:266;
	}
.GOMessageShadow {
   position:absolute; margin-left:3px; margin-top:3px; z-index:265;
   background:#888; opacity:0.5; filter:alpha(opacity=50);
   left:0px; top:0px; visibility:hidden;
   }	
.GOPageMessage { background:#FAFAFA; border:1px solid #CBCBCB; padding:10px; font:13px Verdana, Arial, Helvetica, sans-serif; }

.GOProgressMain { font:13px "Microsoft Sans Serif",Verdana,Arial; }
.GOProgressCaption { font-weight:bold; margin-bottom:15px; }
.GOProgressText { margin-bottom:15px; }
.GOProgressOuter { text-align:left; width:200px; border:1px solid #CBCBCB; padding:2px; margin-bottom:15px; }
.GOProgressInner { height:10px; background:gray; }
.GOProgressButton,.GOMessageButton { font:11px "Microsoft Sans Serif",Verdana,Arial; }
.GOProgressButton { margin:2px; margin-top:5px; margin-bottom:0px; white-space:nowrap; padding-left:10px; padding-right:10px; }
.GOMessageButton { margin-top:10px; width:50px; }

   
/*--------------- Other ----------------- */
/* !!! No .GO style prefix here !!! */
.GridTmpTag { position:absolute; left:5px; top:5px; visibility:hidden; }

/*--------------- Debug print ----------------- */
/* !!! No .GO style prefix here !!! */
.GridDebugTag,.GridDebugTagMax { overflow:auto; overflow-y:scroll; border:1px solid black; background:#DDD; }
.GridDebugTag,.GridDebugTagMax,.GridDebugButtons,.GridDebugButtonsMax {
   position:fixed; z-index:256; left:5px; right:5px; bottom:5px; height:200px; padding:4px;
   position:absolute!IE;
   left:expression((5+(document.compatMode=="CSS1Compat"?document.documentElement.scrollLeft:document.body.scrollLeft))+"px")!IE;
   width:expression((-10+(document.compatMode=="CSS1Compat"?document.documentElement.clientWidth-8:document.body.clientWidth))+"px")!IE;
   top:expression((-205+(document.compatMode=="CSS1Compat"?document.documentElement.scrollTop+document.documentElement.clientHeight-8:document.body.scrollTop+document.body.clientHeight))+"px")!IE;
   }
.GridDebugTagMax,.GridDebugButtonsMax {
   top:5px; height:auto; 
   top:expression((5+(document.compatMode=="CSS1Compat"?document.documentElement.scrollTop:document.body.scrollTop))+"px")!IE;
   height:expression((-10+(document.compatMode=="CSS1Compat"?document.documentElement.clientHeight-8:document.body.clientHeight))+"px")!IE;
   }
.GridDebugButtons,.GridDebugButtonsMax {
   text-align:right; margin-right:25px; width:130px; left:auto;
   left:expression((-155+(document.compatMode=="CSS1Compat"?document.documentElement.clientWidth-8:document.body.clientWidth))+"px")!IE;
   }
.GridDebugButton { font-size:10px; width:40px; padding:0px; }
.GridDebugTitle { font-size:10px; color:blue; font-style:normal;font-weight:normal; }
.GridDebugMark { font-weight:bold; }
.GridDebugStop { font-size:18px; font-weight:bold; color:red; }
.GridDebugError { font-size:12px; color:red; }
.GridDebugWarning { font-size:12px; color:#A60;}
.GridDebugList { font-size:10px; color:#888;}
.GridDebugInfo { font-size:12px; }

/* ------------------- Popup menus, TGLib ------------------- */

.GOMenuMain { position:absolute; left:0px; top:0px; z-index:258; }
.GOMenuStatic { }
.GOMenuOuter { overflow:hidden; background:white; }
.GOMenuHeader {
   overflow:hidden; position:absolute; z-index:258;
   border:1px solid #aaaaaa; background:white; cursor:pointer; _cursor:hand;
   }
.GOMenuHead {
   border:1px solid #aaaadd; border-bottom:none; text-align:center; padding-top:3px; padding-bottom:4px;
   background:#E7F4FF; font:bold 12px Verdana, Arial, Helvetica, sans-serif;
   }
.GOMenuClose {
   float:right; width:14px; cursor:pointer; _cursor:hand; display:none;
   background:url(Menu.gif) no-repeat right -352px;
   }
.GOMenuBody {
   cursor:default; border:1px solid #CCC; background:white; padding-top:1px; padding-bottom:1px;
   }
.GOMenuShadow {
   position:absolute; margin-left:3px; margin-top:3px; z-index:257;
   background:#888; opacity:0.5; filter:alpha(opacity=50);
   }

.GOMenuCheckedIconLeft { background:url(Menu.gif) no-repeat -2px -49px; padding-left:17px; }
.GOMenuCheckedIconRight { background:url(Menu.gif) no-repeat right -49px; padding-right:17px; }
.GOMenuUncheckedIconLeft { background:url(Menu.gif) no-repeat -2px 0px; padding-left:17px; }
.GOMenuUncheckedIconRight { background:url(Menu.gif) no-repeat right 0px; padding-right:17px; }
.GOMenuCheckedRadioLeft { background:url(Menu.gif) no-repeat -2px -748px; padding-left:17px; }
.GOMenuCheckedRadioRight { background:url(Menu.gif) no-repeat right -748px; padding-right:17px; }
.GOMenuUncheckedRadioLeft { background:url(Menu.gif) no-repeat -2px -698px; padding-left:17px; }
.GOMenuUncheckedRadioRight { background:url(Menu.gif) no-repeat right -698px; padding-right:17px; }
.GOMenuCursorIcon { background:url(Menu.gif) no-repeat -6px -150px; }
.GOMenuHoverIcon { background:url(Menu.gif) no-repeat -6px -100px; }   
.GOMenuCursorIconRtl { background:url(Menu.gif) no-repeat right -1000px; }
.GOMenuHoverIconRtl { background:url(Menu.gif) no-repeat right -950px; }   
.GOMenuExpandedIcon { background:url(Menu.gif) no-repeat -6px -200px; }
.GOMenuCollapsedIcon { background:url(Menu.gif) no-repeat -6px -250px; }
.GOMenuNextIcon { background:url(Menu.gif) no-repeat right -300px; padding-right:14px; }
.GOMenuNextIconRtl { background:url(Menu.gif) no-repeat left -900px; padding-left:14px; }

.GOMenuItemText,.GOMenuItemIcon,.GOMenuEnum,.GOMenuEnumHeader,.GOMenuEdit { font:bold 12px Verdana, Arial, Helvetica, sans-serif; white-space:nowrap; overflow:hidden; }
.GOMenuItemDisabled { opacity:0.50; filter:alpha(opacity=30); overflow:hidden; }
.GOMenuLevel { color:blue; text-align:center; }  
.GOMenuEnumParent,.GOMenuEditParent { padding-left:5px; padding-right:2px;}
.GOMenuItemIcon { background-repeat:no-repeat; }
.GOMenuEnum {
   border:1px solid #DDD; border-top:1px solid #666; border-left:1px solid #666;
   background:white url(Menu.gif) no-repeat left -800px; padding-left:15px; padding-bottom:2px;
   }
.GOMenuEnumHeader  {
   padding-left:16px; padding-top:1px; cursor:default;
   background:white url(Menu.gif) no-repeat 1px -799px; padding-bottom:2px;
   }   
.GOMenuEdit {
   border:1px solid #DDD; border-top:1px solid #666; border-left:1px solid #666;
   background:white; padding-left:2px; padding-right:2px; overflow:hidden; 
   white-space:nowrap; padding-bottom:1px;
   }
.GOMenuEditInput,.GOMenuEditTextarea {
   margin:0px; margin:-1px!IE; border:0px none; background:#FDD; 
   padding:0px; padding-right:1px!IE; padding-left:1px!IE; font:bold 12px Verdana, Arial, Helvetica, sans-serif;
   }   
.GOMenuEditTextarea { line-height:13px;  }   
.GOMenuEditInt,.GOMenuEditFloat,.GOMenuEditDate { text-align:right; } 
.GOMenuEditText { }
.GOMenuEditMulti { white-space:normal; }


.GOMenuItem { padding-top:1px; padding-bottom:1px; padding-left:1px; padding-right:1px; background:white; }   
.GOMenuItemTouch { padding-top:3px; padding-bottom:3px; }
.GOMenuItemHover {
   margin-left:1px; margin-right:1px; padding-top:1px; padding-bottom:1px; 
   background:#F0F0F0; 
   }
.GOMenuFocus {
   margin-left:1px; margin-right:1px; padding-top:1px; padding-bottom:1px;
   background:#E0E0E0; 
   }
.GOMenuFocusTouch { padding-top:3px; padding-bottom:3px; }    
.GOMenuFocusHover {
   margin-left:1px; margin-right:1px; padding-top:1px; padding-bottom:1px;
   background:#D0D0D0; 
   }   
.GOMenuSeparator {
   margin-top:1px; margin-right:3px; margin-left:3px; height:1px;   
   border-top:1px solid #aaaadd; overflow:hidden;
   }
.GOMenuCaption { padding-top:2px; padding-bottom:2px; padding-left:2px; padding-right:2px; background:#ddd; color:blue; text-align:center; }
.GOMenuVSeparator { border-right:1px solid #DDD; }
.GOMenuSection  { }

.GOMenuFoot { border:1px solid #aaaadd; border-top:none; text-align:center; background:white; white-space:nowrap; }  
.GOMenuButton { font:11px Verdana, Arial, Helvetica, sans-serif; height:19px; width:48px; margin:2px; white-space:nowrap; padding-left:0px; padding-right:0px; } 

/*--------------- Grid configuration menus ----------------- */

.GOCfgMenuOuter,.GOColumnsMenuOuter { border:1px solid #CBCBCB; padding:6px; background:#F8F8F8; }
.GOCfgMenuHead,.GOColumnsMenuHead { background:#F8F8F8; border:none; border-bottom:1px solid #CBCBCB; }
.GOCfgMenuBody,.GOColumnsMenuBody { padding:0px; border:none; border-top:2px solid white; border-bottom:1px solid #CBCBCB;}
.GOCfgMenuFoot,.GOColumnsMenuFoot { padding-top:5px; background:#F8F8F8; border:none; border-top:2px solid white; }
.GOCfgMenuButton { width:70px; } 
.GOColumnsMenuButton { width:60px; } 
.GOCfgMenuItemText,.GOColumnsMenuItemText { padding-left:3px; }
.GOColumnsMenuItemText { white-space:nowrap; }
.GOCfgMenuItem,.GOColumnsMenuItem { padding-top:3px; padding-bottom:3px; background:#F4F4F4; }
.GOCfgMenuItemTouch,.GOColumnsMenuItemTouch { padding-top:3px; padding-bottom:3px; }
.GOCfgMenuItemHover,.GOCfgMenuFocus,.GOCfgMenuFocusHover,
.GOColumnsMenuItemHover,.GOColumnsMenuFocus,.GOColumnsMenuFocusHover { padding-top:3px; padding-bottom:3px; background:#e9e9e9 }
.GOCfgMenuFocusTouch,.GOColumnsMenuFocusTouch { padding-top:3px; padding-bottom:3px; }
.GOCfgMenuSeparator,.GOColumnsMenuSeparator {
   margin-top:0px; margin-bottom:1px; margin-right:3px; margin-left:3px; height:1px;   
   border-top:1px solid #CBCBCB; overflow:hidden;
   }

/*--------------- Popup grid dialog ----------------- */

.GOPopupGridOuter { border:0px none; overflow:visible; }
.GOPopupGridHead { padding:0px; }
.GOPopupGridBody { padding:0px; }
.GOPopupGridFoot { padding:0px; }
.GOPopupGridButton { width:50px; margin-top:-2px; margin-bottom:0px; } 

/* ------------------- Date picker, TGLib ------------------- */

.GOPickMain { position:absolute; left:0px; top:0px; z-index:258; }
.GOPickOuter { overflow:hidden; border:1px solid #CCC; background:#eeeeee; }
.GOPickHeader {
   overflow:hidden; position:absolute; z-index:258;
   border:1px solid black; background:white; cursor:pointer; _cursor:hand;
   }
.GOPickHeaderBottom { border-bottom:0px none; padding-bottom:1px; }
.GOPickHeaderTop { border-top:0px none; padding-bottom:1px; }
.GOPickHead {
   background:#E7F4FF; font:bold 11px Verdana, Arial, Helvetica, sans-serif; cursor:default;
   padding-left:5px; padding-top:3px; padding-bottom:4px;
   }
.GOPickClose {
   float:right; width:14px; cursor:pointer; _cursor:hand; display:none;
   background:url(Menu.gif) no-repeat right -353px;
   }
.GOPickBody { cursor:default; border:none; }
.GOPickShadow {
   position:absolute; background:#888; z-index:257; margin-left:3px; margin-top:3px;
   opacity:0.5; filter:alpha(opacity=50);
   }   
.GOPickFooter,.GOPick2Footer {
   background:white; color:blue; cursor:default;
   font:11px Verdana, Arial, Helvetica, sans-serif;
   padding-top:2px; padding-bottom:2px;
   text-align:center; white-space:nowrap;
   }
.GOPickMY {
   font:bold 11px Verdana, Arial, Helvetica, sans-serif;
   background:white; color:black;
   text-align:center; padding-top:4px; padding-bottom:4px;
   }   
.GOPickMYDown { padding-right:13px; background:url(Menu.gif) no-repeat right -400px; cursor:pointer; _cursor:hand; }   
.GOPickMYUp { padding-right:13px; background:url(Menu.gif) no-repeat right -450px; cursor:pointer; _cursor:hand; }
.GOPickMYRtl { padding-right:0px; padding-left:13px; }
.GOPickBL,.GOPickBR { margin-top:2px; padding-top:3px; cursor:pointer; _cursor:hand; width:24px; height:14px; }
.GOPickBL { float:left; background:url(Menu.gif) no-repeat left -500px; display:none;}
.GOPickBR { float:right; background:url(Menu.gif) no-repeat right -550px; display:none; }

.GOPickTableParent { padding-left:13px; padding-right:13px; padding-bottom:5px; padding-top:5px; text-align:center; }
.GOPickTable {  table-layout:fixed; width:0px; }
.GOPickRow { background:#F4F4F4; }
.GOPickRowW { background:#F4F4F4; }
.GOPickCell { width:26px; }
.GOPickCellTouch { width:32px; }
.GOPickWDN { 
   text-align:center; width:20px; font:11px Verdana, Arial, Helvetica, sans-serif; 
   padding-bottom:3px; padding-top:2px; 
   margin-left:2px; margin-right:2px; margin-top:1px; margin-bottom:1px;
   }
.GOPickHover,.GOPickSelHover,.GOPickWD,.GOPickSa,.GOPickSu,.GOPickSel,.GOPickNow,.GOPickWDNE,.GOPickSaNE,.GOPickSuNE,.GOPickSelNE,.GOPickNowNE,.GOPickOM,.GOPickOMNE {
   text-align:center; font:11px Verdana, Arial, Helvetica, sans-serif;
   border:1px solid white; border-right:1px solid #D4D4D4; border-bottom:1px dotted #CBCBCB;
   cursor:pointer; _cursor:hand; padding:1px;
   margin-left:2px; margin-right:2px; margin-top:1px; margin-bottom:1px;
   }
.GOPickWN,.GOPickWNE { 
   text-align:center; font:11px "Microsoft Sans Serif",Arial; cursor:pointer; _cursor:hand;
   padding-left:4px; padding-right:4px; padding-top:3px; padding-bottom:3px; color:#AAA;
   }
.GOPickHover { border:1px solid #09C; }
.GOPickSelHover { border:2px solid #09C; padding:0px; background-color:#ddd; font-weight:bold; }  
.GOPickWDNE,.GOPickSaNE,.GOPickSuNE,.GOPickSelNE,.GOPickNowNE,.GOPickWNE { cursor:default; }
.GOPickWD { background-color:#fff; }
.GOPickSa { border:1px solid #9cf; background-color: #9cf; color:#FFF; }
.GOPickSu { border:1px solid #09C; background-color:#09C; color:#FFF; }
.GOPickSel { border:2px solid #09C; padding:0px; background-color:#fff; font-weight:bold; }
.GOPickSelNE { background-color:#ffd; }
.GOPickNow { border:2px solid #9cf; padding:0px; background-color:#fff; font-weight:bold; }
.GOPickNowNE { background-color:#ffe0ff; }
.GOPickOM { background-color:inherit; color:black; }
.GOPickOMNE { color:#aaaaaa; }
.GOPickEmpty { background:url(Menu.gif) no-repeat center -1050px; cursor:pointer; _cursor:hand; }
.GOPickTouch { font-size:14px; }

.GOPickTimeCell { text-align:right; background-color:white; padding-bottom:4px; padding-top:6px; padding-right:5px; }
.GOPickTime { font:12px Verdana,Arial; border:0px none; white-space:nowrap; text-align:right; }
.GOPickButton { width:64px; font-size:11px; margin:2px; margin-left:4px; margin-right:4px; text-align:center; padding-left:0px; padding-right:0px; }

.GOPick2TableParent { padding-left:3px; padding-right:3px; padding-bottom:2px; padding-top:2px; text-align:center; }
.GOPick2Table {  table-layout:fixed; width:0px; }
.GOPick2CellM { height:23px; width:70px; }
.GOPick2CellMTouch { height:29px; width:80px; }
.GOPick2CellY { height:23px; width:35px; }
.GOPick2CellYTouch { height:29px; width:50px; }
.GOPick2CellSep { height:23px; width:8px; }
.GOPick2M,.GOPick2Y,.GOPick2MSel,.GOPick2YSel,.GOPick2MHover,.GOPick2YHover,.GOPick2MSelHover,.GOPick2YSelHover {
   text-align:center; font:11px Verdana, Arial, Helvetica, sans-serif;
   cursor:pointer; _cursor:hand; background-color:white; overflow:hidden; 
   padding:2px; padding-left:1px; padding-right:1px; margin-left:1px; margin-right:1px;
   border:1px solid white; border-right:1px solid #D4D4D4; border-bottom:1px dotted #CBCBCB;
   }
.GOPick2MSel,.GOPick2YSel,.GOPick2MSelHover,.GOPick2YSelHover {
   border:2px solid #09C; padding:1px; padding-left:0px; padding-right:0px; background-color:#fff;
   }
.GOPick2MHover,.GOPick2YHover { border:1px solid #09C; background-color:#DDD; }
.GOPick2MSelHover,.GOPick2YSelHover { background-color:#ddd; }   
.GOPick2SepH { width:1px; height:2px; overflow:hidden; }
.GOPick2SepHTouch { height:1px; }
.GOPick2Sep {  }   
.GMPick2SepTouch { }
.GOPick2BL,.GOPick2BR { width:34px; cursor:pointer; _cursor:hand; }
.GOPick2BL { background:url(Menu.gif) no-repeat center -600px; }
.GOPick2BR { background:url(Menu.gif) no-repeat center -650px; }

/* ------------------- Edit controls, TGLib ------------------- */

.GOEdit,.GOEditInline {
   font:11px Verdana, Arial, Helvetica, sans-serif;
   padding-left:4px; padding-right:4px; padding-top:2px; padding-bottom:2px;
   overflow:hidden; border:1px solid #CCC; background:#EEE;
   }
.GOEditInline { display:inline-block; vertical-align:bottom; }
.GOEditInput,.GOEditTextarea {
   font:11px Verdana, Arial, Helvetica, sans-serif;
   vertical-align:top; border:0px none; margin:0px; 
   padding:0px; padding-left:1px!IE; padding-right:1px!IE;
   }
.GOEditTextarea { line-height:13px; }
.GOEditNormalInput,.GOEditNormalTextarea,.GOEditSpaceInput,.GOEditSpaceTextarea { background-color:#FFE0A0; }
.GOEditInt,.GOEditFloat,.GOEditDate { text-align:right; }
.GOEditText { }
.GOEditMulti { white-space:normal; }
.GOEditReadOnly { background-color:#FFF0C0; }
.GOEditParent { position:absolute; z-index:258; overflow:hidden;}

.GOEnumHeaderLeft,.GOEnumHeaderRight,.GOEnumHeaderNone {
   background:white; font:11px Verdana, Arial, Helvetica, sans-serif; cursor:pointer; _cursor:hand;
   padding-left:3px; padding-right:4px; padding-top:3px; padding-bottom:2px; white-space:nowrap;
   }
.GOEnumHeaderLeft { background:white url(Menu.gif) no-repeat left -799px; padding-left:17px; }
.GOEnumHeaderRight { background:white url(Menu.gif) no-repeat right -799px; padding-right:17px;}
.GOEnumMenuHeader { background:white; }

.GOEnumControl,.GOEnumInline {
   font:11px "Microsoft Sans Serif",Arial; cursor:pointer; _cursor:hand;
   padding-left:15px; padding-right:4px; padding-top:2px; padding-bottom:2px;
   border:1px solid #CCC; background:#EEE url(Menu.gif) no-repeat left -800px; overflow:hidden;
   }
.GOEnumInline { display:inline-block; vertical-align:bottom; }
.GOEnumHeader {
   background:white url(Menu.gif) no-repeat left -798px; 
   font:11px "Microsoft Sans Serif",Arial; cursor:pointer; _cursor:hand;
   padding-left:15px; padding-right:4px; padding-top:2px; padding-bottom:2px;
   }

/* ------------------- Line chart, TGLib ------------------- */

.GOChartInner { width:100%; }
.GOChartLayer { overflow:hidden; height:1000px; }
.GOChartAxisY { background:black; height:1px; overflow:hidden; }
.GOChartAxisYLabel { overflow:hidden; }
.GOChartAxisYText { margin-right:5px; margin-top:12px; text-align:right; font:12px Arial; }
.GOChartAxisX { width:1px; overflow:hidden; background:black; }
.GOChartAxisXLabel { overflow:hidden; }
.GOChartAxisXText { text-align:center; font:12px Arial; }
.GOChartCaption { text-align:center; font:12px Arial; margin-top:3px; }

.GOChartPoint1,.GOChartPoint2,.GOChartPoint3,.GOChartPoint4,.GOChartPoint5,.GOChartPoint6,.GOChartPoint7,.GOChartPoint8 {
   background:url(Gantt.gif) no-repeat; width:32px; height:32px; overflow:hidden; 
   }
.GOChartPoint1 { background-position:-891px 7px; }
.GOChartPoint1Hover { background-position: -941px 7px; }
.GOChartPoint2 { background-position:-991px 7px; }
.GOChartPoint2Hover { background-position:-1041px 7px; }
.GOChartPoint3 { background-position:-1091px 7px; }
.GOChartPoint3Hover { background-position:-1141px 7px; }
.GOChartPoint4 { background-position:-1191px 7px; }
.GOChartPoint4Hover { background-position:-1241px 7px; }
.GOChartPoint5 { background-position:-1291px 7px; }
.GOChartPoint5Hover { background-position:-1341px 7px; }
.GOChartPoint6 { background-position:-1391px 7px; }
.GOChartPoint6Hover { background-position:-1441px 7px; }
.GOChartPoint7 { background-position:-1491px 7px; }
.GOChartPoint7Hover { background-position:-1541px 7px; }
.GOChartPoint8 { background-position:-1591px 7px; }
.GOChartPoint8Hover { background-position:-1641px 7px; }

/* -------------- Custom scrollbars ------------------ */

.GOCustScroll1RightHidden { background:url(VScroll.gif) left -108px; height:18px; overflow:hidden; }
.GOCustScroll1Right { padding-right:18px; background:url(VScroll.gif) right 0px; }
.GOCustScroll1RightHover { padding-right:18px; background:url(VScroll.gif) right -18px; }
.GOCustScroll1Left { padding-left:18px;  background:url(VScroll.gif) left 0px; }
.GOCustScroll1LeftHover { padding-left:18px;  background:url(VScroll.gif) left -18px; }
.GOCustScroll1SliderRight { padding-right:3px; background:url(VScroll.gif) right -36px; }
.GOCustScroll1SliderLeft { padding-left:3px; background:url(VScroll.gif) left -36px; }
.GOCustScroll1SliderHIn { height:18px; overflow:hidden; background:url(VScroll.gif) center -54px; }
.GOCustScroll1SliderRightHover { padding-right:3px; background:url(VScroll.gif) right -72px; }
.GOCustScroll1SliderLeftHover { padding-left:3px; background:url(VScroll.gif) left -72px; }
.GOCustScroll1SliderHInHover { height:18px; overflow:hidden; background:url(VScroll.gif) center -90px; }
.GOCustScroll1X { background:#F4F4F4; }

.GOCustScroll2RightHidden { background:url(VScroll.gif) left -364px; height:36px; overflow:hidden; }
.GOCustScroll2Right { padding-right:36px; background:url(VScroll.gif) right -148px; }
.GOCustScroll2RightHover { padding-right:36px; background:url(VScroll.gif) right -184px; }
.GOCustScroll2Left { padding-left:36px;  background:url(VScroll.gif) left -148px; }
.GOCustScroll2LeftHover { padding-left:36px;  background:url(VScroll.gif) left -184px; }
.GOCustScroll2SliderRight { padding-right:6px; background:url(VScroll.gif) right -220px; }
.GOCustScroll2SliderLeft { padding-left:6px; background:url(VScroll.gif) left -220px; }
.GOCustScroll2SliderHIn { height:36px; overflow:hidden; background:url(VScroll.gif) center -256px; }
.GOCustScroll2SliderRightHover { padding-right:6px; background:url(VScroll.gif) right -292px; }
.GOCustScroll2SliderLeftHover { padding-left:6px; background:url(VScroll.gif) left -292px; }
.GOCustScroll2SliderHInHover { height:36px; overflow:hidden; background:url(VScroll.gif) center -328px; }
.GOCustScroll2X { background:#F4F4F4; }

.GOCustScroll3Right,.GOCustScroll3RightHidden { background:white; height:9px; overflow:hidden; }
.GOCustScroll3SliderRight,.GOCustScroll3SliderRightHover { padding-right:3px; height:9px; background:url(VScroll.gif) right -126px; }
.GOCustScroll3SliderLeft,.GOCustScroll3SliderLeftHover { height:9px; background:url(VScroll.gif) left -126px; }
.GOCustScroll3SliderRightHover { background-position:right -135px; }
.GOCustScroll3SliderLeftHover { background-position:left -135px; }
.GOCustScroll3X { background:white; }

.GOCustScroll4Right,.GOCustScroll4RightHidden,.GOCustScroll4SliderRight,.GOCustScroll4SliderRightHover { height:1px; overflow:hidden; }
.GOCustScroll4X { }

.GOCustScroll1DownHidden { background:url(HScroll.png) -108px top; width:18px; overflow:hidden; }
.GOCustScroll1Down { padding-bottom:18px; background:url(HScroll.png) 0px bottom; cursor:default; width:18px; overflow:hidden; }
.GOCustScroll1DownHover { padding-bottom:18px; background:url(HScroll.png) -18px bottom; width:18px; overflow:hidden; }
.GOCustScroll1Up { padding-top:18px; background:url(HScroll.png) 0px top; width:18px; overflow:hidden; }
.GOCustScroll1UpHover { padding-top:18px;  background:url(HScroll.png) -18px top; width:18px; overflow:hidden; }
.GOCustScroll1SliderDown { padding-bottom:3px; background:url(HScroll.png) -36px bottom; width:18px; overflow:hidden; }
.GOCustScroll1SliderUp { padding-top:3px; background:url(HScroll.png) -36px top; width:18px; overflow:hidden; }
.GOCustScroll1SliderVIn { background:url(HScroll.png) -54px center; width:18px; overflow:hidden; }
.GOCustScroll1SliderDownHover { padding-bottom:3px; background:url(HScroll.png) -72px bottom; width:18px; overflow:hidden; }
.GOCustScroll1SliderUpHover { padding-top:3px; background:url(HScroll.png) -72px top; width:18px; overflow:hidden; }
.GOCustScroll1SliderVInHover { background:url(HScroll.png) -90px center; width:18px; overflow:hidden; }

.GOCustScroll2DownHidden { background:url(HScroll.png) -364px top; width:36px; overflow:hidden; }
.GOCustScroll2Down { padding-bottom:36px; background:url(HScroll.png) -148px bottom; cursor:default; width:36px; overflow:hidden; }
.GOCustScroll2DownHover { padding-bottom:36px; background:url(HScroll.png) -184px bottom; width:36px; overflow:hidden; }
.GOCustScroll2Up { padding-top:36px; background:url(HScroll.png) -148px top; width:36px; overflow:hidden; }
.GOCustScroll2UpHover { padding-top:36px;  background:url(HScroll.png) -184px top; width:36px; overflow:hidden; }
.GOCustScroll2SliderDown { padding-bottom:6px; background:url(HScroll.png) -220px bottom; width:36px; overflow:hidden; }
.GOCustScroll2SliderUp { padding-top:6px; background:url(HScroll.png) -220px top; width:36px; overflow:hidden; }
.GOCustScroll2SliderVIn { background:url(HScroll.png) -256px center; width:36px; overflow:hidden; }
.GOCustScroll2SliderDownHover { padding-bottom:6px; background:url(HScroll.png) -292px bottom; width:36px; overflow:hidden; }
.GOCustScroll2SliderUpHover { padding-top:6px; background:url(HScroll.png) -292px top; width:36px; overflow:hidden; }
.GOCustScroll2SliderVInHover { background:url(HScroll.png) -328px center; width:36px; overflow:hidden; }

.GOCustScroll3Down,.GOCustScroll3DownHidden { background:white; width:9px; overflow:hidden; cursor:default; }
.GOCustScroll3SliderDown,.GOCustScroll3SliderDownHover { padding-bottom:3px; width:9px; background:url(HScroll.png) -126px bottom; }
.GOCustScroll3SliderUp,.GOCustScroll3SliderUpHover { width:9px; background:url(HScroll.png) -126px top; cursor:default; }
.GOCustScroll3SliderDownHover { background-position:-135px bottom; }
.GOCustScroll3SliderUpHover { background-position:-135px top; cursor:default; }

.GOCustScroll4Down,.GOCustScroll4DownHidden,.GOCustScroll4SliderDown,.GOCustScroll4SliderDownHover { width:1px; overflow:hidden; }
   
/* ------------------- Other messages, TGLib ------------------- */

.GOHintMain {
   position:absolute; margin-left:-1px; margin-top:-1px; left:0px; top:0px; z-index:260; 
   background:white; cursor:default; border:1px dotted #CBCBCB; 
   }
.GOHintOuter { overflow:hidden; background:white; text-align:left; border-color:white; }
.GOHintHeaderOuter { background:#E9E9E9; }
.GOHintShadow {
   position:absolute; margin-left:2px; margin-top:2px; z-index:259;
   background:#888; opacity:0.5; filter:alpha(opacity=50);
   }

.GOTipMain { position:absolute; left:0px; top:0px; z-index:262; visibility:hidden; }
.GOTipOuter  {
   overflow:hidden; cursor:default; font:11px Verdana, Arial, Helvetica, sans-serif;
   background:#f4f4f4; border:1px solid #d0d0d0; padding:3px;
   }
.GOTipBody { background:inherit; white-space:nowrap; background:#f4f4f4; }     
.GOTipShadow {
   position:absolute; margin-left:3px; margin-top:3px; z-index:261;
   background:#888; opacity:0.5; filter:alpha(opacity=50);
   visibility:hidden;
   }

.GOMouseOrig { background:yellow!important; opacity:0.5; filter:alpha(opacity=50); }
.GOMouseDragObject { position:absolute; z-index:260; background:#888; opacity:0.5; filter:alpha(opacity=50); }

.GOFocus { border:1px solid blue; background-color:white; }    

.GOBodyPrint { margin:0px!important; padding:0px!important; border:0px none!important; background:none!important; }

.GridDisabled { position:absolute; z-index:256; background:white; opacity:0.5; filter:alpha(opacity=50); } 
.GridMain { z-index:255; }

/* Do not change, marks the style loaded */
.GOLoaded { border:1px solid black!important; }