{% extends "::base.html.twig" %}
{% set activePage = 'Seguridad' %}

{# content #}
{% block content %}

    <div id="content">
        <div class="page-header">
            <div class="pull-left">
                <h4><i class="icon-table"></i> Administrar Usuarios</h4>
            </div>
            <div class="pull-right">
                <ul class="bread">
                    <li><a href="#">Seguridad</a><span class="divider">/</span></li>
                    <li class='active'>Usuarios</li>
                </ul>
            </div>
        </div>

        <div class="container-fluid" id="content-area">
            <div class="row-fluid">
                <div class="span12">
                    <div class="crm-box">
                        <div class="crm-box-head">
                            <i class="icon-table"></i>
                            <span>Usuarios</span>
                        </div>
                        <div class="crm-box-body crm-box-body-nopadding">
                            <div id="{{ gridOptionsGenerator.containerId }}"></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <a href="{{ path('cenfo_usuario_form_registrar') }}" class="button button-basic-green">Agregar nuevo</a>
                                    <a href="{{ path('cenfo_usuario_form_modificar') }}" id="uiBtnModificar" class="button button-basic-blue">Modificar</a>
                                    <a href="{{ path('cenfo_usuario_borrar') }}" class="button button-basic-red">Borrar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{# javascripts #}
{% block javascripts %}
    {{ parent() }}
    {% include 'ComponentsEJSTreeGridBundle::createGrid.js.twig' with {
        'gridContainerId' : gridOptionsGenerator.containerId, 
        'gridOptions'     : gridOptionsGenerator.options,
        'gridId'          : gridOptionsGenerator.gridId         }
    %}
    <script src="{{ asset('bundles/cenfotecseguridad/js/usuario.js') }}" type="text/javascript"></script>
{% endblock javascripts %}