{% extends "::base.html.twig" %}
{% set activePage = 'Seguridad' %}

{# content #}
{% block content %}

    <div id="content">
        <div class="page-header">
            <div class="pull-left">
                <h4><i class="icon-table"></i> Modificar usuario</h4>
            </div>
            <div class="pull-right">
                <ul class="bread">
                    <li><a href="{{path('cenfo_usuario_administrar')}}">Usuario</a><span class="divider">/</span></li>
                    <li class='active'>Modificar</li>
                </ul>
            </div>
        </div>

        <div class="container-fluid" id="content-area">
            <div class="row-fluid">
                <div class="span12">
                    <div class="crm-box">
                        <div class="crm-box-head">
                            <i class="icon-list-ul"></i>
                            <span>Información del usuario</span>
                        </div>
                        <div class="crm-box-body crm-box-body-nopadding">
                            <form action="{{ path('cenfo_usuario_modificar', { 'pidUsuario' : ptwObjUsuario.id }) }}" id="frmModificarUsuario" method="POST" class="form-horizontal form-bordered form-column form-validate">
                                <div class="span6">
                                    {# Nombre #}
                                    <div class="control-group">
                                        <label for="uiTxtNombre" class="control-label">Nombre <span class="required-label">*</span></label>
                                        <div class="controls">
                                            <input type="text" value="{{ ptwObjUsuario.nombre }}" name="uiDataUsuario[Nombre]" id="uiTxtNombre" placeholder="Ej: Carlos" class="input-block-level" data-rule-required="true">
                                        </div>
                                    </div>
                                    {# Primer apellido #}
                                    <div class="control-group">
                                        <label for="uiTxtApellido1" class="control-label">Primer apellido <span class="required-label">*</span></label>
                                        <div class="controls">
                                            <input type="text" value="{{ ptwObjUsuario.apellido1 }}" name="uiDataUsuario[Apellido1]" id="uiTxtApellido1" placeholder="Ej: Domínguez" class="input-block-level" data-rule-required="true">
                                        </div>
                                    </div>
                                    {# Segundo apellido #}
                                    <div class="control-group">
                                        <label for="uiTxtApellido2" class="control-label">Segundo apellido</label>
                                        <div class="controls">
                                            <input type="text" value="{{ ptwObjUsuario.apellido2 }}" name="uiDataUsuario[Apellido2]" id="uiTxtApellido2" placeholder="Ej: Lara" class="input-block-level">
                                        </div>
                                    </div>
                                    {# Correo electrónico #}
                                    <div class="control-group">
                                        <label for="uiTxtCorreo" class="control-label">Correo electrónico <span class="required-label">*</span></label>
                                        <div class="controls">
                                            <input type="text" value="{{ ptwObjUsuario.correo }}" name="uiDataUsuario[Correo]" id="uiTxtCorreo" placeholder="Ej: krlosnando@gmail.com" class="input-block-level" data-rule-required="true" data-rule-email="true">
                                        </div>
                                    </div>
                                </div>
                                <div class="span6">
                                    {# Nombre de usuario #}
                                    <div class="control-group">
                                        <label for="uiTxtNombreUsuario" class="control-label">Nombre de usuario <span class="required-label">*</span></label>
                                        <div class="controls">
                                            <input type="text" value="{{ ptwObjUsuario.nombreUsuario }}" name="uiDataUsuario[NombreUsuario]" id="uiTxtNombreUsuario" placeholder="Ej: CDominguez" class="input-block-level" data-rule-required="true">
                                        </div>
                                    </div>
                                    {# Seleccionar Roles #}
                                    <div class="control-group">
                                        <label for="uiSelRol" class="control-label">Roles <span class="required-label">*</span></label>
                                        <div class="controls">
                                            <div class="input-block-level">
                                                <select id="uiSelRol" name="uiDataUsuario[Roles][]" data-placeholder="Seleccionar los roles..." multiple=""  data-rule-required="true">
                                                    <option value=""></option>
                                                    {% for objRol in ptwRoles %}
                                                        <option value="{{objRol.id}}" {% if (objRol in ptwObjUsuario.realRoles) %}selected="true"{% endif %}>{{objRol.nombre}}</option>
                                                    {% else %}
                                                        <option value="{{objRol.id}}">{{objRol.nombre}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    {# Contraseña #}
                                    <div class="control-group">
                                        <label for="uiTxtPassword" class="control-label">Contraseña <span class="required-label">*</span></label>
                                        <div class="controls">
                                            <input type="password" value="{{ ptwObjUsuario.password }}" name="uiDataUsuario[Password]" id="uiTxtPassword" class="input-block-level" data-rule-required="true">
                                        </div>
                                    </div>
                                    {# Confirmar Contraseña #}
                                    <div class="control-group">
                                        <label for="uiTxtConfirmarPassword" class="control-label">Confirmar Contraseña <span class="required-label">*</span></label>
                                        <div class="controls">
                                            <input type="password" value="{{ ptwObjUsuario.password }}" name="uiDataUsuario[ConfirmPassword]" id="uiTxtConfirmarPassword" class="input-block-level" data-rule-required="true" data-rule-equalto="#uiTxtPassword">
                                        </div>
                                    </div>
                                </div>
                                <div class="span12">
                                    {# Botones para guardar ó cancelar #}
                                    <div class="form-actions">
                                        <button type="submit" id="uiBtnGuardar" class="button button-basic-green">Guardar</button>
                                        <a href="{{ path('cenfo_usuario_administrar') }}" class="button button-basic-red">Volver</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{# javascripts #}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/cenfotecseguridad/js/usuario.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        
    </script>
{% endblock javascripts %}