{% extends "::base.html.twig" %}
{% set activePage = 'ACTI' %}

{# content #}
{% block content %}
    <div id="content">
        <div class="page-header">
            <div class="pull-left">
                <h4><i class="icon-table"></i> {{ ptwTituloPagina }}</h4>
            </div>
            <div class="pull-right">
                <ul class="bread">
                    <li><a href="{{path('cenfo_acti_listar')}}">ACTI</a><span class="divider">/</span></li>
                    <li class='active'>{{ ptwAction }}</li>
                </ul>
            </div>
        </div>

        <div class="container-fluid" id="content-area">
            {% if app.session.hasFlash('notice') %}
                <div id="alert" class="alert alert-block alert-success fade in" style="">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <h4 class="alert-heading">Mensaje</h4>
                    <p>{{ app.session.flash('notice') }}</p>
                </div>
            {% endif %}
            <div class="row-fluid">
                <div class="span12">
                    <div class="crm-box">
                        <div class="crm-box-head">
                            <i class="icon-list-ul"></i>
                            <span>Información del contacto</span>
                        </div>
                        <div class="crm-box-body">
                            <form action="{{ ptwFormAction }}" method="POST" id="frmAdministrar" class="form-bordered form-column form-validate">
                                <div class="span4">
                                    {%if ptwObjActi is defined %}
                                        {# Input hidden #}
                                        <input type="hidden" id="uiTxtIdContactoCRM" name="data[idContactoCRM]" value="{{ ptwObjActi.contactoCRM.id }}" >
                                    {%endif%}
                                    {# Genero * #}
                                    <div class="control-group">
                                        <label for="uiRbtGenero" class="control-label">
                                            
                                            Género 
                                        </label>
                                        <div class="controls">
                                            <label class="radio-uniformed">
                                                <div class="uni-radio"><input value="M" {%if ptwObjActi is defined and ptwObjActi.contactoCRM.genero == 'M'%}checked="true"{%endif%} type="radio" name="data[genero]" class="uniform-me" ></div> Masculino
                                            </label>
                                            <label class="radio-uniformed">
                                                <div class="uni-radio"><input value="F" {%if ptwObjActi is defined and ptwObjActi.contactoCRM.genero == 'F'%}checked="true"{%endif%} type="radio" name="data[genero]" class="uniform-me" ></div> Femenino
                                            </label>
                                        </div>
                                    </div>
                                    
                                    {# Nombre * #}
                                    <div class="control-group">
                                        <label for="uiTxtNombre" class="control-label">
                                            
                                            Nombre 
                                        </label>
                                        <div class="controls">
                                            <input {%if ptwObjActi is defined%}value="{{ptwObjActi.contactoCRM.nombre}}"{%endif%} type="text" name="data[nombre]" id="uiTxtNombre" placeholder="Ej: Carlos" class="input-block-level" >
                                        </div>
                                    </div>
                                        
                                    {# Apellido 1 * #}
                                    <div class="control-group">
                                        <label for="uiTxtApellido1" class="control-label">
                                            
                                            Primer apellido 
                                        </label>
                                        <div class="controls">
                                            <input {%if ptwObjActi is defined%}value="{{ptwObjActi.contactoCRM.apellido1}}"{%endif%} type="text" name="data[apellido1]" id="uiTxtApellido1" placeholder="Ej: Domínguez" class="input-block-level" >
                                        </div>
                                    </div>
                                    
                                    {# Apellido 2 * #}
                                    <div class="control-group">
                                        <label for="uiTxtApellido2" class="control-label">
                                            
                                            Segundo apellido
                                        </label>
                                        <div class="controls">
                                            <input {%if ptwObjActi is defined%}value="{{ptwObjActi.contactoCRM.apellido2}}"{%endif%} type="text" name="data[apellido2]" id="uiTxtApellido2" placeholder="Ej: Lara" class="input-block-level" >
                                        </div> 
                                    </div>
                                    
                                    {# Tipo de identificacion #}
                                    <div class="control-group">
                                        <label for="uiSelTipoIdentificacion" class="control-label">Seleccionar tipo de identificación</label>
                                        <div class="controls">
                                            <div class="input-block-level">
                                                <select id="uiSelTipoIdentificacion" name="data[tipoIdentificacion]" data-placeholder="Seleccionar" >
                                                    <option value=""></option>
                                                    {% if ptwObjActi is defined %}
                                                        {# Modificar #}
                                                        {% for objTipoId in ptwTipoIdentificaciones %}
                                                            {% if ptwObjActi.contactoCRM.tipoIdentificacion is not empty and objTipoId.id == ptwObjActi.contactoCRM.tipoIdentificacion.id %}
                                                                <option value="{{objTipoId.id}}" selected="true">{{objTipoId.nombre}}</option>
                                                            {% else %}
                                                                <option value="{{objTipoId.id}}">{{objTipoId.nombre}}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% else %}
                                                        {# Registrar #}
                                                        {% for objTipoId in ptwTipoIdentificaciones %}
                                                            <option value="{{objTipoId.id}}">{{objTipoId.nombre}}</option>
                                                        {% endfor %}
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                    </div> 
                                    
                                    {# Identificacion #}
                                    <div class="control-group">
                                        <label for="uiTxtIdentificacion" class="control-label">Identificación</label>
                                        <div class="controls">
                                            <input {%if ptwObjActi is defined%}value="{{ptwObjActi.contactoCRM.identificacion}}"{%endif%} type="text" name="data[identificacion]" id="uiTxtIdentificacion" placeholder="Ej: 304630746" class="input-block-level">
                                        </div>
                                    </div>
                                       
                                    {# Pais Residencia * #}
                                    <div class="control-group">
                                        <label for="uiSelPaisResidencia" class="control-label">
                                            
                                            País de residencia
                                        </label>
                                        <div class="controls">
                                            <div class="input-block-level">
                                                <select id="uiSelPaisResidencia" name="data[paisResidencia]" data-placeholder="Seleccionar"  >
                                                    <option value=""></option>
                                                    {% if ptwObjActi is defined %}
                                                        {# Modificar #}
                                                        {% for objPais in ptwPaises %}
                                                            {% if ptwObjActi.contactoCRM.paisResidencia is not empty and objPais.id == ptwObjActi.contactoCRM.paisResidencia.id %}
                                                                <option value="{{objPais.id}}" selected="true">{{objPais.nombre}}</option>
                                                            {% else %}
                                                                <option value="{{objPais.id}}">{{objPais.nombre}}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% else %}
                                                        {# Registrar #}
                                                        {% for objPais in ptwPaises %}
                                                            {% if objPais.nombre == 'Costa Rica' %}
                                                                <option value="{{objPais.id}}" selected="true">{{objPais.nombre}}</option>
                                                            {% else %}
                                                                <option value="{{objPais.id}}">{{objPais.nombre}}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    {# Canton #}
                                    <div id="cgSelCanton" class="control-group">
                                        <label for="uiSelCanton" class="control-label">Provincia / Cantón</label>
                                        <div class="controls">
                                            <div class="input-block-level">
                                                <select id="uiSelCanton" name="data[canton]" data-placeholder="Seleccionar" >
                                                    <option value=""></option>
                                                    {% if ptwObjActi is defined %}
                                                        {# Modificar #}
                                                        {% for objProvincia in ptwProvincias %}
                                                            <optgroup label="{{objProvincia.nombre}}">
                                                                {% for objCanton in objProvincia.getCantones() %}
                                                                    {% if ptwObjActi.contactoCRM.canton is not empty and objCanton.id == ptwObjActi.contactoCRM.canton.id %}
                                                                        <option value="{{objCanton.id}}" selected="true">{{objProvincia.nombre}} - {{objCanton.nombre}}</option>
                                                                    {% else %}
                                                                        <option value="{{objCanton.id}}">{{objProvincia.nombre}} - {{objCanton.nombre}}</option>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </optgroup>
                                                        {% endfor %}
                                                    {% else %}
                                                        {# Registrar #}
                                                        {% for objProvincia in ptwProvincias %}
                                                            <optgroup label="{{objProvincia.nombre}}">
                                                                {% for objCanton in objProvincia.getCantones() %}
                                                                    <option value="{{objCanton.id}}">{{objProvincia.nombre}} - {{objCanton.nombre}}</option>
                                                                {% endfor %}
                                                            </optgroup>
                                                        {% endfor %}
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    {# Direccion #}
                                    <div class="control-group">
                                        <label for="uiTxaDireccion" class="control-label">Dirección</label>
                                        <div class="controls">
                                            <textarea name="data[direccion]" id="uiTxaDireccion" rows="5" class="input-block-level">{%if ptwObjActi is defined%}{{ptwObjActi.contactoCRM.direccion}}{%endif%}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="span4">
                                     
                                    {# Profesion #}    
                                    <div class="control-group">
                                        <label for="uiSelProfesion" class="control-label">Seleccionar profesión</label>
                                        <div class="controls">
                                            <div class="input-block-level">
                                                <select id="uiSelProfesion" name="data[profesion]" data-placeholder="Seleccionar" >
                                                    <option value=""></option>
                                                    {% if ptwObjActi is defined %}
                                                        {# Modificar #}
                                                        {% for objProfesion in ptwProfesiones %}
                                                            {% if ptwObjActi.contactoCRM.profesion is not empty and objProfesion.id == ptwObjActi.contactoCRM.profesion.id %}
                                                                <option value="{{objProfesion.id}}" selected="true">{{objProfesion.nombre}}</option>
                                                            {% else %}
                                                                <option value="{{objProfesion.id}}">{{objProfesion.nombre}}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% else %}
                                                        {# Registrar #}
                                                        {% for objProfesion in ptwProfesiones %}
                                                            <option value="{{objProfesion.id}}">{{objProfesion.nombre}}</option>
                                                        {% endfor %}
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                    </div> 
                                     
                                    {# Empresa #}    
                                    <div class="control-group">
                                        <label for="uiSelEmpresa" class="control-label">Seleccionar empresa</label>
                                        <div class="controls">
                                            <div class="input-block-level">
                                                <select id="uiSelEmpresa" name="data[empresa]" data-placeholder="Seleccionar" >
                                                    <option value=""></option>
                                                    {% if ptwObjActi is defined %}
                                                        {# Modificar #}
                                                        {% for objEmpresa in ptwEmpresas %}
                                                            {% if ptwObjActi.contactoCRM.empresa is not empty and objEmpresa.id == ptwObjActi.contactoCRM.empresa.id %}
                                                                <option value="{{objEmpresa.id}}" selected="true">{{objEmpresa.nombre}}</option>
                                                            {% else %}
                                                                <option value="{{objEmpresa.id}}">{{objEmpresa.nombre}}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% else %}
                                                        {# Registrar #}
                                                        {% for objEmpresa in ptwEmpresas %}
                                                            <option value="{{objEmpresa.id}}">{{objEmpresa.nombre}}</option>
                                                        {% endfor %}
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    {# Puesto #} 
                                    <div class="control-group"> 
                                        <label class="control-label">Puesto</label> 
                                        <div class="controls"> 
                                            <div class="input-block-level"> 
                                                <select id="uiSelPuesto" name="data[puesto]" data-placeholder="Seleccionar" >
                                                    <option value=""></option> 
                                                    {# Modificar #} 
                                                    {% if ptwObjActi is defined %}
                                                        {% for objPuesto in ptwPuestos %}
                                                            {% if ptwObjActi.contactoCRM.puesto is not empty and objPuesto.id == ptwObjActi.contactoCRM.puesto.id %}
                                                                <option value="{{objPuesto.id}}" selected="true">{{objPuesto.nombre}}</option>
                                                            {% else %}
                                                                <option value="{{objPuesto.id}}">{{objPuesto.nombre}}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% else %}
                                                        {# Registrar #}
                                                        {% for objPuesto in ptwPuestos %}
                                                            <option value="{{objPuesto.id}}">{{objPuesto.nombre}}</option>
                                                        {% endfor %}
                                                    {% endif %}
                                                </select> 
                                            </div> 
                                        </div> 
                                    </div>  
                                    
                                    {# Convenio #}
                                    <div class="control-group">
                                        <label for="uiSelConvenio" class="control-label">Convenio</label>
                                        <div class="controls">
                                            <div class="input-block-level">
                                                <select id="uiSelConvenio" name="data[convenio]" data-placeholder="Seleccionar" >
                                                    <option value=""></option>
                                                    {% if ptwObjActi is defined %}
                                                        {# Modificar #}
                                                        {% for objConvenio in ptwConvenios %}
                                                            {% if ptwObjActi.contactoCRM.convenio is not empty and objConvenio.id == ptwObjActi.contactoCRM.convenio.id %}
                                                                <option value="{{objConvenio.id}}" selected="true">{{objConvenio.nombre}}</option>
                                                            {% else %}
                                                                <option value="{{objConvenio.id}}">{{objConvenio.nombre}}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% else %}
                                                        {# Registrar #}
                                                        {% for objConvenio in ptwConvenios %}
                                                            <option value="{{objConvenio.id}}">{{objConvenio.nombre}}</option>
                                                        {% endfor %}
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                        
                                    {# Correos * #}
                                    <div class="control-group">
                                        <label for="uiTxtCorreo" class="control-label">
                                            Correos: 
                                            <button class="btn-agregar-correo button button-basic-green" simple-table-id="table-acti-correos">+</button>
                                        </label>
                                        <div class="controls">
                                            <table class="simple-table-plugin" id="table-correos" data-cant-numeros="1" style="width: 100%;">
                                                <tr>
                                                    <td style="width: 89%;">@</td>
                                                    <td style="width: 11%;"></td>
                                                </tr>
                                                {% if ptwObjActi is defined %}
                                                    {# Modificar #}
                                                    {% for objCorreo in ptwObjActi.contactoCRM.getCorreos() %}
                                                        <tr id="fila-tabla-correos{{objCorreo.id}}" data-db-id="{{objCorreo.id}}">
                                                            <td>
                                                                <input value="{{objCorreo.correo}}" type="text" style="width: 86%;" placeholder="Ej: alguien@ejemplo.com" class="input-large uiTxtCorreo"  data-rule-email="true">
                                                            </td>
                                                            <td>
                                                                <div class="btn-toolbar" style="margin: 1px;">
                                                                    <div class="btn-group">
                                                                        <button class="btn-borrar-correo button button-basic-red" row-id="fila-tabla-correos{{objCorreo.id}}" >-</button>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                {% endif %}
                                            </table>
                                        </div>
                                    </div>
                                        
                                    {# Números #}
                                    <div class="control-group">
                                        <label for="uiTxtNumero" class="control-label">
                                            Números: 
                                            <button class="btn-agregar-numero button button-basic-green" simple-table-id="table-acti-numeros">+</button>
                                        </label>
                                        <div class="controls">
                                            <table class="simple-table-plugin" id="table-numeros" data-cant-numeros="1" style="width: 100%;">
                                                <tr>
                                                    <td style="width: 34%;">Tipo</td>
                                                    <td style="width: 35%;">Número</td>
                                                    <td style="width: 20%;">Ext</td>
                                                    <td style="width: 11%;"></td>
                                                </tr>
                                                {% if ptwObjActi is defined %}
                                                    {# Modificar #}
                                                    {% for objNumero in ptwObjActi.contactoCRM.getNumeros() %}
                                                        <tr id="fila-tabla-numeros{{objNumero.id}}" data-db-id="{{objNumero.id}}">
                                                            <td>
                                                                <select data-placeholder="Seleccionar"  style="width: 100%;" class="chzn-done uiSelTipoNumero" row-id="fila-tabla-numeros{{objNumero.id}}">
                                                                    <option {% if objNumero.tipoId == 2 %}selected="true"{% endif %} value="2">Celular</option>
                                                                    <option {% if objNumero.tipoId == 1 %}selected="true"{% endif %} value="1">Teléfono</option>
                                                                    <option {% if objNumero.tipoId == 3 %}selected="true"{% endif %} value="3">Fax</option>
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <input value="{{objNumero.numero}}" type="text" style="width: 86%;" placeholder="Ej: 2245-2046" class="input-large uiTxtNumero" >
                                                            </td>
                                                            <td>
                                                                <input value="{{objNumero.ext}}" type="text" style="width: 77%;" placeholder="Ej: 546" class="input-large uiTxtExt" disabled="true">
                                                            </td>
                                                            <td>
                                                                <div class="btn-toolbar" style="margin: 1px;">
                                                                    <div class="btn-group">
                                                                        <button class="btn-borrar-numero button button-basic-red" row-id="fila-tabla-numeros{{objNumero.id}}">-</button>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                {% endif %}
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="span4">
                                    {# Interes #}
                                    <div class="control-group">
                                        <input id="info-intereses-eliminados" type="hidden" value="" name="data[intereses][eliminar]" >
                                        <label for="uiTxtInteres" class="control-label">
                                            <span class="required-label">*</span>
                                            Agregar Interes: 
                                            <button class="btn-agregar-interes button button-basic-green" simple-table-id="table-interes">+</button>
                                        </label>
                                        <div class="controls">
                                            <table class="simple-table-plugin" id="table-interes" data-cant-numeros="1" data-row-default="true" style="width: 100%;">
                                                <tr>
                                                    <td style="width: 25%;">Modalidad</td>
                                                    <td style="width: 25%;">Fecha</td>
                                                    <td style="width: 40%;">Interes</td>
                                                    <td style="width: 10%;"></td>
                                                </tr>
                                                {% if ptwObjActi is defined %}
                                                    {# Modificar #}
                                                    {% for objCRMXInteresActual in ptwObjActi.contactoCRM.getCRMXIntereses() %}
                                                        <tr id="fila-tabla-intereses{{objCRMXInteresActual.id}}" data-db-id="{{objCRMXInteresActual.id}}">
                                                            <td>
                                                                <select data-placeholder="Seleccionar" data-rule-required="true" style="width: 100%;" class="chzn-done uiSelModalidad" >
                                                                    {% for objModalidad in ptwModalidades %}
                                                                        {% if objModalidad.id == objCRMXInteresActual.modalidad.id %}
                                                                            <option value="{{objModalidad.id}}" selected="true">{{objModalidad.nombre}}</option>
                                                                        {% else %}
                                                                            <option value="{{objModalidad.id}}">{{objModalidad.nombre}}</option>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </select>
                                                            </td>
                                                            <td style="width: 0px; overflow: hidden;">
                                                                <input class="uiDtpFecha input-block-level datepick" type="text" value="{{objCRMXInteresActual.fechaInteres|date("Y-m-d")}}" >
                                                            </td>
                                                            <td>
                                                                <select data-placeholder="Seleccionar el interes..."  data-rule-required="true" class="uiSelInteres">
                                                                    <option value=""></option>
                                                                    {% for objTipo in ptwTiposContacto %}
                                                                        {% if objTipo.nombre == 'ACTI' %}
                                                                            {% for objArea in objTipo.getAreasInteres() %}
                                                                                <optgroup label="{{objArea.nombre}}">
                                                                                    {% for objInteres in objArea.getIntereses() %}
                                                                                        {% if objInteres.id == objCRMXInteresActual.interes.id %}
                                                                                            <option value="{{objInteres.id}}" selected="true">{{objInteres.nombre}}</option>
                                                                                        {% else %}
                                                                                            <option value="{{objInteres.id}}">{{objInteres.nombre}}</option>
                                                                                        {% endif %}
                                                                                    {% endfor %}
                                                                                </optgroup>
                                                                            {% endfor %}
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <div class="btn-toolbar" style="margin: 1px;">
                                                                    <div class="btn-group">
                                                                        <button class="btn-borrar-interes button button-basic-red" row-id="fila-tabla-intereses{{objCRMXInteresActual.interes.id}}">-</button>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                {% endif %}
                                            </table>
                                        </div>
                                    </div>
                                              
                                    {# Nivel de interés #}
                                    <div class="control-group">
                                        <label for="uiSelNivelInteres" class="control-label">Nivel de interés</label>
                                        <div class="controls">
                                            <div class="input-block-level">
                                                <select id="uiSelNivelInteres" name="data[nivelInteres]" data-placeholder="Seleccionar" >
                                                    <option value=""></option>
                                                    {% if ptwObjActi is defined %}
                                                        {# Modificar #}
                                                        {% for objNivelInteres in ptwNivelesInteres %}
                                                            {% if ptwObjActi.contactoCRM.nivelInteres is not empty and objNivelInteres.id == ptwObjActi.contactoCRM.nivelInteres.id %}
                                                                <option value="{{objNivelInteres.id}}" selected="true">{{objNivelInteres.nombre}}</option>
                                                            {% else %}
                                                                <option value="{{objNivelInteres.id}}">{{objNivelInteres.nombre}}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% else %}
                                                        {# Registrar #}
                                                        {% for objNivelInteres in ptwNivelesInteres %}
                                                            <option value="{{objNivelInteres.id}}">{{objNivelInteres.nombre}}</option>
                                                        {% endfor %}
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>    
                                        
                                    {# Fecha contacto * #}
                                    <div class="control-group">
                                        <label for="uiDtpFechaContacto" class="control-label">
                                            <span class="required-label">*</span>
                                            Fecha contacto
                                        </label>
                                        <div class="controls">
                                            {%if ptwObjActi is defined %}
                                                {% if ptwObjActi.contactoCRM.fechaContacto is not empty %}
                                                    <input value="{{ptwObjActi.contactoCRM.fechaContacto|date("Y-m-d")}}" type="text" name="data[fechaContacto]" id="uiDtpFechaContacto" class="input-block-level datepick"  data-rule-required="true">
                                                {% else %}
                                                    <input value="" type="text" name="data[fechaContacto]" id="uiDtpFechaContacto" class="input-block-level datepick"  data-rule-required="true">
                                                {% endif %}
                                            {%else%}
                                                <input value="{{"now"|date("Y-m-d")}}" type="text" name="data[fechaContacto]" id="uiDtpFechaContacto" class="input-block-level datepick"  data-rule-required="true">
                                            {%endif%}
                                        </div>
                                    </div>
                                    
                                    {# Horario #} 
                                    <div class="control-group"> 
                                        <label class="control-label">Horario</label> 
                                        <div class="controls"> 
                                            <div class="input-block-level"> 
                                                <select id="uiSelHorario" name="data[horario]" data-placeholder="Seleccionar" >
                                                    <option value=""></option> 
                                                    {# Modificar #} 
                                                    {% if ptwObjPA is defined %}
                                                        {% for objHorario in ptwHorarios %}
                                                            {% if ptwObjPA.contactoCRM.horarioPreferencia is not empty and objHorario.id == ptwObjPA.contactoCRM.horarioPreferencia.id %}
                                                                <option value="{{objHorario.id}}" selected="true">{{objHorario.nombre}}</option>
                                                            {% else %}
                                                                <option value="{{objHorario.id}}">{{objHorario.nombre}}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% else %}
                                                        {# Registrar #}
                                                        {% for objHorario in ptwHorarios %}
                                                            <option value="{{objHorario.id}}">{{objHorario.nombre}}</option>
                                                        {% endfor %}
                                                    {% endif %}
                                                </select> 
                                            </div> 
                                        </div> 
                                    </div>
                                    
                                    {# Referencia #}
                                    <div class="control-group">
                                        <label for="uiSelReferencia" class="control-label">
                                            ¿Cómo se enteró? (referencia)
                                        </label>
                                        <div class="controls">
                                            <div class="input-block-level">
                                                <select id="uiSelReferencia" name="data[referencia]" data-placeholder="Seleccionar" >
                                                    <option value=""></option>
                                                    {% if ptwObjActi is defined %}
                                                        {# Modificar #}
                                                        {% for objTipoReferencia in ptwTiposReferencia %}
                                                            <optgroup label="{{objTipoReferencia.nombre}}">
                                                            {% for objReferencia in objTipoReferencia.getReferencias() %}
                                                                {% if ptwObjActi.contactoCRM.referencia is not empty and objReferencia.id == ptwObjActi.contactoCRM.referencia.id %}
                                                                    <option value="{{objReferencia.id}}" selected="true">{{objReferencia.nombre}}</option>
                                                                {% else %}
                                                                    <option value="{{objReferencia.id}}">{{objReferencia.nombre}}</option>
                                                                {% endif %}
                                                            {% endfor %}
                                                            </optgroup>
                                                        {% endfor %}
                                                    {% else %}
                                                        {# Registrar #}
                                                        {% for objTipoReferencia in ptwTiposReferencia %}
                                                            <optgroup label="{{objTipoReferencia.nombre}}">
                                                            {% for objReferencia in objTipoReferencia.getReferencias() %}
                                                                <option value="{{objReferencia.id}}">{{objReferencia.nombre}}</option>
                                                            {% endfor %}
                                                            </optgroup>
                                                        {% endfor %}
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                    </div> 
                                    
                                    {# Primer contacto * #}    
                                    <div class="control-group">
                                        <label for="uiSelPrimerContacto" class="control-label">
                                            <span class="required-label">*</span>
                                            ¿Cómo se contactó? (1er contacto)
                                        </label>
                                        <div class="controls">
                                            <div class="input-block-level">
                                                <select id="uiSelPrimerContacto" name="data[primerContacto]" data-placeholder="Seleccionar"  data-rule-required="true">
                                                    <option value=""></option>
                                                    {% if ptwObjActi is defined %}
                                                        {# Modificar #}
                                                        {% for objPrimerContacto in ptwPrimerosContacto %}
                                                            {% if ptwObjActi.contactoCRM.primerContacto is not empty and objPrimerContacto.id == ptwObjActi.contactoCRM.primerContacto.id %}
                                                                <option value="{{objPrimerContacto.id}}" selected="true">{{objPrimerContacto.nombre}}</option>
                                                            {% else %}
                                                                <option value="{{objPrimerContacto.id}}">{{objPrimerContacto.nombre}}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% else %}
                                                        {# Registrar #}
                                                        {% for objPrimerContacto in ptwPrimerosContacto %}
                                                            <option value="{{objPrimerContacto.id}}">{{objPrimerContacto.nombre}}</option>
                                                        {% endfor %}
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    {# Comentario #}
                                    <div class="control-group">
                                        <label for="uiTxaCommentarios" class="control-label">Comentarios</label>
                                        <div class="controls">
                                            <textarea name="data[comentario]" id="uiTxaCommentarios" rows="5" class="input-block-level">{%if ptwObjActi is defined%}{{ptwObjActi.contactoCRM.comentario}}{%endif%}</textarea>
                                        </div>
                                    </div>
                                        
                                    {% if ptwObjActi is defined %}
                                        {# Matriculas #}
                                        <div class="control-group">
                                            <label for="uiBtnMatricula" class="control-label">Matriculas: </label>
                                            <div class="controls">
                                                <a href="{{ path('cenfo_acti_listar') }}" id="uiBtnMatricula" class="button button-basic-blue">{{ptwCantMatriculas}} Matriculas</a>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="form-actions">
                                            <div onclick="_formAdministrarBase.validarFormularioMostrarDuplicados()" class="button button-basic-green">Guardar</div>
                                            <a href="{{ path('cenfo_acti_listar') }}" class="button button-basic-red">Cancelar</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{# javascripts #}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var rowTablaNumeros =   
        '<tr>\n\
            <td>\n\
                <select data-placeholder="Seleccionar"  style="width: 100%;" class="chzn-done uiSelTipoNumero" row-id="nuevo-numero-1">\n\
                    <option value="2">Celular</option>\n\
                    <option value="1">Teléfono</option>\n\
                    <option value="3">Fax</option>\n\
                </select>\n\
            </td>\n\
            <td>\n\
                <input type="text" style="width: 86%;" placeholder="Ej: 22452046" class="input-large uiTxtNumero" >\n\
            </td>\n\
            <td>\n\
                <input type="text" style="width: 77%;" placeholder="Ej: 546" class="input-large uiTxtExt" disabled="true">\n\
            </td>\n\
            <td>\n\
                <div class="btn-toolbar" style="margin: 1px;">\n\
                    <div class="btn-group">\n\
                        <button class="btn-borrar-numero button button-basic-red" style="display: none;">-</button>\n\
                    </div>\n\
                </div>\n\
            </td>\n\
        </tr>';
    
        var rowTablaCorreos =   
        '<tr>\n\
            <td>\n\
                <input type="text" style="width: 86%;" placeholder="Ej: alguien@ejemplo.com" class="input-large uiTxtCorreo"  data-rule-email="true">\n\
            </td>\n\
            <td>\n\
                <div class="btn-toolbar" style="margin: 1px;">\n\
                    <div class="btn-group">\n\
                        <button class="btn-borrar-correo button button-basic-red" style="display: none;">-</button>\n\
                    </div>\n\
                </div>\n\
            </td>\n\
        </tr>'; 
    
        var rowTablaInteres =   
        '<tr>\n\
            <td>\n\
                <select data-placeholder="Seleccionar"  style="width: 100%;" class="chzn-done uiSelModalidad">\n\
                    {% for objModalidad in ptwModalidades %}\n\
                        <option value="{{objModalidad.id}}">{{objModalidad.nombre}}</option>\n\
                    {% endfor %}\n\
                </select>\n\
            </td>\n\
            <td>\n\
                 <input style="width: 84%;" class="uiDtpFecha datepick" type="text" value="{{"now"|date("Y-m-d")}}" >\n\
            </td>\n\
            <td>\n\
                <select data-placeholder="Seleccionar los intereses..."  class="uiSelInteres chosen-select" >\n\
                    <option value=""></option>\n\
                    {% for objTipo in ptwTiposContacto %}\n\
                        {% if objTipo.nombre == 'ACTI' %}\n\
                            {% for objArea in objTipo.getAreasInteres() %}\n\
                                <optgroup label="{{objArea.nombre}}">\n\
                                    {% for objInteres in objArea.getIntereses() %}\n\
                                        <option value="{{objInteres.id}}">{{objInteres.nombre}}</option>\n\
                                    {% endfor %}\n\
                                </optgroup>\n\
                            {% endfor %}\n\
                        {% endif %}\n\
                    {% endfor %}\n\
                </select>\n\
            </td>\n\
            <td>\n\
                <div class="btn-toolbar" style="margin: 1px;">\n\
                    <div class="btn-group">\n\
                        <button class="btn-borrar-interes button button-basic-red" style="display: none;">-</button>\n\
                    </div>\n\
                </div>\n\
            </td>\n\
        </tr>';
                        
        var ptwAction = '{{ptwAction}}';
    </script>
    {% javascripts
        'bundles/cenfoteccrm/js/form-administrar-base.js'
        'bundles/cenfoteccrm/js/acti/form-administrar.js'
        'bundles/cenfoteccrm/js/crm/api.js'
        'bundles/cenfoteccrm/js/acti/api.js'
        output='dump-files-2014-02-23/acti-form-administrar.js'
    %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock javascripts %}                         