{% extends "::base.html.twig" %}
{% set activePage = 'ACTI' %}

{# content #}
{% block content %}

    <div id="content">
        <div class="page-header">
            <div class="pull-left">
                <h4><i class="icon-table"></i> {{ptwModulo}} {{ptwClienteCRM.titulo}}</h4>
            </div>
            <div class="pull-right">
                <ul class="bread">
                    <li><a href="#">{{ptwClienteCRM.titulo}}</a><span class="divider">/</span></li>
                    <li class='active'>{{ptwModulo}}</li>
                </ul>
            </div>
        </div>

        <div class="container-fluid" id="content-area">
            <div class="row-fluid">
                <div class="span12">
                    {% if ptwModulo in ['Administrar'] %}
                        {% include 'CenfotecCRMBundle::Busqueda/filtros.html.twig' with {
                            'ptwDataUrl' : path('cenfo_acti_grid_data')
                        } %}
                    {% endif %}
                    <div class="crm-box">
                        <div class="crm-box-head">
                            <i class="icon-table"></i>
                            <span>{{ptwClienteCRM.titulo}}</span>
                        </div>
                        <div class="crm-box-body crm-box-body-nopadding">
                            <div id="{{ ptwGridOptionsGenerator.containerId }}"></div>
                        </div>
                        {% include 'CenfotecCRMBundle::Acti/toolbar.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{# javascripts #}
{% block javascripts %}
    {{ parent() }}
    {% include 'ComponentsEJSTreeGridBundle::createGrid.js.twig' with {
        'gridContainerId' : ptwGridOptionsGenerator.containerId, 
        'gridOptions'     : ptwGridOptionsGenerator.options,
        'gridId'          : ptwGridOptionsGenerator.gridId         }
    %}
    {% javascripts
        'bundles/cenfoteccrm/js/seguimiento/api.js'
        'bundles/cenfoteccrm/js/crm/api.js'
        'bundles/cenfoteccrm/js/acti/api.js'
        'bundles/cenfoteccrm/js/busqueda/filter.js'
        output='dump-files-2014-02-23/acti-listar.js'
    %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock javascripts %}