<div class="crm-box-body crm-box-body-nopadding crm-box-toolbar crm-box-acti" >
    <div class="row-fluid">
        <div class="container-fluid">
            <div class="pull-left">
                {% if ptwModulo is defined and ptwModulo != 'Eliminados' %}
                {# Copiar #}
                <div class="btn-group">
                    <div class="dropdown">
                        <a href="#" class="button button-basic" data-toggle="dropdown"><i class="icon-copy"> </i> Copiar en <span class="caret"></span></a>
                        <ul class="dropdown-menu" style="top: inherit; bottom: 100%;">
                            <li>
                                <a href="#" id="uiBtnCopyActiToPA" data-grid-id="{{ptwGridOptionsGenerator.gridId}}">BD Prog. Académico</a>
                            </li>
                            <li>
                                <a href="#" id="uiBtnCopyActiToPOS" data-grid-id="{{ptwGridOptionsGenerator.gridId}}">Posgrado</a>
                            </li>
                        </ul>
                    </div>
                </div>
                {% endif %}
                
                {# Ver #}
                <button 
                    id="uiVerInformacionActi" 
                    data-grid-id="{{ptwGridOptionsGenerator.gridId}}" 
                    class="button button-basic" 
                    title="Información del contacto" >
                    <i class="icon-search"></i> Ver
                </button>

                {% if ptwModulo is defined and ptwModulo != 'Eliminados' %}
                {# Agregar #}
                <button 
                    id="uiBtnRegistrarActi" 
                    data-grid-id="{{ptwGridOptionsGenerator.gridId}}" 
                    class="button button-basic-green" 
                    title="Agregar nuevo contacto de ACTI">
                    <i class="icon-plus-sign"></i> Agregar
                </button>
                
                {# Modificar Acti #}
                <button 
                    id="uiBtnModificarActi" 
                    data-grid-id="{{ptwGridOptionsGenerator.gridId}}" 
                    class="button button-basic-blue" 
                    title="Modificar contacto de ACTI">
                    <i class="icon-edit"></i> Modificar
                </button>

                {# Eliminar Acti #}
                <button 
                    id="uiBtnEliminarActi" 
                    data-grid-id="{{ptwGridOptionsGenerator.gridId}}" 
                    class="button button-basic-red" 
                    title="Eliminar contacto de ACTI">
                    <i class="icon-trash"></i> Eliminar
                </button>
                {% endif %}
            </div>
            <div class="pull-right">
                {# Seguimientos #}                    
                <div class="btn-group">
                    <div class="dropdown">
                        <a href="#" class="button button-basic" data-toggle="dropdown" ><i class="icon-edit"> </i> Seguimientos <span class="caret"></span></a>
                        <ul class="dropdown-menu" style="top: inherit; bottom: 100%;">
                            <li>
                                {# Ver #}
                                <a 
                                href="#" 
                                id="uiBtnVerSeguimientosActi" 
                                data-grid-id="{{ptwGridOptionsGenerator.gridId}}" 
                                data-loading-opening-to="#content-area" > 
                                    <i class="icon-search"></i> Ver
                                </a>
                            </li>
                            <li>
                                {# Agregar #}
                                <a 
                                href="#"
                                id="uiBtnAgregarSeguimientoActi"
                                title="Agregar seguimiento" 
                                data-grid-id="{{ptwGridOptionsGenerator.gridId}}" 
                                data-loading-opening-to="#content-area" 
                                data-alert-success-to="#content-area" >
                                    <i class="icon-plus-sign"></i> Agregar
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
