<div class="row-fluid">
    <div class="span12">
        <div class="crm-box">
            <div class="crm-box-head">
                <i class="icon-list-ul"></i>
                <span>Información para combinar <b>{{ptwEntityName}}</b></span>
                <div class="actions">
                    <a href="#" rel="tooltip" title="" data-original-title="Cerrar" data-dismiss="modal"><i class="icon-remove-sign"></i></a>
                </div>
            </div>
            <div class="crm-box-body">
                <form id="frmCombinar" action="{{ path('cenfo_combinar_guardar') }}" method="POST" class="form-bordered form-column">
                    <input type="hidden" name="pentityClassName" value="{{ptwEntityClassName}}" >
                    <input type="hidden" name="pentityActionName" value="{{ptwEntityActionName}}" >
                    
                    <div class="span12" style="border-bottom: 1px solid #e5e5e5;">
                        <ul class="custom-list">
                            {% for dato in ptwDatosCombinar %}
                                <li>
                                    {{dato['text']}}
                                    <input type="hidden" name="pdatosCombinar[]" value="{{dato['value']}}" >
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="form-actions">
                                {# Elementos existentes #}
                                <div class="control-group" >
                                    <label for="uiSelExistenteElemento" class="control-label">Seleccionar {{ptwEntityName}}</label>
                                    <div class="controls">
                                        <div class="input-block-level">
                                            <select id="uiSelExistenteElemento" name="pidElementoNuevaInfo" data-placeholder="Seleccionar {{ptwEntityName}}..." >
                                                <option value=""></option>
                                                {% for objElemento in ptwElementosExistentes %}
                                                    <option value="{{objElemento['id']}}">{{objElemento['nombre']}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>
                    
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="form-actions">
                                <button type="submit" class="button button-basic-green">Combinar</button>
                                <button id="btnCancelar" class="button button-basic-red " data-dismiss="modal">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('[name="uiRbtTipoCombinacion"]').change(function(){
        if($('#uiRbtNuevo').is(':checked')){
            $('.form-combinar-existente').hide();
            $('.form-combinar-nuevo').show();
        }
        
        if($('#uiRbtExistente').is(':checked')){
            $('.form-combinar-existente').show();
            $('.form-combinar-nuevo').hide();
        }
    });
    $('[name="uiRbtTipoCombinacion"]').change();
    
    //Ajax Form para guardar los cambios de seguimiento.
    $('#frmCombinar').ajaxForm({
        success      : function(response) {
            if (response.indexOf("ok") >= 0) {
                Grids[0].Reload();
                
                //Ocultar el Loading antes de cerrar el Popup, por que sino queda el loading en pantalla.
                 $('#frmCombinar').hideLoading();
            
                //Cerrar el popup
                $('#btnCancelar').click();
            } else {
                $.showAlert({
                    type    : 'error',
                    showTo  : '#frmCombinar', 
                    content : '<b>Ocurrió un error, por favor trata de nuevo.</b> ' + response
                });
            }
            //Ocultar el Loading
             $('#frmCombinar').hideLoading();
        },
        beforeSubmit : function(arr, $form, options) {
            $('#frmCombinar').showLoading();
        }, 
        error        : function(xhr, textStatus, thrownError) {
            //Ocultar el Loading
             $('#frmCombinar').hideLoading();
            
            if(xhr['responseText']){
                $.showAlert({
                    type    : 'error',
                    showTo  : '#frmCombinar',
                    content : '<b>Error.</b> ' + xhr['responseText']
                });
            }else{
                $.showAlert({
                    type    : 'error',
                    showTo  : '#frmCombinar',
                    content : '<b>Error.</b> ' + thrownError
                });
            }
        }
    });
</script>