<div class="row-fluid">
    <div class="span12">
        <div class="crm-box">
            <div class="crm-box-head">
                <i class="icon-list-ul"></i>
                <span>Información de la provincia</span>
                <div class="actions">
                    <a href="#" rel="tooltip" title="" data-original-title="Cerrar" data-dismiss="modal"><i class="icon-remove-sign"></i></a>
                </div>
            </div>
            <div class="crm-box-body">
                <form action="#" method="POST" class="form-bordered form-column">
                    <div class="span12">
                        {# Provincia del estudiante #}
                        <div class="control-group">
                            <label for="uiTxtProvincia" class="control-label">
                                Agregar provincia: 
                                <button class="btn-agregar-provincia button button-basic-green" simple-table-id="table-prog-academico-provincias">+</button>
                            </label>
                            <div class="controls">
                                <table id="table-prog-academico-provincias" style="width: 100%;">
                                    <tr>
                                        <td style="width: 35%;">Fecha Inicio</td>
                                        <td style="width: 35%;">Fecha Fin</td>
                                        <td style="width: 20%;">Interes</td>
                                        <td style="width: 10%;"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="form-actions">
                                <a id="btnGuardarProvincia" href="{{ path('cenfo_prog_academico_listar') }}" class="button button-basic-green">Guardar</a>
                                <a href="{{ path('cenfo_prog_academico_listar') }}" class="button button-basic-red " data-dismiss="modal">Cancelar</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
