/* -----------------------------------------------------------------------*/
/* --------------- "Standard" TreeGrid style definition ------------------*/
/* -----------------------------------------------------------------------*/

/* ------------- Base tags ------------- */

.GSImage { padding-bottom:100%; padding-bottom:256px!IE; }
.GSNone { display:none; }
.GSSection,.GSSectionFF3 { table-layout:fixed; width:0px; font-size:1px; }
.GSSectionFF3 { border-collapse:collapse; }

/* -------------- Sections ------------------ */
.GSMainTable { border:1px solid #d0d0d0; border-collapse:separate; text-align:left; line-height: normal; }
.GSBodyLeft,.GSBodyMid,.GSBodyRight,.GSHeadLeft,.GSHeadMid,.GSHeadRight,.GSFootLeft,.GSFootMid,.GSFootRight { }
.GSBodyLeft,.GSBodyMid,.GSBodyRight { }
.GSHeadLeft,.GSHeadMid,.GSHeadRight { }
.GSFootLeft,.GSFootMid,.GSFootRight { border-top:1px solid #d0d0d0; }
.GSHeadLeft,.GSBodyLeft,.GSFootLeft,.GSHScrollLeft { border-right:1px solid #d0d0d0; }	
.GSHeadMid,.GSBodyMid,.GSFootMid,.GSHScrollMid {  }
.GSHeadRight,.GSBodyRight,.GSFootRight,.GSHScrollRight { border-left:1px solid #d0d0d0; }	
.GSLeftSplitter,.GSRightSplitter,.GSLeftSplitterTouch,.GSRightSplitterTouch { width:5px;background:#F0F0E0; overflow:hidden; cursor:e-resize; }
.GSLeftSplitterTouch,.GSRightSplitterTouch { width:15px; }
.GSLeftSplitter,.GSLeftSplitterTouch { border-right:1px solid #d0d0d0; }
.GSRightSplitter,.GSRightSplitterTouch { border-left:1px solid #d0d0d0; }
.GSSplitterDisabled { background:white; cursor:default }
.GSVScroll { padding-top:1px; padding-bottom:1px; } 
.GSHScrollLeft,.GSHScrollMid,.GSHScrollRight,.GSHScrollLeftResize,.GSHScrollRightResize { padding-left:1px; padding-right:1px; cursor:default; }
.GSHScrollLeftResize { border-right:2px solid #777; padding-right:5px; background:#F4F4F4; }
.GSHScrollRightResize { border-left:2px solid #777; padding-left:5px; background:#F4F4F4; }
.GSHScrollMidLeftResize { border-left:1px solid #777; padding-left:5px; background:#F4F4F4; }
.GSHScrollMidRightResize { border-right:1px solid #777; padding-right:5px; background:#F4F4F4; }
.GSHScrollLeftResizeTouch { border-right:2px solid #777; padding-right:18px; background:#F4F4F4; }
.GSHScrollRightResizeTouch { border-left:2px solid #777; padding-left:18px; background:#F4F4F4; }
.GSHScrollMidLeftResizeTouch { border-left:1px solid #777; padding-left:19px; background:#F4F4F4; }
.GSHScrollMidRightResizeTouch { border-right:1px solid #777; padding-right:19px; background:#F4F4F4; }
.GSHScrollWide { padding-right:1px; }
.GSHScrollHidden { overflow:visible!important; background:#F4F4F4; }
.GSXScroll { background:#F4F4F4; }
.GSScrollSafariMac div::-webkit-scrollbar { -webkit-appearance: none; width: 11px; height: 11px; } 
.GSScrollSafariMac div::-webkit-scrollbar-thumb { border-radius: 8px; border: 2px solid white; background-color: rgba(0, 0, 0, .5); }
.GSPageFirst { }
.GSPage { border-top:1px solid #E0E0E0; }
.GSPageOne { }
.GSChildPart { }

/* ------------- Rows ------------------ */
.GSSpaceRowHeight { height:17px; }
.GSRowHeight { height:19px; }
.GSRowHeightTouch { height:23px; }
.GSSpaceMargin { margin:0px; }
.GSSpaceMarginTouch { margin:5px; }

.GSToolbarRow,.GSToolbar1Row,.GSToolbar2Row,.GSTopbarRow,.GSTopbar1Row,.GSTopbar2Row,.GSSpaceRow,.GSGroupRow,.GSSearchRow,.GSPagerRow {
   font-size:1px; border-top:1px solid #ffffff; padding-bottom:3px; padding-top:3px; border-bottom:1px solid #e0e0ff; 
   background-color:#F0F0E0; overflow:hidden; 
   }
.GSToolbarRow,.GSToolbar2Row { border-bottom:0px none; }
.GSFillRow { background-color:#F0F0E0; }
.GSTabberRow { background: #F0F0E0; }
.GSRowAbove,.GSRowBelow { border-left:1px solid #e0e0ff; border-right:1px solid #e0e0ff; background-color:#F0F0E0; line-height: normal; }
.GSRowAbove { margin-top:3px; background:url(Backgrounds.gif) 0px 0px; overflow:hidden; }
.GSRowBelow { margin-bottom:3px; background:url(Backgrounds.gif) 0px bottom; overflow:hidden; }
.GSNoDataRow { padding-left:5px; padding-top:5px; padding-bottom:5px; color:gray; font-style:italic; background:#FAFAFA; }

/* ------------- Cell ------------- */

.GSCell,.GSCellPanel,.GSCellFilter,.GSCellFilterPanel,.GSCellHeader,.GSCellHeaderPanel,.GSCellFilterPanel,
.GSHeaderDrag,.GSHeaderGroup,.GSCellUser,.GSCellEmpty,.GSCellHeaderEmpty { 
	border-top:1px solid #ffffff; border-bottom:1px solid #e0e0ff; border-left:1px solid #ffffff; border-right:1px solid #e0e0ff;
	vertical-align:top; white-space:nowrap; overflow:hidden; overflow:auto!IE; height:auto;
	}
.GSCellHeaderPanel { padding-top:2px; }

.GSCellSpace,.GSCellSpaceEdit,.GSCellSpaceSelect,.GSCellSpaceEditIcon,.GSCellSpaceEditButton,
.GSCellSpaceButton,.GSCellSpaceButtonButton {
   vertical-align:top; white-space:nowrap;
   border-left:1px solid #ffffff; border-right:1px solid #e0e0ff;
   padding-top:2px!important;
   }
.GSCellSpacePanel,.GSCellSpaceBool { border-left:1px solid #ffffff; border-right:1px solid #e0e0ff; vertical-align:top; text-align:center; }
.GSCellSpaceRadio { }
.GSCellSpaceEdit,.GSCellSpaceSelect,.GSCellSpaceEditIcon,.GSCellSpaceEditButton { background-color:white; }     
.GSCellSpaceEditIcon { padding-left:0px!important; }
.GSSpaceSelectInner { white-space:nowrap!important; }
.GSCellSpaceButtonButton { padding-top:0px!important; }
.GSCellSpaceAbove { border-top:1px solid #e0e0ff; }
.GSCellSpaceBelow { border-bottom:1px solid #e0e0ff; }

.GSCellFilterPanel { background-color:#F0F0E0; text-align:center; padding-top:0px; }
.GSCellHeader,.GSCellHeaderEmpty { background-color:#F0F0E0; border-top:1px solid #ffffff; }
.GSCellPanel,.GSCellHeaderPanel { background-color:#F0F0E0; white-space:nowrap; direction:ltr; }
.GSCellFilterPanel { padding-left:1px; direction:ltr; }
.GSCellUser { background-color:#F0F0E0; }
.GSCellEmpty { background:#F0F0E0; border:0px none; }
.GSCellHeaderEmpty { border:0px none; border-top:1px solid #ffffff; }
.GSCellHidden { background:transparent!important; border-top:none!important; border-bottom:none!important; }

.GSHeaderButton { padding:0px; }
.GSHeaderGroup { font:11px "Microsoft Sans Serif",Verdana,Arial; padding-left:3px; }
.GSHeaderGroupFocus { background-color: #DEDFD8; }
.GSHeaderGroupDelete { background-color: #F0F0E0; color: #F0F0E0; }
.GSHeaderGroupCustom {
   font:italic 11px "Microsoft Sans Serif",Verdana,Arial;
   color:#BBB; padding-left:5px; cursor:default; white-space:nowrap;
   }
.GSHeaderDrag { background-color: #C0C0B0; cursor:default; overflow:hidden; }
.GSHeaderFocus { background-color: #DEDFD8; }
.GSPanel { padding-left:80px; }
.GSNoTreeLines1 { text-align:right; }
.GSNoTreeLines2 { text-align:right; vertical-align:middle; padding-top:0px; }
.GSNoTreeLines3 { text-align:left; }
.GSTree { padding-top:0px; white-space:nowrap; }
.GSSpannedTree { vertical-align:top; }
.GSCellBorderFF3 { border-left:0px none; border-top:0px none; }
.GSCellClassInner { padding-top:0px; padding-bottom:0px; }

/* ------------- Inside cell ------------- */

.GSHtml,.GSText,.GSLines,.GSPass,.GSInt,.GSFloat,.GSDate,.GSLink,.GSImg,.GSRadio,.GSRadioText,.GSList,.GSEnum,.GSDropCols,.GSAbs,.GSPagerEdit,.GSUser {
   font-size:11px; font-family:"Microsoft Sans Serif",Verdana,Arial; white-space:nowrap;
   padding-left:3px; padding-right:3px; padding-top:2px; padding-bottom:2px;
   }
.GSInt,.GSFloat,.GSDate { text-align:right; }
.GSLines,.GSRadio,.GSHtml,.GSList { white-space:normal; }	
.GSImg,.GSHtml { padding-top:0px; padding-bottom:0px; }
.GSSelect { padding-top:2px; padding-bottom:2px; }
.GSPass { font-size:14px; padding:0px; padding-left:3px; }
.GSRadio,.GSRadioText { padding:0px; font-weight:normal!important; }
.GSBool { text-align:center; }
.GSIcon { background-repeat:no-repeat; }
.GSHidden { }
.GSHiddenSpace { display:none; }
.GSHeaderText { font:13px "Times New Roman"; padding-left:3px; padding-right:3px; padding-bottom:1px; padding-top:1px; }
.GSAbs { padding:0px; }
.GSUser { padding:0px; }
.GSPagerEdit {
   vertical-align:top; text-align:center; background:white;
   padding-top:2px; padding-bottom:1px; border:0px none;
   }
.GSRightButton { font:10px "Times New Roman"; padding:0px; height:17px; width:19px; margin:0px; }
.GSRightHtml { font:12px "Times New Roman"; }
.GSRightImg { font:12px "Times New Roman"; }
.GSMergedCellH { padding:0px; padding-right:5px; }
.GSMergedCellV { padding:0px; padding-bottom:1px; }

.GSWrap0 { white-space:nowrap; }
.GSWrap1 { white-space:normal; }
.GSAlignLeft { text-align:left; }
.GSAlignCenter { text-align:center; }
.GSlignJustify { text-align:center; }
.GSAlignRight { text-align:right; }
.GSNoSpaceLeft { border-left:0px none; padding-left:0px; }
.GSNoSpaceRight { border-right:0px none; padding-right:0px; }
.GSCellRotate1 { vertical-align:bottom; padding-top:1px; padding-bottom:1px; text-align:left; }
.GSCellRotate2 { vertical-align:top; padding-top:1px; padding-bottom:1px; }
.GSCellRotate3 { vertical-align:middle; padding-top:1px; padding-bottom:1px; }
.GSRotate1IEHeader { background-color:#F0F0E0; filter: progid:DXImageTransform.Microsoft.Chroma(color='#F0F0E0') progid:DXImageTransform.Microsoft.BasicImage(rotation=3); overflow:hidden; }
.GSRotate1IE { background-color:#FFFFFF; filter: progid:DXImageTransform.Microsoft.Chroma(color='#FFFFFF') progid:DXImageTransform.Microsoft.BasicImage(rotation=3); overflow:hidden; }
.GSRotate1 { -ms-transform:rotate(-90deg); -moz-transform:rotate(-90deg); -webkit-transform: rotate(-90deg); -o-transform: rotate(-90deg); }
.GSRotate2 { text-align:left; writing-mode:tb-rl; -moz-transform:rotate(-270deg); -webkit-transform: rotate(-270deg); -o-transform: rotate(-270deg); }

/*--------------- Pages type cell ----------------- */

.GSPages { overflow:visible; padding-left:3px; padding-right:3px;}
.GSPagesLink,.GSPagesLinkActive {
   padding-left:2px; padding-right:1px; padding-top:2px; padding-bottom:2px; margin-top:2px; margin-bottom:2px;
   display:inline-block; font:11px "Microsoft Sans Serif",Verdana,Arial; cursor:pointer; _cursor:hand; color:blue;
   }
/* The :hover remarkably slows down every grid in IE strict mode
.GSPagesLink:visited { color:blue; }
.GSPagesLink:hover { color:red; }*/
.GSPagesLinkActive { color:black; font-weight:bold; border:1px dotted black; margin-top:1px; margin-bottom:1px; }

/*--------------- Gantt ----------------- */

.GSGantt { border:0px none; padding:0px; border-left:1px solid #ffffff; border-right:1px solid #e0e0ff; cursor:default; background:transparent; -webkit-user-select:none; -moz-user-select:none; }

.GSGantt0Out,.GSGantt10Out,.GSGantt90Out,.GSGantt100Out,.GSGanttNullOut,.GSGanttHtmlOut {
   margin-top:2px; padding:1px; background:white; border:1px solid black; overflow:hidden;
   }
.GSGanttHtmlOut { margin-left:1px; margin-right:1px; }
.GSGanttHoverOut { border:2px solid red; margin-top:1px; margin-left:0px; margin-right:0px; }
.GSGantt10Out { padding-left:0px; border-left:0px none; }
.GSGantt90Out { padding-right:0px; border-right:0px none; }
.GSGantt0In,.GSGantt10In,.GSGantt90In,.GSGantt100In,.GSGanttNullIn,
.GSGantt0InErr,.GSGantt10InErr,.GSGantt90InErr,.GSGantt100InErr,.GSGanttNullInErr,
.GSGantt0InCrit,.GSGantt10InCrit,.GSGantt90InCrit,.GSGantt100InCrit,.GSGanttNullInCrit { height:4px; overflow:hidden; font-size:1px; }
.GSGantt0In { background:#08F; }
.GSGantt0InErr { background:#F00; }
.GSGantt0InCrit { background:#FA0; }
.GSGantt10In { background:#00F; }
.GSGantt10InErr { background:#B00; }
.GSGantt10InCrit { background:#D80; }
.GSGantt90In,.GSGantt90InErr,.GSGantt90InCrit { background:#0B0; }
.GSGantt100In,.GSGantt100InErr,.GSGantt100InCrit { background:#0F0; }
.GSGanttNullIn { background:#777; }
.GSGanttNullInErr { background:#F00; }
.GSGanttNullInCrit { background:#FA0; }
.GSGanttHtmlIn { background:#EEE; overflow:hidden; font-size:9px; font-family:"Microsoft Sans Serif",Verdana,Arial; white-space:nowrap; }
.GSGanttG0In { background:#FFF; }
.GSGanttG0InCrit { background:#FD8; }
.GSGanttG0InErr { background:#FCC; }
.GSGanttG10In { background:#EEE; }
.GSGanttG10InCrit { background:#FC6; }
.GSGanttG10InErr { background:#FAA; }
.GSGanttG90In,.GSGanttG90InErr,.GSGanttG90InCrit { background:#666; }
.GSGanttG100In,.GSGanttG100InErr,.GSGanttG100InCrit { background:#000; }
.GSGanttGNullIn { background:#FFF; }
.GSGanttGNullInErr { background:#F88; }
.GSGanttGNullInCrit { background:#FD8; }
.GSGanttRed0In,.GSGanttRed10In { background:white; } .GSGanttRed90In,.GSGanttRed100In,.GSGanttRedNullIn { background:red; }
.GSGanttBlue0In,.GSGanttBlue10In { background:white; } .GSGanttBlue90In,.GSGanttBlue100In,.GSGanttBlueNullIn { background:blue; }
.GSGanttGreen0In,.GSGanttGreen10In { background:white; } .GSGanttGreen90In,.GSGanttGreen100In,.GSGanttGreenNullIn { background:green; }
.GSGanttFuchsia0In,.GSGanttFuchsia10In { background:white; } .GSGanttFuchsia90In,.GSGanttFuchsia100In,.GSGanttFuchsiaNullIn { background:fuchsia; }
.GSGanttAqua0In,.GSGanttAqua10In { background:white; } .GSGanttAqua90In,.GSGanttAqua100In,.GSGanttAquaNullIn { background:aqua; }
.GSGanttLime0In,.GSGanttLime10In { background:white; } .GSGanttLime90In,.GSGanttLime100In,.GSGanttLimeNullIn { background:lime; }
.GSGanttMaroon0In,.GSGanttMaroon10In { background:white; } .GSGanttMaroon90In,.GSGanttMaroon100In,.GSGanttMaroonNullIn { background:maroon; }
.GSGanttNavy0In,.GSGanttNavy10In { background:white; } .GSGanttNavy90In,.GSGanttNavy100In,.GSGanttNavyNullIn { background:navy; }
.GSGanttOlive0In,.GSGanttOlive10In { background:white; } .GSGanttOlive90In,.GSGanttOlive100In,.GSGanttOliveNullIn { background:olive; }
.GSGanttOrange0In,.GSGanttOrange10In { background:white; } .GSGanttOrange90In,.GSGanttOrange100In,.GSGanttOrangeNullIn { background:orange; }
.GSGanttPurple0In,.GSGanttPurple10In { background:white; } .GSGanttPurple90In,.GSGanttPurple100In,.GSGanttPurpleNullIn { background:purple; }
.GSGanttSilver0In,.GSGanttSilver10In { background:white; } .GSGanttSilver90In,.GSGanttSilver100In,.GSGanttSilverNullIn { background:silver; }
.GSGanttTeal0In,.GSGanttTeal10In { background:white; } .GSGanttTeal90In,.GSGanttTeal100In,.GSGanttTealNullIn { background:teal; }
.GSGanttYellow0In,.GSGanttYellow10In { background:white; } .GSGanttYellow90In,.GSGanttYellow100In,.GSGanttYellowNullIn { background:yellow; }
.GSGanttBlack0In,.GSGanttBlack10In { background:white; } .GSGanttBlack90In,.GSGanttBlack100In,.GSGanttBlackNullIn { background:black; }
.GSGanttGray0In,.GSGanttGray10In { background:white; } .GSGanttGray90In,.GSGanttGray100In,.GSGanttGrayNullIn { background:gray; }
.GSGanttWhite0In,.GSGanttWhite10In,.GSGanttWhite90In,.GSGanttWhite100In,.GSGanttWhiteNullIn { background:white; } 
.GSGanttWhite90In { border-right:1px solid black; margin-right:1px; } .GSGanttWhite10In { border-left:1px solid black; }
.GSGanttOutLeft,.GSGanttOutRight { background:url(Gantt.gif) no-repeat -293px 0px; width:20px; height:16px; overflow:hidden; }
.GSGanttOutRight { background-position: -353px 0px; }
.GSGanttHtmlOutLeft,.GSGanttHtmlOutRight { }
.GSGanttCustomOutLeft,.GSGanttCustomOutRight { height:16px; overflow:hidden; background-repeat:no-repeat; }

.GSGanttFlowOut,.GSGanttFlowHtmlOut { margin-top:11px; border:1px solid black; overflow:hidden; }
.GSGanttFlowHtmlOut { margin-left:1px; margin-right:1px; }
.GSGanttFlowHover { border:2px solid red; margin-top:10px; overflow:hidden; margin-left:0px; margin-right:0px; }
.GSGanttFlowIn,.GSGanttFlowInCrit,.GSGanttFlowInErr { height:3px; overflow:hidden; background:yellow; font-size:1px; }
.GSGanttGFlowIn { background:white; }
.GSGanttFlowInErr { background:#F55; }
.GSGanttFlowInCrit { background:#FA0; }
.GSGanttFlowHtmlIn { background:#FFA; overflow:hidden; font-size:9px; font-family:"Microsoft Sans Serif",Verdana,Arial; white-space:nowrap; }

.GSFGanttBase { height:12px; margin:1px; border:1px solid; padding:1px; padding-left:2px; padding-right:2px; overflow:hidden; }
.GSFGanttRunEmpty,.GSFGanttRunBox,.GSFGanttRunSolid,.GSFGanttRunLeft,.GSFGanttRunRight,.GSFGanttRunFixed,
.GSFGanttRunBound,.GSFGanttRunBoundStart,.GSFGanttRunEnd,.GSFGanttRunEndStart,.GSFGanttRunNbsp,.GSFGanttRunComplete {
   border:1px solid black; padding:1px; padding-left:2px; padding-right:2px; overflow:hidden; font:10px Arial; white-space:nowrap;
   }
.GSFGanttRunGroupHover { border:2px solid brown!important; padding:0px!important; padding-left:1px!important;padding-right:1px!important; overflow:hidden; }
.GSFGanttRunHover { border:2px solid red!important; padding:0px!important; padding-left:1px!important;padding-right:1px!important; overflow:hidden; }
.GSFGanttRunEmpty { border:none; padding:2px; padding-left:3px; padding-right:3px; }
.GSFGanttRunNbsp { border:none; border-top:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; padding-left:3px; padding-right:3px; }
.GSFGanttRunBox { background:#F0F0E0; }
.GSFGanttRunSolid { background:#FFFF00; }
.GSFGanttRunFixed,.GSFGanttRunLeft,.GSFGanttRunBound,.GSFGanttRunBoundStart { border-left-style:solid!important; border-left-width:3px!important; border-left-color:blue; padding-left:0px!important;}
.GSFGanttRunFixed,.GSFGanttRunRight,.GSFGanttRunBound,.GSFGanttRunBoundStart { border-right-style:solid!important; border-right-width:3px!important; border-right-color:blue; padding-right:0px!important; }
.GSFGanttRunFixed,.GSFGanttRunLeft,.GSFGanttRunRight { background:#C0C0C0; }
.GSFGanttRunBound,.GSFGanttRunEnd { background:#b04080; color:white; }
.GSFGanttRunEndStart,.GSFGanttRunBoundStart { background:#30a030; color:white; }
.GSFGanttRunComplete { background:#0F0; }

.GSGanttRunGroupHover { margin:0px!important; border:2px solid brown!important; padding:1px!important; overflow:hidden; }  
.GSGanttRunHover { margin:0px!important; border:2px solid red!important; padding:1px!important; overflow:hidden; }  
.GSGanttRunEmptyOut,.GSGanttRunBoxOut,.GSGanttRunSolidOut,.GSGanttRunLeftOut,.GSGanttRunRightOut,.GSGanttRunFixedOut,
.GSGanttRunBoundOut,.GSGanttRunBoundStartOut,.GSGanttRunEndOut,.GSGanttRunEndStartOut,.GSGanttRunNbspOut,.GSGanttRunCompleteOut {
   margin-top:1px; border:1px solid black; margin-left:1px; margin-right:1px; padding:1px; overflow:hidden; background:white;
   }
.GSGanttRunEmptyIn,.GSGanttRunBoxIn,.GSGanttRunSolidIn,.GSGanttRunLeftIn,.GSGanttRunRightIn,.GSGanttRunFixedIn,
.GSGanttRunBoundIn,.GSGanttRunBoundStartIn,.GSGanttRunEndIn,.GSGanttRunEndStartIn,.GSGanttRunNbspIn,.GSGanttRunCompleteIn {
   height:12px; overflow:hidden; font:10px Arial; padding-left:1px; width:100%!IE; white-space:nowrap; 
   }
.GSGanttRunEmptyOut { border:none; background:transparent; }
.GSGanttRunEmptyIn { }
.GSGanttRunNbspOut { border:none; border-top:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; margin-left:0px; margin-right:0px; background:transparent; }
.GSGanttRunNbspIn { }
.GSGanttRunBoxOut { }
.GSGanttRunBoxIn { background:#F0F0E0; }
.GSGanttRunSolidOut { }
.GSGanttRunSolidIn { background:#FFFF00; }
.GSGanttRunFixedOut,.GSGanttRunLeftOut,.GSGanttRunBoundOut,.GSGanttRunBoundStartOut { border-left-style:solid!important; border-left-width:3px!important; border-left-color:blue; margin-left:0px;}
.GSGanttRunFixedOut,.GSGanttRunRightOut,.GSGanttRunBoundOut,.GSGanttRunBoundStartOut { border-right-style:solid!important; border-right-width:3px!important; border-right-color:blue; }
.GSGanttRunFixedIn,.GSGanttRunLeftIn,.GSGanttRunRightIn { background:#C0C0C0; }
.GSGanttRunBoundOut,.GSGanttRunBoundStartOut,.GSGanttRunEndOut,.GSGanttRunEndStartOut { color:white; }
.GSGanttRunBoundIn,.GSGanttRunEndIn { background:#b04080; }
.GSGanttRunBoundStartIn,.GSGanttRunEndStartIn { background:#30a030; }
.GSGanttRunCompleteIn { background:#0F0; }
.GSGanttRunRedIn,.GSFGanttRunRed { background:red; }
.GSGanttRunBlueIn,.GSFGanttRunBlue { background:blue; color:white; }
.GSGanttRunGreenIn,.GSFGanttRunGreen { background:green; color:white; }
.GSGanttRunFuchsiaIn,.GSFGanttRunFuchsia { background:fuchsia; }
.GSGanttRunAquaIn,.GSFGanttRunAqua { background:aqua; }
.GSGanttRunLimeIn,.GSFGanttRunLime { background:lime; }
.GSGanttRunMaroonIn,.GSFGanttRunMaroon { background:maroon; color:white; }
.GSGanttRunNavyIn,.GSFGanttRunNavy { background:navy; color:white; }
.GSGanttRunOliveIn,.GSFGanttRunOlive { background:olive; color:white; }
.GSGanttRunOrangeIn,.GSFGanttRunOrange { background:orange; }
.GSGanttRunPurpleIn,.GSFGanttRunPurple { background:purple; color:white; }
.GSGanttRunSilverIn,.GSFGanttRunSilver { background:silver; }
.GSGanttRunTealIn,.GSFGanttRunTeal { background:teal; color:white; }
.GSGanttRunYellowIn,.GSFGanttRunYellow { background:yellow; }
.GSGanttRunBlackIn,.GSFGanttRunBlack { background:black; color:white; }
.GSGanttRunGrayIn,.GSFGanttRunGray { background:gray; color:white; }
.GSGanttRunWhiteIn,.GSFGanttRunWhite { background:white; }
.GSGanttRunErrorIn,.GSFGanttRunError,.GSFGanttRunErrorIE { background:#FFA0A0; }
.GSGanttRunCritIn,.GSFGanttRunCrit { background:#FA0; }
.GSGanttRunErrIn,.GSFGanttRunErr { background:#F55; }
.GSGanttRunJoinLeft,.GSFGanttRunJoinLeft { border-left-style:dotted; border-left-color:red; }
.GSGanttRunJoinRight,.GSFGanttRunJoinRight { border-right-style:dotted; border-right-color:red; }
.GSGanttRunMoveOut { border:2px solid #DDD; margin:0px; padding:0px; }
.GSGanttRunMoveIn { background:#F0F0F0; color:black; }
.GSGanttRunRemoveOut { border:2px solid #DDD; margin:0px; padding:0px; }
.GSGanttRunRemoveIn { background:red; color:black; }
.GSGanttRunCopyOut { border:2px solid blue; margin:0px; padding:0px; }
.GSGanttRunCopyIn { }
.GSGanttRunUnknownIn,.GSFGanttRunUnknown { background:black; color:White; font:bold 12px verdana;}

.GSFGanttRunMove { border:2px solid #DDD; padding:0px; padding-left:1px; padding-right:1px; background:#F0F0F0; color:black; }
.GSFGanttRunRemove { border:2px solid #DDD; padding:0px; padding-left:1px; padding-right:1px; background:red; color:black; }
.GSFGanttRunCopy { border:2px solid blue; padding:0px; padding-left:1px; padding-right:1px; }

.GSGanttMilestone,.GSGanttMilestone0,.GSGanttMilestone100,
.GSGanttMilestoneCrit,.GSGanttMilestone0Crit,.GSGanttMilestone100Crit,
.GSGanttMilestoneErr,.GSGanttMilestone0Err,.GSGanttMilestone100Err { 
   background:url(Gantt.gif) no-repeat; width:17px; height:17px; overflow:hidden; 
   }
.GSGanttMilestone { background-position: -900px -3px; }
.GSGanttMilestoneHover { background-position: -950px -3px; }
.GSGanttMilestone0 { background-position: -1100px -3px; }
.GSGanttMilestone0Hover { background-position: -1150px -3px; }
.GSGanttMilestone100,.GSGanttMilestone100Crit,.GSGanttMilestone100Err { background-position: -1800px -3px; }
.GSGanttMilestone100Hover,.GSGanttMilestone100CritHover,.GSGanttMilestone100CritHover { background-position: -1850px -3px; }
.GSGanttMilestoneCrit,.GSGanttMilestone0Crit { background-position:-1700px -3px; }
.GSGanttMilestoneCritHover,.GSGanttMilestone0CritHover { background-position: -1750px -3px; }
.GSGanttMilestoneErr,.GSGanttMilestone0Err { background-position:-1000px -3px; }
.GSGanttMilestoneErrHover,.GSGanttMilestone0ErrHover { background-position: -1050px -3px; }
.GSGanttGMilestone,.GSGanttGMilestone100,.GSGanttGMilestone100Crit,.GSGanttGMilestone100Err { background-position: 0px -3px; }
.GSGanttGMilestoneHover,.GSGanttGMilestone100Hover,.GSGanttGMilestone100CritHover,.GSGanttGMilestone100ErrHover { background-position: -50px -3px; }
.GSGanttGMilestone0 { background-position: -1600px -3px; }
.GSGanttGMilestone0Hover { background-position: -1650px -3px; }
.GSGanttGMilestoneCrit,.GSGanttGMilestone0Crit { background-position:-1400px -3px; }
.GSGanttGMilestoneCritHover,.GSGanttGMilestone0CritHover { background-position: -1450px -3px; }
.GSGanttGMilestoneErr,.GSGanttGMilestone0Err { background-position:-1300px -3px; }
.GSGanttGMilestoneErrHover,.GSGanttGMilestoneErr0Hover { background-position: -1350px -3px; }

.GSGanttFlag { background:url(Gantt.gif) no-repeat -100px 0px; background-color:transparent!important; width:14px; height:15px; overflow:hidden; }
.GSGanttFlagCustom { background-position:0px 0px!important; background-repeat:no-repeat; width:16px; height:15px; overflow:hidden; }
.GSGanttFlagHover { background-position:-150px 0px; background-color:red; }
.GSGanttFlagMenu { padding-right:16px; padding-bottom:256px; font:15px Arial; background-repeat:no-repeat; }

.GSGanttPoint1,.GSGanttPoint2,.GSGanttPoint3,.GSGanttPoint4,.GSGanttPoint5,.GSGanttPoint6,.GSGanttPoint7,.GSGanttPoint8 {
   background:url(Gantt.gif) no-repeat; width:15px; height:15px; overflow:hidden; 
   }
.GSGanttPointCustom { background-position:0px 0px!important; background-repeat:no-repeat; width:17px; height:17px; overflow:hidden; }  
.GSGanttPointCustomHover { background-color:red; }
.GSGanttPoint1 { background-position:-900px 0px; }
.GSGanttPoint1Hover { background-position: -950px 0px; }
.GSGanttPoint2 { background-position:-1000px 0px; }
.GSGanttPoint2Hover { background-position:-1050px 0px; }
.GSGanttPoint3 { background-position:-1100px 0px; }
.GSGanttPoint3Hover { background-position:-1150px 0px; }
.GSGanttPoint4 { background-position:-1200px 0px; }
.GSGanttPoint4Hover { background-position:-1250px 0px; }
.GSGanttPoint5 { background-position:-1300px 0px; }
.GSGanttPoint5Hover { background-position:-1350px 0px; }
.GSGanttPoint6 { background-position:-1400px 0px; }
.GSGanttPoint6Hover { background-position:-1450px 0px; }
.GSGanttPoint7 { background-position:-1500px 0px; }
.GSGanttPoint7Hover { background-position:-1550px 0px; }
.GSGanttPoint8 { background-position:-1600px 0px; }
.GSGanttPoint8Hover { background-position:-1650px 0px; }

.GSGanttMark,.GSGanttMark1,.GSGanttMark2,.GSGanttMark3,.GSGanttMark4,.GSGanttMark5,.GSGanttMark15 { height:500px; overflow:hidden; background:#880; }
.GSGanttMark1 { background:red; }
.GSGanttMark2 { background:green; }
.GSGanttMark3 { background:yellow; }
.GSGanttMark4 { background:black; }
.GSGanttMark5 { background:silver; }
.GSGanttMark6 { background:#F8F; margin-top:9px!important; height:2px!important; margin-bottom:-11px!important; }
.GSGanttMark7 { background:#0F0; margin-top:9px!important; height:2px!important; margin-bottom:-11px!important; }
.GSGanttMark8 { background:silver; margin-top:9px!important; height:2px!important; margin-bottom:-11px!important; }
.GSGanttMark9 { background:#F8F; margin-top:5px!important; height:2px!important; margin-bottom:-7px!important; }
.GSGanttMark10 { background:#0F0; margin-top:5px!important; height:2px!important; margin-bottom:-7px!important; }
.GSGanttMark11 { background:silver; margin-top:5px!important; height:2px!important; margin-bottom:-7px!important; }
.GSGanttMark12 { background:#F8F; margin-top:13px!important; height:1px!important; margin-bottom:-14px!important; }
.GSGanttMark13 { background:#0F0; margin-top:13px!important; height:1px!important; margin-bottom:-14px!important; }
.GSGanttMark14 { background:silver; margin-top:13px!important; height:1px!important; margin-bottom:-14px!important; }
.GSGanttMark15 { background:#FF00FF; }

.GSGanttResource { font:bold 11px "Times New Roman"; margin-top:-1px; }
.GSGanttResourceChar { width:6px; }

.GSGanttAvailability { height:500px; background:#ACF; border:1px solid #88F; border-bottom:0px none; }
.GSGanttAvailabilityNeg { height:500px; background:#FCA; border:1px solid #F88; border-top:0px none; }
.GSGanttAvailabilityText,.GSGanttAvailabilityTextNeg { color:blue; background:none!important; text-align:center; font:bold 12px Arial; overflow:visible!important; white-space:nowrap; }
.GSGanttAvailabilityTextNeg { color:red; }
.GSGanttAvailabilityAxis { background:#CCC; }
.GSGanttAvailabilityTransparent { opacity:0.7; filter:alpha(opacity=70); }
.GSGanttAvailabilityRed { color:red; background:#F88; border-color:red; }
.GSGanttAvailabilityMaroon { color:maroon; background:#B77; border-color:maroon; }
.GSGanttAvailabilityOrange { color:orange; background:#FD8; border-color:orange; }
.GSGanttAvailabilityYellow { color:#CC0; background:#FF6; border-color:#CC0; }
.GSGanttAvailabilityOlive { color:olive; background:#CC8; border-color:olive; }
.GSGanttAvailabilityLime { color:#0D0; background:#8F8; border-color:#0D0; }
.GSGanttAvailabilityGreen { color:green; background:#6C6; border-color:green; }
.GSGanttAvailabilityAqua { color:#8DD; background:#8FF; border-color:#8DD; }
.GSGanttAvailabilityTeal { color:teal; background:#6CC; border-color:teal; }
.GSGanttAvailabilityBlue { color:blue; background:#99F; border-color:blue; }
.GSGanttAvailabilityNavy { color:navy; background:#66C; border-color:navy; }
.GSGanttAvailabilityFuchsia { color:fuchsia; background:#F8F; border-color:fuchsia; }
.GSGanttAvailabilityPurple { color:purple; background:#C6C; border-color:purple; }
.GSGanttAvailabilityBlack { color:#AAA; background:black; border-color:#AAA; }
.GSGanttAvailabilityGray { color:gray; background:#AAA; border-color:gray; }
.GSGanttAvailabilitySilver { color:silver; background:#DDD; border-color:silver; }
.GSGanttAvailabilityWhite { color:#CCC; background:#F8F8F8; border-color:#CCC; }
.GSGanttAvailabilityNB { border-top:0px none; border-bottom:0px none; }

.GSGanttDepFirst { height:500px; overflow:hidden; }
.GSGanttDepVert,.GSGanttDepVertBottom,.GSGanttDepVertTop,.GSGanttDepVertBottom2,.GSGanttDepVertTop2,.GSGanttDepVertBottom3  {
   border-left:1px solid #DDF; border-right:1px solid #BBF; background:blue; width:1px; overflow:hidden;
   }
.GSGanttDepVert { margin-top:-500px; height:500px; }
.GSGanttDepVertTop { margin-top:-500px; height:5px; margin-bottom:495px; }
.GSGanttDepVertTop2 { margin-top:-499px; height:4px; margin-bottom:495px; }
.GSGanttDepVertBottom { margin-top:-494px; height:494px; }
.GSGanttDepVertBottom2 { margin-top:-494px; height:12px; margin-bottom:482px; }
.GSGanttDepVertBottom3 { margin-top:-481px; height:481px; }
.GSGanttDepHorzIn { border-top:1px solid #DDF; border-bottom:1px solid #BBF; background:blue; margin-top:4px; overflow:hidden; }
.GSGanttDepHorzInLag { border-top:1px dotted blue; margin-top:5px; overflow:hidden; }
.GSGanttDepHorzTop { border-bottom:1px solid #BBF; background:blue; overflow:hidden; }
.GSGanttDepHorzBottom { border-top:1px solid #DDF; background:blue; margin-top:17px; overflow:hidden; }
.GSGanttDepHorzOut { margin-top:-500px; height:19px; margin-bottom:481px; font-size:1px; line-height:1px; overflow:hidden; }
.GSGanttDepErr { border-top-color:#FDD; border-bottom-color:#FBB; border-left-color:#FDD; border-right-color:#FBB; background:red; }
.GSGanttDepLagErr { border-color:red; }
.GSGanttDepIcon { margin-top:-500px; height:500px; }
.GSGanttDepArrowLeft,.GSGanttDepArrowRight,.GSGanttDepArrowErrLeft,.GSGanttDepArrowErrRight,
.GSGanttDepArrowLeftRtl,.GSGanttDepArrowRightRtl,.GSGanttDepArrowErrLeftRtl,.GSGanttDepArrowErrRightRtl {
   height:500px; background:url(Gantt.gif) no-repeat; overflow:hidden; 
   }
.GSGanttDepArrowLeft { background-position:-200px 0px; width:12px; }
.GSGanttDepArrowRight { background-position:-250px 0px; width:12px; }
.GSGanttDepArrowErrLeft { background-position:-400px 0px; width:12px; }
.GSGanttDepArrowErrRight { background-position:-450px 0px; width:12px; }
.GSGanttDepArrowLeftRtl { background-position:-251px 0px; width:12px; }
.GSGanttDepArrowRightRtl { background-position:-202px 0px; width:12px; }
.GSGanttDepArrowErrLeftRtl { background-position:-451px 0px; width:12px; }
.GSGanttDepArrowErrRightRtl { background-position:-402px 0px; width:12px; }
.GSGanttDepStart { width:4px; overflow:hidden; }
.GSGanttDepEnd { width:10px; overflow:hidden; }

.GSGanttMinStart,.GSGanttMaxStart,.GSGanttMinEnd,.GSGanttMaxEnd { background:url(Gantt.gif) no-repeat; width:7px; height:17px; overflow:hidden; }
.GSGanttMinStart { background-position:-500px 0px; }
.GSGanttMaxStart { background-position:-550px 0px; }
.GSGanttMinEnd { background-position:-600px 0px; }
.GSGanttMaxEnd { background-position:-650px 0px; }
.GSGanttMinStartHover { background-position:-700px 0px; }
.GSGanttMaxStartHover { background-position:-750px 0px; }
.GSGanttMinEndHover { background-position:-800px 0px; }
.GSGanttMaxEndHover { background-position:-850px 0px; }

.GSGanttBack { background:white; }
.GSGanttBackRow { background:white; }
.GSGanttBack0,.GSGanttBack1,.GSGanttBack2,.GSGanttBack3,.GSGanttBack4,.GSGanttBack5 { 
   overflow:hidden; background:#E0E0E0; margin-left:auto; margin-right:auto; 
   }
.GSGanttBack0 { background:#FFF; }
.GSGanttBack1 { background:#E8E8E8; }
.GSGanttBack2 { background:#DDD; }
.GSGanttBack3 { background:#BBB; }
.GSGanttBack4 { background:#C72; }
.GSGanttBack5 { background:#27C; }

.GSGanttExclude,.GSGanttExcludeHidden { height:500px; overflow:hidden; background:#F0F0E0; margin-left:auto; margin-right:auto; }
.GSGanttExcludeHidden { }

.GSGanttBase,.GSGanttBaseAuto,.GSGanttFinish,.GSGanttFinishAuto { height:500px; overflow:hidden; border-left:2px solid #FF9E0C; width:2px; margin-left:auto; margin-right:auto; }
.GSGanttFinishAuto,.GSGanttBaseAuto { border-left:1px solid #FF9E0C; }

.GSGanttHeader { margin-left:-4px; margin-right:-4px; margin-top:-2px; }
.GSGanttHeader1,.GSGanttHeader2,.GSGanttHeader3,.GSGanttHeader4,.GSGanttHeader5 {
   font:13px "Times New Roman"; text-align:center;
   border-top:1px solid #ffffff; border-left:1px solid #ffffff; 
   border-bottom:1px solid #e0e0ff; border-right:1px solid #e0e0ff;
   }

.GSGanttResourcesGrid { position:absolute; overflow:hidden; z-index:258; background:#EEE;}

/* ------------- Tree Img with lines ------------- */

.GS000,.GS010,.GS001,.GS011,.GS100,.GS110,.GS101,.GS111, 
.GS000T,.GS010T,.GS001T,.GS011T,.GS100T,.GS110T,.GS101T,.GS111T,
.GS00,.GS01,.GS10,.GS11,
.GS00T,.GS01T,.GS10T,.GS11T,
.GS0T,.GS1T,.GS0TL,.GS1TL,.GS0C,.GS1C,.GS0CL,.GS1CL,.GS0E,.GS1E,.GS0EL,.GS1EL,
.GS0,.GS1,
.GST,.GSTL,.GSC,.GSCL,.GSE,.GSEL,.GSD0,.GSD1,.GSD2,.GSD3,.GSD4,.GSD0L,.GSD1L,.GSD2L,.GSD3L,.GSD4L {   
   font-size:10px; background-image:url(Tree.gif); vertical-align:top;
   }

u.GS000,u.GS010,u.GS001,u.GS011,u.GS100,u.GS110,u.GS101,u.GS111 { padding-left:63px; }
u.GS000T,u.GS010T,u.GS001T,u.GS011T,u.GS100T,u.GS110T,u.GS101T,u.GS111T { padding-left:89px; }
u.GS00,u.GS01,u.GS10,u.GS11 { padding-left:42px; }   
u.GS00T,u.GS01T,u.GS10T,u.GS11T { padding-left:68px; }   
u.GS0T,u.GS1T,u.GS0TL,u.GS1TL,u.GS0C,u.GS1C,u.GS0CL,u.GS1CL,u.GS0E,u.GS1E,u.GS0EL,u.GS1EL { padding-left:47px; }   
u.GS0,u.GS1 { padding-left:21px; }
u.GST,u.GSTL,u.GSC,u.GSCL,u.GSE,u.GSEL,u.GSD0,u.GSD1,u.GSD2,u.GSD3,u.GSD4,u.GSD0L,u.GSD1L,u.GSD2L,u.GSD3L,u.GSD4L { padding-left:26px; }   

.GS000,.GS000T { background-position:0px 0px; }
.GS010,.GS010T { background-position:-128px 0px; }
.GS001,.GS001T { background-position:-256px 0px; }
.GS011,.GS011T { background-position:-384px 0px; }
.GS100,.GS100T { background-position:-512px 0px; }
.GS110,.GS110T { background-position:-640px 0px; }
.GS101,.GS101T { background-position:-768px 0px; }
.GS111,.GS111T { background-position:-896px 0px; }

.GS00,.GS00T { background-position:-21px 0px; }
.GS10,.GS10T { background-position:-149px 0px; }
.GS01,.GS01T { background-position:-277px 0px; }
.GS11,.GS11T { background-position:-405px 0px; }

.GS0,.GS0T { background-position:-42px 0px; }
.GS1,.GS1T { background-position:-298px 0px; }

.GST { background-position:-63px 0px; }

.GS0TL { background-position:-1024px 0px; }
.GS1TL { background-position:-1088px 0px; }
.GS0C { background-position:-1152px 0px; }
.GS1C { background-position:-1216px 0px; }
.GS0CL { background-position:-1280px 0px; }
.GS1CL { background-position:-1344px 0px; }
.GS0E { background-position:-1408px 0px; }
.GS1E { background-position:-1472px 0px; }
.GS0EL { background-position:-1536px 0px; }
.GS1EL { background-position:-1600px 0px; }

.GSTL { background-position:-1045px 0px; }
.GSC { background-position:-1173px 0px; }
.GSCL { background-position:-1301px 0px; }
.GSE { background-position:-1429px 0px; }
.GSEL { background-position:-1557px 0px; }

.GSD0 { background-position:-1664px 0px; }
.GSD1 { background-position:-1696px 0px; }
.GSD2 { background-position:-1728px 0px; }
.GSD3 { background-position:-1760px 0px; }
.GSD0L { background-position:-1792px 0px; }
.GSD1L { background-position:-1824px 0px; }
.GSD2L { background-position:-1856px 0px; }
.GSD3L { background-position:-1888px 0px; }
.GSD4 { background-position:-1920px 0px; }
.GSD4L { background-position:-1952px 0px; }

/* ------------- Tree Img without lines ------------- */

.GSND0,.GSND1,.GSND2,.GSND3,.GSND4,.GSNC,.GSNE,.GSNCR,.GSNER { font-size:10px; background-image:url(TreeN.gif); background-repeat:no-repeat; vertical-align:top; }
u.GSND0,u.GSND1,u.GSND2,u.GSND3,u.GSND4,u.GSNC,u.GSNE,u.GSNCR,u.GSNER { padding-left:20px; }
.GSND0 { background-position: -6px 0px; }
.GSND1 { background-position: -56px 0px; }
.GSND2 { background-position: -106px 0px; }
.GSND3 { background-position: -156px 0px; }
.GSND4 { background-position: -206px 0px; }
.GSNC { background-position:right -50px;}
.GSNE { background-position:right -2000px;}
.GSNCR { background-position:-255px -50px;}
.GSNER { background-position:-255px -2000px;}
u.GSNL { padding-left:21px; }

/* ------------- Panel img ------------- */

.GSPanelImage,.GSPanelMove,.GSPanelMoveOff,.GSPanelSelect,.GSPanelSelectOn,.GSPanelSelectOff,.GSPanelDelete,.GSPanelDeleteOff,.GSPanelCopy,.GSPanelCopyOff,.GSPanelEmpty {
   font-size:10px; padding-left:13px; background-image:url(Panel.gif); background-repeat:no-repeat;
   }
.GSPanelEmpty { background:none; }   
.GSPanelMove { background-position: 0px 0px; }
.GSPanelMoveOff { background-position: -50px 0px; }
.GSPanelSelect { background-position: -100px 0px; }
.GSPanelSelectOn { background-position: -150px 0px; }
.GSPanelSelectOff { background-position: -200px 0px; }
.GSPanelDelete { background-position: -250px 0px; }
.GSPanelDeleteOff { background-position: -300px 0px; }
.GSPanelCopy { background-position: -350px 0px; }
.GSPanelCopyOff { background-position: -400px 0px; }
.GSPanelButton { font:10px "Microsoft Sans Serif",Verdana,Arial; padding:0px; height:17px; width:19px; margin:0px; cursor:pointer; _cursor:hand; }

/* ------------- Fast Panel img ------------- */

.GSP1111,.GSP1211,.GSP1011,.GSP1101,.GSP1201,.GSP1001,.GSP1110,.GSP1210,.GSP1010,.GSP1100,.GSP1200,.GSP1000,
.GSP0111,.GSP0211,.GSP0011,.GSP0101,.GSP0201,.GSP0001,.GSP0110,.GSP0210,.GSP0010,.GSP0100,.GSP0200,.GSP0000, 
.GSP111x,.GSP121x,.GSP101x,.GSP110x,.GSP120x,.GSP100x,.GSP011x,.GSP021x,.GSP001x,.GSP010x,.GSP020x,.GSP000x,
.GSP11xx,.GSP12xx,.GSP10xx,.GSP01xx,.GSP02xx,.GSP00xx,
.GSPx111,.GSPx211,.GSPx011,.GSPx101,.GSPx201,.GSPx001,.GSPx110,.GSPx210,.GSPx010,.GSPx100,.GSPx200,.GSPx000,
.GSPx11x,.GSPx21x,.GSPx01x,.GSPx10x,.GSPx20x,.GSPx00x,
.GSPxx11,.GSPxx10,.GSPxx01,.GSPxx00, 
.GSPxxx1,.GSPxxx0,.GSPxx1x,.GSPxx0x,.GSPx2xx,.GSPx1xx,.GSPx0xx,.GSP1xxx,.GSP0xxx {
   font-size:10px; background-image:url(FastPanel1.gif); background-repeat:no-repeat;
   }
.GSP1111,.GSP111x,.GSP11xx,.GSP1xxx { background-position:0px 0px; }
.GSP1211,.GSP121x,.GSP12xx { background-position:-80px 0px; }
.GSP1011,.GSP101x,.GSP10xx { background-position:-160px 0px; }
.GSP1101,.GSP110x { background-position:-240px 0px; }
.GSP1201,.GSP120x { background-position:-320px 0px; }
.GSP1001,.GSP100x { background-position:-400px 0px; }
.GSP1110 { background-position:-480px 0px; }
.GSP1210 { background-position:-560px 0px; }
.GSP1010 { background-position:-640px 0px; }
.GSP1100 { background-position:-720px 0px; }
.GSP1200 { background-position:-800px 0px; }
.GSP1000 { background-position:-880px 0px; }
.GSP0111,.GSP011x,.GSP01xx,.GSP0xxx { background-position:-960px 0px; }
.GSP0211,.GSP021x,.GSP02xx { background-position:-1040px 0px; }
.GSP0011,.GSP001x,.GSP00xx { background-position:-1120px 0px; }
.GSP0101,.GSP010x { background-position:-1200px 0px; }
.GSP0201,.GSP020x { background-position:-1280px 0px; }
.GSP0001,.GSP000x { background-position:-1360px 0px; }
.GSP0110 { background-position:-1440px 0px; }
.GSP0210 { background-position:-1520px 0px; }
.GSP0010 { background-position:-1600px 0px; }
.GSP0100 { background-position:-1680px 0px; }
.GSP0200 { background-position:-1760px 0px; }
.GSP0000 { background-position:-1840px 0px; }

.GSPx111,.GSPx11x,.GSPx1xx { background-position:-13px 0px; }
.GSPx211,.GSPx21x,.GSPx2xx { background-position:-93px 0px; }
.GSPx011,.GSPx01x,.GSPx0xx { background-position:-173px 0px; }
.GSPx101,.GSPx10x { background-position:-253px 0px; }
.GSPx201,.GSPx20x { background-position:-333px 0px; }
.GSPx001,.GSPx00x { background-position:-413px 0px; }
.GSPx110 { background-position:-493px 0px; }
.GSPx210 { background-position:-573px 0px; }
.GSPx010 { background-position:-653px 0px; }
.GSPx100 { background-position:-733px 0px; }
.GSPx200 { background-position:-813px 0px; }
.GSPx000 { background-position:-893px 0px; }

.GSPxx11,.GSPxx1x { background-position:-26px 0px; }
.GSPxx01,.GSPxx0x { background-position:-266px 0px; }
.GSPxx10{ background-position:-506px 0px; }
.GSPxx00 { background-position:-746px 0px; }

.GSPxxx1 { background-position:-39px 0px; }
.GSPxxx0 { background-position:-519px 0px; }

.GSP11x1,.GSP12x1,.GSP10x1,.GSP11x0,.GSP12x0,.GSP10x0,.GSP01x1,.GSP02x1,.GSP00x1,.GSP01x0,.GSP02x0,.GSP00x0,
.GSPx1x1,.GSPx2x1,.GSPx0x1,.GSPx1x0,.GSPx2x0,.GSPx0x0,
.GSP1x11,.GSP1x01,.GSP1x10,.GSP1x00,.GSP0x11,.GSP0x01,.GSP0x10,.GSP0x00,
.GSP1x1x,.GSP1x0x,.GSP0x1x,.GSP0x0x,
.GSP1xx1,.GSP1xx0,.GSP0xx1,.GSP0xx0 {
   font-size:11px; background-image:url(FastPanel2.gif); background-repeat:no-repeat;
   }
.GSP11x1 { background-position:0px 0px; }
.GSP12x1 { background-position:-80px 0px; }
.GSP10x1 { background-position:-160px 0px; }
.GSP11x0 { background-position:-240px 0px; }
.GSP12x0 { background-position:-320px 0px; }
.GSP10x0 { background-position:-400px 0px; }
.GSP01x1 { background-position:-480px 0px; }
.GSP02x1 { background-position:-560px 0px; }
.GSP00x1 { background-position:-640px 0px; }
.GSP01x0 { background-position:-720px 0px; }
.GSP02x0 { background-position:-800px 0px; }
.GSP00x0 { background-position:-880px 0px; }

.GSPx1x1 { background-position:-13px 0px; }
.GSPx2x1 { background-position:-93px 0px; }
.GSPx0x1 { background-position:-173px 0px; }
.GSPx1x0 { background-position:-253px 0px; }
.GSPx2x0 { background-position:-333px 0px; }
.GSPx0x0 { background-position:-413px 0px; }

.GSP1x11,.GSP1x1x { background-position:-960px 0px; }
.GSP1x01,.GSP1x0x { background-position:-1040px 0px; }
.GSP1x10 { background-position:-1120px 0px; }
.GSP1x00 { background-position:-1200px 0px; }
.GSP0x11,.GSP0x1x { background-position:-1280px 0px; }
.GSP0x01,.GSP0x0x { background-position:-1360px 0px; }
.GSP0x10 { background-position:-1440px 0px; }
.GSP0x00 { background-position:-1520px 0px; }

.GSP1xx1 { background-position:-1600px 0px; }
.GSP1xx0 { background-position:-1680px 0px; }
.GSP0xx1 { background-position:-1760px 0px; }
.GSP0xx0 { background-position:-1840px 0px; }

.GSPSpace1 { padding-left:12px; }
.GSPSpace2 { padding-left:25px; }
.GSPSpace3 { padding-left:38px; }
.GSPSpace4 { padding-left:51px; }
u.GSPSpace1 { padding-left:13px; background-position-x:-1px; }
u.GSPSpace2 { padding-left:23px; background-position-x:5px; }
u.GSPSpace3 { padding-left:36px; background-position-x:11px; }
u.GSPSpace4 { padding-left:49px; background-position-x:18px; }

/* ------------- Button type ------------- */   

.GSTabHtml,.GSTabHtml1 {
	font:bold 11px "Microsoft Sans Serif",Verdana,Arial; white-space:nowrap;
	padding-left:5px; padding-right:5px; text-align:center; border-left:none;
   }
.GSTabHtml1 { background:#BBBBBB; color:white; }
.GSTabSep,.GSTabSepLeft,.GSTabSepRight { padding-left:2px; background:white!important; cursor:default!important; border:none; border-right:1px solid #e0e0ff; }
.GSTabSepRight,.GSTabSepLeft { padding-left:5px; }
.GSTabSepLast { padding-left:1px; background:white!important; cursor:default!important; border:none; }
.GSTabSepFirst { padding-left:1px; background:white!important; cursor:default!important; border:none; border-right:1px solid #e0e0ff; }

.GSToolHtml,.GSToolHtml1 { font:11px "Microsoft Sans Serif",Verdana,Arial; padding-left:3px; padding-right:3px; border-right:1px solid #d0d0c0; }
.GSToolHtml1 { font-weight:bold; color:blue; }
.GSToolButton { text-align:center; padding-left:1px; padding-right:1px; }
.GSToolButtonButton,.GSToolButtonButton1,.GSToolSpaceButton,.GSToolSpaceButton1 {
 	font:11px "Microsoft Sans Serif",Verdana,Arial; height:18px;
 	padding-left:0px; padding-right:0px; cursor:pointer; _cursor:hand; margin-top:-1px; margin-bottom:-1px;
 	border:none; background:transparent;
   }
.GSToolButtonButton1,.GSToolSpaceButton1 { color:blue; font-weight:bold; }

.GSIconHtml { text-align:left; }
.GSDisabledButton { opacity:0.3; filter:alpha(opacity=30); }

.GSToolHeader { border:none!important; padding-bottom:100px; }
.GSToolMenuHeader { }    
.GSToolMenuItem { background:#F0F0E0!important; }
.GSToolMenuOuter { background:#F0F0E0!important; }
.GSToolMenuBody { background:#F0F0E0!important; border:1px solid #e0e0ff!important;}

/* ------------- Special Toolbar buttons ------------- */   

.GSResizeGrid,.GSResizeGridRtl,.GSToolSave,.GSToolReload,.GSToolRepaint,.GSToolRepaint1,.GSToolAdd,.GSToolAddChild,.GSToolJoin,.GSToolSplit,.GSToolSort1,.GSToolSort,.GSToolCalc1,.GSToolCalc,
.GSToolExpandAll,.GSToolCollapseAll,.GSToolColumns,.GSToolCfg,.GSToolHelp,.GSToolPrint,.GSToolExport,.GSToolExportPDF,.GSToolDebug,.GSToolOutdent,.GSToolIndent, 
.GSToolUndo,.GSToolUndo1,.GSToolRedo,.GSToolRedo1,.GSToolCorrect,.GSToolCorrect1,.GSToolZoomIn,.GSToolZoomIn1,.GSToolZoomOut,.GSToolZoomOut1,.GSToolZoomFit,
.GSToolPagerFirst,.GSToolPagerFirst1,.GSToolPagerPrev,.GSToolPagerPrev1,.GSToolPagerNext,.GSToolPagerNext1,.GSToolPagerLast,.GSToolPagerLast1 {
   font-size:11px; background-image:url(Toolbar.gif); background-repeat:no-repeat;
   padding-right:2px; border-right:1px solid #d0d0c0; padding-left:18px;
   }
.GSToolPagerFirst,.GSToolPagerFirst1,.GSToolPagerPrev,.GSToolPagerPrev1,.GSToolPagerNext,.GSToolPagerNext1,.GSToolPagerLast,.GSToolPagerLast1 {
   border:0px none;
   }   
.GSToolSave { background-position:0px 0px; }
.GSToolReload { background-position:-50px 0px; }
.GSToolRepaint1 { background-position:-100px 0px; }
.GSToolAdd { background-position:-150px 0px; }
.GSToolAddChild { background-position:-200px 0px; }
.GSToolSort1 { background-position:-250px 0px; }
.GSToolSort { background-position:-300px 0px; }
.GSToolCalc1 { background-position:-350px 0px; }
.GSToolCalc { background-position:-400px 0px; }
.GSToolExpandAll { background-position:-450px 0px; }
.GSToolCollapseAll { background-position:-500px 0px; }
.GSToolCfg { background-position:-550px 0px; }
.GSToolHelp { background-position:-600px 0px; }
.GSToolColumns { background-position:-650px 0px; }
.GSToolPrint { background-position:-750px 0px; }
.GSToolExport { background-position:-800px 0px; }
.GSToolPagerFirst1 { background-position:-850px 0px; }
.GSToolPagerFirst { background-position:-900px 0px; }
.GSToolPagerPrev1 { background-position:-950px 0px; }
.GSToolPagerPrev { background-position:-1000px 0px; }
.GSToolPagerNext1 { background-position:-1050px 0px; }
.GSToolPagerNext { background-position:-1100px 0px; }
.GSToolPagerLast1 { background-position:-1150px 0px; }
.GSToolPagerLast { background-position:-1200px 0px; }
.GSToolDebug { background-position:-1250px 0px; }
.GSToolUndo1 { background-position:-1350px 0px; }
.GSToolUndo { background-position:-1400px 0px; }
.GSToolRedo1 { background-position:-1450px 0px; }
.GSToolRedo { background-position:-1500px 0px; }
.GSToolCorrect1 { background-position:-1550px 0px; }
.GSToolCorrect { background-position:-1600px 0px; }
.GSToolZoomIn1 { background-position:-1800px 0px; }
.GSToolZoomIn { background-position:-1850px 0px; }
.GSToolZoomOut1 { background-position:-1700px 0px; }
.GSToolZoomOut { background-position:-1750px 0px; }
.GSToolZoomFit { background-position:-1900px 0px; }
.GSToolExportPDF { background-position:-1950px 0px; }
.GSToolJoin { background-position:-2000px 0px; }
.GSToolSplit { background-position:-2050px 0px; }
.GSToolRepaint { background-position:-2100px 0px; }
.GSToolOutdent { background-position:-2150px 0px; }
.GSToolIndent { background-position:-2200px 0px; }

.GSResizeGrid  {
   background-position:-703px -1px; border:none;
   margin-left:auto; margin-right:0px; margin-top:-16px;
   height:19px; width:17px; overflow:hidden; padding:0px; cursor:nw-resize; 
   }

.GSResizeGridRtl {
   background-position:-1303px -1px; border:none;
   margin-right:auto; margin-left:0px; margin-top:-16px;
   height:19px; width:17px; overflow:hidden; padding:0px; cursor:ne-resize;
   }

/* ------------- Cell images ------------- */

.GSIconLeft,.GSIconRight,.GSIconCenter { font-size:11px; background-repeat:no-repeat; }
.GSIconLeft { background-position:left 0px; padding-left:20px!important; }
.GSIconRight { background-position:right 0px; padding-right:20px!important; }
.GSIconCenter { background-position:center 0px; }

.GSDateLeft,.GSDatesLeft,.GSDefaultsLeft,.GSDefaultsSpaceLeft,.GSEnumLeft,.GSDateRight,.GSDatesRight,.GSDefaultsRight,.GSDefaultsSpaceRight,.GSEnumRight,
.GSCollapseRight,.GSExpandRight,.GSCollapseLeft,.GSExpandLeft,.GSCollapseHeaderRight,.GSExpandHeaderRight,.GSCollapseHeaderLeft,.GSExpandHeaderLeft,
.GSRadio0Left,.GSRadio0Right,.GSRadio1Left,.GSRadio1Right,.GSRadio2Left,.GSRadio2Right,.GSRadio3Left,.GSRadio3Right, 
.GSBoolXSpace,.GSBoolXSpaceRO,.GSBool0Space,.GSBool1Space,.GSBool0SpaceRO,.GSBool1SpaceRO,
.GSBoolX,.GSBoolXRO,.GSBool0,.GSBool1,.GSBool0RO,.GSBool1RO,.GSBool2,.GSBool3,.GSBool2RO,.GSBool3RO,
.GSFilter0,.GSFilter1,.GSGroup0,.GSGroup1,.GSSearch0,.GSSearch1 {
   background-image:url(Button.gif); background-repeat:no-repeat; }
.GSRadio0Left,.GSRadio0Right,.GSRadio1Left,.GSRadio1Right,.GSRadio2Left,.GSRadio2Right,.GSRadio3Left,.GSRadio3Right { font-size:11px; font-family:"Microsoft Sans Serif",Verdana,Arial; }  
.GSDateLeft,.GSDatesLeft,.GSDefaultsLeft,.GSDefaultsSpaceLeft,.GSExpandLeft,.GSCollapseLeft,.GSExpandHeaderLeft,.GSCollapseHeaderLeft { padding-left:20px!important; }
.GSDateRight,.GSDatesRight,.GSDefaultsRight,.GSDefaultsSpaceRight,.GSExpandRight,.GSCollapseRight,.GSExpandHeaderRight,.GSCollapseHeaderRight { padding-right:20px!important; }
u.GSDateRight,u.GSDatesRight,u.GSDefaultsRight,u.GSDefaultsSpaceRight,u.GSExpandRight,u.GSCollapseRight,u.GSExpandHeaderRight,u.GSCollapseHeaderRight { padding-right:0px!important; padding-left:17px; }
.GSDateLeft,.GSDatesLeft { background-position:left -250px; }
.GSDateRight,.GSDatesRight { background-position:right -250px; }
.GSDefaultsLeft { background-position:left 0px; }
.GSDefaultsRight { background-position:right 0px; }
.GSDefaultsSpaceLeft { background-position:left 0px; }
.GSDefaultsSpaceRight { background-position:right 0px; }
.GSEnumLeft { background-position:left -500px; padding-left:17px; }
.GSEnumRight { background-position:right -500px; padding-right:17px; }
u.GSEnumRight { padding-right:0px; padding-left:17px; }
.GSExpandLeft { background-position:left -2498px; }
.GSExpandRight { background-position:right -2498px; }
.GSExpandHeaderLeft { background-position:left -2498px; }
.GSExpandHeaderRight { background-position:right -2498px; }
.GSCollapseLeft { background-position:left -2248px;}
.GSCollapseRight { background-position:right -2248px;}
.GSCollapseHeaderLeft { background-position:left -2248px; }
.GSCollapseHeaderRight { background-position:right -2248px; }

.GSRadio0Left,.GSRadio1Left,.GSRadio2Left,.GSRadio3Left { padding-left:17px; padding-top:0px; padding-right:3px; line-height:17px; }
.GSRadio0Right,.GSRadio1Right,.GSRadio2Right,.GSRadio3Right { padding-right:17px; padding-top:0px; padding-left:3px; line-height:17px; }
.GSRadio0Left { background-position:left -1250px; } 
.GSRadio1Left { background-position:left -1500px;} 
.GSRadio2Left { background-position:left -750px; }
.GSRadio3Left { background-position:left -1000px;}
.GSRadio0Right { background-position:right -1250px; } 
.GSRadio1Right { background-position:right -1500px;} 
.GSRadio2Right { background-position:right -750px; }
.GSRadio3Right { background-position:right -1000px;}
.GSRadioInput { margin-top:0px; margin-bottom:0px; margin-top:-4px!IE; }
nobr.GSRadio0Left,nobr.GSRadio1Left,nobr.GSRadio2Left,nobr.GSRadio3Left,
nobr.GSRadio0Right,nobr.GSRadio1Right,nobr.GSRadio2Right,nobr.GSRadio3Right,
span.GSRadio0Left,span.GSRadio1Left,span.GSRadio2Left,span.GSRadio3Left,
span.GSRadio0Right,span.GSRadio1Right,span.GSRadio2Right,span.GSRadio3Right {
   padding-top:2px; padding-bottom:2px;
   }

u.GSBoolXSpace,u.GSBoolXSpaceRO,u.GSBool0Space,u.GSBool1Space,u.GSBool0SpaceRO,u.GSBool1SpaceRO,
u.GSBoolX,u.GSBoolXRO,u.GSBool0,u.GSBool1,u.GSBool0RO,u.GSBool1RO,u.GSBool2,u.GSBool3,u.GSBool2RO,u.GSBool3RO,
u.GSFilter0,u.GSFilter1 { padding-left:18px; }
.GSBoolXSpace { background-position:center -2000px; padding-left:18px; background-image:url(Filter.gif); }
.GSBoolXSpaceRO { background-image:none; }
.GSBool0Space { background-position:center -750px; padding-left:18px; }
.GSBool1Space { background-position:center -1000px; padding-left:18px; }
.GSBool0SpaceRO { background-position:center -1750px; padding-left:18px; }
.GSBool1SpaceRO { background-position:center -2000px; padding-left:18px; }
.GSBoolX { background-position:center -2000px; background-image:url(Filter.gif); }
.GSBoolXRO { background-image:none; }
.GSBool0 { background-position:center -750px; }
.GSBool1 { background-position:center -1000px; }
.GSBool0RO { background-position:center -1750px; }
.GSBool1RO { background-position:center -2000px; }
.GSBool2,.GSBool2RO { background-position:center -1250px; }
.GSBool3,.GSBool3RO { background-position:center -1500px; }
.GSFilter0 { background-position:center -750px; }
.GSFilter1 { background-position:center -1000px; }
.GSGroup0 { background-position:center -750px; }
.GSGroup1 { background-position:center -1000px; }
.GSSearch0 { background-position:center -750px; }
.GSSearch1 { background-position:center -1000px; }
.GSBoolInput { margin-top:1px; margin-bottom:0px; padding:0px; margin-top:-3px!IE;margin-bottom:-5px!IE; }

.GSBoolChar0,.GSBoolChar1,.GSBoolChar2,.GSBoolChar0RO,.GSBoolChar1RO,.GSBoolChar2RO {
   border:2px ridge white; color:blue; text-align:center;
   height:10px; width:8px; overflow:hidden;
   font:bold 9px Arial; margin:auto; margin-top:1px;
   }
.GSBoolChar2 { color:green; }
.GSBoolChar0RO,.GSBoolChar1RO,.GSBoolChar2RO { color:gray; }
.GSBoolCharIE { height:14px; width:12px; }

.GSPopupLeft,.GSPopupRight { font-size:11px; background-image:url(Menu.gif); background-repeat:no-repeat; }
.GSPopupLeft { background-position:-6px -250px; padding-left:14px;}
.GSPopupRight { background-position:right -250px; padding-right:14px;}
.GSPopupNone { padding-right:14px; }

.GSIconRotate { padding-left:2px!important; padding-top:20px!important; }
.GSIconRotateLeft { margin-left:0px; padding-top:20px!important; }
.GSIconRotateHeaderLeft { margin-left:5px; padding-top:20px!important; }
.GSIconRotateHeaderRight { margin-left:2px; padding-top:20px!important; }

/* ------------- Filter images ------------- */
.GSFilter0Left,.GSFilter1Left,.GSFilter2Left,.GSFilter3Left,.GSFilter4Left,.GSFilter5Left,.GSFilter6Left,.GSFilter7Left,.GSFilter8Left,.GSFilter9Left,.GSFilter10Left,.GSFilter11Left,.GSFilter12Left,
.GSFilter0Right,.GSFilter1Right,.GSFilter2Right,.GSFilter3Right,.GSFilter4Right,.GSFilter5Right,.GSFilter6Right,.GSFilter7Right,.GSFilter8Right,.GSFilter9Right,.GSFilter10Right,.GSFilter11Right,.GSFilter12Right {
   font-size:11px; background-image:url(Filter.gif); background-repeat:no-repeat;
   }
.GSFilter0Left,.GSFilter1Left,.GSFilter2Left,.GSFilter3Left,.GSFilter4Left,.GSFilter5Left,.GSFilter6Left,.GSFilter7Left,.GSFilter8Left,.GSFilter9Left,.GSFilter10Left,.GSFilter11Left,.GSFilter12Left {
   padding-left:17px;
   }
.GSFilter0Right,.GSFilter1Right,.GSFilter2Right,.GSFilter3Right,.GSFilter4Right,.GSFilter5Right,.GSFilter6Right,.GSFilter7Right,.GSFilter8Right,.GSFilter9Right,.GSFilter10Right,.GSFilter11Right,.GSFilter12Right {
   padding-right:17px;
   }
u.GSFilter0Right,u.GSFilter1Right,u.GSFilter2Right,u.GSFilter3Right,u.GSFilter4Right,u.GSFilter5Right,u.GSFilter6Right,u.GSFilter7Right,u.GSFilter8Right,u.GSFilter9Right,u.GSFilter10Right,u.GSFilter11Right,u.GSFilter12Right {  
   padding-right:0px; padding-left:17px;
   }
.GSFilter0Left,.GSFilter0Menu { background-position:left 0px; }   
.GSFilter1Left,.GSFilter1Menu { background-position:left -150px; }
.GSFilter2Left,.GSFilter2Menu { background-position:left -300px; }
.GSFilter3Left,.GSFilter3Menu { background-position:left -450px; }
.GSFilter4Left,.GSFilter4Menu { background-position:left -600px; }
.GSFilter5Left,.GSFilter5Menu { background-position:left -750px; }   
.GSFilter6Left,.GSFilter6Menu { background-position:left -900px; }
.GSFilter7Left,.GSFilter7Menu { background-position:left -1050px; }
.GSFilter8Left,.GSFilter8Menu { background-position:left -1200px; }
.GSFilter9Left,.GSFilter9Menu { background-position:left -1350px; }
.GSFilter10Left,.GSFilter10Menu { background-position:left -1500px; }
.GSFilter11Left,.GSFilter11Menu { background-position:left -1650px; }
.GSFilter12Left,.GSFilter12Menu { background-position:left -1800px; }
.GSFilter0Right { background-position:right 0px; }   
.GSFilter1Right { background-position:right -150px; }
.GSFilter2Right { background-position:right -300px; }
.GSFilter3Right { background-position:right -450px; }
.GSFilter4Right { background-position:right -600px; }
.GSFilter5Right { background-position:right -750px; }   
.GSFilter6Right { background-position:right -900px; }
.GSFilter7Right { background-position:right -1050px; }
.GSFilter8Right { background-position:right -1200px; }
.GSFilter9Right { background-position:right -1350px; }
.GSFilter10Right { background-position:right -1500px; }
.GSFilter11Right { background-position:right -1650px; }
.GSFilter12Right { background-position:right -1800px; }

.GSFilter0Menu,.GSFilter1Menu,.GSFilter2Menu,.GSFilter3Menu,.GSFilter4Menu,.GSFilter5Menu,.GSFilter6Menu,.GSFilter7Menu,.GSFilter8Menu,.GSFilter9Menu,.GSFilter10Menu,.GSFilter11Menu,.GSFilter12Menu {
   width:17px; height:17px; overflow:hidden; background-image:url(Filter.gif); background-repeat:no-repeat; margin-left:-1px;
   }
.GSFilterMenuHeader { padding-left:2px; border-bottom:0px none!important; }   

/* ------------- Sort images ------------- */
.GSSort0Left,.GSSort1Left,.GSSort2Left,.GSSort3Left,.GSSort4Left,.GSSort5Left,.GSSort6Left,
.GSSort0Right,.GSSort1Right,.GSSort2Right,.GSSort3Right,.GSSort4Right,.GSSort5Right,.GSSort6Right {
   font-size:11px; background-image:url(Sort.gif); background-repeat:no-repeat;  
   }
.GSSort0Left,.GSSort1Left,.GSSort2Left,.GSSort3Left,.GSSort4Left,.GSSort5Left,.GSSort6Left { padding-left:17px; }
.GSSort0Right,.GSSort1Right,.GSSort2Right,.GSSort3Right,.GSSort4Right,.GSSort5Right,.GSSort6Right{ padding-right:17px; }
u.GSSort0Right,u.GSSort1Right,u.GSSort2Right,u.GSSort3Right,u.GSSort4Right,u.GSSort5Right,u.GSSort6Right { padding-right:0px; padding-left:17px; }
.GSSort0Left { background-position:left 0px; }   
.GSSort1Left { background-position:left -250px; }
.GSSort2Left { background-position:left -500px; }
.GSSort3Left { background-position:left -750px; }
.GSSort4Left { background-position:left -1000px; }
.GSSort5Left { background-position:left -1250px; }
.GSSort6Left { background-position:left -1500px; }
.GSSort0Right { background-position:right 0px; }   
.GSSort1Right { background-position:right -250px; }
.GSSort2Right { background-position:right -500px; }
.GSSort3Right { background-position:right -750px; }
.GSSort4Right { background-position:right -1000px; }
.GSSort5Right { background-position:right -1250px; }
.GSSort6Right { background-position:right -1500px; }

/* -------------- Pager ------------------ */
.GSPagerMain { }
.GSPagerBody { border-left:1px solid #d0d0d0; background: #F0F0E0; }
.GSPagerBodyLeft { border-right:1px solid #d0d0d0; border-left:0px none; }
.GSPagerBodyRight { }
.GSPagerHeader {
	border-left:1px solid #e0e0ff; border-top:1px solid #ffffff; border-bottom:1px solid #e0e0ff; border-right:1px solid #e0e0ff;
	vertical-align:top; padding-bottom:2px; background: #F0F0E0; cursor:default;
	}
.GSPagerCaption { font:13px Times New Roman; padding-left:3px; padding-right:3px; white-space:nowrap; }
.GSPagerItem {
	font:11px "Microsoft Sans Serif",Verdana,Arial; cursor:pointer; _cursor:hand; overflow:hidden;
	padding-left:3px; padding-right:3px;
	border-bottom:1px solid #e0e0ff; border-top:1px solid #ffffff;	background:#f8f8f8;
	height:14px; overflow:hidden; white-space:nowrap;
	}
.GSPagerItemTouch { padding-top:4px; padding-bottom:4px; }
.GSPagerFocus {
   position:relative; cursor:pointer; _cursor:hand; overflow:hidden; background:#AFAF00;
   border:1px solid black; border-left:none; border-right:none; opacity:0.3; filter:alpha(opacity=30); 
   }
.GSPagerHover {
   position:relative; cursor:pointer; _cursor:hand; overflow:hidden;
   opacity:0.1; filter:alpha(opacity=10); background:#00F;
   }
.GSPagerSort1 { color: #006600; }
.GSPagerSort2 {	color: #00AE00; }
.GSPagerSort3 {	color: #00FF00; }
.GSPagerSortS {	color: black; }

/* -------------- State classes ------------- */
/* The colors must be set by numbers not by names */

.GSColorDefault { background-color:#FAFAFA; }

.GSColorNoFocus { background-color:#F6F6E6; }
.GSColorReadOnly { background-color:#F4F4F4;}
.GSColorPreview { background-color:#FFFFFF; }
.GSColorEdit { background-color:#FFFFFF; }

.GSColorAlternate { background-color:#EBFFFF; }

.GSColorSelected { background-color:#FFFF80; }
.GSClassSelected { color:red; }

.GSColorError { background-color:#FF6969; }
.GSColorDeleted { background-color:#FFCDCD; }
.GSClassDeleted { font-style:italic; }
.GSColorAdded { background-color:#CDFFCD; }
.GSClassAdded { font-weight:bold; }
.GSColorMoved1 { background-color:#FFFFFF; }
.GSColorMoved2 { background-color:#D7EBEB; }
.GSColorChanged { background-color:#EBEBFF; }
.GSColorChangedCell { background-color:#E1E1FF; }
.GSClassChangedCell { font-weight:bold; }

.GSColorMaxChildren { background-color:#FFFFF0; }

.GSColorDetail { background-color:#FFF0FF; }
.GSColorDetailSelected { background-color:#FFF0E0; }

.GSColorDragged { background-color:#E0E0C0; }

.GSColorFound1 { background-color:#FF87FF; }
.GSColorFound2 { background-color:#FFC387; }
.GSColorFound3 { background-color:#87FF87; }

.GSColorHovered { background-color:#F0F0FF; }
.GSColorHoveredCell { background-color:#C0C0FF; }
.GSColorHoveredCellReadOnly { background-color:#F0F0F0; }
.GSColorHoveredCellNoFocus { background-color:#F8F8F8; }
.GSColorHoveredCellHeader { background-color:#FFFFFE; }
.GSColorHoveredCellPanel { background-color:#FFFFFE; }
.GSColorHoveredCellFastPanel { background-color:#FFFFFE; }
.GSColorHoveredCellSpace { background-color:#FFFFFF; }
.GSColorHoveredCellSpaceEdit { background-color:#C0C0FF; }
.GSColorHoveredCellSpaceBool { background-color:#FFFFFF; }
.GSColorHoveredCellButton { background-color:#FFFFFE; }
.GSClassHoveredCellButton { color:green; }
.GSColorHoveredCellButton1 { background-color:#FFFFFE; }
.GSClassHoveredCellButton1 { color:red; }
.GSColorHoveredCellTab { background-color:#FFFFFE; }
.GSClassHoveredCellTab { background-position:0px -1751px; color:green; }
.GSColorHoveredCellTab1 { background-color:#CCCCCC; }
.GSClassHoveredCellTab1 { background-image:none; }

.GSColorFocused { background-color:#E6E6E6; }
.GSColorFocusedCell { background-color:#FFFFFE; }
.GSColorFocusedCellSafari { background-color:#A0A0FF; }
.GSColorFocusedCellSpace { background-color:#FFFFFE; }
.GSColorFocusedCellButton { background-color:#FFFFFE; }
.GSColorFocusedCellHeader { background-color:#FFFFFE; }
.GSColorFocusedCellPanel { background-color:#FFFFFE; }
.GSColorEditedCell { background-color:#FFFFFF; }
.GSColorViewedCell { background-color:#FFFFFF; }

/* --------------- Hover, focus, edit cursors ----------------- */
.GSHoverPanelBackground { }
.GSHoverRowBackground { opacity:0.05; filter:alpha(opacity=5); background:#00F; }
.GSHoverRowBorder { z-index:1; cursor:default; }
.GSHoverCellBorder { z-index:3; padding:1px; border:1px solid #A0A0F0; background:white; }
.GSFocusPanelBackground { }
.GSFocusRowBackground { opacity:0.1; filter:alpha(opacity=10); background:#000; }
.GSFocusRowBorder { z-index:2; border:1px solid #AAAAAA; background:white; padding:1px; padding-left:0px; }
.GSFocusCellBorder,.GSEditCellBorder,.GSFocusCellSpaceBorder,.GSEditCellSpaceBorder { z-index:4; border:2px solid #6666FF; }
.GSEditCellBorder,.GSEditCellSpaceBorder { border-color:#FF6666; }
.GSEditCellInput { position:relative; border:1px solid #BBB; overflow:hidden; z-index:2; }

.GSCursorBackground { position:relative; border:none; padding:0px; overflow:hidden; }
.GSCursorBorderLeft { position:relative; padding-right:0px; padding-top:0px; padding-bottom:0px; border-right:none; border-top:none; border-bottom:none; overflow:hidden; width:0px; height:0px; }
.GSCursorBorderRight { position:relative; padding-left:0px; padding-top:0px; padding-bottom:0px; border-left:none; border-top:none; border-bottom:none; overflow:hidden; width:0px; height:0px; }
.GSCursorBorderTop { position:relative; padding-bottom:0px; padding-left:0px; padding-right:0px; border-bottom:none; border-left:none; border-right:none; overflow:hidden; width:0px; height:0px; }
.GSCursorBorderBottom { position:relative; padding-top:0px; padding-left:0px; padding-right:0px; border-top:none; border-left:none; border-right:none; overflow:hidden; width:0px; height:0px; }

/*--------------- Cell edges ----------------- */
.GSNoLeft { border-left:0px none; }
.GSNoRight { border-right:0px none; }

.GSEmpty { text-decoration:none; font-size:1px; line-height:1px;}

/*--------------- Dragging ----------------- */
.GSMouseObject { opacity:0.5; filter:alpha(opacity=50); z-index:300; overflow:hidden; }
.GSDragObject {
   z-index:300; margin-left:10px; margin-top:10px; 
   font:11px "Microsoft Sans Serif",Arial;
   background:#f4f4f4; border:1px solid #d0d0d0; padding:3px;
   }
.GSDragColInsideTop,.GSDragColInsideBottom,.GSDragColOutsideTop,.GSDragColOutsideBottom,.GSDragGanttRunTop,.GSDragGanttRunBottom {
   position:absolute; background-image:url(Sort.gif); width:15px; height:11px; overflow:hidden; z-index:258;
   }
.GSDragColInsideTop  { background-position:0px -1750px;  }
.GSDragColInsideBottom  { background-position:0px -1770px;  }
.GSDragColOutsideTop  { background-position:0px -1790px;  }
.GSDragColOutsideBottom  { background-position:0px -1810px;  }
.GSDragGanttRunTop  { background-position:0px -1748px;  }
.GSDragGanttRunBottom { background-position:0px -1768px;  }

/*--------------- Messages ----------------- */
.GSDisabled { position:absolute; z-index:264; background:white; opacity:0.5; filter:alpha(opacity=50); } 
.GSMessage {
	background:#F0F0E0; border:1px solid #d0d0d0; padding:10px; white-space:nowrap; text-align:center;
	font:13px "Microsoft Sans Serif",Verdana,Arial;
   position: absolute; left:0px; top:0px; visibility:hidden; z-index:266;
	}
.GSMessageShadow {
   position:absolute; margin-left:3px; margin-top:3px; z-index:265;
   background:#888; opacity:0.5; filter:alpha(opacity=50);
   left:0px; top:0px; visibility:hidden;
   }	
.GSPageMessage { background:#FAFAFA; border:1px solid #f77; padding:10px; font:13px "Microsoft Sans Serif",Verdana,Arial; }

.GSProgressMain { font:13px "Microsoft Sans Serif",Verdana,Arial; }
.GSProgressCaption { font-weight:bold; margin-bottom:15px; }
.GSProgressText { margin-bottom:15px; }
.GSProgressOuter { text-align:left; width:200px; border:1px solid #d0d0d0; padding:2px; margin-bottom:15px; }
.GSProgressInner { height:10px;background:green; }
.GSProgressButton,.GSMessageButton { font:11px "Microsoft Sans Serif",Verdana,Arial; }
.GSProgressButton { margin:2px; margin-top:5px; margin-bottom:0px; white-space:nowrap; padding-left:10px; padding-right:10px; }
.GSMessageButton { margin-top:10px; width:50px; }
   
/*--------------- Other ----------------- */
/* !!! No .GS style prefix here !!! */
.GridTmpTag { position:absolute; left:5px; top:5px; visibility:hidden; }

/*--------------- Debug print ----------------- */
/* !!! No .GS style prefix here !!! */
.GridDebugTag,.GridDebugTagMax { overflow:auto; overflow-y:scroll; border:1px solid black; background:#DDD; }
.GridDebugTag,.GridDebugTagMax,.GridDebugButtons,.GridDebugButtonsMax {
   position:fixed; z-index:256; left:5px; right:5px; bottom:5px; height:200px; padding:4px;
   position:absolute!IE;
   left:expression((5+(document.compatMode=="CSS1Compat"?document.documentElement.scrollLeft:document.body.scrollLeft))+"px")!IE;
   width:expression((-10+(document.compatMode=="CSS1Compat"?document.documentElement.clientWidth-8:document.body.clientWidth))+"px")!IE;
   top:expression((-205+(document.compatMode=="CSS1Compat"?document.documentElement.scrollTop+document.documentElement.clientHeight-8:document.body.scrollTop+document.body.clientHeight))+"px")!IE;
   }
.GridDebugTagMax,.GridDebugButtonsMax {
   top:5px; height:auto; 
   top:expression((5+(document.compatMode=="CSS1Compat"?document.documentElement.scrollTop:document.body.scrollTop))+"px")!IE;
   height:expression((-10+(document.compatMode=="CSS1Compat"?document.documentElement.clientHeight-8:document.body.clientHeight))+"px")!IE;
   }
.GridDebugButtons,.GridDebugButtonsMax {
   text-align:right; margin-right:25px; width:130px; left:auto;
   left:expression((-155+(document.compatMode=="CSS1Compat"?document.documentElement.clientWidth-8:document.body.clientWidth))+"px")!IE;
   }
.GridDebugButton { font-size:10px; width:40px; padding:0px; }
.GridDebugTitle { font-size:10px; color:blue; font-style:normal;font-weight:normal; }
.GridDebugMark { font-weight:bold; }
.GridDebugStop { font-size:18px; font-weight:bold; color:red; }
.GridDebugError { font-size:12px; color:red; }
.GridDebugWarning { font-size:12px; color:#A60;}
.GridDebugList { font-size:10px; color:#888;}
.GridDebugInfo { font-size:12px; }

/* ------------------- Popup menus, TGLib ------------------- */

.GSMenuMain { position:absolute; left:0px; top:0px; z-index:258; }
.GSMenuStatic { }
.GSMenuOuter { overflow:hidden; background:#eeeeee; }
.GSMenuHeader {
   overflow:hidden; position:absolute; z-index:258;
   border:1px solid #aaaadd; background:#eeeeee; cursor:pointer; _cursor:hand;
   }
.GSMenuHead {
   border:1px solid #aaaadd; border-bottom:none; text-align:center; padding-top:3px; padding-bottom:4px;
   background:#E7F4FF; font:bold 12px Verdana,Arial; 
   }
.GSMenuClose {
   float:right; width:14px; cursor:pointer; _cursor:hand; display:none;
   background:url(Menu.gif) no-repeat right -352px;
   }
.GSMenuBody {
   cursor:default; border:1px solid #aaaadd; background:#eeeeee; padding-top:1px; padding-bottom:1px;
   }
.GSMenuShadow {
   position:absolute; margin-left:3px; margin-top:3px; z-index:257;
   background:#888; opacity:0.5; filter:alpha(opacity=50);
   }

.GSMenuCheckedIconLeft { background:url(Menu.gif) no-repeat -2px -50px; padding-left:17px; }
.GSMenuCheckedIconRight { background:url(Menu.gif) no-repeat right -50px; padding-right:17px; }
.GSMenuUncheckedIconLeft { background:url(Menu.gif) no-repeat -2px 0px; padding-left:17px; }
.GSMenuUncheckedIconRight { background:url(Menu.gif) no-repeat right 0px; padding-right:17px; }
.GSMenuCheckedRadioLeft { background:url(Menu.gif) no-repeat -2px -748px; padding-left:17px; }
.GSMenuCheckedRadioRight { background:url(Menu.gif) no-repeat right -748px; padding-right:17px; }
.GSMenuUncheckedRadioLeft { background:url(Menu.gif) no-repeat -2px -698px; padding-left:17px; }
.GSMenuUncheckedRadioRight { background:url(Menu.gif) no-repeat right -698px; padding-right:17px; }
.GSMenuCursorIcon { background:url(Menu.gif) no-repeat -6px -150px; }
.GSMenuHoverIcon { background:url(Menu.gif) no-repeat -6px -100px; }   
.GSMenuCursorIconRtl { background:url(Menu.gif) no-repeat right -1000px; }
.GSMenuHoverIconRtl { background:url(Menu.gif) no-repeat right -950px; }   
.GSMenuExpandedIcon { background:url(Menu.gif) no-repeat -6px -200px; }
.GSMenuCollapsedIcon { background:url(Menu.gif) no-repeat -6px -250px; }
.GSMenuNextIcon { background:url(Menu.gif) no-repeat right -300px; padding-right:14px; }
.GSMenuNextIconRtl { background:url(Menu.gif) no-repeat left -900px; padding-left:14px; }

.GSMenuItemText,.GSMenuItemIcon,.GSMenuEnum,.GSMenuEnumHeader,.GSMenuEdit { font:12px "Microsoft Sans Serif",Arial; white-space:nowrap; overflow:hidden; }
.GSMenuItemDisabled { opacity:0.50; filter:alpha(opacity=30); overflow:hidden; }
.GSMenuLevel { color:blue; text-align:center; }  
.GSMenuEnumParent,.GSMenuEditParent { padding-left:5px; padding-right:2px;}
.GSMenuItemIcon { background-repeat:no-repeat; }
.GSMenuEnum {
   border:1px solid #DDD; border-top:1px solid #666; border-left:1px solid #666;
   background:white url(Menu.gif) no-repeat left -800px; padding-left:15px; padding-bottom:1px;
   }
.GSMenuEnumHeader  {
   padding-left:16px; padding-top:1px; cursor:default;
   background:white url(Menu.gif) no-repeat 1px -799px; padding-bottom:2px;
   }   
.GSMenuEdit {
   border:1px solid #DDD; border-top:1px solid #666; border-left:1px solid #666;
   background:white; padding-left:2px; padding-right:2px; overflow:hidden; 
   white-space:nowrap; padding-bottom:1px;
   }
.GSMenuEditInput,.GSMenuEditTextarea {
   margin:0px; margin:-1px!IE; border:0px none; background:#FDD; 
   padding:0px; padding-right:1px!IE; padding-left:1px!IE; font:12px "Microsoft Sans Serif",Arial;
   }   
.GSMenuEditTextarea { line-height:13px;  }   
.GSMenuEditInt,.GSMenuEditFloat,.GSMenuEditDate { text-align:right; } 
.GSMenuEditText { }
.GSMenuEditMulti { white-space:normal; }


.GSMenuItem { padding-top:2px; padding-bottom:2px; padding-left:2px; padding-right:2px; background:#eeeeee; }   
.GSMenuItemTouch { padding-top:5px; padding-bottom:5px; }
.GSMenuItemHover {
   margin-left:1px; margin-right:1px; padding-top:1px; padding-bottom:1px; 
   background:#ffeeaa; border:1px solid #aaaadd;
   }
.GSMenuFocus {
   margin-left:1px; margin-right:1px; padding-top:1px; padding-bottom:1px;
   background:#fff; border:1px solid #aaaadd;
   }
.GSMenuFocusTouch { padding-top:4px; padding-bottom:4px; }     
.GSMenuFocusHover {
   margin-left:1px; margin-right:1px; padding-top:1px; padding-bottom:1px;
   background:#fff5e0; border:1px solid #aaaadd;
   }   
.GSMenuSeparator {
   margin-top:1px; margin-right:3px; margin-left:3px; height:1px;   
   border-top:1px solid #aaaadd; overflow:hidden;
   }
.GSMenuCaption { padding-top:2px; padding-bottom:2px; padding-left:2px; padding-right:2px; background:#ddd; color:blue; text-align:center; }
.GSMenuVSeparator { border-right:1px solid #DDD; }
.GSMenuSection  { }

.GSMenuFoot { border:1px solid #aaaadd; border-top:none; text-align:center; background:white; white-space:nowrap; }  
.GSMenuButton { font:11px "Microsoft Sans Serif",Arial; height:19px; width:48px; margin:2px; white-space:nowrap; padding-left:0px; padding-right:0px; } 

/*--------------- Grid configuration menus ----------------- */

.GSCfgMenuOuter,.GSColumnsMenuOuter { border:1px solid black; padding:6px; background:#F0F0E0; }
.GSCfgMenuHead,.GSColumnsMenuHead { padding-left:4px; padding-top:4px; padding-bottom:6px; }
.GSCfgMenuBody,.GSColumnsMenuBody { padding-left:4px; padding-right:4px; }
.GSCfgMenuFoot,.GSColumnsMenuFoot { padding-left:4px; padding-right:4px; padding-top:2px; padding-bottom:2px; }
.GSCfgMenuButton { width:70px; } 
.GSColumnsMenuButton { width:57px; } 
.GSCfgMenuItemText,.GSColumnsMenuItemText { padding-left:3px; }
.GSColumnsMenuItemText { white-space:nowrap; }
.GSCfgMenuItem,.GSColumnsMenuItem { padding-top:3px; padding-bottom:3px; }
.GSCfgMenuItemTouch,.GSColumnsMenuItemTouch { padding-top:6px; padding-bottom:6px; }
.GSCfgMenuItemHover,.GSCfgMenuFocus,.GSCfgMenuFocusHover,
.GSColumnsMenuItemHover,.GSColumnsMenuFocus,.GSColumnsMenuFocusHover { padding-top:2px; padding-bottom:2px; }
.GSCfgMenuFocusTouch,.GSColumnsMenuFocusTouch { padding-top:5px; padding-bottom:5px; }

/*--------------- Popup grid dialog ----------------- */

.GSPopupGridOuter { border:0px none; overflow:visible; }
.GSPopupGridHead { padding:0px; }
.GSPopupGridBody { padding:0px; border:0px none; }
.GSPopupGridFoot { padding:0px; }
.GSPopupGridButton { width:50px; margin-top:-2px; margin-bottom:0px; } 

/* ------------------- Date picker, TGLib ------------------- */

.GSPickMain { position:absolute; left:0px; top:0px; z-index:258; }
.GSPickOuter { overflow:hidden; border:1px solid black; background:#eeeeee; }
.GSPickHeader {
   overflow:hidden; position:absolute; z-index:258;
   border:1px solid black; background:white; cursor:pointer; _cursor:hand;
   }
.GSPickHeaderBottom { border-bottom:0px none; padding-bottom:1px; }
.GSPickHeaderTop { border-top:0px none; padding-bottom:1px; }
.GSPickHead {
   background:#E7F4FF; font:bold 11px "Microsoft Sans Serif",Arial; cursor:default;
   padding-left:5px; padding-top:3px; padding-bottom:4px;
   }
.GSPickClose {
   float:right; width:14px; cursor:pointer; _cursor:hand; display:none;
   background:url(Menu.gif) no-repeat right -353px;
   }
.GSPickBody { cursor:default; border:none; }
.GSPickShadow {
   position:absolute; background:#888; z-index:257; margin-left:3px; margin-top:3px;
   opacity:0.5; filter:alpha(opacity=50);
   }   
.GSPickFooter,.GSPick2Footer {
   background:white; color:blue; cursor:default;
   font:11px "Microsoft Sans Serif",Arial;
   padding-top:2px; padding-bottom:2px;
   text-align:center;
   }
.GSPickMY {
   font:bold 11px "Microsoft Sans Serif",Arial;
   background:white; color:black;
   text-align:center; padding-top:4px; padding-bottom:4px;
   }   
.GSPickMYDown { padding-right:13px; background:url(Menu.gif) no-repeat right -400px; cursor:pointer; _cursor:hand; }   
.GSPickMYUp { padding-right:13px; background:url(Menu.gif) no-repeat right -450px; cursor:pointer; _cursor:hand; }
.GSPickMYRtl { padding-right:0px; padding-left:13px; }
.GSPickBL,.GSPickBR { margin-top:2px; padding-top:3px; cursor:pointer; _cursor:hand; width:24px; height:14px; overflow:hidden; }
.GSPickBL { float:left; background:url(Menu.gif) no-repeat left -500px; display:none;}
.GSPickBR { float:right; background:url(Menu.gif) no-repeat right -550px; display:none; }

.GSPickTableParent { padding-left:3px; padding-right:3px; padding-bottom:2px; padding-top:2px; margin:0px; border:0px none; }
.GSPickTable { table-layout:fixed; width:0px; }
.GSPickRow { background:#EEE; }
.GSPickRowW { background:#EEE; }   
.GSPickCell { width:26px; }
.GSPickCellTouch { width:32px; }
.GSPickWDN {
   background:#888; color:white; text-align:center; padding:1px;
   font:11px "Microsoft Sans Serif",Arial; cursor:default;
   margin-left:3px; margin-right:3px; margin-top:2px; margin-bottom:2px;
   }
.GSPickHover,.GSPickSelHover,.GSPickWD,.GSPickSa,.GSPickSu,.GSPickSel,.GSPickNow,.GSPickWDNE,.GSPickSaNE,.GSPickSuNE,.GSPickSelNE,.GSPickNowNE,.GSPickOM,.GSPickOMNE,.GSPickWN,.GSPickWNE {
   text-align:center; border:1px solid #DDD;
   font:12px "Microsoft Sans Serif",Arial; cursor:pointer; _cursor:hand;
   margin-left:3px; margin-right:3px; margin-top:2px; margin-bottom:2px; 
   }
.GSPickWN,.GSPickWNE { background:#888; color:white; }
.GSPickWDNE,.GSPickSaNE,.GSPickSuNE,.GSPickSelNE,.GSPickNowNE,.GSPickWNE { cursor:default; }
.GSPickWD { background-color:#ffffff; }
.GSPickSa { background-color:#ddddff; }
.GSPickSu { background-color:#aaaaff; }
.GSPickSel { background-color:#ffff77; }
.GSPickSelNE { background-color:#ffffdd;	}
.GSPickNow { background-color:#dd44dd; }
.GSPickNowNE { background-color:#ffe0ff; }
.GSPickOM { background-color:inherit; color:black; }
.GSPickOMNE { color:#aaaaaa; }
.GSPickEmpty { background:url(Menu.gif) no-repeat center -1050px; cursor:pointer; _cursor:hand; }
.GSPickHover { background-color:#DDD; border:1px solid #AAA; }
.GSPickSelHover { background-color:#eeee77; border:1px solid #AAA; }
.GSPickTouch { font-size:14px; }

.GSPickTimeCell { text-align:right; background-color:white; padding-bottom:4px; padding-top:6px; padding-right:5px; }
.GSPickTime { font:12px Verdana,Arial; border:0px none; white-space:nowrap; text-align:right; }
.GSPickButton { width:60px; font-size:11px; margin:2px; margin-left:4px; margin-right:4px; text-align:center; padding-left:0px; padding-right:0px; }

.GSPick2TableParent { padding-left:2px; padding-right:2px; padding-bottom:2px; padding-top:2px; text-align:center; }
.GSPick2Table { table-layout:fixed; width:0px; }
.GSPick2CellM { height:24px; width:64px; }
.GSPick2CellMTouch { height:26px; width:78px; }
.GSPick2CellY { height:24px; width:38px; }
.GSPick2CellYTouch { height:26px; width:48px; }
.GSPick2CellSep { height:24px; width:6px; }
.GSPick2M,.GSPick2Y,.GSPick2MSel,.GSPick2YSel,.GSPick2MHover,.GSPick2YHover,.GSPick2MSelHover,.GSPick2YSelHover {
   font:11px "Microsoft Sans Serif",Arial; overflow:hidden;
   margin-left:2px; margin-right:2px; padding-left:2px; padding-right:2px; padding-top:1px; padding-bottom:1px;
   border:1px solid #DDD; background-color:white; cursor:pointer; _cursor:hand; text-align:center;
   }
.GSPick2MSel,.GSPick2YSel { background-color:#c0f3ff; }
.GSPick2MHover,.GSPick2YHover { background-color:#DDD; border:1px solid #AAA; }
.GSPick2MSelHover,.GSPick2YSelHover { background-color:#80e0f0; border:1px solid #AAA; }   
.GSPick2SepH { width:1px; height:1px; overflow:hidden; }
.GSPick2SepHTouch { height:5px; }
.GSPick2Sep {
   width:1px; background:#777; overflow:hidden; 
   margin-right:3px; margin-left:2px; height:24px;
   }    
.GSPick2SepTouch { height:26px; }  
.GSPick2BL,.GSPick2BR { width:38px; cursor:pointer; _cursor:hand; }
.GSPick2BL { background:url(Menu.gif) no-repeat center -597px; }
.GSPick2BR { background:url(Menu.gif) no-repeat center -647px; }

/* ------------------- Edit controls, TGLib ------------------- */

.GSEdit,.GSEditInline {
   font:11px "Microsoft Sans Serif",Arial;
   padding-left:4px; padding-right:4px; padding-top:2px; padding-bottom:2px;
   overflow:hidden; border:1px solid #CCC; background:#EEE;
   }
.GSEditInline { display:inline-block; vertical-align:bottom; }
.GSEditInput,.GSEditTextarea {
   font:11px "Microsoft Sans Serif",Arial;
   vertical-align:top; border:0px none; margin:0px; 
   padding:0px; padding-left:1px!IE; padding-right:1px!IE;
   }
.GSEditTextarea { line-height:13px; }
.GSEditNormalInput,.GSEditNormalTextarea,.GSEditSpaceInput,.GSEditSpaceTextarea { background-color:#FFDCFF; }
.GSEditInt,.GSEditFloat,.GSEditDate { text-align:right; }
.GSEditText { }
.GSEditMulti { white-space:normal; }
.GSEditReadOnly { background-color:#FFEEFF; }
.GSEditParent { position:absolute; z-index:258; overflow:hidden;}

.GSEnumHeaderLeft,.GSEnumHeaderRight,.GSEnumHeaderNone {
   background:white; font:11px "Microsoft Sans Serif",Arial; cursor:pointer; _cursor:hand;
   padding-left:4px; padding-right:4px; padding-top:3px; padding-bottom:2px; white-space:nowrap;
   }
.GSEnumHeaderLeft { background:white url(Menu.gif) no-repeat 1px -799px; padding-left:17px; }
.GSEnumHeaderRight { background:white url(Menu.gif) no-repeat right -799px; padding-right:17px;}
.GSEnumMenuHeader { background:white; }   

.GSEnumControl,.GSEnumInline {
   font:11px "Microsoft Sans Serif",Arial; cursor:pointer; _cursor:hand;
   padding-left:15px; padding-right:4px; padding-top:2px; padding-bottom:2px;
   border:1px solid #CCC; background:#EEE url(Menu.gif) no-repeat left -800px; overflow:hidden;
   }
.GSEnumInline { display:inline-block; vertical-align:bottom; }
.GSEnumHeader {
   background:white url(Menu.gif) no-repeat left -798px; 
   font:11px "Microsoft Sans Serif",Arial; cursor:pointer; _cursor:hand;
   padding-left:15px; padding-right:4px; padding-top:2px; padding-bottom:2px;
   }

/* ------------------- Line chart, TGLib ------------------- */

.GSChartInner { background:white; width:100%; }
.GSChartLayer { overflow:hidden; height:1000px; }
.GSChartAxisY { background:black; height:1px; overflow:hidden; }
.GSChartAxisYLabel { overflow:hidden; }
.GSChartAxisYText { margin-right:5px; margin-top:12px; text-align:right; font:12px Arial; }
.GSChartAxisX { width:1px; overflow:hidden; background:black; }
.GSChartAxisXLabel { overflow:hidden; }
.GSChartAxisXText { text-align:center; font:12px Arial; }
.GSChartCaption { text-align:center; font:12px Arial; margin-top:3px; }

.GSChartPoint1,.GSChartPoint2,.GSChartPoint3,.GSChartPoint4,.GSChartPoint5,.GSChartPoint6,.GSChartPoint7,.GSChartPoint8 {
   background:url(Gantt.gif) no-repeat; width:32px; height:32px; overflow:hidden; 
   }
.GSChartPoint1 { background-position:-891px 7px; }
.GSChartPoint1Hover { background-position: -941px 7px; }
.GSChartPoint2 { background-position:-991px 7px; }
.GSChartPoint2Hover { background-position:-1041px 7px; }
.GSChartPoint3 { background-position:-1091px 7px; }
.GSChartPoint3Hover { background-position:-1141px 7px; }
.GSChartPoint4 { background-position:-1191px 7px; }
.GSChartPoint4Hover { background-position:-1241px 7px; }
.GSChartPoint5 { background-position:-1291px 7px; }
.GSChartPoint5Hover { background-position:-1341px 7px; }
.GSChartPoint6 { background-position:-1391px 7px; }
.GSChartPoint6Hover { background-position:-1441px 7px; }
.GSChartPoint7 { background-position:-1491px 7px; }
.GSChartPoint7Hover { background-position:-1541px 7px; }
.GSChartPoint8 { background-position:-1591px 7px; }
.GSChartPoint8Hover { background-position:-1641px 7px; }

/* -------------- Custom scrollbars ------------------ */

.GSCustScroll1RightHidden { background:url(VScroll.gif) left -108px; height:18px; overflow:hidden; }
.GSCustScroll1Right { padding-right:18px; background:url(VScroll.gif) right 0px; }
.GSCustScroll1RightHover { padding-right:18px; background:url(VScroll.gif) right -18px; }
.GSCustScroll1Left { padding-left:18px;  background:url(VScroll.gif) left 0px; }
.GSCustScroll1LeftHover { padding-left:18px;  background:url(VScroll.gif) left -18px; }
.GSCustScroll1SliderRight { padding-right:3px; background:url(VScroll.gif) right -36px; }
.GSCustScroll1SliderLeft { padding-left:3px; background:url(VScroll.gif) left -36px; }
.GSCustScroll1SliderHIn { height:18px; overflow:hidden; background:url(VScroll.gif) center -54px; }
.GSCustScroll1SliderRightHover { padding-right:3px; background:url(VScroll.gif) right -72px; }
.GSCustScroll1SliderLeftHover { padding-left:3px; background:url(VScroll.gif) left -72px; }
.GSCustScroll1SliderHInHover { height:18px; overflow:hidden; background:url(VScroll.gif) center -90px; }
.GSCustScroll1X { background:#F0F0E0; }

.GSCustScroll2RightHidden { background:url(VScroll.gif) left -364px; height:36px; overflow:hidden; }
.GSCustScroll2Right { padding-right:36px; background:url(VScroll.gif) right -148px; }
.GSCustScroll2RightHover { padding-right:36px; background:url(VScroll.gif) right -184px; }
.GSCustScroll2Left { padding-left:36px;  background:url(VScroll.gif) left -148px; }
.GSCustScroll2LeftHover { padding-left:36px;  background:url(VScroll.gif) left -184px; }
.GSCustScroll2SliderRight { padding-right:6px; background:url(VScroll.gif) right -220px; }
.GSCustScroll2SliderLeft { padding-left:6px; background:url(VScroll.gif) left -220px; }
.GSCustScroll2SliderHIn { height:36px; overflow:hidden; background:url(VScroll.gif) center -256px; }
.GSCustScroll2SliderRightHover { padding-right:6px; background:url(VScroll.gif) right -292px; }
.GSCustScroll2SliderLeftHover { padding-left:6px; background:url(VScroll.gif) left -292px; }
.GSCustScroll2SliderHInHover { height:36px; overflow:hidden; background:url(VScroll.gif) center -328px; }
.GSCustScroll2X { background:#F0F0E0; }

.GSCustScroll3Right,.GSCustScroll3RightHidden { background:white; height:9px; overflow:hidden; }
.GSCustScroll3SliderRight,.GSCustScroll3SliderRightHover { padding-right:3px; height:9px; background:url(VScroll.gif) right -126px; }
.GSCustScroll3SliderLeft,.GSCustScroll3SliderLeftHover { height:9px; background:url(VScroll.gif) left -126px; }
.GSCustScroll3SliderRightHover { background-position:right -135px; }
.GSCustScroll3SliderLeftHover { background-position:left -135px; }
.GSCustScroll3X { background:white; }

.GSCustScroll4Right,.GSCustScroll4RightHidden,.GSCustScroll4SliderRight,.GSCustScroll4SliderRightHover { height:1px; overflow:hidden; }
.GSCustScroll4X { }

.GSCustScroll1DownHidden { background:url(HScroll.png) -108px top; width:18px; overflow:hidden; }
.GSCustScroll1Down { padding-bottom:18px; background:url(HScroll.png) 0px bottom; cursor:default; width:18px; overflow:hidden; }
.GSCustScroll1DownHover { padding-bottom:18px; background:url(HScroll.png) -18px bottom; width:18px; overflow:hidden; }
.GSCustScroll1Up { padding-top:18px; background:url(HScroll.png) 0px top; width:18px; overflow:hidden; }
.GSCustScroll1UpHover { padding-top:18px;  background:url(HScroll.png) -18px top; width:18px; overflow:hidden; }
.GSCustScroll1SliderDown { padding-bottom:3px; background:url(HScroll.png) -36px bottom; width:18px; overflow:hidden; }
.GSCustScroll1SliderUp { padding-top:3px; background:url(HScroll.png) -36px top; width:18px; overflow:hidden; }
.GSCustScroll1SliderVIn { background:url(HScroll.png) -54px center; width:18px; overflow:hidden; }
.GSCustScroll1SliderDownHover { padding-bottom:3px; background:url(HScroll.png) -72px bottom; width:18px; overflow:hidden; }
.GSCustScroll1SliderUpHover { padding-top:3px; background:url(HScroll.png) -72px top; width:18px; overflow:hidden; }
.GSCustScroll1SliderVInHover { background:url(HScroll.png) -90px center; width:18px; overflow:hidden; }

.GSCustScroll2DownHidden { background:url(HScroll.png) -364px top; width:36px; overflow:hidden; }
.GSCustScroll2Down { padding-bottom:36px; background:url(HScroll.png) -148px bottom; cursor:default; width:36px; overflow:hidden; }
.GSCustScroll2DownHover { padding-bottom:36px; background:url(HScroll.png) -184px bottom; width:36px; overflow:hidden; }
.GSCustScroll2Up { padding-top:36px; background:url(HScroll.png) -148px top; width:36px; overflow:hidden; }
.GSCustScroll2UpHover { padding-top:36px;  background:url(HScroll.png) -184px top; width:36px; overflow:hidden; }
.GSCustScroll2SliderDown { padding-bottom:6px; background:url(HScroll.png) -220px bottom; width:36px; overflow:hidden; }
.GSCustScroll2SliderUp { padding-top:6px; background:url(HScroll.png) -220px top; width:36px; overflow:hidden; }
.GSCustScroll2SliderVIn { background:url(HScroll.png) -256px center; width:36px; overflow:hidden; }
.GSCustScroll2SliderDownHover { padding-bottom:6px; background:url(HScroll.png) -292px bottom; width:36px; overflow:hidden; }
.GSCustScroll2SliderUpHover { padding-top:6px; background:url(HScroll.png) -292px top; width:36px; overflow:hidden; }
.GSCustScroll2SliderVInHover { background:url(HScroll.png) -328px center; width:36px; overflow:hidden; }

.GSCustScroll3Down,.GSCustScroll3DownHidden { background:white; width:9px; overflow:hidden; cursor:default; }
.GSCustScroll3SliderDown,.GSCustScroll3SliderDownHover { padding-bottom:3px; width:9px; background:url(HScroll.png) -126px bottom; }
.GSCustScroll3SliderUp,.GSCustScroll3SliderUpHover { width:9px; background:url(HScroll.png) -126px top; cursor:default; }
.GSCustScroll3SliderDownHover { background-position:-135px bottom; }
.GSCustScroll3SliderUpHover { background-position:-135px top; cursor:default; }

.GSCustScroll4Down,.GSCustScroll4DownHidden,.GSCustScroll4SliderDown,.GSCustScroll4SliderDownHover { width:1px; overflow:hidden; }

/* ------------------- Other messages, TGLib ------------------- */

.GSHintMain {
   position:absolute; margin-left:-2px; margin-top:-2px; padding-left:1px; padding-top:1px; left:0px; top:0px; z-index:260; 
   background:white; cursor:default; border: 1px solid #A0A0F0; 
   }
.GSHintSpaceMain { padding:2px; padding-left:1px; padding-top:1px; }
.GSHintOuter { overflow:hidden; background:white; text-align:left; border-color:white; }
.GSHintShadow {
   position:absolute; margin-left:1px; margin-top:1px; z-index:259;
   background:#888; opacity:0.5; filter:alpha(opacity=50);
   }

.GSTipMain { position:absolute; left:0px; top:0px; z-index:262; visibility:hidden; }
.GSTipOuter  {
   overflow:hidden; cursor:default; font:11px "Microsoft Sans Serif",Arial;
   background:#f4f4f4; border:1px solid #d0d0d0; padding:3px;
   }
.GSTipBody { background:#f4f4f4; white-space:nowrap; }     
.GSTipShadow {
   position:absolute; margin-left:3px; margin-top:3px; z-index:261;
   background:#888; opacity:0.5; filter:alpha(opacity=50);
   visibility:hidden;
   }

.GSMouseOrig { background:yellow!important; opacity:0.5; filter:alpha(opacity=50); }
.GSMouseDragObject { position:absolute; z-index:260; background:#888; opacity:0.5; filter:alpha(opacity=50); }

.GSFocus { border:1px solid blue; background-color:white; }    

.GSBodyPrint { margin:0px!important; padding:0px!important; border:0px none!important; background:none!important; }

.GridDisabled { position:absolute; z-index:256; background:white; opacity:0.5; filter:alpha(opacity=50); } 
.GridMain { z-index:255; }

/* Do not change, marks the style loaded */
.GSLoaded { border:1px solid black!important; }