<Grid>
    <Cfg MainCol="A"/>
    <Cols>
        <C Name="A" Width="500"/>
    </Cols>
    <Def>      
        {# Todas las filas con Def="Level1", solo aceptaran Def="Level2", y al cargar el grid si los hijos de Def="Level1" no tienen Def, se pondra por default Def="Level2" #}
        <D Name="Level1" AcceptDef="Level2" CDef='Level2' Color="green"/>           
        {# Todas las filas con Def="Level2", solo aceptaran Def="Level3" #}
        <D Name="Level2" AcceptDef="Level3" CDef='Level3' Color="yellow"/>
        {# Todas las filas con Def="Level3", no aceptan ninguna fila #}
        <D Name="Level3" AcceptDef="" Color="pink"/>
    </Def>                     
    {# Todos los hijos de Root tendran como Def="Level1", y en Root solo se aceptan Filas con Def="Level1" #}
    <Root CDef="Level1" AcceptDef="Level1"/>   
    <Body>
        {# B = Root #}
        <B>
            {# Automaticamente se establecen los Def al cargar el grid #}
            <I A="0" >          {# Def="Level1" #}           
                <I A="0-1" >   		{# Def="Level2" #}                    
                    <I A="1-1-1" /> 	{# Def="Level3" #}                
                    <I A="1-2-2" />		{# Def="Level3" #}
                </I>
                <I A="0-2" />		{# Def="Level2" #}
            </I>
            <I A="1">           {# Def="Level1" #}        
                <I A="1-1" />       {# Def="Level2" #}                
                <I A="1-2" />		{# Def="Level2" #}
            </I>
            <I A="2">   		{# Def="Level1" #}
                <I A="2-1" />       {# Def="Level2" #}                
                <I A="2-2" />		{# Def="Level2" #}
            </I>
            <I A="3" >			{# Def="Level1" #}
                <I A="3-1" />       {# Def="Level2" #}            	    
                <I A="3-2" />		{# Def="Level2" #}
            </I>
            <I A="4" >			{# Def="Level1" #}
                <I A="4-1" />       {# Def="Level2" #}                
                <I A="4-2" />		{# Def="Level2" #}
            </I>
            <I A="5" />
        </B>
    </Body>
</Grid>