<Grid>
	<Cfg MainCol="A"/>
	<Cols>
		<C Name="A" Width="500"/>
	</Cols>
	<Def>      
		{# Todas las filas con Def="Node", solo aceptaran Def="Item", y al cargar el grid si los hijos de Def="Node" no tienen Def, se pondra por default Def="Item" #}
		<D Name="Node" AcceptDef="Item" CDef='Item' Color="green"/>           
		{# Todas las filas con Def="Item", no aceptaran ninguna fila como hijo #}
		<D Name="Item" AcceptDef="" Color="yellow"/>
	</Def>                     
	{# Todos los hijos de Root tendran como Def="Node", y en Root solo se aceptan Filas con Def="Node" #}
	<Root CDef="Node" AcceptDef="Node"/>   
	<Body>
		{# B = Root #}
		<B>
			{# Automaticamente se establecen los Def al cargar el grid #}
			<I A="0" >          {# Def="Node" #}           
				<I A="0-1" />   	{# Def="Item" #}                    
				<I A="0-2" />		{# Def="Item" #}
			</I>
			<I A="1">           {# Def="Node" #}          
				<I A="1-1" />       {# Def="Item" #}                
				<I A="1-2" />		{# Def="Item" #}
			</I>
			<I A="2">   		{# Def="Node" #}
				<I A="2-1" />       {# Def="Item" #}                
				<I A="2-2" />		{# Def="Item" #}
			</I>
			<I A="3" >			{# Def="Node" #}
				<I A="3-1" />       {# Def="Item" #}            	    
				<I A="3-2" />		{# Def="Item" #}
			</I>
			<I A="4" >			{# Def="Node" #}
				<I A="4-1" />       {# Def="Item" #}                
				<I A="4-2" />		{# Def="Item" #}
			</I>
			<I A="5" />
		</B>
	</Body>
</Grid>