
<Grid>
<Cfg id='Id4' MainCol='U' FullId='1' IdNames='U' AppendId='1' IdChars='0123456789' NumberId='1' LastId='1' IdCompare='4'/>
<LeftCols>
   <C Name='id' CanEdit='0' Width='115'/>
</LeftCols>
<Cols>
   <C Name='U' Width='200'/>
   <C Name='A' Width='200'/>
</Cols>
<Header id='Gen id' U='Unique' A='Tmp' CDef='Project'/>
<Def>
   <D Name='Project' CDef='R' U='New project' Spanned='1' USpan='2'/>
   <D Name='R' CDef='' U='Name' A='New'/>
</Def>
<Body>
<B>
<I U='Project1'>
   <I U='David' A='V1-1'/>
   <I U='Linda' A='V1-3'/>
   <I U='Adam' A='V1-4'/>
</I>
<I U='Project2'>
   <I U='David' A='V2-1'/>
   <I U='Jan' A='V2-2'/>
   <I U='Linda' A='V2-3'/>
</I>
</B>
</Body>
<Toolbar Sort='0' Calc='0' Help='0' />
</Grid>