<html>
    <head>
        <title>
            Hello {{ name }}!
        </title>
        <script type="text/javascript" src="{{ asset('bundles/basejqueryui/jquery-1.7.2.js') }}">
        </script>
        <script type="text/javascript" src="{{ asset('bundles/baseejstreegrid/Grid/GridE.js') }}">
        </script>
    </head>
    <body>
        <table>
            <tr>
                <td>
                    <div style="width:235;height:360;">
                        <bdo  Data_Url="{{ path('cd_data_test_grid', { 'pnumData': 2 }) }}">
                        </bdo >
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="width:235;height:360;">
                        <bdo  Data_Url="{{ path('cd_data_test_grid', { 'pnumData': 1 }) }}">
                        </bdo >
                    </div>
                </td>
            </tr>
        </table>
    </body>
</html>