<div class="crm-box">
    <div class="crm-box-head">
        <i class="icon-list-ul"></i>
        <span>Filtrar datos</span>
    </div>
    <div class="crm-box-body crm-box-body-nopadding">
        <form action="" id="frmFilters" method="POST" class="form-horizontal form-bordered form-column form-validate">
            <div class="span6">
                {# Checkbox #}
                <div class="control-group">
                    <label for="textfield" class="control-label">Tipo de busqueda</label>
                    <div class="controls">
                        <label class="checkbox-uniformed">
                            <div class="checker">
                                <input id="ckbCriterio" name="ckb" type="checkbox" class="uniform-me" checked="false">
                            </div> 
                            Por criterio
                        </label>
                    </div>
                </div>

                {# Criterio #}
                <div class="control-group">
                    <label for="uiTxtCriterio" class="control-label">Criterio </label>
                    <div class="controls">
                        <input type="text" value="" name="uiDataContacto[Criterio]" id="uiTxtCriterio" class="input-large">
                    </div>
                </div>

                {# Nombre #}
                <div class="control-group">
                    <label for="uiTxtNombre" class="control-label">Nombre </label>
                    <div class="controls">
                        <input type="text" value="{# ptwObjUsuario.nombre #}" name="uiDataContacto[Nombre]" id="uiTxtNombre" placeholder="Ej: Carlos" class="input-large">
                    </div>
                </div>

                {# Primer apellido #}
                <div class="control-group">
                    <label for="uiTxtApellido1" class="control-label">Primer apellido </label>
                    <div class="controls">
                        <input type="text" value="{# ptwObjUsuario.apellido1 #}" name="uiDataContacto[Apellido1]" id="uiTxtApellido1" placeholder="Ej: Domínguez" class="input-large">
                    </div>
                </div>
            </div>
            <div class="span6">
                {# Segundo apellido #}
                <div class="control-group">
                    <label for="uiTxtApellido2" class="control-label">Segundo apellido </label>
                    <div class="controls">
                        <input type="text" value="{# ptwObjUsuario.apellido2#}" name="uiDataContacto[Apellido2]" id="uiTxtApellido2" placeholder="Ej: Lara" class="input-large">
                    </div>
                </div>

               {# Correo electrónico #}
                <div class="control-group">
                    <label for="uiTxtCorreo" class="control-label">Correo electrónico </label>
                    <div class="controls">
                        <input type="text" value="{# ptwObjUsuario.correo #}" name="uiDataContacto[Correo]" id="uiTxtCorreo" placeholder="Ej: krlosnando@gmail.com" class="input-large" >
                    </div>
                </div>

                {# Numero #}
                <div class="control-group">
                    <label for="uiTxtNumero" class="control-label">Número </label>
                    <div class="controls">
                        <input type="text" name="uiDataContacto[Numero]" id="uiTxtNumero" placeholder="Ej: 87521306" class="input-large" >
                    </div>
                </div>

                {# Seleccionar Roles #}
                <div class="control-group">
                    <label for="uiSelInteres" class="control-label">Interes </label>
                    <div class="controls">
                        <div class="input-large">
                            <select id="uiSelInteres" name="uiDataContacto[Interes][]" data-placeholder="Seleccionar los intereses..." multiple="" >
                                <option value=""></option>
                                {% for objTipo in ptwIntereses %}
                                    {% for objArea in objTipo.getAreasInteres() %}
                                        <optgroup label="{{objTipo.nombre ~ ' - ' ~ objArea.nombre}}">
                                            {% for objInteres in objArea.getIntereses() %}
                                                <option value="{{objInteres.id}}">{{objInteres.nombre}}</option>
                                            {% endfor %}
                                        </optgroup>
                                    {% endfor %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span12">
                {# Botones para buscar ó limpiar #}
                <div class="form-actions">
                    <button type="button" id="uiBtnBuscar" grid-data-url="{{ ptwDataUrl }}" class="button button-basic-green">Filtrar</button>
                    <button type="button" id="uiBtnLimpiar" class="button button-basic-red">Limpiar</button>
                </div>
            </div>
        </form>
    </div>
</div>