{% extends "::base.html.twig" %}
{% set activePage = 'Busqueda' %}

{# content #}
{% block content %}

    <div id="content">
        <div class="page-header">
            <div class="pull-left">
                <h4 id="page-header-title"><i class="icon-table"></i> Busqueda</h4>
            </div>
            <div class="pull-right">
                <ul class="bread">
                    <li><a href="#">Busqueda: </a><span class="divider"></span></li>
                    <li class='active'>{{ptwCriterio}}</li>
                </ul>
            </div>
        </div>
        <div class="container-fluid" id="content-area">
            <div class="row-fluid">
                <div class="span12">
                    <div class="crm-box">
                        <div class="crm-box-head">
                            <i class="icon-list-ul"></i>
                            <span>Información del usuario</span>
                        </div>
                        <div class="crm-box-body crm-box-body-nopadding">
                            <form action="" id="frmBuscarContacto" method="POST" class="form-horizontal form-bordered form-column form-validate">
                                <div class="span6">
                                    {# Checkbox #}
                                    <div class="control-group">
                                        <label for="textfield" class="control-label">Tipo de busqueda</label>
                                        <div class="controls">
                                            <label class="checkbox-uniformed">
                                                <div class="checker">
                                                    <input id="ckbCriterio" name="ckb" type="checkbox" class="uniform-me" {% if ptwCriterio != "" %}checked="true"{% endif %}>
                                                </div> 
                                                Por criterio
                                            </label>
                                        </div>
                                    </div>
                                        
                                    {# Criterio #}
                                    <div class="control-group">
                                        <label for="uiTxtCriterio" class="control-label">Criterio </label>
                                        <div class="controls">
                                            <input type="text" value="{{ ptwCriterio }}" name="uiDataContacto[Criterio]" id="uiTxtCriterio" class="input-large">
                                        </div>
                                    </div>
                                    
                                    {# Nombre #}
                                    <div class="control-group">
                                        <label for="uiTxtNombre" class="control-label">Nombre </label>
                                        <div class="controls">
                                            <input type="text" value="{# ptwObjUsuario.nombre #}" name="uiDataContacto[Nombre]" id="uiTxtNombre" placeholder="Ej: Carlos" class="input-large">
                                        </div>
                                    </div>
                                        
                                    {# Primer apellido #}
                                    <div class="control-group">
                                        <label for="uiTxtApellido1" class="control-label">Primer apellido </label>
                                        <div class="controls">
                                            <input type="text" value="{# ptwObjUsuario.apellido1 #}" name="uiDataContacto[Apellido1]" id="uiTxtApellido1" placeholder="Ej: Domínguez" class="input-large">
                                        </div>
                                    </div>
                                </div>
                                <div class="span6">
                                    {# Segundo apellido #}
                                    <div class="control-group">
                                        <label for="uiTxtApellido2" class="control-label">Segundo apellido </label>
                                        <div class="controls">
                                            <input type="text" value="{# ptwObjUsuario.apellido2#}" name="uiDataContacto[Apellido2]" id="uiTxtApellido2" placeholder="Ej: Lara" class="input-large">
                                        </div>
                                    </div>
                                        
                                   {# Correo electrónico #}
                                    <div class="control-group">
                                        <label for="uiTxtCorreo" class="control-label">Correo electrónico </label>
                                        <div class="controls">
                                            <input type="text" value="{# ptwObjUsuario.correo #}" name="uiDataContacto[Correo]" id="uiTxtCorreo" placeholder="Ej: krlosnando@gmail.com" class="input-large">
                                        </div>
                                    </div>
                                        
                                    {# Numero #}
                                    <div class="control-group">
                                        <label for="uiTxtNumero" class="control-label">Número </label>
                                        <div class="controls">
                                            <input type="text" name="uiDataContacto[Numero]" id="uiTxtNumero" placeholder="Ej: 87521306" class="input-large" >
                                        </div>
                                    </div>
                                        
                                    {# Intereses #}
                                    <div class="control-group">
                                        <label for="uiSelInteres" class="control-label">Interes </label>
                                        <div class="controls">
                                            <div class="input-large">
                                                <select id="uiSelInteres" name="uiDataContacto[Interes][]" data-placeholder="Seleccionar los intereses..." multiple="" >
                                                    <option value=""></option>
                                                    {% for objTipo in ptwIntereses %}
                                                        {% for objArea in objTipo.getAreasInteres() %}
                                                            <optgroup label="{{objTipo.nombre ~ ' - ' ~ objArea.nombre}}">
                                                                {% for objInteres in objArea.getIntereses() %}
                                                                    <option value="{{objInteres.id}}">{{objInteres.nombre}}</option>
                                                                {% endfor %}
                                                            </optgroup>
                                                        {% endfor %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="span12">
                                    {# Botones para buscar ó limpiar #}
                                    <div class="form-actions">
                                        <button type="button" id="uiBtnBuscar" class="button button-basic-green">Buscar</button>
                                        <button type="button" id="uiBtnLimpiar" class="button button-basic-red">Limpiar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="crm-box">
                        <div class="crm-box-head">
                            <i class="icon-table"></i>
                            <span>Busqueda</span>
                        </div>
                        <div class="crm-box-body crm-box-body-nopadding">
                            {% if app.session.hasFlash('notice') %}
                                <div class="alert alert-info fade in">
                                    <button type="button" class="close" data-dismiss="alert">×</button>
                                    <strong>Mensaje</strong> 
                                    <p>{{ app.session.flash('notice') }}</p>
                                </div>
                            {% endif %}
                            <div class="highlight-toolbar">
                                <div class="pull-left">
                                    <div class="btn-toolbar">
                                        <a href="#" tipo-contacto="ProgAcademico" class="button button-basic button-icon" rel="tooltip" title="" data-original-title="Contactos Prog. Academico">
                                            <i class="icon-group"></i> Prog. Académico <span class="badge badge-important">{{ ptwCountResult['pcantProgAcademico'] }}</span>
                                        </a>
                                        <a href="#" tipo-contacto="ACTI" class="button button-basic button-icon" rel="tooltip" title="" data-original-title="Contactos ACTI">
                                            <i class="icon-group"></i> ACTI <span class="badge badge-important">{{ ptwCountResult['pcantActi'] }}</span>
                                        </a>
                                        <a href="#" tipo-contacto="POS" class="button button-basic button-icon" rel="tooltip" title="" data-original-title="Contactos Posgrado">
                                            <i class="icon-group"></i> Posgrado <span class="badge badge-important">{{ ptwCountResult['pcantPos'] }}</span>
                                        </a>
                                        <a href="#" tipo-contacto="Empresa" class="button button-basic button-icon" rel="tooltip" title="" data-original-title="Contactos Empresa">
                                            <i class="icon-group"></i> Empresa <span class="badge badge-important">{{ ptwCountResult['pcantEmpresa'] }}</span>
                                        </a>
                                        <a href="#" tipo-contacto="Colegio" class="button button-basic button-icon" rel="tooltip" title="" data-original-title="Contactos Colegio">
                                            <i class="icon-group"></i> Colegio <span class="badge badge-important">{{ ptwCountResult['pcantColegio'] }}</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div id="{{ ptwGridOptionsGenerator.containerId }}" class="grid-container"></div>
                        </div>
                        {% include 'CenfotecCRMBundle::ProgramaAcademico/toolbar.html.twig' %}
                        {% include 'CenfotecCRMBundle::Acti/toolbar.html.twig' %}
                        {% include 'CenfotecCRMBundle::Posgrado/toolbar.html.twig' %}
                        {% include 'CenfotecCRMBundle::Empresa/toolbar.html.twig' %}
                        {% include 'CenfotecCRMBundle::Colegio/toolbar.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{# javascripts #}
{% block javascripts %}
    {{ parent() }}
    {% include 'ComponentsEJSTreeGridBundle::createGrid.js.twig' with {
        'gridContainerId' : ptwGridOptionsGenerator.containerId, 
        'gridOptions'     : ptwGridOptionsGenerator.options,
        'gridId'          : ptwGridOptionsGenerator.gridId         }
    %}
    <script type="text/javascript">
        var _global = {
            urls : {
                dataUrlProgAcademico   : '{{ path('cenfo_prog_academico_grid_data') }}',
                layoutUrlProgAcademico : '{{ path('cenfo_prog_academico_grid_layout') }}',
                dataUrlACTI            : '{{ path('cenfo_acti_grid_data') }}',
                layoutUrlACTI          : '{{ path('cenfo_acti_grid_layout') }}',
                dataUrlPosgrado        : '{{ path('cenfo_posgrado_grid_data') }}',
                layoutUrlPosgrado      : '{{ path('cenfo_posgrado_grid_layout') }}',
                dataUrlEmpresa         : '{{ path('cenfo_empresa_grid_data') }}',
                layoutUrlEmpresa       : '{{ path('cenfo_empresa_grid_layout') }}',
                dataUrlColegio         : '{{ path('cenfo_colegio_grid_data') }}',
                layoutUrlColegio       : '{{ path('cenfo_colegio_grid_layout') }}'
            }
        };
    </script>
    {% javascripts
        'bundles/cenfoteccrm/js/seguimiento/api.js'
        'bundles/cenfoteccrm/js/crm/api.js'
        'bundles/cenfoteccrm/js/prog-academico/api.js'
        'bundles/cenfoteccrm/js/acti/api.js'
        'bundles/cenfoteccrm/js/posgrado/api.js'
        'bundles/cenfoteccrm/js/empresa/api.js'
        'bundles/cenfoteccrm/js/colegio/api.js'
        'bundles/cenfoteccrm/js/busqueda/index.js'
        output='dump-files-2014-02-23/buscar.js'
    %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock javascripts %}