{% extends "::base.html.twig" %}
{% set activePage = 'Seguridad' %}

{# content #}
{% block content %}
    <div id="content">
        <div class="page-header">
            <div class="pull-left">
                <h4><i class="icon-table"></i> Lista de roles</h4>
            </div>
            <div class="pull-right">
                <ul class="bread">
                    <li><a href="dashboard.html">Roles</a><span class="divider">/</span></li>
                    <li class='active'>Listar</li>
                </ul>
            </div>
        </div>

        <div class="container-fluid" id="content-area">
            <div class="row-fluid">
                <div class="span12">
                    <div class="crm-box">
                        <div class="crm-box-head">
                            <i class="icon-table"></i>
                            <span>Lista de roles disponibles</span>
                        </div>
                        <div class="crm-box-body crm-box-body-nopadding">
                            <div id="{{ gridOptionsGenerator.containerId }}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{# javascripts #}
{% block javascripts %}
    {{ parent() }}
    {% include 'ComponentsEJSTreeGridBundle::createGrid.js.twig' with {
        'gridContainerId' : gridOptionsGenerator.containerId, 
        'gridOptions'     : gridOptionsGenerator.options,
        'gridId'          : gridOptionsGenerator.gridId         }
    %}
    <script type="text/javascript">
        var _global = {
            urls : {
                guardarGridRoles : '{{ path('cenfo_rol_grid_guardar') }}'
            },
            gridContainerId     : '{{ gridOptionsGenerator.containerId }}'
        };
    </script>
    <script src="{{ asset('bundles/cenfotecseguridad/js/rol.js') }}" type="text/javascript"></script>
{% endblock javascripts %}