{% spaceless %}
<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40">
    <head><meta http-equiv=Content-Type content="text/html; charset=utf-8"></head>
    <body>
        <style>
                td {white-space:nowrap; background:#F6F6F6;} br {mso-data-placement:same-cell;} .sd {mso-number-format:"Short Date";} .st {mso-number-format:"Short Time";} .gd {mso-number-format:"General Date";}
                .celfirst{
                    border-style: solid;
                    border-width: 1px 0 1px 1px;
                    border-color: black;
                    text-align: center;
                }
                .celcenter{
                    border-style: solid;
                    border-width: 1px 0;
                    border-color: black;
                    text-align: center;
                }
                .cellast{
                    border-style: solid;
                    border-width: 1px 1px 1px 0;
                    border-color: black;
                    text-align: center;
                }
        </style>
        <!--[if gte mso 9]><xml><o:OfficeDocumentSettings><o:Colors><o:Color><o:Index>37</o:Index><o:RGB>#F0F0E0</o:RGB></o:Color><o:Color><o:Index>38</o:Index><o:RGB>#F6F6F6</o:RGB></o:Color></o:Colors></o:OfficeDocumentSettings></xml><![endif]--><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>Contactos</x:Name><x:WorksheetOptions><x:NoSummaryRowsBelowDetail/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]-->
        <table border='1' bordercolor='silver' style='table-layout:fixed;border-collapse:collapse;border:1px solid black'>
            <col width='50'>  {#ID#}
            <col width='100'> {#Nombre#}
            <col width='80'>  {#Provincia#}
            <col width='80'>  {#Canton#} 
            <col width='105'> {#Direccion#}    
            <col width='80'>  {#Convenio#}
            <col width='105'> {#Actividad#} 
                
            <col width='100'> {#Cantidad de Intereses#}
            {% for i in 0..cantIntereses %}
                <col width='100'> {#Interes#} 
            {% endfor %}
                    
            <col width='100'> {#Fecha contactó#}
            <col width='200'> {#¿Cómo se enteró? (referencia)#}
            <col width='200'> {#¿Cómo se contactó? (1er contacto)#}
            <col width='100'> {#Comentarios#}    
                     
            <col width='150'> {#Cantidad de Seguimientos#}
            {% for i in 0..cantSeguimientos %}
                <col width='100'> {#Seguimientos#} 
            {% endfor %}   
                    
            <col width='100'> {#Cantidad de Contactos#} 
            {% for i in 0..cantContactos %}
                <col width='100'> {#Contacto#} 
            {% endfor %}        
             
            <col width='100'> {#Cantidad de Correos Contactos#} 
            {% for i in 0..cantCorreosContactos %}
                <col width='100'> {#Correo Contacto#} 
            {% endfor %} 
                    
            <col width='100'> {#Cantidad de Numeros Contactos#} 
            {% for i in 0..cantNumerosContactos %}
                <col width='110'> {#Numero Contacto#} 
            {% endfor %} 
            <tr>
                <td style='background:#F0F0E0;font-weight:bold;border-bottom:1px solid black;white-space:normal;'>ID</td>
                <td style='background:#F0F0E0;font-weight:bold;border-bottom:1px solid black;white-space:normal;'>Nombre</td>
                <td style='background:#F0F0E0;font-weight:bold;border-bottom:1px solid black;white-space:normal;'>Provincia</td>
                <td style='background:#F0F0E0;font-weight:bold;border-bottom:1px solid black;white-space:normal;'>Canton</td>
                <td style='background:#F0F0E0;font-weight:bold;border-bottom:1px solid black;white-space:normal;'>Direccion</td>
                <td style='background:#F0F0E0;font-weight:bold;border-bottom:1px solid black;white-space:normal;'>Convenio</td>
                <td style='background:#F0F0E0;font-weight:bold;border-bottom:1px solid black;white-space:normal;'>Actividad</td>

                <td style='background:#F0F0E0;font-weight:bold;border-bottom:1px solid black;white-space:normal;'>CantIntereses</td>
                {% for i in 0..cantIntereses %}
                    <td style='background:#F0F0E0;font-weight:bold;border-bottom:1px solid black;white-space:normal;'>Interes{{i+1}}</td>
                {% endfor %}

                <td style='background:#F0F0E0;font-weight:bold;border-bottom:1px solid black;white-space:normal;'>Fecha Contactó</td>
                <td style='background:#F0F0E0;font-weight:bold;border-bottom:1px solid black;white-space:normal;'>¿Cómo se enteró?</td>
                <td style='background:#F0F0E0;font-weight:bold;border-bottom:1px solid black;white-space:normal;'>¿Cómo se contactó?</td>
                <td style='background:#F0F0E0;font-weight:bold;border-bottom:1px solid black;white-space:normal;'>Comentarios</td>

                <td style='background:#F0F0E0;font-weight:bold;border-bottom:1px solid black;white-space:normal;'>CantSeguimiento</td>
                {% for i in 0..cantSeguimientos %}
                    <td style='background:#F0F0E0;font-weight:bold;border-bottom:1px solid black;white-space:normal;'>Seguimiento{{i+1}}</td> 
                {% endfor %} 

                <td style='background:#F0F0E0;font-weight:bold;border-bottom:1px solid black;white-space:normal;'>CantContactos</td>
                {% for i in 0..cantContactos %}
                    <td style='background:#F0F0E0;font-weight:bold;border-bottom:1px solid black;white-space:normal;'>Contacto{{i+1}}</td>
                {% endfor %}             

                <td style='background:#F0F0E0;font-weight:bold;border-bottom:1px solid black;white-space:normal;'>CantCorreosC</td>
                {% for i in 0..cantCorreosContactos %}
                    <td style='background:#F0F0E0;font-weight:bold;border-bottom:1px solid black;white-space:normal;'>CorreoContacto{{i+1}}</td>
                {% endfor %} 

                <td style='background:#F0F0E0;font-weight:bold;border-bottom:1px solid black;white-space:normal;'>CantNumerosC</td>
                {% for i in 0..cantNumerosContactos %}
                    <td style='background:#F0F0E0;font-weight:bold;border-bottom:1px solid black;white-space:normal;'>NumeroContacto{{i+1}}</td>
                {% endfor %} 
            </tr>
            {% for row in contactos %}
                <tr style='mso-outline-level:undefined;'>
                    <td>{{row['empresa_id']}}</td>
                    <td>{{row['nombre']}}</td>
                    <td>{{row['provincia']}}</td>
                    <td>{{row['canton']}}</td>
                    <td>{{row['direccion']}}</td>
                    {% if row['flag_convenio'] == 1 %}
                        <td>Si</td>
                    {%else%}
                        <td>No</td>
                    {% endif %}
                    <td>{{row['actividad']}}</td>

                    {%set intereses = row['intereses']|getArrayFromString %}
                    <td>{{intereses|length}}</td>
                    {% for i in 0..cantIntereses %}
                        {% if intereses[i] is defined %}
                            <td>{{intereses[i]}}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% endfor %}

                    {% if row['fecha_contacto'] != '0000-00-00' %}
                        <td>{{row['fecha_contacto']}}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                        
                    <td>{{row['referencia']}}</td>  
                    <td>{{row['primer_contacto']}}</td>
                    <td>{{row['comentario']}}</td>

                    {%set seguimientos = row['seguimientos']|getArrayFromString %}
                    <td>{{seguimientos|length}}</td>
                    {% for i in 0..cantSeguimientos %}
                        {% if seguimientos[i] is defined %}
                            <td>{{seguimientos[i]}}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% endfor %}   

                    {%set contactos = row['contactos']|getArrayFromString %}
                    <td>{{contactos|length}}</td>
                    {% for i in 0..cantContactos %}
                        {% if contactos[i] is defined %}
                            <td>{{contactos[i]}}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% endfor %}        

                    {%set correosContactos = row['correos_contactos']|getArrayFromString %}
                    <td>{{correosContactos|length}}</td>
                    {% for i in 0..cantCorreosContactos %}
                        {% if correosContactos[i] is defined %}
                            <td>{{correosContactos[i]}}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% endfor %} 

                    {%set numerosContactos = row['numeros_contactos']|getArrayFromString %}
                    <td>{{numerosContactos|length}}</td>
                    {% for i in 0..cantNumerosContactos %}
                        {% if numerosContactos[i] is defined %}
                            <td>{{numerosContactos[i]}}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% endfor %} 
                </tr>
            {% endfor %}
            <tr><td>** Fin del archivo **</td></tr>
        </table>
    </body>
</html>
{% endspaceless %}