<div class="crm-box-body crm-box-body-nopadding crm-box-toolbar crm-box-empresa" >
    <div class="row-fluid">
        <div class="container-fluid">
            <div class="pull-left">
                {# Ver #}
                <button 
                    id="uiVerInformacionEmpresa" 
                    data-grid-id="{{ptwGridOptionsGenerator.gridId}}" 
                    class="button button-basic" 
                    title="Información del contacto" >
                    <i class="icon-search"></i> Ver
                </button>

                {# Agregar #}
                <button 
                    id="uiBtnRegistrarEmpresa" 
                    data-grid-id="{{ptwGridOptionsGenerator.gridId}}" 
                    class="button button-basic-green" 
                    title="Agregar nuevo contacto de Empresa">
                    <i class="icon-plus-sign"></i> Agregar
                </button>
                
                {# Modificar Empresa #}
                <button 
                    id="uiBtnModificarEmpresa" 
                    data-grid-id="{{ptwGridOptionsGenerator.gridId}}" 
                    class="button button-basic-blue" 
                    title="Modificar contacto de Empresa">
                    <i class="icon-edit"></i> Modificar
                </button>

                {# Eliminar Empresa #}
                <button 
                    id="uiBtnEliminarEmpresa" 
                    data-grid-id="{{ptwGridOptionsGenerator.gridId}}" 
                    class="button button-basic-red" 
                    title="Eliminar contacto de Empresa">
                    <i class="icon-trash"></i> Eliminar
                </button>
            </div>
            <div class="pull-right">
                {# Seguimientos #}                    
                <div class="btn-group">
                    <div class="dropdown">
                        <a href="#" class="button button-basic" data-toggle="dropdown" ><i class="icon-edit"> </i> Seguimientos <span class="caret"></span></a>
                        <ul class="dropdown-menu" style="top: inherit; bottom: 100%;">
                            <li>
                                {# Ver #}
                                <a 
                                href="#" 
                                id="uiBtnVerSeguimientosEmpresa" 
                                data-grid-id="{{ptwGridOptionsGenerator.gridId}}" 
                                data-loading-opening-to="#content-area" > 
                                    <i class="icon-search"></i> Ver
                                </a>
                            </li>
                            <li>
                                {# Agregar #}
                                <a 
                                href="#"
                                id="uiBtnAgregarSeguimientoEmpresa"
                                title="Agregar seguimiento" 
                                data-grid-id="{{ptwGridOptionsGenerator.gridId}}" 
                                data-loading-opening-to="#content-area" 
                                data-alert-success-to="#content-area" >
                                    <i class="icon-plus-sign"></i> Agregar
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
