<div class="row-fluid">
    <div class="span12">
        <div class="span8">
            <div class="crm-box">
                <div class="crm-box-head">
                    <i class="icon-list-ul"></i>
                    <span>Información del contacto</span>
                    <div class="actions">
                        <a href="#" rel="tooltip" title="" data-original-title="Cerrar" data-dismiss="modal"><i class="icon-remove-sign"></i></a>
                    </div>
                </div>
                <div class="crm-box-body crm-box-body-nopadding">
                    <form action="#" method="POST" class="form-horizontal form-bordered form-column">
                        <div class="row-fluid">
                            <div class="span12">
                                {% set camposQueFaltan = "" %}

                                {# Nombre #}
                                {%if ptwObjEmpresa.nombre is not empty%}
                                    <div class="control-group">
                                        <label for="uiTxtNombre" class="control-label">Nombre</label>
                                        <div class="controls">{{ ptwObjEmpresa.nombre }}</div>
                                    </div>
                                {% else %}
                                    {% set camposQueFaltan = camposQueFaltan ~ "<li>Nombre</li>" %}
                                {% endif %}  

                                {# Canton #}
                                {% if ptwObjEmpresa.canton is not empty %}
                                <div class="control-group">
                                    <label for="uiSelCanton" class="control-label">Provincia / Cantón</label>
                                    <div class="controls">
                                        {{ ptwObjEmpresa.canton.provincia.nombre }} / {{ ptwObjEmpresa.canton.nombre }}
                                    </div>
                                </div>
                                {% else %}
                                    {% set camposQueFaltan = camposQueFaltan ~ "<li>Cantón</li>" %}
                                {% endif %}

                                {# Dirección #}
                                {% if ptwObjEmpresa.direccion is not empty %}
                                    <div class="control-group">
                                        <label for="uiTxaDireccion" class="control-label">Dirección</label>
                                        <div class="controls">{{ ptwObjEmpresa.direccion }}</div>
                                    </div>
                                {% else %}
                                    {% set camposQueFaltan = camposQueFaltan ~ "<li>Dirección</li>" %}
                                {% endif %}

                                {# Convenio #}
                                {% if ptwObjEmpresa.flagConvenio is not empty %}
                                    <div class="control-group">
                                        <label for="uiSelConvenio" class="control-label">Convenio</label>
                                        <div class="controls">
                                            {% if ptwObjEmpresa.flagConvenio %}
                                                Si
                                            {% else %}
                                                No
                                            {% endif %}
                                        </div>
                                    </div>
                                {% else %}
                                    {% set camposQueFaltan = camposQueFaltan ~ "<li>Convenio</li>" %}
                                {% endif %}

                                {# Actividad #}
                                {% if ptwObjEmpresa.actividad is not empty %}
                                    <div class="control-group">
                                        <label for="uiSelActividad" class="control-label">
                                            Actividad
                                        </label>
                                        <div class="controls">
                                            {% if ptwObjEmpresa.actividad is not empty %}
                                                {{ ptwObjEmpresa.actividad.nombre }}
                                            {% endif %}
                                        </div>
                                    </div> 
                                {% else %}
                                    {% set camposQueFaltan = camposQueFaltan ~ "<li>Actividad</li>" %}
                                {% endif %}

                                {# Interes #}
                                {% if ptwObjEmpresa.getIntereses()|length > 0 %}
                                    <div class="control-group">
                                        <label for="uiSelInteres" class="control-label">
                                            Interes
                                        </label>
                                        <div class="controls">
                                            {% for objInteres in ptwObjEmpresa.getIntereses() %}
                                                {{objInteres.nombre}}<br>
                                            {% endfor %}
                                        </div>
                                    </div>  
                                {% else %}
                                    {% set camposQueFaltan = camposQueFaltan ~ "<li>Interes</li>" %}
                                {% endif %}
                                
                                {# Fecha contacto #}
                                {% if ptwObjEmpresa.fechaContacto is not empty %}
                                    <div class="control-group">
                                        <label for="uiDtpFechaContacto" class="control-label">
                                            Fecha contacto
                                        </label>
                                        <div class="controls">
                                            {% if ptwObjEmpresa.fechaContacto is not empty %}
                                                {{ptwObjEmpresa.fechaContacto|date("d/m/Y")}}
                                            {% endif %}
                                        </div>
                                    </div>
                                {% else %}
                                    {% set camposQueFaltan = camposQueFaltan ~ "<li>Fecha contacto</li>" %}
                                {% endif %}

                                {# Referencia #}
                                {% if ptwObjEmpresa.referencia is not empty %}
                                    <div class="control-group">
                                        <label for="uiSelReferencia" class="control-label">
                                            ¿Cómo se enteró? (referencia)
                                        </label>
                                        <div class="controls">
                                            {% if ptwObjEmpresa.referencia is not empty %}
                                                {{ ptwObjEmpresa.referencia.nombre }}
                                            {% endif %}
                                        </div>
                                    </div> 
                                {% else %}
                                    {% set camposQueFaltan = camposQueFaltan ~ "<li>Referencia</li>" %}
                                {% endif %}

                                {# Primer contacto #}    
                                {% if ptwObjEmpresa.primerContacto is not empty %}
                                    <div class="control-group">
                                        <label for="uiSelPrimerContacto" class="control-label">
                                            ¿Cómo se contactó? (1er contacto)
                                        </label>
                                        <div class="controls">
                                            {% if ptwObjEmpresa.primerContacto is not empty %}
                                                {{ ptwObjEmpresa.primerContacto.nombre }}
                                            {% endif %}
                                        </div>
                                    </div>
                                {% else %}
                                    {% set camposQueFaltan = camposQueFaltan ~ "<li>Primer contacto</li>" %}
                                {% endif %}
                                
                                {# Comentario #}
                                {% if ptwObjEmpresa.comentario is not empty %}
                                    <div class="control-group">
                                        <label for="uiTxaCommentarios" class="control-label">Comentarios</label>
                                        <div class="controls">{{ ptwObjEmpresa.comentario }}</div>
                                    </div>
                                {% endif %}
                                
                                {# Contacto #}
                                {% if ptwObjEmpresa.getContactos()|length > 0 %}
                                    <div class="control-group">
                                        <label for="uiSelContacto" class="control-label">
                                            Contactos:
                                        </label>
                                        <div class="controls">
                                            {% for objContacto in ptwObjEmpresa.getContactos() %}
                                                {{objContacto.nombreCompleto}}<br>
                                            {% endfor %}
                                        </div>
                                    </div>  
                                {% else %}
                                    {% set camposQueFaltan = camposQueFaltan ~ "<li>Contactos</li>" %}
                                {% endif %}
                                
                                {# Estado #}
                                {% if ptwObjEmpresa.getEstado() is not empty %}
                                    <div class="control-group">
                                        <label for="uiTxaEstado" class="control-label">Estado</label>
                                        <div class="controls">{{ ptwObjEmpresa.getEstado() }}</div>
                                    </div>
                                {% endif %}
                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% if camposQueFaltan is not empty %}
            <div class="span4">
                <div class="crm-box">
                    <div class="crm-box-head">
                        <i class="icon-list-ul"></i>
                        <span>Campos pendientes</span>
                        <div class="actions">
                            <a href="#" rel="tooltip" title="" ></a>
                        </div>
                    </div>
                    <div class="crm-box-body crm-box-body-nopadding">
                        <div class="row-fluid">
                            <div class="span12" style="border-bottom: 1px solid #e5e5e5;">
                                <ul class="custom-list">
                                    {{camposQueFaltan|raw}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>